[2018-06-04 04:45] dmpetrov opened #1 "Github links to dvc repo"
All the GitHub link on dvc.org website should point to https://github.com/iterative/dvc (not just iterative)

[2018-06-04 04:49] dmpetrov opened #2 "Footer info"
*DataVersionControl INC* --> Iterative, Inc

*Company*: The only link we have is http://iterative.ai/

*Get started*: let's use the tutorial link for now https://blog.dataversioncontrol.com/data-version-control-tutorial-9146715eda46

[2018-06-04 04:52] dmpetrov opened #3 "Download links"
1. Please use links from the releases page: https://github.com/iterative/dvc/releases

2. "Linux" should be separated to "Linux Deb" and "Linux RPM"

3. Not clickable item "pip install dvc" is needed.

[2018-06-04 04:53] dmpetrov opened #4 "Commands in hero"
The commands in hero should be changing.

[2018-06-04 04:56] dmpetrov opened #5 "Image scroll in mobile"
In mobile, we need 3 images and `>` and `<` buttons to scroll. Or `1`, `2` and `3` buttons.

[2018-06-05 03:45] dmpetrov opened #7 "An opinion from a random guy about dvc.org"
1. "Git for Machine Learning" with strikethrough looks like a bug. I want to close the page.

My comment: It makes sense. Why don't we say:
"Open-source Version Control System for Data Science Projects.
(or Git for Machine Learning)
"

2. DVC logo (top left) was not rendered.
https://dvc.org/static/img/logo.png

My comment: I tried to refresh (Ctrl+r) the web page - it didn't help.

3. In general

[2018-06-05 06:18] #7 closed, assigned to nobody

[2018-06-05 06:19] #1 closed, assigned to hlib-lozhkovyi

[2018-06-05 06:20] #2 closed, assigned to hlib-lozhkovyi

[2018-06-05 06:31] shcheklein opened #8 "Remove horizontal scrolling"
It's especially visible in Firefox, for example. Looks like the site is too wide for Macbook 13''. It should be adapting itself dynamically to some extent.

[2018-06-05 06:34] shcheklein opened #9 "Get started link and behavior"
Get started should point to the same place everywhere (tutorial for now).

Get started (buttons down the site) behave strangely - they scroll site to the very up first and only after some delay they redirect.

[2018-06-05 06:36] shcheklein opened #10 "Fonts are not properly embedded"
On a Mac system when font (Bandon) is not installed system-wide site is not being dispalyed properly (especially is was obvious on SVG logo and SGV image which I converted to PNG)

[2018-06-05 06:38] shcheklein opened #11 "Fonts, buttons, all elements should look like in Zeplin"
E.g. Download button, footer fonts, etc. We need to check everything.

[2018-06-05 06:39] shcheklein opened #12 "Footer remove extra space"

[2018-06-05 06:41] shcheklein opened #13 "Video align + button"
Check Zeplin

[2018-06-05 06:46] shcheklein opened #14 "Video black border"
On certain resolutions there are black top and bottom borders visible around the video:

![screenshot 2018-06-04 23 42 59](https://user-images.githubusercontent.com/3659196/40959433-86fd26a2-6851-11e8-8914-110f3681487b.png)

[2018-06-05 06:48] dmpetrov opened #15 "HDFS is coming soon"
"HDFS, Hive & Apache Spark" is not ready yet. We need to mention this - "Coming soon".

[2018-06-05 06:50] shcheklein opened #16 "Rotate text like on improvado.io"
Check the discussion around hero's text on Invision - comments 6 and 10.

[2018-06-05 06:59] shcheklein opened #17 "Fix layout on tables"
On iPad layout is broken.

[2018-06-05 07:02] shcheklein opened #18 "Scale video properly"
On a smaller screens video should keep round corners, button, and scale image.

[2018-06-05 07:07] shcheklein opened #19 "Add blog and support links (menus, footer)"
Add link to the blog (menus, footer) (BLOG) - https://blog.dataversioncontrol.com/

Add link to the discourse (SUPPORT) - https://discuss.dataversioncontrol.com/

[2018-06-05 16:50] dmpetrov opened #20 "LinkedIn image is missing"

[2018-06-06 09:19] efiop opened #21 "No twitter logo in the footer"
No twitter logo on Linux/Chrome:
![screenshot at 2018-06-06 12-15-46](https://user-images.githubusercontent.com/5367102/41029210-c7752300-6983-11e8-86bc-6beda44cbf1f.png)
Though works great on Mac/Chrome.

[2018-06-06 16:30] #17 closed, assigned to hlib-lozhkovyi

[2018-06-06 18:18] #12 closed, assigned to hlib-lozhkovyi

[2018-06-06 18:19] #13 closed, assigned to hlib-lozhkovyi

[2018-06-06 19:12] #21 closed, assigned to nobody

[2018-06-08 00:02] #19 closed, assigned to hlib-lozhkovyi

[2018-06-08 00:05] #14 closed, assigned to hlib-lozhkovyi

[2018-06-08 00:13] shcheklein opened #25 "Design elements should be the same as in Zeplin"
<img width="1280" alt="screen shot 2018-06-07 at 5 12 42 pm" src="https://user-images.githubusercontent.com/3659196/41132433-15ae031e-6a76-11e8-8f28-2066912892f1.png">

[2018-06-08 00:15] shcheklein opened #26 "IE fix layout, download button, etc"
A lot of stuff is broken in IE still

[2018-06-08 00:16] shcheklein opened #27 "Learn more links"
Add links to the features pages
<img width="1199" alt="screen shot 2018-06-07 at 5 16 39 pm" src="https://user-images.githubusercontent.com/3659196/41132529-919bc1fa-6a76-11e8-91b5-58dceabbd4d1.png">

[2018-06-08 17:28] #26 closed, assigned to hlib-lozhkovyi

[2018-06-08 18:39] #8 closed, assigned to hlib-lozhkovyi

[2018-06-08 18:56] shcheklein opened #29 ""Learn more" font fix color"
Learn more links should always have the same color as was designed

[2018-06-08 18:57] shcheklein opened #30 "Improvement: move video before use cases in mobile version"
Otherwise when I click watch video in hero it's confusing to see text instead.

[2018-06-08 18:58] #16 closed, assigned to hlib-lozhkovyi

[2018-06-08 18:59] shcheklein opened #31 "Static large hero text header on mobile"
Like it was discussed in Slack channel:

мне показалось, что все равно можно чуть больше сделать, но радикально это не решит ничего

поверх текста?
или вместо?

lozhkovoygleb [10:32 AM]
Тогда сложится концепция и будет не пусто

ivan [10:33 AM]
я вот думаю что надо просто убрать эту анимацию и действительно одну статическую надпись центрированную
это то что ты предлагаешь выше?

lozhkovoygleb [10:

[2018-06-08 18:59] #18 closed, assigned to hlib-lozhkovyi

[2018-06-08 19:00] #3 closed, assigned to hlib-lozhkovyi

[2018-06-08 19:01] #4 closed, assigned to hlib-lozhkovyi

[2018-06-08 19:04] shcheklein opened #32 "Out of sync hero commands animation on a mobile"
If you turn off browser app and/or phone for a while it breaks animation workflow. Sometimes I saw all them started fading in/out simultaneously.

[2018-06-09 00:21] shcheklein opened #33 "Add github stars indicator"

[2018-06-11 18:19] shcheklein opened #34 "Layout is broken on iPad"
![35052146_1894765240587492_2765850168577228800_n](https://user-images.githubusercontent.com/3659196/41249558-4ca39f28-6d69-11e8-8acd-4255e1b492d6.jpg)

[2018-06-13 05:25] #27 closed, assigned to hlib-lozhkovyi

[2018-06-14 04:53] shcheklein opened #35 "Favicon IE transparency"

[2018-06-14 05:19] shcheklein opened #36 "Fix Layout iPhone landscape"

[2018-06-14 23:01] shcheklein opened #37 "Fix CSS animation performance"
Animation via CSS loads CPU 20-30% on macbook pro. Should be fixed or moved to gif. Are there any other options?

[2018-06-15 01:11] #20 closed, assigned to shcheklein

[2018-06-15 01:12] #31 closed, assigned to shcheklein

[2018-06-15 01:13] #29 closed, assigned to shcheklein

[2018-06-15 01:13] #10 closed, assigned to shcheklein

[2018-06-15 01:13] #9 closed, assigned to shcheklein

[2018-06-15 01:14] #32 closed, assigned to shcheklein

[2018-06-15 01:57] #33 closed, assigned to shcheklein

[2018-06-15 04:00] #11 closed, assigned to shcheklein

[2018-06-16 07:57] efiop opened #38 "Front page commands"
As we've discussed with @dmpetrov , commands on the front page should be modified to be more correct:

`dvc add images.z |` -> `dvc add images.zip`
`dvc run python cnn.py` -> `dvc run -d images.zip -o model.p python cnn.py`
`dvc remote add s3://mybucket` -> `dvc remote add myrepo s3://mybucket`

[2018-06-16 08:03] efiop opened #39 "Consider leaving a single definition for dvc on the front page"
As discussed with @dmpetrov: We should consider leaving a single definition of `Open-source Version Control System for Data Science Projects` instead of animating all three, since it is the most easy to understand and using only it will also reduce flickering from animation.

[2018-06-17 02:43] #39 closed, assigned to nobody

[2018-06-17 02:43] #38 closed, assigned to nobody

[2018-06-18 22:37] #37 closed, assigned to nobody

[2018-06-18 22:37] #25 closed, assigned to shcheklein

[2018-06-18 22:38] #5 closed, assigned to shcheklein

[2018-06-23 20:59] #36 closed, assigned to shcheklein

[2018-06-23 21:00] #35 closed, assigned to shcheklein

[2018-06-23 21:01] #34 closed, assigned to shcheklein

[2018-06-23 21:01] #30 closed, assigned to shcheklein

[2018-07-14 02:36] efiop opened #44 "docs: use cases: Share data and model files for multiple users on single machine"

[2018-07-14 02:38] efiop opened #45 "docs: use cases: Share data and model files"

[2018-07-14 02:40] efiop commented on #15
HDFS support is already present in dvc.

[2018-07-14 02:40] #15 closed

[2018-07-14 16:35] #45 closed

[2018-07-15 12:11] efiop opened #48 "DVC FAQ, Wiki or getting started"
From https://github.com/iterative/dvc/issues/776 by @dmpetrov:

[2018-07-15 12:12] efiop opened #49 "Doc: metrics"
Moved from https://github.com/iterative/dvc/issues/765

[2018-07-15 12:13] efiop opened #50 "add HDFS documentation"
Moved from https://github.com/iterative/dvc/issues/766

[2018-07-16 19:36] efiop opened #53 "user-guide: cache/remote/workspace relationships"
Describe how these three relate and what they are.

[2018-07-17 14:04] efiop opened #54 "add "How to store data on your own server" tutorial/guide"
Probably needs a better name.

[2018-07-18 03:02] efiop opened #55 "docs: add "how to run tests" to "contribute" section"

[2018-07-21 05:15] #44 closed

[2018-07-22 07:59] efiop opened #57 "docs: external dependecies/outputs"

[2018-07-22 23:14] efiop opened #59 "user-guide: write about managing metrics"
A small article on how to use `dvc metrics` to manage metrics for your project in the most convenient way.

[2018-07-23 14:19] #55 closed

[2018-08-03 01:30] aragilar opened #63 "git-annex faq appears to be incorrect"
I'm not sure the comparison to git annex is correct. For example "Git-annex loses all metadata when shared by Git server" isn't true, as it is possible to move files around via special remotes, and store the metadata on git-only servers (datalad, which wraps git annex, shows an example of doing this exact thing).

[2018-08-03 05:29] dmpetrov commented on #63
@aragilar  thank you for noticing that!
This comparison  is very short and not exactly correct. I've tried to clarify that. Please take a look:

Git-annex is data file centric-system where DVC is an ML workflow-centric. When a project is cloned by git clone data files won't be cloned (for both DVC and Git-annex) because files content is stored in a separate data remotes . However, DVC metafiles wi

[2018-08-03 08:57] mrsekut opened #64 "Conf.py is not in the code directory of the sample code"
It is a talk of executing the following command in [this part of tutorial](https://dvc.org/doc/tutorial/preparation#getting-the-sample-code).

`$ wget https://dvc.org/s3/so/code.tgz`

By executing this command, `conf.py` is not included in the downloaded `code` directory.

So, if you try to execute the commands in [this part of the tutorial](https://dvc.org/doc/tutorial/define-ml-pipeline#running-

[2018-08-03 13:24] efiop commented on #64
Hi @mrsekut !

Great catch! I've re-uploaded `https://dvc.org/s3/so/code.tgz` with all the needed files included.

Thanks,
Ruslan

[2018-08-03 13:24] #64 closed

[2018-08-03 13:44] aragilar commented on #63
A slightly reworded version:
Git-annex is a datafile-centric system whereas DVC is focused on providing a workflow for machine learning and reproducible research. When a DVC or Git-annex repository is cloned via git clone, data files won't be copied to the local machine as file content is stored in separate data remotes. However, DVC metafiles (which provide the reproducible workflow) are always i

[2018-08-03 13:48] aragilar commented on #63
Something else worth mentioning in the FAQ: I got the impression (which may be wrong) that dvc isn't fundamentally bound to git, having the option of changing the repository format (when something better than git is created) would be worth mentioning (both git annex and git lfs seem to be strongly coupled to git and git's internals).

[2018-08-03 15:06] shcheklein commented on #63
@aragilar Thank you! Would you mind creating a PR for the documentation? there is an "Edit with Github" button on top of each page. You absolutely correct about git+dvc relationship. And it's not only because we are waiting for something better, it's also about an ability to run it on top of Hg, for example. If you see a good place for this information on that page, please feel free to put it ther

[2018-08-05 00:44] efiop commented on #57
Fixed by https://github.com/iterative/dvc.org/pull/62/commits/6f3621f1802ef27b52d2380a639600aa5619feca

[2018-08-05 00:44] #57 closed

[2018-08-06 23:36] efiop opened #65 "how to: "uninstall dvc" for both binary and pip packages"

[2018-08-07 17:09] efiop opened #67 "docs: specify that dvc will automatically create directories on remote"

[2018-08-07 19:57] efiop opened #68 "guide: describe the how hash values (`md5`) are calculated"
Tell about how we compute checksums for files, why we dos2unix when computing md5 and how to map the md5 value found in dvcfile to an actual cache file at .dvc/cache

[2018-08-10 13:03] vfdev-5 opened #70 "Page bad rendering"
Details summary tags are not well rendered at the docs page : https://dvc.org/doc/get-started/add-files.

[code]

HTH

[2018-08-10 13:04] #70 closed

[2018-08-10 13:04] vfdev-5 commented on #70
Seems to be fixed now :)

[2018-08-12 03:59] shcheklein commented on #63
Made the change, including a note that DVC is not fundamentally bound to Git.

[2018-08-12 03:59] #63 closed

[2018-08-13 00:32] shcheklein opened #71 "docs: dvc init -f description is missing"
-f, --force    Force initialization even if '.dvc' exists

[2018-08-13 00:37] shcheklein commented on #71
It's not clear what is happening in this case. If we also have any idea why this option is needed at all, let's add this information as well.

[2018-08-14 01:15] shcheklein opened #192 "provide guideline or mechanism to resolve conflicts in DVC files on merge"
When we change something (let's say a stage command) in one branch (experiment) and want to propagate this change to the derived branch it's easy to get a merge conflict in a DVC file.

Usually merge strategy `theirs` (git merge -X theirs) do the job.

We need to think if it's always the case. We should specify a guideline how to resolve these conflicts. If there are some ideas how to avoid them,

[2018-08-14 01:43] #48 closed

[2018-08-14 16:14] efiop opened #72 "guide: add "Best Practices""
~~UPDATE: Possibly as a How To guide (see #899)~~

Looks like we need a special section describing ways how to organize your projects:

- [ ] how to use DVC with DB (see https://github.com/iterative/dvc.org/issues/594)
- ~~our default `Dvcfile` trick~~
- [x] manually editing dvc.yaml + `dvc commit` or `dvc repro` (see also https://github.com/iterative/dvc.org/issues/230#issuecomment-511769103)
  i

[2018-08-14 17:01] #71 closed

[2018-08-18 00:30] efiop opened #73 "docs: redo get-started/example"
I.e. don't use conf.py. Use explicit arguments with scripts.

[2018-08-19 04:55] aragilar commented on #63
Sorry, been really busy and so this dropped off my todo list. The changes look good!

[2018-08-22 03:43] efiop opened #219 "add `pipeline show --tree`"
Unfold dependencies into a tree same way it is done in npm:

[code]

Kudos @shcheklein

[2018-08-23 16:36] efiop opened #76 "get-started: add "Visualize the pipeline" section"

[2018-08-25 07:36] #76 closed

[2018-08-25 08:37] efiop commented on #49
Already in get-started.

[2018-08-25 08:37] #49 closed

[2018-08-28 14:55] efiop opened #78 "rolling back data to the previous version"
https://github.com/iterative/dvc/issues/599

[2018-08-28 17:16] shcheklein commented on #78
Also, this could be helpful - https://discuss.dvc.org/t/get-older-version-of-data-files/18

[2018-08-30 22:43] shcheklein opened #79 "add etag and other external dependencies/otuputs stuff to the DVC files section"

[2018-08-30 22:47] #67 closed

[2018-08-31 00:16] shcheklein commented on #59
What should we highlight for the "most convenient" way? Any hints, tricks on top of what we already have in get started?

[2018-08-31 01:06] efiop commented on #59
The current example in 'get-started' is too simple and too specific. I was talking about a more broad article with tips such as `repro -m`.

[2018-09-04 20:21] efiop opened #81 "docs: get-started: use proper naming scheme for dvcfiles"
As discussed with @dmpetrov and @shcheklein , we should explain in the get started that you should name your dvcfile with accordance to what stages they describe are doing. I.e. if you have a "preparation" stage with script "preparation.py", you should name your dvcfile as "preparation.dvc"(unless the project is organised in a "directory per stage" format, where you could use "Dvcfile" as a defaul

[2018-09-06 18:40] Casyfill opened #234 "DVC badge"
thought it would be great to have a DVC badge - mainly for devs to note we're using it
![dvc](https://img.shields.io/badge/dvc-945DD5.svg)

[2018-09-10 23:07] shcheklein commented on #81
Added a note here [Connect Code and Data](https://dvc.org/doc/get-started/connect-code-and-data):

[code]

Should be enough for now, considering that example has been redone using `-f` everywhere and [this issue](https://github.com/iterative/dvc/issues/1092).

[2018-09-10 23:07] #81 closed

[2018-09-10 23:08] shcheklein commented on #73
Done!

[2018-09-10 23:08] #73 closed

[2018-09-10 23:09] efiop commented on #81
Great! Thank you!

[2018-09-10 23:32] efiop opened #82 "docs: use-cases: versioning: add a note about replacing/modifying data"
https://github.com/iterative/dvc/issues/599#issuecomment-418654625

[2018-09-24 23:23] efiop opened #86 "docs: command-reference: remove: add better description"

[2018-09-24 23:31] shcheklein commented on #82
@drorata could you please clarify why do we need this section https://dvc.org/doc/user-guide/update-tracked-file#updating-generated-files ?

[2018-09-26 04:27] drorata commented on #82
I guess what I have in mind is, for example, the case where a model is persisted to the disk and it is desired to track it. In this case, the file is generated during the run of some code and can change while breaking the cache.

[2018-09-26 06:10] shcheklein commented on #82
Thanks, for your answer, @drorata.

Let's imagine for example that we have a `train.py` script that takes some `data.tsv` and produces a `model.pkl` file. If you create a stage DVC file like this:

[code]

then if you run `dvc repro train.dvc` it will automatically remove `model.pkl` file before running the command. It should be safe and in this case no need to run `dvc remove` or something else.

[2018-09-26 08:45] drorata commented on #82
This is indeed the case I have in mind. So far I used dvc for tracking data files and artifacts, and skipped the `dvc run` part. Therefore, I found myself running `train.py` manually and potentially corrupting my cache.

[2018-09-27 01:20] xiaolongtang opened #87 "dvc push: Wrong keys 'ask_password'"
Hi
I set remote with ssh. I set url and ask_password true. When I dvc push, I will get error.

The error message:
Error: Initialization error: Config file error: Key 'remote "myremote"' error:
Wrong keys 'ask_password' in {'url': 'ssh://XXX@xxx:/home/XXX/dvc',
 'ask_password': 'true'}

Thank you for helping me out.

[2018-09-27 02:41] efiop commented on #87
Hi @xiaolongtang !

What version of dvc(`dvc --version`) are you using?

Thanks,
Ruslan

[2018-09-27 02:43] xiaolongtang commented on #87
Hi @efiop
It is 0.18.15

Thank you.

[2018-09-27 05:55] efiop commented on #87
Thanks for clarifying! The version you are using is too old and lacks the `ask_password` config option. Could you please upgrade? I.e. if you've installed dvc with pip, then the command would be `pip install --upgrade dvc`. Btw, there is an issue with the latest released 0.19.2 in that it will ask a few times for a password on `dvc pull` unless you specify `-j 1` option with it. I am releasing 0.1

[2018-09-27 06:31] xiaolongtang commented on #87
Hi @efiop
It is working after I upgrade the dvc.

Thank you so much.

[2018-09-27 06:31] #87 closed

[2018-09-27 07:03] efiop commented on #87
No worries :) Thank you for the feedback! Btw, 0.19.3 is out. Please upgrade :)

[2018-09-27 22:59] shcheklein commented on #82
@drorata gotcha! thank you for the clarification. It's a valid use case and worth mentioning. I'm not sure if we need a separate section specifically for that, especially it's confusing a little bit because we also have `dvc repro` and `dvc run` that manage intermediate artifacts. Let't me think and do mention this case in the documentation. I'll let you know to check if it's fine with you. Thanks

[2018-10-01 03:42] shcheklein commented on #82
@drorata check this document again https://dvc.org/doc/user-guide/update-tracked-file, I put a note about generated files at the very beginning, otherwise it's easy to miss it and it's not very well connected with the content above. Let me know if you have other ideas.

[2018-10-01 03:42] #82 closed

[2018-10-01 07:15] drorata commented on #82
See #88

[2018-10-01 14:57] #86 closed

[2018-10-15 18:06] crmne opened #93 "dvc.org/support -> Open GitHub redirects here instead of github.com/iterative/dvc/issues"
As in the title

[2018-10-15 22:44] #93 closed

[2018-10-15 22:45] efiop commented on #93
Thank you! Fixed.

[2018-10-21 23:01] efiop opened #96 "blog: DVC with Jupyter notebooks"

[2018-10-21 23:16] efiop opened #97 "j"

[2018-10-21 23:42] efiop opened #98 "j"

[2018-10-22 17:07] #97 closed

[2018-10-22 17:07] #98 closed

[2018-10-22 17:08] efiop commented on #96
@jurasan

[2018-10-22 22:53] efiop opened #99 "add an article about advanced scenario with hard/symlinks"
https://github.com/iterative/dvc/issues/1257

[2018-10-23 01:52] efiop opened #100 "user-guide: add info about --no-scm mode (and link from get-started)"
Maybe worth making some portions of current get-started optional. ~~Especially with the upcoming Hg support.~~

UPDATE: Skip to https://github.com/iterative/dvc.org/issues/100#issuecomment-657783092 for more details.

[2018-10-24 00:48] efiop opened #101 "add an article about different types of links and associated filesystems"

[2018-10-27 20:00] dmpetrov opened #102 "doc urls"
`https://dvc.org/doc`
`https://dvc.org/docs`
`https://dvc.org/doc111111`

All pages started from `doc` show the docs which is great. It might look even better if we just redirect to a single url like `https://dvc.org/doc`.

[2018-10-30 05:38] shcheklein commented on #102
fixed!

[2018-10-30 05:38] #102 closed

[2018-10-30 05:45] dmpetrov commented on #102
Thank you!

[2018-10-30 05:45] shcheklein commented on #102
👍

[2018-10-30 14:38] efiop opened #103 "guide: using NFS as a remote storage"
I.e. mount it to some dir and specify it as a local dir repository for dvc.

Related to https://github.com/iterative/dvc.org/issues/4303

[2018-11-02 06:33] dmpetrov opened #104 "Copyright is not visible"
It is not easy to see "Copyright (c) 2018 Iterative, Inc" at the very bottom.

[2018-11-05 20:47] dmpetrov opened #105 "Broken link to Files and Directories"
Link from our doc: https://dvc.org/doc/dvc-files-and-directories
But the page was moved to https://dvc.org/doc/user-guide/dvc-files-and-directories

Unfortunately, we don't know the exact source of the broken link.

[2018-11-06 03:11] shcheklein commented on #105
@dmpetrov What do you mean by `Unfortunately, we don't know the exact source of the broken link.`?

I've fixed the link. Btw, it's pretty easy to fix it using the `Edit on Github` button on the top of each page.

[2018-11-06 03:11] #105 closed

[2018-11-06 03:12] shcheklein commented on #104
@dmpetrov do we actually need it? I've been thinking about removing this.

[2018-11-06 03:34] dmpetrov commented on #104
Not really. But currently, it looks like a bug.

[2018-11-06 03:35] shcheklein commented on #104
Totally. Let me just remove it for now

[2018-11-06 03:39] #104 closed

[2018-11-07 22:49] efiop opened #106 "docs: add `dvc pipeline list` reference"

[2018-11-07 22:51] efiop opened #107 "docs: add `dvc gc --projects`"
https://github.com/iterative/dvc/issues/1300

[2018-11-07 22:54] efiop opened #108 "cmd ref: explain remote://myremote notation in `import` & `run`"
- [x] import/get-url
- [ ] run
- [ ] add

[2018-11-13 23:57] shcheklein commented on #107
Done https://dvc.org/doc/commands-reference/gc#options .

[2018-11-13 23:57] #107 closed

[2018-11-14 14:50] efiop opened #114 "docs: add 'dvc unprotect' to command reference"

[2018-11-14 14:51] efiop opened #115 "docs: update 'update-tracked-file' to use `dvc unprotect`"

[2018-11-14 17:36] shcheklein opened #116 "Add a note `dvc checkout` and `dvc pull` (?) are potentially dangerous ops"
See discussion here https://github.com/iterative/dvc/issues/1326 . Unless I'm missing something running these command may result in DVC silently removing uncommitted data changes. This behavior should be understood and documented.

[2018-11-15 01:21] shcheklein commented on #106
Done! https://dvc.org/doc/commands-reference/pipeline#list

[2018-11-15 01:21] #106 closed

[2018-11-15 01:22] shcheklein commented on #116
Will be resolved by https://github.com/iterative/dvc/issues/1328

[2018-11-15 01:22] #116 closed

[2018-11-15 09:34] efiop commented on #106
@shcheklein Thank you!

[2018-11-21 01:43] shcheklein opened #120 "Make expandable detail sections more visible and actionable"
Vova didn't notice the explanation "Click to prepare the code" first time he was running the Get Started.

[2018-11-23 15:33] efiop opened #121 "user-guide: add pachyderm to related-technologies"
Probably after #576?

https://dvc.org/doc/dvc-philosophy/related-technologies

[2018-11-24 09:03] efiop opened #122 "docs: bash and zsh completion"
From https://github.com/iterative/dvc/issues/426 :

Need to add an article to https://dvc.org/doc/user-guide/bash-and-zsh-completion and drop a comment https://dvc.org/doc/get-started/install .

[2018-11-24 16:14] mroutis opened #123 "Give a better explanation on the use of reative paths"
Related issue https://github.com/iterative/dvc/issues/1284

[2018-11-25 01:05] efiop opened #124 "docs: add HTTP(s) remote descriptions/examples"
E.g. https://dvc.org/doc/commands-reference/remote

[2018-11-25 23:16] shcheklein commented on #72
it's safe to edit dvc files, no need to touch or update md5, dvc will take care of it

[2018-11-26 03:15] shcheklein commented on #114
WIP

[2018-11-27 23:04] #114 closed

[2018-11-27 23:04] #115 closed

[2018-11-27 23:05] shcheklein commented on #123
Done for `dvc config` - `cache.dir`. Let me know if you have other place in mind.

[2018-11-27 23:05] #123 closed

[2018-11-29 13:28] JoeMcGrath opened #125 "Sample Code wget broken"
Following the tutorial steps from `https://github.com/iterative/dvc.org/blob/master/static/docs/get-started/connect-code-and-data.md` leads to this command: `wget -q -O - https://dvc.org/s3/get-started/code.tgz | tar zx`which is unsuccessful.

Running wget to display full console shows that a 403 is returned when trying to access the bucket.

[2018-11-29 14:19] shcheklein commented on #125
@JoeMcGrath thanks for the report! It should be fixed now. I think we did an update of that file just a few hours ago and forgot to make it public again. Please try again, and let me know if it works for you now.

[2018-11-29 14:19] #125 closed

[2018-11-29 14:30] shcheklein opened #126 "Add windows note how to download wget, tar"

[2018-11-29 14:31] shcheklein opened #127 "Check code file that they run properly on windows (encoding issue)"

[2018-11-29 18:56] efiop commented on #126
Mentioned how to install wget with chocolatey already here https://dvc.org/doc/get-started/add-files

[2018-11-30 16:13] JoeMcGrath commented on #125
@shcheklein I can confirm its now available to download - thanks!

[2018-12-02 17:58] efiop opened #129 "dvc.org: create a survey asking about main values of dvc, what they are for users and how they use them"

[2018-12-04 01:05] #124 closed

[2018-12-04 23:57] efiop opened #132 "docs: update run docs"
From https://github.com/iterative/dvc/pull/1400 .

[2018-12-06 02:35] #120 closed

[2018-12-06 13:03] efiop opened #133 "use-cases: add "Ways to organize global storage""
E.g. `first` and `second` are different git projects, that share the same dvc remote

[code]

[2018-12-07 10:31] efiop commented on #132
Fixed by https://github.com/iterative/dvc.org/commit/fc0df399d9969c118c1a3d6cfe158d705b1c09e4

[2018-12-07 10:31] #132 closed

[2018-12-07 19:41] efiop commented on #132
Oops. sorry :)

[2018-12-08 19:15] mroutis opened #134 "add Windows mode to the documentation examples"
There was recently an issue raised at the community channel related with the way Windows handle paths / interprets slashes; it ocurred while reading the tutorial, so I'm assuming there's no clear awareness of Windows's shell on the docs.

[2018-12-09 13:18] efiop commented on #133
Also, as a submodule:

[code]

[2018-12-16 14:00] efiop opened #139 "add a note about reflinks and how space is calculated in the tutorial"
In our article https://dvc.org/doc/tutorial/define-ml-pipeline , we use `du` to show that space taken by the repo didn't double. That works with hardlinks, but `du` is not smart enough when it comes to reflinks, which it counts as separate full-blown filse and accounts for their size two times(for the cache file and for the reflink), which makes it confusing for the mac users https://github.com/it

[2018-12-16 14:10] efiop commented on #139
Note: to prove that no duplication occurs, we could use `df` utility to see that free space on the drive indeed didn't decline by the file size that we are adding.

[2018-12-17 00:14] shcheklein opened #141 "update install instructions to include optional cloud extensions"
`pip install dvc[s3]`, etc

[2018-12-22 02:24] dmpetrov opened #143 "clarify external outputs section"
- ~~First, https://dvc.org/doc/user-guide/external-outputs describes caches configuration, but not outputs. All the examples describe how to reconfigure cache. Let's rename it to something like **Cache Reconfiguration** or **Setup Cache** and let's change the section introduction paragraph accordingly.~~

- [ ] Local cache reconfiguration is missing. Something like `dvc config cache.dir /mnt/cache

[2018-12-22 02:38] efiop commented on #143
I think `External outputs` name is suitable since the article explains both cache configuration(as a necessity for outputs) and outputs themselves. You can see `dvc run` commands showing how to use external outputs.

We indeed need to explain better `external output` case for local file outside of the dvc project. Also, `cache.dir` is a shortcut for `cache.local`. That needs better explaining as w

[2018-12-22 09:25] dmpetrov opened #144 "docs: "definitive" organization"
UPDATE: Jump to https://github.com/iterative/dvc.org/issues/144#issuecomment-841960760; E: https://github.com/iterative/dvc.org/issues/144#issuecomment-1206648437

---

We need to add an additional level to the user guide:
1. Basic
- DVC Files and Directories
- DVC File Format
- External Dependencies
- External Outputs
- Update a Tracked File
- Anonymized Usage Analytics
2. Customization
- DVC She

[2018-12-31 16:47] bench opened #145 "Missing requirements.txt in code.zip sample archive"
In your getting started, a sample kit is provided to test `dvc run` comment.

Unfortunately, the zip file **code.zip** does not contains the requirements.txt file needed by pip.

[2018-12-31 17:35] pared commented on #145
Hi @bench! You are talking about [this](https://dvc.org/doc/get-started/example-pipeline) tutorial?

[2018-12-31 18:13] efiop commented on #145
Hi @bench !

@pared I suppose it is the one from https://dvc.org/doc/tutorial/preparation, it indeed doesn't have requirements.zip in it but uses it in the tutorial. Fixing it right now.

Thanks for the feedback! 🙂

[2018-12-31 18:20] efiop commented on #145
Fixed by https://github.com/iterative/dvc-doc-get-started/commit/945876d803500d16d04aeabeb8503583a9dbc037 . Fixed code.zip is deployed. @bench  Please feel free to try it out 🙂

[2018-12-31 18:20] #145 closed

[2019-01-01 19:08] bench commented on #145
Hi @efiop and @pared !
I was pointing this page https://dvc.org/doc/get-started/connect-code-and-data in which we were asked to wget on https://dvc.org/s3/get-started/code.zip. But it seems you fixed it too.

Also, maybe you could setup an issue template on your repository?

In any case, thank you for your responsiveness and your job, dvc is a great tool.

[2019-01-01 20:43] efiop opened #146 "add an issue templates"

[2019-01-01 20:44] efiop commented on #145
@bench Glad it works now :)

Great idea! Created https://github.com/iterative/dvc.org/issues/146 for that.

Thanks a lot for the feedback! 🙂

[2019-01-04 19:52] efiop opened #147 "docs: command-reference: add `dvc daemon` command"

[2019-01-04 19:53] efiop opened #148 "docs: command-reference: update commands that use --local flag"
Need to add --system and --global to them.

[2019-01-04 20:36] #148 closed

[2019-01-04 21:05] efiop opened #150 "src: sidebar: auto-generate "files" and "labels""
Currently we have some kind of auto-generation, but we use manual approach instead https://github.com/iterative/dvc.org/pull/149#discussion_r245409688 . Need to consider improving our engine to auto-parse files in a specified directory and extract headers from them to use as labels.

[2019-01-09 17:00] efiop commented on #96
Hi @colllin !

 I see by the name of the notebook `train.ipynb`, that you are splitting your pipeline into separate steps, that you then plan to run using dvc. That is precisely what we usually recommend! You should be all set :tada:  Please don't hesitate to share your experience, we would really appreciate it. :slightly_smiling_face:

[2019-01-14 15:24] efiop opened #154 "ref: add remote example in gc ref"
`dvc gc` has two fundamental modes - local and remote. We should be extremely clear about what does each mode do and what it does not do.

[2019-01-18 13:58] efiop opened #156 "user guide: add a note about how cache directory is structured"
E.g.

[2019-01-19 21:29] efiop opened #159 "user-guide: add "folders" way of experimentation"
Currently, we only mention branches as a way of experimentation (in Get Started), but it is not ideal and we've seen users use folders as an alternative. Need to mention it in our docs.

[2019-01-22 03:49] tdeboissiere opened #161 "gc: missing `-f` in optional arguments documentation"

[2019-01-22 04:39] #161 closed

[2019-01-25 04:01] tdeboissiere opened #164 "dvc metrics documentation typo"
It's should --> It should

[2019-01-25 04:17] #164 closed

[2019-02-01 08:41] efiop opened #172 "visualize: mention that we are not limited with ascii"
See https://github.com/iterative/dvc/issues/1561#issuecomment-459641862 .

[2019-02-05 00:02] mroutis opened #174 "tutorials: Deep learning"
Reference: https://github.com/iterative/dvc/issues/452

[2019-02-05 01:26] dmpetrov opened #175 "user-guide: clearly specify that state db is only used locally"
Sometimes people do not understand that SQLite is used only for optimization and they think that DVC uses a binary format (please use translate): https://www.facebook.com/permalink.php?story_fbid=1151521948337039&id=100004377340065&comment_id=1151533428335891&reply_comment_id=1153257634830137

Why don't we make it clear and extract `.dvc/status` file outside DVC project like `/var/dvc/my-project-S

[2019-02-05 03:18] efiop commented on #175
Agreed, moved to dvc.org.

[2019-02-08 16:58] mroutis opened #177 "remote s3: Add a more verbose description about endpointurl"
Some users use custom/self-hosted object storages compatible with the AWS S3 API.

The intended way to configure them with `dvc` is:

[code]

Right now, the docs only have the following description under the `modify` section: `endpointurl - endpoint URL to use to access AWS S3:`.

We can do better by adding a note that can be reached by searching "object storage", "custom s3", or at least clarify

[2019-02-09 06:42] #177 closed

[2019-02-10 04:20] shcheklein opened #180 "Add cached metrics -m option to run.md, check other place re to metrics"
Related to https://github.com/iterative/dvc/issues/1590

[2019-02-10 20:43] #180 closed

[2019-02-16 02:17] shcheklein commented on #127
@efiop is it done? As far as I remember you fixed the last one recently - the tutorial?

[2019-02-16 04:12] efiop commented on #127
Yes, should be done. Unless we have it somewhere else :slightly_smiling_face: Closing for now.

[2019-02-16 04:12] #127 closed

[2019-02-17 20:31] shcheklein opened #185 "update status command output description"

[2019-02-17 20:31] shcheklein opened #186 "cmd ref: add a few lines about cache and no-commit in `dvc run`"
`--no-commit` + `dvc commit` introduced a new way of iterating, it's an important to put a paragraph in the description or even a separate section.

[2019-02-17 23:36] shcheklein commented on #150
labels are already optional. You should provide them only if need to override it. It titleizes them by default (e.g. `gc` becomes `Gc`), that's why we have to provide a huge list for command references. I think we can make a flag to remove titleization. Or turn if off.

As for files - I would keep it as is. It's important to be able to specify the order of sections and exclude certain sections. I

[2019-02-18 02:19] efiop commented on #150
Sure, that is reasonable. Let's leave it as is. Closing.

[2019-02-18 02:21] shcheklein commented on #150
I'll keep it open to add a flag to turn off titleization. So, that we can remove at least a list of labels for command references and a few other sections.

[2019-02-18 06:56] efiop opened #187 "connect Code and Data section: clarify `dvc run/repro` command"
See discussion at https://discordapp.com/channels/485586884165107732/485596304961962003/546947809341865986

[2019-02-19 19:23] mroutis opened #188 "tutorial: add explanation about stage files locations"
Derived from this discussion on Discord: https://discordapp.com/channels/485586884165107732/485596304961962003/547489857711243264

[2019-02-23 01:55] shcheklein commented on #134
Ideally I think next step should be to implement a switch for the documentation - to show Windows/Linux mode.

[2019-02-23 01:56] shcheklein commented on #147
@efiop  why would we want to include this into docs? It is not part of the UI/UX and is not supposed to be run by a user, right?

[2019-02-23 07:41] efiop commented on #147
@shcheklein Right, but it is a part of our CLI, so we should at least add a doc stating that it is a service command.

[2019-02-23 07:49] shcheklein commented on #147
Why bother? I would actually hide it from the help as well. I don't quite understand what is the reason to show it there to be honest.

[2019-02-23 15:13] #147 closed

[2019-02-23 15:18] efiop commented on #147
Agreed.

[2019-02-28 01:25] ghost opened #194 "cases: training on a remote machine (SSH)"
for example, `ssh` to a remote machine, `git clone / pull` to get your code, then `dvc pull` to download your dataset, and `dvc repro` or `dvc run` to start training your models

[2019-03-04 20:42] ei-grad opened #196 "docs: get-started: large static images"
There are two outliers by file size:

[code]

I have seen they both are loaded chunk-by-chunk in my browser over a broadband WiFi connection. 1Mb of traffic is still a significant amount in 2019 (especially if we talk about github pages servers and russian destinations).

My suggestions:
- the JPG format is better suited for the cats-and-dogs image content
- shared-server.png should be resized to

[2019-03-04 21:33] #196 closed

[2019-03-07 16:47] richardxy opened #198 "code snippets in documentation not available on Github"
DVC documentation contains many examples that refer to some code snippets, such as
`dvc run \
        -d prepare.py -d data.xml \
        -o data.tsv -o data-test.tsv \
        python prepare.py data.xml`

But the file prepare.py can't be found on its Github repo. It would be very helpful for users to understand how the code snippets were written so that can be used in 'dvc run'.

Hope all the "*.

[2019-03-07 17:21] robogeek commented on #198
I am currently going through the DVC commands and updating the documentation.  Thank you for the feedback.

Generally speaking for now think of these as examples of what can be done, rather than precisely replicatable things.

I certainly get that you want replicatable examples, and will keep this in mind.

[2019-03-07 17:23] richardxy commented on #198
Great! Thank you very much!

[2019-03-07 17:40] shcheklein commented on #198
@richardxy could, you give a little bit more context ... which part of the documentation you are referring to in this issue?

[2019-03-07 17:42] richardxy commented on #198
I said it as a general impression for all parts of the documentation (particularly in "dvc run" part, I guess). When a .py file is referred in an example of command, but without seeing the py file, a person may not understand how such a script should be written.

[2019-03-07 18:14] richardxy commented on #198
btw, I really like the tutorial https://dvc.org/doc/tutorial/define-ml-pipeline, which has the code downloadable from S3. Even so, it would be still nice to be able to read the code files on Github without downloading and unzipping the code package.

[2019-03-08 12:33] piojanu opened #199 "a mistake in `dvc run --metrics` documentation"
Hi!

First of all, thank you for developing such a great tool. I'm just starting using it, but it seems to be incredibly useful (to this moment I had massive chaos in my files).

I was reading the documentation (which is great too) when I spotted a mistake I suppose. The description of `-m, --metrics` param of `dvc run` [command](https://dvc.org/doc/commands-reference/run) says near the end:

But

[2019-03-09 13:53] mlisovyi commented on #96
Any progress on such example?

[2019-03-09 16:41] colllin commented on #96
@mlisovyi I’ve been using Jupiter in a pipeline with a command like:
[code]
This executes the notebook and overwrites it in-place, as if I had opened it in Jupyter and ran the entire notebook manually and saved it. I then commit the resulting notebook to git.  I also specify some outputs which are cached: a directory for model checkpoints and a directory for logs. For dependencies, I specify the n

[2019-03-10 04:28] shcheklein commented on #199
@piojanu would you mind to fix it? it's extremely easy :) Just click the `edit on Github` button, edit the document right on Github and create a PR. No need to clone anything or leave Github.

[2019-03-14 14:20] piojanu commented on #199
I'll do it in next "shallow tasks" block of time :D But I have busy week, so it may happen next week.

[2019-03-14 16:45] shcheklein commented on #199
@piojanu that would be great! Thanks!

[2019-03-14 20:31] mroutis opened #204 "Some commands are "unrunnable""
For example, the following snippet from: https://dvc.org/doc/commands-reference/metrics

[code]

I can't run the following command because I lack `code/evaluate.py`.

It would be great to have either:
1) The command used above ready to copy paste, for example:
[code]

2) Use more broad commands that the user can actually copy paste, like `echo` or whatever.

[2019-03-14 20:43] shcheklein commented on #204
It's a good question! What are your thoughts, @dmpetrov @robogeek ?

I personally prefer them to be "executable". Like in `dvc repro` - a simple pipeline out of bash commands. But on the other hand, there is an opinion that we should use some domain that is close to the real-life in all our examples. It's extremely hard to make them executable obviously (that's what get started,  tutorials, full e

[2019-03-14 20:50] robogeek commented on #204
Yes I've seen the discussion on the forum asking that the examples be directly executable.

I think the tail end of command documentation is not the place to put an extensive example with all the bells and whistles.  Therefore those examples have to be minimalized using simple tools.

I also think the example section in command documentation should be seen as a broad example of what might be done,

[2019-03-15 01:11] robogeek commented on #204
FWIW I've just added a detailed example showing what happens in the cache from a `dvc push` operation.  The example is attached to this pull request:

https://github.com/iterative/dvc.org/pull/203

[2019-03-21 11:05] efiop opened #211 "add licencing info about using images/logos"
We see more and more people asking for permission to use our logos/charts in their articles about dvc. Looks like we could provide licencing info on dvc.org ourselves, so that people don't have to ask us explicitly.

[2019-03-21 14:21] efiop opened #213 "exclude $ when copying"
See https://discordapp.com/channels/485586884165107732/485586884165107734/558281550270038037 .

Is this even possible with our md files?

[2019-03-21 14:35] efiop opened #214 "deep tutorial: check that it can run on Python 2"
User reported that our xml_to_tsv.py fails on python2 because of encoding issues in open().

https://discordapp.com/channels/485586884165107732/485586884165107734/558296626381324324

Reminder: code for tutorial is stored here https://github.com/iterative/dvc-doc-tutorial and should be deployed from there.

[2019-03-21 16:17] robogeek commented on #213
It looks like the comment is that in the documentation we put

[code]

Meaning, there's a `$` at the front of the line, and the person writing the comment finds that inconvenient.  I can understand the point.

In the `dvc.org` Markdown files it would be trivial to remove those things, just edit the files and remove them.

However ...

This is a longstanding practice by nearly/all authors of docume

[2019-03-21 16:21] robogeek commented on #214
IIRC I ran into the same issue and did not say anything.  On my systems python2 is the default, so my scripts sometimes start with:

[code]

[2019-03-21 16:27] ei-grad commented on #213
No, there is a suggestion to alter the HTML to make it possible to copy the command alone. It looks quite a big effort for a minor issue, as of mine.

[2019-03-21 16:28] efiop commented on #213
@robogeek I totally agree with you! I didn't mean to remove $, I meant that it shouldn't be selectable like in https://linuxize.com/post/how-to-set-or-change-timezone-on-debian-9/ .

[2019-03-21 16:29] efiop commented on #213
@ei-grad Agreed, I'm wondering if it is a big effort though :)

[2019-03-21 16:57] shcheklein commented on #213
there is an ongoing effort to fix this by @ashelkov, hopefully soon.

[2019-03-21 16:57] shcheklein commented on #213
it should be possible to do this with JS

[2019-03-23 02:16] shcheklein commented on #204
@robogeek @mroutis I've updated the `dvc checkout` example here: https://dvc.org/doc/commands-reference/checkout. It should be "runnable". It's a tradeoff in terms of complexity vs keeping it runnable. @mroutis you still need to clone the repo and install requirements to being able to run it. I think we can do `echo`, `wc -l` as well, to show the concept even in a simpler environment.

Let me know

[2019-03-25 04:28] shcheklein commented on #198
@richardxy would be great if you could take a look at this command reference https://dvc.org/doc/commands-reference/checkout . We've made example for it runnable and available on Github. Let me know if you understand the doc, is it easy enough to reproduce, any feedback. Thanks!

[2019-03-25 04:29] shcheklein commented on #204
Duplicate #198

[2019-03-25 04:29] #204 closed

[2019-03-25 04:38] #188 closed

[2019-03-25 04:40] shcheklein commented on #187
from the discussion:

I hope I am being helpful here with the feedback

[2019-03-25 04:43] shcheklein commented on #185
We've changed the command output recently, added new options, doc should be updated accordingly

[2019-03-25 05:19] shcheklein commented on #121
It's hard to put every existing tool to that page. I would instead put a link to the matrix and that blog post with some of these tools overview and mention that it's not the purpose of this page to cover everything.

[2019-03-25 06:25] shcheklein commented on #101
Related https://github.com/iterative/dvc.org/issues/99

[2019-03-25 06:26] shcheklein commented on #100
Should be part of the user-guide. A link in the get started should enough. It's not a prevalent use case to distract attention on it.

[2019-03-25 06:30] shcheklein commented on #72
Specify meaningful stage names

[2019-03-25 06:31] shcheklein commented on #72
Also, we are not sure about branches anymore.

[2019-03-25 06:31] shcheklein commented on #72
Never store user credentials in the DVC project config.

[2019-03-25 06:35] shcheklein commented on #59
Would be beneficial to mention about `repro -m` in the `dvc metrics`. It can go to the #72 as well.

[2019-03-25 06:36] shcheklein commented on #54
@efiop do you recall what this issue is about?

[2019-03-25 06:41] shcheklein commented on #50
@dmpetrov @efiop Need to specify more info of what's missing. How is related to Dask (remote SSH) computation. Is it about writing a guide or just mentioning very specific to HDFS things across different command references, get started, etc?

[2019-03-25 06:43] shcheklein commented on #159
I think we should keep a single way in get started, mention other ways in user-guide and make a link to it. I'm switching get started to use tags now to avoid merging and other complicated ugly stuff.

[2019-03-25 06:51] dmpetrov commented on #72
@shcheklein we should keep branches - it is a good practice. However, we should mention that for some cases like hyperparameters tuning branches are not very relevant.

[2019-03-25 06:54] shcheklein commented on #72
@dmpetrov agreed, you are right. I just probably wanted to highlight that we should not be pushing branches as a single best option in all case - there are tags, directories, may be even mention other tools for now?

[2019-03-25 06:58] dmpetrov commented on #72
@shcheklein also we need to implement experiment dir\output feature for hyperparameters tuning use case (Stefan's use case).

[2019-03-25 07:15] dmpetrov commented on #50
@shcheklein it looks like hdfs workspace checkout  needs to be implement first.

[2019-03-25 09:10] ei-grad commented on #54
I guess it is about that dvc needs tutorial on how to use ssh remote.

I have failed with this in fact, a little ashamed to say :).

[code]

[2019-03-25 09:28] efiop commented on #50
It was probably about using spark with dvc.

[2019-03-25 09:30] efiop commented on #54
@shcheklein Yeah, something about storing dvc data on your own server and serving it through ssh/http so it is accessible.

@ei-grad You are probably using an older dvc version there. That bug was fixed not that long ago. Unless it is a new bug :)

[2019-03-26 02:24] shcheklein commented on #172
Fixed.

[2019-03-26 02:24] #172 closed

[2019-03-26 02:24] shcheklein commented on #187
Fixed.

[2019-03-26 02:24] #187 closed

[2019-03-26 02:24] shcheklein commented on #141
Fixed.

[2019-03-26 02:24] #141 closed

[2019-03-27 11:09] rpelliard opened #220 "Error when running training step in tutorial"
Hello,

On this page of the tutorial: https://dvc.org/doc/get-started/pipeline, when running the command
[code]

I get the following:

[code]

Looking at `train.py`, it looks like the `-d` causes the mistake and is not necessary.

It also looks like the command is missing a `-f train.dvc` to be consistent with the instructions that follow.

edit: just submitted a PR to fix https://github.com/itera

[2019-03-27 16:27] bon opened #223 "Pull a file if needed for a pipeline"
If a data file that dvc knows about is needed for a pipeline it needs to be present. If it's not, it has to be pulled before running the pipeline. Couldn't dvc pull the file as part of the pipeline so it doesn't have to be pulled manually?

[2019-03-27 16:45] #219 closed

[2019-03-27 16:47] shcheklein commented on #220
Fixed by #221 . Kudos @rpelliard !

[2019-03-27 16:47] #220 closed

[2019-03-27 16:52] bon opened #224 "Pull file automatically when necessary for pipeline"
If a data file that dvc knows about is needed for a pipeline it needs to be present. If it's not, it has to be pulled manually before running the pipeline. Couldn't dvc pull the file as part of the pipeline so it doesn't have to be pulled manually?

[2019-03-28 07:31] shcheklein commented on #78
https://dvc.org/doc/get-started/older-versions along with example versioning and multiple mentions in different places, should be enough for now.

[2019-03-28 07:31] #78 closed

[2019-03-28 18:09] #199 closed

[2019-03-28 23:56] shcheklein opened #227 "add `remote default` command reference"

[2019-04-01 03:04] shcheklein opened #229 "cmd ref: clarify metric file type auto detection and it's relationship with `-x` (add, modify, show subcommands)"
JSON metric files are detected by `dvc metrics` based on their file extensions (see iterative/dvc/issues/1553).

[2019-04-01 17:17] shcheklein commented on #229
Related to https://github.com/iterative/dvc/pull/1809 and https://github.com/iterative/dvc/issues/1553

[2019-04-01 18:26] efiop commented on #229
Related https://github.com/iterative/dvc.org/pull/228#issuecomment-478690046

[2019-04-02 15:02] efiop opened #230 "how to: "update your pipeline by editing DVC-files""
See https://github.com/iterative/dvc/issues/1800#issuecomment-478994887 .

Might be worth publishing under "Best Practices" https://github.com/iterative/dvc.org/issues/72 .

[2019-04-03 01:53] shcheklein opened #231 "add -f option to `dvc remote add`"

[2019-04-03 01:54] shcheklein commented on #231
Related https://github.com/iterative/dvc/pull/1808

[2019-04-04 13:29] efiop opened #232 "external-outs: mention `dvc add url`"
Currently, we only mention that you can specify your remote output in the `dvc run` command, but we don't say anything about an ability to `dvc add` your remote files.

[2019-04-04 21:42] efiop opened #233 "ref: `cmd` should be able to create at `repro`"
From https://github.com/iterative/dvc/issues/1800#issuecomment-480059069

[2019-04-05 17:18] shcheklein opened #235 "diff: add documentation"
Related https://github.com/iterative/dvc/pull/1778

[2019-04-09 14:02] efiop opened #237 "user-guide: add "Define remote through another remote""
From https://github.com/iterative/dvc/issues/1614
Related https://github.com/iterative/dvc.org/issues/108

[2019-04-09 15:01] efiop opened #238 "contributing: add guide how to run aws/gs/azure tests with your own credentials"
https://discordapp.com/channels/485586884165107732/485596304961962003/565185574303039498

[2019-04-09 22:39] tivvit opened #239 "dvc import directory"
It is possible to add directory (`dvc add ...`) but it does not work for `dvc import`.

I tried the import for s3 remote and it is possible for a single file but not for a directory. I think it should be possible to list files and download them (it may be slow) or maybe download it as a zip and unzip it (it is supported in Minio). Are you willing to support that feature? I may prepare the support

[2019-04-15 17:06] pared opened #247 "link: document new default link types"
Since https://github.com/iterative/dvc/issues/1257
"reflink", and "copy" link types are default.
Reflect that change in docs.

[2019-04-15 17:07] pared opened #248 "dvcignore: document change"
Since https://github.com/iterative/dvc/issues/1499
We support dvcignore when searching for stage files.

[2019-04-16 15:48] maggyero opened #256 "Replace the CSV file with the Pickle file in the documentation"
https://dvc.org/doc/dvc-philosophy/how-it-works

At step 2, `cnn_train.py` is run and yields the `results.csv` file (???) instead of the `output.p` file mentioned at step 4.

[2019-04-16 17:42] shcheklein commented on #256
Fixed by https://github.com/iterative/dvc.org/commit/9194fe303cc9a9a7dd31b133abd8b2afdb6501f6

Thanks @maggyero for the attention to these small details!

[2019-04-16 17:42] #256 closed

[2019-04-19 07:32] jorgeorpinel commented on #235
Done. See https://github.com/iterative/dvc.org/pull/236 amd https://github.com/iterative/dvc.org/pull/244

[2019-04-19 07:32] #235 closed

[2019-04-22 23:34] shcheklein commented on #53
In the user guide the part about basic DVC concepts is missing. Like described in #144 the User Guide should be starting with some introduction to those concepts with some explanation and how they relate to each other. This introduction should server as a reference when we use these concepts in other documents (e.g. command references, and/or examples, tutorials).

Basic concepts should include:
-

[2019-04-24 00:39] #247 closed

[2019-04-24 02:14] shcheklein opened #265 "add a user guide page about the optimization (advanced mode)"
In the recent DVC release we are changing the way we are linking DVC controlled files with the working space via https://github.com/iterative/dvc/pull/1841, https://github.com/iterative/dvc/pull/1914 and a potentially a few other PRs.

The motivation for this change could be found here: https://github.com/iterative/dvc/issues/1599

This is a major change and affect the user workflow, cache setting

[2019-04-24 08:04] shcheklein opened #266 "main page title is not displayed properly in Google"
<img width="747" alt="Screen Shot 2019-04-24 at 12 57 40 AM" src="https://user-images.githubusercontent.com/3659196/56642328-0c273100-662c-11e9-90ca-5251deb33967.png">

Should be the one specified here https://github.com/iterative/dvc.org/blob/master/pages/_document.js#L7

Also, this might be a relevant information:

[code]

[2019-04-24 08:17] shcheklein opened #267 "mobile: when side bar open on command reference it's not possible to scroll it down"
Reproduce. Open on iPhone (Safari, Chrome) this page https://dvc.org/doc/commands-reference/add. Click the button at the left bottom corner to open the side bar. Try to scroll it down. You won't be able to see the last items:

![IMG_8065](https://user-images.githubusercontent.com/3659196/56643539-aa1bfb00-662e-11e9-98f9-83a633ca0bc8.PNG)
![IMG_8066](https://user-images.githubusercontent.com/365919

[2019-04-24 08:21] shcheklein opened #268 "animation does not work when third-level page is open"
Smooth animation (content fade in effect) is broken when you open the third level page like this - https://dvc.org/doc/commands-reference/pipeline-list . These pages exist in the command reference only now.

Compare it with this page https://dvc.org/doc/commands-reference/pull

[2019-04-24 08:27] shcheklein opened #269 "highlight section on the right sidebar when you scroll content"
Open this page https://dvc.org/doc/commands-reference/pull .

You can see, that it has multiple sections inside:

<img width="890" alt="Screen Shot 2019-04-24 at 1 24 26 AM" src="https://user-images.githubusercontent.com/3659196/56644036-c10f1d00-662f-11e9-9326-33f2f830e44e.png">

As you scroll the content down the sidebar items should be highlighted appropriately. It is similar to the other docum

[2019-04-24 15:02] belskikh opened #270 "Autocomplete for file names doesn't work (partially)"
Hello!
When I use autocompletion script from here `https://github.com/iterative/dvc.org/blob/master/static/docs/user-guide/autocomplete.md` it doesn't complete file and directory names from current directory for the command `dvc repro ...`.
But if I add some flag, for example `dvc repro --force ...` then it works fine.
What should be changed in bash autocomplete script to allow autocompletion for

[2019-04-24 19:27] mroutis opened #271 "repro: improve information about --downstream"

[2019-04-25 06:39] shcheklein opened #272 "left sidebar: does not support long section names"
If section name does not fit into one line it hides another section that follows it.

[2019-04-25 06:44] shcheklein opened #273 "left sidebar: open a section that has a third level hides other sections"
Open `https://dvc.org/doc/commands-reference`

Check the last section in the list - `unprotect` or something.

Click `remote` and see how `unprotect` disappears/\.

[2019-04-25 18:14] shcheklein commented on #272
Changed the name. The previous name was referring to the right sidebar while the issue is with the left one.

[2019-04-25 18:15] shcheklein commented on #273
@ProjGoodF please, let's create a PR - it will kick off the new demo environment on Heroku (kudos to @jorgeorpinel ) and we will be able to test it.

[2019-04-29 05:30] lunasdejavu opened #276 "error: pathspec 'code'' did not match any file(s) known to git"
My environment is windows 7 x64,
After I followed the step
[code]
it showed the error:
`error: pathspec 'code'' did not match any file(s) known to git`

then I followed the direction from @mroutis  using  the double quotes
git commit -m "download code"
and it worked after all.

[2019-04-29 17:02] shcheklein commented on #276
@lunasdejavu good catch! Would you mind to fix it? Just click on the "Edit on Github" button, then edit the file (pen button at the top) and create a PR. No need to do anything out of Github :)

[2019-04-29 21:28] #248 closed

[2019-04-30 06:08] lunasdejavu opened #277 "du -sh /data/ is not working under windows 7"
I am following the [tutorial](https://dvc.org/doc/tutorial/define-ml-pipeline):
d`u -sh /data/`
I am undet Anaconda
[code]
what command parameter should I change?

[2019-04-30 07:00] shcheklein commented on #277
@lunasdejavu it's an optional command, not running it won't break anything else in the tutorial. I think you can just remove `-h` in your case.

[2019-04-30 07:18] lunasdejavu commented on #277
@shcheklein  thanks it works now. I know, but @efiop  asked me to made an issue in Discord yesterday.

[2019-04-30 07:18] #277 closed

[2019-04-30 19:03] #273 closed

[2019-05-01 03:53] pared opened #282 "document pre-push hook"
https://github.com/iterative/dvc/pull/1951 introduces pre-push hook.
Document the change

[2019-05-01 09:04] Dhiraj240 commented on #144
@dmpetrov I am looking to contribute to the project ```Improving and expanding User Guide``` in this upcoming Google Season of Docs 2019. I came here just after the organisations were announced, I already have experience with the opensource organisations. You can see my GitHub profile and Gitlab profile: https://gitlab.com/Dhiraj240?nav_source=navbar
May I know on how to get started with this proj

[2019-05-01 16:48] dmpetrov commented on #144
@Dhiraj240 thank you for your interest! Yeah, Discord is a better place to discuss. I'm seeing you have already started.

[2019-05-01 16:54] Dhiraj240 commented on #156
@shcheklein @efiop will you assign this to me? I will give it a try and in future, I will probably ask some queries but before that, I would like to figure out some areas.

[2019-05-01 16:57] Dhiraj240 commented on #144
First, I will work on some issues by this week then after that please guide me. On a weekly basis, I will solve issues. :smile:

[2019-05-01 17:01] dmpetrov commented on #144
Awesome!

[2019-05-02 01:35] dmpetrov opened #284 "get started: get rid of local remotes"
Here: https://dvc.org/doc/get-started/configure

Remote is a complicated concept for newbies. Local remote is even harder to understand. It is better to use S3\SSH or even with no remotes at all.

EDITED: Local remote breaks project shareability - one of the brightest DVC features.

[2019-05-02 01:43] shcheklein commented on #284
DVC without remotes is not very useful, right? We have to introduce them one way or another. It's one of the most essential parts - to introduce the concept of sharing and saving your stuff. We can simplify the language, but without them it would be really hard to explain `dvc push`, `dvc pull`.

Local one because get started is made to be run on your local machine, extremely simple steps. We ment

[2019-05-02 01:49] dmpetrov commented on #284
It might look like expanded items with `S3 cloud`\`Azure Cloud`\`SSH Server`\`Local - I don't have any storage`.
In the last option, we should explain that there is no (obvious) value in this remote but you can play with this for training purpose.

[2019-05-02 01:55] shcheklein commented on #284
I would not overcomplicate the example - `dvc remote add` command reference describes all the possible ways to setup different storages. We would have to copy 4-5 expandable sections that would distract the attention. That page also mentions S3 at the bottom.

We can def modify the language to mention S3, SSH, etc before local and emphasize even more that in most case local remote does not make mu

[2019-05-02 01:56] robogeek commented on #284
The user needs to have some experience with DVC remotes because it is a very useful part of DVC.

Local storage is the simplest to set up and requires no configuration of any remote service.  Every other kind of remote involves some remote service configuration.

[2019-05-02 02:05] dmpetrov commented on #284
We definitely should emphasize that local remote is used only for training purpose. The same needs to be specified in https://dvc.org/doc/get-started/share-data and https://dvc.org/doc/get-started/share-data

[2019-05-02 03:03] jorgeorpinel commented on #276
He also reported that

  I am undet Anaconda
  (base) C:\classify> du -sh /data/
  du: illegal option -- h
  ...

I can take a look at these and similar cases in the docs when I get back home to my Windows machine. I'll try to find out whether @lunasdejavu is using the Linux subsystem too.

[2019-05-02 03:18] jorgeorpinel commented on #277
@lunasdejavu what are you using for terminal under Windows 7? Linux Subsystem?

[2019-05-02 03:34] jorgeorpinel commented on #276
I could look look for single quotes in console commands all over the docs...

@lunasdejavu what are you using for terminal under Windows 7? Linux Subsystem?

[2019-05-02 03:45] lunasdejavu commented on #276
the latest anaconda

[2019-05-02 07:46] nanaya-tachibana opened #285 "add documentation for aliyun oss storage"
Documentation for changes in [dvc#1961](https://github.com/iterative/dvc/pull/1961).

[2019-05-02 11:25] Suor opened #286 "confusing behavior on network fail"
When trying to click on a link in menu on dvc.org while network failed it changes address and then does nothing. If you click on some top level menu item other than one you are in then menu works as expected and hide/show animation is shown for a content, but it leaves the content if the last page not new one.

[2019-05-03 03:57] shcheklein commented on #286
Probably we need to reset the page's content on the client side before even trying to load a new page.

[2019-05-03 19:12] jorgeorpinel commented on #276
I created https://github.com/iterative/dvc.org/pull/288 to address this and other instances @shcheklein

[2019-05-04 06:12] #276 closed

[2019-05-05 05:53] AJ-54 commented on #284
@shcheklein Should I add the statement "Local remote is used only for training purpose." at  https://dvc.org/doc/get-started/share-data or there is something more to be done here??

[2019-05-05 06:10] AJ-54 commented on #232
How to add this? I mean, inside each code block where we have written dvc remote, dvc config, dvc run or it should be added as a separate block at the end???

[2019-05-05 09:26] efiop commented on #232
Hi @AJ-54 !  Thanks for looking into this! :slightly_smiling_face:  Would probably add that in each block in https://dvc.org/doc/user-guide/external-outputs along with `remote/config/run`, just to make it easier to navigate.

[2019-05-05 09:32] AJ-54 commented on #232
Can you provide me a sample as to how to incorporate this? For example, consider Amazon S3. what will be the code of dvc add URL for this one?
As I don't know the functionality, I am assuming that I can do this only after you tell me for at least one example.
Thanks for the mention @efiop!

[2019-05-05 10:01] efiop commented on #232
@AJ-54 For example
[code]

[2019-05-05 10:59] AJ-54 commented on #232
I have made a pull request by performing the required changes as understood by me.
Kindly have a look @efiop and suggest changes if required.
Thank you for the coordination!!

[2019-05-05 11:40] kamdarkarnavee commented on #231
Hey @shcheklein can you assign this issue to me?

[2019-05-05 15:44] jorgeorpinel commented on #284
@dmpetrov @shcheklein sorry just noticed this conversation! One other simple option (to avoid local remotes) is to run a SSH server locally and then use a SSH remote (to localhost) – not sure its less confusing though, maybe just a little.

That's something I tried myself when I was learning for the first time so I know how to run the SSH server on Mac ([easy](http://osxdaily.com/2016/08/16/enable

[2019-05-05 16:02] AJ-54 commented on #214
Hey @efiop, I ran the code by forking and cloning the repo on my system and running the xml_to_tsv.py file and got this error

Input file data\Posts.xml does not exist
Usage:
        python posts_to_tsv.py

[2019-05-05 18:41] efiop commented on #214
@AJ-54 Do you have `data\Posts.xml` though?

[2019-05-05 18:46] AJ-54 commented on #214
No @efiop , I cloned https://github.com/iterative/dvc-doc-tutorial and this does not contain any data\Posts.xml file

[2019-05-05 18:48] efiop commented on #214
@AJ-54 You can't use that code as a standalone script. It is for https://dvc.org/doc/tutorial. The https://github.com/iterative/dvc-doc-tutorial is just a repo that code is being deployed from.

[2019-05-05 21:12] AJ-54 commented on #214
Well, Thanks @efiop I understood it. I searched for 'posts.xml' all inside the  https://dvc.org/ but could not find the file. Can you help me out here?

[2019-05-05 21:31] efiop commented on #214
@AJ-54 It is described in the tutorial itself https://dvc.org/doc/tutorial/define-ml-pipeline :slightly_smiling_face: The point of this ticket is to go through full tutorial on python2 to make sure that it works.

[2019-05-05 21:45] AJ-54 commented on #214
Thanks for the help @efiop, I downloaded and made the required data folder and pasted the posts.xml file in it and ran the xml_to_tsv.py file in python 2 and the file ran successfully without any errors. I got a tsv file in the same folder by name Posts.tsv  . So, I think there is no error anywhere in the code

[2019-05-05 21:56] efiop commented on #214
@AJ-54 Thanks for trying it out! :slightly_smiling_face: But the point of this ticket is to go through the _full tutorial_ on python 2, not only that single script.

[2019-05-05 21:58] AJ-54 commented on #214
@efiop yes, I am on my way to do that.

[2019-05-06 14:01] shcheklein commented on #266
Reopening this for now until we make sure this is fixed.

[2019-05-06 14:56] #232 closed

[2019-05-06 17:24] tapaswenipathak opened #299 "GSoD'19 Applicant - Tapasweni Pathak"
Hi folks,

I am a GSoD'19 applicant, have read [the ideas list](https://blog.dataversioncontrol.com/dvc-project-ideas-for-google-summer-of-docs-2019-defe3a73b248) and have PRed for most of the tasks. I have participated in multiple SoC/WoC and have been involved w/ open source since years. I have worked with Jupyter and ML. I am fully familiar with these areas. DVC.org is great fit for me but as a

[2019-05-06 20:03] jorgeorpinel commented on #284
Also closely related to this issue, someone noted that the same page (https://dvc.org/doc/get-started/configure) has a command that if ran throws an error:

[code]

(because in the same page a local remote with the same name was previously added. Ivan noted this 2nd command isn't meant to be ran, just an example. I'll address that confusion along with whatever we decide here about local remotes.

[2019-05-06 20:07] shcheklein commented on #284
@jorgeorpinel I think running an SSH would complicate too much even on *nix systems. I would stick with local but change wording a little bit like we discussed. I would really love to keep the get started as simple and as fast as possible to try.

[2019-05-06 20:10] shcheklein commented on #231
@kamdarkarnavee I've sent you an invite to collaborate so that I can assign this to you.

[2019-05-08 17:47] shcheklein commented on #299
@tapaswenipathak closing this as not an issue :) Welcome to the community though. We'll review your PRs and let you know. My recommendation would be to focus on one ticket from a single group - so that you can learn our workflow, out expectations, etc.

[2019-05-08 17:47] #299 closed

[2019-05-08 17:51] jorgeorpinel commented on #284
Opened #304 to address the comments above.

[2019-05-08 18:09] #284 closed

[2019-05-08 21:20] #272 closed

[2019-05-08 22:48] #231 closed

[2019-05-08 23:30] shcheklein commented on #156
@Dhiraj240 hey, any updates on this issue?

[2019-05-08 23:43] shcheklein opened #305 "support directories for the third level documentation"
To support tickets like #144 we need to add a real third level support. Files will be stored in subdirectories.

[2019-05-09 05:41] Dhiraj240 commented on #156
Sorry for being late but I am setting the local environment on my laptop, most probably by tomorrow I will update as I was busy with my semester exams.

[2019-05-09 21:11] efiop opened #306 "describe "meta" field in stage file and that we are preserving comments"
https://github.com/iterative/dvc/issues/1799

[2019-05-10 03:34] kurianbenoy commented on #139
Can I work on this issue?

[2019-05-10 03:38] shcheklein commented on #139
@kurianbenoy absolutely, feel free to start working on this! Join the dvc.org/chat and #dev-docs channel if you need any help.

[2019-05-10 03:44] shcheklein commented on #72
add "use meta to preserve your content" - https://github.com/iterative/dvc.org/issues/306

[2019-05-10 04:11] algomaster99 opened #307 "add documentation for command `dvc version`"
Documentation for `dvc version` has to added after the [iterative/dvc#1963](https://github.com/iterative/dvc/pull/1963) is merged.

[2019-05-10 04:26] algomaster99 commented on #306
@efiop @shcheklein  Can I pick this up now? Please brief me with what exactly has to be done. :)

[2019-05-10 05:00] shcheklein commented on #306
Hi @algomaster99, sure! So, here is the section that should be reviewed and updated is this one https://dvc.org/doc/user-guide/dvc-file-format (btw, @efiop does it make sense to include a comment with a link to this doc by default, when we generate the stage file). It now describes the schema of the file, and until that fix by @Suor DVC was throwing an exception if there were fields with an unknow

[2019-05-10 05:09] tapaswenipathak commented on #299
On Wed, 8 May 2019, 11:17 p.m. Ivan Shcheklein, <notifications@github.com>
wrote:

Ok sure. I will mostly be closing all open tickets given in the application
ideas list, I will make sure you put as less effort as possible, Thanks!

[2019-05-10 07:06] Suor opened #309 "menu not scrolled up appropriately after contraction"
This happens when we switch from a menu with many items to other one with much fewer of them. Look at how scrollbar disappears when I scroll up:
![dvc-org-menu-bug](https://user-images.githubusercontent.com/284103/57508754-9d84eb80-732c-11e9-804a-850717b1e450.gif)

[2019-05-10 07:31] Suor commented on #306
@algomaster99 I am the author of the change in dvc. Here are my two cents:
- dvc still throws on any unknown keys, which are ones already documented plus `meta` top level key,
- `meta` can have any structure and contain anything,
- one can add comments to .dvc file between lines and at line ends using `# comment` syntax,
- comments are preserved as long as corresponding keys are preserved,
- strin

[2019-05-10 07:43] Suor opened #310 "Improve code samples copy-pastability"
Two things here:
- use css for padding instead of 4 leading spaces everywhere,
- wrap parts we want to skip like `$` with `<span style="user-select: none">...</span>`.

[2019-05-10 07:52] Suor opened #311 "document how to test remotes"
These tests (mostly in `func/test_data_cloud.py`) are skipped by default and appear to be far from evident to set up. Not sure whether this should be added to contributing page or a new one.

[2019-05-10 08:57] Suor commented on #310
*P.S.* This is mostly dup of #213.

[2019-05-10 17:57] shcheklein opened #313 "use css for padding instead of 4 leading spaces in code blocks"
From https://github.com/iterative/dvc.org/issues/310

[2019-05-10 17:58] shcheklein commented on #310
Thanks, @Suor . Moved the first part to a separate issue. 213 is in progress by @ProjGoodF . I'm closing this as a dup.

[2019-05-10 17:58] #310 closed

[2019-05-10 18:29] efiop commented on #306
@shcheklein

 Seems ugly and unnecessary, I would prefer not to do that :slightly_smiling_face:

[2019-05-10 18:58] shcheklein commented on #311
@Suor is it a duplicate of #238 ?

[2019-05-10 23:05] #307 closed

[2019-05-10 23:21] shcheklein opened #316 "add Contributing guide"
1. Add a user-guide section `Contributing Documentation` that contains all the stuff from the README.md#Contributing + updates on code style, inline contributions (via Edit on Github), running the project, etc
2. Add `.github/CONTRIBUTING.md` that has a short description, welcoming and a link to the User Guide.
3. Update README.md to make it shorter and include a link to the User Guide.

[2019-05-11 04:30] kurianbenoy commented on #139
Add docs in tutorials about various link types in this page as well when documentation is [ready for this](https://github.com/iterative/dvc.org/issues/265).

[2019-05-11 20:41] #227 closed

[2019-05-11 21:40] #316 closed

[2019-05-11 21:54] algomaster99 opened #318 "add pre-commit hook to format code"
`.prettierrc` file needs to be updated with configurations that we follow to write code. Like we use 2 spaces for indentation, no trailing white space, etc.
Then these configurations can be used to format code before committing.

[2019-05-12 05:23] sanidhyamangal commented on #285
Hello @shcheklein Can I work on this issue?

[2019-05-12 18:37] kurianbenoy commented on #313
Is this applicable for react web page which hosts the dvc website?

[2019-05-12 20:25] shcheklein commented on #313
@kurianbenoy yes. This is related to these indents in the code blocks. Right now they are done manually by including spaces.

<img width="663" alt="Screen Shot 2019-05-12 at 1 23 54 PM" src="https://user-images.githubusercontent.com/3659196/57587400-3ea0ad00-74b9-11e9-83e1-cc30a39f50ad.png">

[2019-05-12 20:26] shcheklein commented on #311
closing a a duplicate of #238 . @Suor feel free to reopen it if I missed something.

[2019-05-12 20:26] #311 closed

[2019-05-12 20:28] #139 closed

[2019-05-12 20:30] shcheklein commented on #285
@sanidhyamangal absolutely, thanks!

[2019-05-12 20:45] #318 closed

[2019-05-13 01:57] jorgeorpinel opened #320 "`dvc cache -h` and `dvc cache dir -h` have confusing output"
1 `dvc cache -h` positional arguments:
[code]

The lines under "positional arguments" with `{dir}` and `dir` are confusing to read if you don't already know that `{dir}` is a list of sub-commands. I suggest this since there's just one sub-command option:

[code]

<br>

2 `dvc cache dir -h` description:
[code]

I think the description should be "Configure cache directory location.", not "Manage cac

[2019-05-13 01:59] jorgeorpinel commented on #320
In fact... How about instead of calling them "positional arguments" in these parent commands (`dvc cache`, `dvc metrics`, `dvc pipeline`, and `dvc remote`), we call them "accepted sub-commands"?

[2019-05-13 02:30] jorgeorpinel opened #321 "standard way to refer to DVC-files and other terms"
There 's several ways in which the docs refer to **DVC-files** (meaning the stage files created by `dvc add`, `dvc run`, etc, with the `.dvc` file extension).

Standardize everything to "DVC-file(s)" throughout the docs EXCEPT if the phrase is used for OTHER DVC-related files (not stage files) i.e. in "[DVC Files and Directories](https://dvc.org/doc/user-guide/dvc-files-and-directories)":

- [x] "

[2019-05-13 03:01] jorgeorpinel commented on #321
Side note: I'm already changing `.dvc` for `.dvc/` (see https://github.com/jorgeorpinel/dvc.org/commit/cda4582e6d4479fe96cc74a6224c5b2e5670f0f5) when it refers to the directory to help ease "DVC" naming confusions throughout the docs.

[2019-05-13 03:17] jorgeorpinel commented on #320
Hmmm... This may be more of an issue for the main dvc repo actually!

Moving it over to https://github.com/iterative/dvc/issues/1994!

[2019-05-13 03:17] #320 closed

[2019-05-13 03:32] shcheklein commented on #321
Sounds good, @jorgeorpinel . I think all these small things worth mentioning in some section of the Contributing guide? What do you think? Something like a "terminology guideline" (is there a better name for this)?

[2019-05-13 03:41] jorgeorpinel commented on #321
Good idea. Maybe "terminology conventions" ...

OR it could be a new doc called **Glossary** and in the docs contribute guidelines we just mention to "utilize the terminology listed in the glossary(linked) consistently". Please assign me here to confirm (:

[2019-05-13 06:18] sanidhyamangal commented on #285
@shcheklein do I need to add docs in [remote add](https://dvc.org/doc/commands-reference/remote-add#options) ? or this would go somewhere else?

[2019-05-13 17:10] shcheklein commented on #285
@sanidhyamangal yes, the biggest change is that file. There are a few place around the Markdown and JS that mention the list of supported remotes. Do the `git grep "SSH"` and see other places, like `pages/features.js` that we need to update. Thanks! :)

[2019-05-13 18:08] algomaster99 opened #326 "docs: update description and example for `dvc version`"
This update is required after [these changes](https://github.com/iterative/dvc/pull/1997) are merged.

[2019-05-13 19:56] kurianbenoy opened #329 "list out video resource about DVC in docs"
I recently found out various informative videos about DVC in youtube. I felt it would ideal to mention about these video resources in DVC documentation as well.

- https://www.youtube.com/watch?v=4h6I9_xeYA4
- https://www.youtube.com/watch?v=jkfh2PM5Sz8

[2019-05-13 20:21] mroutis commented on #265
Related: https://github.com/iterative/dvc/pull/1997/files#r283492357

[2019-05-13 21:45] kurianbenoy commented on #329
Where exactly in docs would it be ideal to place this page @shcheklein ?

[2019-05-14 02:23] #313 closed

[2019-05-14 02:39] kurianbenoy commented on #313
@shcheklein we have only so far padded Get Started section, should I manually remove 4 leading spaces in other sections also?

[2019-05-14 06:29] #266 closed

[2019-05-14 06:36] kurianbenoy commented on #214
Can I work on this?

[2019-05-14 06:45] shcheklein commented on #214
@kurianbenoy sure! thanks for your help! :)

[2019-05-14 15:07] mexeniz opened #333 "tutorials: caught MemoryError when "Running in bulk" in deep/define-ml-pipeline#running-in-bulk"
**Please provide information about your setup**
DVC version: 0.40.2 (installed by pip)
OS: Ubuntu 18.04
RAM: 8GB

~~I am following a tutorial in https://dvc.org/doc/tutorial/define-ml-pipeline.~~
UPDATE: This refers to http://localhost:3000/doc/tutorials/deep/define-ml-pipeline#running-in-bulk now.

In "Running in bulk" section, I failed to run this command and caught an error.
[code]

[2019-05-14 15:21] efiop commented on #333
Hi @mexeniz !

Looks like you are running out of memory :slightly_frowning_face: As opposed to our get-started guide, our tutorial has some beefy requirements on RAM. Have you tried get-started already? https://dvc.org/doc/get-started In essence, it is a simplified tutorial.

[2019-05-14 23:21] shcheklein commented on #213
closed by https://github.com/iterative/dvc.org/commit/b50e38c97f8f8433eaeb6df3819aea533c85cbae

[2019-05-15 04:41] mexeniz commented on #333
Thank you!
I will check that get-started out.

[2019-05-15 07:39] algomaster99 opened #334 "remove indentation in all code blocks in markdown files"
We use padding for first level indentation in code block since [this PR](https://github.com/iterative/dvc.org/pull/330) got merged.

For example consider this codeblock:

[code]
#### Output

![Screenshot from 2019-05-15 12-59-49](https://user-images.githubusercontent.com/35191225/57756670-5ecaa900-7711-11e9-92ba-ddf1480a8078.png)

#### Expected Output

![Screenshot from 2019-05-15 13-00-37](https:

[2019-05-15 08:14] algomaster99 opened #335 "add detail for DVC version in `dvc version` command"
[code]

The DVC version detail can be elaborated and made clearer to understand. An explanation of the git hash can be one addition.

[2019-05-15 08:49] kurianbenoy opened #336 "add more methods of setting Development Environment"
https://dvc.org/doc/user-guide/contributing

Development environment of DVC can be setup by a number of methods like  using `Docker for installation`, or using `pipenv`. @shcheklein should be add more methods in our Documentation.

**Would you like to work on this?**
Yes

[2019-05-15 12:33] sanidhyamangal opened #339 "auto file deletion on cloning in windows"
I tried to clone this repo on multiple machines running on windows platform, but due to some notations in the format of <filename>:<additiontag>.md it was automatically deleted and instead a cache file was downloaded creating havoc.

[2019-05-15 16:41] shcheklein commented on #335
Some context and explanations: https://discordapp.com/channels/485586884165107732/565699007037571084/578083097099239424

[2019-05-15 16:42] shcheklein commented on #339
@sanidhyamangal good catch! Looks like we need to rename the files and drop `:` in them.

[2019-05-15 16:49] shcheklein commented on #336
@kurianbenoy sure, sounds good. I'm not sure about Docker as a dev environment though. Docker might be a good option to run something to test, but now as a dev environment - it would give too much overhead. We should provide simpler options for dev environments on all systems.

[2019-05-15 16:54] mroutis commented on #336
My perspective is to stick to the defaults, that means, using pip (and highly recommended, a virtual environment).

Docker could be really complicated (in term of "best practices"), it creates a lot of overhead (more knowledge required to run the project: how to mount a volume, compatibility with IDEs, connecting it with other remote services like SSH, etc.).

Also, Pipenv is really opinionated, I

[2019-05-15 16:55] mroutis commented on #336
I must recognize that Docker could help us to set up an environment to test specific remotes, like S3 (minio), Azure (azurite), etc.

It would be nice to support a docker compose file for those.

[2019-05-15 17:33] sanidhyamangal commented on #339
@shcheklein  I think my pr #332 resolves this issue and since I have updated ```sidebar.json``` as well so I don't think there are any other changes.

[2019-05-15 17:41] jorgeorpinel commented on #321
p.s. I just noted the term "stage file(s)" is also widely used in the docs for this one.

[2019-05-15 18:58] jorgeorpinel opened #340 "guide: extract part of the`config` cmd ref."
The [Configuration sections](https://dvc.org/doc/commands-reference/config#configuration-sections) is too long for the cmd ref. Probably the best route is to extract the parts of the current cmd ref description and all the config options into a new User Guide, and leave the rest in the cmd ref.

---

UPDATE from https://github.com/iterative/dvc.org/issues/1368#issuecomment-634456922:

^ This can b

[2019-05-15 20:19] kurianbenoy opened #342 "inaccurate output of .dvc/.gitignore"
https://dvc.org/doc/tutorial/preparation

The output of command `$ cat .dvc/.gitignore` in docs is  not correct.

[2019-05-15 21:17] pared commented on #336
@kurianbenoy I do understand temptation of packing whole development environment into docker. In situations, when you have very complicated environment with lot of dependencies that might come in handy.

I also agree with guys that dvc is relatively simple project in terms of required dependencies, yet situations like https://github.com/iterative/dvc/issues/2008 happen. It is not stricte related t

[2019-05-15 21:27] #342 closed

[2019-05-15 21:31] kurianbenoy commented on #333
Hi @efiop, I also ran into the same issue. By beefy requirements can you give a precise estimate of it?

[2019-05-16 06:05] Suor commented on #213
Sorry for returning to closed issue, but a small imperfection is bothering me:) When we have several `$` command lines the leading space is selected starting from the second one:

![dvc-org-selection](https://user-images.githubusercontent.com/284103/57830017-fd6f0c80-77da-11e9-92db-55c68421162e.png)

[2019-05-16 06:06] shcheklein commented on #213
@Suor yep, it's bothering me as well. Let's fix it :)

[2019-05-16 21:00] #238 closed

[2019-05-17 02:56] #213 closed

[2019-05-17 05:21] shcheklein commented on #333
Reopening this. As we discussed privately with @kurianbenoy, we need to find a way to modify it a bit so that we can run it on a smaller machine. Ideas to try: filter the dataset artificially, try less features (it's 5000, try 2500 by default), check if there is a way to use some optimized arrays.

[2019-05-17 06:07] shcheklein commented on #156
@Dhiraj240 any updates on this? Can someone else pick this task?

[2019-05-17 08:36] kurianbenoy commented on #214
I have been trying to run the [Tutorial](https://dvc.org/doc/tutorial) in python2 . I have encountered some issues so far:
1. https://github.com/iterative/dvc.org/issues/333, so I could run in python2 till `  $ dvc run -d code/featurization.py -d code/conf.py \
            -d data/Posts-train.tsv -d data/Posts-test.tsv \
            -o data/matrix-train.p -o data/matrix-test.p \
            python

[2019-05-17 17:32] ryokugyu commented on #334
I want to work on this issue. Please assign this task to me.

[2019-05-17 17:46] shcheklein commented on #334
hi, @ryokugyu ! That would be great. Thank you. I'll assign it to myself to lock the issue. Feel free to proceed with it.

[2019-05-17 17:56] jorgeorpinel opened #348 "add detailed support table to file linking user guide?"
The new guid should be at /doc/user-guide/cache-file-linking once #345 is merged.

The file link type support table should show at least in general which platforms (OS + FS combinations e.g. Linux/XFS, Windows/NTFS) support each type of file links.

[2019-05-17 21:30] #285 closed

[2019-05-17 21:30] #339 closed

[2019-05-17 21:59] #329 closed

[2019-05-18 02:32] ryokugyu opened #349 "embed the video on the 'doc' page itself"
Stumbling upon this page https://dvc.org/doc/understanding-dvc/resources.
![dvc](https://user-images.githubusercontent.com/16274905/57963509-b865ea00-7942-11e9-9e6d-1f69118430fd.PNG)

The links look like a static image. And, also upon clicking on the image, we are redirecting to YouTube page.

We can embed the video on the DVC page itself, rather than opening a new target.
It will impact user brow

[2019-05-18 02:44] shcheklein commented on #349
@ryokugyu sounds good! I would also improve the formatting a little bit - use table for videos? or move titles above videos to improve readability.

[2019-05-18 03:02] ryokugyu commented on #349
I will suggest:

- Position the video in the middle of the page. Something like,
<iframe width="560" height="315" src="https://www.youtube.com/embed/4h6I9_xeYA4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
- If we embed the video from YouTube itself, no need to add titles. Still, if anyone wants to add title, it must be

[2019-05-18 04:17] ryokugyu commented on #334
I wrote a script for the removal of unnecessary indentation. But there is too much inconsistency in the files.

Have to remove them manually. Will you suggest me something else?

[2019-05-18 04:38] shcheklein commented on #334
Do you mean something else to work on?

[2019-05-18 04:51] ryokugyu commented on #334
I will be manually removing them.
For future, mention on contribute doc, not to use 4-space indentation on documentation.

[2019-05-18 21:42] shcheklein commented on #334
Fixed  by @ryokugyu .

[2019-05-18 21:42] #334 closed

[2019-05-19 18:34] kurianbenoy commented on #333
@shcheklein I modified the script by trying 2500 features:
`bag_of_words = CountVectorizer(stop_words='english', max_features=2500)`

Yet I couldn't understand the error message which came following it :
[code]

[2019-05-19 18:35] ryokugyu opened #356 "rewriting install.md"
re-writing install.md for better readability and enhanced user experience.

https://github.com/iterative/dvc.org/blob/master/static/docs/get-started/install.md

in this manner [nodejs-package-manager-documentation](https://nodejs.org/en/download/package-manager/#debian-and-ubuntu-based-linux-distributions-enterprise-linux-fedora-and-snap-packages)

Rather than using the hidden code snippets, a sec

[2019-05-19 18:50] shcheklein commented on #356
I think it would complicate navigation and break the point of the get started.

Get started is made to be:

- really simple to read and follow - each page should be one-two screens at most.
- it covers the most common flow (with expandable sections for advanced cases). In this case pip is considered the best way (arguably) to install DVC and all other options should be considered if you really nee

[2019-05-19 21:52] shcheklein commented on #333
@kurianbenoy can you run it with `-v` to see the full log?

[2019-05-20 03:44] kurianbenoy commented on #333
@shcheklein  this is log messages:
https://gist.github.com/kurianbenoy/33d087f910fd0e28f2cc89d000c19052

[2019-05-20 11:01] algomaster99 opened #358 "Indentation removed in bulleted list"
Commit [a57596](https://github.com/iterative/dvc.org/commit/a5759608bc49c50fd8c304c2465becc31e7dd079) removes indentation from bulleted list.

### Issue

[code]

### Fix

[code]

This can be fixed by running `npm run prettier-md`.

[2019-05-20 11:17] algomaster99 commented on #156
@shcheklein I can take this up. But I don't know how it works in remote storage so I'll take a look at that first. :smile:.

[2019-05-20 13:46] ryokugyu commented on #358
Will you please screenshot those particular blocks and give me a brief review of it!

[2019-05-20 14:35] algomaster99 commented on #358
@ryokugyu
### Issue
![Screenshot from 2019-05-20 19-55-14](https://user-images.githubusercontent.com/35191225/58029518-65568780-7b3a-11e9-8f73-472450395b51.png)

### After formatting
![Screenshot from 2019-05-20 20-04-19](https://user-images.githubusercontent.com/35191225/58029569-7dc6a200-7b3a-11e9-96c3-ef83e83981f4.png)

[2019-05-20 14:35] algomaster99 commented on #358
@ryokugyu
### Issue
![Screenshot from 2019-05-20 19-55-14](https://user-images.githubusercontent.com/35191225/58029518-65568780-7b3a-11e9-8f73-472450395b51.png)

### After formatting
![Screenshot from 2019-05-20 20-04-19](https://user-images.githubusercontent.com/35191225/58029569-7dc6a200-7b3a-11e9-96c3-ef83e83981f4.png)

[2019-05-20 16:19] shcheklein commented on #358
@ryokugyu @algomaster99 yep, that commit was too aggressive. Let's run prettier. We should check that it will indent code blocks under list items back (two spaces).

[2019-05-20 16:24] shcheklein opened #359 "integrate CircleCi to run prettier checks for each PR"

[2019-05-20 16:26] shcheklein opened #360 "add JS linter, integrate with CircleCI"

[2019-05-20 16:27] shcheklein opened #361 "add codeclimate integration for JS"

[2019-05-20 16:51] algomaster99 commented on #358
@shcheklein Yes, `npm run prettier-md` works. @ryokugyu Will you submit a PR? :smile:.

[2019-05-20 17:36] ryokugyu commented on #358
I will submit pr for it. :D  @algomaster99

[2019-05-20 18:07] algomaster99 commented on #356
@shcheklein In my opinion, accordions are a great idea show installation instructions! There's one suggestion though. We can close other sections, if one is triggered. This could be a better way to emphasize the instructions. I am not sure though :sweat_smile: .

[2019-05-20 19:28] shcheklein commented on #356
closing this for now. @algomaster99 don't think it's a major improvement and/or a priority right now to be honest. Thanks for the suggestion though 👍

[2019-05-20 19:28] #356 closed

[2019-05-20 19:40] shcheklein commented on #156
@algomaster99 sure! I've reassigned. Feel free to ask any questions via our common channels. Thanks!

[2019-05-20 21:44] jorgeorpinel opened #362 "css: make expandable <detail> sections `cursor: pointer` on `:hover`"
For example
![image](https://user-images.githubusercontent.com/1477535/58053876-67aae880-7b1e-11e9-804c-f28f249e5d58.png)
from https://dvc.org/doc/get-started/add-files

They currently have normal mouse cursors but could use 👆

[2019-05-20 21:48] jorgeorpinel opened #363 "pre-commit hook prettier (vs npx prettier) questions"
~~First, running `npm run prettier-md` does not yield the same results as what the pre-commit hook does (hook installation explained in https://dvc.org/doc/user-guide/contributing-documentation). Should it? And how do we equalize them if so?~~

~~For example with `npm` the bullet lists are standardized to `*` while with the pre-commit hook they're `-`. I understand we want the latter.~~

UPDATE: I

[2019-05-20 21:54] jorgeorpinel commented on #358
Hello! You may want to take a look at #363 as you work on this one. Thanks

[2019-05-20 23:35] algomaster99 opened #364 "add command for formatting a single file"
It will be good if the guide mentions a way to format specified files only. This can be done in two ways:
- `npx --write <pattern to match required files>`: `npx` is a package which comes with `npm`. It simply executes node packages if found in `./node_modules`. If this doesn't work you may install it using `sudo npm install -g npx` otherwise follow the other method.

- `./node_modules/prettier/bi

[2019-05-21 00:03] david8381 opened #365 "setting a directory as an output with run command will delete the directory without warning"
The following command deletes data/clean -- it would be nice if there was a warning or something since there may already be data in data/clean.  The solution was to modify the script so that the data/clean directory was created by the script.

dvc run -d data/raw/ -d src/featherize_data.py --outs data/clean/ python src/featherize_data.py

<<Hi @david8381 ! That happens because dvc run is trying to

[2019-05-21 01:02] #335 closed

[2019-05-21 02:37] shcheklein commented on #333
@kurianbenoy it looks like you took the `featurization.py` from the get started, not from the tutorial? It seems you have a mismatch between your code and DVC files (command repro is trying to execute).

[2019-05-21 03:19] jorgeorpinel commented on #363
On question 1, from https://discordapp.com/channels/485586884165107732/565759186693128202/580164996198301696

So should we then establish a strict version of prettier in the `package.json` file? It currently is` "^1.17.0"`

[2019-05-21 05:26] jorgeorpinel commented on #363
@algomaster99 would you like to briefly mention the option to use `husky` here? Thanks

[2019-05-21 05:36] algomaster99 commented on #363
@jorgeorpinel
[code]

This is one example of configuring pre commit hook using husky and lint-staged. Husky gets triggered before committing and runs lint-staged. There are more options which can be found in https://prettier.io/docs/en/precommit.html.
Lint-staged will respect our `.prettierrc` file as well. Another way is using `pretty-quick`. It's more or less same and it also follows `.prettierr

[2019-05-21 05:46] algomaster99 commented on #363
[code]

This is one example of configuring pre commit hook using `husky` and `lint-staged`. Husky gets triggered before committing and runs lint-staged. There are more options which can be found in https://prettier.io/docs/en/precommit.html.
Lint-staged will respect our `.prettierrc` file as well. Another way is using `pretty-quick`. It's more or less same and it also follows `.prettierrc`, `.pret

[2019-05-21 06:09] jorgeorpinel commented on #265
Thanks for merging #345 Ivan. I still have to double check the last 2 check boxes in this issue though. I'll close again when I do so if you don't mind.

[2019-05-21 08:27] prihoda opened #367 "add repro -R to docs, fix -R description in other commands"
DVC repro -R: Reproduce all stages in the specified directory.

Issue https://github.com/iterative/dvc/issues/1989
PR https://github.com/iterative/dvc/pull/2030

[2019-05-21 11:09] Suor commented on #286
Sorry to come back here, but I still have this issue. No animation now, but nothing happens on click besides address is updated.

Additionally slow network is also confusing: you click, address changes and then nothing happens for some time - no progress/wait indicator, then page is updated with an animation.

[2019-05-21 16:56] shcheklein commented on #367
Wait until  iterative/dvc#2030 is merged.

[2019-05-21 16:59] shcheklein commented on #367
Also, mention that we have changed -R for pull/push/gc/checkout that it now accepts not only dirs but files as well.

[2019-05-21 17:21] shcheklein commented on #286
@Suor please, feel free to reopen it next time if you see that it's not solved yet!

[2019-05-21 17:25] shcheklein commented on #265
oops, Github closed it automatically :)

[2019-05-21 17:52] shcheklein opened #369 "investigate: check that if algolia integration fails it does not get the whole site down"
More context:

https://twitter.com/bob4mob/status/1130100767082328064

[2019-05-21 21:03] shcheklein commented on #363
@algomaster99 Looks like husky is a good option to keep everything under package.json control. I like it. 👍 After that we can even enable a JS linter with it as far as I understand.

@jorgeorpinel I agree that we should keep the version same. Allow patches, but not major changes.

[2019-05-21 22:14] shcheklein commented on #358
@ryokugyu hey, any updates on this?

[2019-05-22 02:48] TomHortons opened #370 "pipeline: show: dot: check that user doesn't accidentally write to dvc file"
Issue: https://github.com/iterative/dvc/issues/1743

Is this still opened?

[2019-05-22 03:43] shcheklein commented on #370
Closed by #371

[2019-05-22 03:43] #370 closed

[2019-05-22 04:11] algomaster99 opened #372 "integrate husky and pretty-quick for pre-commit hook"
[This comment](https://github.com/iterative/dvc.org/issues/363#issuecomment-494248378) justifies the usage of husky pre-commit hook over `pre-commit` package.

UPDATE: In summary the husky config file would probably look like:
[code]

[2019-05-22 15:23] ryokugyu opened #374 "cache-dir under command-references shows no content"
![Screenshot (24)](https://user-images.githubusercontent.com/16274905/58186916-6a027380-7cd3-11e9-9715-ebf644ce246d.png)

https://dvc.org/doc/commands-reference/cache-dir\

This link on the dvc website is showing irrelevant data. no data about cache-dir present here.

[2019-05-22 22:43] #374 closed

[2019-05-22 22:45] shcheklein commented on #374
Good catch @ryokugyu ! Thanks.

[2019-05-23 01:07] jorgeorpinel commented on #363
OK, I changed it to `~1.17.0` in **package.json** for now (only patches, no minor or major version updates).

I think we should definitely remove the `pre-commit` Python module because its confusing to have `prettier` installed as an npm devDependency on one hand, and by `pre-commit` separately for the Git hook. Whatever applies the git pre commit hook should be able to re-use the `prettier` node

[2019-05-23 01:16] jorgeorpinel commented on #363
@algomaster99 but before that, what do you think about the 2nd checkbox in this issue's description? Since you're already familiar with `prettier` is that something you think you could help with?

I can do the 3rd checkbox once the 2nd one is complete, or feel fee to throw it in too. Please lmk either way in order to figure this out myself if you're unavailable. Thanks

[2019-05-23 01:24] jorgeorpinel commented on #372
Yes! I think we don't need Python and whatever applies the pre-commit hook should re-use the `prettier` version installed in node_modules/ so `husky`/`lint-staged` would work unless anyone has a better suggestion.

- [ ] Let's then also update the [doc contrib](https://dvc.org/doc/user-guide/contributing-documentation#development-environment) guide to reflect these changes.

[2019-05-23 02:11] algomaster99 commented on #363
@jorgeorpinel I am not near my computer right now. But I have experimented with YAML code blocks. `prettier` automatically gives one space indentation between hypen and the value. It's not very strict though. You can try it out [here](https://prettier.io/playground/). I'll try to help you with this as soon as possible. 😁

[2019-05-23 02:12] algomaster99 commented on #372
@jorgeorpinel I can update the documentation once your PR is merged.

[2019-05-23 02:17] algomaster99 commented on #372
@jorgeorpinel okay! So I'll integrate husky/lint-staged as soon as possible if you are not working on it and update the docs too.

[2019-05-23 03:18] ryokugyu commented on #340
@shcheklein anyone working on it?
if not please assign me this issue.

[2019-05-23 03:46] jorgeorpinel commented on #363
I'll take care of this since you're working on the other related issue. Thanks @algomaster99 !

[2019-05-23 03:46] shcheklein commented on #340
@ryokugyu no, but let's hold on for a while. We are still deciding on the exact structure. Are you looking for something next to contribute?

[2019-05-23 03:47] jorgeorpinel commented on #372
Awesome. Please remember to remove all traces of Python if it's not used for anything else in this repo (which I think is the case).

[2019-05-23 03:47] ryokugyu commented on #340
@shcheklein yes, i am looking for something to contribute.

[2019-05-23 03:50] shcheklein commented on #340
How about this one - https://github.com/iterative/dvc.org/issues/306 ? It's a good one, with a nice description and really valuable. Just mention that you are working on it if you decide to take it. Thanks :)

[2019-05-23 04:00] ryokugyu commented on #340
sure, let me dig it. i will need some help for this.
I am working on it.

[2019-05-23 04:29] #265 closed

[2019-05-24 00:46] jorgeorpinel commented on #372
Hey, I just noticed the prettier docs have a guide on how to easily install lint-staged and husky: https://prettier.io/docs/en/precommit.html#option-1-lint-staged-https-githubcom-okonet-lint-staged

[2019-05-24 04:53] #363 closed

[2019-05-24 05:50] shcheklein commented on #358
@jorgeorpinel does your last PR fixes that? This one should be done for the most part. Except some code block under list items - not a big issue I think.

[2019-05-24 16:43] jorgeorpinel commented on #358
Yes it was fixed in recent PRs including #378 e.g. https://github.com/iterative/dvc.org/pull/378/files#diff-ad6b7d6b56ae9694f56f7d353f1eb56aR47

Closing (:

[2019-05-24 16:43] #358 closed

[2019-05-24 19:45] ryokugyu commented on #358
I didn't worked on it because of the issue of #363

[2019-05-24 21:56] dnabanita7 opened #380 "got MemoryError while staging train in get-started"
similar issue as in #333
While going through getting-started, at running the third stage, training:

$ dvc run -f train.dvc \
          -d src/train.py -d data/features \
          -o model.pkl \
          python src/train.py data/features model.pkl

I got an error like :
Running command:
    python src/featurization.py data/prepared data/features
The input data frame data/prepared/train.tsv size

[2019-05-24 21:56] efiop commented on #333
User from discord is running into the MemoryError on the same step but now in the get-started guide. Discord context: https://discordapp.com/channels/485586884165107732/563406153334128681/581584115644629012

[2019-05-24 22:16] shcheklein commented on #380
@Naba7 thanks for reporting this! it requires 2-3GB memory to run as far as I remember. 2-3GB is a reasonable requirement for the local machine. What was your configuration? was you running it using docker by chance?

[2019-05-25 05:28] Naba7 commented on #380
I got 4GB RAM,still not able to run it. I used git and terminal on ubuntu 18.04LTS.

[2019-05-25 15:06] Naba7 commented on #380
What about using stratified sampling in featurization.py?

[2019-05-25 16:09] ei-grad opened #381 "Google Drive remote documentation"
Just creating the docs issue for the upcoming iterative/dvc#2040 which would bring the Google Drive support.

Some things to mention:

1. There are 3 types of URLs:

    1. Subfolder in the "My Drive" folder:

           gdrive://root/Datasets/my-dataset

    2. Folder by ID (recommended):

           gdrive://1r3UbnmS5B4-7YZPZmyqJuCxLVps1mASC

        (get it from the last part of URL https://dri

[2019-05-25 18:49] Naba7 commented on #380
I tried changing row dimensions of df_train as df_train.iloc[10000:,:]. But then I am getting valueerror as size of rows doesnt match which is obvious.

Running command:
	python src/featurization.py data/prepared data/features
The input data frame data/prepared/train.tsv size is (20110, 3)
Traceback (most recent call last):
  File "src/featurization.py", line 85, in <module>
    save_matrix(df_tra

[2019-05-25 19:08] ryokugyu commented on #380
I think RAM is the only issue here @shcheklein . I tried the tutorial and it executed successfully.
My machine has 12 GB RAM.
It;s just beefy RAM requirement I think!

[2019-05-25 19:10] ryokugyu commented on #380
Did you tried different test train split sizes?

[2019-05-25 20:12] shcheklein commented on #380
@ryokugyu @Naba7 to be precise - this about get-started, not tutorial, right? There is a separate ticket for tutorial - #333

Most likely, the reason for both (get-started and tutorial) to consume that amount of memory is the way `CountVectorizer` works. Not the end result - matrix itself might be large, but not _that_ large.

Check this link and some tricks how to optimize ti - https://medium.com

[2019-05-25 20:18] #349 closed

[2019-05-26 05:31] Naba7 commented on #380
Test set and train set are different files. So, no need to do the splitting

[2019-05-26 05:32] Naba7 commented on #380
yes,it is about getting-started

[2019-05-26 05:41] ryokugyu commented on #333
With 12 GB of RAM,  I am still getting memory error.
@shcheklein

[2019-05-26 06:27] Naba7 commented on #380
No HashingVectorizer didnt help. The first line where error occurs is assigning values to df_train. Hence,I am checking all other methods mentioned in the article.

[2019-05-26 13:02] Naba7 commented on #380
I think first dividing the large train file into chunks by tweaking ``read_csv``'s ``iterator`` and  ``chunksize`` parameter as in http://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-chunking, then applying the ``CountVectorizer`` on each of the chunks and then using ``append`` function to create ``document-matrix`` may be a good idea.

[2019-05-26 13:02] Naba7 commented on #380
I think of changing Max_features parameter in  bag_of_words from 5000 to 50.

[2019-05-26 18:13] sanidhyamangal commented on #185
@shcheklein  can I work on this issue? if yes can you please provide me with some more specs regarding this ticket?

[2019-05-27 06:20] ryokugyu commented on #333
@efiop  what kind of beefy RAM requirements is this? Someone mentioned changing the MaxFeature parameter to 50 from 5000.

[2019-05-27 20:10] shcheklein commented on #380
@Naba7 have you tried this change? does it solve this issue? I would expect the problem is not with the number of features (5000) but in the size of the dataset and the way CountVectorizer works - it needs to iterate though _all_ combinations before it can cut 5000 most meaningful.

Can you share the HashingVectorizer experiment?

[2019-05-27 20:18] shcheklein commented on #185
@sanidhyamangal sure! thanks for your help. The best to start is to try some experiments, for example, using the https://github.com/iterative/example-get-started project. Also, it might make sense to check the code - `dvc/dvc/repo/status.py` and `dvc/dvc/stage.py:863` - and see what possible values it returns now. If you have have any questions, please joint the dvc.org/chat and use #dev-docs or #

[2019-05-28 06:32] Naba7 commented on #380
Hashingvectorizer didn't work because the error was in setting the values
of df_train. I am trying to implement the above mentioned method of
dividing into chunks and then appending it. Till now no success.

On Tue 28 May, 2019, 1:40 AM Ivan Shcheklein, <notifications@github.com>
wrote:

[2019-05-28 10:23] Naba7 commented on #380
The problem with hashingvectorizer is we can't trace back to the labels that has been hashed at one time,so even if memory error will be solved but we wont get a proper labelization of features.

[2019-05-28 11:03] Naba7 commented on #380
[featurization (copy).pdf](https://github.com/iterative/dvc.org/files/3227259/featurization.copy.pdf)
Till now,I tried changing resd_csv while adding iterator and chunksize operators and writing a for loop for countvectorizer. The script isn't error-free, I am working on it to make it error free.

[2019-05-28 13:32] Naba7 commented on #380
The error while changing CountVectorizer to HashingVectorizer:
[code]

[2019-05-28 20:40] efiop opened #385 "document `dvc import` and `dvc get` (previously `pkg` commands)"
UPDATE: See description in https://github.com/iterative/dvc/pull/2160 instead.

---
OLD: Some introductory descriptions for DVC packages (from Discord):

  pkg will allow you to "import" the project
  `dvc pkg import awesome_project://awesome_data` (syntax may be incorrect)

[2019-05-29 01:20] #348 closed

[2019-05-29 01:22] shcheklein commented on #336
So, let's keep it simple for now.

[2019-05-29 01:22] #336 closed

[2019-05-29 04:38] jorgeorpinel commented on #385
Main references found in core repo:
- https://github.com/iterative/dvc/issues/1772
- https://github.com/iterative/dvc/pull/2012
- https://github.com/iterative/dvc/pull/1742

Also, funny: `dvc pkg` doesn't have a `-h` option. Is that normal? Opened https://github.com/iterative/dvc/issues/2065

[2019-05-29 05:31] shcheklein commented on #380
@Naba7 I don't quite understand why this error happening. Line 75 is even before CountVectorizer. Can you share more details, please?

[2019-05-29 05:35] shcheklein commented on #380
@Naba7 could you check how large the `train_words_binary_matrix` is?

[2019-05-29 06:03] #156 closed

[2019-05-29 06:21] efiop commented on #385
@jorgeorpinel Sorry for the rush, the PR that this relates to is https://github.com/iterative/dvc/pull/2012 , which is not merged yet. I've just created this task in advance.

[2019-05-29 06:28] algomaster99 commented on #372
Lint-staged is dropped since it wasn't bailing out after formatting files. It was staging the files and committing it.

[2019-05-29 06:32] efiop commented on #333
@ryokugyu Unfortunately I don't know specific minimal RAM requirements for running the tutorial :(

[2019-05-29 07:06] algomaster99 opened #387 "update setup instructions in documentation"
The changes in [iterative/dvc#2017](https://github.com/iterative/dvc/pull/2017) make the setup process different. Instead of using `requirements.txt`, `setup.py` is solely used now.

[2019-05-29 11:35] Naba7 commented on #380
The thing in here is,the error occurs at line 75, not at CountVectorizer. This arraysize needs to be fixed.

[2019-05-29 13:13] sanidhyamangal commented on #185
@shcheklein sure will give it a try.

[2019-05-29 19:21] #306 closed

[2019-05-29 21:58] jorgeorpinel commented on #385
Oh. @shcheklein asked me to give this one priority. Are you saying I should wait for that PR to close first Ruslan? Makes sense to me 😃

[2019-05-29 22:04] shcheklein commented on #385
@jorgeorpinel this is a priority :) we will see if we merge it before pkg code is merged or not. It will also take some time to get the docs for it done end-to-end. It's a big feature.

[2019-05-30 06:06] ryokugyu commented on #333
with 12 GB of RAM, it is still not executing. I think the problem is not memory, rather its some implementation issue.

[2019-05-30 06:12] algomaster99 commented on #387
Fixed by 203d7d0

[2019-05-30 06:12] #387 closed

[2019-05-30 06:25] algomaster99 commented on #361
@shcheklein I wanted to work on this but I think it can only be integrated by the admins of org. Do we need to pay for their service?

[2019-05-30 06:30] algomaster99 commented on #360
@shcheklein
![Screenshot from 2019-05-31 06-37-51](https://user-images.githubusercontent.com/35191225/58612973-fadbdf00-82d1-11e9-9e84-ef8ed4a3fb53.png)
I think I can't integrate continuous integration test. :confused:

[2019-05-30 11:36] Naba7 commented on #380
@shcheklein
[code]
Can you please check it on your system this is the code for featurizationn.py?
The error shows:
[code]
I can't get the why is it showing syntax error.

I followed this https://stackoverflow.com/questions/33642951/python-using-pandas-structures-with-large-csviterate-and-chunksize

[2019-05-30 11:46] Naba7 commented on #282
Is anyone assigned this? @efiop @shcheklein Can I be assigned this?

[2019-05-30 17:07] #362 closed

[2019-05-30 19:28] jorgeorpinel opened #392 "fix automatic linking to `dvc cmd subcmd`"
Currently code blocks like `dvc remote modify` or `dvc pkg install` are converted to a link to the parent command reference, with an (often inexistent) `#` anchor to the subcommand (e.g. `/doc/commands-reference/remote#modify`)

Option 1: fix the automatic linking so the docs engine can link to subcommands correctly.

Option 2: change all references to subcommands in docs using regular md links (e

[2019-05-30 19:48] jorgeorpinel commented on #364
I guess this info would go in the contributing documentation guide. I vote for `npx`.

p.s. I often `git add` my changes and then use `git diff --staged --name-only | xargs npx prettier --write` to lint only the staged files. But that shouldn't be necessary anymore now that we have automatic `pretty-quick` (kudos @algomaster99 in #386)

[2019-05-30 22:55] shcheklein commented on #282
@Naba7 no, no one is assigned! Feel free to start on this. Let us know if you need any help :) Thanks!

[2019-05-30 22:59] shcheklein commented on #392
Yep, we need to wait until this one is solved https://github.com/iterative/dvc.org/issues/305 because it will change the way we put URLs together.

[2019-05-30 23:02] shcheklein commented on #361
@algomaster99 makes sense, I'll take a look and enable it for the org. I hope we don't need to pay since the project is open and we don't need to run a lot of checks in parallel right now.

[2019-05-30 23:03] shcheklein commented on #360
@algomaster99 same as with CodeClimate thingy, let me take a look and enable it.

[2019-05-30 23:05] shcheklein commented on #364
We have added a mention already how to run it for a single Markdown file. Do we need anything else here? Add a command for JS?

[2019-05-31 03:50] algomaster99 commented on #364
@shcheklein It's the same. You just need to write js files in `<files>` instead of md files.

[2019-05-31 05:48] shcheklein commented on #364
ok, closing it then. Feel free to reopen it if you feel we are missing something here.

[2019-05-31 05:48] #364 closed

[2019-05-31 18:02] ricardoserradas opened #393 "compare-experiments - Was 'bigram-experiment' supposed to be another tag?"
I was going through the `compare-experiments.md` and I faced the following expected output:

[code]

But mine was:

[code]

Although the output shows an understandable message, I assume there might be a previous step to create the `bigram-experiment` due to the presented context.

I see two solving options here:

- Adding the steps to create the `bigram-experiment` or
- Updating the expected outpu

[2019-05-31 21:02] algomaster99 commented on #100
@shcheklein Is this issue about `dvc init --no-scm` command? How does it change the workflow? For example, `dvc diff` wouldn't work since the project won't have any commits.

[2019-05-31 23:03] shcheklein commented on #380
@Naba7 it looks like you got the indent wrong:

[code]

Also, in those cases (to debug) I would recommend to either run it with `-v` or just a plain command:

`python src/featurization.py data/prepared data/features`

so that you can see the full stack trace.

Also, are using any IDE or something? Some of them are highlighting syntax errors.

[2019-06-01 04:13] shcheklein commented on #100
@algomaster99 yes, some commands won work. I would say, it a very low priority issue. Let's not focus on this one for now.

[2019-06-01 13:43] Naba7 commented on #380
No,I used terminal and sublime text editor. Okay,my bad.

[2019-06-01 14:01] kurianbenoy opened #394 "mention in tutorial about ls -i meaning"
[code]

In [tutorial page](https://dvc.org/doc/tutorial/define-ml-pipeline), where we mention this code block, we can tell that it prints the index no of each file, and inode in cache and data/ is same.

Should I mention @shcheklein this as a comment in code block, or in documentation?

[2019-06-01 14:15] kurianbenoy commented on #367
Can I work on this? as now dvc#2030 is merged

[2019-06-01 17:38] shcheklein commented on #367
@kurianbenoy that would be great! :) thanks.

[2019-06-01 17:45] shcheklein commented on #394
Yep, makes sense. I would explain after the code block this and the emphasize that number it the same.

[2019-06-01 18:25] shcheklein commented on #393
Looks like a minor bug in `dvc metrics show -T`. `master` should not be included.

There is a step that creates `bigram-experiment`. @ricardoserradas, please check the `compare-experiments.md` once again:

[code]

I would rename `Working Tree` to just `working tree` along the way. It's not a title or something.

[2019-06-01 18:35] shcheklein opened #395 "document optimization and caveats running DVC on Windows"
Context is here: https://github.com/iterative/dvc/issues/2047

It should be a separate page in user guide.
There should be a link in a few places to this page - get started, tutorial, etc.

[2019-06-02 01:08] shcheklein commented on #361
done, it's integrated now. No need to commit any configs for this.

[2019-06-02 01:08] #361 closed

[2019-06-02 01:22] shcheklein commented on #360
@algomaster99 I've enabled the integration and added the initial version of the config file.

[2019-06-02 18:45] kurianbenoy commented on #333
As @shcheklein  said I tried out reducing no of features in `Count Vectoriser` from 2500, 1000, 100, 50,1 and all of them gave memory error.

[2019-06-03 15:29] vibhor98 commented on #53
Hi @shcheklein, I'm Vibhor and I'm new to DVC community. I have been contributing to the open source projects since more than a year now. I'm GSoD' 19 aspirant. I would like to take up this issue to create user guide to cover up all the remaining concepts. Shall I go ahead? Thanks!

PS: I have already read DVC documentation and found it really helpful in getting started.

[2019-06-03 17:12] shcheklein commented on #53
@vibhor98 hi! welcome to the community. I'm happy to see that you are interested in collaborating with us. Sure, would be great if can make some progress with this. Feel free to do a PR. I would recommend though to start with something simpler just to learn our requirements, learn the workflow, learn DVC, etc. After that jump to this one. Let me know what your thoughts are and if you need our help

[2019-06-03 17:34] algomaster99 commented on #68
@efiop @shcheklein Can I take this issue? Also, please provide me with the link of the file where this evaluation happens :smile:

[2019-06-03 17:41] #326 closed

[2019-06-03 17:56] shcheklein commented on #68
discussed in private, will start with #271 for now.

[2019-06-03 18:18] vibhor98 commented on #53
@shcheklein, thanks for quick response! I completely agree! I would like to start from something simpler and later on take up this one. Can you please help me in picking up simpler issues? Thanks!

[2019-06-03 18:23] shcheklein opened #404 "cmd ref: review `root` ref to be aligned with other commands"
See https://dvc.org/doc/commands-reference/root.

i.

- [x] The layout of this command reference is outdated.

- [x] It should be the same as for the [cache](https://dvc.org/doc/commands-reference/cache) for example.

ii.

- [x] Description should include a better motivation for this command - mostly ease of generating stage files no matter where you run the `dvc run`.

- [x] Examples should be ac

[2019-06-03 18:27] shcheklein commented on #53
@vibhor98 how about this one - https://github.com/iterative/dvc.org/issues/404? And please, join the chat dvc.org/chat and use #dev-docs channel to ask any question re the DVC.

[2019-06-03 18:28] shcheklein commented on #53
@vibhor98 if #404 sounds good, please leave a comment that you are taking it. Thanks!

[2019-06-03 18:32] vibhor98 commented on #404
Hi @shcheklein, I would like to take up this issue. Thanks!

[2019-06-04 13:40] Naba7 commented on #380
https://gist.github.com/Naba7/4a6697b9295848b0fc24ef9059342d01
@shcheklein Can you check this?

[2019-06-04 13:45] Naba7 commented on #333
I tried chunking into smaller dataframes and then appending it to make a training dataframe. Just try the gist code and please help in resolving the errors.

[2019-06-04 15:32] Naba7 commented on #282
@shcheklein  @efiop I read the documentation for pre-push from SCM git but I can't find where to document pre-push as there is already https://dvc.org/doc/commands-reference/push . I took reference from https://dvc.org/doc/commands-reference/checkout , still can't figure out.

[2019-06-04 15:54] shcheklein commented on #282
@Naba7 it should be part of this doc - https://dvc.org/doc/commands-reference/install

[2019-06-04 16:38] jorgeorpinel commented on #372
Hi @algomaster99 ! I'm not sure this is working as expected so reopening:

When I add changes to git and then commit, if files are automatically formatted those automatic changes should NOT be staged automatically I think, but they are currently. Not sure it's a huge deal but is it possible to change the setup so automatic formatting isn't automatically staged to git?

Thanks

[2019-06-04 18:53] ryokugyu commented on #333
@shcheklein  @Naba7 I think there is something wrong with stage.py / run.py.
I tried executing the code on Anaconda 3. It executed successfully.

/doc/tutorial one.

But when running with DVC commands, it is giving an error.
Which eliminates the chances of any error in the code. We have to go through the DVC commands files.

[2019-06-05 05:39] algomaster99 commented on #372
@jorgeorpinel Okay, I will try that changes don't get staged.

[2019-06-05 07:04] Naba7 commented on #333
Yes,You may be correct because I tried it with colab and notebooks it worked fine. No,I do not think so, because the error that shows is array size can't be handled properly. May be error is in stage.py or in featurization.py. Because in my terminal it shows error is in featurization.py

[2019-06-05 07:05] jorgeorpinel commented on #372
That would be super useful. Please lmk if you get stuck or need any help 😃

[2019-06-05 07:47] ryokugyu commented on #333
it will show that the error is in featurization.py. But check this [gist](https://gist.github.com/ryokugyu/286a7e9db444ada566084cbb860081bc)

[code]
Imo, the program is executing fine.

[2019-06-05 17:10] J0 opened #409 "Unable to run tests as per documentations page"
I'm currently using zsh and mac osx mojave

I am trying to run tests for a PR that I just opened. I created a fresh fork of DVC.
As per the [documentation page](https://dvc.org/doc/user-guide/contributing#development-environment) I ran

[code]
I then ran `pip install -e .[all,tests]` but this produced the following error:
`zsh: no matches found: .[all,tests]`
so I directly ran `pip install -e.`

U

[2019-06-05 17:10] J0 opened #412 "unable to run tests as per documentations page"
I'm currently using zsh and mac osx mojave

I am trying to run tests for a PR that I just opened. I created a fresh fork of DVC.
As per the [documentation page](https://dvc.org/doc/user-guide/contributing#development-environment) I ran

[code]
I then ran `pip install -e .[all,tests]` but this produced the following error:
`zsh: no matches found: .[all,tests]`
so I directly ran `pip install -e.`

U

[2019-06-05 17:53] #394 closed

[2019-06-05 18:11] jorgeorpinel opened #411 "user-guide: review "Managing External Data" examples"
See doc in question: https://dvc.org/doc/user-guide/managing-external-data#examples (SSH)

This part ~~specifically~~ for example may not make sense:
[code]
~~Because the `sshcache` remote name is never used.~~

- [x] Also, the paths used in SSH URIs throughout don't match (`:/cache` vs `:/mydata` vs `:/home/shared/data.txt`).

---
Related to #143

[2019-06-05 18:43] #146 closed

[2019-06-05 21:31] shcheklein commented on #412
It's most likely related to this - https://github.com/iterative/dvc.org/pull/402

[2019-06-05 21:44] #372 closed

[2019-06-05 22:37] shcheklein opened #414 "use single quotes for `pip install` commands with square brackets"
Related to #402 and #412 .

`pip install -e dvc[all]` fails when ZSH is being used

`pip install -e 'dvc[all]'` should be working everywhere sh, bash, zsh.

Check that it's actually working and update our docs.

[2019-06-05 22:37] shcheklein commented on #412
closing in favor of https://github.com/iterative/dvc.org/issues/414

[2019-06-05 22:37] #412 closed

[2019-06-05 23:01] J0 commented on #412
Yup, works for me

[2019-06-05 23:05] J0 commented on #414
`pip install -e '.[all,tests]'` works for me on zsh

[2019-06-06 00:36] shcheklein commented on #381
` rclone already has a high quota and I will continue to make sure it is high enough by contacting Google.` - @ei-grad do you know what the default limits are? Should we contact google to raise these limits?

[2019-06-06 10:11] Naba7 commented on #333
Let me make you understand what I have understood here. The https://github.com/iterative/dvc/blob/master/dvc/stage.py file stages the commands-reference and or in simple words executes the commands. In this case, it fails to execute the file featurization.py because there is an error in it. The error is not able to hold such a large ndarray in a dataframe. So, the error is in featurization which i

[2019-06-06 15:52] kuparez opened #415 "missing information about s3 usage"
Docs don't explicitly say that when one is trying to use s3 or s3 compatible storage there should already exist bucket.

Then, if you would try to push data to s3 and bucket wouldn't exist, you would get the following:
[code]

So I propose to explicitly say in docs that you should already have existing bucket to be able to push to s3.
Following docs are related to s3 usage:
https://dvc.org/doc/get

[2019-06-06 16:45] efiop commented on #415
Moved to dvc.org repo

[2019-06-06 16:51] shcheklein commented on #415
@efiop @pared we need to improve the error message, guys. Ideally, all remotes should behave the same way (local creates a dir as far as I remember). Documentation should be fixed, yep.

[2019-06-06 16:59] efiop commented on #415
@shcheklein even though error says that `NoSuchBucket`, but yes, we could catch it and show something friendlier. Created https://github.com/iterative/dvc/issues/2100 .

As to creating dirs, dir is not the same as bucket, we do automatically create prefixes everywhere. But, thinking about it, we actually auto-create containers in Azure, so maybe creating something by-default is fine with s3 too af

[2019-06-06 18:12] shcheklein commented on #333
@Naba7 you are correct about the logic behind the stage!

Re the memory error. I still believe this is how CountVectorizer is working. I would try to replace it (I'm not sure if it makes sense), read about some possible optimization techniques.

I would also try to run some memory profiler if possible to see precisely where the bottleneck is.

dask is too advanced for the get started or NLP tutori

[2019-06-07 00:44] Naba7 commented on #333
Alright!

On Thu 6 Jun, 2019, 11:43 PM Ivan Shcheklein, <notifications@github.com>
wrote:

[2019-06-07 17:01] ryokugyu opened #420 "dvc version: incomplete information"
![Screenshot (36)](https://user-images.githubusercontent.com/16274905/59120629-865d0c00-8973-11e9-9821-342ee95f6c35.png)

But, it mentions  [here](https://github.com/iterative/dvc.org/blob/master/static/docs/commands-reference/version.md)
that `filesystem type ` and `cache` information will be shown too.
There is no output like this.  Also mentioned the issue in https://github.com/iterative/dvc/is

[2019-06-07 19:02] shcheklein commented on #420
@ryokugyu I believe, the version with this change is not released yet, please try the development version:

either this way: https://dvc.org/doc/user-guide/development
or this: https://dvc.org/doc/user-guide/contributing

I'm not sure I understand your concern re the Windows section.

[2019-06-07 19:02] #420 closed

[2019-06-07 23:34] jorgeorpinel opened #423 "there's ambiguity between the terms "stage" and "stage file""
(Emanating from #321)

- Directly affects `dvc add`, `dvc import`, and `dvc run` command refs.
- Indirectly affects many other docs where these terms are used. See for example the description of the `dvc lock` cmd ref.
- ~~Look also double check the usage of the term "step(s)" (which should be **stages**).~~ Related: #448

**Definitions**

From @mroutis:

**Aproach**

From @shcheklein:

[2019-06-07 23:37] jorgeorpinel opened #424 "create glossary"
From https://github.com/iterative/dvc.org/issues/321#issuecomment-491665471

- [x] Create new **Glossary** ~~doc~~ with definitions to relevant DVC concepts and terms. Use appropriate links to other docs in these definitions.
- [ ] Mention to "utilize the terminology listed in the glossary(linked) consistently" in the docs contrib guide.

---
UPDATE: Main terms that can be grouped in single entrie

[2019-06-07 23:40] jorgeorpinel opened #425 "user-guide/get-started: reorganize "Understanding DVC" section"
Files currently located in `/static/docs/understanding-dvc/`

Remove all the **Understanding DVC** docs and just rescue all that is unique and valuable into the get started and user guide docs.

UPDATES:
- See example actions in https://github.com/iterative/dvc.org/issues/425#issuecomment-500141659
- See deeper discussion (still example based) in https://github.com/iterative/dvc.org/issues/425#iss

[2019-06-08 06:22] Naba7 commented on #414
Can I be assigned this issue @shcheklein ?

[2019-06-08 06:27] Naba7 commented on #414
Can I be assigned this issue @shcheklein ?

[2019-06-08 09:00] ryokugyu commented on #420
But, I have installed the development version only. @shcheklein That's why I mentioned it here.
Also, I again updated to the latest version, but still the same problem persists

![Screenshot (37)](https://user-images.githubusercontent.com/16274905/59144887-e9918180-89f9-11e9-973d-7b12b1cbb07f.png)
.

[2019-06-08 10:04] ryokugyu commented on #425
Will you please give an example of this for better understanding? @jorgeorpinel

[2019-06-08 11:46] kurianbenoy opened #427 "Correct documentation URL in dvc <command> -h"
[code]

- I would like to fix this bug. So assign me the bug

[2019-06-08 14:47] kurianbenoy commented on #424
I would like to work on this after completing #396

[2019-06-08 14:56] efiop commented on #427
@kurianbenoy What is the bug?

[2019-06-08 14:58] efiop commented on #427
The link is correct, it is just a more nicely-looking shortcut.

[2019-06-08 14:58] #427 closed

[2019-06-08 15:20] efiop commented on #420
@ryokugyu From your screenshot the dvc version that you are using is 0.40.2, which is definitely not the upstream version since the latest release was 0.41.3. I suppose you are not installing dvc correctly from the upstream. Continuing discussion on discord.

[2019-06-08 17:00] shcheklein commented on #414
@Naba7 sure! thanks. feel free to fix it.

[2019-06-08 17:03] shcheklein commented on #424
@kurianbenoy sure! but let's coordinate here first with @jorgeorpinel, what terms we should put into Glossary, their definitions, etc.

[2019-06-08 17:09] shcheklein commented on #425
@ryokugyu for example:

[How it works](https://dvc.org/doc/understanding-dvc/how-it-works) - should be reviewed, simplified. made actionable. move to the user guide
[What is DVC](https://dvc.org/doc/understanding-dvc/what-is-dvc) - reviewed, moved to the user-guide

etc.

[2019-06-08 17:21] shcheklein commented on #427
It's also about having a stable link which does not depend on the documentation structure.

For example, as part of the #305 we are moving commands like `command-reference/remote-add` to `command/remote/add`. It easy to change the way we redirect `man.dvc.org` and make sure these links still work on older DVC versions.

[2019-06-09 06:51] #271 closed

[2019-06-09 08:38] algomaster99 commented on #424
To start the list, here are a few suggestions:
- Pipeline/computation graph
- Cache and workspace
- Metric
- Dvcfile

[2019-06-09 14:56] Naba7 commented on #414
Hey @shcheklein Its really nice to say thanks but I kind of like DVC and want to explore and know about the stuff happening around,so there is no need to say thanks.

[2019-06-09 16:06] ryokugyu commented on #424
@kurianbenoy let's work together on it. I am also working on a tutorial which is about to complete.

[2019-06-09 16:08] ryokugyu commented on #424
Further,
* repro
* staging
* remote
* lock
* workflow

[2019-06-09 23:04] shcheklein commented on #424
Related #296 . I would say glossary should be very simple and it's main purpose probably to serve as an index and as a guide for contributors. While #296 should introduce DVC concepts like cache, workspace, etc in more details.

[2019-06-10 04:21] Soumya0803 commented on #72
HIi @shcheklein. I would like to work on this issue.

[2019-06-10 09:20] ei-grad commented on #381
![image](https://user-images.githubusercontent.com/78607/59185524-5ed79080-8b79-11e9-8f7b-830a5a70650c.png)

I don't think it would be needed in near future. Usecase of rclone is a bit different from DVC's. But it may be a good idea to setup a monitoring somehow to see if DVC's default quota is overused, so we could contact them early.

[2019-06-10 09:27] ei-grad commented on #381
@dmpetrov may have a better understanding if GDrive backend would be heavily used by something like a webinar or class lessons in the groups of students... Probably 10+ users syncing a big repo would affect each other, so maybe we have to give the instructions for the teachers to recommend to use the separate client tokens per student in such scenarios.

[2019-06-10 09:30] ei-grad commented on #381
We also can go to the dark side and create some client tokens in advance, and chose between them randomly :).

[2019-06-10 13:05] algomaster99 commented on #424
@shcheklein  Who is working on this? I can take this up if it is unassigned. :)

[2019-06-10 16:49] shcheklein commented on #72
@Soumya0803 sure! feel free to write a document for this. Please join our chat dvc.org/chat, we have separate #dev-docs channel if you have any questions.

[2019-06-10 16:51] shcheklein commented on #381
@ei-grad makes sense, thanks!

[2019-06-10 19:11] shcheklein commented on #424
@kurianbenoy have you started working on this? @algomaster99 it would be great, please coordinate with @jorgeorpinel on this as well.

[2019-06-10 19:53] shcheklein opened #429 "cases: update Shared Dev Server with an optimization link"
UPDATE: See summary in https://github.com/iterative/dvc.org/issues/429#issuecomment-553118884 below.

More context here - https://discuss.dvc.org/t/share-nas-data-in-server/180/4?u=shcheklein

[2019-06-11 00:28] jorgeorpinel commented on #424
Thanks for all the interest guys. I came up with this suggestion mainly for some key concepts that aren't really explained in user guides and which probably don't need a full doc each. All of the terms you have listed above I think are already well explained though, so they may not need a glossary entry. Or maybe we can just list them in the glossary without a description, just linked to an approp

[2019-06-11 00:30] jorgeorpinel commented on #424
p.s. should we discuss the details on Discord so everyone in the team can comment and to keep this issue from growing too long in its comments?

[2019-06-11 00:51] algomaster99 opened #430 "broken links dvc-philosophy in documentation"
I found a section in documentation which seems to be broken.
- [https://dvc.org/doc/dvc-philosophy/](https://dvc.org/doc/dvc-philosophy/).

[2019-06-11 00:54] shcheklein commented on #430
should be changed to https://dvc.org/doc/understanding-dvc/

[2019-06-11 03:43] jorgeorpinel commented on #423
After much reviewing the docs AND the core repo code I think the best way to clarify all this would be to
a) Abolish the usage of the term "DVC-file" to eliminate one of the 3 synonyms.
b) Always use "stage file" for files with `.dvc` extension, and "_orphan_ stage file" when necessary for the ones created by the `dvc add` command (without `deps`).
c) Use the term "stage" with the base name of the

[2019-06-11 16:57] shcheklein commented on #404
Partially done by @vibhor98 . I've updated the description a little considered the changes done.

[2019-06-11 17:37] shcheklein commented on #423
My take on this is that orphan stage file and even stage file are too complicated. I would use them only when we deal with pipelines. We should try as much as we can to avoid using terms like stages when we are introducing `dvc add` in the get started, for example.

I agree re the `.dvc`.

We can consider converting DVC-file and DVC-files into links automatically to the DVC File section.

[2019-06-11 23:25] jorgeorpinel opened #432 "misc. terminology clarifications et al."
- [x] The usage of "don't/doesn't" vs "do/does not" (the latter forms is more emphatic).
- ~~"Remote" vs "data remote" vs "DVC remote" (or even "DVC data remote").~~ Extracted to #440
- [x] Review `Dvcfile` usage and correctness.
- [x] Don't refer to "THE pipeline" as DVC projects support multiple pipelines: emphasize this somewhere in the docs
- ~~Should `.dvc/cache` directory always have a trail

[2019-06-12 03:06] jorgeorpinel commented on #321
Sorry, 2 of the checkboxes in the original description weren't completed with the PR that closed this. Reopened this issue and opened PR #433

[2019-06-12 09:12] algomaster99 commented on #430
@shcheklein I think it only came as suggestions when searched. So only the API needed an update. Hence closing this :)

[2019-06-12 09:12] #430 closed

[2019-06-12 09:15] algomaster99 commented on #414
@shcheklein

I think this can be closed.

[2019-06-12 16:05] shcheklein commented on #414
@algomaster99  `... and update our docs` - that's the primary goal of this ticket :)

We need to go put [something] into single quotes.

[2019-06-12 17:01] algomaster99 commented on #414
@shcheklein why do we need to put it in single quotes if it is working without them? The docs already don't include them in signle quotes.

[2019-06-12 17:02] shcheklein commented on #414
@algomaster99 it does not work w/o them on ZSH

[2019-06-12 17:06] algomaster99 commented on #414
@shcheklein Okay, I'll make the changes but test it once again just to be sure. :)

[2019-06-12 17:55] jorgeorpinel commented on #423
My latest PR (#433) already standardizes all the docs as much as possible to "DVC-file" and always links to the DVC-File Format doc in the first occurrence of the term in each doc.

The thing is that the code calls DVC-files "stage files" although I have a pending PR to alleviate that (See https://github.com/iterative/dvc/pull/2112) but internally objects are still called `StageFile` and the term

[2019-06-12 17:59] shcheklein commented on #423
@jorgeorpinel I don't think it's a problem at all. It makes sense that on a code level we have a way deeper understanding and can use "advanced" terminology. From the user perspective it should be simple, it should be resonating with their needs, etc. We are not optimizing DOCs to be "compatible" with DVC code conventions.

[2019-06-12 18:08] #414 closed

[2019-06-12 18:54] jorgeorpinel opened #435 "docs: automatic linking of "DVC-file(s)" to /doc/user-guide/dvc-file-format ?"
From https://github.com/iterative/dvc.org/pull/433#pullrequestreview-248880490

[2019-06-12 18:56] jorgeorpinel commented on #435
I'm not convinced this is a good idea as some docs include the terms DVC-file/DVC-files multiple times and it's not always necessary to link them. All docs should already have at least the first occurrence linked manually.

[2019-06-12 21:14] #321 closed

[2019-06-13 14:32] Naba7 commented on #194
An almost similar example is https://dvc.org/doc/use-cases/data-and-model-files-versioning and https://dvc.org/doc/use-cases/share-data-and-model-files and ``versioning`` in ``getting-started`` explains it.
I am sorry Can you explain this a little bit more?

[2019-06-13 18:42] #282 closed

[2019-06-13 18:52] shcheklein commented on #194
@Naba7 the point here is in connecting your local environment with a remote one. DVC helps running an expensive training remotely, while you can keep doing some stuff locally. DVC commands in this scenario help you moving pulling/pushing data across different machines.

[2019-06-14 02:11] shcheklein commented on #435
k, closing it for. Let's see how it goes. It might be useful to show some glossary references on the right side?

[2019-06-14 02:11] #435 closed

[2019-06-14 02:50] Naba7 commented on #194
Can I take this up? I am not sure if I can do it,but I'll give it a try.

[2019-06-14 04:36] shcheklein commented on #194
@Naba7 sure! You can take our NLP tutorial or get-started as a base example, and show step by step how to run it remotely via SSH or on S3 EC2 using tools like [spotty](https://github.com/apls777/spotty).

[2019-06-14 06:20] jorgeorpinel commented on #424
Hi. Please see the updated description and notice that a good way to browse for terms that should probably be listed in the glossary and linked to in their original documents is searching for `**bold**` and `_underline_` terms.

Should we also remove all these **bold**/_underline_ and just link instead @shcheklein ? As well as search for the terms everywhere to find instances that are NOT currentl

[2019-06-14 17:52] ryokugyu commented on #340
@shcheklein is the structure decided?

[2019-06-14 18:09] shcheklein commented on #340
@ryokugyu no, not yet. @jorgeorpinel has simplified the config section significantly, so this is issue not that pressing now.

[2019-06-14 18:25] shcheklein commented on #424
I agree with both - linking it once and removing bold, italic, etc. We definitely should be doing this automatically. I would prefer to have something like Github does when you specify `Fixes ###` - it provides a hover message + and a nicely done way to highlight the link.

[2019-06-17 18:21] jorgeorpinel commented on #432
Sorry my bad, #436 didn't fully close this issue.

[2019-06-17 23:27] jorgeorpinel commented on #435
Glossary references on a side pane or in tooltips would be nice.

[2019-06-17 23:35] jorgeorpinel commented on #424
Sounds like the glossary relates to several special features desired that would have to be built into the docs engine.  Perhaps the glossary should be based on a JSON file instead of an MD file, and from therer the engine can load all the terms in order to provide links, tooltips, and generate the glossary page?

cc @algomaster99

[2019-06-18 02:17] jorgeorpinel opened #440 "standardize "remote" related terms"
Review consistency in usage of terms "remote" vs "data remote" vs "DVC remote" (or even "DVC data remote") throughout docs. Eliminate unnecessary synonyms.

[2019-06-18 06:43] algomaster99 commented on #424
@jorgeorpinel Even I was thinking this! Yeah, will try doing that way.

[2019-06-18 08:27] efiop commented on #395
This one https://github.com/iterative/dvc/issues/2132 would fit nicely there as well.

[2019-06-19 18:11] jorgeorpinel opened #443 "cmd ref: update all usage blocks to the latest dvc version"

[2019-06-21 18:09] jorgeorpinel commented on #443
Woops I forgot to fix this in #441 haha

[2019-06-21 20:19] #432 closed

[2019-06-22 01:39] #443 closed

[2019-06-22 04:12] jorgeorpinel opened #448 "term: clarifications (Aug)"
~~Continuation of #432~~

- [x] "remote cache" -> "remote storage"
- [x] Avoid "local cache". (It may be external). Use "cache directory" or maybe "project cache" instead.
- ~~Review usage of "DVC" branding of terms (i/[^`]DVC / regex): Avoid "DVC cache, "DVC pipeline" (others) but keep when necessary, specially "DVC project", "DVC remote" (others)~~
  UPDATE: Done up to static/docs/commands-refer

[2019-06-22 04:25] Naba7 commented on #415
Can I take this up?

[2019-06-22 06:37] Naba7 commented on #415
Actually, it is mentioned in use-cases to create a bucket before connecting it to dvc remote as of here https://dvc.org/doc/use-cases/share-data-and-model-files . But I think mentioning it in commands-reference/remote and commands-reference/config will do good.

[2019-06-22 15:22] ryokugyu commented on #333
@shcheklein @Naba7 @efiop This is just a problem for RAM requirements.

I ran it on my system which has the following configuration :
![config_system](https://user-images.githubusercontent.com/16274905/59965711-6f9be500-952f-11e9-9595-ede8adec3511.PNG)

*And it executed successfully by using almost 98% of RAM.*

imo, RAM requirement is just more than 16 Gb then.

[2019-06-22 18:42] shcheklein commented on #415
@Naba7 definitely, let's mention this!

[2019-06-23 02:27] shcheklein commented on #65
Related discussion: https://discordapp.com/channels/485586884165107732/485596304961962003/574941227624169492

For Mac (installed from pkg):

[code]

[2019-06-23 16:45] Naba7 opened #450 "having a "dvc grep" command like to "git grep""
This command will help the users to navigate through DVC cache files and config files to find the keyword they are searching as well as in the whole repo like ``git grep`` searches for the particular phrase or word.

[2019-06-23 17:37] ryokugyu commented on #450
I think, open this issue is dvc repo,
This repo is for documentation.

[2019-06-24 17:29] shcheklein commented on #415
@Naba7 reopening this since it should be added to the documents actually mentioned in the ticket

[2019-06-24 18:05] dmpetrov opened #452 "no `git push` in the docs"
I have not found any `git push` command in Get Started and in other places. I understand the motivation behind - users should know how to work with Git and we don't want to spend time to set up Git remote in the docs.

However, some user might be confused. They might not know Git enough. Or they might decide that `dvc push` executes `git push`.

It might worth clarifying this in the docs.

[2019-06-24 19:20] ryokugyu commented on #211
which license is used to share the logos/ charts?

[2019-06-24 21:41] shcheklein commented on #211
there is no specific license. It something like this https://github.com/logos . As for the images - use them with a reference to the website.

[2019-06-25 04:42] ryokugyu commented on #211
we need a specific article for this as GitHub has?
or just to add a section in the existing docs.

[2019-06-25 08:44] efiop opened #453 "google cloud storage: document credentailpath config and GOOGLE_APPLICATION_CREDENTIALS env"
https://github.com/iterative/dvc/issues/1562

[2019-06-25 08:58] efiop commented on #453
The change should be done in https://dvc.org/doc/commands-reference/remote-modify

[2019-06-25 16:25] #453 closed

[2019-06-25 23:18] shcheklein commented on #211
@ryokugyu I'm not sure. what's your take on it? Could you check other open source projects, or projects like Kong, Prisma.io, etc.

[2019-06-26 05:50] ryokugyu commented on #211
@shcheklein some have a seperate section for logos like you mentioned prisma.io has.
but, kong has not.

imho, let's add a section titled as `Logos` under `/doc/understanding-dvc/resources` section and share logos/images. also, including how to embed the DVC logo on a web page.

[2019-06-26 05:52] shcheklein commented on #211
@ryokugyu could you share some links?

I don't like the idea of mixing it with Resources. They are different.

[2019-06-26 09:11] ryokugyu commented on #211
Ubuntu: https://design.ubuntu.com/downloads/

OSI : https://opensource.org/logo-usage-guidelines

GitHub: https://github.com/logos

They all have seperate pages for it.

[2019-06-26 12:45] Naba7 opened #457 "bugs in scripts/completion/dvc.bash"
In ``run.md`` the flag ``--overwrite-dvc-file`` is documented as ``--overwrite-dvcfile``

In documentation ``-v`` is used for ``verbose`` rather than ``-V``

Some outdated flags still in use as such ``--all-pipelines`` in ``repro`` and there are some more too.
In ``run``  ``--outs-persist``, ``--outs-persist-no-cache`` are flags but not explained in ``Synopsis``

[2019-06-26 13:06] Naba7 commented on #452
We have clarified the difference in ``git-push`` and ``dvc-push`` in commands-reference/install.md. Anyway there is no specified mention of ``git-push`` in getting-started. I would love to take this up.

[2019-06-26 13:11] Naba7 commented on #415
@shcheklein Sure, I will prepare a proper markdown file for this.

[2019-06-26 13:13] Naba7 commented on #415
I should add the same to commands-reference/remote-add. Thanks @shcheklein

[2019-06-26 17:56] Naba7 commented on #333
Yes,it has been discussed in discord. The problem is people not having the requirements can't use the tutorial or getting-started.

[2019-06-26 18:38] vibhor98 commented on #395
Hi @shcheklein, as recommended,  I'm working on this issue. Thanks!

[2019-06-26 22:02] shcheklein commented on #457
It looks like it's a problem with the bash script being out of sync, not with docs. Please, reopen it if there is something actually wrong with the docs. For example if there is some option in `dvc command --help` that is not present in docs, or name is wrong, etc.

[2019-06-26 22:02] #457 closed

[2019-06-26 22:45] #415 closed

[2019-06-26 22:46] shcheklein commented on #452
@Naba7 sure! But, please, let's first outline specific changes you would like to make here first.

[2019-06-27 06:06] ryokugyu commented on #333
@Naba7 I am working on a new tutorial. It will be up soon. With a smaller dataset and fewer RAM requirements.

[2019-06-27 10:18] Naba7 commented on #457
Actually, the query here is in ``repro`` ``-P`` or ``--all-pipelines`` is described in ``usage`` but not documented in ``Synopsis`` . The same case with ``--outs-persist`` and ``--outs-persist-no-cache`` in ``run``. Other stuff I had mentioned are bugs in scripts.completion/dvc.bash. But the flags mentioned in ``usage`` and not in ``synopsis`` is a bug in docs/commands-reference.
Thanks:)

[2019-06-27 16:35] maximerischard opened #460 "cmd ref: improve `run` and `commit` / how to add outs/deps without re-running stage?"
Often when I run a command with `dvc run`, I realise that I have forgotten to specify one of the outputs. I would therefore like to update the DVC file with an additional output, but without re-running the (potentially expensive) command.

With the help of @efiop on the discourse channel, I was able to figure out that this can be achieved with the following steps:
1. `dvc run` with the additional

[2019-06-27 17:13] ryokugyu commented on #460
already started working on it. @jorgeorpinel

[2019-06-27 17:19] jorgeorpinel commented on #460
This would make a great note in the command descriptions and possibly a new example, at least in `dvc run`.

[2019-06-27 17:45] jorgeorpinel opened #461 "glossary: add <abbr> tags everywhere!"
~~Once #431 is merged,~~

There will be an initial glossary.js file with a set of terms we want to add `<abbr>` tags around in the md files so they display glossary tooltips on hover and dotted underline links to click on (for mobile).

- [x] Implement mobile view ~~per https://github.com/iterative/dvc.org/pull/431#pullrequestreview-263985560~~ @algomaster99

- [ ] Add missing glossary terms liste

[2019-06-27 19:10] shcheklein opened #462 "remote add: add more details on setting up Azure"
More context is here https://github.com/iterative/dvc/issues/2200

[2019-06-27 19:20] shcheklein commented on #457
@Naba7 let's open a new issue that describes only the problems in docs, please.

[2019-06-27 20:18] jorgeorpinel opened #463 "api: create documentation"
`dvc.api.get_url`
`dvc.api.open`
`dvc.api.read`

~~Please more insights here~~ More details in https://github.com/iterative/dvc.org/issues/463#issuecomment-514139792.

Also, please update the one mention to API in the data registry (which will me merged with #818) per https://github.com/iterative/dvc.org/pull/818#issuecomment-565083934.

UPDATE:

- [ ] Also (at least basic docs for) `dvc.api.summo

[2019-06-27 20:22] jorgeorpinel commented on #423
I think this is resolved now. Both terms "stage" and "stage file" still exist when appropriate, especially in pipeline-related docs.

[2019-06-27 20:22] #423 closed

[2019-06-27 20:49] shcheklein commented on #463
@Suor can you describe it briefly, please :)

[2019-06-27 20:54] shcheklein commented on #460
I agree - it can be even a section in user guide - editing the pipeline.

And of course, `dvc commit` should be improved. @maximerischard you can make those changes easily with the `Edit on Github` button, btw :)

[2019-06-28 07:55] Naba7 commented on #452
@shcheklein  I think of adding ``git push`` under ``share data`` in ``getting-started`` as of:
 - Explaining what is ``git push`` : Updating the remote references with the local references.
 - Can add some of the flags that are also used with ``dvc push``

[2019-06-29 05:09] Naba7 opened #465 "flags in usage not documented in synopsis"
In ``repro`` ``-P`` or ``--all-pipelines`` is described in ``usage`` but not documented in ``Synopsis`` . The same case with ``--outs-persist`` and ``--outs-persist-no-cache`` in ``run``.

[2019-06-29 05:55] ryokugyu commented on #465
you mean, not documented in `Usage` section?

[2019-06-29 06:06] ryokugyu commented on #465
not documented in `options` sections? @Naba7

[2019-07-01 20:23] #465 closed

[2019-07-02 04:39] shcheklein commented on #452
@Naba7 sorry for the delay!

I would say it's worth mentioning this in the following places:

1. `dvc push` command reference. https://dvc.org/doc/commands-reference/push
2. https://dvc.org/doc/get-started/share-data like you mentioned. Just expand an existing note here.

No need to explain git push in both place. Link to it in the command reference should be enough.

[2019-07-02 06:17] ryokugyu commented on #452
@shcheklein in the tutorial, we can show usage of  both `dvc push` and `git push`

[2019-07-02 06:19] shcheklein commented on #452
@ryokugyu `git push` is implied, I'm not sure we should complicate every code snippet with it

[2019-07-02 10:02] Naba7 commented on #452
Alright. No problem, you must be busy with other work :)

1. I will explain ``git-push`` in https://dvc.org/doc/get-started/share-data more vividly.
2. I will mention the link of SCM git-push in commands-reference.

[2019-07-02 12:33] casparjespersen opened #469 "describe config/remote `--local` option and implications of not using it"
Currently, the effect of assigning a connection string to an (Azure) remote is, that the `.dvc/config` file is updated with the actual connection string. This means that it will be exposed to Git, which is unlucky if you care about your data security.

I would suggest a fix where dvc automatically searches for the connection string in an environment variable (or a .env-file, or similar), e.g. `DVC

[2019-07-02 13:41] casparjespersen commented on #469
Sure. It looks like a really interesting project, looking forward to trying it out!

[2019-07-02 16:43] shcheklein commented on #469
@efiop ideally we should be detecting when someone is trying to use `dvc remote modify` to save something into the project's config. So, it looks like it's not only about docs.

@casparjespersen since you are familiar with Azure, would be great if you can edit the remote add, remote modify command references? You can just click the Edit on Github button and put the note online :)

[2019-07-03 13:38] efiop commented on #469
@shcheklein We could do that, but I don't think it is worth the effort to set up notifications for particular remote parameters. It would only complicate the internal logic for matters that are common sense.

[2019-07-03 15:49] #469 closed

[2019-07-03 17:51] ryokugyu commented on #462
@shcheklein (https://dvc.org/doc/commands-reference/remote-add#examples)[dvc remote add] section needs to be updated?

because in the Azure example, `connection string` is already mentioned.

[2019-07-03 20:46] shcheklein commented on #462
@ryokugyu yep, it does not hurt to add more details to remote add and remote modify. For example, we can put a link there to the ticket with screenshots or to some instruction online.

[2019-07-04 13:34] efiop opened #474 "cmd ref: add `dvc update`"
https://github.com/iterative/dvc/pull/2218

[2019-07-04 16:22] 86mm86 opened #475 "Improvement in the Tutorial documentation"
In the **Merge the model to master** subsection, within the **Reproducibility** section of the **Tutorial** documentation, the sentence

could be improved providing an external link that explains how to solve git merge conflicts (like [this](https://help.github.com/en/articles/resolving-a-merge-conflict-using-the-command-line)) for inexperienced users. In addition a note like

could be helpful.

[2019-07-04 16:50] efiop commented on #475
Discord context https://discordapp.com/channels/485586884165107732/563406153334128681/596363281049059348

[2019-07-04 18:37] shcheklein commented on #475
@86mm86 good idea. could you please, edit the doc? there is a button to the right - "Edit on Github". On the top right corner you will see the pen icon - just click and edit it in place. No need to even clone the project :)

[2019-07-04 18:39] #462 closed

[2019-07-04 20:09] 86mm86 commented on #475
I have edited the doc according to the suggested changes. Please review and comment in case further editing is necessary.

[2019-07-04 20:13] shcheklein commented on #475
@86mm86 Yep, I see the fork. But I don't see the commit with the changes. You should press a green button at the very bottom to save the changes.

[2019-07-04 20:20] shcheklein commented on #475
fixed  by #476

[2019-07-04 20:20] #475 closed

[2019-07-04 21:48] #452 closed

[2019-07-05 18:40] efiop opened #477 "cmd ref: describe `update available` output (for import stages) in `status`"
Related https://github.com/iterative/dvc.org/issues/474

UPDATE: Jump to https://github.com/iterative/dvc.org/issues/477#issuecomment-575969853 for some more details.

[2019-07-05 23:19] efiop opened #478 "lock: mention that `dvc update` is now also setting `locked: True`"
https://github.com/iterative/dvc/issues/2238

[2019-07-07 16:03] #395 closed

[2019-07-08 15:09] Naba7 commented on #230
Can I take this up? I will first summarize it then write markdown for it.

[2019-07-08 15:18] shcheklein commented on #230
@Naba7 sounds good. But it should be part of the User Guide section - "Updating DVC-files" - or something like this.

[2019-07-09 03:18] jorgeorpinel opened #480 "doc: update all YAML blocks"
I noticed a lot of the YAML blocks are outdated for example in their indentation, but maybe also in their actual contents?

- [  ] Look for ```yaml code blocks throughout the docs and verify they are correct by reproducing the example commands they come from.

[2019-07-09 19:31] hk7219 opened #481 ""get started example" tutorial having a bug?"
I cloned this tut, https://github.com/iterative/example-get-started and tried reproducing the pipeline and am getting "ValueError: source code string cannot contain null bytes" error. I even manually rewrote the code of featurization.py in case some null characters were messing up the source code but to no avail.

[2019-07-09 19:53] robogeek commented on #481
Could not reproduce.  I am on a Mac OS X running High Sierra 10.13.6.

I freshly downloaded and ran the project using these steps:

[code]

[2019-07-09 19:56] #481 closed

[2019-07-11 18:30] kopytjuk opened #1368 "config: document the way config files play together, add some how-tos or examples?"
EDIT by @shcheklein

Repurposed from a few issues - both come from some misunderstanding/lack of proper docs on how config files (default vs local vs system vs global) play together.

https://github.com/iterative/dvc.org/issues/1368#issuecomment-634456922

------------------------

Currently, there are only two ways to handle secrets (e.g. connection strings, tokens, etc)

1. Use `.dvc/config.loca

[2019-07-11 22:42] jorgeorpinel commented on #478
See #474 first

[2019-07-11 22:42] jorgeorpinel commented on #474
Related (after this one): #478

[2019-07-11 22:46] jorgeorpinel commented on #478
More details (per https://github.com/iterative/dvc.org/pull/464#pullrequestreview-259780115) update `dvc import-get` command ref. around phrase "A pipeline can be triggered to re-execute based on". Explanation:

"...by default all external dependencies are going to be locked (`lock: true and -rev-lock: <git-commit-hash>` in the DVC-file). It means when you run dvc repro or dvc status they are not

[2019-07-12 08:39] BoysFight opened #484 "Small changes, md5's computing last a long time"
I have a large directory contains thousands of images, i added the top directory to dvc. Then i add a small file to the  image directory and run the 'dvc status', computing md5 last a long time. Is this  right?

[2019-07-12 08:54] efiop commented on #385
Note: also need to make sure to add a note that old `import` was moved to `import-url`.

[2019-07-12 09:00] pared opened #485 "update dvcignore docs"
With merging of https://github.com/iterative/dvc/pull/2161
dvcignored is supported in every walk in the code.
Reflect that in docs.

[2019-07-12 15:43] shcheklein commented on #485
@pared please, give a little bit more details on how it should be updated. It's hard to put `walk` into some actionable/writable context for us :)

[2019-07-12 18:44] SpicySyntax opened #486 "get-started: dvc run: command not found on Windows"
I have been working through the getting started portion of this project but have run into a snap at [this part](https://dvc.org/doc/get-started/connect-code-and-data)

I have setup the data and src tree as described:
[code]

but when I run:
[code]
I get:
[code]

But I am able to run the following successfully
[code]

I am not sure what exactly is wrong here. Thanks for any help

[2019-07-12 19:18] shcheklein commented on #486
@SpicySyntax hi! let's try to reproduce and help you out here. Can you give a little bit more details - what OS do you use? Windows/Linux/Mac?

[2019-07-12 19:38] SpicySyntax commented on #486
Sure @shcheklein!
windows 10.0.16299
Python 3.6.8 :: Anaconda, Inc. (Miniconda)
pip 19.0.3
I am using GitBash to run the commands

[2019-07-13 17:51] efiop commented on #486
Hi @SpicySyntax !

Could you please run
[code]
(notice, I've added `-v`)
and show us the log?

[2019-07-13 17:57] efiop commented on #486
@SpicySyntax Also, I've noticed that the command in your logs differs a little bit, so I wonder if there was a typo somewhere.

[2019-07-13 21:00] efiop commented on #486
@SpicySyntax Also, could you please show `dvc version` output? It contains a bit more info than the version itself.

[2019-07-14 01:45] jorgeorpinel opened #487 "cmd ref: advanced examples for import (and get)"
- [x] Note that the `import-url` ref and `external-dependencies` guide also needs an update (See https://github.com/iterative/dvc.org/pull/464#pullrequestreview-257721375).

- [x] Create more sample repos for advanced `import` and possibly `get` command example/s. See https://github.com/iterative/dvc.org/issues/487#issuecomment-517520838 below.

- [x] Actually create/update advanced examples for i

[2019-07-14 05:12] shcheklein commented on #487
Cool. Makes sense. Not the last though - we'll need to update get started, work on use cases, etc. :)

[2019-07-14 05:15] shcheklein commented on #486
More context: https://discordapp.com/channels/485586884165107732/565699007037571084/599335950665121813

[2019-07-15 17:20] #385 closed

[2019-07-16 01:59] shcheklein commented on #484
I think this is duplicate from the core repo. We are investigating the issue.

[2019-07-16 01:59] #484 closed

[2019-07-16 02:01] shcheklein commented on #369
Partially fixed by @algomaster99

Need to investigate if there is a better way to pull the Algolia? NPM package?

[2019-07-16 04:22] algomaster99 commented on #369
@shcheklein
![Screenshot from 2019-07-16 09-43-52](https://user-images.githubusercontent.com/35191225/61265542-3feaa080-a7ae-11e9-94dd-94f77cb632ba.png)

The user means that he saw these errors in the console. This is happening since it failed to fetch content from the CDN links. I think he means these statements as an unexpected error otherwise it's working fine.

Also, an [NPM package](https://w

[2019-07-16 04:33] algomaster99 commented on #369
@shcheklein I suggest that we can get rid of the `HeadInjector.js` since all of the CDN links are available as NPM packages:
- [GitHub markdown CSS](https://www.npmjs.com/package/github-markdown-css)
- [Perfect Scrollbar](https://www.npmjs.com/package/perfect-scrollbar)
- [docsearch](https://www.npmjs.com/package/docsearch.js)

[2019-07-16 10:39] ryokugyu commented on #480
updating all the YAML code blocks. @shcheklein @jorgeorpinel

[2019-07-16 10:59] Naba7 commented on #230
@shcheklein

How to update your pipeline by editing dvc files

1)using dvc move to edit file paths of outputs or dependencies.
2)editting by hand the outputs paths
3)dvc run to make edits in the dependency files

If your source file is a data file, then use dvc move:
dvc move
dvc move is used if a file or a directory has been added to DVC with dvc
add. the source file or directory is moved to its

[2019-07-16 13:32] ryokugyu commented on #230
@shcheklein @Naba7
imo, lets try to avoid editing by hands.
use `dvc run` and `dvc commit` options. such as `--no-exec` options.
for more reference, visit [here](https://github.com/iterative/dvc.org/issues/460).

lately, I was busy with college evaluations.  Also started writing an article `Editing DVC pipelines`  [in this pull request](https://github.com/iterative/dvc.org/pull/479).

[2019-07-16 15:40] Naba7 commented on #230
@ryokugyu Yes, I will mostly prefer dvc run and dvc commit but the user should know that it can be editted by hand. Well, I will add *most-preferable* under dvc run section, what say?

[2019-07-16 15:54] shcheklein commented on #369
yep, the only reason I see behind using CDN is that it can be faster. I would check if algolia is large enough and it can be an issue. Not sure about other two libraries.

[2019-07-16 17:17] jorgeorpinel commented on #480
Cool @ryokugyu, thanks! Just open a PR and reference this issue with `Fixes #480` in the PR description when ready, so we can all help review the changes.

[2019-07-16 17:40] ryokugyu commented on #480
already did this. This is the [link](https://github.com/iterative/dvc.org/pull/488) for PR.

nope.

[2019-07-16 18:01] algomaster99 commented on #369
@shcheklein using [this site](https://bundlephobia.com/), you can find how these packages will affect the bundle.
- docsearch.js: 35.4kB
- github-markdown-css: 4.4kB
- perfect-scrollbar: 5.1kB

These sizes are according to the production environment since the packages are zipped and bundled.

[2019-07-17 06:44] shcheklein commented on #369
so, all of them except for `docsearch.js` are CSS files being injected. Probably, this is the way to do this for those packages. `docsearch.js` - let's do some research, what is the recommended way on the Algolia website to connect their JS? Is it only about the size?

[2019-07-17 07:31] algomaster99 commented on #369
@shcheklein I couldn't find if they recommend a specific way. I think both are fine.

[2019-07-17 07:41] shcheklein commented on #369
Sounds good! k, let's try to migrate docsearch and we can remove the workaround you introduced then.

[2019-07-19 09:02] algomaster99 commented on #369
@shcheklein It is not working somehow.
I ran `npm install --save docsearch.js` and imported it as `import docsearch from 'docsearch.js'`
It throws the followig error:

[code]

And sometimes when it loads, the CSS for it is missing and there isn't any separate NPM package for enabling CSS for it.

[2019-07-19 22:22] shcheklein commented on #369
@algomaster99 k, closing this then. Let's keep it guarded. What about your region, does it work for you now?

[2019-07-19 22:22] #369 closed

[2019-07-20 15:30] #424 closed

[2019-07-20 18:57] jorgeorpinel opened #491 "syntax: review bullet point lists throughout docs"
Per https://github.com/iterative/dvc.org/pull/490#discussion_r305564376

Using these guidelines:
- https://www.businesswritingblog.com/business_writing/2005/12/the_best_of_bul.html
- https://www.businesswritingblog.com/business_writing/2012/01/punctuating-bullet-points-.html

[2019-07-21 01:46] efiop commented on #485
@pared ?

[2019-07-21 14:03] Naba7 commented on #463
@jorgeorpinel @shcheklein can you please explain this a bit more. I would like to take this up.

[2019-07-21 20:10] shcheklein commented on #463
@Suor ? can you give a summary or is there a link? we should probably put docstrings around APIs before we release it.

[2019-07-21 20:45] shcheklein commented on #486
@SpicySyntax was not able to reproduce it. I tried to use GiBash + miniconda. Both `dvc run` and `dvc repro -s prepare.dvc` work fine for me. Can you give us more context here please? Windows setup is tricky - a lot of moving parts and we need to see how specifically bash, conda, windows PATH are set for you.

[2019-07-22 08:41] pared commented on #485
@shcheklein , @efiop , sorry must have lost this one in my notifications. It will probably be the best if I do this change. Probably summary of what needs to be written down is not so far away from actual change.

[2019-07-22 14:12] SpicySyntax commented on #486
@efiop
#### DVC Version output
[code]

#### Verbose output from one line command
[code]
@shcheklein
#### User Path Environment variable
![image](https://user-images.githubusercontent.com/19228996/61639182-99e0df80-ac60-11e9-811d-f53d21a53247.png)

#### System Path Environment variable
pt1:
![image](https://user-images.githubusercontent.com/19228996/61639239-b5e48100-ac60-11e9-9ef7-35678f7bde84.png

[2019-07-22 14:58] Naba7 commented on #463
sorry, I am unable to search ``dvc.api.get_content`` . Do you mean ``get_url`` or ``__getattr__`` ?

[2019-07-22 17:26] shcheklein commented on #463
@Naba7 it's `read` now, I believe. There are only three public methods in `dvc.api`. Those should be described. And let's create a ticket on iterative/dvc to update docstrings for those APIs.

[2019-07-22 18:41] Naba7 commented on #477
Can I take up the issue?

[2019-07-22 18:44] shcheklein commented on #477
it depends on #185 , there is a PR #416 by @sanidhyamangal that still requires more work.

[2019-07-22 19:01] shcheklein commented on #491
@Naba7 before we jump into implementing this, could you please summarize the set of rules we are applying, so that we all on the same page and have a guideline how to put it in the future.

[2019-07-22 22:43] efiop opened #496 "cmd ref: update import-url doc"
After https://github.com/iterative/dvc/pull/2307 `import-url` will lock stages  by default, which could be either `dvc unlock`ed and `dvc repro`ed or simply `dvc update`ed.

[2019-07-22 22:50] efiop opened #497 "cmd ref: add info about cache.shared group and available setting, also in use-cases"
Need to update https://dvc.org/doc/use-cases/multiple-data-scientists-on-a-single-machine and https://dvc.org/doc/commands-reference/config to include `cache.shared` config option.

[2019-07-22 23:11] efiop commented on #486
@SpicySyntax Hm, weird. Let's try something smaller, so it is easier to pinpoint to see what went wrong. Try running these commands:
[code]
and
[code]

[2019-07-23 08:24] algomaster99 commented on #461
@jorgeorpinel Let's start working on this issue now. :)

[2019-07-23 08:55] jorgeorpinel commented on #491
Some rules to consider:
- Avoid using bullet lists for text including of more than 2 sentences. Existing cases of this should be converted into regular paragraphs in sub-sections (with `###` headings, for example).
- Avoid using bullet lists for steps to follow in examples. These should also be converted into regular paragraphs or sentences (usually intermixed with sample code bocks).
- **B**egin

[2019-07-23 09:53] Suor commented on #463
They have some short docstrings, I will update them based on future docs or discussion here if we decide to do that.

So, what is this about? There are three public things in `dvc.api` now:
1. `read(path, repo=None, rev=None, remote=None, mode="r", encoding=None)` - returns the contents of an artifact as a bytes object or a string.
2. `get_url(path, repo=None, rev=None, remote=None)` -  returns an

[2019-07-23 13:34] SpicySyntax commented on #486
Note I updated the following (still obtained the same error as above):
Python 3.7.3
pip 19.2
conda 4.7.10

@efiop Here is the requested output

[code]

[2019-07-23 15:09] Naba7 commented on #463
This issue is meant for improving docstrings around ``dvc.api`` [Link](https://github.com/iterative/dvc/issues/2316)

[2019-07-23 15:27] mroutis opened #499 "remote: create separate sections for each remote"
Instead of having _expandable boxes_ on each `remote` sub-command, let's create separate sections for each remote, adding more information when needed.

For example, with SSH, you can increment the `MaxSessions` in your `sshd` configuration to increase the `push/pull` operations, also, would be great to add some information (or links) about using key files instead of passwords. With S3 you can con

[2019-07-23 15:34] mroutis opened #500 "tutorials: use a simpler tutorial"
I would change the tutorial for a very simple one, (for example, the one Kaggle uses for their intro to machine learning: https://www.kaggle.com/learn/intro-to-machine-learning – easy to follow, two scripts (featurization / training), and then branching to try another model; then compare metrics of both models. (Training take seconds instead of minutes.)

[2019-07-23 15:43] mroutis commented on #500
From discord, @shcheklein :
* it takes ~1 minute to train it
* data is very small
* memory footprint is 4GB as far as I remember
* so, I do agree that we can come with a simpler scenario, def no a top priority right now
[code]

[2019-07-23 15:44] shcheklein commented on #500
To clarify, that message above is about get started, not tutorial :)

[2019-07-23 16:26] shcheklein commented on #491
Check also this: https://docs.mattermost.com/process/documentation-guidelines.html#bullet-lists

1-2. - Be really careful with this. ### can create too much visual noise if you split small lists.

3-4. I would follow the guide from the link. Only if it's a full sentence item start it with a capital and end with period. Otherwise, lower case is fine and no punctuation.

Otherwise looks great! May b

[2019-07-23 16:29] shcheklein commented on #491
@jorgeorpinel @Naba7 please review my suggestions, and let's come up with a final version of the rules.

[2019-07-23 16:54] shcheklein commented on #463
k, thanks @Suor . @Naba7 now we need to come with a good place and a format for it. Probably, we need a separate top-level section. `API reference` similar to command reference we have.

[2019-07-23 19:13] shcheklein commented on #486
@SpicySyntax that's interesting. It looks like it's running the command, the issue is happening somewhere inside? I'm not sure yet and I don't know how to reproduce it.

Btw, it looks like conda is not activated. Can you try to run `conda activate`?

Also, can you try to remove data.dvc and run `dvc add data.xml`? To see if it creates the file at all. To make sure that's all related to running the

[2019-07-23 22:45] jorgeorpinel commented on #499
Good idea, no need to expand examples, just use:

[code]
So are you working on this @mroutis? If so perhaps assign yourself 🙂

[2019-07-23 22:47] jorgeorpinel commented on #500
The [message](https://discordapp.com/channels/485586884165107732/565759186693128202/603249113219203075) from Ivan on this was:

[2019-07-23 22:50] shcheklein commented on #499
I would say the title Examples looks strange for section that contains available options per remote type. Especially in the `dvc remote modify`. Those should be part of the options, or descriptions. Or have a different name at least. Otherwise I would prefer actually to see the full list of supported protocols and one click to see the specifics. Instead of huge text file that includes everything.

[2019-07-23 22:59] jorgeorpinel commented on #487
TODO stemming from

- [ ] Review validity of open [get-started issues](https://github.com/iterative/dvc.org/issues?q=is%3Aissue+is%3Aopen+label%3Aget-started) when the above is addressed.

[2019-07-23 23:05] jorgeorpinel commented on #68
Lets make sure to explain that "On windows  dvc is calculating the md5sum of text files with the windows `\r\n` line endings replaced with unix `\n` line endings." per [this message](https://discordapp.com/channels/485586884165107732/563406153334128681).

[2019-07-24 01:56] ryokugyu commented on #500
@mroutis here is a link for tutorial created by me.

[2019-07-24 02:01] ryokugyu commented on #499
@shcheklein @jorgeorpinel @mroutis I will suggest that under `dvc remote` let's have separate pages for each type of remote. maybe sort of tutorials. where we will describe:

1. configure a `dvc remote` from scratch
2. modify options
3.  if multiple instances of a remote can exist together, then, how to use it.

[2019-07-24 02:35] mroutis commented on #499
@jorgeorpinel, I was thinking about using a page per remote because I'm assuming the user only wants to configure one remote, take for example `SSH` or `S3`, they would need to navigate through each remote sub-command finding their sections.

yep, @ryokugyu, that's the idea :+1:

[2019-07-24 08:15] jorgeorpinel commented on #491
OK. I added the following bullet list guidelines to the contributing docs guide:

  paragraphs max.) The bullets can begin in lower case and have no ending
  punctuation if they're not full sentences (otherwise end with period `.`). The
  bullets can be separated by an empty line if they contain short paragraphs.

What do you think?

[2019-07-24 08:25] jorgeorpinel commented on #478
Um... In fact we have no mentions of the `rev_lock` property of DVC-files at all in the docs. Should probably also explain what that is.

[2019-07-24 08:35] jorgeorpinel commented on #478
@shcheklein  @efiop by "external dependencies" do you mean [these](https://dvc.org/doc/user-guide/external-dependencies)? Or files/artifacts imported with `import*` commands?

[2019-07-24 08:37] jorgeorpinel commented on #461
Feel free to get going with fixing the mobile view, sure! Thanks @algomaster99

[2019-07-24 08:48] jorgeorpinel commented on #499
Are you saying you want to split one command reference into several pages? How would that look on the navigation side bar? `remote` is already a menu with 5 sub-entries:

![image](https://user-images.githubusercontent.com/1477535/61779198-7b442b00-adbd-11e9-8822-e0e94bfcc302.png)

[2019-07-24 12:10] truh opened #501 "docs: `dvc unprotect` contains `dvc unlink` synopsis"
I have just started using dvc today so I'm not sure if this is perhaps intentional.

<img width="783" alt="Screenshot 2019-07-24 at 14 08 56" src="https://user-images.githubusercontent.com/1183303/61792303-bde92000-ae1c-11e9-9048-e9ce6ca52cc5.png">

https://dvc.org/doc/commands-reference/unprotect

[2019-07-24 14:15] mroutis commented on #499
@jorgeorpinel , that `remote` section would stay like that, I'm planning to create a new one:

[code]

[2019-07-24 16:33] Naba7 commented on #463
Shall we describe ``read``, ``open``, and ``get_url`` in different sections inside ``API Reference``?
We can have another section for describing ``path``, ``repo``, ``rev``, ``remote``, ``mode``, ``encoding``.

[2019-07-24 16:42] shcheklein commented on #463
@Naba7 yes, it should be a separate section per call. At least for now.

`path, repo, rev, remote, mode, encoding` - are not APIs. `repo` is, but it's not officially released yet.

Can you take a look for some good projects that have APIs documented to come up with a good page template for this?

[2019-07-24 17:34] shcheklein commented on #501
@truh good catch! This is a bug. Can you edit it with the Edit on Github button on the right? You can then click the pen button on Github (top right corner) and edit the doc in-place. No need to clone anything, etc. :)

[2019-07-24 17:41] shcheklein commented on #500
@ryokugyu can you find some time and finish the repo with your tutorial? It's hard to understand what's going on - I mean even what problem do we exactly solve? There are some leftovers (like `pyc`), etc. Then we can create a blog post out of it and put a link to the documentation.

[2019-07-24 19:14] SpicySyntax commented on #486
@shcheklein I obtained the following results using the anaconda prompt.

[code]
This got rid of the multiple python paths seen above.

I deleted data.xml.dvc. And recreated it with
[code]
And this did not seem to fix anything.

Running the commands from I obtained @efiop seen [here](https://github.com/iterative/dvc.org/issues/486#issuecomment-513988984):
[code]

The origin command executed as foll

[2019-07-24 20:30] shcheklein commented on #491
I left a comment there, probably we should mention that it should start with a capital letter if it's a sentence, no?

[2019-07-25 02:29] shcheklein commented on #499
I would say that's too much to have a separate top level section just for remotes. May be a section in the User Guide - something like "Configuring Remote Storages"?

[2019-07-25 06:15] shcheklein commented on #486
@SpicySyntax could you check if this link helps in your case by any chance https://superuser.com/questions/727316/error-in-command-line-the-system-cannot-find-the-path-specified ?

[2019-07-25 10:39] pared opened #503 "Inform user how to exit pipeline ascii display"
Context:
https://discordapp.com/channels/485586884165107732/563406153334128681/603890677176336394

https://dvc.org/doc/commands-reference/pipeline-show#options should probably contain note that `q` can be used to exit from `dvc pipeline show --ascii`

[2019-07-25 11:15] ryokugyu commented on #503
@pared  we just need to mention that `press q` to exit the ASCII display?

[2019-07-25 11:29] ryokugyu commented on #486
@SpicySyntax will you try to execute the command by specifying the absolute path to the files.

I also use Windows machine but I am unable to reproduce the issue. It works fine on my system.

[2019-07-25 14:59] efiop commented on #503
Also related to https://github.com/iterative/dvc/issues/1208

[2019-07-25 17:02] efiop commented on #503
@ryokugyu Ideally we should mention all the keys: https://github.com/iterative/dvc/blob/0.53.1/dvc/dagascii.py#L126 . arrows(or WASD) for navigation, q for exit.

[2019-07-25 17:24] shcheklein commented on #503
@efiop ideally we should put this instruction to the DVC itself as well. Is it possible? It's too confusing for people who are not familiar with CLI that much.

[2019-07-25 19:25] jorgeorpinel commented on #478
Another note here, [from Discord[(https://discordapp.com/channels/485586884165107732/565759186693128202/604029919785255041)

`dvc unlock` "won't cause problems. If you `dvc unlock` imported stage then it will simply be updated by `dvc repro` next time. and it will check dependency on `dvc status` and stuff.

for a locked stage, `dvc update` does `dvc unlock` + `dvc repro` + `dvc lock` basically".

[2019-07-26 02:01] #503 closed

[2019-07-26 06:49] Naba7 commented on #491
yes, if they are phrases we can start with small letters.

[2019-07-26 06:51] Naba7 commented on #491
Sorry I was busy with my college thing so couldn't catch up early.

[2019-07-26 10:49] Naba7 commented on #491
@shcheklein @jorgeorpinel  In ``contributing.md , contributing-documentation.md`` What to do with these bullet points?

I think keeping one line space when there are more than two lines will be appropriate.
If phrases then no fullstops otherwise if it is a full sentence then using fullstops.

[2019-07-26 10:59] efiop commented on #503
@shcheklein Yep, there is an issue that i've linked above.

[2019-07-26 12:56] Naba7 commented on #463
How about this format [angularJS](https://docs.angularjs.org/api) or [microsoft](https://docs.microsoft.com/en-us/graph/api/overview?view=graph-rest-1.0) or [Azure](https://docs.microsoft.com/en-us/rest/api/azure/)?

We can use these formats and write a introductory page listing all the APIs and linking them to GitHub

[2019-07-27 09:19] jorgeorpinel commented on #463
@Suor are `repo=None, rev=None, remote=None` default values actually those? Or do they get turned into `repo='.', rev='HEAD', remote=(read from config file)`? Probably important to document (both in docstring and) in the API ref.

@shcheklein re

Agree, perhaps in docs path `/api` and the index page for that section could explain what is the API and how to start using it. Actually its not that obv

[2019-07-27 15:24] shcheklein commented on #463
that's right. I would say that it's not separate though, it's the same DVC package.

[2019-07-27 16:14] #185 closed

[2019-07-27 16:47] Naba7 commented on #463
Sorry, I didn't understand it. I thought DVC-API is same as DVC package being installed by binary-files or by any other means and it is a separate package to run on top of git and we can  implement it locally or on remote machines.

[2019-07-27 16:49] shcheklein commented on #463
@Naba7 ?? I'm not sure I understand this. DVC api is just a python module defined in the DVC itself. No need to install any extras to being able to use it.

[2019-07-27 16:51] Naba7 commented on #501
@truh Can you please edit the issue with `dvc unlock` rather than `dvc unlink`?

[2019-07-27 17:00] Naba7 commented on #425
Can I take this up?

[2019-07-27 17:40] efiop commented on #367
There is no `-R` in `dvc gc`. Need to remove that from docs.

[2019-07-27 18:14] RahulR19 commented on #367
From where should I remove this

[2019-07-27 18:15] RahulR19 commented on #367
There is no -R in [(https://dvc.org/doc/commands-reference/gc)]

[2019-07-27 18:16] RahulR19 commented on #367
There is no -R in [](https://dvc.org/doc/commands-reference/gc)

[2019-07-27 18:16] RahulR19 commented on #367
There is no -R [here](https://dvc.org/doc/commands-reference/gc)

[2019-07-27 18:36] shcheklein commented on #367
I think this is resolved already by @jorgeorpinel

[2019-07-27 18:36] #367 closed

[2019-07-27 18:42] shcheklein commented on #503
@efiop thanks!

[2019-07-27 21:20] jorgeorpinel commented on #463
Suggested intro. text for the new `/api-reference` section index page:

The DVC API is part of the `dvc` Python module installed along with DVC. You may include it in your Python code with the following line:

[code]

Then list `read`, `open`, and `get_url` in a bullet list, linked to their own pages (which should also have left pane navigation items).

[2019-07-27 21:23] jorgeorpinel commented on #425
Hi @Naba7 thanks for the interest. Will you be dropping issue [#463](https://github.com/iterative/dvc.org/issues/463) after all?

[2019-07-27 21:25] shcheklein commented on #425
@Naba7 I agree with @jorgeorpinel let's do issues one by one, or at least tow in parallel. Quality is important, not speed here.

[2019-07-28 06:26] Naba7 commented on #425
Yes, I agree @jorgeorpinel @shcheklein . It will be better to focus on one issue rather than fumbling over many. Sure, I will work on #463 .

[2019-07-28 07:02] Naba7 commented on #463
@shcheklein Okay. I get it now. I thought for getting DVC-api we need to download it separately.
@jorgeorpinel As @shcheklein had said that ``repo`` is also an api, we should include it in the intro.
And
1) ... some of the core functions of DVC such as ``add, push, pull, commit, checkout, etc.,`` ...

2) Writing one-liner for ``read,open, get_url, repo``(?) such as:
- read[link] - returns the cont

[2019-07-28 08:48] ryokugyu commented on #501
@Naba7 i didn't get the issue. please explain to me this.

[2019-07-28 20:21] jorgeorpinel commented on #463
I think that's good enough to start a PR. Please let us know, thanks!

[2019-07-29 00:45] gthb opened #506 "document that hooks don't act in a non-DVC branch"
Document that:

* (once https://github.com/iterative/dvc/pull/2338 is merged) the hooks installed by `dvc install` only act in a “dvc-enabled” branch, meaning one that has tracked files under `.dvc`
* initializing dvc on a branch doesn't affect other branches until the change gets merged to those branches. (So you can safely try it out in a branch before merging to master, for instance.)

Prompted

[2019-07-29 03:37] jorgeorpinel commented on #499
And do we remove the expanding sections from https://dvc.org/doc/commands-reference/remote-add and https://dvc.org/doc/commands-reference/remote-modify ?

[2019-07-29 03:55] mroutis commented on #499
@jorgeorpinel , the idea was to remove the expanding sections and replace them for each remote; looks like it wasn't that good after all :sweat_smile: I'll close this

[2019-07-29 03:55] #499 closed

[2019-07-29 04:10] #474 closed

[2019-07-29 04:10] #478 closed

[2019-07-29 09:29] Suor commented on #463
@jorgeorpinel

I would say simply use `import dvc.api` instead of `from dvc import api as dvcapi`, more straightforward and almost the same length:
[code]

[2019-07-29 09:33] Suor commented on #463
@Naba7 I would start with some **Usage** section, with short and most common section, the continue with complete API listing.

Or another layout: Install, Usage, Methods sections. Then each method goes on its separate page, with full operation and params description, more examples. The point is making it glanceable and copy-pastable.

[2019-07-29 09:51] elepherai commented on #486
@ryokugyu same problem with absolute path.

[2019-07-29 16:20] shcheklein commented on #486
@elepherai could you share your output, especially with `-v` flag. Could you please try the link above that I shared - https://superuser.com/questions/727316/error-in-command-line-the-system-cannot-find-the-path-specified ?

[2019-07-30 07:20] elepherai commented on #486
@shcheklein Thanks! The method in your link works.

[2019-07-30 10:26] Naba7 commented on #463
I think the layout : Install, Usage, Methods and describing each methods is better.
@shcheklein @jorgeorpinel If you agree to this, I will start working on the same.

[2019-07-30 11:39] ryokugyu commented on #497
@efiop it's still work in progress.

btw, what does `cache.shared` does?

I am also working on a use case article https://github.com/iterative/dvc.org/pull/455, maybe they are  relatable.

[2019-07-30 16:13] shcheklein commented on #486
@elepherai glad that it helped. Closing it for now since it looks like it's not a DVC problem.

[2019-07-30 16:13] #486 closed

[2019-07-30 16:36] #501 closed

[2019-07-30 16:40] shcheklein commented on #463
@Naba7 yep, I like the idea. So, we can start with three levels:

`Python API` is the top most

it includes `Install`, `Usage`, `Method Reference`

`Method Reference` includes one page per each method with simple example. And we need to discuss the structure for it.

@jorgeorpinel any thoughts on this?

[2019-07-31 01:37] jorgeorpinel opened #510 "glossary: tooltips break details sections"
As a result of implementing #424, `<abbr>` tags now create glossary tooltips around certain terms in the docs.

However if one of these terms is placed inside a `<details>` section, the docs engine fails to create the expandable boxes (a pre-existing feature).

---
UPDATE: The example below is outdated but you get the idea hopefully.

For example open `static/docs/user-guide/external-dependencies.

[2019-07-31 01:37] jorgeorpinel commented on #510
@algomaster99 do you want to take a look at this? 🙂

[2019-07-31 01:50] jorgeorpinel opened #511 "docs: missing text elements break <details> section"
The engine has a feature to automatically make `<details>` sections into expandable boxes e.g.

![image](https://user-images.githubusercontent.com/1477535/62177658-f39d7580-b302-11e9-8832-9637fefd508a.png)

however when there's no text paragraphs or `###` md headers inside `<details></details>`, the result is

![image](https://user-images.githubusercontent.com/1477535/62177706-23e51400-b303-11e9-9

[2019-07-31 02:17] shcheklein commented on #511
it's expected behavior. `###` defined the name for the expandable section

[2019-07-31 02:17] #511 closed

[2019-07-31 02:32] jorgeorpinel opened #512 "lint: run prettier on all doc files"
See https://github.com/iterative/dvc.org/issues/512#issuecomment-518894225

---

~~A problem after implementing #372 seems to be that `pretty-quick` is that some lines inside md fenced code blocks, the ones starting with `-`, seem to be confused for bullets, and thus indented. E.g. everything starting at `path` would be indented in the sample below (from `static/docs/user-guide/external-dependenci

[2019-07-31 02:33] jorgeorpinel commented on #512
Sorry to pick on you @algomaster99... But you may also be the best equipped person to give this one a first look. No worries either way but please lmk.

[2019-07-31 03:10] algomaster99 commented on #512
@jorgeorpinel I tried this but I couldn't reproduce the issue. I think `prettier` does ignore the indentation inside the code block.
![bug](https://user-images.githubusercontent.com/35191225/62180765-c8507000-b36e-11e9-83c2-48bfdef1812a.gif)

[2019-07-31 04:00] jorgeorpinel commented on #491
@Naba7

I fixed he first 2 in a448573 which will get merged with my latest PR. Don't worry about the last one, I'll address that for issue #425

[2019-07-31 04:27] algomaster99 commented on #510
@jorgeorpinel This is happening since it only detects the `abbr` tags and just ignores the `details` tag. Seems weird to me. I'll have to check the inner functioning of HtmlRenderer.

[2019-07-31 16:30] #485 closed

[2019-07-31 16:47] jorgeorpinel commented on #491
If phrases then no fullstops otherwise if it is a full sentence then using fullstops.

Hmmm yes maybe measuring them by number of lines is better. But we're already said `The
bullets can be separated by an empty line if they contain short paragraphs.` so let's just remember about this internally I guess?

And what do you mean by "fullstops" ?

Thanks for the note. I'll address for issue #425 as we

[2019-07-31 17:05] jorgeorpinel opened #515 "changelog: create index"
Paraphrasing Ivan:

[2019-07-31 18:51] jorgeorpinel commented on #463
Agree. Looking forward to see a first version PR 🙂

[2019-07-31 18:52] jorgeorpinel commented on #511
Yes I understand. I just think it should just not crate the expandable section when it doesn't find any text to use for the tittle, instead of causing an error. But OK!

[2019-07-31 18:53] jorgeorpinel commented on #512
Not sure it's `prettier` or what. It happens when I try to `git commit` the file with any other change in it.

[2019-07-31 18:55] efiop opened #516 "external outputs: add a note about using the same remote as ext cache and for push/pull"
Discord context https://discordapp.com/channels/485586884165107732/563406153334128681/606197772672172044

[2019-07-31 19:09] efiop commented on #516
Need to add a note under cache section, under dvc remote section and external-outputs page.