[2019-07-31 19:09] ryokugyu commented on #516
@efiop working on it 😃

[2019-07-31 21:33] SpicySyntax commented on #486
@shcheklein The [Link](https://superuser.com/questions/727316/error-in-command-line-the-system-cannot-find-the-path-specified) you sent me fixed the issue I was facing. Thanks!

[2019-07-31 23:13] efiop commented on #497
@ryokugyu yep, that PR is still work in progress. Let's get back to it when it is merged. I've just created this issue to not forget about modifying docs.

[2019-08-01 02:38] jorgeorpinel commented on #499
Thanks anyway. Always good to explore improvement ideas 🙂

[2019-08-02 00:43] jorgeorpinel commented on #496
This was updated in a recent PR. See https://dvc.org/doc/commands-reference/import-url

![image](https://user-images.githubusercontent.com/1477535/62336140-2f177b80-b48c-11e9-8f12-5f53129606ca.png)

[2019-08-02 00:43] #496 closed

[2019-08-02 02:12] jorgeorpinel commented on #487
More details/ideas on " Lets also update get started, work on use cases, etc. to incorporate these important new commands, as well as dvc update" (from [this](https://discordapp.com/channels/485586884165107732/565759186693128202/606552306216992771) Discord thread):

- "we can create a repo that serves as a dataset registry and update get started carefully to show how that dataset can be reused".

[2019-08-02 03:04] jorgeorpinel opened #518 "glossary: no tooltip when there's break lines in <abbr> tags"
For example the lines

[code]

won't produce a glossary tooltip. But they should.

If we require `<abbr>` terms to be in a single line, then maybe the automatic linter (`pretty-quick`) that runs on a Git pre-commit hook should enforce that format, like it enforces `quoted text` to be in a single line?

[2019-08-02 03:05] jorgeorpinel commented on #518
What do you think @algomaster99? Thanks

[2019-08-02 16:36] algomaster99 commented on #512
@jorgeorpinel I can still not reproduce this. But if it does, please send a screenshot again of the latest code (the above image seems outdated).
To my knowledge, prettier doesn't interfere with the indentation since that will throw errors. Check [this](https://prettier.io/playground/#N4Igxg9gdgLgprEAuEAdKADLBPAhgWwBt0ATOABwGcl0BaAAjhlwHMl6ByVEAMwBYAzACY4QgOwAGMCQBsAvmACsARiEBOGXGlCARmCE9FcMYqG1F3

[2019-08-02 20:18] #516 closed

[2019-08-03 02:26] shcheklein opened #519 "dvcignore: add an example when we depend on dir with python code"
And exclude .pyc.

[2019-08-03 02:28] shcheklein opened #520 "guide: consolidate external data mgmt guides"
done
- ~~External dependencies and outputs.~~

next
- [ ] Add proper links through out other doc sections.
- [ ] Explain external cache here or in the cache docs but not in the shared dev server use case, because shared cache isn't compatible with external data (see https://github.com/iterative/dvc/issues/4520#issuecomment-774649551)
- [ ] Clarify about cache link types per remote location as disc

[2019-08-03 13:10] Naba7 commented on #491
Hi! @jorgeorpinel
We say ``period`` as ``fullstops``.
Yes, we will use one line gap after short paragraphs and no need to mention it again.

[2019-08-04 08:10] jorgeorpinel commented on #512
Just **change anything** in `static/docs/commands-reference/import-url.md` (**outside of YAML code blocks**) and try to `git commit` your change. It will indent parts of the YAML code block contents:

![Screen Recording 2019-08-04 at 01 59 50 2019-08-04 02_08_11](https://user-images.githubusercontent.com/1477535/62421309-c4696a00-b65c-11e9-9efa-ace7f3ae06f4.gif)

[2019-08-04 08:15] jorgeorpinel commented on #491
OK, "full stop" as in British "period". Gotcha.

[2019-08-04 09:36] algomaster99 commented on #512
@jorgeorpinel
This is really strange :open_mouth:
![weird](https://user-images.githubusercontent.com/35191225/62422000-df71c380-b6c8-11e9-94aa-e2d2b02c7b05.gif)
Can you check your `prettier` version in `package-lock.json`? Mine is `1.17.0`.

#### Creating screencasts
1. Download this software: https://www.maartenbaert.be/simplescreenrecorder/
2. Use [this link](https://ezgif.com/video-to-gif) to c

[2019-08-04 21:49] jorgeorpinel commented on #512
It's the same version. In your screenshots the lines in question are already indented as that's the master branch. But the actual DVC-files don't have that indentation so I've [un-indented them](https://github.com/iterative/dvc.org/pull/509/files#diff-0a462fb4a411db0aa4af5e0a1036b7f0L202-R187) in my fork. Please un-indent them (or use my fork) to reproduce the issue.

[2019-08-06 09:38] algomaster99 commented on #512
@jorgeorpinel I think both are valid syntaxes. Refer to [this link](https://yamlchecker.com/).
### Current
[code]
### Prettier formatting
[code]

Please refer to this [playground](https://prettier.io/playground/#N4Igxg9gdgLgprEAuEBbAJgViQAgOzpwCcADHAeQEYAsAzAEwCG6Re9JRmlYAjAGb04YEnwAcAHSgB3dAEsATrgB0kwgAcAzkkkBaHGsYwAFrnSHGAejMxGSgB6oANpJw55cNRG1RXrgK7yjrgA5rIwAAKhxn6USpCoSGFw8oayAG5wFnB2jKhqjnA6w

[2019-08-06 10:01] algomaster99 commented on #518
@jorgeorpinel `prettier` and `Rewraps` plugin both take care of it. They put `<abbr>...</abbr>` in one line.
![format](https://user-images.githubusercontent.com/35191225/62531024-37423300-b85f-11e9-94b3-acbcd91be9a4.gif)

[2019-08-06 23:15] jorgeorpinel commented on #512
It's not about whether its valid YAML or not. These are copy-paste of DVC-files so they should not be changed by the linter.

So is the only option left is to prepend each block with ``?

[2019-08-06 23:19] shcheklein commented on #512
@jorgeorpinel I think it's fine if it's hard to fix it and if YAML is valid.

[2019-08-07 00:41] jorgeorpinel commented on #512
Yeah I guess if it can't be fixed with our current linter its better to let it indent those locks instead of having to add a bunch of ``s.

BTW weren't we going to run `prettier` on all the docs? I don't think we ever did that @algomaster99 can you ty it? And open a PR if successful 🙂

[2019-08-07 00:47] jorgeorpinel commented on #518
Not when there's a space in the term e.g. `<abbr>data artifact</abbr>`.

[2019-08-07 05:57] algomaster99 commented on #518
@jorgeorpinel
One solution I have thought for this is to add `'external\ndependencies'` to the `match` array. Notice that I added a new-line character between the words.

[2019-08-07 06:25] algomaster99 commented on #512
@jorgeorpinel I might have done this [here](https://github.com/iterative/dvc.org/pull/341). Let me run it again and find if there are changes or not.

[2019-08-07 09:20] dashohoxha opened #524 "Install shell autocomplete scripts from the DEB package"
I installed dvc from the DEB repository (for Debian/Ubuntu). Then I installed the autocomplete scripts manually for bash, like this:
[code]

I would expect them to be installed automatically by the deb package, so that this manual step is not necessary.

**Note:** I could not find the code that builds the deb package, so I am reporting this here.

[2019-08-07 09:33] dashohoxha opened #525 "autocomplete: fix instructions for enabling on Ubuntu 18.04 (bionic)"
The instructions for enabling shell autocompletion in bash are not complete (https://dvc.org/doc/user-guide/autocomplete). It only says:

This is true, but I also had to enable it by commenting out these lines on `~/.bashrc`:
[code]
I am actually using LinuxMint 19, but it is based on Ubuntu 18.04, so this behavior should be the same for all the **bionic** systems (Ubuntu 18.04 and all the variati

[2019-08-07 16:20] shcheklein commented on #512
@algomaster99 should we run it for docs as well once again like @jorgeorpinel suggested?

[2019-08-07 16:24] dashohoxha opened #526 "retrieve data: another easy way to test `dvc pull`"
Another easy way to test `dvc pull` (on https://dvc.org/doc/get-started/retrieve-data) may be this:
[code]
This seems a bit more realistic and convincing than `rm -f data/data.xml`.

[2019-08-07 16:46] shcheklein commented on #526
@dashohoxha it more realistic, but will complicate the doc and breaks the flow (you have to leave the dir, clone another one, etc). The point of the get started is to try to keep as simple as possible. The example you provided is a good candidate for the command reference. I would definitely rewrite examples here https://dvc.org/doc/commands-reference/pull to use `example-get-started` repo.

[2019-08-07 17:02] shcheklein opened #528 "cmd ref: use example-get-started repo in pull examples"
To make examples less abstract. Make them more actionable.

See how they're used in https://dvc.org/doc/command-reference/checkout#examples

[2019-08-07 17:03] shcheklein commented on #526
Related: https://github.com/iterative/dvc.org/issues/528

[2019-08-07 17:13] shcheklein commented on #525
@dashohoxha is there an official link that describes the process, so that we can just include it instead of duplicating this info?

[2019-08-07 17:14] shcheklein commented on #525
@dashohoxha is it different from other systems? previous versions of Ubuntu? other Linux systems?

[2019-08-07 17:22] shcheklein commented on #518
@algomaster99 I think we can "normalize" the term before trying to match it in JS itself. Remove extra spaces, convert \n to space, tabs to spaces, etc.

[2019-08-07 17:37] dashohoxha commented on #525
There are lots of blogs that describe it (for example this one: https://linuxhandbook.com/enable-tab-completion/), but no official docs that I am aware of, or that I could find.

I am not sure. The only safe way to find it out is to make a fresh installation of other versions/systems and to check it.
Some issues (like this one: https://ubuntuforums.org/showthread.php?t=2393044) may indicate that i

[2019-08-07 17:43] shcheklein commented on #525
@dashohoxha yep, thanks for the research. It definitely makes sense to put a note with a link to some of these blogs or discussions if it's common across all new Ubuntus.

[2019-08-07 17:59] dniku opened #529 "get started: wrong md5 of the data.xml"
(dvc version and other environment details are probably irrelevant)

https://dvc.org/doc/get-started/add-files suggests that the MD5 hash of [`data.xml`](https://dvc.org/s3/get-started/data.xml) is `a304afb96060aad90176268345e10355`, but it is actually not:

[code]

However, `.dvc/cache` still contains `a3/04afb96060aad90176268345e10355`. Perhaps a footnote explanation of the discrepancy would hel

[2019-08-07 18:13] shcheklein commented on #529
Most likely:

Related: https://github.com/iterative/dvc.org/issues/68 .
Related: https://github.com/iterative/dvc/issues/992

@dniku to give a bit more context. DVC is doing dos2unix normalization before running md5 on the file. This is why you see this discrepancy.

We were hesitant to document the way it's calculated now because we want to remove this normalization in the future, but it looks li

[2019-08-07 18:13] algomaster99 commented on #518
@shcheklein I don't get what you mean by normalize? Can you explain?

[2019-08-07 18:15] shcheklein commented on #518
@algomaster99:

[code]

you can do something like:

[code]

[2019-08-07 19:05] dniku commented on #529
Thank you for a prompt comment. I suppose this issue should be closed, as it duplicates https://github.com/iterative/dvc.org/issues/68.

[2019-08-07 19:05] #529 closed

[2019-08-07 23:21] shcheklein opened #531 "glossary tooltip: side menu button wrong z-positioning"
Hey, @algomaster99 . Please, check it out:

<img width="637" alt="Screen Shot 2019-08-07 at 4 19 14 PM" src="https://user-images.githubusercontent.com/3659196/62664159-5f00cc00-b92f-11e9-852d-4e50598127ed.png">

[2019-08-08 06:10] jorgeorpinel commented on #512
Yeah I meant on md files too 🙂

[2019-08-08 06:12] jorgeorpinel commented on #518
It's either that or making `prettier` force those tags into a single line, if that's possible. But I'm guessing that's not possible to do with `prettier`, so I second normalizing 🙂

[2019-08-08 06:16] jorgeorpinel commented on #512
I see it was done in #530

[2019-08-08 06:16] #512 closed

[2019-08-08 06:19] jorgeorpinel opened #532 "lint: `prettier` introduces `---` in some YAML blocks"
When a ```yaml block starts with `...`, `prettier` changes that for `---`.

See https://github.com/iterative/dvc.org/pull/530#pullrequestreview-272360547 and https://github.com/iterative/dvc.org/pull/530#pullrequestreview-272360593

[2019-08-08 08:33] dashohoxha commented on #525
It seems that bash autocomplete is enabled by default on debian buster as well, and also on ubuntu bionic etc. I don't know how I got the impression that it has to be enabled manually.
So, the current documentation is correct, after all. Sorry for the confusion.

Sometimes it may not be working out of the box (for different reasons), and knowing how to fix it manually can be useful. To cover this

[2019-08-08 08:56] dashohoxha commented on #526
I agree. Maybe we should close this issue (in favor of the related one).

[2019-08-08 09:04] dashohoxha commented on #528
It seems to me that the example of `checkout` is a good one for `pull` as well.
It can even be referenced from the `pull` page with a link like this: https://dvc.org/doc/commands-reference/checkout#examples

I would even go a step further and say: why not factor out interactive examples from the command pages, and then link to the relevant examples from these pages? An interactive example may be l

[2019-08-08 15:46] shcheklein commented on #532
another option is to avoid using `...` ... just use a regular YAML comment?

[2019-08-08 16:44] #305 closed

[2019-08-08 18:47] jorgeorpinel commented on #532
Yes good thinking... Changed in 2536b99 (included in my open PR) But why is `prettier` doing that?

@algomaster99 do you think this is fixable? If not feel free to just close the issue guys. Thanks

[2019-08-09 00:06] shcheklein commented on #532
I don't know why :) but since we have a workaround, let's close this.

[2019-08-09 00:06] #532 closed

[2019-08-09 00:07] shcheklein commented on #525
@dashohoxha absolutely! a note with a brief comment can be useful and save some people time.

[2019-08-09 00:09] #526 closed

[2019-08-09 00:13] shcheklein commented on #528
Great question. I think they can be very similar but should emphasize different parts. Also, `pull` can be way simpler. And `dvc checkout` can be simplified by making `fetch -aT` as a preparation step (to warm up the cache).

[2019-08-09 07:28] jorgeorpinel commented on #518
@algomaster99 I thought of another improvement.

- [ ] The `match` terms should be case insensitive so that for example, both <abbr>Workspace</abbr> and <abbr>workspace</abbr> match `workspace` (without having to also specify `Worspace` in the `match` array.

What do you guys think?

[2019-08-09 07:32] jorgeorpinel commented on #518
It would also be nice to have a **Glossary** menu item on the nav bar that opens a page in the docs where all these terms are listed (with `<a name='the-term'>` anchors. This is mainly to link from glossary descriptions (because we can't have tooltips inside tooltips) but may be useful in other cases perhaps? And to read the full list in case anyone is curious. What do you think?

[2019-08-09 18:20] jorgeorpinel commented on #510
Any luck  with this first glossary-related issue, @algomaster99 ? Thanks 🙂

[2019-08-09 18:23] jorgeorpinel opened #538 "glossary: apply terms to existing docs"
All docs with mention to the terms in glossary should have `<abbr>` tags around the term, at least once in the top sections (if the term is used in the top sections), and once in the examples (if the term is used in the examples).

So far I think only the `workspace` and `DVC project` terms are fully applied. Maybe more but let's check all of the other ones everywhere.

[2019-08-09 18:24] #392 closed

[2019-08-09 21:53] shcheklein commented on #518
@jorgeorpinel I think it deserves it's own issue. Not a top priority, but let's create an issue for sure.

[2019-08-10 00:01] jorgeorpinel opened #540 "term: SCM -> Git"
Git is the only SCM supported on DVC and probably will be for a long time. Also, most of the docs use likely Git-specific language such as "tags" and "branches", as well as `git ...` commands in sample code blocks.

- [ ] Try to get rid of "SCM", except perhaps in very general descriptions of data versioning problems. Use "Git" or \`git\` otherwise.
- [ ] Review also sentences/paragraphs where "ta

[2019-08-10 00:50] jorgeorpinel commented on #392
So happy this is working now! Just missing to update the `dvc` fenced code block CSS so the entire command is blue unlike now:

![image](https://user-images.githubusercontent.com/1477535/62815486-f9534200-bade-11e9-9d7d-504087e41ac1.png)

[2019-08-10 00:53] shcheklein commented on #392
kudos @iAdramelk !

@jorgeorpinel yep, it's a separate small thingy :) let's create a ticket for this.

[2019-08-10 00:55] jorgeorpinel opened #541 "ui: highlight full DVC commands in fenced code blocks"
```dvc fenced code blocks in Markdown have custom CSS in the docs engine, but it should highlight in blue the entire `dvc ___ __` command (including subcommand, so up to 3 words). Unlike now:

![image](https://user-images.githubusercontent.com/1477535/62815486-f9534200-bade-11e9-9d7d-504087e41ac1.png)

Commands that currently have subcommands:
- `cache`
- `metrics`
- `pipeline`
- `remote`

Related

[2019-08-10 01:11] jorgeorpinel opened #542 "glossary: create stand-alone page"
It would be nice to have a **Glossary** menu item on the nav bar (or/and linked from tooltips) that opens a page where all these terms are listed (with `<a name='the-term'>` anchors. Extra steps:

- [ ] This is mainly to link from glossary descriptions (because we can't have tooltips inside tooltips)
  Note: currently **bold** words in tooltip texts mark other glossary entries;
- [ ] and to read t

[2019-08-10 05:42] jorgeorpinel commented on #538
Hold on, this is a dupe of #461 !

[2019-08-10 05:42] #538 closed

[2019-08-10 05:50] jorgeorpinel commented on #461
Any luck so far with the mobile view @algomaster99 ?

Of all the `glossary:` issues, this I think is the most important one so I'm giving it p1 label @shcheklein but please correct me if i'm wrong.

[2019-08-10 05:52] jorgeorpinel commented on #461
@shcheklein also what do you think of the parts of the description I scratched out: "There should be a section or a few sections called Basic Concepts..." and "Possibly also add functionality to" (at the very bottom)? Please confirm we no longer need those, otherwise I'll create a separate issue for any relevant one.

[2019-08-10 05:55] jorgeorpinel opened #543 "glossary: disable `<abbr>` in `#` headers?"
Having `<abbr>` tags around md headers causes a bad tooltip:

![image](https://user-images.githubusercontent.com/1477535/62818186-84e1c880-bb09-11e9-84f2-ae828703fe08.png)

Should we care? Or simply don't add the tags around headers? Please close this issue if the latter is the case. Thanks

[2019-08-10 13:49] dashohoxha opened #545 "simplify get-started by removing references/links to advanced doc pages"
After finishing the “Get Started” tutorial, I have a feeling that it is a bit more complex than it should be for a beginner. For example the links and references to more advanced and complex explanations only distract the reader and are not much useful.

My opinion is that a good first tutorial should be consistent, self-contained and sequential (reading it from the beginning to the end, like an a

[2019-08-10 14:16] dashohoxha opened #546 "build interactive lessons with katacoda"
Katacoda allows you to build interactive tutorials like these: https://www.katacoda.com/courses/machine-learning

It may be useful to build some basic tutorials for DVC. For example get-started may be covered by 2 or 3 such interactive tutorials (data tracking, pipeline, experiments). Other more advanced tutorials may be added as well, which demonstrate other features of DVC.

These interactive tu

[2019-08-10 15:30] shcheklein commented on #546
This is sounds great! We definitely need something like this.

[2019-08-10 15:31] shcheklein commented on #543
@jorgeorpinel let's just not use them in the titles. I looks too complicated I would say.

[2019-08-10 15:31] #543 closed

[2019-08-10 15:34] shcheklein commented on #545
Agreed. The initial idea was to keep as simple as possible. But it has been growing with more and more details over the time. @dashohoxha it would be great to put a list of things you think can be simplified/removed so that we can discuss.

[2019-08-10 15:49] #525 closed

[2019-08-10 15:58] shcheklein commented on #461
@jorgeorpinel I think we still need some Basic Concepts section in the User Guide - a section per each, that explain stuff in more details than the glossary.

I agree to remove the second one for now.

[2019-08-11 01:31] jorgeorpinel opened #547 "glossary: case insensitive terms"
The match terms (defined in `glossary.js`) should be case insensitive so that for example, both `Workspace` and `workspace` match "workspace" (without having to also specify Worspace in the match array.

[2019-08-11 01:36] jorgeorpinel opened #548 "lint: wrap js strings (in src/)"
UPDATE: See https://github.com/iterative/dvc.org/issues/548#issuecomment-544209275.

---

OUTDATED:

String values in JavaScript files are currently not automatically wrapped to 80 chars by the pre-commit hook that runs `pretty-quick`, like all other lines of code. If possible, have the linter do this. E.g.

[code]

This would be pretty useful to make sure the `glossary.js` strings are properly wr

[2019-08-11 04:47] shcheklein commented on #548
@algomaster99 would be great if you can take a look.

[2019-08-11 04:52] Naba7 commented on #463
I am sorry. I won't be able to work further on this PR.

[2019-08-11 04:57] shcheklein commented on #463
@Naba7 np! thank you for all your contributions ;)

[2019-08-11 18:52] jorgeorpinel opened #550 "guide: new DVC Concepts section"
Per https://github.com/iterative/dvc.org/pull/431#pullrequestreview-253571711

There should be a section or a few sections called **Basic Concepts** in the user guide that is/are properly written on a user-level language explaining some concepts. The glossary tooltips could point to these pages too.

From https://github.com/iterative/dvc.org/issues/550#issuecomment-544162594 below

~~Figure out a

[2019-08-11 18:52] jorgeorpinel commented on #461
Extracted "There should be a section or a few sections called Basic Concepts..." to #550.

[2019-08-11 18:53] jorgeorpinel commented on #550
@shcheklein is this not basically the same as #542?

[2019-08-11 18:59] jorgeorpinel commented on #548
I'm unable to do this in the Prettier [playground](https://prettier.io/playground/#N4Igxg9gdgLgprEAuc0DOMAEGBOA1AQx00wF5MAdEAJTgIBt6BPTe6Ac2xhwEspP2EPpwgA3OMQAcABkxgAFkQJh4ONADpMAIXoF5mAEa79RvYePmzpk8aoUo9OFngBbAA674AGR5ZyAA3sAQSgIGHkJVg5MeAAPGHsASSgwegBXABNhVj44NBjFLEFMMUiZOUU1TR0rC2tLG1qmxpaGtut7QKgQABoQCDcYHnRkUCIcCAB3AAUiBDRkEAJRIQzekAMcZQBrJwBlN2VhZG40uD75GBd6AHV5XzzDsDg9+d8eUV8mRbA0Bb6+GgJDB

[2019-08-11 19:37] jorgeorpinel opened #551 "fetch: review sample command output"
For example from static/docs/commands-reference/fetch.md line 204+:

[code]

[2019-08-11 19:39] jorgeorpinel commented on #551
The effort for this may be too great. Perhaps we should rather think of a way that will be sustainable in the future to make sure all our code and console examples remain valid as DVC changes. For example generating them all from scripts in a separate `docs-code-examples-dev` Git repo, similar to https://github.com/iterative/example-repos-dev ?

[2019-08-12 05:21] jorgeorpinel commented on #68
More details from Ruslan

[2019-08-12 05:22] jorgeorpinel opened #552 "decide best term for "md5" "checksum" or "hash" strings used in DVC-files, and Git commit (SHA) "hash""
and implement throughout the docs.

Notes:
- Avoid MD5. We don't actually always use pure MD5. See #68
  Oh and let's try to use upper case "MD5", not "md5" when possible.
- ~~hash: May be too general a term?~~ (Also applies to Git commit SHA-1 hashes)
- checksum: according to Ivan and Ruslan this term isn't correct though...
  UPDATE: See https://github.com/iterative/dvc.org/issues/552#issuecomme

[2019-08-12 08:58] dashohoxha commented on #552
If it is just `dos2unix <datafile> && md5sum <datafile>` (as described here: https://github.com/iterative/dvc.org/issues/68#issuecomment-520301930),
then it actually **is** pure MD5, but the datafile is normalized first, to avoid any mismatching in different operating systems.

I think that when the explanation is meant for the users (who don't need to know the internal details) the terms hash/che

[2019-08-12 18:08] shcheklein commented on #550
@jorgeorpinel iIt might play that role indeed. Let's keep it open anyway and see if a page for the glossary enough or not.

[2019-08-12 18:29] shcheklein commented on #550
@jorgeorpinel also, this one is related - https://github.com/iterative/dvc.org/issues/53 . I though that one can be a part of the Basic Concepts.

[2019-08-12 18:31] #491 closed

[2019-08-12 18:35] shcheklein commented on #551
I would just create a small tickets from time to time to update it. I don't think we need a special machinery around this. At least now. Too much effort.

[2019-08-12 18:36] shcheklein commented on #551
As part of this one, I would just grep "{scheme ...}" messages and replace them with human readable versions. It should be straightforward and should not require running all these examples, I hope.

[2019-08-12 18:43] shcheklein commented on #552
I agree with @dashohoxha .

checksum vs hash. Hash is a better term because of the primary goal we are using these md5s for - store and find binary files in our storage. (Though we check the consistency as well).

I'm fine to use checksum everywhere, especially considering that it won't be hard to switch to a new version.

MD5, etag, other checksums make sense when we go into details.

[2019-08-12 19:29] jorgeorpinel commented on #552
I also vote for "checksum". In fact I don't see how it's the wrong concept at all, other than the purpose we use it for. I think "hash" is too general, TBH.

![image](https://user-images.githubusercontent.com/1477535/62892294-8da2ec00-bd0d-11e9-8803-691e8de81459.png)

[2019-08-12 22:07] jorgeorpinel commented on #551
[code]
was just an example. I meant absolutely all the ```dvc code block examples, basically. There's 450 :/

[2019-08-12 22:39] #269 closed

[2019-08-13 00:38] shcheklein commented on #551
Yep, I +1 on that it's too much of a scope to update them. But also I'm not sure we need some very specific mechanism to keep them up-to-date. At least for now. Let's just do the best we can when we update docs.

[2019-08-13 00:42] jorgeorpinel commented on #551
Fair enough! Hoefuly we can count on users reporting any problems via issues.

[2019-08-13 00:43] shcheklein commented on #551
I meant - let's open this particular one open :) Just fix fetch examples. And may be similar outputs around.

[2019-08-13 00:57] jorgeorpinel commented on #487
- [ ] Another discussion to consider for get-started updates: https://discuss.dvc.org/t/about-get-started/194

[2019-08-13 01:32] jorgeorpinel opened #554 "lint: inconsistent fenced code block `-`line indentation"
A problem after implementing #372 is that some lines inside md fenced code blocks starting with `-` get indented for unknown reasons by Prettier.

E.g. by finding the regex `^- cache` in all files we can see that static/docs/commands-reference/commit.md has the unindented lines:

![image](https://user-images.githubusercontent.com/1477535/62908810-84cb0e00-bd3f-11e9-8b1f-78273cb4bd5a.png)

However

[2019-08-13 01:34] shcheklein commented on #554
I would actually create a ticket on the Prettier's repo to be honest. For us it does not look very important to include special instructions.

[2019-08-13 01:35] shcheklein commented on #554
Closing this for now :)

[2019-08-13 01:42] jorgeorpinel commented on #554
Good call, I started opening an issue at https://github.com/prettier/prettier/issues/new?template=formatting.md but in the process I discovered why this is happening!

The blocks that don't get indented have repeated keys inside the YAML blocks so **actually they're NOT valid YAML**. Prettier tries to run the YAML linter inside, but simply fails to parse them with error message `SyntaxError: Map k

[2019-08-13 01:50] shcheklein commented on #554
there is a bug in docs - in the first example, third md5 from the top should not be indented at all. It's a top-level md5.

[2019-08-13 01:50] shcheklein commented on #554
reopening it to check the docs and linting for this bug

[2019-08-13 02:03] jorgeorpinel commented on #554
Hmm I see. OK I fixed that in 5f13d5c but what about the other 2 examples I mentioned?

Here's a [playground](https://prettier.io/playground/#N4Igxg9gdgLgprEAuEADdBPAhgWwDYA6UYOAJkgAQAOGMAFtBQM4BOYA9FS3FVtwHQ0KpLDCzsRY-gA98RUjyZIiAWgpkArJQBGAFgAcABgCMYffqz6AzADMr2mxsMAmXWGMBOLB93OPHqywDIl56SlYOLh4+OEEMVXVSLQosK0NdLBttDwA2QzysLFIPEwB2HOcc610NOGNDKw0NENE6SklxDpk5KE1KMEDSq3qPbTgc930c7NJS5zhS411tMDgRU

[2019-08-13 02:11] shcheklein commented on #554
The first one should be like this:

[code]
or like this:

[code]

[2019-08-13 10:11] dzubape opened #557 "dvc run option -O"
Hello! What should I use **dvc run** option **-O** for? It seems, no action behind it.

[2019-08-13 10:59] pared commented on #557
Hello @dzubape!
`-O` is the same as `-o` option, but resulting file will not be added under dvc control. It can be used to output files that you not necessarily want dvc to track . For example, in case of small text files, you might want to track  them with git.
Is this explanation helpful?

PS. We have [help chat](https://dvc.org/chat) where you can ask questions. Usually we respond there faster

[2019-08-13 14:33] #557 closed

[2019-08-13 14:54] jorgeorpinel commented on #554
Great. Yeah, Prettier forces it into the 2nd form you provided. Fixed all in b5cd910

[2019-08-13 14:54] #268 closed

[2019-08-13 16:03] jorgeorpinel commented on #510
- [ ] When fixed, we should add `<abbr>` to term "project" in the first `<details>` section of static/docs/get-started/configure.md, for now removed in ce3d940

[2019-08-14 02:57] jorgeorpinel commented on #487
Note most progress on this issue is currently being done in https://github.com/iterative/example-repos-dev/commits/master.

[2019-08-14 16:32] shcheklein commented on #487
@jorgeorpinel let's do PRs to examples-repos-dev, just to see what's happening.

[2019-08-14 21:55] glema-gpsw opened #559 "next button skips section entirely"
If I go to https://dvc.org/doc/tutorial and hit `NEXT`, it won't take me to the `Preparation` item, but rather to https://dvc.org/doc/understanding-dvc. But if I hit `NEXT` again, it will take me to `Collaboration Issues` which is the first item under `Understanding DVC`.
So the `NEXT` button works differently depending on the section. Same thing happens for `Use cases` and `User guides` respectiv

[2019-08-15 04:40] jorgeorpinel opened #560 "change S3 bucket from old `dvc-share` to new `dvc-public/{prefix}`"
We decided to migrate from an old S3 bucket `dvc-share` to use certain prefixes (folders) in a new `dvc-public` bucket for use in documentation. The prefixes identified now are:

- `code`: For example code archives
- `data`: For sample datasets
- ` remote`: For using as an S3 remote (read-only in examples)

The main use for the bucket is to `wget` (download) files or use as DVC remote (read-only)

[2019-08-15 04:40] jorgeorpinel commented on #560
Also found that

- [ ] http://man.dvc.org/get-url gets redirected to https://dvc.org/doc/commands-reference/get/url (404 Not Found)

[2019-08-15 04:49] shcheklein commented on #560
@jorgeorpinel let's create PRs for simple things like get-url right away ... this way we can move faster and granular

[2019-08-15 04:50] jorgeorpinel commented on #560
Yes I'm on that process now. Creating git branches etc (:

[2019-08-15 04:58] jorgeorpinel commented on #560
Yeah I shouldn't have created this issue. Sorry, my mind slipped! I guess I wanted to leave a record of the actions we're taking thus the full description above ^.

Set to be closed automatically with the new PR now.

[2019-08-15 17:13] dashohoxha opened #563 "how: use DVC when data is stored in an external drive"
E: Check whether #520 was done first... See also #899

---

This doc should explain the best solution (or a couple of possible solutions) for this situation.

Example: the data is located in a partition of size 16TB on an external drive, while the DVC project is on `/home` of a partition of size 320GB.

[2019-08-15 17:18] dashohoxha commented on #563
@shcheklein can I give this a try?

[2019-08-15 17:21] shcheklein commented on #563
These are related/solve similar problems:

https://github.com/iterative/dvc.org/pull/455 (fixes #103 )
https://dvc.org/doc/use-cases/multiple-data-scientists-on-a-single-machine

Keep in mind:

https://github.com/iterative/dvc.org/issues/497

[2019-08-15 17:23] shcheklein commented on #563
@dashohoxha absolutely! just take a look at those tickets I mentioned above ^^ They potentially overlap, for one of them a PR is almost done.

[2019-08-15 17:32] dashohoxha commented on #563
The solution described by @efiop (tracking a data file that is external (outside the dvc project)) seems to be a different solution. Having a remote DVC cache (same as multiple-users-on-a-single-machine) is another solution. The NFS case seems to have a similar solution to multiple-users-on-a-single-machine.

[2019-08-15 17:45] shcheklein commented on #563
@dashohoxha gotcha. This is a different one indeed. This sections - https://dvc.org/doc/user-guide/external-outputs and this one https://dvc.org/doc/user-guide/external-dependencies should be reorganized/taken into account.

Also, keep in mind. My take on this that there should be a very strong reason to complicate your workflow with external deps/outs/cache in case of multiple drives. As I mentio

[2019-08-15 18:46] jorgeorpinel commented on #487
OK just noticed that Ivan, will roll back and make a PR for the recent changes.

[2019-08-15 21:33] shcheklein commented on #487
@jorgeorpinel no need to rollback, let's just address review changes as a separate PR

[2019-08-15 22:14] jorgeorpinel commented on #487
Already rolled back and opened #561.

[2019-08-15 22:33] jorgeorpinel opened #564 "reorganize get-started examples into tutorials"
- [x] Check [example-versioning](https://dvc.org/doc/get-started/example-versioning) (and https://github.com/iterative/example-versioning) and fix anything that may be broken.
- [x] Check [example-pipelines](https://dvc.org/doc/get-started/example-pipeline) and fix anything that may be broken.
- Check current Tutorial ~~for correctness,~~ (done in #666) and ~~vs. https://github.com/iterative/dvc-d

[2019-08-16 15:41] dashohoxha commented on #563
They seem accurate to me (unless there is some missing information that I don't know).
The problem is that it is difficult for the user to read all the details and intricacies on user guides and manual pages, and find the best solution for his case. Showing him what the best solution would be in a particular case (or a similar case) should be helpful.

[2019-08-16 22:32] shcheklein commented on #563
@dashohoxha your PR looks good, there are some improvements can be done which I'll review and let you know, but first I would like to understand the "use case" itself better, what are possible solution for that "use case", how should we improve those sections in User Guide, how all this stuff corresponds wish the shared machine case (when there is a single cache setup on a separate partition). Wit

[2019-08-17 01:06] jorgeorpinel commented on #411
I don't think that's correct. The remote is registered and then configured as the SSH cache.

The paths are strange indeed though, for all the remote types. E.g.

[code]

What does adding a URL do? I don't think you can even do that, at least it's not explained in https://dvc.org/doc/commands-reference/add

[2019-08-17 01:15] jorgeorpinel commented on #143
This issue is a little old and I see the doc is now called "Managing External Data" but from what I'm reading in the description this problem is still pending an update right? And should I also rename the URL so it's not `external-outputs` but that it matches `external-data` at least?

[2019-08-17 01:20] jorgeorpinel opened #566 "user-guide: clarify differences and use cases for external storage mechanisms?"
I've noticed that in general the different mechanisms DVC has to handle external storage are confusing. This includes *DVC remotes*, *external dependencies/outputs/cache*, and `dvc import`, `dvc import-url` commands, or even more general concepts like "remote location" and "external data source".

We have independent docs explaining each one but no single document (or consistent references through

[2019-08-17 01:34] jorgeorpinel commented on #566
UPDATE: Also related #563

[2019-08-17 01:41] jorgeorpinel commented on #563
Yes!

It's funny because I've been noticing significant confusion around external X topics so I opened #566 recently. I also feel like we may need to regroup and figure out the connections between all the external data stuff before deciding which docs to change.

That said it's good to have more use cases and I'll review the PR but if we don't figure out the big picture, this doc may only add to t

[2019-08-17 01:52] jorgeorpinel commented on #563
Questions about https://github.com/iterative/dvc.org/issues/563#issuecomment-522171263 @shcheklein:

Do you mean to add notes and links in all other documents where it can be useful?

Similar question. Are you suggesting Dashamir to accordingly update existing user guides with the same PR (#565)?

[2019-08-17 10:31] dashohoxha commented on #563
@shcheklein I believe I get your point. These discussions certainly help me to think about the problems and to look for solutions.

I am still trying to understand DVC and figure out any problems with the docs, what can be improved etc. I am also trying to follow the discussions (as much as I can), which may help me with understanding the problems. The simple tasks that I try to do are just to get

[2019-08-17 21:47] jorgeorpinel commented on #487
Started one at https://github.com/iterative/example-repos-dev/pull/6

[2019-08-17 21:55] efiop commented on #143
I somehow missed when the renaming took place, not sure about the reasons, to me it makes it more confusing, since `external-data` is more about `dvc add`, but `external outputs` is about `dvc run`, which is described there as well. Maybe it would be worth splitting that article into two `external-data` and `external-output`?

[2019-08-18 05:03] #560 closed

[2019-08-19 15:54] AlJohri opened #569 "dvc.org changelog 0.25 not rendering"
this page seems to be rendering oddly https://dvc.org/doc/changelog/0.25
I got there after clicking next on the bottom right of https://dvc.org/doc/changelog

[2019-08-19 16:22] shcheklein commented on #569
Fixed! thanks!

[2019-08-19 16:22] #569 closed

[2019-08-19 20:12] jorgeorpinel opened #571 "docs: review Prev and Next button links in all docs"
Some of the links are outdated as evidenced in #569

E.g. Prev in https://dvc.org/doc/changelog skips all of [Understanding DVC](https://dvc.org/doc/understanding-dvc) and goes to [Tutorial](https://dvc.org/doc/tutorial).

[2019-08-19 20:12] jorgeorpinel commented on #569
Nice catch. Actually I've noticed Prev and Next buttons go to unexpected places some times. E.g. Prev here skips all of "Understanding DVC" and goes to "Tutorial". Opened #571

[2019-08-19 21:21] shcheklein commented on #571
Duplicate #559

[2019-08-19 21:21] #571 closed

[2019-08-19 21:22] #559 closed

[2019-08-19 21:57] jorgeorpinel commented on #559
Great catch. Let's also review all the Prev/Next buttons throughout docs as some other links also seem outdated (see dupe #571).

[2019-08-20 04:08] nahidalam opened #574 "module 'enum' has no attribute 'IntFlag'"
I am following this [example-versioning](https://dvc.org/doc/get-started/example-versioning) steps in dvc

When I do `dvc add data`

I get below error:
`AttributeError: module 'enum' has no attribute 'IntFlag'`

**System Info:**
MacOS 10.14.5
Python 3.6.5

Please suggest.

[2019-08-20 04:16] nahidalam commented on #574
Nevermind, resolved it following [this link](https://stackoverflow.com/questions/43124775/why-python-3-6-1-throws-attributeerror-module-enum-has-no-attribute-intflag/45716067)

[2019-08-20 04:16] #574 closed

[2019-08-20 05:23] shcheklein commented on #559
@jorgeorpinel these links are automatically generated, so they should not be out of date. Do you see any wrong examples?

[2019-08-20 05:29] shcheklein commented on #143
@efiop @jorgeorpinel the idea was to consolidate everything related to "external data management" under this new section + add `index.md` to do an overview of different approaches and features DVC gives to support it. That was just the first step, but it still way better than having just "external outputs" (as a User Guide top level secion name) which is not descriptive at all, especially for the

[2019-08-20 05:38] shcheklein commented on #563
@dashohoxha not at all! it was not even a critique of your PR, it was an attempt from my end to systematize my thoughts about the current state of the stuff related to the external data management, external cache, NFS, etc, and come up with some initial strategy.

I'll review the latest changes asap (we are traveling now, so please give us a bit more time).

[2019-08-20 05:47] jorgeorpinel commented on #559
Hm. No, not any more. It used to be that "Previous" from the change log skipped "Understanding DVC". All good then!

[2019-08-20 05:53] jorgeorpinel commented on #143
Makes sense. Maybe we should update the title and description of the issue to detail on that idea? Then we'll just prioritize accordingly. I could address this after #425 for example.

[2019-08-20 14:25] #547 closed

[2019-08-20 14:31] shcheklein commented on #143
@jorgeorpinel yep, feel free to update accordingly ... please, check if there are other tickets related to this already

[2019-08-20 17:34] mroutis commented on #566
@jorgeorpinel , I don't have any solution to this but I agree that having a page explaining how to deal with external storage would be helpful.

A good next step would be to have several questions that we want this page to answer.
Maybe searching on Discord for keywords like `external storage` and `remote` or something that will help to figure out the FAQs from the community.

[2019-08-20 17:38] mroutis commented on #566
What I've identified is that users often configure one remote (SSH, S3, GCS, etc.) and they don't have a single page to refer to when doing so, neither a place to collect tips and tricks of a specific remote. Right now, they need to go through the `remote` sub commands and click on the expandable boxes to know about it. There was an issue already (currently closed) but I think it might be related

[2019-08-20 20:12] jorgeorpinel commented on #143
@shcheklein ok I updated the description, does it look good?

[2019-08-20 20:28] shcheklein commented on #143
@jorgeorpinel looks good!

[2019-08-20 20:43] jorgeorpinel commented on #143
Question:

What about external data sources? I.e. DVC remotes, external dependencies/outputs/cache, `dvc import` and `dvc import-url` commands, or even more general concepts like "remote location" and "external data source". (from #566) Should we mention any of those in this new consolidated doc, or keep separate?

[2019-08-21 01:00] dashohoxha commented on #499
I find this a good idea. I have been thinking the same but did not have a clear idea. These pages fit on User Guide.

[2019-08-21 07:58] drorata opened #576 "cmd ref: elaborate on how DVC understands a file's status"
DVC only takes into account the actual content of files (and ignores for example the last modification timestamp). This is not mentioned explicitly in the docs and is worthy to have somewhere. ~~As per @pared recommendation a reasonable place is https://dvc.org/doc/get-started/share-data#save-and-share-data.~~

UPDATE: Probably start in https://dvc.org/doc/command-reference/status and see mentions

[2019-08-21 08:40] dashohoxha commented on #72
Is not "Best Practices" the same as "Use Cases"?
Maybe we should rename "Use Cases" ==> "Best Practices"

[2019-08-21 08:46] dashohoxha opened #577 "explain how to move DVC-files around"
I think that it is not explained in the docs how to move DVC-files around. For example this one does not work: `mv my_file.dvc dvc_links/my_file.dvc`

Context: https://discuss.dvc.org/t/how-to-move-dvc-files/205
Related: https://github.com/iterative/dvc.org/issues/230

[2019-08-21 09:01] dashohoxha commented on #576
I think it uses a combination of both timestamp and checksum of the content (for efficiency). It has a cache database of "filename,timestamp,checksum" entries. If the timestamp of a file is not different from what it has in the database, then the cached checksum is used, otherwise the checksum of the file is recomputed.

Correct me if I am wrong.

However I don't know how I know this: maybe I read

[2019-08-21 09:05] pared commented on #576
@dashohoxha you are right, we use mtime and size to quickly detect that file has not been modified. However, what @drorata said here is, that its not obvious how do we calculate md5 for a file.

[2019-08-21 09:48] drorata commented on #576
I also referred to the clarity around the process that @dashohoxha described. Furthermore, in this case, I'd raise the issue that this description doesn't seem to hold when the file is located on S3. I tested something like:

1. Placed a file on S3
2. Imported it to a dvc workspace (using `dvc import-url`)
1. The, I uploaded the same file again to S3 (meaning its timestamp on S3 changed)
2. Lastly

[2019-08-21 10:10] pared commented on #576
@drorata  I am afraid we do not support checking status of imported file at its source.
What @dashohoxha mentioned, is our internal optimization to avoid recalculating md5 for each file in our workspace. Its working as follows:
- we have some file/directory in a workspace
- we add it under dvc control with `add, import-url, run -o or -d`
- during adding, we calculate md5, mtime and size for given

[2019-08-21 10:18] pared commented on #576
@drorata Can you elaborate what scenario you have in mind? Why would you like for `status` to work on data at its source?

[2019-08-21 11:41] drorata commented on #576
First, @pared [comment](https://github.com/iterative/dvc.org/issues/576#issuecomment-523392276) is important and I'm not sure it is part of the documentation. Secondly, I'm now confused. If at steps 3 in my [comment](https://github.com/iterative/dvc.org/issues/576#issuecomment-523384437) I would upload a new file (with different content) to S3, then `dvc status` would spot it. So it does track the

[2019-08-21 12:12] pared commented on #576
@drorata You are right, I have made a mistake.

To clarify:
For imported file, status will detect if its changed, but the detection is performed by checking whether its checksum have been changed. In case of S3 remote we should note that "checksum" == "etag".

[2019-08-21 12:18] pared commented on #576
So it would seem to me that S3 also does not take timestamp into consideration when calculating checksum.

@drorata do you think that `status` should detect change of timestamp? Why could it be useful? If the file did not change, even if its metadata changed, is there a reason why we should detect it?

[2019-08-21 13:18] drorata commented on #576
I'm not yet saying anything. I'm trying to understand better the behavior. So for local file if neither mtime nor size changed the checksum is checked. If this hasn't changed as well dvc deems the file as unchanged. For a file which is imported from S3 only the content is checked?

[2019-08-21 13:49] pared commented on #576
@drorata got it.

It quite contraty: when running `status` for local file, if mtime and size did not change, since last time we checked did something with the target, we can safely assume that particular file did not change. If mtime or size did change, its indicator that something has happend, and we should check md5.

In this particular use case, we rely on checksum(etag) provided by S3.
So when

[2019-08-21 17:35] shcheklein commented on #72
@dashohoxha no, it's not the same. "Best Practices" are relatively small tricks and advices you should be using to be efficient with DVC. They are usually general and do not depend on your specific use case.

[2019-08-21 19:02] drorata commented on #576
That all makes now much more sense. Would be great to improve the docs and reflect these different scenarios.

BTW: I assume there are very good reasons to have different behavior for the two use cases, but for a user experience perspective it is a little confusing.

[2019-08-22 03:38] mroutis commented on #139
Someone got confused on Discord because the tutorial implies a cache type of `hardlink / symlink / reflink`
https://discordapp.com/channels/485586884165107732/485596304961962003

[2019-08-22 03:54] doc-E-brown opened #579 "add note to the introduction tutorial to highlight fallback to copying files in the DVC cache can be expected behaviour"
Continuing from issue https://github.com/iterative/dvc.org/issues/139.

I recently completed the introduction tutorial and was surprised by the amount of disk space being occupied by the data on my system.  According to the **Data File Internals** section of https://dvc.org/doc/tutorial/define-ml-pipeline.  After running ``du -sh .`` I expected a file size of 41M but instead received 81MB.  After

[2019-08-22 03:59] mroutis commented on #579
Let's wait for @shcheklein / @jorgeorpinel , maybe they have something to add (as they are more familiar with the docs) :slightly_smiling_face:

[2019-08-22 04:47] shcheklein commented on #579
@doc-E-brown sure! I would happy to merge your updates. Documentation is indeed a little bit outdated here. Initially DVC was designed to fallback to hardlink or symlinks automatically, but since they require the protected mode to be enabled to prevent cache corruptions we decided to make it opt-in instead.

Since you have done the tutorial just recently, I think you still has a fresh perspective

[2019-08-22 05:33] shcheklein commented on #143
@jorgeorpinel  I think we can definitely mention them to provide a full picture of different options how one can connect data from different sources

[2019-08-22 08:42] dashohoxha commented on #579
I think that the tutorial (/doc/tutorial) is outdated and also has some overlap with get-started and examples. So, just making a small fix to it is not going to improve it. It needs to be completely rewritten or revised.

About the topic of cache types, I think that we should first explain to the users that they need to use a partition that supports _reflinks_, like XFS, Btrfs, ZFS, etc. in order

[2019-08-22 14:39] mroutis commented on #579
@dashohoxha , just take into account that Windows doesn't support those filesystems; as far as I know, there's no alternative to use _reflinks_ on Windows.

`hardlinks` and `symlinks` aren't that bad if you set `dvc config cache.protected true` :sweat_smile: .

More context about the decision of using `reflinks` / `copy`: https://github.com/iterative/dvc/issues/1599

[2019-08-22 16:02] dashohoxha commented on #579
I am not familiar with windows, but I think that it supports deduplication of files (aka CoW).

I am OK with the decision for using `reflinks,copy` by default (avoiding `hardlinks` and `symlinks` as much as possible).

[2019-08-22 17:43] shcheklein commented on #579
@dashohoxha there is ticket already to consolidate get-started, examples, and tutorial https://github.com/iterative/dvc.org/issues/564 .

We already have a section in the user guide that explains different strategies, pros/cons and when they should be used (feel free to suggest any improvements the section) - https://dvc.org/doc/user-guide/large-dataset-optimization

Current default policy is `ref

[2019-08-22 20:11] jorgeorpinel commented on #579
How about this note I added in to a feature branch in e347c49?

[2019-08-22 20:16] jorgeorpinel commented on #143
So basically #566 is a duplicate of this issue. Meaning, the consolidated document here described could solve both issues, right? I'll merge them if so.

[2019-08-22 23:03] doc-E-brown commented on #579
Hi @jorgeorpinel that would be great! A very small note pointing out that the  `du -sh .` command in the tutorial would only be 41M in the event that reflinks are supported and that if dvc falls back to copying file this would not be 41M would be the cherry on top.  On reading it seemed that this section of the tutorial was emphasizing the space saving of the reflinks and it was surprising not to

[2019-08-22 23:36] shcheklein commented on #579
@jorgeorpinel looks good, `avoid problems with other file link types` - I would change it a bit though to something less scary. `Problems` probably not the best term here. The idea is that we want to keep the workflow simple by default. It's not like more advanced workflow has any "problems".

[2019-08-22 23:46] jorgeorpinel commented on #579
Good points. Updated in 4384bfa

[2019-08-23 15:53] iAdramelk opened #584 "remove deprecated lifecycle methods from React components"
Starting from React 16.3.0 some lifecycle methods are considered deprecated and will be removed in React 17.0.0: https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html

There is now 2 component that using deprecated methods:

- `src/GithubLine/index.js`
- `src/Layout/index.js`

They it should be rewritten without it.

[2019-08-23 22:02] #554 closed

[2019-08-24 20:06] jorgeorpinel commented on #579
This was addressed in https://github.com/iterative/dvc.org/pull/583/files#diff-30a8e99835be7fba6019f05518c347ebL94-R100

[2019-08-24 20:06] #579 closed

[2019-08-26 19:23] iAdramelk opened #589 "Page loading indicator for docs"
Moved to separate issue from #286.

Right now there is no loading indicator on navigation in docs pages. On slow connection after you click on link there will be a pause for couple of seconds and only after that page will change. Maybe we can show some progress indicator instead so user can understand that everything is working as intended.

[2019-08-26 19:24] iAdramelk commented on #286
In current version on navigation then there is no network connection FF and Chrome both correctly shows standard "No Internet" pages.

Created separate ticket for loading indicator discussion #589

[2019-08-26 20:47] #267 closed

[2019-08-27 16:42] dashohoxha opened #593 "having docs for different DVC versions"
Most of mature software have a different version of docs for different stable versions of the software. For example for version `v1` there is `docs/v1/`, for version `v2` there is `docs/v2/`, and so on. For the latest stable version it could be just `docs/`.

This makes sense because if people are already using version `v1` of the software, and it works well for their needs, they don't have to upg

[2019-08-27 16:59] dashohoxha opened #594 "how to use DVC when the data is stored in a DB"
Do you think this would be a good Use Case? That is, when data is stored in a DB, but we can dump the queried list of data to a text file, and provide that as a dependency to a DVC stage? Or maybe this is too easy/trivial?

Context: https://discordapp.com/channels/485586884165107732/563406153334128681/615720242642944102

[2019-08-27 17:11] dashohoxha commented on #159
Maybe we can make a use-case for this.

Context:
- https://discordapp.com/channels/485586884165107732/485586884165107734/614145641831989248
- https://discordapp.com/channels/485586884165107732/485586884165107734/614506424420270080

This may also be related: https://github.com/iterative/dvc.org/issues/72

[2019-08-27 17:47] iAdramelk opened #595 "switch to yarn from npm for package management in nodejs"
Then you run `npm install` in some cases npm incorrectly updates `package-lock.json` file, which causes bugs then installing app on Mac.

See this ticket for more details: https://github.com/npm/npm/issues/17722
See this discussion for this problem on dvc.org: https://github.com/iterative/dvc.org/pull/585#discussion_r317715747

One posible solution for this problem will be switching to `yarn` from

[2019-08-27 19:08] iAdramelk commented on #309
@shcheklein I investigated this bug some more and looks like that the source of the problem is combination of PerfectScrollbar and using animations for opening/closing directories:

1. After scroll container content changes we need to run PerfectScrollbar.update() function to update container height because PS didn't detect those changes by itself.
2. But right now update is called before the end

[2019-08-28 11:47] iAdramelk commented on #309
@shcheklein Any browser. I will add timeout to this branch and create separate branch for version without scroll.

[2019-08-29 04:00] shcheklein opened #598 "opening pipeline "hides" version item"
Open https://dvc.org/doc/commands-reference/pipeline. You won't see `version` command reference at the end of the list.

[2019-08-30 00:34] jorgeorpinel opened #599 "get-started: rewrite it (reach "next level") for user interaction"
~~After #487~~ ✔️

- [x] Review validity of open [get-started issues](https://github.com/iterative/dvc.org/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+label%3Adoc-content+get-started) when the above is addressed.
- [x] Consider these comments about the current Get Started: https://discuss.dvc.org/t/about-get-started/194
- [x] Include #634 as well (replace the orphan stage from add-files for an im

[2019-08-30 04:57] jorgeorpinel commented on #448
Should be fixed in 56f816f.

[2019-08-30 07:21] shcheklein commented on #595
@iAdramelk relevant concern - https://github.com/iterative/dvc.org/pull/597#issuecomment-526487773 . Please take a look when you have a minute.

[2019-09-02 01:54] jorgeorpinel commented on #461
Ping @algomaster99 still around? 😃

[2019-09-02 05:29] algomaster99 commented on #461
@jorgeorpinel I am really sorry I am not contributing these days but I have been really busy. Can you quickly update me what all do I need to do as of now? Thanks!

[2019-09-02 06:05] jorgeorpinel commented on #461
No worries just let us know if you're no longer available, you've already helped a lot 👍
But if you can try to address the first checkbox here, that would be great:

[2019-09-02 06:12] algomaster99 commented on #461
@jorgeorpinel I am just temporarily busy. I will definitely get on with this issue once I am free. I'll try this weekend.

[2019-09-02 19:41] #518 closed

[2019-09-02 21:59] #598 closed

[2019-09-03 17:18] AlJohri opened #605 "import: docs don't mention that a revision can be a tag/branch"
https://dvc.org/doc/commands-reference/import

The docs don't mention that `--rev` can be a tag or branch.

Ref: https://discordapp.com/channels/485586884165107732/563406153334128681/618485021342433290

[2019-09-03 17:22] pared commented on #605
Maybe we should put in in glossary?

[2019-09-03 23:20] shcheklein commented on #605
@pared what do you mean by glossary in this context exactly?

[2019-09-03 23:48] AlJohri commented on #605
maybe this? https://github.com/iterative/dvc.org/issues/424

[2019-09-03 23:51] shcheklein commented on #605
@AlJohri thanks! I'm just trying to understand why glossary and not just commands reference. And what part of the glossary. I think I just didn't expect to see the glossary here :)

[2019-09-04 07:42] pared commented on #605
Well, we have this `glossary.js` in project responsible for providing definitions for some more common expressions, like `DVC cache`. I think revision definition should be provided the same way, as this word is used in few places in docs.

[2019-09-04 21:41] shcheklein commented on #605
@pared makes sense, thank you for explaining this :)

[2019-09-04 23:08] shcheklein commented on #595
Done, thanks @iAdramelk !

[2019-09-04 23:08] #595 closed

[2019-09-04 23:11] shcheklein commented on #531
Latest valid example - https://dvc-org-pr-606.herokuapp.com/doc/commands-reference/gc

[2019-09-05 06:20] jorgeorpinel opened #608 "term: misc. clarifications"
- ~~Make consistent use of "`name.dvc` stage file" vs "'name' stage" phrases.~~ (no longer applies in DVC 1.0)
- [x] Look up for phrases like ~~"should",~~ ~~"obvious"~~, "you probably noticed", "as seen here" (without explanation), etc. to make the wording friendlier. Especially in introductory docs and guides (e.g. Get Started) - continued in #1394
- [ ] "data remote" / "DVC remote" -> "remote"

[2019-09-05 17:48] shcheklein opened #609 "link icon next to titles to anchors"
Similar to Github and other engines:

<img width="868" alt="Screen Shot 2019-09-05 at 10 46 57 AM" src="https://user-images.githubusercontent.com/3659196/64366188-88faec00-cfca-11e9-9f1e-4489f04f954a.png">

[2019-09-06 01:30] #448 closed

[2019-09-06 20:23] dashohoxha commented on #546
I have started with Katacoda scenarios, but it is still WIP: https://katacoda.com/dvc/

[2019-09-06 21:43] #309 closed

[2019-09-09 01:59] dashohoxha commented on #159
Related: https://github.com/iterative/dvc/issues/2324

[2019-09-09 12:11] algomaster99 commented on #548
@jorgeorpinel @shcheklein they haven't addressed this issue yet. https://github.com/prettier/prettier/issues/4123 I think we need to manually wrap strings. :confused:

[2019-09-09 19:12] jorgeorpinel opened #612 "cmd ref: add `commit` example on adding missing dependency to existing pipeline"
Copy from https://discordapp.com/channels/485586884165107732/563406153334128681/620641589252980736

[2019-09-09 19:13] jorgeorpinel commented on #612
@shcheklein you mentioned:

Not sure what you meant.

[2019-09-09 19:24] jorgeorpinel commented on #548
Thanks for your input @algomaster99 we'll keep this issue open linked to that one you mentioned.

If you have time, please let us know whether you can look into the first checkbox in #461

and/or #510

[2019-09-09 22:43] shcheklein commented on #612
cc @dashohoxha (should be of you interest to read this, I think)

So, if we take a look at the `dvc commit` examples we have now in the command reference they all use `example-get-started` repo as a base. You don't need to do `mkdir` or create some artificial bash processing, you just do `git clone examples-get-started` and then use pull, repro, commit, etc.

*The benefits are:*

* Unified across

[2019-09-10 01:52] algomaster99 commented on #548
@jorgeorpinel My exams are on. I will look into it after it :smile:

[2019-09-10 03:37] dashohoxha commented on #100
Working on a Katacoda scenario for this: https://katacoda.com/dvc/scenarios/data-management

[2019-09-10 03:39] dashohoxha commented on #577
Working on this:
- https://github.com/dashohoxha/katacoda-dvc-scenarios/commit/8d8d86fa8e22407fd61a6eef0a121f2afba9d8a9
- https://github.com/dashohoxha/katacoda-dvc-scenarios/commit/39e052ca1b9d62896aec554b09fa7b51c27ce8cc

[2019-09-10 07:17] Suor opened #614 "docs: update sample dvc command outputs"
These things in example output are no longer printed out by `dvc`:
- "`Reproducing '<dvc-filename>'...`"
- "`Using '<dvc-filename>' as a stage file`"

The first one was simply removed in [this commit](https://github.com/iterative/dvc/pull/2440/commits/c68b76f8434ac20f937696421e9a5315475d0085). Not sure what is the story behind the second one.

[2019-09-10 08:21] dashohoxha commented on #612
@shcheklein @jorgeorpinel I agree that both kinds of examples are useful, depending on the case.

When we use real life examples (like `example-get-started`), it is often the case that several concepts and features are intertwined. Sometimes this makes it a bit difficult to explain just a single concept/feature without explaining the others as well (ore referring to other explanation pages).

This

[2019-09-10 08:38] dashohoxha opened #615 "create a collection of simple bash script examples"
We may call it `dvc-examples` and it will contain simple (minimal) bash script examples that illustrate a single concept or feature.

When we use real life examples (like `example-get-started`), it is often the case that several concepts and features are intertwined. Sometimes this makes it a bit difficult to explain just a single concept/feature without having to explain the others as well (or re

[2019-09-10 17:51] shcheklein commented on #615
I think simple bash examples can be useful. Not sure about keeping them in a separate repo and asking ppl follow to an external link - it can make reading docs more complicated to my mind.

Also, some of them might become complicated and not focused on DVC - we will need to run a lot of preparation code - `git init`, `dvc init`, `git commits`, creating tags/branches, come up with some artificial s

[2019-09-11 07:29] dashohoxha commented on #615
It is absolutely useful. I did not even doubt that. My idea is to add more simple/basic examples, like those that our engineering team uses to explain a situation. I find them useful for educational purposes.

Having them as a separate script has these advantages:
- You can test them easily, to make sure that they work as expected (for example there are no typos).
- You can update them easily to t

[2019-09-11 18:54] shcheklein opened #617 "lock main page scroll when sidebar menu is open on mobile"
When you open the left-side menu with docs contents and scroll it to the very bottom at some point you start scrolling the document that is hidden behind it. It makes UX feel unpredictable.

[2019-09-11 18:56] shcheklein opened #618 "don't allow for second item highlight in sidebar on scroll on mobile"
When you scroll it highlights the second item that is under the touch w/o actually selecting it:

![IMG_9309](https://user-images.githubusercontent.com/3659196/64726328-323e5800-d48b-11e9-91fd-7673034b3144.JPG)

[2019-09-11 18:58] shcheklein opened #619 "doc search experience is broken on mobile"
It magnifies the screen and does not change it back.
It's very hard to actually scroll and see results.

[2019-09-13 15:53] dashohoxha commented on #615
To better explain what I was talking about, I started to write a couple of such examples: https://github.com/dashohoxha/dvc-examples
Then I had the idea of making them interactive.

However, the prize for being able to convert reliably a script to interactive script is that **":;"** has to be used in front of each command, like this:
[code]

This seems to me a bit clumsy and ugly, but I couldn't f

[2019-09-13 15:58] dashohoxha commented on #615
By the way, these interactive examples look like a "poor man's katacoda". But since we are already using Katacoda (which is way better), they don't seem to be quite useful.

[2019-09-17 04:30] gwerbin opened #625 "how to: "undo" 'dvc add' + other "how to undo mistakes" recipes"
*This issue is 1 of 3 that I was asked to post here, following a conversation on Discord with mroutis and ivan*

I encountered this problem within my first 15 minutes of using DVC: "how do I undo `dvc add`?"

The answer turns out to be:
1. `unprotect` the file, just in case
2. Delete its corresponding .dvc file
3. Optionally run `gc` or look up the MD5 in `data.dvc` and delete it from `.dvc/cache`

[2019-09-17 04:54] gwerbin opened #626 "Ctrl+click on the left-side panel does not open a new tab in Chrome"
On https://dvc.org/doc/, a ctrl+click on an item in the left-side menu should open the page in a new browser tab. Instead it opens the page in the current browser tab, violating basic browser UX.

Tested on Windows 7 Enterprise SP1, using:
* Mozilla Firefox 69.0 (64-bit)
* Google Chrome Version 77.0.3865.75 (Official Build) (64-bit)

[2019-09-17 04:55] gwerbin opened #627 "state which dvc config option (local/global/system) is default"
https://dvc.org/doc/commands-reference/config does not state which of `--local` , `--global`, or `--system` is the default, if none of those options is included.

[2019-09-17 12:53] gwerbin commented on #627
The default is `--local`, right? I'm happy to make this change myself.

[2019-09-17 22:30] shcheklein commented on #627
@gwerbin please, see my comment https://github.com/iterative/dvc.org/pull/628#pullrequestreview-289583585

I think we still can rewrite and clarify it better.

[2019-09-19 04:30] dashohoxha commented on #625
@gwerbin There is an example of how to undo `dvc add` here: https://katacoda.com/dvc/courses/basics/data-management
However this is still unfinished work and not yet advertised on the website of DVC.

[2019-09-19 04:33] dashohoxha commented on #625
There is also a stackexchange about DS: https://datascience.stackexchange.com

[2019-09-20 18:18] #626 closed

[2019-09-21 18:05] dashohoxha opened #633 "best practice: recommend using a bash script for building pipelines"
As a best practice, I would recommend using a bash script for building a pipeline.
Something like this:
[code]

Some of the benefits are these:
 - The pipeline becomes transparent (you don't have to check the content of `.dvc` files to see what are the inputs, the outputs, the commands, etc.)
 - The pipeline becomes editable (you can use find/replace tools to modify it consistently).
 - The pipeli

[2019-09-21 18:09] dashohoxha commented on #633
Comment by @shcheklein: https://github.com/iterative/dvc/issues/2516#issuecomment-533815705

@dashohoxha right, and we've seen people doing this already. Not sure I like this approach (bash scripting) to be honest. Feels like a workaround. I would like DVC to be self-sufficient to more or less extent in the long term. Saying that, I don't know yet how it should be done. Some Python DSL/decorators

[2019-09-21 21:52] jorgeorpinel opened #634 "make import-data an official step in get-started"
See https://dvc.org/doc/get-started/import-data. The last paragraph has "Since this is not an official part of this Get Started..." This should not be the case.

The code example should actually replace the orphan stage from https://dvc.org/doc/get-started/add-files for an import stage. This needs to be updated in https://github.com/iterative/example-get-started also (so actually in [example-repos

[2019-09-23 21:15] #619 closed

[2019-09-24 02:25] jorgeorpinel commented on #461
Actually I looked with my browser (Chrome) and mobile view is not broken by this, it's just not implemented yet. What are the options to implement this? The floating tooltips don't seem to be a good design for mobile. Maybe create a rectangle in the bottom 1/3 or so of the screen for the glossary entry text? (With an x to close it.)

[2019-09-24 03:51] jorgeorpinel opened #636 "PREV/NEXT buttons are broken."
They do nothing. In local dev mode, React throws:

**TypeError: Cannot read property 'preventDefault' of undefined**
[code]
...

![image](https://user-images.githubusercontent.com/1477535/65479812-fb8a1980-de5c-11e9-94ef-30120508efe0.png)

[2019-09-24 08:41] algomaster99 commented on #461
@jorgeorpinel We can give small question mark to indicate if it is clickable on mobile. Something like this - cache<sup>?</sup> or should we stick with underline only?
For display, I agree with showing it on 1/3 of screen.

[2019-09-24 14:58] pared opened #638 "install: example(s) on adding compatible DVC/Git hooks"
In #629 and https://github.com/iterative/dvc/pull/2505 we introduced exception raising on pre-existing hook. We should explain how Git hook compatible with the ones installed via `dvc install` should look like for users that would like to create their own.

[2019-09-24 16:35] jorgeorpinel commented on #461
@algomaster99 are you back? 🙂

I think underline is fine. Honestly I wouldn't expect many people will be using our command reference on mobile that much but I guess we have to implement this. If we could just have a rectangle take over the bottom 1/3 or so of the screen (with a big x to close it) when they click underlined terms, that would be great.

[2019-09-24 21:47] #636 closed

[2019-09-25 00:01] shcheklein opened #642 "sidebar blinks on next/prev buttons click"
![Sep-24-2019 16-57-09](https://user-images.githubusercontent.com/3659196/65558768-e78df880-deec-11e9-98af-0fc2c072d2e3.gif)

[2019-09-25 21:22] algomaster99 opened #644 "glossary: wrong tooltip direction on repeated keywords"
The direction for tooltip for `DVC cache` is returned correctly but not for `cache` below. This is happening since the keys are not unique.
![bug](https://user-images.githubusercontent.com/35191225/65640617-66c41f00-e008-11e9-8725-169746a352f9.gif)

[2019-09-25 23:51] jorgeorpinel opened #646 "use-cases: change word in diagram in share-data-and-model-files"
"Serving" -> "Storage" in https://dvc.org/doc/use-cases/share-data-and-model-files

![image](https://user-images.githubusercontent.com/1477535/65647784-c0f3be80-dfcd-11e9-979a-f72e5f1130fe.png)

[2019-09-26 04:23] jorgeorpinel commented on #340
I've updated the issue description to include.

What do you guys think? Sorry took so long!

[2019-09-26 05:00] shcheklein commented on #340
@jorgeorpinel yep, agreed. I would start probably by writing User Guide and taking some parts from the commands reference. When it's ready we'll clean the CR sections and put the appropriate links.

[2019-09-26 18:27] jorgeorpinel commented on #340
@ryokugyu still around/interested?

[2019-09-26 21:53] #644 closed

[2019-09-26 22:05] shcheklein commented on #646
@jorgeorpinel serving is the right word here :) (it's when you need need to open a model file in a Falsk app for example to drive your REST API - you can use `dvc get` or `dvc.api.open` to get the file)

[2019-09-26 22:05] #646 closed

[2019-09-26 23:25] #627 closed

[2019-09-27 04:15] ryokugyu commented on #340
@jorgeorpinel Still around 😄 Was busy with placement session, got placed today only! 😺  Let's work on this.

[2019-09-27 04:42] dashohoxha opened #648 "user-guide: document data sharing with unsupported storage types"
Since a remote cache is basically a mirror of the local cache, then any tool (not just DVC) can be used to synchronize them.

This can be another workaround for storage types that are not yet supported by DVC (besides mounting the remote storage on a local directory). Maybe this is not as efficient as DVC, and some things are not going to work (for example `dvc status --cloud`), but it still shoul

[2019-09-27 05:15] shcheklein commented on #648
It feels like it's more or less obvious (after you read how DVC stores data) that cache (or the whole project )can be copied - to a remote machine, to another machine (the same way as you can use rsync to sync Git project). But I would not consider this as a workaround for unsupported remotes - it's too limited and breaks data granularity and basic DVC workflow - `push/pull` along with `gc/status`

[2019-09-27 10:31] dashohoxha commented on #648
Ok, let's not call it a "workaround for unsupported remotes", let's call it "sharing data with the help of a remote storage".
DVC can be used even without a remote storage, so I would say that commands like `push` and `pull` are not essential for its operation. This is the case for example with the "shared development machine".

I had in mind something like this as well: How can we share DVC data

[2019-09-27 13:38] dashohoxha commented on #546
@shcheklein  I am not done yet with the interactive lessons/tutorials/examples, but the lessons about the basic concepts are almost finished. You can review them if you wish.

I am planning to add one more basics lesson about get/import, and then some tutorials and interactive examples. They may take me another week or two.

[2019-09-27 13:52] dashohoxha commented on #633
@shcheklein:

Also I have seen @dmpetrov talking about "scripting experience" with prompts and interactivity. I am not sure, but maybe this is what he has in mind.

Maybe this is a topic for another discussion. In a previous discussion I have mentioned **doit**: (https://discuss.dvc.org/t/simplifying-dvc-run-and-pipelines/199/2) but actually I don't have any experience with it myself. The fact tha

[2019-09-27 13:55] dashohoxha commented on #100
I have created a lesson/tutorial about using DVC in `--no-scm` mode: https://katacoda.com/dvc/courses/basics/data
Is this sufficient to close the issue?

[2019-09-27 14:35] dashohoxha commented on #577
This lesson explains it: https://katacoda.com/dvc/courses/basics/data

[2019-09-27 14:35] #577 closed

[2019-09-27 14:37] dashohoxha commented on #99
This lesson elaborates on this topic: https://katacoda.com/dvc/courses/basics/performance

[2019-09-27 14:37] #99 closed

[2019-09-27 14:41] dashohoxha commented on #159
The last step of this lesson mentions something about using different folders for different pipelines:
https://katacoda.com/dvc/courses/basics/pipelines
But I am not sure if this is enough to close this issue.

[2019-09-27 14:46] dashohoxha commented on #594
I have described a simple situation of getting data from a DB here:
https://katacoda.com/dvc/courses/basics/pipelines
So, I guess we can close this.

[2019-09-27 14:46] #594 closed

[2019-09-27 16:35] jorgeorpinel commented on #340
All yours @ryokugyu ! Please lmk if you need any more details. You can also find me on Discord as **jorgeorpinel**.

[2019-09-27 16:35] jorgeorpinel commented on #340
p.s. congrats on your placement!

[2019-09-27 16:37] jorgeorpinel commented on #646
Cool

[2019-09-27 17:10] jorgeorpinel opened #651 "should we NOT hardcode dvc.org so much in server.js?"
Specifically in server.js redirects. Should we get the hostname dynamically from the environment instead?

https://github.com/iterative/dvc.org/blob/c049220f41616384cb85e695af869056c8e82e32/server.js#L33-L40

This way also maybe local dev server will be able to provide this redirects (when using a name other than `localhost` in `hosts`).

[2019-09-27 17:23] jorgeorpinel opened #652 "ci: test to check all links"
We have internal and external links, mainly in our MD files, which tend to change regularly and its easy to break them accidentally for different reasons. We could probably automate this check?

Per https://github.com/iterative/dvc.org/pull/637#pullrequestreview-293487957

[2019-09-27 17:36] jorgeorpinel commented on #652
p.s per https://github.com/iterative/dvc.org/pull/637#discussion_r328993919

[2019-09-27 21:04] shcheklein commented on #651
the problem here is that we are testing `man.dvc.org` and you can't really test `man.localhost` as far as I remember. But may be there is some workaround to generalize this to work locally.

[2019-09-27 21:21] #633 closed

[2019-09-27 21:29] jorgeorpinel commented on #651
You may be able to setup `man.localhost` actually. But I was thinking about a custom local hostname configured in the machine `hosts` file. Or in case the dvc.org domain name changes (unlikely, I know).

In general I just think it's better not to hardcode this kind of thing. Maybe pull it from and env var (and use dot env locally) ?

[2019-09-27 21:42] shcheklein commented on #651
@jorgeorpinel yep, sounds reasonable

[2019-09-27 22:30] shcheklein commented on #546
A few comments so far:

1. you are not using/mentioning `virtualenv`/`pyenv` - this is encouraging bad practices. You also don't mention that there are other options available how to install it.
2. don't really like the `--no-scm` approach - it's a really rare edge case and you start with it, instead of explaining actual basics which is Git an essential part of
3. `sed -i file2.txt.dvc -e s/file1.

[2019-09-27 22:33] shcheklein commented on #100
@dashohoxha not enough, I believe. I think this ticked should be implemented as a note/mention in one of the introductory user guide sections (that are still not implemented and probably will be taken from the Understanding DVC). I can imagine there can be a section named "How it works" that can have a page inside "DVC and Git" - just an example to give you some sense. We should come with better t

[2019-09-27 22:45] shcheklein commented on #101
I think this solves it for now - https://dvc.org/doc/user-guide/large-dataset-optimization#file-link-types-for-the-dvc-cache

[2019-09-27 22:45] #101 closed

[2019-09-27 23:54] shcheklein commented on #648
First of all, let me point that I'm still figuring out a better way to structure different ways of managing data with DVC, and ML in general. DVC gives so many different ways of organizing things that we need to come up with some simple rules and some common scenarios that will organize and help people navigate depending on the task they are trying to solve. So, all comments are not "precise", not

[2019-09-29 00:39] jorgeorpinel opened #654 "cases: generalized shared dev server"
1. ~~Do we need blog-like articles in a semi-static website?~~ UPDATE: We even have a blog now...
  How about extracting the more user manual-like information from the existing use cases into user guides and write actual articles to replace our use cases? These can be published in our blog, Medium, etc. (handled like a devrel matter like any other article).

UPDATE: Jump to summary: https://github

[2019-09-29 00:40] jorgeorpinel opened #655 "add DVC functionality module filer to narrow down docs?"
Similar to the indexed text search available, we could tag all our docs with the different feature modules in DVC – which we have to define first. For example Synchronization, Configuration, Versioning, etc. (Maybe these modules are the same as the new meaning of "use cases" I suggest in https://github.com/iterative/dvc.org/issues/654#issue-499836861.)

Having these tags we could then add a filter

[2019-09-29 00:47] jorgeorpinel commented on #654
and maybe even rename **User Guide** to **User Manual**. Same concept but a little better naming because we can call each document inside a "guide" without causing confusion with the parent section (the manual).

[2019-09-29 18:49] jorgeorpinel commented on #654
Some comments from @shcheklein:

From https://github.com/iterative/dvc.org/pull/637#pullrequestreview-293500033 (regarding the list of guides in /user-guide/index.md)):

From https://github.com/iterative/dvc.org/pull/637#discussion_r329336744 (regarding reorganizing "External Data" guides):

From https://github.com/iterative/dvc.org/pull/637#discussion_r329337401:

[2019-09-30 04:18] dashohoxha opened #656 "make a top-level (user-guide level?) installation page"
Right now the installation page is a subsection of Get Started: https://dvc.org/doc/get-started/install
I think it should be a top-level section, that includes all the details about installation that are scattered on the other pages (like Bash autocompletion, installation just for testing, installation for development, IDE integrations, etc.

[2019-09-30 04:47] dashohoxha commented on #546
@shcheklein Maybe you are missing the whole picture, or maybe I have not explained it well.

I think that for installation we should have a separate top-level page that explains all the possible ways of installation, including `virtualenv` / `pyenv` (https://github.com/iterative/dvc.org/issues/656).
By the way, `virtualenv` / `pyenv` is suitable when you install DVC just for testing, or just for a

[2019-09-30 05:17] dashohoxha opened #657 "build a "Tutorials" top-level index page"
This page should have a list of tutorials, with a short description of each tutorial.

The first tutorial is going to be the "Get Started Tutorial", which is the most detailed one and full of comments, explanations, and links to other resources.

The other tutorials are links to interactive Katacoda tutorials.

Maybe we can also list some tutorials that are explained on external blog pages.

[2019-09-30 05:25] dashohoxha commented on #657
By the way, I am planning to merge this: https://dvc.org/doc/get-started/example-pipeline
and this: https://dvc.org/doc/tutorial and to make an interactive tutorial based on them (which is going to be something like this: https://katacoda.com/dvc/courses/tutorials/versioning).

This implies that the the two pages mentioned above, as well as this one: https://dvc.org/doc/get-started/example-version

[2019-09-30 11:37] dashohoxha commented on #654
Another option is to describe a Use Case (or Case Study or whatever we call them) as an interactive Katacoda example (if this is possible). A working concrete example is easier to understand than wordy explanations with hypothetical situations.

[2019-09-30 12:01] dashohoxha commented on #648
I think I get your point. You are right about getting all the benefits (being able to use all the features of DVC, including push/pull). In this case, no mounting is involved (although for practical purposes it looks like mounting). However if set up correctly this might actually be better than mounting.

This is one of the things that can be better demonstrated how it works, than explained with w

[2019-09-30 18:22] shcheklein commented on #655
Have you seen something like this in other projects' docs? It feels that it would require a bit of effort to being able to slice docs and keep those "slices" complete, consistent, executable, etc.

[2019-09-30 19:00] jorgeorpinel commented on #655
I can't think of any example. I just thought this could be very useful per some talk we had onSlack recently. Defining these modules or topics is also probably something that has already been done and the way the core code may be structured (at least partially), for example the "Sync" functions (pull, push, etc.)

But if we don't have this kind of previous analysis (class diagrams, flow charts, **

[2019-09-30 20:58] algomaster99 opened #658 "glossary: soft code style constants in tooltip file"
Soft code all style constants inside `state`.
https://github.com/iterative/dvc.org/blob/c049220f41616384cb85e695af869056c8e82e32/src/Tooltip/index.js#L11

[2019-09-30 22:03] shcheklein commented on #654
Online interactive tutorials are complimentary and are not replacements for "wordy explanations". They make it easier things to run, sometimes easier to understand. But they still require explanations around them - motivation, what's happening, etc.

[2019-09-30 23:07] shcheklein commented on #656
This should be an UG chapter that will merge all the sections you mentioned. Eventually the one in get started should be simplified and just link to the UG for the details.

There are a few related tickets already to introduce third level properly to the UG.

I don't think there is a need to make it a top level docs section for now. We can reconsider and move out of UG when it's done within the UG

[2019-09-30 23:19] shcheklein commented on #657
and this: https://dvc.org/doc/tutorial

I think there is a ticket to consolidate NLP example and tutorial (by simplifying tutorial). Again, I don't see how this can be replaced by Katacoda. I would expect it to have a link to Katacoda for those who want to run. Similar to Pytorch's Run in Colab, etc.

I consider online tutorials complementary but not as a replacement for text based docs. There are

[2019-09-30 23:20] shcheklein commented on #657
@jorgeorpinel could you please, link the related consolidation tickets here please? and other related issues that come to your mind.

[2019-10-01 00:15] shcheklein opened #660 "simplify get-started install"
Get rid of Bash autocompletion, IDEs, simplify text.

Mention virtualenv/pyenv if pip install is used.

Related: #656

[2019-10-01 00:28] shcheklein commented on #546
addressed that in the #656 . That ticket though does not answer my concern - it's better to mention that pip w/o virtualenv is used for simplicity only and link to the proper installation page (e.g. get started/install).

I also created a ticket to simplify the existing get-started/install. It has become too overloaded and also does not mention virtualenv/pyenv or recommends other ways to install

[2019-10-01 03:56] jorgeorpinel commented on #654
We definitely want interactive tutorials also, but the case studies are not meant to be that detailed. They contain real-life problems but don't provide exact end-to-end commands to solve them (which would make the documents longer as well as harder to maintain). They just show the core actions and DVC commands needed to address a class of problems. At least this is how Use Cases are designed at t

[2019-10-01 04:27] jorgeorpinel commented on #657
Sure:

- I think #425 **unbundle "Understanding DVC" docs** is the oldest one.
- No, actually this one is older: #340 **config: split up cmd ref into user guide + cmd ref**
- This would be a new section: #463 **document DVC API**
- Another new section: #550 **new "Basic Concepts" doc(s)**
- ➡️ This one specifically relates to tutorials: #564 **reorganize get-started examples into tutorials**
- Fin

[2019-10-01 04:36] jorgeorpinel commented on #566
Per https://github.com/iterative/dvc.org/issues/654#issuecomment-536330090

[2019-10-01 04:37] jorgeorpinel commented on #143
This is a duplicate of #566 and https://github.com/iterative/dvc.org/issues/657#issuecomment-536857675. Please close 🙂

[2019-10-01 04:38] jorgeorpinel commented on #566
Per https://github.com/iterative/dvc.org/issues/654#issuecomment-536330090

So who can let us know when the 3rd level of the sidebar is enabled @shcheklein @iAdramelk ? Or what issue can I follow for that purpose? Thanks 🙂

[2019-10-01 05:04] shcheklein commented on #566
@jorgeorpinel it was done by @iAdramelk here https://github.com/iterative/dvc.org/issues/305

[2019-10-01 05:07] #143 closed

[2019-10-01 12:58] algomaster99 opened #663 "glossary: rewrite tooltip (desktop-view) using "Portals"?"
React [Portals](https://reactjs.org/docs/portals.html) is a good way to create elements which hover above the DOM. Currently, it is created using `position: fixed` and other relevant styles. I think implementing this will make it more polished.

[2019-10-02 04:31] dashohoxha opened #664 "create katacoda interactive scenarios for each get-started section"
Related comment: https://github.com/iterative/dvc.org/pull/650#issuecomment-537330517

[2019-10-02 04:49] dashohoxha commented on #657
We can have them both. I don't see any problems with this.

This is a valid concern. I have been thinking about it myself as well.

However notice that the code of the interactive lessons is just markdown (with small extensions), for example: https://github.com/iterative/katacoda-scenarios/blob/master/basics/pipelines/step1.md
It is possible to convert them automatically to pure markdown (or to ex

[2019-10-02 04:56] dashohoxha commented on #657
I have just finished an attempt of consolidating these two tutorials (https://dvc.org/doc/get-started/example-pipeline and https://dvc.org/doc/tutorial).
The resulting online tutorial is here: https://katacoda.com/dvc/courses/tutorials/pipelines
This part has not been included yet: https://dvc.org/doc/tutorial/sharing-data

I am going to list this one as well on the Tutorials index page.

[2019-10-02 12:55] efiop commented on #497
from @mazzma12 from https://github.com/iterative/dvc/issues/497#issuecomment-537454636
[code]

[2019-10-02 18:26] shcheklein commented on #657
@dashohoxha

We still need to decide what should we do with the `lengthy` one. It includes a lot of information. May be put some of those explanations as expandable sections into the former `example-pipelines`? I also, don't know what should we do with `sharing-data` and other info about DVC that overlaps with basics, get-started, etc. @jorgeorpinel what are your thoughts about this?

Some feedbac

[2019-10-02 20:11] shcheklein commented on #657
Btw, https://kubernetes.io/docs/tutorials/ - is a good example on how can we organize and integrate interactive tutorials and text versions.

[2019-10-02 21:20] dashohoxha commented on #657
It seem to me that the explanations on the Long Tutorial are replicated all over the rest of the docs. So, if we just drop it, I think we are not going to loose much (especially considering that it is a bit outdated and seems to be broken).
Besides this, on the Community Tutorials section, the first blog is this one: https://blog.dataversioncontrol.com/data-version-control-tutorial-9146715eda46 wh

[2019-10-02 21:30] dashohoxha commented on #657
The kubernetes page seems to be an exemplary page for all the docs, not just for the interactive tutorials :) We can try our best, but I am not sure whether we can match their quality.

But honestly, I think that each software has its own specifics, so something that works well for one of them may not work so well for another. We see this for example when we try to compare DVC and Git.

I also don

[2019-10-02 21:47] dashohoxha commented on #192
For small changes, I think that cherry-pick would be better and safer than a merge.

From what I have seen (and I have zero ML experience, I have just read some DVC tutorials), we merge a branch A onto a branch B when we want to completely overwrite B with A, for example when we merge the branch with the best metrics onto branch master. In this case it is safe to use the merge strategy `theirs`. T

[2019-10-03 02:54] jorgeorpinel commented on #552
UPDATE: I made sure every instance of MD5 is upper case unless it's a file or command code block as part of #668.

- [ ] I also noticed static/docs/user-guide/dvc-files-and-directories.md has the phrase "usually MD5" which seems like something to either mention everywhere else that explains this or to clarify here.

[2019-10-03 02:55] jorgeorpinel commented on #608
See also #552.

[2019-10-03 15:16] kurianbenoy opened #670 "Create an interactive button to run google colabs, Katacode , kaggle kernels, github button for Get-started tutorial"
This is to create an easier run time environment for our tutorials like how pytorch docs tutorial has:

https://pytorch.org/tutorials/beginner/blitz/tensor_tutorial.html
![tutorial](https://user-images.githubusercontent.com/24592806/66139916-d8aaf280-e61e-11e9-9e3b-a1827f054a67.png)

[2019-10-03 15:49] shcheklein commented on #670
We can reuse Katacoda's scenarios @dashohoxha is building for this.

[2019-10-03 16:36] Suor commented on #625
I feel that there should be an easier way)

[2019-10-03 16:57] shcheklein commented on #625
@Suor do you meant that there _is_ an easier way already, or rather that it's a good sign to implement one? like `dvc reset` or something?

[2019-10-03 17:05] Suor commented on #625
@shcheklein I don't see one, but there probably should be. I am surprised `dvc remove` does something arcane instead of this.

[2019-10-03 17:08] Suor commented on #625
BTW, this recipe is also dangerous considering how `dvc gc` operates.

[2019-10-03 17:23] shcheklein commented on #625
@Suor agreed! Could you create a ticket for this on the DVC core repo? I also think that using current `dvc gc` is close to nuclear bombing. I would recommend to remove file manually for now.

[2019-10-03 18:56] dashohoxha commented on #670
Yes, I am working on an interactive version of Get-Started: https://github.com/iterative/dvc.org/issues/664
I don't know whether it will be linked with a button or with a simple link, but this does not seem crucial to me.

[2019-10-04 03:35] jorgeorpinel opened #672 "tutorials: compare to iterative/dvc-doc-tutorial and possibly add to example-repos-dev"
- [ ] Check current tutorial (soon in /doc/tutorials/deep) vs. https://github.com/iterative/dvc-doc-tutorial
- [ ] Address https://github.com/iterative/example-repos-dev/issues/10

[2019-10-04 03:58] jorgeorpinel opened #673 "tutorials: create a script to generate a complete `tutorials-versioning` project/repo (in iterative/example-repos-dev)"
Address https://github.com/iterative/example-repos-dev/issues/11, basically.

[2019-10-04 03:58] jorgeorpinel commented on #564
This is addressed by PR #666. Other detailed moved to new issues (noted in first comment above).

[2019-10-04 03:59] #564 closed

[2019-10-04 05:01] jorgeorpinel opened #674 "use-cases: new case study based on Versioning tutorial dataset"
- Moved to https://github.com/iterative/dataset-registry/issues/2: The datasets (actually 2 parts of the same dataset) in that tutorial are currently 2 ZIP files, data.zip and new-labels.zip. We should extract the first dataset into a directory as a first version. Then we'll extract the 2nd one on top and update the dataset version.
UPDATE: Done. See [iterative/dataset-registry /use-cases](https:/

[2019-10-04 05:02] jorgeorpinel commented on #674
(This should address https://github.com/iterative/dataset-registry/issues/2 simultaneously.)

[2019-10-04 17:25] #657 closed

[2019-10-04 18:03] jorgeorpinel opened #676 "get-started: bad /doc/tutorials/deep link in index"
This link by the end of the Get Started index is broken:

![image](https://user-images.githubusercontent.com/1477535/66229359-a7c6ce00-e6af-11e9-9232-e105b1ef14e5.png)

[2019-10-04 18:05] jorgeorpinel commented on #676
Should probably review wording and linking of all old mentions to the tutorial, now in `/tutorials/tutorial`. Maybe rename the path `/tutorials/long` too?

[2019-10-04 18:08] jorgeorpinel commented on #676
Never mind. It seems I caught the engine in the process of deploying Ivan's new version. (See https://github.com/iterative/dvc.org/pull/666#discussion_r331619624)

[2019-10-04 18:08] #676 closed

[2019-10-05 03:23] Suor commented on #625
BTW, removing file from cache by hand as suggested in point 3 is also unsafe, that one might be referenced somewhere else.

[2019-10-09 01:53] jorgeorpinel opened #681 "react: unexpected URL anchor behavior when reloading a page"
For example, go to https://dvc.org/doc/user-guide/managing-external-data in a new tab and then scroll down to the examples, and click the 🔗  icon that appears when hovering the cursor over the **Examples** header. This fixes the scroll position to that anchor and adds `#examples` to the URL. Now, reload the page or even select eh address bar and press Enter. The scroll is reset to the top when the

[2019-10-09 01:54] jorgeorpinel commented on #681
Hold on. My report is inaccurate but there's definitely a problem (at least from my browser). Hold on... Will update description above...

[2019-10-09 01:59] jorgeorpinel commented on #681
OK, updated!

[2019-10-09 05:55] jorgeorpinel opened #682 "best-practice: dataset partitioning and/or data compression?"
Both compression and partitioning seem like very relevant topics since we're in the big data field, yet not much of this is covered in our docs. I'm not sure even how many features of DVC support or consider these matters.

~~Needs more exploration and let's definitely wait until after #674 is done.~~

~~Also waiting for feedback on https://github.com/iterative/dvc/issues/1239#issuecomment-5351156

[2019-10-09 06:01] jorgeorpinel commented on #682
A recent support case involving partitioning (and possibly compression), for example is in [this chat conversation](https://discordapp.com/channels/485586884165107732/563406153334128681/631218018088910849), where they have a Parquet Hadoop-style data warehouse in this given structure:

[code]

and wanted to track and version it in place (externally) as it amounts to PBs of data.

[2019-10-09 12:45] efiop commented on #682
@jorgeorpinel What do you mean by partitioning? Could you please elaborate?

[2019-10-09 12:50] efiop commented on #159
@dashohoxha Feels like it would be suitable to describe that more formally, hence why I was mentioning "user guide" and not "get-started" or "tutorial".

[2019-10-09 13:42] dashohoxha commented on #664
- https://katacoda.com/dvc/courses/tutorials/get-started
- https://katacoda.com/dvc/courses/get-started

Closing this in favor of https://github.com/iterative/dvc.org/issues/670

[2019-10-09 13:42] #664 closed

[2019-10-09 13:46] dashohoxha commented on #670
Here it is: https://katacoda.com/dvc/courses/get-started

Actually I did it as a single tutorial first: https://katacoda.com/dvc/courses/tutorials/get-started
But it seemed to be too long, taking more than 60min to finish, so I split it in smaller lessons.

I am not sure yet how to best link it from the website.

@kurianbenoy Please feel free to give a try to a Colab version of the get-started, so

[2019-10-09 15:07] dashohoxha commented on #159
@efiop Right. But some things are better explained with a working example. It may also be easier for the users to understand it. And an example can also be complemented by formal and generalized descriptions.

[2019-10-09 16:27] shcheklein commented on #670
@dashohoxha this is great! I'll take a look and review the scenarios, also we should start integrating it with the engine (add a button). Any suggestions on how can it look like? I would prefer it to stand out as much as possible, a full text message something like "Run an interactive version". Would be great to emphasize it somehow when you hover code blocks?

@algomaster99 @jorgeorpinel any sugg

[2019-10-09 17:41] dmpetrov opened #684 ""Edit on GitHub" button blindness"
I heard from a couple of potential docs contributors that they have not noticed "Edit on GitHub" button on the docs web site.

One guy simply didn't contribute because of that. Another guy started contributing in a regular way - by cloning the repository.

1. It might be helpful to make the button more visible.
2. Contribution in a regular way should work (heard another concern about it).

[2019-10-09 17:44] gagejustins commented on #684
(that guy is me)

[2019-10-09 17:46] gagejustins opened #685 "image captions in Markdown"
It would be cool to have the ability to add captions to images in the docs through Markdown. A caption would:

- Be centered directly under an image
- Be smaller text than the normal paragraph font size
- Be italicized
- Have narrower margins than the normal paragraph margins

[2019-10-09 17:57] jorgeorpinel opened #686 "term: word-emphasizing best practice?"
Now we mainly use **bold** words in some docs but not very consistently. There may also be some _italics_ and hopefully no underlines but it's possible (need to check).

Which one of these should we adopt? I think probably just one to keep things simple (so I would incline towards **bold**. What kind of words or phrases should it be applied to?

- [x] Decide (see https://github.com/iterative/dvc.o

[2019-10-09 17:57] shcheklein commented on #685
@algomaster99 could you take a look? https://stackoverflow.com/questions/19331362/using-an-image-caption-in-markdown-jekyll - this link had an example how it can be done without significant changes to the engine

[2019-10-09 17:58] jorgeorpinel commented on #686
We should first come to a decision and remove the `question` label, then anyone can help with the rest 🙂

[2019-10-09 18:30] jorgeorpinel commented on #411
Another note to add to this document (and to the external dependencies one) is that SSH remote locations (and soon others) now support adding entire directories. See https://github.com/iterative/dvc/issues/1654#issuecomment-539634772.

[2019-10-09 18:46] jorgeorpinel commented on #682
Data files or compressed archives that are divided into several parts like old RAR files allowed you to do, to mention a simple example, or like Apache Parquet [seems to support](https://spark.apache.org/docs/latest/sql-data-sources-parquet.html#partition-discovery) for a more current and data-science-like example. I suppose also Hadoop partitions HDFS data sets to have them distributed in a clust

[2019-10-09 19:09] jorgeorpinel commented on #670
Super cool to have all those Katacoda scenarios! I'd love to help reviewing them too. Are they created in a way that we can easily give feedback on @dashohoxha? For example in a Git repo perhaps? (Not familiar with Katacoda.) Otherwise how can we leave comments on specific commands in certain scenarios? Thanks

So we're discarding Kaggle kernels for now right?

Er... Not sure we want so many versi

[2019-10-09 19:10] jorgeorpinel commented on #670
Agree! That seems like the main purpose of this ticket 😋. As for how it can look, maybe pretty similar to the PyTorch tutorial link provided, ![image](https://user-images.githubusercontent.com/1477535/66512302-41222580-ea9e-11e9-98cd-904fc49c4bfa.png)

[2019-10-09 19:35] #685 closed

[2019-10-09 20:11] dashohoxha commented on #670
You may start any discussions here: https://github.com/iterative/katacoda-scenarios/issues
However I would suggest that we keep all the discussions here: https://github.com/iterative/dvc.org/issues

I don't even know what they are, but for me it is ok, as long as somebody is willing to work on them.

[2019-10-09 20:14] algomaster99 commented on #670
@shcheklein We have already hyperlinked it. https://dvc.org/doc/tutorials/interactive. Where are we planning to put the interactive buttons?

[2019-10-09 20:22] dashohoxha commented on #652
If this issue is still interesting, I may have a look at it and try to build a script.

I did not understand, what was the problem with the other script, that was deleted?

[2019-10-09 20:30] algomaster99 commented on #684
What does this mean?

Also, I have two suggestions to show it.
### 1
Have a fixed ribbon like this for forking.
![Screenshot from 2019-10-10 02-00-02](https://user-images.githubusercontent.com/35191225/66517946-b07d3100-eb01-11e9-986f-22bd5131e735.png)

### 2
Edit it directly.
![Screenshot from 2019-10-10 01-54-20](https://user-images.githubusercontent.com/35191225/66517525-e7067c00-eb00-11e9-8233

[2019-10-09 20:54] shcheklein commented on #652
yep it's definitely useful if it's made part of the CI flow (CircleCI)

[2019-10-10 08:48] kurianbenoy commented on #670
I feel there will be some maintenance challenges to support jupyter-notebook based interactive tutorials in Kaggle with DVC like @jorgeorpinel said  for Documentation team. And to be honest a CLI tool like DVC is not best to be run in a notebook.

I have already added the get started tutorial as a jupyter notebook sometime back.

https://www.kaggle.com/kurianbenoy/introduction-to-data-version-cont

[2019-10-10 13:41] dashohoxha commented on #652
The script is submitted here: https://github.com/iterative/dvc.org/pull/690

It is not completely robust and reliable, sometimes it may give false-positives, so maybe not suitable for automatic checking and CI. But it may still be useful for manual checking once in a while.

[2019-10-11 00:08] jorgeorpinel commented on #682
Notes on compression and bundles (archives) from chat with @shcheklein:

[2019-10-11 00:18] jorgeorpinel commented on #674
From @shcheklein:

(In the context of possibly going back to using `wget` directly from S3 as opposed to `dvc get` ZIP data files in the versioning tutorial [and get started].)

[2019-10-11 00:51] jorgeorpinel commented on #670
Agree, I think we should stick with Katacoda, and also ignorind Colab for now unless a contributor wants to develop and maintain that.

By "interactive button" we mean a pretty link right? Yeah it's just a matter of design. Refer to https://github.com/iterative/dvc.org/issues/670#issuecomment-540079227 and https://github.com/iterative/dvc.org/issues/670#issuecomment-540146127. I think whoever take

[2019-10-11 18:30] jorgeorpinel commented on #652
Thanks. I'm a little behind on my own work but will check it out ASAP.

[2019-10-12 06:19] shcheklein commented on #652
@jorgeorpinel @dashohoxha left my comments in the PR. I think it's a good first step, but does not resolve the issue. My major concern, no one will be using it (and someone will just do a PR do delete it like happened already) if it's not integrated into CI system.

[2019-10-12 12:11] dashohoxha commented on #652
I was actually using the deleted script each time before committing, and it always would find something to fix. But if it was only me that was using it, no problem, I can use a local copy of the script.

If it is not useful then there is no point in merging it.

Although I tried it manually and it reported a lot of issues (most of them actually are redirection problems, which are not really breaki

[2019-10-12 13:01] dashohoxha commented on #545
Can I work on simplifying/improving it instead? The things that I will try to do:
- Move detailed installation instructions on a dedicated page (under User Guide).
- Remove references to more advanced docs or pages. Maybe simplify any explanations too.
- Put links to the interactive lessons (https://katacoda.com/dvc/courses/get-started).
- However this can be properly done if the structure is chan

[2019-10-12 15:33] shcheklein commented on #652
why not pre-commit hook? or the yarn command we have now?

I'm not saying that it's not useful. I'm saying that there are extremely high chances that everyone will forget about it later if it's not part of the CI system and even not documented anywhere. It seems to me that it's not that big of a problem to make part of the CI system and run it on changed files? @algomaster99 could you take a look

[2019-10-12 15:42] shcheklein commented on #545
@dashohoxha

Yep.

Can you give some examples? I would say it depends. Like in the previous case - I think even if we move stuff out, it would makes sense to keep a link to the User Guide page.

Good. May be let's decide on when we have a run on Katacoda button? I think it'll solve this problem.

I think it can be done, but I don't see any clear benefits of changing the structure. Not a major get

[2019-10-12 15:57] dashohoxha commented on #652
Does this mean that I don't need to check and fix them because the git hooks will do it automatically?

Which yarn command? The one on the one mentioned here: https://dvc.org/doc/user-guide/contributing-docs#doc-style-guidelines-and-tips-for-java-script-and-markdown?
If I have to do to the docs and copy/paste a command, I usually make a small script for it.
By the way, the double star globing synt

[2019-10-12 18:56] shcheklein commented on #652
@dashohoxha

Yep. That's the whole point - it takes care about everything automatically before you do `git commit`.

If I have to go to the docs and copy/paste a command, I usually make a small script for it.
By the way, the double star globing syntax mentioned there (**) as far as I know does not work by default, needs to be activated/enabled.

I think, yes. @jorgeorpinel can address this questio

[2019-10-12 19:49] algomaster99 commented on #652
@shcheklein sure I will look into it 👌🏼

[2019-10-14 09:32] dashohoxha commented on #545
I am starting with the installation page only, since this is definitely desirable.
For the rest it seems that there is no agreement or clear idea of what needs to be done.

[2019-10-14 21:11] jorgeorpinel commented on #652
Sorry guys, just getting back to this. I think most has been said so let's try to integrate it to CI.

Making scripts for personal use is totally fine of course, but I agree they don't need to be committed if they're not something everyone should be using and integrated to git hooks and/or CI system, or at least documented somewhere as a recommendation (like the shell autocompletion scripts).

It

[2019-10-14 21:12] jorgeorpinel commented on #652
Tip: Personal scripts or other files can also "gitignored" in the `.git/info/exclude` file (not to change `.gitingore`.

[2019-10-14 21:15] algomaster99 commented on #652
@jorgeorpinel @shcheklein @dashohoxha
![Screenshot from 2019-10-15 02-42-14](https://user-images.githubusercontent.com/35191225/66783417-793dc400-eef5-11e9-9d94-b4ab956b706a.png)

I altered one URL in `version.md` as /doc/**use-guide**/large-dataset-optimization#file-link-types-for-the-dvc-cache but it still gives a `200` response. I am currently figuring out how can we differentiate between actua

[2019-10-14 21:30] jorgeorpinel commented on #652
@algomaster99 will you reuse PR #690 (`check-links` branch)?

[2019-10-14 21:42] algomaster99 commented on #652
@jorgeorpinel I can use it. Its logic seems correct. But first we need to fix the engine bug.

[2019-10-14 22:03] jorgeorpinel commented on #652
Not necessarily. Please see comments in the PR. Thanks

[2019-10-14 22:33] algomaster99 opened #697 "engine: return HTTP 404 when Page404 component is rendered"
Example: the engine renders a huge number "404", however it already responded with HTTP 200:

![image](https://user-images.githubusercontent.com/1477535/66787221-7a94cf80-eea8-11e9-95f6-9e6c2d659bab.png)

It would be ideal if the engine could check for the URL path validity first before responding by rendering the general layout (navigation, etc) with HTTP 200, and render it instead with HTTP 404

[2019-10-14 22:52] jorgeorpinel commented on #697
And apparently one of these bad URLs from the website, it responds `304 Not Modified`, not sure why.

Anyway, I wonder if @iAdramelk has any tips as to how to address these questions?

[2019-10-14 23:26] shcheklein commented on #697
please, take a look at what URLs exactly does it return 304 (200 if you click it once again, I think - it's just a matter of caching on the browser side), 404. The point here is that it's engine requesting specific `*.md` files, not a regular `dvc.org/doc/something`.

[2019-10-15 00:00] shcheklein commented on #545
yeah, but let's keep this ticket open even after we merge the Install refactoring.

[2019-10-15 00:35] algomaster99 commented on #697
@shcheklein Is it possible if we can render `Page404` on a different URL? This way we will be able to pass `writeHead(404)` in server.js. I am not sure about this method though.

[2019-10-15 00:46] shcheklein commented on #697
@algomaster99 could you elaborate please, not sure I understand the suggestion.

[2019-10-15 00:51] algomaster99 commented on #697
@shcheklein can you tell me in which file are the components mapped to their URL. I don't have much experience in next framework. But with simple react, I'm familiar. Usually the URLs are defined like this `<Route path='/' component={App} />`. I am looking for something corresponding to this here.
Basically, how does Next map each url to a component?

[2019-10-15 00:55] shcheklein commented on #697
@algomaster99 the exact `.md` file to fetch is a convention that is based on based on the page URL + `sidebar.json`. Check also `helper.js` file. It's somewhat related to Next.js, but mostly our own logic that maps URLs to source files.

[2019-10-15 01:07] algomaster99 commented on #697
@shcheklein okay so, `/` is served my the server. Then rest after is mapped by helper.js, right?

[2019-10-15 01:10] shcheklein commented on #697
@algomaster99 no, I think `dvc.org/doc` is mapped (by Next.js, implicitly) to the `doc.js` that is responsible for everything else after that. Unless I'm missing something.

[2019-10-15 01:27] algomaster99 commented on #697
@shcheklein so I went through the next documentation. I found two possible techniques to solve the problem.
- https://nextjs.org/docs#custom-error-handling
I tried this but I am not sure on what URL does this component get triggered.

- https://nextjs.org/docs#custom-routes-using-props-from-url
We can create a URL `/doc/404` where we simply render the 404 component.

What do you suggest?

[2019-10-15 01:31] shcheklein commented on #697
so, even if change URL to `/doc/404` when we render this `wget` won't detect this. The only way to detect with wget is either add SSR support (@iAdramelk should have more context on this), or use Selenium to write tests (which might be a good idea anyway, since will be able to test more things, not just broken URLs).

[2019-10-15 01:47] algomaster99 commented on #697
@shcheklein `wget` has a option to follow redirects but that may not be the best solution. Let's wait for @iAdramelk .

[2019-10-15 03:08] dashohoxha commented on #545
Sure. I did not intend to close it.

[2019-10-15 03:21] dashohoxha commented on #697
Sorry guys, I don't understand the context of your discussions, but with respect to the statement above I can say that:
 `wget` follows redirects by default. To suppress (or disable) this in the script I have used the option `--max-redirect=0` (it is even explained with a comment on the script).

[2019-10-15 09:38] algomaster99 commented on #697
@dashohoxha Your script is fine but when we `wget` pages like `/doc/user-guide/this-does-not-exist`, our engine responds with `200 OK` only. We need to change it to `404` to check links efficiently.

[2019-10-15 11:53] algomaster99 commented on #697
@shcheklein Shall we do it by defining a condition in our server?
[code]
I am not sure how can we render afterwards. Can you help?

[2019-10-15 15:57] algomaster99 commented on #697
@shcheklein I will update you after experimenting with it again.

[2019-10-15 18:56] LucasErlacher opened #698 "user-guide: improve Windows POSIX/terminal tips"
For windows users is necessary past to the same line the command when has `\` in the end of line.

For example:
`dvc get https://github.com/iterative/dataset-registry \
          tutorial/ver/data.zip`

to

`dvc get https://github.com/iterative/dataset-registry tutorial\ver\data.zip`

**It's also necessary use `\` in the path on windows.**

[2019-10-16 03:06] jorgeorpinel commented on #697
Your'e right @shcheklein. This seems to be standard Node server behavior when the browser request includes `If-None-Match` header (sent if any URL is reloaded, at least in Chrome).

Right, there's a routing mechanism. My suggestion is that perhaps this could be evaluated (to determine path validity) before responding 200 with empty layout.

Selenium/ Headless Chrome tests are cool. I wrote a scrip

[2019-10-16 04:13] shcheklein commented on #698
that's why it's better to keep CLI example as close to one line as possible

Unfortunately, don't see an easy way out of this. Switching modes is too expensive too support at this stage. Open to any other reasonable suggestions.

[2019-10-16 05:00] jorgeorpinel opened #700 "user-guide: duplicate dev version docs (with different methods)"
Why is https://dvc.org/doc/user-guide/development there? 😋

It duplicates https://dvc.org/doc/user-guide/contributing#development-environment, or vice versa.

Which one to keep? They each use a different method. I vote for the latter (scrap GitPython method).

cc @shcheklein and @efiop who seem to have created and edited this page some time ago. Thanks

[2019-10-16 05:05] shcheklein commented on #700
so, fist of all - it's confusing, I agree :)

the first dev version targets _users_ who want to install and _use_ the most recent version before the official release

the second one targets _developers_, _contributors_ of the DVC who want to _create a PR_, etc.

So, I would say the first one can be part of the new Install section with a better explanation why it's useful.

[2019-10-16 07:19] dashohoxha commented on #700
What if we keep it as it is and just link to it from the install page.
It can be a sentence like this at the end of the install page: "You may also [install it from code](...)."
The link goes to the development section (which I think needs to be reorganized too).

[2019-10-16 12:00] dashohoxha commented on #700
For the time being I reintroduced a page for installation from the most recent version: https://dvc-org-pr-695.herokuapp.com/doc/user-guide/install/extra/code
If needed, we can consolidate this page later with the other development pages and change the link.

[2019-10-16 12:22] dashohoxha opened #701 "user-guide: merge/remove duplicate pages from new Installation subsection"
- [x] Move installation page to the top level of the docs (currently it is under the user-guide).
- [x] Remove https://dvc.org/doc/user-guide/plugins (which is now located under installation). See https://github.com/iterative/dvc.org/pull/695#pullrequestreview-302052801
- [x] Update https://dvc.org/doc/user-guide/development. See details in #700.
- [x] Simplify https://dvc.org/doc/get-started/inst

[2019-10-16 18:09] jorgeorpinel commented on #701
Can we include adding relevant updating notes to this PR? See https://github.com/iterative/dvc.org/pull/695#pullrequestreview-302330591

[2019-10-16 18:16] shcheklein commented on #701
@jorgeorpinel I would keep it as a separate ticket. It's not a simple one :)

[2019-10-16 18:20] jorgeorpinel opened #702 "install: add instructions to update/uninstall DVC"
At least for the recommended install methods for each platform

[2019-10-16 18:20] jorgeorpinel commented on #701
OK, moved to #702

[2019-10-16 19:12] jorgeorpinel commented on #700
So. Ivan is saying user-guide/development is for alpha users, basically. while user-guide/contributing#development-environment is for contributors/developers.

I think the intention is to remove this confusing nav entry (and it's link in the user-guide/index). Ivan's suggestion to embed somewhere in the new user guide is probably the best. Perhaps in the current **Install from code** section of th

[2019-10-16 19:13] jorgeorpinel commented on #700
Oh, wait. Is that what you just did already in that PR? But let's remove this doc also then (and links to it)?

[2019-10-16 19:14] jorgeorpinel commented on #701
Duplicates #700 but OK, we can consolidate the issues here 🙂

[2019-10-16 19:15] jorgeorpinel commented on #700
This issue is duplicated in #701

[2019-10-16 19:15] #700 closed

[2019-10-16 20:59] dashohoxha commented on #702
@jorgeorpinel Don't you think that the user should know how to use his commands (`apt`, `yum`, `pip`, etc.)? So, do we need to tell him how to update/upgrade a package?

I think that the same argument goes for telling users when and how to use a virtualenv. They should know when and how to use it, it should not be our concern. But this is a different topic.

[2019-10-16 23:18] jorgeorpinel commented on #701
I'm addressing this in https://github.com/iterative/dvc.org/pull/695/commits/1774355eca250c4fb2779634e167b865ca4bbee3.

[2019-10-16 23:23] jorgeorpinel commented on #702
Yes, it's a good point @dashohoxha. But at least for `pip`, since upgrading can be different if you install from PyPi vs. if you install from local code, maybe we should include the commands in our docs.`

What do you think @shcheklein?

[2019-10-16 23:28] jorgeorpinel commented on #702
On second thought I don't think my argument agains teaching other technologies really applies to installing and upgrading DVC, even if it's done with a 3rd party tool.

In fact maybe we should even include instructions to **uninstall** DVC as well somewhere. (Other similar tools offer this kind of information, probably because users look for it e.g https://devcenter.heroku.com/articles/heroku-cli#

[2019-10-17 08:37] mroutis opened #703 "minio: add warning about pre-existing files"
This is somehow an obscure thingy. MinIO is a file storage with an S3 compatible API, so we support it.

If you set up a bucket on a directory with information that was not created through the API, let's say:

[code]

It will use a default ETag:

https://github.com/minio/minio/blob/d7060c4c32b0fd0672d8a58abcfe54473b49fa39/cmd/fs-v1.go#L45-L46

This will not work with DVC, since two objects with di

[2019-10-17 14:18] algomaster99 commented on #697
@jorgeorpinel I tried that but I am not able to send the response code as `404` from front-end ([basically when we check if a requested page exists or not](https://github.com/iterative/dvc.org/blob/04393f870ea779b3b484cdeec98a120bf81a89af/pages/doc.js#L94)).

[2019-10-17 15:53] algomaster99 commented on #697
@shcheklein @jorgeorpinel Can you tell me how a request is processed? I simply typed `http://localhost:3000/doc/use-cases` before which I had deleted `index.js`. But still, the Page404 was displayed. Where is the page getting served from?

[2019-10-17 17:45] jorgeorpinel commented on #703
Interesting find @mroutis
Not sure it's worth noting in the docs. What DVC commands does it affect?

Maybe just leaving a workaround here (can you think of one?) and resolving the issue will be good enough for any user who comes across this problem to find this conversation.

[2019-10-17 18:23] mroutis commented on #703
@jorgeorpinel it affects almost every command that deals with cache :sweat_smile:

A workaround is to download everything and use `mc` (minio cli) or `aws` (cli) to sync the directory again. At least that's what I did.

Let's close it, then :)

Also, another point for #499 , we could add notes like this one (about the idiosyncrasies of each remote interacting with DVC)

[2019-10-17 18:39] jorgeorpinel opened #705 "lint: disallow tabs (.md files)"
- ~~Can be done with ESlint, apparently: https://eslint.org/docs/rules/no-tabs~~

- [ ] Add the rule in the docs contrib. guide.

[2019-10-17 18:51] jorgeorpinel commented on #703
The problem with #499 is that the command reference lists commands, not other kinds of things (e.g. remote types), so both refs for `remote add` and for `remote modify` have expandable examples for all the remote types. Would have to have a 3rd level in each of those with repetitive docs per remote type.

But if you can come up with a good way to reorganize all this that makes sense and addresses

[2019-10-17 18:53] jorgeorpinel commented on #703
Idea: a new use case or user guide to explain these remote type-specific caveats.

[2019-10-17 19:23] jorgeorpinel commented on #697
Unfortunately I'm not familiar enough with the engine code yet to answer that question but I feel like it should be simple enough to answer. For this reason we've tried tagging @iAdramelk a couple times, as he may be the most familiar with the Next.js engine at the moment.

[2019-10-18 00:26] jorgeorpinel commented on #705
Actually never mind. That's just for .js files.

Prettier already switches indentation tabs for spaces in .md docs, but if there's a tab mid-line (e.g. in a console command sample fenced code block) they're ignored. Not sure Prettier can fix this...

[2019-10-18 00:31] jorgeorpinel commented on #705
p.s. I added

[code]

to .eslintrc.json and ran `yarn eslint src`, and it reported a bunch of tabs in .js files... Will open issue to address this.

[2019-10-18 00:33] jorgeorpinel opened #706 "src: remove tabs"
There's 58 tab characters in .js files inside the `src` directory. I believe we don't mean this. Let's replace them with spaces?

BTW we could include

[code]

in .eslintrc.json to automatically enforce this at `git commit` and PR CI checks.

[2019-10-18 00:44] shcheklein commented on #703
@mroutis @efiop it might be a bigger problem than just docs.

I think it affects only external dependencies/outputs, regular stuff like push/pull should work anyway.

[2019-10-18 00:52] GledsonAfonso commented on #706
Can I try this?

[2019-10-18 01:05] jorgeorpinel opened #707 "docs: update/remove progress bar samples"
We still have lots of fenced code samples of console sessions with the old progress bar such as:

[code]

in https://dvc.org/doc/command-reference/fetch.

The new progress bar (`tdqm`) looks different, and it normally disappears after it's finished. ~~So perhaps we should~~ So let's just remove all these lines from the .md files ~~?~~ ! (Find `[######` in all files.)

[2019-10-18 01:05] shcheklein commented on #706
@GledsonAfonso sure! would be great if you can take it.

[2019-10-18 01:23] castonhilcher commented on #707
I'd like to take this if possible, are you wanting all the progress bar removed, including the file and percent, or just the `[######]`

[2019-10-18 01:25] GledsonAfonso commented on #706
Thanks! I'll try it then.

[2019-10-18 01:37] #707 closed

[2019-10-18 01:37] jorgeorpinel commented on #707
Thank you @castonhilcher!

[2019-10-18 05:09] #706 closed

[2019-10-18 06:22] algomaster99 commented on #702
@jorgeorpinel oh-my-zsh also does this. I think we should also have a command like `uninstall_dvc` which removes dvc installed from source or binary. Otherwise, there will be many separate instructions to uninstall it. If you think this is valid, please make it a separate issue.

[2019-10-18 10:24] iAdramelk commented on #697
@algomaster99 Sorry, somehow missed mentions.

Basically `/doc/*` pages now, for legacy reasons, are using non-standard routing mechanism (and we probably should replace it with the standard one to solve this issue:

1. All `/doc/*` pages load `pages/doc.js` file by default. It is configured in the `server.js`.
2. Then in `shouldComponentUpdate` we check for the URL and try to load corresponding m

[2019-10-18 20:03] algomaster99 commented on #617
@shcheklein I cannot reproduce this issue.

[2019-10-18 21:02] shcheklein commented on #617
@algomaster99 what phone do you use? Did you try to scroll the menu (left-side one, sidebar) to the very bottom of it and then keep scrolling again?

[2019-10-19 00:36] jorgeorpinel commented on #702
Not a bad idea. Opened iterative/dvc/issues/2637 in parallel.

The question is should we provide instructions in the docs for now?

[2019-10-19 00:49] jorgeorpinel commented on #658
Do you mean creating a glossary.json config file to load these from? Or maybe in the same glossary.js file?

[2019-10-19 00:50] jorgeorpinel commented on #510
"Remember me @algomaster99" -This issue 🙂

[2019-10-19 00:51] jorgeorpinel commented on #663
What are some example elements that are currently hovering above the DOM? Tooltips? What else? Thanks

[2019-10-19 00:53] jorgeorpinel commented on #542
Maybe after #461 though.

[2019-10-19 00:59] jorgeorpinel commented on #548
If you have time now to research this one @algomaster99 it would be nice, that way we can confirm or remove the issue. Keep in mind we're also using ESlint. This rule can probably address this concern: https://eslint.org/docs/rules/max-len

[2019-10-19 01:46] jorgeorpinel commented on #605
We sometimes use "revision", sometimes "version" and they may mean different things. In the context of Git a version or "reference" is [defined by Git itself](https://git-scm.com/book/en/v2/Git-Internals-Git-References), so not sure we want to add to our glossary. But I'll check that we're explaining this in the docs. Thanks

[2019-10-19 01:55] jorgeorpinel commented on #605
Will be fixed in #710. See https://dvc-org-pr-710.herokuapp.com/doc/command-reference/import#options.

[2019-10-19 04:11] algomaster99 commented on #548
@jorgeorpinel ESLint cannot fix this but it can do detect when the line goes above 80 characters. We just need to put `"max-len": [ "error", { "ignoreStrings": false } ],` in configuration.

[2019-10-19 04:13] algomaster99 commented on #663
@jorgeorpinel Tooltip but only for mobile view. I tried creating it for desktop too but there were some problems. Refer to [PR](https://github.com/iterative/dvc.org/pull/675).

[2019-10-19 04:14] algomaster99 commented on #658
@shcheklein What do you suggest?

[2019-10-19 04:41] algomaster99 commented on #617
I have a OnePlus 5 but it has the same behaviour as below
![css](https://user-images.githubusercontent.com/35191225/67137811-a8876480-f258-11e9-9d8b-6b1d4887daac.gif)

[2019-10-19 05:25] algomaster99 commented on #510
@jorgeorpinel I think this would require some changes in `react-markdown` itself. I found one issue which is relevant - https://github.com/rexxars/react-markdown/issues/302

[2019-10-19 05:57] iAdramelk commented on #681
Sorry for late comment. Again, missed everything that was created this week. Maybe we should replace `header` class with some uniq id? this class name also used in tooltips as far as I can see, so `('header')[0]` can potentially lead to conflicts.

[2019-10-19 05:58] jorgeorpinel commented on #654
Just found a good example of something closer to my definitions of use case vs. case study

See https://www.hashicorp.com/products/terraform:

![image](https://user-images.githubusercontent.com/1477535/67138575-47856f80-f20b-11e9-82b6-e1431ef0c813.png)
vs.
![image](https://user-images.githubusercontent.com/1477535/67138580-58ce7c00-f20b-11e9-85bd-3d2b65b0fda6.png)

Except here, case studies are ac

[2019-10-19 06:09] jorgeorpinel commented on #550
Perhaps we can call it **DVC Principles**, similar to:

![image](https://user-images.githubusercontent.com/1477535/67138697-efe80380-f20c-11e9-9883-4b1ef2099f88.png)
![image](https://user-images.githubusercontent.com/1477535/67138708-08f0b480-f20d-11e9-8359-9e47311928b3.png)
![image](https://user-images.githubusercontent.com/1477535/67138717-1ad25780-f20d-11e9-9b27-14a92e44a7ae.png)

[2019-10-19 15:45] shcheklein commented on #550
@jorgeorpinel it seems to me like some parts from the https://dvc.org/doc/understanding-dvc . A bit philosophical. And there should be a section like this, but also we need to explain concepts like Cache, Remote, Wokspace, DVC-file, etc, their relationship (with diagrams if needed).

[2019-10-19 15:50] shcheklein commented on #654
@jorgeorpinel exactly, that's why I don't the "case study" term - it's has a very well defined meaning - a real-life "success story".

Terraform use cases (with some adjustment that they are not published in the docs) look more or less as what we are trying to do with our Use Cases. Our cases a bit lower level since they are part of the docs, but the idea is the same. The should be describing a hi

[2019-10-19 15:52] shcheklein commented on #654
The main point here is that our Use Cases should not feel like tutorials. I think it's fine to give some examples, or some code snippets, but mostly the should be focused around the problem. Thus for example we have images, but we never did them executable.

Our user guide is very far from describing use cases.

[2019-10-19 15:54] shcheklein commented on #681
@algomaster99 please, address this concern when you have some time ^^

[2019-10-19 15:58] shcheklein commented on #617
@algomaster99 yep, it looks it's iphone related problem then. Safari engine.

[2019-10-19 16:00] shcheklein commented on #658
@jorgeorpinel I'm not sure I got the question tbh.

[2019-10-19 16:00] shcheklein commented on #663
@algomaster99 @iAdramelk so, should we just close this then?

[2019-10-19 16:06] shcheklein commented on #702
@jorgeorpinel nice, but not a top priority I would say. Uninstall can be really useful in some case (Mac OS package for example).

[2019-10-19 17:06] algomaster99 commented on #663
To solve this issue, we will have to position the root element, modal in this case, absolutely w.r.t the text. I couldn't figure out to do so. @iAdramelk do you have any ideas for execution?

[2019-10-19 17:14] algomaster99 commented on #663
@shcheklein I will have to refer to their code find out how they have done it.
It is working fine though. This issue is opened just to adhere to the conventions. :sweat_smile:

[2019-10-19 18:00] algomaster99 commented on #681
@iAdramelk Should we create a separate `const.js` file for keeping constants like this?

[2019-10-19 18:57] shcheklein commented on #605
My 2 cents on revision vs version. `revision` is a technical term and a way of specifying a version. `version` should be def used when we talk from the user perspective. E.g. Version of a model can be defined by a Git revision (commit, brach name, etc).

Of course this rule is not 100% strict. I think users can understand from the context if we use them interchangeably..

I would double check the

[2019-10-20 00:08] jorgeorpinel commented on #697
SSR?

[2019-10-20 00:42] jorgeorpinel commented on #548
Yeah, boo. I tried that rule with `eslink --fix` but it doesn't fix this type of problem, it seems. Well, let's make the issue to fix all the problems it currently reports, at least, and add the rule anyway for the future. Problems:

[code]

[2019-10-20 01:57] jorgeorpinel commented on #658
I was asking Aman what's the meaning of this issue. And assuming I understand it correctly, suggesting to use the existing `glossary.js` file for this.

[2019-10-20 02:06] jorgeorpinel commented on #681
So will #712 be rolled back? Not the best strategy? Thanks

[2019-10-20 02:09] jorgeorpinel commented on #605
Good points @shcheklein. Added to #608.

[2019-10-20 02:39] shcheklein commented on #681
@jorgeorpinel no, I think it'll be improved a bit.

[2019-10-20 05:17] algomaster99 commented on #548
@jorgeorpinel yeah, we have to do it manually first. Once it is fixed, eslint would make sure this error is not there.

[2019-10-20 05:21] iAdramelk commented on #681
@algomaster99 yes, `const.js` is a good idea.

[2019-10-20 05:21] iAdramelk commented on #697
@jorgeorpinel Server Side Rendering.

[2019-10-20 05:25] iAdramelk commented on #663
@shcheklein I think that we should leave the ticket open, but reduce it's priority. Solving it will require changing the basic layout first, without this changes I also not sure how to solve it right now.

[2019-10-20 20:13] algomaster99 opened #714 "js: refactor all constants into a single file"
It is nice to have a single source for all constants like `ROOT_ELEMENT`, etc. to make it feasible for resuing at different places.

[2019-10-20 20:14] algomaster99 commented on #681
Opened a separate issue for moving constants - #714

[2019-10-20 21:52] algomaster99 opened #716 "lint: resolve errors in pages/ and update lint target"
UPDATE: See latest known state in https://github.com/iterative/dvc.org/issues/716#issuecomment-549693282.

[2019-10-21 02:28] shcheklein commented on #681
I think there is still an improvement required to close this ticket. Ideally it should be done along with the #714 (first step to introduce one constant required for this ticket, do not wait for all of them to be moved).

[2019-10-21 05:01] shcheklein commented on #714
not sure this a good first issue. @algomaster99 do you have a list of constants we want to move?

[2019-10-21 06:18] algomaster99 commented on #714
- `ROOT_ELEMENT`
- `SIDEBAR_MENU`
- `MIN_HEIGHT`

And there are a few more. These are a few examples.

[2019-10-21 14:26] dashohoxha opened #718 "documentation of the code"
Have you ever thought about documenting the code? For Python projects it is usually done with Sphinx:
- https://docs.python-guide.org/writing/documentation/
- https://realpython.com/documenting-python-code/#documentation-tools-and-resources

I have never used Sphinx before, but I can have a look at it, if this sounds interesting.

[2019-10-21 15:24] jorgeorpinel commented on #716
Unrelated:

@algomaster99 notice that we've officially migrated to using `yarn` due to some weird `npm install` behavior on different platforms.

[2019-10-21 15:25] jorgeorpinel commented on #716
See https://dvc.org/doc/user-guide/contributing-docs

[2019-10-21 15:35] jorgeorpinel commented on #663
Per Aman and Alexey it seems this is not high priority. Assigned p2 but maybe doesn't even need a p?

[2019-10-21 15:45] jorgeorpinel commented on #714
Nice. If you can list them all in as checkboxes (and check off the ones you fix with PRs), then it will be a good first issue 🙂

[2019-10-21 16:53] jorgeorpinel opened #719 "term: don't use "take X under control" phrase"
Starting with https://dvc.org/doc/command-reference/add, per https://github.com/iterative/dvc/pull/2546#discussion_r337122908 (look at resolution there for final wording).

And look for any other instances.

[2019-10-21 17:38] jorgeorpinel opened #720 "user-guide: rename user-manual?"
- [ ] Rename **User Guide** section to **User Manual**? Better naming because we can call each document inside a "guide" without causing confusion with the parent section (the manual).

- [x] And update the guide title "Update Tracked Files" to "Updating".

Would also need to setup a (tmp) redirect in server.js, update the GitHub label, et al.

[2019-10-21 17:40] shcheklein commented on #720
@jorgeorpinel up to you :) but, I don't see a strong reason to do so. What sections do you want to call "guide" inside?

[2019-10-21 17:42] jorgeorpinel commented on #720
- [ ] and update the guide title "Update Tracked Files" to "Updating".

[2019-10-21 17:42] jorgeorpinel commented on #654
I agree that "case study" is not the best term and that our first 2 use cases could be seen as high-level enough. I guess it's just the last one, https://dvc.org/doc/use-cases/shared-development-server, that I don't see as a use case. This one I would still recommend to get out the docs into a blog post perhaps. I think it's too specific, not a general problem that DVC as a product is designed to

[2019-10-21 17:43] jorgeorpinel commented on #720
Yeah, not a huge deal, not sure it's worth the trouble but I do think it would be an improvement.

All the documents inside would be "the guides". The ones listed in https://dvc.org/doc/user-guide.

[2019-10-21 17:44] shcheklein commented on #719
@jorgeorpinel does it sound that terrible? :)

[2019-10-21 17:46] shcheklein commented on #718
@dashohoxha the only place where is can be helpful is `dvc.api`, but even in that case I can hard to integrate it with the existing engine and most likely it won't be useful enough. I would say we should do regular md files and then propagate some bits back to code.

[2019-10-21 17:46] jorgeorpinel commented on #719
I didn't think so at first also but looked it up and thought about it, and yes, I think it sounds incorrect.

[2019-10-21 17:47] shcheklein commented on #719
@jorgeorpinel could you elaborate please?

[2019-10-21 17:49] shcheklein commented on #720
@jorgeorpinel if all of them are "guides" in an implicit sense, then it's correct to have a "User Guide" name. I think it's better to not repeat Guide multiple times inside.

[2019-10-21 17:50] jorgeorpinel commented on #719
1. "To take" already implies "in one's control".
  ![image](https://user-images.githubusercontent.com/1477535/67229531-1d959e00-f401-11e9-8acf-7fd8586d68c5.png)

2. "under control" is an idiomatic phrase that doesn't mean what we are trying to convery

![image](https://user-images.githubusercontent.com/1477535/67229620-4e75d300-f401-11e9-9f98-3612b4d08e97.png)

and we are mixing these 2 confusions

[2019-10-21 17:52] shcheklein commented on #654
@jorgeorpinel agreed. Sharing dev server probably should be renamed and generalized into - resource optimization or something similar. It's definitely stands out. But we need to come up with a better name place for it.

[2019-10-21 17:54] shcheklein commented on #719
@jorgeorpinel good points that hard for me to "feel". Waiting for good suggestions on how do we replace this :)

[2019-10-21 17:57] shcheklein commented on #714
there also should be a list of where to _use_ these constants, right?

[2019-10-21 17:59] shcheklein commented on #716
we should also update the `yarn lint` target to include `pages` cc @iAdramelk

[2019-10-21 18:02] jorgeorpinel commented on #720
We don't really have to call them "guides". In fact we don't often do. But if we're going to, at least call the parent section "User Guide**s**"? (plural). But TBH I don't think this section is much of a guide. Guiding information doesn't do into detail, just uses the most convenient steps to get from A to B. I think the Get Started section could be seen as a guide, but the stuff here is some of t

[2019-10-21 18:06] shcheklein commented on #720
I think "* Guide" is a pretty established naming in tech docs. Check HBase docs, look for Administrator Guide, Programmer's Guide, etc. All of them consist internally out of other smaller "guides".

[2019-10-21 18:07] shcheklein commented on #720
also - https://en.wikipedia.org/wiki/User_guide

[2019-10-21 18:52] algomaster99 commented on #714
@shcheklein We can determine it by grepping through the whole project for the particular constant.
Although, there are some constants which are used only once in a project. So I will have to decide whether they should really go into the file or not.

[2019-10-21 18:54] shcheklein commented on #714
@algomaster99 sometimes even grep can be not enough if it's already a value that we calculated using a few constants (like in your tooltip code as far as I understand).

[2019-10-21 19:09] algomaster99 commented on #714
@shcheklein in my case, we are just movie the header element' class to a constant file. Not the height because we can only find its height after it has mounted. It is similar to what we have done for `bodybag`.

Might be. I will have to look carefully and jot them down here. :sweat_smile:

[2019-10-21 21:47] jorgeorpinel commented on #720
Good arguments. But still I'm not convinced.

From the Wikipedia article: "User manuals and user guides for most non-trivial software applications are book-like documents with contents similar to the above list." (including cover page, copyright, preface, ToC, Purpose, Audience, Scope sections...) From this description, HBase's [Reference Guide](https://hbase.apache.org/book.html) is indeed a user

[2019-10-21 22:00] #605 closed

[2019-10-21 22:47] dashohoxha commented on #133
It seems that `dvc import` has made obsolete this way of data sharing between projects.
I am closing this issue. Please feel free to reopen in case I have missed something.

[2019-10-21 23:27] dashohoxha commented on #718
Maybe it is not so hard. There are platforms that host for free code docs, like this one: https://readthedocs.org/. Then we can just link from dvc.org to the code docs.

This is not the most efficient way because it is guaranteed that it will get outdated soon and there will be discrepancies. In this case we should update the docs, and then go back and fix the comments on the code?

I am reopening

[2019-10-22 00:19] ghost opened #722 "ui: forward slash / focus the search bar"
It is sort of common to focus the search bar when hitting forward slash (`/`), making it easier to navigate a webpage in a keyboard-only way.

Not sure how to implement this but a quick search threw this one: https://github.com/greena13/react-hotkeys

[2019-10-22 00:39] shcheklein commented on #718
I don't like this idea. We need a very very strong reason to use two different platforms. It can be really confusing. Also, I'm not sure how will it solve the integration problem.

Public APIs (and this the only place I see the value for this for now - `dvc.api` docs) should stay stable more or less. Also, It's a minor thing to fix md files when doing some changes to DVC code, unless it involves s

[2019-10-22 00:41] shcheklein commented on #722
@mroutis could you give an example? webpage that works like this?

[2019-10-22 00:43] mroutis commented on #722
GitHub, dev.to, duckduckgo

[2019-10-22 00:45] shcheklein commented on #722
@mroutis awesome! thanks.

[2019-10-22 01:02] jorgeorpinel commented on #714
My 2c on this is that either the constant goes in the shared file like all the others (in case it's reused later), or the value is hardcoded as a literal where it's used if you're sure no one else will ever need it.

[2019-10-22 02:11] dashohoxha commented on #718
There will be simply a link from the DVC website to an external site (like blog or chat), no integration.

I mean the whole code, not just the API.

Maybe the developers themselves, or potential contributors, or just curious people that want to look at the implementation details.
But I realize that this kind of people can also look at the code itself, so the documentation of the code would not be

[2019-10-22 02:11] #718 closed

[2019-10-22 09:16] algomaster99 commented on #716
@jorgeorpinel

Using `npx` won't make a difference because `npx` just runs the script in a node environment.

[2019-10-22 14:34] jorgeorpinel opened #1521 "list: document usage for data export/archive"
For projects created with `dvc init --no-scm`, since there's no Git repo to version all the files NOT tracked by DVC (code, DVC-files), it could be useful to have a `dvc export <external-location>` command to easily create a lightweight copy of the project (for backup). It's "lightweight" because it wouldn't include any of the data tracked by DVC.

Similar to [`git archive`](https://git-scm.com/do

[2019-10-22 15:11] jorgeorpinel commented on #719
Yeah TBH it wasn't intuitive at first to me either.

I think just use the term "track" as in "tracked by DVC" is the easiest fix to this. See for example https://github.com/iterative/dvc/pull/2546#discussion_r337128743.

[2019-10-22 18:08] jorgeorpinel opened #723 "engine: create title entry in CONTENTS nac (right side bar)"
Often there's a long intro in our docs before getting to the first H2 header (example below) but the CONTENTS navigation element in the right side bar does not list the document's H1 title, so it's not possible to scroll to the very top from there, which I think would be a logical feature.

![image](https://user-images.githubusercontent.com/1477535/67315649-9d3c6f00-f4cc-11e9-9869-3562716c30a6.png

[2019-10-22 19:13] jorgeorpinel opened #735 "update: how to update specific rev import? Clarify docs."
UPDATE: See https://github.com/iterative/dvc.org/issues/735#issuecomment-545320373 and under for concepts that should be better explained in docs.

---

[code]

Notice how the last command still counts 500 images each in cats-dogs/data/train cats/ and dogs/, however the latest version of `cats-dogs.dvc` in https://github.com/iterative/dataset-registry/tree/master/use-cases should track 1000 files

[2019-10-22 20:24] algomaster99 opened #724 "nav: unnecessary gaps in sidebar"
I think there is unnecessary space between 'Shared Development Server' and 'User Guide'.
![Screenshot from 2019-10-22 00-05-06](https://user-images.githubusercontent.com/35191225/67328867-b595a380-f537-11e9-9696-5f50de12fb18.png)

UPDATE: Note that a PR for this could also solve this related issue: #856

[2019-10-22 20:34] shcheklein commented on #724
@algomaster99 I can's reproduce this. What browser do you use? Is it production?

[2019-10-22 20:41] jorgeorpinel commented on #724
I also don't see this. Try ford reloading the site on your browser Aman. Shall we close as `invalid`?

[2019-10-22 20:44] algomaster99 commented on #724
@shcheklein @jorgeorpinel I sometimes see this and sometimes not. I can't figure out what is happening.

[2019-10-22 20:47] shcheklein commented on #724
@algomaster99 could you check the console? could you check the inspector in this place?

[2019-10-22 20:51] algomaster99 commented on #724
@shcheklein
![Screenshot from 2019-10-23 02-20-14](https://user-images.githubusercontent.com/35191225/67331668-aca6d100-f53b-11e9-9a51-39c775d2f5b3.png)

The harcoded `height: 119px` might be a problem. I will have too see.

[2019-10-22 22:04] jorgeorpinel commented on #724
I get 94px correctly. But I was able to reproduce from https://www.webpagetest.org/result/191022_SR_d9e1db4a5e961674a3f0fd9d512cd22a/ so it's definitely not just Aman's browser.

[2019-10-22 22:09] shcheklein commented on #724
@algomaster99 @algomaster99 does it happen with other sections?

[2019-10-22 22:42] shcheklein commented on #684
Tbh, I think people are just not familiar with the concept of editing the docs in the first place on Github. They just don't expect to see the button here. The only way to optimize it would be either highlighting it significantly or using pop ups. The downside of this - we are distracting our readers from the content - the main reason the come to the site. Let me try to introduce some emoji symbol

[2019-10-22 23:45] #684 closed

[2019-10-23 00:55] jorgeorpinel commented on #684
Agee it's pretty visible once you pay attention to the sidebar.

What was the concern here? Contributing via forking as explained in our [contrib docs](https://dvc.org/doc/user-guide/contributing-docs) guide is working fine AFAIK.

[2019-10-23 01:33] jorgeorpinel commented on #720
BTW I did this in https://github.com/iterative/dvc.org/pull/725/commits/dbcefaf0ff122f8c0f6fdfaf08e40725431fcda7

[2019-10-23 03:47] iAdramelk commented on #716
@algomaster99 not exactly. `npx` will check if `eslint` installed and, if not, will install it globally and run it from there. In current case there is not difference because we have eslint in `node_modules/.bin`, but in some cases it can lead to unexpected behavior, like script running even if there is no required dependencies in `package.json` or script reinstalling itself on every run of CI.

[2019-10-23 06:07] algomaster99 commented on #724
@shcheklein No, I don't think so.

[2019-10-23 18:58] shcheklein commented on #724
Got the same problem with this configuration:

<img width="409" alt="Screen Shot 2019-10-23 at 11 56 40 AM" src="https://user-images.githubusercontent.com/3659196/67425131-4f873b80-f58c-11e9-939f-12985e9c5900.png">

Probably related to the way item height is calculated when it's close to the very edge and close to taking two lines

[2019-10-23 19:15] shcheklein opened #727 "docs: remove unnecessary index pages that serve as a table of contents"
**Blocked by #738**

E.g. https://dvc.org/doc/user-guide/contributing

It'll be very painful to support them. We will need to keep titles up to date, list of them, snippets, etc, etc.

Let's not use pages like this at all or come with a way to generate them automatically.

cc @dashohoxha

[2019-10-23 19:31] shcheklein opened #729 "engine: open external domain links in a new tab"
Use a special symbol :after: the link that go to an external resource.

Also, I think, we should use a new tab to open them.

[2019-10-23 19:36] #681 closed

[2019-10-23 23:30] efiop opened #730 "add `gc --all-commits` to docs"
Per https://github.com/iterative/dvc/pull/2643

[2019-10-24 00:14] jorgeorpinel commented on #727
The point of having them is that we can add some text about the purpose of the section, and summary of each page inside. All of those texts are custom, they don't come from inside any of the other pages. So auto-generating them won't be able to get these same results, so I think the decision is either keep them or remove them. If we don't want to have to maintain them, let's just delete all these

[2019-10-24 00:20] shcheklein commented on #727
@jorgeorpinel yep, I don't mean pages that have some unique content or some introductory text. I specifically mean pages https://dvc.org/doc/user-guide/contributing that do not have any new content but repeat the structure. Moreover I really like that page, but I understand that it'll be a nightmare to keep those in sync w/o proper tooling.

[2019-10-24 02:00] dashohoxha commented on #727
I have tried ` "source": false,` on `sidebar.json`, but it doesn't work (unless it is the top level, like `understanding-dvc`). Maybe it should be fixed on the engine.

Again this seems like it needs to be fixed on the engine. I could be specified with a field like `"source": "auto",` or `"source": "index",`

[2019-10-24 02:12] dashohoxha commented on #727
@jorgeorpinel As I said above, currently this is not possible, as it breaks the engine. Maybe this could be regarded as bug too, because I would expect it to work automatically without index pages.

I agree with @shcheklein , sometimes they are useful, sometimes they are a burden. I think that autogenerating an index page should be the default, unless the `"source"` is given explicitly, or is spec

[2019-10-24 02:50] dashohoxha opened #731 "docs: support items without nav sidebar entry"
In some cases it might be useful to hide (not-show) a page on the left-side menu.
For example in the "Installation" page, the pages about "completion" and "plugins" are referenced from the index page of installation, but I wish they were not shown on the sidebar menu.

Currently this is not possible (unless I have missed something).
This could be specified for example with a field like `"label": f

[2019-10-24 03:34] Suor commented on #730
This was never meant to be documented nor used. The goal of `--all-commits` is a ready to use implementation, we decided to only make it public with a proper UI, which is still undecided.

So this one should be closed.

[2019-10-24 04:32] shcheklein commented on #730
@efiop @Suor 👍 , you should hide it from the command line then.

[2019-10-24 04:32] #730 closed

[2019-10-24 04:39] shcheklein commented on #727
@dashohoxha

It should be possible - check understanding DVC and/or changelog sections.

[2019-10-24 04:41] #656 closed

[2019-10-24 04:57] jorgeorpinel commented on #729
Why not just use HTML? `<a href=... target="_blank">` ?

[2019-10-24 05:19] shcheklein commented on #729
@jorgeorpinel yep, that can be exactly the solution we are looking for 👍 . The only thing left is to integrate it into engine - generate different link with or w/o target blank.

[2019-10-24 05:21] jorgeorpinel commented on #133
Not the first example, which doesn't require a Git repo. The question is where to include this example in the docs...

[2019-10-24 05:24] jorgeorpinel commented on #133
Maybe as an **Example: Simulating import without Git**  in the `dvc import` cmd ref?

[2019-10-24 05:53] jorgeorpinel commented on #727
Ah, Ok. Never mind Ivan.

I'm able to reproduce this bug. I would say just delete the indexes and open a separate bug issue @dashohoxha. (We could wait for that fix before merging this PR.) All parent slugs with `"source": false` should behave like `understanding-dvc`, that opens **Collaboration Issues** by default. BTW it should also change the URL to `.../collaboration-issues` no? (part of the b

[2019-10-24 06:01] jorgeorpinel commented on #729
I mean we can just enter HTML into the .md files. Or do you want to extend the MD language like `[external](link)_blank` ?

Another option would be to open links that go outside the website domain (dvc.org) in a new tab by default and let the

[2019-10-24 06:02] jorgeorpinel commented on #729
and let the user Cmd+click the other ones

[2019-10-24 14:56] shcheklein commented on #729
Yep. And I think the engine can detect those and put _blank automatically.

[2019-10-24 15:46] jorgeorpinel commented on #731
Seems to me like a nice-to-have feature: Having the files there but with no entry in sidebar.json

However I don't agree that neither `/doc/user-guide/install/completion` nor `...plugins` should be hidden from the sidebar. They help users discover those topics by navigating the side bar. In fact can't find any element in the navigation at the moment that shouldn't be listed.

[2019-10-24 15:48] jorgeorpinel commented on #731
p.s. The problem with those 2 entries is that they are repeated as stand-alone User Guides since #695 was merged.

[2019-10-24 15:48] jorgeorpinel commented on #731
p.s. The problem with those 2 entries is that they are repeated as stand-alone User Guides since #695 was merged. This is reported in #701.

[2019-10-24 17:02] jorgeorpinel commented on #735
Moved to iterative/dvc.org/issues/735

[2019-10-24 18:42] shcheklein commented on #735
@jorgeorpinel agreed on updating docs! (as usual, haha :))

I would clarify though that `dvc update` _updates_ the DVC-file and data when branch name is specified as a revision.

It does not update only when you explicitly told it to use an exact commit. It should be the same as regular package managers behave if you specify them a link to an exact commit on Github. Their update logic will keep th

[2019-10-24 20:40] shcheklein commented on #727
@jorgeorpinel could you please create a ticket to fix the issue with indexes? Do you want to try to take it? :)

[2019-10-24 23:00] efiop opened #736 "scripts: update autocomplete instructions"
We are now including bash and zsh completion scripts into our deb, rpm and brew packages. So users of those don't need to get the scripts by-hand.

[2019-10-24 23:58] jorgeorpinel commented on #735
Agreed. I like the package manager analogy. Maybe we should've called these features `dvc pkg install/update` after all haha. 😋

[2019-10-25 00:08] jorgeorpinel commented on #614
Another one: #551

[2019-10-25 00:35] jorgeorpinel opened #738 "docs: should not need index files in every parent sidebar element"
Using ` "source": false,` on `sidebar.json` doesn't work unless it is the top level (e.g. `get-started` or `understanding-dvc`). In other levels, this breaks the engine.

Consider also automatically generating a list of H2s in child documents when no `source` field is used for a parent `slug`.

- And finish #727 after this.

[2019-10-25 00:36] jorgeorpinel commented on #727
Opened #738. So this one is now just to delete all indexes as I suggested? Updating title

[2019-10-25 00:40] efiop commented on #411
Also now supported for https://github.com/iterative/dvc/pull/2619

[2019-10-25 02:25] shcheklein commented on #727
Yep, I would clarify that not all indexes - only that do not provide any extra value and can be generated in the future.

[2019-10-25 02:26] shcheklein commented on #738
index.js -> index.md? (or actually just index file, since it can have a custom name). Also, I would mention that `source: false` should be just working for 2+ level of the items in sidebar.

[2019-10-25 06:13] jorgeorpinel commented on #701
This part is not done right. See https://github.com/iterative/dvc.org/issues/701#issuecomment-542929946. It should be re-done.

[2019-10-25 06:15] shcheklein opened #739 "update get-started index page"
https://dvc.org/doc - it mentions tutorials that have been moved to another section and a deep dive tutorial - I would replace it with a link to the Tutorials section and fix the text around

[2019-10-25 06:17] jorgeorpinel commented on #701
(Re-done by re-applying the changes in https://github.com/iterative/dvc.org/commit/1774355eca250c4fb2779634e167b865ca4bbee3 which were reverted as explained in https://github.com/iterative/dvc.org/pull/695#pullrequestreview-303630301.)

[2019-10-25 06:19] shcheklein commented on #701
@jorgeorpinel since the PR has been merged you need to create a new with these changes probably?

[2019-10-25 06:51] dashohoxha commented on #701
@jorgeorpinel The necessary changes have been applied correctly, please check it again. So, let's close this issue (an open another one if needed).

[2019-10-25 06:53] #660 closed

[2019-10-25 09:43] dashohoxha commented on #698
I wonder what doc engine are they using in this tutorial, and how they make it possible to display command snippets with tabs ("Linux/Mac" and "Windows"):
https://dagshub.com/docs/pipeline/#featurization-or-pre-processing

It even seems like it is possible to convert automatically a Linux example to a Windows example.

[2019-10-25 09:49] dashohoxha commented on #736
@ptisserand I think that you should first understand the different modes of installation, and even try out some of them if possible. You should also familiarize yourself with the installation of tab completion.
Only after that you might be able to modify properly the installation instructions on that page.

But maybe someone else can explain you better, I am not sure.

[2019-10-25 10:01] algomaster99 opened #743 "tooltip: fix positioning of tooltips when rapidly switching between them"
Look at how `cache`'s tooltip is put above the actual position.

![tooltip](https://user-images.githubusercontent.com/35191225/67562381-3d4bff80-f73c-11e9-8da6-669ef147754a.gif)

[2019-10-25 16:04] jorgeorpinel commented on #701
Yes @shcheklein, a new PR is needed to fix this. I am happy to do this work myself **again**, but do we agree that undoing other people's work is confusing and unproductive? I could've missed this problem for example, and it would be totally lost.

In this particular case, I was asked to review that PR in https://github.com/iterative/dvc.org/pull/695#event-2715414398, then I was asked for help on

[2019-10-25 17:10] jorgeorpinel commented on #701
Done. This will be closed in https://github.com/iterative/dvc.org/pull/725/commits/876034bb0b20a84aaecda3986488058584f17bdd.

[2019-10-25 18:14] #743 closed

[2019-10-25 18:25] jorgeorpinel commented on #698
@LucasErlacher did you notice our doc on Windows caveats? We recommend POSIX-like terminals in there: https://dvc.org/doc/user-guide/running-dvc-on-windows

Perhaps we should link to this doc more so people are able to find our recommendations easily?

[2019-10-25 20:03] dashohoxha opened #745 "user-guide: restructure"
# The Structure of the Docs

The focus is on discussing the structure of the User Guide, because the
structure for the rest of the top items is more or less clear.

- Get Started

  [. . . . .]

- Installation

  [. . . . .]

  https://github.com/iterative/dvc.org/issues/65

- Tutorials

  [. . . . .]

- User Guide

  - [ ] Introduction

    - Why DVC

      - Problems in DS/ML

        https://dv

[2019-10-25 21:17] shcheklein commented on #736
@ptisserand yes, this is an update to the `completion.md` to mention that in certain cases completion is enabled out of the box. I would just write a simple sentence before each section - Ubuntu/Mac/etc ...

[2019-10-25 21:23] shcheklein commented on #698
@jorgeorpinel agreed! the first link I would into install/windows.

[2019-10-25 21:27] shcheklein commented on #698
@dashohoxha they are using MkDocs . I doubt that it can automatically translate windows <-> linux. Would be great if you can take a look and see what takes for an editor to supports this, how does it look in their markdown (or what do they use as a format?)

[2019-10-25 23:07] shcheklein commented on #745
@dashohoxha as we discussed, let's split this into separate tickets and do them one by one. This one is not actionable. Even if we start the discussion here it will become a mix of different topics that are hard to follow.

[2019-10-25 23:07] #745 closed

[2019-10-25 23:08] jorgeorpinel opened #746 "seo: monitor and fix broken links"
Use this script or similar manually to double check which links are broken in the docs: https://github.com/iterative/dvc.org/pull/690/files#diff-a5173e320dcf100fc3ff5b32ba2ea911

The last run (see https://github.com/iterative/dvc.org/pull/690#issuecomment-542015419) reported the following problems:

<details>

[code]

</details>

UPDATE: Scroll to https://github.com/iterative/dvc.org/issues/746#is

[2019-10-25 23:12] shcheklein commented on #746
I would clarify that there are lot of false positives here. And we need only fix a very few that use redirects like `dvc.org/docs/something` -> `dvc.org/doc/somethinf`

[2019-10-25 23:36] jorgeorpinel opened #747 "docs: move /get-started index to root and /install above /get-started"
(Probably after #738)

I like that **Get Started** is the first section in our docs, but ~~its 2nd page links to **Installation** for the user to go and figure out how to best install the tool. This may kind of break the continuity of get-started from the very beginning.~~ Perhaps if we have **Installation** on top in the left side bar, most users will already have DVC installed by the time they g

[2019-10-25 23:36] taylorlee1 commented on #746
Running script.  Only seeing a few issues after turning on --max-redirect=10 and --method=GET.  Lots of false positives w/ redirects=0 and method=HEAD.

[2019-10-25 23:39] jorgeorpinel commented on #746
Thanks @taylorlee1 ! Yes I'm not sure that script is completely flawless. Please use your criteria and fix the broken links you are able to find 🙂 You may open a PR with the fixes and say "Fix #746" in it's description. More info in https://dvc.org/doc/user-guide/contributing/docs

[2019-10-25 23:39] shcheklein commented on #746
@taylorlee1 some false positives on redirects=0 should be fixed. Mostly those which are redirects we keep for backward compatibility (docs -> doc), etc. They are not external links, they automatically transform one docs link into another.

[2019-10-25 23:42] taylorlee1 commented on #746
[code]
All three errors can be fixed by using .html instead of .htm suffix.

[2019-10-26 00:10] jorgeorpinel commented on #747
From https://github.com/iterative/dvc.org/pull/734#issuecomment-546538772:

Good point, https://dvc.org/doc/get-started has introductory notes to the entire docs. So maybe these should be moved into a docs/index.md to open as a docs landing page? And then move install above get-started.

[2019-10-26 00:15] shcheklein commented on #747
yep, good idea, @jorgeorpinel ! Then we can make Agenda in the Get Started to be an index page of the Get Started itself.

Probably some changes to the engine are required to make it work.

[2019-10-26 00:18] dashohoxha commented on #747
If the user clicks the "Get Started" button, then it will go to the get-started, no matter whether it is the first item on the menu or the second. However if he clicks the "DOC" link to go to the UG or Command Reference, then he still gets Get Started (expanded), which effectively hides the rest of the docs.

[2019-10-26 01:22] jorgeorpinel commented on #698
Added to /install/windows in https://github.com/iterative/dvc.org/pull/725/commits/c0a9e631be3a462794f2187513cfda4974725c13. Not sure there are other appropriate places for this note, actually. But will review and add to that PR if so.

[2019-10-26 01:23] jorgeorpinel commented on #698
Sorry, I meant in https://github.com/iterative/dvc.org/pull/725/commits/8afb0fcc009205ab60d8d5c6e132daffbcf743b1. And "that PR" is #725.

[2019-10-26 01:37] jorgeorpinel opened #749 "install: redesign Download button on landing page?"
We are now recommending different ways to install DVC depending on the system, and the binary bundle is only the first choice for Windows. However, the home button mainly provides binary bundles for any system. Also, the `pip install dvc` command, although straightforward, we don't recommend to be run directly in the /install docs. (We strongly recommend using a virtual env, or `pipx`.)

Not sure

[2019-10-26 04:02] jorgeorpinel opened #750 "nav: anchors after images don't scroll correctly"
For example https://dvc.org/doc/tutorials/versioning#preparation or even worst https://dvc.org/doc/tutorials/versioning#whats-next (notice the offset error is even larger, so much so that the right side bar CONTENTS widget stays in the previous header.

[2019-10-26 04:40] jorgeorpinel commented on #738
Why not the top level as it works now, @shcheklein? Maybe I'm not getting this comment.

[2019-10-26 04:41] jorgeorpinel commented on #727
I'm confused. What is the difference between this issue and #738? Seems to me like this one at least depends on that one. We could probably re-merge them?

[2019-10-26 05:44] jorgeorpinel commented on #736
@ptisserand thanks for your interest! On second thought this was not such a great first issue though.

[2019-10-26 05:44] jorgeorpinel commented on #736
I'm addressing this in https://github.com/iterative/dvc.org/pull/725/commits/a0cb947053b8e72d348aa44814688978ea91b6ec.

[2019-10-26 06:26] shcheklein commented on #727
Yeo, this one depends on #738, but they are different anyway. I would keep them separate for simplicity.

[2019-10-26 06:29] shcheklein commented on #738
oh, it's my "russian" english when I'm typing too quick :) ... what I wanted to say is that `source: false` must work for all levels, including top level.

[2019-10-26 06:31] shcheklein commented on #749
I've done actually some quick redesign just yesterday :)

[2019-10-27 02:15] jorgeorpinel commented on #749
Nice! I see the following link in the dropdown, going to https://dvc.org/doc/install.

![image](https://user-images.githubusercontent.com/1477535/67628523-d8c09b80-f834-11e9-8422-085dd29548f7.png)

But is there a point of having the binary download options there for Mac and Linux, when they're not the recommended method?

[2019-10-27 02:28] shcheklein commented on #749
@jorgeorpinel not sure yet, open for suggestions :) Just did a quick update to make it more or less up to date.

[2019-10-27 02:28] shcheklein commented on #749
@jorgeorpinel I feel that Downloading the package can improve "zero-day" experience for some folks

[2019-10-28 03:24] jorgeorpinel commented on #749
Yes. I can't really think of a better strategy. Just linking to the installation docs would mean several clicks and reading is required to install DVC for novice users, whereas a package download is intuitive for all. I'll close this but I'm curious: do we have statistics of which kind of installs are more popular per platform? Maybe @efiop knows.

[2019-10-28 03:24] #749 closed

[2019-10-28 04:25] jorgeorpinel opened #752 "install: zsh autocomplete instructions don't work on MacOS"
[code]

Unfortunately this may be hard to force. See https://serverfault.com/a/748845/296107.

[2019-10-28 16:05] shcheklein commented on #752
There should be probably alternative ways of installing this. @mroutis could you take a look please when you have a few minutes?

[2019-10-28 16:06] shcheklein commented on #752
@efiop how do install it when we ship the package? what location and how do we overcome the Max OS restrictions?

[2019-10-28 23:08] jorgeorpinel opened #753 "react: CONTENTS highlights 2nd header on top window position"
Right-side CONTENTS element doesn't highlight the right header, at least with scroll 0 in the example below:

![image](https://user-images.githubusercontent.com/1477535/67724514-e72dc500-f9a4-11e9-8702-e75e7a3b5a2c.png)

[2019-10-28 23:09] jorgeorpinel commented on #753
Maybe also related: #750

[2019-10-28 23:53] #701 closed

[2019-10-28 23:53] #736 closed

[2019-10-29 04:19] shcheklein commented on #548
@algomaster99 I think the PR that was merge broke the style of the dvc.org for a few hours:

<img width="1433" alt="Screen Shot 2019-10-28 at 9 15 58 PM" src="https://user-images.githubusercontent.com/3659196/67737433-67195680-f9c8-11e9-99c6-0f3d57b82c39.png">

we don't have a QA team and we trust that engineers do some basic testing. Please, review it again and run it locally every time before we

[2019-10-29 05:02] shcheklein commented on #753
#750 is not related. In this case the problem is that three and/or more H2 titles are visible. Some of the even above the middle of the page. In this case the heuristic we use to determine which of the titles to highlight decides to show the second one. I think this just an edge case that can be fixed by applying a very specific detection that page is at it's most top or very very close to that an

[2019-10-29 05:31] algomaster99 commented on #548
@shcheklein
Sorry, this happened. But I assure it is a very quick fix.

This happened because of writing URLs in `src/Documentation/HeadInjector.js`.
I broke:
[code]
into this:
[code]

The solution could be to:
1. Make use of template literals since we already added to ignore it in `.eslintrc`.
[code]
2. Or make use of `// eslint-disable-next-line` exactly what we did for that long `svg` tag.
[cod

[2019-10-29 05:35] shcheklein commented on #548
@algomaster99 using some special syntax for every URL looks unacceptable to me. Could you please google some discussion how do people deal with this? The most interesting thing here is that prettier broke the code. This looks like a bug to me to be honest.

[2019-10-29 05:37] algomaster99 commented on #548
@shcheklein Okay, I got it. We could again edit `"max-len": ["error", { "ignoreTemplateLiterals": true, "ignoreUrls": true }],` to ignore URLs too.
Something like this:
[code]

[2019-10-29 05:39] shcheklein commented on #548
k, looks reasonable

[2019-10-29 05:41] algomaster99 commented on #548
@shcheklein
Would you recommend to enclose URLs [here too](https://github.com/iterative/dvc.org/blob/fd8fbbc40d79848db3c5cd4c2bdfb0c5fe4edfd9/src/DownloadButton/index.js#L16) in string rather than template literals just to make the codebase uniform?

[2019-10-29 05:42] shcheklein commented on #548
@algomaster99 but they _are_ templates, right?

[2019-10-29 05:45] algomaster99 commented on #548
@shcheklein Sorry, my bad! Didn't notice. :man_facepalming:

[2019-10-29 16:10] shcheklein opened #757 "server: better way to handle HTTP redirects"
Every time we move a page to a new URL we need to create a proper redirect.

The only way to this now is to create a 4-5 lines entry in our custom `server.js`. This is def. not scalable. We need to find an easier way to handle this.

The first solution that comes to my mind is a separate file with a list of simple expressions, may be converter functions.

[2019-10-29 16:30] jorgeorpinel commented on #548
Did we ever find a full reference of what exactly `plugin:prettier/recommended` does in the ESLint config? Just curious (from https://github.com/iterative/dvc.org/pull/715#issuecomment-547105692).

[2019-10-29 17:48] shcheklein commented on #720
another good example of the user guide with an explanation what User Guide is about:

https://dev.pandas.io/docs/user_guide/index.html

also, might be a good example of the getting started section - may be we can make structure our get started into isntallation (move it back from the top level), quick intro (create a separate level for the current content), move tutorials inside from the top level

[2019-10-29 17:56] algomaster99 commented on #548
@jorgeorpinel https://prettier.io/docs/en/integrating-with-linters.html#recommended-configuration

[2019-10-29 18:01] shcheklein commented on #548
@algomaster99 I think it does not answer the question :) Not very helpful link - no information whatsoever.

[2019-10-29 18:23] algomaster99 commented on #548
@jorgeorpinel @shcheklein

So there are two packages installed in our project called - `eslint-config-prettier` and `eslint-plugin-prettier`.
1. `eslint-config-prettier` - Its purpose is to switch off all rules which may conflict with prettier configuration. https://github.com/prettier/eslint-config-prettier#special-rules
2. `eslint-plugin-prettier` - Whenever you run `eslint`, this plugin makes s

[2019-10-29 18:31] shcheklein commented on #548
@algomaster99 I would clarify though that _special_ rules set is not the full set of rules that are being applied. Probably, this is the full list https://github.com/prettier/eslint-config-prettier/blob/master/index.js . May be there is some other logic around that changes the effective list.

[2019-10-29 19:24] algomaster99 commented on #548
@shcheklein yes, `eslint-config-prettier` turns off all the rules they have listen in the README . We just switched on `max-len ` for our purpose.

[2019-10-29 20:05] dashohoxha commented on #720
I have no strong opinion on the issue of User Guide vs. User Manual. When I hear "manual" I am reminded of man pages on Unix/Linux (I am not sure whether Mac and Windows have something similar). So, in my opinion, User Manual might be an alternative to Command Reference, not to User Guide.
Anyway, I am in favor of keeping things as they are, unless there is a good reason for changing them.

About

[2019-10-29 20:53] dashohoxha commented on #698
Unfortunately I could not find the code of their website/docs. DAGsHub does not seem to be open source (although they offer free service for open source projects).

[2019-10-29 21:03] dashohoxha commented on #698
However this discussion has some info about it: https://stackoverflow.com/questions/37606292/how-to-create-tabbed-code-blocks-in-mkdocs-or-sphinx

[2019-10-29 21:59] shcheklein commented on #698
@dashohoxha some suggestions look reasonable. We can't probably use direct MkDocs analog - consequent blocks with different language specifications, since we have a single language usually - `dvc` or `usage`, but we can come up with something similar or use something similar to this https://github.com/apache/spark/blob/master/docs/quick-start.md.  I wonder how many code snippets are affected by th

[2019-10-29 22:38] jorgeorpinel commented on #757
And maybe add a note with the date the redirect was added (can also be checked with GitHub Blame but it's not always straightforward) for periodic cleaning up of this list.

Another option is to use DNS for this, not the app.

[2019-10-30 01:12] dashohoxha commented on #698
What if we try a syntax like this:

[code]

There are 4 backticks for the enclosing `dvc` block. It is a valid markdown syntax and normally it would render like this:

[code]

The engine should render it with tabs, but even with normal markdown rendering it appears somewhat acceptable.

[2019-10-30 03:48] jorgeorpinel commented on #735
Adding details on all this to the docs in https://github.com/iterative/dvc.org/pull/679/commits/131af1ea370592c9237f8e55a2e0202c7fe4246d!

Should we also open a ticket to give special output from the command itself when it detects a fixed `rev` field in the DVC-file, and this rev hasn't changed? (An alert suggesting it may be necessary to re-import instead of updating if the rev is a tag or SHA co

[2019-10-30 03:57] jorgeorpinel commented on #487
Added another example in https://github.com/iterative/dvc.org/pull/679/commits/131af1ea370592c9237f8e55a2e0202c7fe4246d as part of my current PR for a new data registry case. And will add one more example there soon.

[2019-10-30 05:09] shcheklein commented on #735
It can be just a status message (not WARNING or something like that - since there is nothing wrong) that this file is up to date since exact commit is specified and there is nothing to update.

[2019-10-30 05:22] shcheklein commented on #698
@dashohoxha it might be a good option. Please, create a separate ticket for the engine label to add support for tabs. This one will depend on the new one.

[2019-10-30 08:28] dashohoxha opened #759 "md: support displaying command snippets with Windows/OS/Linux tabs to select"
It would be nice to display command snippets with tabs "Linux/Mac" and "Windows", if they are different (similar to this example: https://dagshub.com/docs/pipeline/#featurization-or-pre-processing).

This page has some ideas about how it can be done: https://stackoverflow.com/questions/37606292/how-to-create-tabbed-code-blocks-in-mkdocs-or-sphinx
This one also has an example (`class="codetabs"`):

[2019-10-30 08:35] dashohoxha commented on #759
I am not sure how many users are using DVC on Windows, but it seems that there is a workaround by using a POSIX-like command line shell: https://dvc.org/doc/user-guide/running-dvc-on-windows#posix-like-command-line-shell
So, I would say that the priority of this issue is `nice-to-have`.

[2019-10-30 15:02] efiop commented on #752
@shcheklein We don't do anything about it ourselves. Brew is doing that automatically. There might be another location where you could put those scripts per-user, need to research.

[2019-10-30 16:34] shcheklein commented on #752
@jorgeorpinel so, the easiest way is to install via brew and see where do these files go.

[2019-10-30 17:07] jorgeorpinel commented on #752
It's installed in `/usr/local/Cellar/dvc/0.65.0/` for me rn. Completion scripts seem to be placed in `/usr/local/Cellar/dvc/0.65.0/etc/bash_completion.d/dvc` and `/usr/local/Cellar/dvc/0.65.0/share/zsh/site-functions/dvc.zsh` (I use the latter, Zsh). I'm not sure how they're hooked to the shell by Homebrew though.

[2019-10-30 18:29] shcheklein commented on #735
@jorgeorpinel 🙏

[2019-10-30 20:37] efiop commented on #752
@shcheklein the issue is unlikely on our package side, as we do the same thing that any other package does in regards to installing completion scripts. I imagine they are not activated or something on your side.

[2019-10-30 20:40] shcheklein commented on #752
@efiop it can also probably just mean that either brew does not install completions (it's up to a user to run something after that), it might potentially just deliver scripts

[2019-10-30 22:43] shcheklein commented on #752
@efiop @jorgeorpinel https://docs.brew.sh/Shell-Completion - this is the instruction how to enable them properly for brew installed packages. I'm not sure about apt-get. I also think that a similar instruction can be provided instead the one we have when someone wants to install it manually.

[2019-10-31 01:25] jorgeorpinel opened #760 "tutorials: install DVC as pip requirement?"
Since we are recommending venv'd `pip` (or `pipx`) as a way to install DVC on Linux at least, and since our `versioning`, `pipelines`, and `deep/preparation` tutorial pages use Python in a `virtualenv`, we could simply add DVC into requirements.txt and remove notes/links about DVC installation (only present in `versioning` and `pipelines`).

We should probably also add a note that git-scm.com is r

[2019-10-31 01:31] jorgeorpinel commented on #500
Is this issue basically the same as #546 ** build interactive lessons with katacoda** now?

[2019-10-31 01:35] jorgeorpinel commented on #546
Hi! Haven't read everything above. I just want to ask what's the summary of what's missing here? Perhaps we could open a dummy PR for Ivan and myself to start reviewing the Katacode examples (or do it in that repo). Other than reviewing, is there much more left for a first phase here? Thanks

[2019-10-31 01:36] jorgeorpinel commented on #214
Hi! Is this still something we care about since Python 2 I think will be deprecated in 2 months? Just checking.

[2019-10-31 01:54] shcheklein commented on #214
@jorgeorpinel yep, let's close it. May be update our docs to specify that we haven't tested on Python 2 and do not recommend using it?

[2019-10-31 02:01] shcheklein commented on #760
The only concern that users will be unaware about the way DVC is installed. And usually they should prefer installing it globally via package, brew, or conda. We are hiding this information behind some magic. Also, this we way we are hiding already installed DVCs, right?

[2019-10-31 02:05] shcheklein commented on #500
no, I think this issue comes from the fact that even get started requires some substantial amount of memory to run. I think, to some extent since we already have Tutorial_s_ now users have way more options, including Katacoda. May be we can specify in the NLP tutorials that they require more memory and there other options available?

[2019-10-31 03:09] welenofsky commented on #760
Not sure if I was off base on this. I couldn't find an existing requirements.txt in this repo.

[2019-10-31 04:30] jorgeorpinel commented on #760
Thank you so much @welenofsky sorry my bad actually, I didn't explain the task well. The requirements.txt files exist inside zip files downloaded from other places, not in this repo. This is probably not that good a first issue as I thought but I'll review your or asap anyway and we'll find a way to incorporate it. Maybe we'll just end up improving the docs for now. I'll get back to you...

[2019-10-31 04:30] jorgeorpinel commented on #760
Thank you so much @welenofsky sorry my bad actually, I didn't explain the task well. The requirements.txt files exist inside zip files downloaded from other places, not in this repo. This is probably not that good a first issue as I thought but I'll review your or asap anyway and we'll find a way to incorporate it. Maybe we'll just end up improving the docs for now. I'll get back to you...

[2019-10-31 04:43] dashohoxha commented on #546
I am done with the Get Started, Basics, and Tutorials:
- https://katacoda.com/dvc/courses/get-started
- https://katacoda.com/dvc/courses/basics
- https://katacoda.com/dvc/courses/tutorials

I am still working on adding some more Examples:
- https://katacoda.com/dvc/courses/examples

[2019-10-31 04:45] dashohoxha commented on #546
By the way, if you have not noticed, these are already linked from the page of Interactive Tutorials: https://dvc.org/doc/tutorials/interactive

[2019-10-31 04:48] shcheklein commented on #546
@dashohoxha thanks for the update. There was a good question about reviewing. I think it's a valid one.

[2019-10-31 04:55] dashohoxha commented on #500
I have noticed that the [MNIST tutorial](https://katacoda.com/dvc/courses/tutorials/mnist) runs well even on low memory (1.5G RAM). Also it has only 3 stages (featurize, train, evaluate). It also describes experimentation by branches, using methods SVM, PCA and CNN.
Maybe this tutorial should be promoted more.

[2019-10-31 05:00] dashohoxha commented on #546
I think that we should find some beginners to review them, if possible (maybe students).
I remember some people have followed the Basics lessons and they had good impressions about them (maybe I can find a reference about this on the chat, I am not sure).

[2019-10-31 05:05] dashohoxha commented on #546
This is a review by @kurianbenoy
 https://discordapp.com/channels/485586884165107732/565759186693128202/628299513823494149

[2019-10-31 05:09] shcheklein commented on #546
@dashohoxha I think that's where some misunderstanding comes from. While we do care about zero-day experience, our primary target audience are experienced ML practitioners, data scientists, engineers. And first we should think about them, then about students.

The idea of independent review is good, but I think it can be complimentary to a regular reviews and discussions process we have with the t

[2019-10-31 05:20] dashohoxha commented on #546
@shcheklein I agree with everything that you say. Let's find some non-student beginners to review them.

I am afraid that you and Jorge are biased (including me, after 3 months of being involved with DVC). For example 3 months ago I could say what I found difficult to understand and what not, now I cannot make the difference anymore.

For example, look at this review of Get Started that I made 3 m

[2019-10-31 05:28] welenofsky commented on #760
@jorgeorpinel That explains where the file was. Whoops! Okay, I just pushed up the removal of that  requirements.txt file.

[2019-10-31 18:03] jorgeorpinel commented on #214
OK adding notes in a new PR that will close this issue.

[2019-10-31 18:03] jorgeorpinel commented on #214
I guess I'll just close it now.

[2019-10-31 18:03] #214 closed

[2019-10-31 20:38] jorgeorpinel commented on #760
I'm adding notes about Git and DVC installation in #763 (per https://github.com/iterative/dvc.org/issues/214#issuecomment-548183856)

Will leave notes and help incorporate your PR as well, Justin.

[2019-10-31 22:00] jorgeorpinel commented on #760
@welenofsky please see this https://github.com/iterative/dvc.org/pull/761#issuecomment-548561984 and lmk if its something you would be able to do, no worries either way.

[2019-10-31 23:27] shcheklein opened #764 "mention that cache options could be used besides `remote modify` params"
At least type can be specified and is taken into account for `dvc remote modify` command SSH remotes. More details here: https://github.com/iterative/dvc/issues/2704

UPDATE: See more details in https://github.com/iterative/dvc.org/issues/764#issuecomment-548979449 below.

[2019-11-01 00:38] jorgeorpinel commented on #764
iterative/dvc#2704 is a little confusing. Would be great if this issue was self-contained with a summery of what and why to improve the `remote modify` cmd ref.

[2019-11-01 00:42] jorgeorpinel commented on #546
Agree, we're all biased here. Still we can help review your work and double check the examples run and make sense, and we should do this anyway. My Q is where/how to do this. I believe there's a separate GitHub repo with the Kacacoda examples? Sorry, I know I've asked this before but lost track of that conversation, wherever it happened.

[2019-11-01 04:33] dashohoxha commented on #546
Thanks @jorgeorpinel, this makes sense. For example the reading time for each tutorial is a very rough estimation, and having to go many times through each tutorial, I am not able to measure it accurately. A first time reader should be able to do it better than me (of course, a DVC beginner would be even better).

You can open issues on https://github.com/iterative/katacoda-scenarios/issues

[2019-11-01 06:50] taylorlee1 commented on #746
I fixed the easy redirects (docs -> doc), but there are a few I am not sure about:

`KO 200 https://towardsdatascience.com/why-git-and-git-lfs-is-not-enough-to-solve-the-machine-learning-reproducibility-crisis-f733b49e96e8 https://towardsdatascience.com/why-git-and-git-lfs-is-not-enough-to-solve-the-machine-learning-reproducibility-crisis-f733b49e96e8?gi=48427509caa5
--> ['./static/docs/understand

[2019-11-01 16:43] Suor commented on #757
@jorgeorpinel I don't think those should be cleaned up unless they clash with something.

Another thing - do not forget to use HTTP code 301 for moved things, not 302.

[2019-11-01 17:20] shcheklein commented on #746
My 2c on this:

keep redirects that just remove/add slash at the end like `/` - it would be never ending game fixing those, or those that add some ? after the redirect.

def fix redirects like this https://plugins.jetbrains.com/plugin/11368-dvc-support-poc - that look like owners of the site moved the page (probably it should be returning 301?)

https://dvc.org/chat https://discordapp.com/invite/d

[2019-11-01 18:27] jorgeorpinel commented on #682
Another case of bundling/partitioning was recently mentioned [on Discord](https://discordapp.com/channels/485586884165107732/563406153334128681/638521838347092018). Summary:

My thought here is to implement some sort of bundler/partitioner middleware that results transparent to DVC. It would need adaptors to known formats like H5, TFRecords, ZIP, etc. I guess.

[2019-11-01 23:07] shcheklein commented on #764
@jorgeorpinel we have a list of options that are applicable for different remotes provided via expandable sections [here](https://dvc.org/doc/command-reference/remote/modify#examples) (btw, name should be changes to Available Options).

In case of remote data management, when you that remote as a remote cache, specifically for SSH you can specify some options that are not mentioned in that list:

[2019-11-02 00:29] jorgeorpinel commented on #746
- We should def. keep https://dvc.org/chat (all occurrences) (actually just `/chat`) as mentioned by Ivan.
- The ones that just add a query string e.g. `?gi=48427509caa5` (all the towardsdatascience.com ones) we can also ignore, also as mentioned by Ivan.

- No difference here. Leave them please.

Yes, please update since we know the content has moved.

Yes, please add `/` to any base URL that is

[2019-11-02 16:15] mroutis commented on #764
@shcheklein , `reflinks` are supported :)

[2019-11-02 16:20] mroutis commented on #764
@shcheklein , `protect` make sense but is not enable, I was talking about it on https://github.com/iterative/dvc/issues/2542 could you take a look?

[2019-11-02 22:18] jorgeorpinel opened #767 "term: when/why did we go from DOCS to DOC?"
And from URL `/docs` to `/doc` (which now requires a redirect BTW) ?

I haven't researched this but "Docs" sounds better to me. "Doc" sounds like going to the doctor. 😆

Will look out there though...

[2019-11-02 22:20] jorgeorpinel commented on #767
On the other hand I guess "documentation" doesn't have an 's', so "Docs" would be short for "documents"... which is not the right term.

[2019-11-02 22:40] jorgeorpinel commented on #767
- AWS uses "Documentation" as text and `docs` in the URLs (i.e. docs.aws.amazon.com). See https://aws.amazon.com/.
- Same as Java. See https://www.oracle.com/technetwork/java/javase/overview/index.html
- Python uses python.org/doc/ as a landing page, but docs.python.org for its documentation URL. Strangely it also uses both term "Docs" and "Documentation" as link texts in https://www.python.org/ 😆

[2019-11-02 23:47] shcheklein commented on #767
Don't think it worth changing this tbh :) looks like doc and docs are both fine

[2019-11-02 23:48] shcheklein commented on #767
Closing this for now, can return to this later :)

[2019-11-02 23:48] #767 closed

[2019-11-03 18:50] shcheklein opened #768 "man.dvc.org/import-url redirect is broken"
It supposed to behave in the same way as `man.dvc.org/get-url`

The fix should be applies to the server.js file.

[2019-11-03 22:11] jorgeorpinel commented on #768
That is funny. Probably a bug in the redirect code...

[2019-11-03 23:01] jorgeorpinel commented on #768
This is still broken after attempting a hotfix. In fact now man.dvc.org/get-url is also broken! Which is weird because I tested the logic in server.js and it works well locally. Here's the latest prod deploy diff: https://github.com/iterative/dvc.org/compare/37aab6a0...a07bd0c5#diff-78c12f5adc1848d13b1c6f07055d996eL37-R37 for this code:

https://github.com/iterative/dvc.org/blob/a07bd0c5b1efd749e8

[2019-11-03 23:35] jorgeorpinel commented on #768
Changed code to this:

https://github.com/iterative/dvc.org/blob/1376f2a3fce6886faa2ff344e66826039cd43395/server.js#L34-L46

to make it easier to read. This code also works well in manual tests, but it's also not working yet on prod ):

[2019-11-04 00:15] jorgeorpinel commented on #768
There's 2 things going on here ^ BTW.

1. replace `-` for `/` in man.dvc.org/ paths
2. redirect man.dvc.org -> dvc.org/doc/command-reference

We could separate each one for even further clarity.

Related: #757

[2019-11-04 00:22] jorgeorpinel commented on #768
Related: #757

[2019-11-04 04:37] #548 closed

[2019-11-04 17:17] shcheklein commented on #768
I think the reason it does not work for me is caching of redirects:

[code]

If I run it a private windows everything works fine. So, we should check if there is a way to manage cache lifetime for redirects.

[2019-11-04 17:41] jorgeorpinel commented on #768
I guess this is the issue we bumped into! [301 Redirects: The Horror That Cannot Be Uncached](http://getluky.net/2010/12/14/301-redirects-cannot-be-undon/)

[2019-11-04 17:41] jorgeorpinel commented on #757
Actually @Suor we are having some trouble with 301 "permanent" redirects that we now changed our minds on... They're cached by the browser and can't be changed again by us until that cache expires a long time later. **302 Found** may be better for us since we are not so sure they are so permanent. See https://github.com/iterative/dvc.org/issues/768#issuecomment-549456704

[2019-11-04 17:46] shcheklein commented on #757
I think they are still 301s @jorgeorpinel . Even though we change the end location we don't change the fact of the redirect. So, unless we don't find a good solution for caching, I would keep it 301. But I haven't googled best practices around dealing with cache yet.

[2019-11-04 17:46] shcheklein commented on #757
Ok, reading the link now in that comment :)

[2019-11-04 17:51] shcheklein commented on #757
If `no-cache` policy does not work probably we should indeed use 302s, but I would google about the consequences of this for search engines and whatnot.

[2019-11-04 17:59] weekly-digest[bot] opened #773 "Weekly Digest (28 October, 2019 - 4 November, 2019)"
Here's the **Weekly Digest** for [*iterative/dvc.org*](https://github.com/iterative/dvc.org):

 - - -
# ISSUES
Last week 20 issues were created.
Of these, 11 issues have been closed and 9 issues are still open.
## OPEN ISSUES
:green_heart: #768 [man.dvc.org/import-url redirect is broken](https://github.com/iterative/dvc.org/issues/768), by [shcheklein](https://github.com/shcheklein)
:green_heart:

[2019-11-04 18:08] #773 closed

[2019-11-04 18:10] jorgeorpinel commented on #757
Well, they both have impact. 301 is better but we need to be sure the redirect is actually permanent and since we're in an active development phase... I think we should not use 301s as much. Many of our redirects are temporary, which is what 302 is for. As for SEO effects:

https://www.firstrankseoservices.com/blog/effects-of-301-and-302-redirect-on-seo/

[2019-11-04 18:15] shcheklein commented on #757
Almost all our redirects are 301s in nature. We do not plan to `bring your website visitors back to the old page after some time.`. The only thing that is potentially not permanent is the URL we redirect to (not the fact of redirect). And probably the right way to handle this actually is to keep old 301s and add new ones (making a chain of 301s effectively).

Either we do that, or we can try `no-c

[2019-11-04 18:16] jorgeorpinel commented on #768
So right now we have to deal with the fact that browsers and search engines have already cached all of our 301 redirects. We would need to turn the ones we're not so sure are permanent into 302 redirects and then wait a month or more to assume the caching is gone.

In the mean time, for these 2 specific cases we could setup 302 redirects from /import/url and /get/url to /import-url and /get-url re

[2019-11-04 18:20] shcheklein commented on #768
I would try to avoid 302s . As I mentioned our redirects are 301s in nature. We do not plan to go back to the previous page and serve content directly from man.dvc.org/something for example.

Let's do some experiments with `no-cache`. Let's not worry about stuff that is already cached somewhere outside. First let's worry about the solution moving forwards (new redirects, new clients).