[2020-12-19 05:08] #2036 closed

[2020-12-19 05:29] #1975 closed

[2020-12-20 00:59] efiop commented on #2032
Ok, so according to https://github.com/ActiveState/appdirs/blob/master/appdirs.py (we use site_config_dir and user_config_dir), in a simplified version:
--global:
[code]
--system
[code]

@jorgeorpinel `/etc/xdg` is not an Arch thing, it can be on any distro and might even differ between different versions. IIRC i've seen different default XDG_CONFIG_DIRS on different versions of ubuntu before. It

[2020-12-20 19:49] jorgeorpinel commented on #1112
HI. Is this still relevant and if so can we remove the `migration` flag? Cc @rogermparent WDYT 🙂

[2020-12-20 19:50] jorgeorpinel commented on #1112
In fact I took the liberty to remove the flag for now, please reinstate it or LMK if I'm wrong.

[2020-12-20 19:50] jorgeorpinel commented on #1046
Not sure this can be considered `migration` at this point, removed the flag for now.

[2020-12-20 19:53] jorgeorpinel commented on #1063
I guess this is related to the Gatsby `migration` so will keep the label (last old issue with that label) but is it still relevant and/or can it maybe be implemented easily with the current version of Gatsby or some other module? Cc @rogermparent for ideas if any 🙂

[2020-12-20 23:11] rogermparent commented on #1112
I think it's safe to say this doesn't need to be marked as a migration issue.

[2020-12-20 23:18] rogermparent commented on #1063
We currently use an older version of the Gatsby image plugins due to issues with the new Caching API they introduced a while ago. There's been a lot of iterations on those plugins since then, so it may be worth trying an update in a PR to see if the cache behavior improvements also fixed our issue. If we are able to use the latest versions of those plugins, we'll get access to a slew of new featur

[2020-12-21 04:32] gitcommitshow opened #2041 "Cannot read property 'htmlAst' of null (local dev env)"
I'm getting this error, when I try to load a blog page on my local setup of the project

[code]

Its not consistent, sometimes I see this error on sometimes on /doc and sometimes on any command reference page.

* System : `ubuntu@16.04`
* node version : `v12.18.4`
* npm version: `6.14.6`
* yarn version: `1.21.1`
* The code is from remote `master`, with no local changes at all (latest pull at the t

[2020-12-21 05:03] jorgeorpinel commented on #2041
What's the blog page @gitcommitshow ? So I can try to reproduce locally myself. Thanks

[2020-12-21 05:13] gitcommitshow commented on #2041
I meant just visit the website http://localhost:8000/doc or any content there

[2020-12-21 05:13] gitcommitshow commented on #2041
I meant just visit the website http://localhost:8000/doc or any content there

[2020-12-21 05:15] jorgeorpinel commented on #2041
Ah, well everything works for me. Can you share your system details as well as node and npm versions please? Thanks

[2020-12-21 05:53] gitcommitshow commented on #2041
* System : `ubuntu@16.04`
* node version : `v12.18.4`
* npm version: `6.14.6`
* yarn version: `1.21.1`

(just updated the issue with these details as well now)

[2020-12-21 06:37] jorgeorpinel commented on #2041
May want to upgrade Node and try again.

(and we may need to update the min. req version in https://dvc.org/doc/user-guide/contributing/docs#development-environment)

Cc @rogermparent do you know? Thanks!

[2020-12-21 06:39] jorgeorpinel commented on #2041
Actually I have similar versions and it works on my Ubuntu@18.04 LTS... 🤔

[2020-12-21 16:55] rogermparent commented on #2041
Nothing jumps out at me immediately, but odd "node doesn't exist" errors like this are often related to cache. While `gatsby clean` works, it'll force a rebuild of all images, so I'd try deleting `.cache` in the local dev env and see what that does.

[2020-12-21 18:25] gitcommitshow commented on #2041
Confirmed, deleting `.cache` fixes the problem.

[2020-12-21 18:41] jorgeorpinel commented on #2041
Thanks @rogermparent

[2020-12-21 18:41] #2041 closed

[2020-12-21 21:24] jorgeorpinel commented on #2006
Another Q. Can we remove the blog and probably other sections (which may become outdated) from the v1 website?

And should we prioritize or merge #1167 with this one?

[2020-12-21 22:26] #2007 closed

[2020-12-21 23:02] jorgeorpinel commented on #2041
Woah I just had this problem too after switching branches while running the dev server! Let's keep an eye on it...

I stopped the server and re-ran `yarn && yarn develop` to fix it (no need to clear the cache) but even just that takes some time.

[2020-12-22 00:46] jorgeorpinel opened #2045 "repro: add multi-cmd example"
The basics of the multi-cmd feature is already applied to repro in #1980 but we also need a clear example, I think.

[2020-12-22 00:47] efiop commented on #2045
That PR is unrelated, you probably meant https://github.com/iterative/dvc/pull/4934

[2020-12-22 00:47] jorgeorpinel commented on #2045
Ah OK yes I was confused. Removed that link, thanks!

[2020-12-22 03:44] jorgeorpinel opened #2046 "404 on redirected URL (guide/dvc-files-and-directories)"
https://dvc.org/doc/user-guide/dvc-files-and-directories should redirect to https://dvc.org/doc/user-guide/dvc-files per

https://github.com/iterative/dvc.org/blob/ecc07086f686488c4933eecce7bcaee4ba84d8ee/redirects-list.json#L32

but it results in a 404 (for me).

[2020-12-22 03:47] jorgeorpinel commented on #2046
Fortunately this works locally (as it did in the review app which I checked before merging the change) and it seems that it works in general from a fresh browser: https://www.webpagetest.org/result/201222_Di7C_ca85488abb890522222a873d47918817/

But will this affect all users who have recently accessed our site?

[2020-12-22 03:54] jorgeorpinel commented on #1663
UPDATE on this: we actually went for DVC Files, already started implementing in #2043.

[2020-12-22 04:30] jorgeorpinel commented on #1255
I've reviewed all the pending items and checked most of it. Only a few are left which were extracted to other issues/PRs (mainly #2026) so I'm closing this 🎉

Many thanks to everyone who helped here, especially @imhardikj !

[2020-12-22 04:30] #1255 closed

[2020-12-22 04:36] jorgeorpinel commented on #1663
- [ ] And after #2026 is merged, the only thing left (if worth it) will be to decide which instances of longer phrases like "dvc.yaml and .dvc file" to replace for just "[DVC Files](https://dvc.org/doc/user-guide/dvc-files)", and possibly vice versa (be specific in instances of the latter that should for some readon list both or mention only one of the file types).

[2020-12-22 04:38] jorgeorpinel commented on #1663
p.s. Not sure what priority this should have @shcheklein

[2020-12-24 05:03] jorgeorpinel commented on #2046
Seems to work now 🤷

[2020-12-24 05:03] #2046 closed

[2020-12-25 00:42] #1366 closed

[2020-12-27 03:57] jorgeorpinel opened #2059 "guide: make proper DVC File guide + separate reference?"
Some/parts of the docs in https://dvc.org/doc/user-guide/dvc-files feel more like a reference than a guide. While it's arguable whether that is a problem (e.g. other docs in that section have the same situation), it seems we agree that an actual guide for writing dvc.yaml would be great to have, since it's such a major component of DVC projects. Some ideas (from https://github.com/iterative/dvc.or

[2020-12-27 04:02] jorgeorpinel commented on #2059
Oh, and:

From https://github.com/iterative/dvc.org/pull/2052#pullrequestreview-558335854

[2020-12-30 04:39] ashiishme commented on #1427
I would like to contribute on this feature request.

[2020-12-30 05:18] shcheklein commented on #1427
@ashiishme thanks! that would be great!

[2021-01-03 22:36] efiop commented on #919
More people are complaining https://github.com/iterative/dvc/issues/5192 . Could we prioritize this maybe? We'll consider dropping binary packages for 2.0 in general soon https://github.com/iterative/dvc/issues/4841 , so this might become even more relevant.

[2021-01-03 23:16] jorgeorpinel opened #2070 "guide: multi-cmd example in a `dvc.yaml` sample"
A sample dvc.yaml file in https://dvc.org/doc/user-guide/project-structure/pipelines-files could have a multi-`cmd`

(OUTDATED) [The one in templating](https://dvc.org/doc/user-guide/project-structure/pipelines-files#templating) had this for some time but it was removed accidentally (it wasn't great anyway):

[code]

Ideas for a real-life example in https://github.com/iterative/dvc/issues/4373#iss

[2021-01-06 04:09] jorgeorpinel opened #2076 "doc: change `run` mentions to `dvc.yaml` or `stage add` + `repro`"
We should be emphasizing writing/generating `dvc.yaml` files instead of using `dvc run`, yet there's~~still around 50~~ several `run` links and examples throughout docs:

Links

- [x] Many cross ones in the cmd ref. - #2997
- [x] Plenty in 3 Use Cases
- [ ] Another bunch to review throughout User Guides

Examples

- [x] Some can stay (as `stage add`) but not all.
- [x] #3309
- [ ] Around a dozen i

[2021-01-06 04:09] jorgeorpinel commented on #404
This is mostly done. Moved the remaining part to #2076. Closing!

[2021-01-06 04:09] #404 closed

[2021-01-06 04:15] jorgeorpinel commented on #1641
@skshetry hi did you ever get around to this? Thanks

[2021-01-06 04:28] jorgeorpinel commented on #1641
UPDATE: Never mind I see this is only hinted casually in `dvc run` but I added some more notes as part of #2075

[2021-01-06 04:32] jorgeorpinel commented on #550
UPDATE: An important consolidation of "cache" mechanism explanation happened in #2075

[2021-01-06 07:55] DiPaolo opened #2078 "Version of Windows installer on the main page is not up-to-date"
https://dvc.org/ links to Windows DVC installer which actual release date is 24 Nov 2020 (v1.10.2). While the most recent version is 1.11.10.

This is a bit confused. Especially right now, when there was a critical bug fix for Windows users (iterative/dvc#5012) recently which has been rolled out in the version 1.11.3 of DVC.

![image](https://user-images.githubusercontent.com/3266815/103744058-b2e

[2021-01-06 07:58] DiPaolo commented on #2078
BTW the same is for all other platforms on the same page.

[2021-01-06 08:09] efiop commented on #2078
Sorry for the inconvenience, fixing...

[2021-01-06 08:13] efiop commented on #2078
Updated to 1.11.8. We will update to 1.11.10 when homebrew and chocolatey packages are released (likely later today). Thank you for the feedback! :pray:

[2021-01-06 08:13] #2078 closed

[2021-01-07 00:19] jorgeorpinel opened #2079 "import: examples using example-get-started have a problem (chained imports)"
# Docs Bug Report

UPDATE: see https://github.com/iterative/dvc/issues/5209#issuecomment-755295653

## Description

I try to import an existing data file and DVC crashes.

(related to https://github.com/iterative/dvc/issues/2599#issuecomment-566346857)

### Reproduce

[code]

<details>

<summary>Verbose output</summary>

[code]

</details>

### Expected

data.xml + data.xml.dvc in the cwd.

### En

[2021-01-07 00:19] shcheklein commented on #2079
@jorgeorpinel transferred!

[2021-01-07 00:46] jorgeorpinel commented on #2079
Thanks @shcheklein

p.s. @pared does #3305 cover improving that error message as a first step? There's no hint at all of what might be the problem.

[2021-01-07 00:48] jorgeorpinel opened #2080 "TEST 1: IGNORE ME"
#2081

[2021-01-07 00:48] jorgeorpinel opened #2081 "TEST 2: IGNORE ME"

[2021-01-07 00:49] #2080 closed

[2021-01-07 00:49] #2081 closed

[2021-01-07 03:29] jorgeorpinel commented on #72
Another possible one:

- [ ] how to work around stage overlapping outputs restrictions (e.g. hopefully with wildcards in deps/outs soon) — see https://discuss.dvc.org/t/managing-pipelines-operating-per-dataset-element/613/4 for a current alternative.

[2021-01-07 03:58] jorgeorpinel commented on #1414
Closed by #2075 but I forgot remove it's draft status before merging...

[2021-01-07 03:58] #1414 closed

[2021-01-07 03:58] jorgeorpinel commented on #1824
Closed by #2075.

[2021-01-07 03:58] #1824 closed

[2021-01-07 03:59] jorgeorpinel commented on #1521
Closed by #2075.

[2021-01-07 03:59] jorgeorpinel commented on #1700
Closed by #2075.

[2021-01-07 03:59] jorgeorpinel commented on #1641
Closed by #2075.

[2021-01-07 10:42] pared opened #2082 "dvc.org seems to contain not-implemented changes"
After talking with @efiop, it seems to me that dvc.org is deploying development version.
Two users have reported not-working functionality which seems to be designated for 2.0:
https://discord.com/channels/485586884165107732/485596304961962003/796664903179698178
https://discord.com/channels/485586884165107732/485596304961962003/796376985362366464

@jorgeorpinel @shcheklein do we have some docs tag

[2021-01-08 04:44] jorgeorpinel commented on #723
I keep bumping into this issue. WDYT @shcheklein, worth prioritizing soonish?

[2021-01-08 14:05] DiPaolo opened #2083 "Add the Glossary page"
### Goal
To collect all known and important terms within the project, the product and its usage, and put all of them on the new 'Glossary' page. Also, add a link to the page on the top level in the left navigation menu.

Similar things are provided by many products. Just few examples:
NumPy - https://numpy.org/doc/stable/glossary.html
AWS - https://docs.aws.amazon.com/general/latest/gr/glos-chap.h

[2021-01-08 19:38] rogermparent commented on #723
Seems simple enough, but we may want to consider a design other than simply adding the top heading to the content bar.

For example, we could add a "Return to Top" button like in many other blogs; it could be located next to the "content" heading when the list is present, and maybe show standalone when on a page without subheadings.

[2021-01-08 20:28] shcheklein commented on #723
@jorgeorpinel @rogermparent let's not prioritize this for now please. We'll do this when we have more capacity.

[2021-01-09 02:31] jorgeorpinel commented on #2082
Yeah we have merged some 2.0 PRs to master already because it's difficult to manage both without #2006.

There is a `v1` branch I maintain that doesn't have any 2.0 stuff but it's also a bit outdated in other regards. We plan to use that for when we have #2006 but if you guys deem it necessary, we can deploy it to production for now to avoid confusing users.

Another alternative is to add warnings

[2021-01-09 02:34] jorgeorpinel commented on #723
Good point.

OK

[2021-01-11 21:59] jorgeorpinel opened #2089 "cmd: use `--local` in `remote modify` ref"
Continuing #2088

[2021-01-12 09:01] jorgeorpinel commented on #2059
@shcheklein I moved all pending structure discussions from #2052 to here (see desc.). On your Q from https://github.com/iterative/dvc.org/pull/2052#issuecomment-757025327:

Ideally not (let's come up with a definite org here) but for now it works so we clearly separate the 2.0 features into https://dvc.org/doc/user-guide/dvc-files/advanced-dvc.yaml.

And we can call it "basic" templating but the e

[2021-01-12 09:04] skshetry commented on #2059
@jorgeorpinel, something wrong with the docs? The direct link downloads the html page for me.

[2021-01-12 09:06] skshetry commented on #2059
@jorgeorpinel, you might need to change it to `Advanced dvc-yaml` 🙂

[2021-01-12 09:07] jorgeorpinel commented on #2059
o_O yeah I guess the URL shouldn't end in `.yaml` ... That's a bug! You can load it from https://dvc.org/doc/user-guide/dvc-files though. Will address separately... Thanks @skshetry

[2021-01-12 09:17] jorgeorpinel commented on #2059
Fix in #2090 (please merge when you can @shcheklein)

[2021-01-12 09:49] jorgeorpinel commented on #2059
@skshetry yes maybe a single dvc.yaml guide with several H2 headers (even if it's long) will be part of the solution here. But one more reason we sometimes avoid that you can see in cmd refs with multiple **Examples** (e.g. https://dvc.org/doc/command-reference/remote): you may notice there are some issues such, like having to scroll in a small space (see also #723, #753).

@shcheklein it could be

[2021-01-12 10:43] #1641 closed

[2021-01-12 10:44] skshetry commented on #1641
Closed by f5978df3a1cb52320f51b0430e6fa02136f310ab

[2021-01-12 21:48] shcheklein commented on #2059
@jorgeorpinel

those glitches should not determine layout to my mind in any way. Those are issues that should be fixed.

yep!

[2021-01-12 22:00] jorgeorpinel commented on #1395
Some comments that support having a glossary page in addition to the Concepts section (from #2083):

[2021-01-12 22:01] jorgeorpinel commented on #2083
@DiPaolo thanks, I'm going to move this to https://github.com/iterative/dvc.org/issues/1395#issuecomment-759063436 though. Let's shat there.

[2021-01-12 22:01] #2083 closed

[2021-01-12 22:03] shcheklein commented on #1395
Yep, we can build an index page like this from frontmatter headers. And make it an index in the Basic Concepts, or make a separate auto-generated page.

[2021-01-12 22:18] jorgeorpinel commented on #1395
@DiPaolo any other terms? Those 2 have been gone from our docs since #1366, any other ones besides what you can currently find in https://github.com/iterative/dvc.org/tree/master/content/docs/user-guide/basic-concepts ? (those are currently shown as tooltips throughout the docs)

But I get that those terms are still in the tool itself (see iterative/dvc/issues/3960) so also any others in that cate

[2021-01-13 23:20] jorgeorpinel commented on #1641
I guess I forgot to actually click on "close" 😬

Ty

[2021-01-15 04:31] jorgeorpinel commented on #2059
#### Pending research (1/2)

On the terminology, I'm going for "`${}` expression", "replace", "generate" (details in https://github.com/iterative/dvc.org/pull/2052#discussion_r557595088)

[2021-01-15 04:36] jorgeorpinel commented on #2059
#### (2/2)

On the organization of docs (Can dvc.yaml fit a single page?), here are some raw results:

- **Helm** has
  (1) a long, monolithic "Topic" (guide + ref) for [Charts](https://helm.sh/docs/topics/charts/) (`Chart.yaml`), and
  (2-13) a series of [guides](https://helm.sh/docs/chart_template_guide/) about templating elsewhere. No dedicated schema ref.
  Verdict: 👎 Their docs lack easy nav

[2021-01-15 05:11] jorgeorpinel commented on #2059
- `docker-compose.yml` is introduced in the [Compose docs](https://docs.docker.com/compose/), but the [Compose file ref](https://github.com/compose-spec/compose-spec/blob/master/spec.md#volume-top-level-element) (partly a guide too) is a GH repo.
  Verdict: 👎 The Compose docs are short and sweet but the actual schema ref. on GH is hard to navigate (seems lazy to have it there)

- **pypyr** pipelin

[2021-01-15 23:05] onavsaber opened #2096 "start: Data Access mentions tracking models without clarifying what kind"
I was reading the documentation on [Data Access](https://github.com/iterative/dvc.org/blob/master/content/docs/start/data-access.md). It starts by mentioning that
[code]
However, the previous tutorial [Get Started: Data Versioning](https://github.com/iterative/dvc.org/blob/master/content/docs/start/data-versioning.md) only shows how to track data and tracking models are not demonstrated.

[2021-01-15 23:59] jorgeorpinel commented on #2096
The assumption is that the model is a file (probably). So the process would be the same as with the example `data.xml` use throughout https://dvc.org/doc/start/data-versioning.

[2021-01-16 03:25] jorgeorpinel commented on #2059
See #2098 for a WIP proposal to address all this.

p.s. what about https://dvc.org/doc/user-guide/dvc-internals and https://dvc.org/doc/user-guide/dvcignore, shuold we move them into the **DVC Files** nav section?

[2021-01-16 20:25] onavsaber commented on #2096
I see. Thanks for the clarification. I was thinking whether or not the models are handled differently from the data, for example, like MLflow.

Maybe a clarification like what you mentioned can be added.

[2021-01-17 01:19] jorgeorpinel commented on #2096
Yep we can definitely clarify!

[2021-01-17 01:40] jorgeorpinel commented on #2059
Question on this: won't it be pretty repetitive with https://dvc.org/doc/start/data-pipelines (once we rewrite that page)? Meaning, how should the basic dvc.yaml User Guide do differ from the Get Started: Data Pipelines?

[2021-01-17 03:30] shcheklein commented on #2059
The purpose of the get started is to give a brief overview, it can be actionable so that people can try it. In our case it's already too long (mostly because we tend to grow all the documents and from time to time we need to dry them)

The purpose of the User Guide is to provide comprehensive information (e.g. language spec). To some extent even Command Reference can be considered part of the User

[2021-01-18 16:04] ashiishme commented on #1618
Can I pick this? :slightly_smiling_face:

[2021-01-18 22:19] shcheklein commented on #1618
@ashiishme sure, feel free to take it! thanks :)

[2021-01-19 13:24] isidentical opened #2102 "dvc.org: reference to not existing title"
https://dvc.org/doc/user-guide/dvc-internals
![image](https://user-images.githubusercontent.com/47358913/105040223-9fe09800-5a72-11eb-8700-98ebc7488cf2.png)
The link `here` points to `https://dvc.org/doc/user-guide/dvc-files#structure-of-the-cache-directory` which is a reference to a non-existing title (probably moved somewhere else?)

[2021-01-19 17:32] jorgeorpinel opened #2115 "`repro`: force committing .dvc files can cause UX problems"
# ~~Bug~~ Report

## Description

Deleting contents of a tracked dir. which prevent a stage from being executed with `repro` results in a confusing project state where `repro` becomes very difficult.

### Reproduce

[code]

The `repro` attempt did something to `ds/`, but the message `Verifying data sources in stage: 'ds.dvc'` doesn't really give much of an indication of that. The only relatively v

[2021-01-19 18:31] jorgeorpinel commented on #2102
Ah yeah good find, thanks! It actually points to `/doc/user-guide/dvc-files-and-directories#structure-of-the-cache-directory` which redirects to `dvc-files`... Will fix!

[2021-01-20 02:35] jorgeorpinel commented on #2082
https://discord.com/channels/485586884165107732/485596304961962003/796376985362366464

@pared I checked these 2 (`config --list` and multi-`cmd` dvc.yaml) and trying to insert an alerts seems overkill for those 2 small ones. I think we can probably live with this until the release? 🙂

The 2.0 dvc.yaml stuff does have the warning for now: https://dvc.org/doc/user-guide/dvc-files/advanced-dvc-yaml

[2021-01-20 02:36] #2102 closed

[2021-01-20 12:21] pared commented on #2082
@jorgeorpinel I guess we can, the main point of this issue was to check whether there was some problem with the deployment of docs. I guess we need to just keep it and ask users to wait a little bit more for those features.

[2021-01-20 19:59] jorgeorpinel commented on #2082
Agreed, and thanks for the reminder! We haven't forgotten and are tracking 2.0 docs progress in #2026.

Closing this since there's no problem in deployment and to reduce the number of issues outstanding.

[2021-01-20 19:59] #2082 closed

[2021-01-21 18:11] fabiosantoscode opened #2108 "help: output from i18n-like string file"
UPDATE: Jump to https://github.com/iterative/dvc.org/issues/2108#issuecomment-914663833

---

Hello there!

Updating the CLI help output for every command is a bummer, but it can be done automatically.

By adding special HTML comments which are read by a script, it's possible to inline the output of commands into the markdown.

For example, in content/docs/command-reference/params/index.md:

[code

[2021-01-21 19:28] jorgeorpinel commented on #2108
Some integration between core and docs would be cool for sure.

At the moment the place where these 2 repos are closet to meet is in the intro and synposes of https://dvc.org/doc/command-reference. But keep in mind that even then they're not exactly the same: sometimes we (1) add text to the intros and we also (2) reformat the usage block to for so it fits well in the website. Example:

[code]

![

[2021-01-21 19:57] fabiosantoscode commented on #2108
So maybe it's viable to use python to grab the correct class and format its synopsis?

I know that python has dynamic imports, because Django uses them extensively.

[2021-01-21 20:41] rogermparent commented on #2108
It's worth noting that adding a feature to dvc.org that reads from DVC CLI during the build would add DVC and, by extension, Python as a build dependency of the site on all machines, local and cloud. The effects of depending on a whole other language ecosystem would add a large amount of complexity and possible build time to the site that I'm not sure we're currently able to handle.

A possible al

[2021-01-21 23:23] fabiosantoscode commented on #2108
Using an output from DVC itself seems like a swell idea. I'm not aware of any per-release jobs we could piggy back on but @efiop would know better.

I'm not sure how GraphQL would help in this context -- perhaps you mean a resolver that embeds the result from a DVC-produced JSON or yaml? If so that sounds great.

[2021-01-22 04:06] rogermparent commented on #2108
Exactly! It's often easier in Gatsby to go from source data to React template than from source data to a Remark operation, especially in cases where the data is used the same way each time.

[2021-01-22 07:10] ainhattv opened #2109 "AWS S3 remote storage object life cycle support"
Hi DVC team,

In the current, our team uses DVC to versioning and store models and assets data.
We use S3 as remote storage. We have a large scale dataset and growth so quickly.
We want to enable S3 life cycle policy to clean the old files in the bucket to save cost.
**Is there any problems if we change the object layer or remove it such as dvc hash files?**

Thanks,
Nhat Tran

[2021-01-23 16:30] efiop commented on #2108
This was the idea a long time back, but IIRC the conclusion was that auto-generated help sucks and docs needed some flexibility CC @shcheklein .

[2021-01-23 17:09] rogermparent commented on #2108
I agree for fully auto-generated docs, but the synopsis code blocks we're talking about here are effectively supposed to be a complete copy of the output of `dvc help`.

A workflow involving exporting help from DVC and checking the text output into Git has the benefit of any changes in the automatic output being visible by diff in the same Git workflow as normal code, including mandating multiple

[2021-01-23 21:41] iesahin opened #2113 "docs: add a note that brew install doesn't work on Apple Silicon M1"
# Bug Report

I have issued

[code]
on a macOS Big Sur system. Homebrew downloaded the required packages.

[code]

However while building `swig` I got

[code]

BTW `pip` version seems to be installed fine.

[2021-01-24 04:38] gth828r opened #2112 "install: Minimum `pip` version should be specified at 19.0+ for dev envs"
Hello, and thanks for the great project and excellent documentation!

I just walked through the development environment setup on Ubuntu 18.04 and I ran into some issues that prevented the environment from successfully being set up when following the documented instructions. I traced it down to a version requirement in pygit2 (see https://github.com/libgit2/pygit2/issues/999#issuecomment-614691503

[2021-01-24 18:18] efiop commented on #2113
@iesahin Transferred the issue to our docs repo.

[2021-01-24 18:32] #2113 closed

[2021-01-24 19:05] shcheklein commented on #2112
@gth828r thanks! good catch, we should mention it as a note in docs indeed

@efiop just to let you know about this, may be something should be done on the DVC end - e.g. can we require a specific pip version?

[2021-01-24 19:45] efiop commented on #2112
@shcheklein I don't think we can, as pip isolates itself from the env of setup.py(or requirements) when installing stuff. Let's just add a note to the docs, same as pygit2 guys. We might need to add it to the docs for regular installation after 2.0 release too.

[2021-01-24 19:46] shcheklein commented on #2112
@efiop sounds good, thanks!

[2021-01-25 01:40] dberenbaum commented on #2115
This confused for me for a bit, which might be a sign that it's not an ideal user experience. However, after I worked through the example on my own, I don't see any unexpected behavior. The only change that `dvc repro` seems to make is updating `ds/ds.dvc` to reflect the deletion of `ds/a`, which is what I would expect.

As far as messaging and documentation, there are a couple of things that migh

[2021-01-25 12:37] coroa commented on #648
Thanks for these examples, they were already quite helpful to my understanding. And I'd suggest to link to them from the user guide.

A note on the synced-storage setup: For deduplication you are creating and mounting XFS images. Wouldn't it be a lot easier to use dvc's support for (hardlinks)[https://dvc.org/doc/user-guide/large-dataset-optimization] to avoid the duplicates?

[2021-01-25 13:04] dashohoxha commented on #648
XFS filesystems are used because they support reflinks, which are better and more preferable than hardlinks/symlinks.

[2021-01-26 02:09] jorgeorpinel commented on #2108
They're not that exactly, see https://github.com/iterative/dvc.org/issues/2108#issuecomment-764882783 above.

But probably not hard to filter into the desired format, which can be what we have now or something else. Maybe that should be the first thing to decide... What do we want to see in the cmd ref docs?

[2021-01-27 03:23] efiop commented on #2113
For the record: looks like arm bottle is coming soon https://github.com/Homebrew/homebrew-core/pull/69837#issuecomment-767935617

[2021-01-27 03:39] #2059 closed

[2021-01-27 11:22] efiop commented on #2113
Hi @iesahin ! Looks like it should be available now https://github.com/Homebrew/homebrew-core/pull/69837 , could you give it a try, please?

[2021-01-28 11:35] fabiosantoscode commented on #2108
Side note: if we can neatly separate the help output into a data structure, we might be able to show it neatly on mobile phones without horizontal scrolling.

If whatever library the DVC CLI is using for command line interface doesn't allow us to extract the several parts separately, parsing the output string may be tricky but arguably worth it.

[2021-01-28 12:22] isidentical opened #2121 "cmd: `--to-cache/remote` updates (`add`, `import-url`, `update`)"
- [x] add docs for `dvc {add, import-url} --to-remote` (#2091)
- [x] add docs for straight-to-cache (including `--out` update #2220) (#2246)
- [x] add docs for `dvc update --to-remote` (#2175)
  - [x] mention `update --to-remote` doesn't work with repo imports (only from other external sources i.e. `import-url`ed) (#2237)
- ~~mention about `--to-remote` in https://dvc.org/doc/user-guide/managing-e

[2021-02-01 10:51] skshetry opened #2134 "document `stage:add`"
A few questions regarding documentation:
1. How should we approach documenting `dvc stage add`? Duplicate most of the stuffs?
2. Should we remove `dvc run` or duplicate contents?
3. How about adding a deprecation warning in the docs for `dvc run`?

Related: https://github.com/iterative/dvc/pull/5350

[2021-02-01 20:08] shcheklein commented on #2134
I would keep for now both + note in the `dvc stages add` that it's available since 2.0

after the release, let's get rid of `dvc run` (and hide it in DVC itself)

[2021-02-01 22:49] jorgeorpinel commented on #2134
Yeah both for now and I can worry about phasing out `run` later. Let's just make a separate issue for that please. I'll add both to the #2026 `epic`. Just please confirm `stage add` is officially part of the 2.0 release (I don't see it in https://github.com/iterative/dvc/issues/5367).

[2021-02-01 22:51] jorgeorpinel commented on #2134
Maybe it's part of what "Run" refers to?

[2021-02-02 04:26] jorgeorpinel commented on #1289
Hi @efiop! I'm finally finishing up some basic docs for this (sort of needed to doc `dvc exp`). Quick questions:

1. `status` didn't end up working with the run-cache at all right?

2. `dvc gc` doesn't have a way to specifically DO, or DO NOT collect outputs referenced in the run-cache, right?

Thanks

[2021-02-02 07:14] efiop commented on #1289
1. Correct, not yet.

2. Correct.

[2021-02-02 18:44] dberenbaum commented on #2134
@jorgeorpinel Good callout! It was hidden under low-level issues in iterative/dvc#5367, but it's now a separate checklist item.

[2021-02-02 19:57] jorgeorpinel commented on #2134
OK. Added this to the docs epic.

[2021-02-04 01:29] #1289 closed

[2021-02-04 01:31] jorgeorpinel commented on #1289
Feel free to reopen or make another issue if/when the run-cache implementation/terminology/etc change, or if more docs should be written. Thanks

[2021-02-04 08:14] iesahin commented on #1127
Another point regarding _workspace_ concept is its difference from _DVC project._ Currently these two have different pages in BC but these two seem to overlap a lot.

Can we say a DVC project = workspace + external dependencies? (I think we cannot.) How can we make a distinction between these two?

[2021-02-04 10:20] iesahin commented on #2108
I wrote a zsh loop in `content/docs/command-reference/` like
[code]
to get all help text from DVC. (It gives error on  `index` but whatever.) It's possible to use the output to replace parts in `cmd.md` files from time to time and edit them manually. It's also possible to track interface changes and alert when something changes. This might be the simplest way without much workflow update.

[2021-02-04 14:48] dberenbaum opened #2153 "mismatch in default permissions for newly created or downloaded cache files"
In https://github.com/iterative/dvc.org/blame/b2149f1bb09cad948c420733313343eeece4e2ba/content/docs/command-reference/config.md#L176, the octal permissions `0o664` don't match the human-readable permissions `rw-r--r--`. It seems like `0o664` should be change to `0o0644`.

However, it seems like the defaults depend on the user's umask, and the docs assume a `0o022` umask. Would it be better to stat

[2021-02-04 16:44] rogermparent commented on #2108
@iesahin A shell script is a good idea, especially in regards to being the least intrusive to both projects.

If we go this route, maybe we could have the functionality to update a single command's help text instead of having to re-run every command's help for every update.

As far as post-processing, we have the choice of either doing some processing in the shell script, or having a lean shell sc

[2021-02-04 21:21] #1999 closed

[2021-02-04 21:58] jorgeorpinel commented on #1127
There's also the concept of DVC repository 🤯

Sometimes you just need to juggle with all the terms. They're more appropriate under different contexts. Current implicit definitions:

- workspace: directory where you `dvc init`
- project: (can be in general "whatever you're doing", or specifically -> ) all the code, config (e.g. including remotes), and data related to the stuff you're tracking/versi

[2021-02-05 02:41] shcheklein commented on #2003
I think it's done now, thanks @ju0gri !

[2021-02-05 02:41] #2003 closed

[2021-02-05 11:56] iesahin commented on #2108
@rogermparent What I had in my mind is actually a more manual process, does the DVC team update the interface that frequently? Someone (e.g. I) can run a tool and check the differences in output, update markdown files or create tickets. I think a manual edit process will be needed in any case. Otherwise we can simply include `dvc cmd --help` output in `cmd.md` in build time like you said.

Keeping

[2021-02-05 15:39] rogermparent commented on #2108
I suppose I would call what I was thinking "semi-automated", in that editors manually get dvc working on PATH and invoke the script to update the text files with the help info. From there, Gatsby would do basic transforms like intents and formatting.

Instead of having the script do diffing, I think we could just check these files in with Git. That way, we see these help file diffs in the same pla

[2021-02-05 19:06] shcheklein opened #2156 "`import/get(-url)`: complete `--job` description"
We should clearly define the logic behind defaults, e.g. like @isidentical mentioned we do the following for the `import-url`:

while what we mention (in [import](https://dvc.org/doc/command-reference/import#-j), [get](https://dvc.org/doc/command-reference/get#-j)) is only `remote modify jobs` and `BaseTree.JOBS` (defaults). So, part about `core.jobs` is missing. Which might be important since it

[2021-02-07 02:53] jorgeorpinel commented on #2108
They barely ever review the help output of existing commands or options but commands and options often change, which causes all sort of UI text updates.

Also we tend to review the descriptions in the docs and send a PR in core to make corresponding updates to the help output strings there.

This would be useful for i18n too. We'd need to check in the core repo to see what they think though.

For

[2021-02-08 07:45] iesahin commented on #1579
Added a stage entry to https://github.com/iterative/dvc.org/tree/ug-basic-concepts-feb-21

[2021-02-08 07:51] iesahin commented on #550
Currently working on this https://github.com/iterative/dvc.org/tree/ug-basic-concepts-feb-21 branch.

[2021-02-08 21:56] jorgeorpinel commented on #654
Note: also https://dvc.org/doc/user-guide/managing-external-data shouldn't link to https://dvc.org/doc/use-cases/shared-development-server#configure-the-external-shared-cache for instructions to config an external cache, as **shared** external caches are not compatible with external outputs (see https://github.com/iterative/dvc/issues/4520#issuecomment-774649551).

[2021-02-09 03:26] jorgeorpinel commented on #411
I just noticed that this is all done now.

[2021-02-09 03:26] #411 closed

[2021-02-09 03:28] jorgeorpinel commented on #1865
So iterative/dvc/pull/4581 isn't progressing but a prominent disclaimer was added in #2104, which addresses this issue, I think.

[2021-02-09 03:28] #1865 closed

[2021-02-09 03:37] jorgeorpinel commented on #520
Added a checkbox about the external cache section (per https://github.com/iterative/dvc.org/issues/654#issuecomment-775489955)

[2021-02-09 03:50] jorgeorpinel commented on #1579
Thanks @iesahin. You can just link this issue to the PR from that branch, when there's one.

[2021-02-09 03:50] jorgeorpinel commented on #550
Please link this issue to the PR for that branch when ready.

[2021-02-09 06:50] jorgeorpinel opened #2161 "cmd: update add --to-remote similar to import-url and..."
The https://dvc.org/doc/command-reference/add#transferring-data-directly-to-remote-storage section could be a single paragraph in the description (like in `import-url`). And add an example to `add` similar to https://dvc.org/doc/command-reference/import-url#example-transfer-to-remote-storage

[2021-02-09 07:07] iesahin opened #2162 "basic concepts: length limit for the document"
I think there should be a limit for Basic Concepts docs, say 100 words for each. Otherwise they'll begin to collect all the information and will basically be a replica of the user guide.

Also a soft limit of 10-20 words should be set for tooltips. We don't want the user to read another document fully while reading a page.

[2021-02-09 10:00] iesahin commented on #2162
![Screen Shot 2021-02-09 at 12 52 21](https://user-images.githubusercontent.com/476310/107346909-4e0db980-6ad6-11eb-8381-15a64f82070b.png)

Also should we put self-referencing links like this in tooltips? A click-to-go link with an emoji can be applied to all like
`[📖](/doc/user-guide/concepts/data-pipelines)`

[2021-02-09 11:01] iesahin opened #2169 "concepts: doc garbage collection in cache and/or remote concept pages"
We need a garbage-collection document that shows what is meant by it for various remote types and cache.

Relates to #550

[2021-02-09 11:10] iesahin opened #2170 "pipelines: clarify whether it's possible to have more than one _pipeline file_ for a DVC project in the docs"
There are some places like `content/docs/user-guide/project-structure/pipelines-files.md` and `content/docs/user-guide/project-structure/index.md` that talks about _pipeline files_ while describing `dvc.yaml`. e.g.

AFAICT there is a single file with multiple pipelines and commands don't receive a _pipeline file_ argument to replace the default `dvc.yaml`. In these descriptions we may need to clar

[2021-02-09 11:14] iesahin opened #2171 "concepts: links to related docs in concepts pages"
At the end of each document we can have a _Further Reading_ section that lists the documentation related to that concept. These can also link to relevant blog post sections.

Part of #550

[2021-02-09 17:56] jorgeorpinel commented on #2162
I agree with the principle of keeping concept pages focused on the conceptual part and leaving other explanations for the user guide (not sure though, let's just iterate on these and see) but not on hard word count limits. Same for tooltips: we shoot for a single paragraph so the render tooltip is small relative to the website, but no need for a word count, probably.

Great idea if this could be a

[2021-02-09 18:03] jorgeorpinel commented on #2169
Sounds more like a guide or how-to to me? Garbage collection doesn't seem to fall in the "DVC Concepts" category.

[2021-02-09 18:21] jorgeorpinel commented on #2170
We already start the dvc.yaml guide with a pretty clear indication about this:

![image](https://user-images.githubusercontent.com/1477535/107407648-88c02380-6acf-11eb-932e-e46fee6310ee.png)

"pipelines files define" is plural as well.

It would be good to review most mentions of dvc.yaml throughout docs to double check that at least we don't speak about it in singular terms (except in specific ex

[2021-02-09 18:22] shcheklein commented on #2169
It can be part of the Remote storage and/or cache concept to my mind to start with.

[2021-02-09 18:24] shcheklein commented on #2162
For some items we don't have any information whatsoever. It's the only place to put it. E.g. what is a remote storage, what is cache, their relation to each other, etc.

[2021-02-10 06:32] iesahin commented on #2162
I'm thinking about a rule of thumb to put pages under BC or UG. BC docs could be initial paragraphs for UG docs for most of the time. I see that BC is *user-level & conceptual* documents whereas UG is more detailed, application oriented but I can write longer and longer with repeating myself and adding examples.

This issue is actually about learning your preferences. I'll put a soft limit of 200

[2021-02-10 06:43] shcheklein commented on #2162
No strong preferences, I think. We can definitely start with any limit and iterate on the length, and structure.

agreed.

[2021-02-10 06:46] iesahin commented on #2170
I think we need to change `dvc.yaml` mentions to `*/dvc.yaml` to show that we are talking about possibly multiple files in different dirs where necessary. When a document mentions a particular filename I tend to think it's about a single file for the whole repository, e.g. `.dvc` is a single dir for the repository and even if you say _pipelines files_ my mind sees a typo there, instead of multiple

[2021-02-10 06:50] iesahin commented on #2169
I'm thinking about describing how it's different than Python or Git garbage collection that mainly works locally. This can be a part of remotes as well, yes, thanks.

[2021-02-10 07:36] iesahin commented on #2108
VS Code Github interface is interesting 😄 It assigned this to me while trying to open.

It's possible to use `diff/ed/sed/awk/perl/python/vim...` scripts for text transformation but IMHO this is over-engineering. (e.g. "create a `diff -e` script between `dvc $cmd --help` version and `edited-cmd-help.txt` version and apply this to new `dvc $cmd --help` to get a new `edited-new-cmd-help.txt`, and if

[2021-02-10 07:58] iesahin commented on #2170
For example in https://raw.githubusercontent.com/iterative/dvc.org/master/content/blog/2020-06-22-dvc-1-0-release.md

makes me think there is a single global `dvc.yaml` file for each project.

[2021-02-10 08:47] iesahin commented on #2170
Evolution of my understanding can be here :) https://github.com/iterative/dvc.org/commit/a039900ed35d31380e9bd6f7a5ef3738ce24d595?branch=a039900ed35d31380e9bd6f7a5ef3738ce24d595&diff=split

💡

[2021-02-10 10:13] iesahin opened #2174 "basic concepts: Add a remote document that describes its differences from external dependencies"
In [External Dependencies](https://github.com/iterative/dvc.org/blob/ef4e1035b63dcb147d2e17da0e81ea08fcc5f954/content/docs/user-guide/external-dependencies.md#L31-L33) there is a line

but also [in remote command ref](https://github.com/iterative/dvc.org/blob/6c11d6ba507b7b58fe917504bb170f1acfe9b005/content/docs/command-reference/remote/index.md#L79-L84)

AFAICT the difference between remotes and

[2021-02-10 17:28] jorgeorpinel commented on #2169
`dvc gc` is pretty similar to `git gc` in principle but the default behavior is quite different, as we don't actually delete anything unless certain flags are given. Probably no need to mention GC in programming languages? That has to do more with memory management so it could result confusing.

[2021-02-10 17:30] jorgeorpinel commented on #2169
BTW that's under discussion iterative/dvc/issues/2325

[2021-02-10 17:30] jorgeorpinel commented on #2169
(so may not be worth it spend too much effort on this for now)

[2021-02-10 17:32] jorgeorpinel commented on #2108
A quick script as POC would be great!

[2021-02-10 21:49] shcheklein commented on #2170
@iesahin looks good to me! let's make a PR for this?

[2021-02-10 22:02] shcheklein commented on #2108
My 2cs - I think this is a very low priority ticket, guys. I would not worry about it for now. I don't remember we had too many problems synchronizing docs with CLI in that specific part.

[2021-02-11 03:12] iesahin commented on #2169
Oh, that discussion is huge 😲 I'm not going forward on this until I read more about it. (BTW, with the current cache architecture I think it's not possible to solve space/security dichotomy. Cache should be another _fully managed_ git repository with branches for different projects and files should _know_ where they are used but I won't go into that topic here 😃 )

[2021-02-11 03:15] #2162 closed

[2021-02-11 09:32] iesahin opened #2179 "Discrepancy between cloud and local `yarn format-check`"
I'm using `yarn v1.22.10` locally and prettify with `yarn format-all`. `format-check` passes in my setup like

![Screen Shot 2021-02-11 at 12 03 41](https://user-images.githubusercontent.com/476310/107618188-37946900-6c62-11eb-85b5-b4b8fb2ae905.png)

When I submit for a PR, it fails for styling checks. [The differences are in final commas in lists.](https://github.com/iterative/dvc.org/pull/2178/f

[2021-02-11 16:58] iesahin opened #2181 "cmd: More examples for `dvc gc` is needed to show how cloud/remote garbage collection works"
Currently `dvc gc` [cmd ref](https://github.com/iterative/dvc.org/blob/5f61a8a1169b8034fcdf4a191f4cc4336e568299/content/docs/command-reference/gc.md) has a single example that shows a local cleanup. It needs more examples to show caveats for the cloud and remote cleanup.

[2021-02-11 17:29] jorgeorpinel commented on #2174
@iesahin you got it mostly right. It's a confusion with terminology: The terms "remote" and "external" can have general meanings that are pretty similar. See #608 and #1127

A **DVC Remote** or what we most often call **remote storage** in DVC is a storage unit you configure for the project where (parts of) the cache can be pushed/pulled to/from.

But then on top of that we support external data i

[2021-02-11 17:32] jorgeorpinel commented on #2174
That said I think we definitely want a concept page (and probably some guides) that extracts all the info on configuring remotes. But not sure we need to focus on a separate page to disambiguate external deps. Let's just keep that in mind as we address #520?

[2021-02-11 17:51] jorgeorpinel commented on #2170
I'm not sure. That language is too technical and terminal-like. `dvc.yaml` is a schema, not a specific file.

I think it's OK to speak about it in singular like "change field xyz in your dvc.yaml" — it doesn't imply there's one only ever. I don't remember many users having this confusion based on support cases either. Same with `*.dvc` although that one I like a bit more.

For now someone could de

[2021-02-11 19:42] shcheklein commented on #2181
It think it's a duplicate https://github.com/iterative/dvc.org/issues/154 ? @iesahin please feel free to chime in that one to expand it a bit

[2021-02-11 19:42] #2181 closed

[2021-02-12 06:59] jorgeorpinel commented on #2171
Good idea. But can we make this issue a checkbox in #550 instead? 🙂 Thanks

[2021-02-12 07:58] jorgeorpinel commented on #2115
Hi sorry for late reply here.

Hmm. @efiop does `repro` normally re-add every .dvc file? Ok maybe, that sounds familiar (I should probably know this by now heh). But the `repro targets` arg. states `'dvc.yaml' by default.` (no mention of .dvc files or re-adding data) in help output an docs... So is that wrong then?

@dberenbaum why do you expect that? (keeping in mind it doesn't seem to be indicat

[2021-02-12 08:16] iesahin commented on #2171
Actually pages in #2177 has Further Reading links. They may be updated in time but this will be closed after that PR is merged anyway.

[2021-02-12 10:39] iesahin opened #2183 "Katacoda environment needs update"
In katakoda https://katacoda.com/dvc/courses/get-started/accessing page 4

[code]

line reports error.

[code]

`python3-dev` seems to be installed

[code]

but there is no `python3.8` under `/usr/include`

[code]

so an `apt update` and `apt install python3.8-dev` is required before `pip3 install --user dvc`

[2021-02-12 10:56] iesahin opened #2184 "katacoda: Stages scenario seems to never start"
https://katacoda.com/dvc/courses/get-started/stages scenario has

[code]

at start but never seems to end. It looks it's not installed after `C-c`.

[code]

It might be better to ask the user to install via `snap install --classic dvc` at first.

Also
[code]

~~commands should have `cd src` somewhere before `git status` and `rm code.zip`~~

Excuse me, I thought `code.zip` contains a git repository

[2021-02-12 10:57] iesahin opened #2185 "katakoda: Stages scenario seems to never start"
https://katacoda.com/dvc/courses/get-started/stages scenario has

[code]

at start but never seems to end. It looks it's not installed after `C-c`.

[code]

It might be better to ask the user to install via `snap install --classic dvc` at first.

[2021-02-12 11:41] iesahin commented on #2184
From the looks of https://github.com/iterative/katacoda-scenarios/blob/master/get-started/stages/assets/prepare.sh I think this issue is related with #2183 . `pip3 install dvc` line is probably failing and the waiting line `until ...` never ends.

[2021-02-12 11:55] iesahin commented on #2185
duplicate of #2184

[2021-02-12 11:55] #2185 closed

[2021-02-12 12:39] iesahin commented on #2153
I can fix this one but is umask behavior a bug in DVC core or something to be mentioned? If cache permissions should be `0644` regardless of umask, we can ignore to mention it IMO.

[2021-02-12 13:24] dberenbaum commented on #2115
Ah, I think I misunderstood, or maybe this is a new issue you are raising. I had assumed that `dvc repro` with no target would reproduce everything in the project, whether in the `dvc.yaml` or in `.dvc` files, but that's inconsistent with the documentation, so I agree that we should confirm expected behavior on that and update the help and docs as needed.

[2021-02-12 13:45] dberenbaum commented on #2153
Are you asking whether we need this sentence: `The default is `0o664`(rw-r--r--) for files and `0o755`
  (rwxr-xr-x) for directories.` IMO, we could probably just remove it since it seems like DVC is trying to respect the default system permissions, and that would solve the issue.

[2021-02-12 15:36] dberenbaum opened #2189 "Section for dvc exp in https://dvc.org/doc/start/experiments"
Add a section for `dvc exp` in the Get Started guide

[2021-02-12 22:22] jorgeorpinel commented on #2179
@iesahin do you have some node experience as to determine what changes or clarifications we need about this in https://dvc.org/doc/user-guide/contributing/docs#development-environment ?

[2021-02-12 22:22] jorgeorpinel commented on #2179
Np if not, just curious

[2021-02-13 02:34] shcheklein commented on #2179
It looks like we are using an older version, @iesahin mind trying to bump it to '^2.2.1', as described here https://docs.restyled.io/available-restylers/ and see if it fixes the discrepancy. I think it's better to run it for all the files and make a separate PR.

[2021-02-13 07:17] iesahin commented on #2179
I think that's not about version of prettier @shcheklein The most recent Markdown prettier is from 2017. However [in .prettierrc](https://github.com/iterative/dvc.org/blame/master/.prettierrc#L5)  trailingCommas are defined as _none_ and the [default value seems to be *es5* after 2.0.0](https://prettier.io/docs/en/options.html#trailing-commas)

I'll remove trailingCommas line and check whether res

[2021-02-13 07:22] iesahin commented on #2179
I have almost zero node experience @jorgeorpinel but here the culprit seems to be `.prettierrc` I linked above. 😃 No need to change anything in that document.

[2021-02-13 13:25] iesahin commented on #2179
I submitted #2194 for this. There was a difference in options between

https://github.com/iterative/dvc.org/blob/d54388af2946a420507b35e313dbcc066b861581/.prettierrc and https://github.com/iterative/dvc.org/blob/20a8a6cceb7089c82fa467d144a0d17388004817/.restyled.yaml

and this was probably causing prettier in restyled.io run differently than local setup.

[2021-02-13 16:28] jorgeorpinel commented on #2171
OK. Please link this issue (or any other) to the PRs that will close it. https://docs.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword

[2021-02-13 17:14] #2179 closed

[2021-02-13 21:04] jorgeorpinel commented on #2183
Yep. We need to totally redo the interactive scenarios indeed. Nice to get some details here but probably no need for very specific issues since we have #1400. Closing in favor of that but thanks!

[2021-02-13 21:04] #2183 closed

[2021-02-13 21:04] jorgeorpinel commented on #2184
Hmmm interesting. Yeah we need to totally re-do them. Closing in favor of #1400. Thanks

[2021-02-13 21:05] jorgeorpinel commented on #2184
OK I guess since this is labeled bug and has a specific priority we can leave it for now.

[2021-02-14 02:11] jorgeorpinel commented on #2115
Yes. That sounds reasonable, in fact I think that's what we aim for. Maybe we just need to fix the help output (and docs).

[2021-02-15 01:04] jorgeorpinel commented on #2179
Sounds good, thanks for the fix!

[2021-02-15 07:52] iesahin commented on #1395
What do you think about renaming current `basic-concepts` dir to `glossary` and adding concepts separate from glossary entries? We can have 5-10 BC documents (e.g. that discuss #53) and can extend the glossary with any number of small definitions.

Another way is having two different kind of documents that we link from the sidebar and not. For some documents there will only be glossary entries and

[2021-02-15 08:44] jorgeorpinel commented on #1395
The glossary page proposed here is separate from the Concepts section. It would basically be a single page with all the tooltips dumped into some order. Auto-generated by the engine.

[2021-02-16 03:19] #1427 closed

[2021-02-16 09:18] iesahin commented on #1127
We have a new PR regarding workspace concept #2197.

There is no result for `extended.*workspace` in the docs :) I think we don't need to mention it. We already have too many overlapping / context dependent concepts.

From what I understand
[code]

Therefore

[code]

I defined it as *user visible part of the project* in the BC doc because of this.

I think we can define subset/superset relationshi

[2021-02-16 17:52] iesahin commented on #2171
#2197 adds Further Reading section to BC workspace document

[2021-02-16 18:13] iesahin commented on #154
I'll write an example based on an SSH remote. I think that's more straightforward than other options.

Or should I use a local remote? We may need to reflect (maybe in a separate example) the use of `--projects`.

[2021-02-17 03:22] shcheklein commented on #154
@iesahin better to use an artificial ("local") remote for simplicity, or S3 if we go being realistic but not-that-easy-to-reproduce

[2021-02-17 04:59] jorgeorpinel commented on #1127
I guess I was thinking of "extended project" which you can find in https://dvc.org/doc/user-guide/external-dependencies and https://dvc.org/doc/user-guide/managing-external-data — should probably be "extended workspace" 😋

Interesting, I don't see remote storage as part of the remote as it's kind of a backup. Also multiple projects can share a remote (that can also be true of the cache dir but it'

[2021-02-17 05:53] iesahin opened #2202 "cmd: [auto] changes in help-text/add-help.txt should be reflected to command reference"
The diff is \n

[2021-02-17 05:54] iesahin commented on #2202
it's a test for automated issues for output changes

[2021-02-17 05:54] #2202 closed

[2021-02-17 05:55] jorgeorpinel commented on #2171
Thanks @iesahin please check that link on how to link them (special term + this issue's number in the PR's description) 🙂

[2021-02-17 07:12] iesahin opened #2203 "cmd: [auto] changes in `dvc add --help` should be reflected to command reference"
The diff in the command output is\n```diff\ndiff --git a/help-text/add--help.txt b/help-text/add--help.txt
index ee13fcd2..d08bcf27 100644
--- a/help-text/add--help.txt
+++ b/help-text/add--help.txt
@@ -10,6 +10,8 @@ positional arguments:

 optional arguments:
   -h, --help         show this help message and exit
+  -q, --quiet        Be quiet.
+  -v, --verbose      Be verbose.
   -R, --recursive

[2021-02-17 07:14] iesahin commented on #2203
Bear with me, sorry.

[2021-02-17 07:14] #2203 closed

[2021-02-17 07:17] jorgeorpinel commented on #154
Good idea but unrelated here. Maybe contribute that one to #2064

[2021-02-17 07:37] iesahin opened #2204 "cmd: [auto] changes in `dvc add --help` should be reflected to command reference"
The diff in the command output is\n```diff\n optional arguments:
   -h, --help         show this help message and exit
+  -q, --quiet        Be quiet.
+  -v, --verbose      Be verbose.
   -R, --recursive    Recursively add files under directory targets.
   --no-commit        Don't put files/directories into cache.
   --external         Allow targets that are outside of the DVC repository.\n```

[2021-02-17 07:38] iesahin commented on #2204
Sending `git diff` output to `gh` is a pain but I'm leaving as it is. The POC is probably understood.

[2021-02-17 07:38] #2204 closed

[2021-02-17 11:19] pared commented on #2026
@jorgeorpinel we can skip API references for Dvclive, after iterative/dvc#5466 this method will be removed.

[2021-02-17 11:33] iesahin commented on #1400
I can work on this one. Would you like to preserve the git history of [katacoda-scenarios](https://github.com/iterative/katacoda-scenarios) here? It can be possible to add it as a subtree or submodule to the base repo but I don't think it's necessary.  @shcheklein @jorgeorpinel

[2021-02-17 19:12] jorgeorpinel commented on #2026
Sounds good, thanks.

[2021-02-17 21:17] jorgeorpinel commented on #2204
😕

[2021-02-17 21:24] jorgeorpinel commented on #1400
Only if they work (for the most part) on DVC 1.0, in which case the existing ones could be copied to the `v1` branch of this repo. Then merge that to `master` (latest) so we can start updating them for 2.0 there.

Please no submodules/trees. What file structure are you thinking? Thanks

[2021-02-18 09:25] dmpetrov opened #2212 "example-get-started: long names in params file"
The param names can be shortened to improve commands output for `dvc params diff` and especially `dvc exp show`.

Suggested names:
1. `featurize` group --> `fr`
2. `max_features`--> `max_fr`
3. `n_estimators`--> `n_est`

[2021-02-18 12:14] skshetry opened #2215 "syntax highlighting don't always seem to work"
When working on #2208, I had to indent or de-indent to make syntax highlighting work for `stage:add`.

See: https://github.com/iterative/dvc.org/pull/2208#discussion_r578121470

Maybe it's the issue with the subcommand?

[2021-02-18 12:57] iesahin commented on #2108
I wrote a script and sent a PR in #2207 but closed without merge: If needs arise we can use the script to get the differences in `dvc --help` outputs and create issues.

[2021-02-18 13:01] iesahin commented on #2184
I think we can just close this. @jorgeorpinel It's a bug but can't be solved without more extensive changes described in #1400

[2021-02-18 13:05] iesahin commented on #550
I'll update the issue description with all items from other issues. I think this can be the main BC issue.

@jorgeorpinel @shcheklein

[2021-02-18 17:13] iesahin commented on #1400
Actually I'm thinking to copy mentioned repo to the root of this one and put a file describing the root of the scenario tree to katacoda as described [here](https://www.katacoda.community/git-repository-structure.html#moving-katacoda-content-to-sub-directory).

I think it would not worth it to preserve the git history. I'll just do a single commit to `v1` and update on `master`. Is this plan OK?

[2021-02-18 17:27] shcheklein commented on #1400
@iesahin is there a strong reason to migrate it into the single repo? If not, I would not worry too much about it and keep it in the second repo, I think we can create even a separate ticket to discuss that.

[2021-02-18 20:58] tupui opened #2216 "guide: using metrics/plots and params without pipelines"
UPDATE: Related/part of https://github.com/iterative/dvc.org/issues/2815

My use case involves the inability to really use pipelines. I have models and data, but I am not (or cannot) do the training. So I don't have experiments per se. Still, I have metrics or other metadata I would want to track.

Apparently I can do this using commands like `dvc metrics diff --targets metrics.json`. I think this

[2021-02-18 21:14] shcheklein commented on #2216
cc @skshetry

[2021-02-18 22:01] jorgeorpinel commented on #2184
AGreed, should by fixed along with #1400. Ok thanks, closing.

[2021-02-18 22:01] #2184 closed

[2021-02-19 02:18] #816 closed

[2021-02-19 04:35] jorgeorpinel opened #2220 "ref: add --out for local targets"
UPDATE: I see this is actually possible now (2.0). We should document it!
~~Q: Does the same apply to `import-url`?~~

---

Currently `add -o` only applies to "transferred" (external) data — straight-to-cache/remote functionality.

Since we're allowing `add` to move target data paths now, why not enable it for `targets` in the workspace too? E.g.:

[code]

Other than UI consistency, there could be

[2021-02-19 04:37] jorgeorpinel commented on #2220
Docs should also clarify that `-o` by itself implies "skip workspace" (straight-to-cache).

[2021-02-19 04:38] jorgeorpinel commented on #2220
Hi @isidentical. Could you maybe point to the PR where this was introduced? Not critical but could be helpful. Thanks

[2021-02-19 06:21] #2134 closed

[2021-02-19 08:13] jorgeorpinel commented on #2216
Not sure having stages without an action would make sense. But how about accepting `params`, `metrics`, and `plots` in regular .dvc files? They already accept `deps` and `outs` which are the parents of the aforementioned fields.

[2021-02-19 08:22] jorgeorpinel commented on #2216
The command reference would be the first place that comes to mind.

Already mentioned in:
- https://dvc.org/doc/command-reference/params/diff
- https://dvc.org/doc/command-reference/metrics/diff
- https://dvc.org/doc/command-reference/plots/show
- https://dvc.org/doc/command-reference/plots/diff

Not even mentioned yet in:
- https://dvc.org/doc/command-reference/metrics/show

Not supported in:
- h

[2021-02-19 09:02] tupui commented on #2216
But the value of the main yaml is that the information is centralised. If you just want to give general metadata, there should be an easy way to do so without needing to have stages or anything else. A top level option in the yaml would be better IMO.

[2021-02-19 09:08] isidentical commented on #2220
It is already supported.

[2021-02-19 09:09] isidentical commented on #2220
iterative/dvc/pull/5301

[2021-02-19 09:21] tupui commented on #2216
Reading at the metrics one for instance, I think the explanation is OK. What I was missing is the fact that I could use all these function without the need to have the yaml file. So in `Project structure` that could maybe be highlighted. Currently it is saying:
[code]
Which can lead to the conclusion that you have to use this yaml in order to use these functionalities.

[2021-02-20 05:02] jorgeorpinel commented on #2216
There's a separate discussion around that. See https://github.com/iterative/dvc/issues/3936#issuecomment-692470880
For now file metadata needs it's own .dvc file so I think that's where params/metrics support could be added. If/when tracking data gets incorporated to dvc.yaml that would carry over too.

[2021-02-20 05:04] jorgeorpinel commented on #2216
BTW that part of the discussion should be in the iterative/dvc repo to be considered. Let's see if @skshetry has no objection on operning that issue (thanks).

[2021-02-20 05:10] jorgeorpinel commented on #2216
Which one? It's not even mentioned in https://dvc.org/doc/command-reference/metrics or https://dvc.org/doc/command-reference/metrics/show.

Feel free to send a proposed change (via a PR). Thanks

[2021-02-20 05:16] jorgeorpinel commented on #1400
It's the first check box in this issue's description @shcheklein 🙂 but I do agree that's not very important or impactful. Actually updating the scenarios should be the first thing to do here.

Seemed reasonable @iesahin except for katacoda.yaml (I'd just mention it in the README). But anyway, let's leave that subtask for later (updated issue desc.).

[2021-02-20 10:25] iesahin commented on #1579
This is fixed in 87942d00f706a76cfb1241d12b8a80c5f1f7872e in PR #2208

[2021-02-20 10:25] #1579 closed

[2021-02-20 11:16] iesahin commented on #1838
There are hardcoded links in the form of `https://dvc.org/doc/...` in blogs. When an item changes in `doc` and not yet deployed, these are checked from the deployed version in `dvc.org`. This may be related to some failures.

I can update all links to `https://dvc.org/doc` to internal links in the form of `/doc/`.

[2021-02-20 11:24] iesahin opened #2222 "docs/blog: use relative `/doc` links to avoid link checker errors"
UPDATE: Jump to https://github.com/iterative/dvc.org/issues/2222#issuecomment-783637210

There are links in the repository that could be written as local links.

These may fail in link-check when a URL updated in the site. e.g. When we update `https://dvc.org/doc/a` to `https://dvc.org/doc/b`, `https://dvc.og/doc/b` is not found by the link checker, because it's not deployed yet. If these links we

[2021-02-20 11:35] iesahin commented on #154
What I mean is something related to this option in `gc`.

![Screenshot from 2021-02-20 14-33-24](https://user-images.githubusercontent.com/476310/108594048-acfde900-7388-11eb-9b7b-25198c0d1324.png)

You may have multiple projects sharing the same remote cache and if you don't mention all of them in `-p` option, you may delete the other projects' artifacts sharing the same space.

[2021-02-20 14:19] iesahin commented on #2170
There are over 900 references to `dvc.yaml` and I read maybe the first few hundred. There is specifically [an answered question](https://dvc.org/blog/december-20-community-gems#q-can-i-have-multiple-dvcyaml-files) for this in the blog. I think I can close this as no major reference to a *single `dvc.yaml`* seems to be in the docs. Thank you @jorgeorpinel

[2021-02-20 14:19] #2170 closed

[2021-02-20 14:29] iesahin commented on #1395
It may be possible to have a *collected tooltips* page as a glossary. Some BC pages can be written in a _tooltip only_ fashion, without linking them from the sidebar. They will be listed in `doc/glossary`. If there is a BC page for it, it will be linked in tooltips and in the glossary, otherwise, only a definition will be provided.

I'm putting `[📖] (link to BC doc)` kind of _self-referencing_ lin

[2021-02-20 14:43] iesahin commented on #1127
There are about 160 references to _workspace_ in cmd ref, but I couldn't find a one mentioning a _remote workspace._ There are references to _local workspace_ like [this](https://github.com/iterative/dvc.org/blob/03a736ab3971ce1ca195008954ef6863c3686b54/content/docs/command-reference/status.md#L53) or [this](https://github.com/iterative/dvc.org/blob/d58af5bfdf4a992156eaa84f85acdb1cf955c4fc/content

[2021-02-20 16:48] tupui commented on #2216
The one for diff. But true it is missing from the general metric discussion.

Ok I will try to propose something 😃

[2021-02-21 15:46] iesahin commented on #2108
Can we close this now? @jorgeorpinel @shcheklein

[2021-02-21 16:14] iesahin commented on #670
What's the current status about this ticket? GS pages seem to have links to scenarios. Is there anything that should be modified in the docs about this?

[2021-02-21 16:41] iesahin commented on #1663
I'll check this after the merge of #2026.

[2021-02-21 16:48] iesahin commented on #658
There is no such file in `master` anymore. I searched for `class Tooltip extends Component` and nothing found.

I think we can close this.

[2021-02-21 16:48] #658 closed

[2021-02-21 20:09] shcheklein commented on #670
GS is outdated, not all pages have Katakoda unfortunately, also consider the most recent update @dberenbaum is doing in https://github.com/iterative/dvc.org/pull/2195

[2021-02-22 04:02] jorgeorpinel commented on #1127
Not sure why we're looking into that term TBH.

Yeah, that would be OK. But again, how does that relate to the OP? To recap, this issue is about:

TBH at this point we don't really recommend that kind of external data. ext deps are OK but not part of the workspace. And ext outs are being replaced for the `import/add` "to cache" / "to remote" functionality. AND we have #520 to rewrite the Ext Data

[2021-02-22 04:18] jorgeorpinel commented on #2220
Yep thanks @isidentical that's why I had already moved this to the docs repo 🙂

Thanks for the core PR link!

[2021-02-22 06:13] jorgeorpinel commented on #2222
Can you clarify which links @iesahin ? I don't think any existing links to dvc.org/... fail in the CI checks. But if so this should probably be part of #1838 instead of a new issue, please specify which ones over there for now. We can reopen this if I'm not getting it correctly. Thanks

[2021-02-22 06:16] jorgeorpinel commented on #2222
UPDATE: I see there's 3 such links in the whole docs. Again, I doubt it's related to the link checker issues (so no nee to follow up there). I'm reopening this but a quick PR in these cases would probably be faster.

[2021-02-22 06:23] jorgeorpinel commented on #154
Woah I didn't even remember about that option. May be OK to leave that out. Let's 🙏 try to get a good basic example for `gc -c/r` and then maybe mention `--projects`. Not critical

[2021-02-22 06:28] jorgeorpinel commented on #1395
Linking from tooltips to concept pages is quite reasonable. Not very related to this issue though. Thanks

[2021-02-22 07:25] jorgeorpinel commented on #658
They're in src/components/Documentation/Markdown/Tooltip now. I checked and they look soft coded now so this can stay closed, I think. Can you please confirm when you get a chance @rogermparent ? Thanks

[2021-02-22 07:39] jorgeorpinel commented on #670
I think ultimately #1400 is about the content itself, and this one is about the design. We have this now:

![image](https://user-images.githubusercontent.com/1477535/108676940-9782df00-74ae-11eb-9fdd-828c55a5c002.png)

![image](https://user-images.githubusercontent.com/1477535/108676993-a8cbeb80-74ae-11eb-97a5-9191e23dab80.png)

I think if we are OK with that interface we could indeed close this.

[2021-02-22 17:01] shcheklein commented on #670
I think this not in the scope of this ticket, @jorgeorpinel

[2021-02-22 17:03] shcheklein commented on #670
I guess we need to close this one and create the new one ticket that is specifically focused on content, not ui/ux

[2021-02-22 17:03] shcheklein commented on #670
Since I see we go back and forth with labels, it's clear that we interpret in different ways

[2021-02-22 17:35] iesahin commented on #2222
Most (maybe all) of them are in the blog. e.g. [this](https://github.com/iterative/dvc.org/blob/e27937b55f2af536e1750e2721c93eb842f8a104/content/blog/2019-09-26-september-19-dvc-heartbeat.md#L285)

Searching `https?://dvc` gives me about 280 results and some of these are legit, in README.md for example. Normally these pose no problem but when we change some doc URLs like in #2096 we get broken lin

[2021-02-22 17:52] jorgeorpinel commented on #2222
I meant 3 relevant instances i.e. outside of the blog. No need to update old blogs for this.

Idk where you're looking. I see 8. Maybe you're searching .js files or the public/ dir? Please limit your seach to `content/docs`:

![image](https://user-images.githubusercontent.com/1477535/108748670-777e0a80-7504-11eb-9d8b-af2efdcde42e.png)

[2021-02-22 18:01] shcheklein commented on #2222
we do need to update links everywhere, we run a link check using cron and it detects broken links in docs and in blog. Unless I didn't get your point @jorgeorpinel :)

[2021-02-22 18:20] jorgeorpinel commented on #2222
Can someone share the failing check? I don't understand this issue. Old blog links never change so how is that a problem in the check? I mean even if the links are relative if that page goes away the link will fail anyway right? Maybe I'm not getting this...

[2021-02-22 19:24] dberenbaum opened #2228 "Breaking changes in 2.0"
Need a list of all breaking changes in 2.0 to post with release

UPDATE: Jump to https://github.com/iterative/dvc.org/issues/2228#issuecomment-789251163 for summary.

[2021-02-23 00:07] jorgeorpinel commented on #2222
I see! Thanks for the example. Maybe an easier approach be to update those 3 blog links in #2214, and so on (do them as they come). But I guess changing all of them in a PR is also OK, may just be tedious to review (to double check) but yes, I have no problem with that. So I looked again in all of content/ and my results now are:

- 17 results of `(http://dvc.org` — should always be `https`. Quest

[2021-02-23 08:47] iesahin commented on #2222
I'll fix in #2214 and will have separate PR's for the blog and docs about this. I think it's better to keep `/chat` or `/support` for now.

Some of the `/doc/page#section` links are also broken. Section names have changed but their old names are there in the links and AFAICG these are not provided in the redirects.  Link checker doesn't report them because it's not 404 but those links just return

[2021-02-23 15:58] gcoter opened #2233 "SSH config: allow_agent is not taken into account (in 2.0.0a0)"
Hello,

I am trying the pre-release of 2.0.0. I have set the option `allow_agent` in the config file of DVC as I did with the previous versions but it doesn't seem to take it into account.

I didn't have much time to investigate but if you look at the `config` object which is passed to create the SSH connection, this object doesn't contain `allow_agent` and as a consequence the default value `True

[2021-02-23 16:21] gcoter commented on #2233
Oops, wrong repo :sweat_smile:

[2021-02-23 16:21] #2233 closed

[2021-02-23 20:15] shcheklein commented on #2222
yep, it's a separate ticket to improve our link check to detect those. But let's not focus on this for now please :)

to make them all relative? I think it can be another feature of the link checker indeed. I would also not focus on this too much.  Link checker itself has way more important things to be fixed in the #1838

[2021-02-23 21:26] dberenbaum commented on #2228
See https://github.com/iterative/dvc/pulls?q=is%3Apr+label%3Abreaking-change

[2021-02-23 21:28] jorgeorpinel commented on #2228
Will this be blogged?

[2021-02-24 02:17] jorgeorpinel commented on #670
There's #1400 for the content so yes, I wanted to think this was about something else. Thanks!

[2021-02-24 12:36] iesahin commented on #2222
I have fixed the broken links in #2214.

Shall I continue updating the links?

BTW I read the Github action logs and it looks the whole repository link check takes more than 6 hours. It's ~21.000 seconds and it shouldn't take that long to check all the links I think. Can there be another problem with the link-checker? @shcheklein

[2021-02-24 19:12] dberenbaum commented on #2228
Probably so. Thoughts @dmpetrov ?

[2021-02-24 19:43] dberenbaum commented on #2228
**Summary/questions on breaking changes:**

https://github.com/iterative/dvc/pull/5187 @efiop
What is the breaking change? Did behavior change for stages without deps or outs?

https://github.com/iterative/dvc/pull/5128 @skshetry

Is this the only breaking change?

Let me know your feedback on this proposed summary: "Environment variables inside the `cmd` of a stage using `${VAR}` syntax must be e

[2021-02-24 22:11] shcheklein commented on #1073
Closing this for now. Probably we'll have the full redesign soon.

[2021-02-24 22:11] #1073 closed

[2021-02-25 03:33] pmrowla commented on #2228
I don't think the experiments change needs to be documented as breaking, that PR and the notes on the wiki page were flagged as breaking for any users that had been testing the experimental feature already

[2021-02-25 04:12] jorgeorpinel commented on #2121
No need as we have a big ticket to rewrite that whole thing. But I did add another checkbox per https://github.com/iterative/dvc.org/pull/2175#pullrequestreview-596702408 👍

[2021-02-25 20:26] dberenbaum commented on #2121
So what is the plan with https://dvc.org/doc/user-guide/managing-external-data for now? I think we have agreed that it's not worth re-writing for 2.0, since we need to change the functionality anyway, probably for 3.0. So that leaves us with some suboptimal choices:

- Keep it as is
- Drop it completely
- Find ways to further discourage users from relying on it (remove or replace links to it, find

[2021-02-26 21:54] dberenbaum opened #2244 "Checkpoints example"
There is no ML example of checkpoints in the docs, so I started a simple example repo as a potential project to link to in the docs: https://github.com/iterative/dvc-checkpoints-mnist.

There are two branches:
* `minimal` has about as simple a DVC project as I could make to showcase checkpoints with as few other DVC features complicating it.
* `main` is a more fleshed out DVC project that includes

[2021-02-27 00:04] shcheklein commented on #2244
My thoughts on this - yes, it is very useful. It would be great to do a high level Use Case about experiments and do a tutorial about them, similar to the basic data versioning one.

[2021-02-27 00:34] #2189 closed

[2021-02-27 01:07] dberenbaum commented on #2244
Thanks, that sounds like a good goal. Keep in mind that this is specifically for checkpoints,  not experiments generally. I think it will be rare to use checkpoints and experiment with other parameters simultaneously, although some may do some experimentation and then use checkpoints to optimize the final model.

[2021-02-28 20:07] #2161 closed

[2021-03-01 22:09] dberenbaum commented on #2244
A couple of additional thoughts:

1. I added a 'live' branch with `dvclive` integration.
2. Do we want to include a link for the release and then iterate later into something like a tutorial?

[2021-03-02 10:46] isidentical commented on #2228
iterative/dvc#5527 dropped support for external outputs in google storage, and also changed the default checksum from md5 to etag.

[2021-03-02 14:27] dberenbaum commented on #2228
Stages without dependencies will not always run as if changed. Instead, use `--always-changed`.

Thoughts on the wording @efiop?

Experimental feature - doesn't need to be documented.

[2021-03-02 17:49] jorgeorpinel commented on #2026
Glad to report that most of the mayor stuff is done or has mergeable PRs! Changing priority here.

[2021-03-02 21:20] dberenbaum opened #2253 "Document `--checkpoint` flag"
Document `--checkpoint` flag in `stage add` and other commands. @jorgeorpinel @pmrowla @skshetry

[2021-03-02 22:01] dberenbaum commented on #2228
Updated breaking changes summary:

* Dropped support for external outputs in Google Cloud Storage and changed the default checksum from md5 to etag.
* Dropped support for login with p12 files on service authentication for Google Drive.
* Stages without dependencies will not always run as if changed. Instead, use `--always-changed`.
* Environment variables inside the cmd of a stage using `${VAR}` s

[2021-03-04 05:42] skshetry commented on #1990
The original PR was closed. Closing...

[2021-03-04 05:42] #1990 closed

[2021-03-04 05:45] skshetry commented on #2216
Btw, `.dvc` file does support specifying metrics, params and plots. This is a pre-1.0 compatibility feature though.

We have also plans for supports different sections in `dvc.yaml` file. Eg:
[code]

[2021-03-04 19:58] dberenbaum opened #2266 "Revise experiments docs?"
Using this ticket to discuss experiments docs, with a focus on:

1. Clarity - Experiments have a lot of overlap with other commands in both DVC and Git (for example, `dvc exp run` compared to `dvc run` and `dvc repro `). Some `exp` commands also have overlap with each other (for example, `apply` and `branch`). There are also certain keywords that we adopted (for example, "persisting" experiments),

[2021-03-04 20:51] dberenbaum commented on #2266
In https://github.com/iterative/dvc.org/pull/2243#discussion_r587576222, I mentioned that the differences between `exp apply` and `exp branch` are unclear, and that their behavior is not sufficiently explained by high-level descriptions. My inclination is to more directly address how `experiments` work under the hood.

Here's the intro to the getting started doc:

That intro raises questions:
* Wh

[2021-03-05 04:42] shcheklein commented on #2266
@dberenbaum thanks for creating this ticket to do another round of reviews and improvements. A few notes from me (I haven't had time to review some parts of the docs though).

**Strategic points:**

- Experiments get started - feels like it should become a self-sufficient entry point (do not depend and do not be the last section after data management). We'll probably need a better DL project for t

[2021-03-05 19:17] dberenbaum opened #2268 "Exp Get Started"
Child issue of #2266

# Proposed requirements
* Introduce experiments features
* Provide easy-to-understand example
* Show basic value of experiments

# Proposal

### Phase 1

The existing get started guide was updated to:

1. Add a new "Experiments" page at the end, which adds to the existing project with `exp` features.
2. Change the previous "Experiments" page to "Metrics, parameters, and plots

[2021-03-05 19:25] dberenbaum opened #2269 "Exp User Guide"
Child issue of #2266

# Proposed requirements

- Suggest helpful workflows for doing experiments
- Include enough detail that users can implement suggested workflows without additional context

# Proposal

### Phase 1

Added an "Experiment Management" section to the user guide (https://dvc.org/doc/user-guide/experiment-management). This guide explains various workflows for different purposes:
1. R

[2021-03-05 19:31] dberenbaum opened #2270 "cases: Experiments"
~~Child issue of #2266~~

Proposed requirements

- Identify potential opportunities to use experiments
- Show value added by experiments

Questions

- Is this needed as a separate section?
- Are example projects needed for this?
- Who is the target user to read this over other exp docs?

[2021-03-05 19:36] dberenbaum opened #2271 "Exp Tutorials"
Child issue of #2266

Proposed requirements

- Show how to use experiments in different typical projects
- Dive deeper on features that have not been addressed elsewhere

Questions

- What features need more explanation?
- What type of projects would be useful?

[2021-03-05 19:46] dberenbaum opened #2272 "Exp Video"
Child issue of #2266

Proposed requirements

- Generate interest in experiments in a different medium
- Introduce enough of the features to start using experiments

Questions

- What additional benefit should the video add?
- What features to highlight?

[2021-03-05 19:49] dberenbaum commented on #2266
I made separate issues for each strategic point. I realized this probably isn't quite what you meant @shcheklein, but maybe it's better to think about our docs as products and focus the issues on each product instead of technical questions.

Here's a checklist for the strategic points(see links to the issues above):

- [ ] Get started
- [ ] User guide experiments
- [ ] Use Case
- [ ] Tutorial
- [

[2021-03-05 20:28] shcheklein commented on #2266
totally agree! it's just sometimes it's hard to define the line - docs itself is a product (that we have Get Started, Use Cases, User Guide, Cmd Ref in the first place), then each section can be potentially a product (but we should keep in mind other sections and decisions made there). Not pushing to any actions here, just sharing my experience. I'm totally fine to try to iterate in a way you sugg

[2021-03-05 21:52] dberenbaum commented on #2266
Yeah, after thinking about it more, I thought we might need to address those strategic points before getting to the tactics. If we want to make major changes to some of the docs, not worth getting caught in the details now. It would be great to propose what we expect from each doc before starting it or revising it. That was the hope with the new issues (once they get more fleshed out), but maybe i

[2021-03-05 21:59] shcheklein commented on #2266
Any mechanism works for me personally (I would be happy to keep on GH for public visibility, but it can be too painful? not sure. though RFC PR sounds like an option? may be GH discussions? may be our forum - discuss.dvc.org?)

[2021-03-05 22:05] dberenbaum commented on #2266
I got intrigued seeing some of the great proposals from our users, like https://www.notion.so/Change-dvc-lock-hashes-eb027be2df044ce382183a14718ec48b 😄 , but I agree that GH is great to keep public visibility and public comment.

[2021-03-07 01:08] jorgeorpinel commented on #2244
the `main` branch seems to combine Dvclive and DVC checkpoints which is somewhat confusing (in the README at least) and I think ill-advised (per some conversation we had with @pared I think)? But I need to try each branch to get a better understanding ⌛

In general I think that definitely an example repo for experiments i super helpful but not sure that it needs to be specifically about checkpoint

[2021-03-08 12:29] pared commented on #2244
@jorgeorpinel  I think that was the initial point of this repo. To provide example for `checkpoints/live` interoperability.
Though if we would like to maintain some order of learinging, mybe it makes sense to make `minimal` the default branch and let user checkout the `live`?

[2021-03-08 14:01] dberenbaum commented on #2244
Initially, the repo was intended to show basic checkpoints functionality. After some more thought and looking through the docs, it made more sense to have it illustrate dvclive. The rationale behind that decision was:

1. dvclive and checkpoints are generally useful in similar scenarios. Both are tracking model progress over time.
2. dvclive has added benefits when integrating with a dvc checkpoin

[2021-03-08 15:28] dberenbaum opened #2276 "Outdated --params arg in dvc exp run reference"
Command reference for `exp run` uses outdated `--params` flag instead of `--set-param` flag.

[2021-03-08 15:35] #2276 closed

[2021-03-08 20:24] dberenbaum commented on #2266
@shcheklein @jorgeorpinel Interested in your thoughts on the structure of #2268 so that I can decide whether to do something similar for the other issues. Of course, please also provide any feedback on the substance in the issue itself.

[2021-03-08 20:34] shcheklein commented on #2268
@dberenbaum this looks great!

My biggest concern (the last two points in your list) about the current page that it builds on top of all the previous pages, while I think experiments are powerful enough to serve as one of the primary entry points (and explain other features, including data management from the experiments POV). It feels that we hide it too much, it feels like it's an auxiliary feat

[2021-03-09 01:44] jorgeorpinel commented on #2272
Should we make a new `video` label if we're going to manage video production in this repo?

[2021-03-09 01:47] jorgeorpinel commented on #2271
Maybe after an Experiment-related Use Case we can insert a detailed tutorial under it, like the Versioning one.

[2021-03-09 01:49] jorgeorpinel commented on #2270
My first Q here is what Is the use case we want to write? "Experiment Management" could be it but it's a bit broad and not obvious to differentiate with the existing guide (#2269).

[2021-03-09 02:04] jorgeorpinel commented on #2269
Sounds a bit more like content for the "best practices" section (#72), linked from the guide.

The guide alrady focuses on `exp run`. Maybe I didn't get the Q.
BTW checkpoint stages are incompatible with `repro`.

They have different use cases. Technically yes you an always use `exp run` and simply ignore the experiments (custom Git refs) but it's a discussion similar to "do we need `import --to-r

[2021-03-09 02:09] jorgeorpinel commented on #2270
Ideas for slightly more specific use cases:

- Hyperspace exploration (examples + params & metrics)
- Tuning/Optimization (same as above I guess)
- Visualizing Data Science (experiments + metrics/plots)

@dmpetrov and @shcheklein probably have better suggestions.

[2021-03-09 02:30] jorgeorpinel commented on #2228
Note that for now at least these are listed in https://github.com/iterative/dvc/releases/tag/2.0.0 so users can potentially find the info from dvc.org/doc (clicking on changelog and scrolling).

[2021-03-09 02:32] jorgeorpinel commented on #2228
Oh. It's also published on https://dvc.org/blog/dvc-2-0-release so is this issue addressed?

[2021-03-09 09:58] tupui opened #2281 "DVC list not working with remote google cloud storage"
There are two things here:

1. I expected to be able to just do `dvc list` and it would pick up the default remove.
2. `dvc list gs://...` is not working (cloning is failing)

I can list the content by using `dvc status --remote` so I would like to be able to do the same with listing.

[2021-03-09 09:58] tupui opened #2309 "DVC list not working with remote google cloud storage"
There are two things here:

1. I expected to be able to just do `dvc list` and it would pick up the default remove.
2. `dvc list gs://...` is not working (cloning is failing)

I can list the content by using `dvc status --remote` so I would like to be able to do the same with listing.

[2021-03-09 10:30] pared opened #2282 "dvclive: doc improvements"
Fixes required to make `dvclive` documentation fully functional:
- [ ] - include `live` output in stage entries as per @jorgeorpinel  [comment](https://github.com/iterative/dvc.org/pull/2227#discussion_r589900078)
- [ ] - include `live` run options for `run` and `stage add` as per @jorgeorpinel [comment](https://github.com/iterative/dvc.org/pull/2227#discussion_r590123297)

[2021-03-09 13:37] dberenbaum commented on #2228
Yup, thanks for pinging me on this one!

[2021-03-09 13:37] #2228 closed

[2021-03-09 18:58] dberenbaum commented on #2269
Are best practices not part of the user guide? Are there different types of best practices that belong in different sections? This might be part of thinking through how to organize the user guide.

👍

I mean for `exp push/pull/gc` - topics that aren't covered now in Experiments Management.

🎉

[2021-03-10 01:10] jorgeorpinel commented on #2026
The only pending item is "Archived v1 docs" so I'll prioritize those issues instead. Closing here!

[2021-03-10 01:10] #2026 closed

[2021-03-10 01:12] jorgeorpinel commented on #2006
Note: I reprioritized this now that 2.0 docs are done (for the most part).

[2021-03-10 04:38] pmrowla commented on #2032
So I just noticed that the docs for mac are incorrect still.

On mac, the global and system paths should be:
[code]

The discrepancy between using `Application Support` and `Preferences` is that appdirs master branch source uses `Preferences`, but the last actual pypi release uses `Application Support`.

@jorgeorpinel

[2021-03-10 04:41] shcheklein commented on #1838
https://dev.to/bnb/markdown-link-checking-in-github-with-actions-5dp0 - can be useful potentially

[2021-03-10 05:27] #2153 closed

[2021-03-10 08:41] jorgeorpinel commented on #2266
@dberenbaum on that specifically, `dvc run` is being phased out in favor of `stage add`. `repro` is quite similar but has a completely different purpose. Probably a core discussion on how/whether to redesign the UI?

I'll update docs per  https://github.com/iterative/dvc.org/pull/2243#discussion_r591092531 but there's also a possible core prod discussion there I think (why not let users do `git` c

[2021-03-10 16:49] rogermparent commented on #1838
Great resource! Making our own link check is shockingly tough, so leaning on something like Linkinator would be better for everyone if we can do it.

[2021-03-10 19:40] #2220 closed

[2021-03-10 19:59] dberenbaum commented on #2269
Right, including templating suggestions under experiment management might not make sense. Should we put the discussion of when to use vars vs foreach vs exp in another issue then? And leave this one for adding push, pull, gc and any other commands not covered by experiment management now?

[2021-03-10 21:03] jorgeorpinel commented on #2253
Adding to #2242 @dberenbaum but I can only find that flag in `stage add`.

[2021-03-10 21:08] jorgeorpinel commented on #2253
Wait. It's in the code base, but not coming up in `stage add -h` yet. Maybe it's hidden? We could find the core issue that will enable it instead, and manage the docs from there.

https://github.com/iterative/dvc/blob/cf1070a531456a267c3b57a35d17795397437699/dvc/command/stage.py#L253-L259

[2021-03-10 21:13] jorgeorpinel commented on #2253
See https://github.com/iterative/dvc/pull/5263#pullrequestreview-609171552

[2021-03-10 21:13] dberenbaum commented on #2253
Thanks @jorgeorpinel. Looks like it's suppressed. I can open a core issue to get that sorted.

[2021-03-11 04:56] jorgeorpinel commented on #2269
Depending on the answer to that question — which I'm not sure about TBH 🙂 . I guess
- vars: parameterize pipeline definitions
- foreach: partition (wide) stages or abbreviate (long) stages
- exp+params: track all attempts without worrying about Git

Agree about adding a Sharing section to the UG (prob instead of run-cache). Not sure we need to cover removing experiments though, as those are second

[2021-03-11 19:56] #2253 closed

[2021-03-11 20:17] dberenbaum opened #2292 "Document checkpoints without make_checkpoint()"
Our documentation so far in https://dvc.org/doc/command-reference/exp/run (and maybe elsewhere?) assumes that checkpoints only work with `make_checkpoint()` or a signal file. However, checkpoints still work without `make_checkpoint()` if the stage is designed to make a single checkpoint instead of multiple checkpoints. The final output will still be saved for the following iteration as long as it

[2021-03-12 08:29] pmrowla commented on #2292
This is just using a regular output as a checkpoint. I guess the distinction is that in order for the "resume" feature in `exp run` to work, you still have to specify the `checkpoint` flag, but otherwise this is just doing the regular

[code]

workflow (with the results stored in an experiment ref instead of a regular git branch).

Maybe we should just consider having an explicit flag to extend ("

[2021-03-12 14:02] dberenbaum commented on #2292
Exactly, which makes it easier to grasp for existing DVC users and more consistent with the rest of DVC (no need to inject DVC API functions into the user code). Not that `make_checkpoint()` isn't useful, it just seems like we are jumping straight into the advanced use case.

[2021-03-12 20:27] jendefig opened #2294 "External links on blog not opening in new tab"
I noticed that these links:
![image](https://user-images.githubusercontent.com/34289199/110994346-86025980-832d-11eb-9675-7cc3e0a50961.png)
do not open in a new tab, but direct away from our website.

Spoke with Jorge and tried adding `target="_blank"` inside the link, but not right either.

Found this:  https://stackoverflow.com/questions/4425198/can-i-create-links-with-target-blank-in-markdown
S

[2021-03-13 00:52] #2294 closed

[2021-03-13 08:10] Instantnoodles-madman opened #2298 "remote: where do I find key id and secrets for other remotes"
they come from the `remote modify` docs - https://dvc.org/doc/command-reference/remote/modify (S3 section)

_Originally posted by @shcheklein in https://github.com/iterative/dvc.org/pull/1994#discussion_r533906459_

for other s3 (not Amazon),how to set key_id and secret?

[2021-03-13 16:17] iesahin commented on #2292
So `make_checkpoint()` is for creating checkpoints manually, but without it `dvc exp run` already saves a checkpoint after running the command. Right?

If `checkpoint: true` in `dvc.yaml`, it's as if running the experiments in a loop, we can

[code]
to run the experiments continuously.

[2021-03-13 17:24] shcheklein commented on #2298
@Instantnoodles-madman could you give us a bit more details? what storage are you trying to use? is it S3-compatible?

[2021-03-14 00:06] jorgeorpinel commented on #2298
@Instantnoodles-madman Please see https://dvc.org/doc/command-reference/remote/add#supported-storage-types for basic configuration of each remote type.

For specific ways to configure authentication on each one, the expandable sections in https://dvc.org/doc/command-reference/remote/modify#available-parameters-per-storage-type have all the details.

Does that answer your question?

[2021-03-14 01:30] pmrowla commented on #2292
Yes, DVC will always generate a final checkpoint commit after running the command (assuming the workspace state has actually changed and there is actually changes to commit)

[2021-03-14 14:32] iesahin commented on #103
I read the comments in #784. Is there anything that should be done here?

[2021-03-14 14:58] iesahin commented on #380
I think I can hack some subset of the data for educational purposes, to have good rates and be small. @jorgeorpinel @shcheklein Current katacoda scenarios split the first 12000 rows of `data.xml` but the precision is around 40%. We may have something like ~95% with a small dataset.

I can also rewrite them all using MNIST data if you like. Such feats may not be necessary in that case.

[2021-03-14 16:59] shcheklein commented on #380
@iesahin yes, that would be good if we can artificially pull a dataset that is stable.

[2021-03-14 17:04] shcheklein commented on #103
It feels that we don't have a perfect place at the moment to put this note. I think there should be something about remotes in the User Guide in the first place. Starting from basic concepts, expanding into a proper section, where we can put a note in the introductory part about "Unsupported directly remotes" with a solutions like sshfs, mounted NFS, etc. For now, we can probably create a section

[2021-03-15 03:29] jorgeorpinel commented on #2032
Thakns @pmrowla updated. But re `appdirs master branch source uses Preferences`, so does `dvc` installed in any other way (not `pip`) use `Preferences/`? Thanks

[2021-03-15 03:35] Instantnoodles-madman commented on #2298
Yes，my storage is s3-compatible, but it is different from aws-s3  ,and it is corporate intranet
What should I do, I want to use dvc

[2021-03-15 04:38] pmrowla commented on #2032
None of the binary packages should be installing from git source either, the only way `dvc` would use `Preferences` is if the user is running it in a virtualenv where they manually install `appdirs` from source.

[2021-03-15 06:43] shcheklein commented on #2298
@Instantnoodles-madman there is the `Click for S3 API compatible storage` section in the https://dvc.org/doc/command-reference/remote/add#supported-storage-types and here https://dvc.org/doc/command-reference/remote/modify . It has some information on how to setup an S3 compatible storage. Please let us know if you have more questions.

[2021-03-15 06:43] #2298 closed

[2021-03-15 08:32] Instantnoodles-madman commented on #2298
I did the configuration according to the guide,but there is wrong when i execute 'dvc push'
the.wrong is:  500 when calling the listobjects operation (reached max retires:4):internal server error

[2021-03-15 18:55] shcheklein commented on #2298
@Instantnoodles-madman could you share then a bit more details, let's first start with the `dvc push -v` log please (please make sure you replace any important information in the log with `****` or something).

also, `500` is the Internal Server Error, what storage do you use? Can it happen that it doesn't support certain operations (means not fully S3 compatible)?

[2021-03-17 21:51] jorgeorpinel commented on #2309
p.s.

you have an API for git related things which you call DVC repo and some other API for the data registry
Another way to address the issue would be to clearly have git in the command arguments

All of that doesn't have an answer yet. I'll focus on the docs side though.

[2021-03-17 22:39] jorgeorpinel commented on #2309
@tupui I'm trying to summarize but I still have some questions for you. Thanks in advance:

But now that I know better the difference, it's hard to tell

Hard to tell what?

DVC repo is not an API. It's the concept of a git-enabled DVC project.

What do you mean by "an API for data registry"? Is there a link to docs where you found that?
A data registry is a pattern (see https://dvc.org/doc/use-ca

[2021-03-18 01:17] jorgeorpinel commented on #2309
UPDATE: I decided to update the `list` reference to make it more explicit. See https://github.com/iterative/dvc.org/pull/2306/commits/e1a4435e62b0c9b56e923793de4fc054e86b118a.

[2021-03-18 16:12] skshetry opened #2313 "ref: `exp run --set-param` with templating"
It'd be great to have an example of experiments coupled with the parametrization (or at least a mention that it's possible?).

[code]

[code]

[2021-03-18 21:08] jorgeorpinel commented on #2313
So in this case, with `exp run -S test_size=30`, the `cmd` in dvc.yaml would be `python src/main.py 30`?

That would def. be pretty important to mention both in https://dvc.org/doc/user-guide/project-structure/pipelines-files#templating, as well as in Exps docs (for starters in the `exp run -S` ref.).

But what if `test_size` is not in a params file (rather a `vars`)?

[2021-03-19 10:33] iesahin opened #2318 "MNIST dataset and Docker containers for Getting Started / Use Case documents and Katacoda scenarios"
In our discussions with @shcheklein, he emphasized the importance of a stable and standard dataset for the whole documentation.

[The example project](https://github.com/iterative/example-get-started) uses a subset of [Stack Overflow question tagging dataset](https://www.kaggle.com/stackoverflow/stackoverflow). The data is still updated and difficult to present as a downloadable asset. The example

[2021-03-19 13:21] dberenbaum commented on #2318
Nice synopsis, @iesahin! Before giving my substantive thoughts, what do you think about separating the dataset and the Docker proposals into separate issues?

[2021-03-19 18:27] dberenbaum opened #2319 "Decouple checkpoints and make_checkpoint"
### References to checkpoints all refer to or imply use of `make_checkpoint()`

https://dvc.org/doc/command-reference/exp/run:

https://dvc.org/doc/user-guide/experiment-management references checkpoints only in the context of "in-code" checkpoints:

https://dvc.org/doc/api-reference/make_checkpoint obviously references `make_checkpoint()` 😄 , but the example includes a lot of explanation of check

[2021-03-19 20:18] #2309 closed

[2021-03-19 21:48] jorgeorpinel commented on #2292
great to document because: ... It is language agnostic ... provides a simpler starting point

Yeah I didn't even realize this was possible. Sure!

Yeah but the experiments (checkpoints) are added into a branch this way, which is quite different from `exp run` without checkpoint outs.

BTW that idea connects with iterative/dvc/issues/5608

[2021-03-20 07:44] jorgeorpinel commented on #2319
Thanks for the structured docs feedback! This will be pretty helpful to address #2292 but otherwise, I'm not sure we need 2 issues?

I think I addressed this in https://github.com/iterative/dvc.org/pull/2300/commits/1be2070642d90483754741ad3b467c2fbbdb9838. PTAL

[2021-03-20 08:21] iesahin commented on #2318
I'll do, thanks @dberenbaum.

[2021-03-20 13:09] dberenbaum commented on #2319
Sure, I guess I realized the smaller issue in #2292 first and later realized it's part of this larger issue. Feel free to consolidate them however you want.

Great! There still might be more that can be cut from that example, but hard to say until other sections on checkpoints are expanded, so let's revisit later.

[2021-03-20 18:47] jorgeorpinel commented on #2319
Added a checkbox over there 👍

[2021-03-20 18:47] #2319 closed

[2021-03-21 23:37] dberenbaum commented on #2292
We also probably need an example in the docs and/or in https://github.com/iterative/dvc-checkpoints-mnist that shows how to use signal files to generate checkpoints.

[2021-03-22 00:25] jorgeorpinel commented on #2292
Meaning withouot `make_checkpoint()` (b/c you have a branch for that already), or without Python?

[2021-03-22 00:33] dberenbaum commented on #2292
I mean manually doing the steps in https://dvc.org/doc/api-reference/make_checkpoint#description. Torn on whether to do it in Python for consistency or in another language to show how that works. Maybe we can start with Python and possibly translate into another language later.

[2021-03-23 18:49] math-sasso opened #2323 "drive v2 ERROR when dvc push"
ERROR:

![image](https://user-images.githubusercontent.com/23565626/112201664-3f471600-8bef-11eb-8af6-d2b0d5166205.png)

My  config file
![image](https://user-images.githubusercontent.com/23565626/112201707-4a01ab00-8bef-11eb-9f07-95ae06f52b5a.png)

[2021-03-24 05:01] jorgeorpinel opened #2326 "ref: example to track multiple copies of the same cache entry?"
Is the following a use case we may want to document (as an exmple in https://dvc.org/doc/command-reference/import-url)?

[code]

Only one cache entry was created, but there's 3 outputs (and .dvc files) in the workspace that share it. Wondering if there are uses for this or if it's just a side effect.

[2021-03-24 05:27] shcheklein commented on #2326
This is not specific to the `import-url`. This is how DVC's storage is organized in a content-addressable way. It means pretty much that if content is the same (has the same md5) it has the same address (file path).

[2021-03-24 22:49] jorgeorpinel commented on #2326
Right, `import-url` here just works as an example then. But is this a wider use (for any commands e.g. `add` or manually writing .dvc files + `commit`) we should consider documenting? Maybe there's a reason to multiply a dataset to develop "mutations" in a pipeline starting from a single cached file/dir.

[2021-03-29 01:15] jorgeorpinel commented on #1586
This should be fixed now 👍

[2021-03-29 01:15] #1586 closed

[2021-03-29 05:23] jorgeorpinel commented on #2222
Updating some of the instanced mentioned in https://github.com/iterative/dvc.org/issues/2222#issuecomment-783769278 would be nice @iesahin, but it doesn't seem like there's a big issue to worry about, so up to you.

[2021-03-29 18:46] #2096 closed

[2021-03-30 04:26] jorgeorpinel opened #2340 "blog: cleanup tags?"
There's lots of single-use labels. Many could be removed or changed to a better one (with more usage).

Full list (crude command that assumes no blog has more than 10 labels):

[code]
(That's the current output on `master`).

Obvious issues (examples):
- `DVC` should be used more or not used at all?
- `Pipeline` vs `Pipelines`
- `cml-send-comment` ? `PTDC-18`?
- `Project`, `Tab`, etc. - too broad

[2021-03-30 04:29] jorgeorpinel commented on #2340
And should we have a tag cloud feature perhaps? Or any graphic way to navigate tags. Cc @rogermparent WDYT?

[2021-03-30 16:22] rogermparent commented on #2340
This would be be a significant task to implement, but is certainly doable. We can do some Gatsby querying to pull all tag data in a consumable form relatively easily.

Speaking of which, here's a sorted tag count from Gatsby's GraphQL

[code]

and, for reference, the query to get it

[code]

[2021-04-01 16:40] dberenbaum commented on #2292
I put an example in https://github.com/iterative/dvc-checkpoints-mnist/tree/signal_file.

Next step is probably to reference this repo in the docs or develop a more robust tutorial out of this or another scenario. Seems like checkpoints in general are not featured that prominently yet, and the different ways to implement them are not laid out clearly.

Any thoughts on an approach here?

[2021-04-01 16:41] dberenbaum commented on #2266
This may have been overly ambitious 🤣 . Thoughts on closing this and the related issues for now? We could always reopen if we prioritize them in the future.

[2021-04-01 18:56] shcheklein commented on #2266
@dberenbaum no concerns on my end, we can discuss the priorities for the next iteration together.

[2021-04-01 20:31] #2266 closed

[2021-04-01 20:31] #2268 closed

[2021-04-01 20:31] #2269 closed

[2021-04-01 20:32] #2271 closed

[2021-04-01 20:32] #2272 closed

[2021-04-03 00:42] shcheklein commented on #2326
It might be, not sure it deserves a whole example to be honest. May be mention somewhere that it's possible and there is no contradiction - someone could import multiple times, or multiple versions of the same dataset into different destionations.

[2021-04-03 00:44] shcheklein commented on #2340
My 2cs - the only thing I would do is to try to merge some tags in case we see some problems. Also, I agree that we should have a list of tags online, to navigate and help editors pick from the existing ones.

No goal from the product perspective to get rid of any tags just for the sake of minimizing the number.

[2021-04-03 00:52] shcheklein commented on #1052
I thinks this has been done by @ashiishme .

[2021-04-03 00:52] #1052 closed

[2021-04-03 00:52] shcheklein commented on #2032
@jorgeorpinel this is fixed, right?

[2021-04-03 06:40] jorgeorpinel commented on #2032
Yes 👍

[2021-04-03 06:40] #2032 closed

[2021-04-03 23:38] jorgeorpinel commented on #2340
Ok did some basic consolidations in #2350. I have the instinct to clean up this kind of content organization but if they have no impact on SEO then probably no point in trying. But maybe the tag cloud should ignore single-use labels?

BTW should we repurpose this issue for that feature request? Thanks

[2021-04-04 22:02] jorgeorpinel commented on #2292
Agree. Just not sure what the priority is. we can wait and see if people seem to need this guidance (those who don't find the `signal_file` branch of https://github.com/iterative/dvc-checkpoints-mnist first.

[2021-04-05 11:09] iesahin opened #2354 "Naming conventions for the documentation containers"
This is actually related to the [Doc Containers Repository](https://github.com/iterative/dvc-doc-containers) but here seems more appropriate to discuss:

I read the discussion in iterative/cml#217 and it may be worthwhile to discuss the naming convention for documentation containers.

@shcheklein and I discussed having a single (Docker) repository and maintain containers for different Katacoda sce

[2021-04-05 11:24] iesahin commented on #2318
I have created the repository that contains `Dockerfile`s for Katacoda scenarios [here](https://github.com/iterative/dvc-doc-containers).

Currently it has a script to build and push all containers.

We can discuss the naming convention for the containers in a separate issue #2354

I also built a [markdown code runner](https://github.com/iesahin/markdown-code-runner) after testing several other to

[2021-04-05 12:04] iesahin opened #2355 "build documentation containers"
Currently, the GS, UC, UG and REF examples in [dvc.org](https://dvc.org/doc) use code samples that are supposed to be run by the user after downloading [example-get-started](https://github.com/iterative/example-get-started) and the example SO dataset. For exposition purposes this is fine, but we can do better.

We can have a set of _documentation containers_ that has DVC, the example project, and

[2021-04-05 12:57] dberenbaum commented on #2292
IMHO a first step would be to reference https://github.com/iterative/dvc-checkpoints-mnist in the docs (I think it's only mentioned in `dvclive` now) and explain the different branches.

[2021-04-05 19:08] rogermparent commented on #2340
I can see this in a cloud, but we should probably have a list *somewhere* that shows off all Tags- they're there for a reason, and may help users navigate to relevant past articles.

I'm of the school of "close often and make new tickets when needed" but that's no more than my personal opinion.

[2021-04-05 21:23] jorgeorpinel opened #2356 "blog: tag cloud"
- Have a tag cloud feature, or any graphic way to navigate blog post tags (see GraphQL query in https://github.com/iterative/dvc.org/issues/2340#issuecomment-810398961)
- Ignore single-use labels by default.
- But we should probably have a list somewhere that shows off all Tags.

[2021-04-05 21:23] jorgeorpinel commented on #2340
Agreed. Moved to .#2356.

This one will be closed by #2350.

[2021-04-05 22:26] jorgeorpinel commented on #2355
Hmm, good idea but...

Most docs examples are not meant to be reproducible. Really only the Get Started and the one Tutorial are. So I'm not sure this is worth the effort and maintenance but maybe in the future?

We have other ideas to improve code examples like #759 which seem like lower hanging fruit to me 🍎

Also, could we try to summarize a bit and/or merge this with #2354? It's a lot of readi

[2021-04-05 22:30] jorgeorpinel commented on #1315
I'm guessing we are OK to close this since there have been no other comments in a long time, but lmk if you have additional thoughts please. Thanks!

[2021-04-05 22:30] #1315 closed

[2021-04-06 08:54] iesahin commented on #2355
Hi @jorgeorpinel

If REF examples are not reproducible, how can we know they will continue to work after the updates? Testing them manually is not feasible and depending on user reaction, expecting them to report errors is not a good way IMHO. For example, after DVC 3.0, there should be no `dvc run` examples, there will probably be many changes in other options and we'll need to test all the comma

[2021-04-06 11:19] iesahin commented on #759
My 2c

Instead of updating the code sections manually, the engine can convert

[code]

to

[code]

for the Windows tab.

All command revisions I can think of are regular changes, `/` to `\` in paths and `\` to `^` in split commands. Once it's possible to have multiple tabs in `code blocks`, we can fill the Windows tab without modifying the markdown document.

Also, I don't think sniffing the brows

[2021-04-06 11:47] iesahin commented on #2318
I have transferred [Markdown Code Runner](https://github.com/iterative/markdown-code-runner) to iterative.

[2021-04-06 11:57] iesahin opened #2358 "GS: Add a link to Experiments scenario"
A link to the [experiments scenario](https://katacoda.com/dvc/courses/get-started/experiments) should be put in https://dvc.org/doc/start/experiments

This should be after merging the Dockerized versions.

[2021-04-06 19:47] jorgeorpinel commented on #759
Automatic conversion from Linux to Win would be nice as a fall back but some Windows blocks will be totally different i.e. the commands themselves are different.

[2021-04-06 19:53] jorgeorpinel commented on #2355
Having a `dvc` command syntax checker would definitely be nice, for automating "regression testing" our example code blocks. I just don't think an entire Docker container per doc is needed for that 🙂

[2021-04-07 01:24] shcheklein commented on #2358
It seems to be ready (or at least better than the current state) - let's put the link in place?

[2021-04-07 08:15] iesahin commented on #2355
If examples can run in the same container, I don't see a need for multiple containers either. I think we can have a single `ref-examples` container that can run all the examples in REF. (We can use labels for particular commands if needed.) Maybe one container for each UC doc, one for each GS<->Katacoda and UG pages can have a common container as well. There should be no more than 20 I suppose.

T

[2021-04-07 09:16] #2358 closed

[2021-04-07 13:52] Vonski opened #2361 "dvc repro: Add information about the possibility of usage output names as targets."
This is related to PR that introduces mentioned functionality.

[2021-04-07 13:54] Vonski commented on #2361
Related https://github.com/iterative/dvc/pull/5273

[2021-04-07 13:54] #2361 closed

[2021-04-07 20:52] jorgeorpinel commented on #2269
I think this was had some actionable items, may just need to summarize it 🙂

[2021-04-07 20:52] jorgeorpinel commented on #2270
This one was probably useful too! Esp. https://github.com/iterative/dvc.org/issues/2270#issuecomment-793269476

[2021-04-07 22:09] jorgeorpinel commented on #2355
OK. What I'm saying is that maybe the issue should be to create a dvc command syntax checker we can use for a docs check, without it having to be Docker containers. That is one possible implementation but is that something we can run on GitHub CI or too heavy/slow for that? An alternative is to see what the autocomplete scripts do currently and try to reuse that from a new shell script. Or make co

[2021-04-07 22:11] jorgeorpinel commented on #2355
That said if you have a proof-of-concept container that can try all the docs samples currently and seems to be useful, do share @iesahin! 🙂

[2021-04-07 22:17] jorgeorpinel commented on #1400
Hi @iesahin 👋 just for visibility, what's the overall status of this epic? I know the Get Started scenarios are all updated 🎉. What about Examples and Tutorials? Do you need help reviewing/deciding anything on those fronts? Is there a roadmap of which new scenarios (if any) will be added? Thanks!

[2021-04-07 22:22] jorgeorpinel commented on #108
Actually this only applies to import/get-url right? And it's explained in those already. So only `add` and `run` are pending (only mentioned for those in the external data guides ATM).

[2021-04-07 22:54] jorgeorpinel commented on #108
After reviewing the add and run refs I see they link to those guides in the appropriate places so I'm not seeing a need to explain `remote://` directly in them. We don't go over all the other URLs either. But lmk if you have a specific idea on how else to address this!

[2021-04-07 22:54] #108 closed

[2021-04-08 06:44] iesahin commented on #1400
Hi @jorgeorpinel I'll continue updating examples and tutorials. I containerized the GS scenarios and will continue to build containers for each scenario to test them continuously. Thanks.

[2021-04-09 16:03] dberenbaum opened #2367 "guide: Sharing Experiments"
The utility of `dvc exp push` and `dvc exp pull` isn't all that clear now. It would be great to develop a typical scenario to show how sharing experiments is useful.

Ideas:
* If several experiments have similar metric values and I want to share with my team before deciding which experiment to choose.
* If I need to keep a record of alternative experiments that I tried to document/audit my model d

[2021-04-09 16:06] dberenbaum commented on #2269
I added an issue for exp sharing. There's also some discussion above of adding UG docs for templating, but I think that can wait until we have more specific stories like #2313.

[2021-04-09 16:08] dberenbaum commented on #2270
I was thinking we could open new issues when we have specific use cases in mind ready to develop, but no problem if having this open as a placeholder with some ideas is helpful for you.

[2021-04-09 17:46] dberenbaum commented on #2292
I'm worried that users aren't very aware of checkpoints or how to use them until we better highlight and document them. As a first step, what about referencing the mnist examples in https://dvc.org/doc/user-guide/experiment-management#checkpoints-in-source-code?

[2021-04-11 16:28] maresb opened #2370 "Update docs to use mamba instead of conda"
# Bug Report

## Description

The installation docs recommend using `conda` for installing DVC in a conda environment. Unfortunately the `conda` program is so slow that it is barely usable, and its solver chokes very easily. It takes a ridiculous amount of time to install, as demonstrated iterative/dvc#5625 and iterative/dvc#5787, to the point where users believe it is a bug.

The modern solution

[2021-04-12 08:47] pmrowla commented on #2370
Moved this issue to the docs repo, adding a note regarding `mamba` installation seems like the most reasonable solution here

[2021-04-12 14:08] pared commented on #2282
Fixed by #2333

[2021-04-12 14:08] #2282 closed

[2021-04-12 15:02] maresb commented on #2370
I asked on Gitter, and the conda-forge folks [do seem to support](https://gitter.im/conda-forge/conda-forge.github.io?at=60742f23ae90f3684077029e) updating the conda-forge docs to feature `mamba` more prominently.

[2021-04-12 15:12] pared opened #2371 "ref: doc `params/exp show/diff --param(-deps)`"
After https://github.com/iterative/dvc/pull/5550 we support showing param dependencies for `params` and `exp` commands.

[2021-04-13 04:49] jorgeorpinel commented on #2370
@maresb would you be willing to suggest an edit? You can go to a page like https://dvc.org/doc/install/macos and click [Edit on GitHub] to get started. See also https://dvc.org/doc/user-guide/contributing/docs.

I'm not sure we want to change the main `conda` instructions though, maybe just add a link to a `mamba` usage page for now?

[2021-04-13 04:52] jorgeorpinel commented on #2371
Are you able to self-assign @pared, or should I triage this? Np either way

[2021-04-13 05:01] jorgeorpinel commented on #2367
I'd go for a guide on this (there are some exp-related use case ideas in https://github.com/iterative/dvc.org/issues/2270#issuecomment-793269476).

I think we'll want to make https://dvc.org/doc/user-guide/experiment-management a section and have sub-pages. This can be one of them.

[2021-04-13 05:07] jorgeorpinel commented on #1400
Thank you!

[2021-04-13 16:55] maresb commented on #2370
I can't get to it right away, but I'll see what I can do, maybe this weekend or so. If someone else can do it sooner, then please go ahead.

Since nobody has yet seemed to have managed to clock how long it actually takes to install DVC with `conda`, I left it running today in the background.

`conda`: 7 hours, 57 minutes, 50 seconds.
`mamba`: 33 seconds.
(Factor: 868.8×)

My question is then:
####

[2021-04-13 18:09] shcheklein commented on #2370
Thanks @maresb for the research! I've updated the files for now the way you suggested:

[code]

I guess the only thing that is left here is to may be mention (one sentence) why do we install `mamba` in the first place, or a comment:

[code]

[2021-04-13 19:12] maresb commented on #2370
@shcheklein thanks for making this happen!

Looking at the webpage layout, there is not much room to provide details. From editing the webpage, here's what looks good to me:
![image](https://user-images.githubusercontent.com/15216687/114606996-474d1f80-9c9c-11eb-9428-9e00149f15ca.png)

I noticed that there is an additional `conda install` command in `README.md`.

By the way, the recent builds of D

[2021-04-13 19:55] shcheklein commented on #2370
@maresb happy to help. This is amazing improvement!

Good catch. Done.

also, good catch - removing.

Added also that comment `# installs much faster than conda` . It'll be automatically redeployed soon.

Feel free to close the ticket after that if you feel that this is enough :)

thanks again for this improvement!

[2021-04-13 20:37] maresb commented on #2370
I'm very glad to see this resolved. Ironically, I have yet to use DVC because when I tried to install it a year or so ago, I ran into all these installation problems. But I hear great things about it, and I look forward to trying it now that it works with my `mamba` environment! :wink:

One further minor point is that the conda-forge shield seems to be down: https://img.shields.io/conda/dn/conda-f

[2021-04-13 20:37] #2370 closed

[2021-04-14 13:00] dberenbaum opened #2374 "ref: experiments ignore untracked files"
Document https://github.com/iterative/dvc/pull/5029.

See also https://github.com/iterative/dvc/issues/5800 and https://github.com/iterative/dvc/issues/5801 for more context. Let's document current behavior, since I think the security issues and other concerns around any proposed changes make it unlikely in the short-term.

[2021-04-15 18:14] jorgeorpinel opened #2376 "remote: 2 Qs about Azure params"
1. What about `AZURE_STORAGE_CONNECTION_STRING` and `AZURE_STORAGE_CONTAINER_NAME`?
2. What happens first, Azure "default credential" or Microsoft account login?

[2021-04-15 18:16] jorgeorpinel commented on #2376
On 1. @isidentical you mentioned the env vars are still supported. OK but which ones do we recommend? `remote modify` doesn't mention them at all, and `remote add` doesn't mention any of the new stuff.
Please notice 2. above as well. Thanks

[2021-04-15 18:24] jorgeorpinel commented on #2376
From https://discord.com/channels/485586884165107732/563406153334128681/832317518852653137

Right, we support them. What I'd like to understand is why there's the old env vars (`AZURE_STORAGE_CONNECTION_STRING`, `AZURE_STORAGE_CONTAINER_NAME`) and at the same time new env vars (`AZURE_STORAGE_ACCOUNT_NAME`, etc.) some of which seem similar. Maybe we just missed including the old ones in the update

[2021-04-16 05:12] jorgeorpinel commented on #2292
Makes sense to wait a little before assigning a priority.

Sure, we can add a paragraph. Or would it be more useful in #2373? (I can contribute to the branch).

[2021-04-16 06:00] jorgeorpinel commented on #2292
UPDATE: for now please see #2381 and https://github.com/iterative/dvc-checkpoints-mnist/pull/3

[2021-04-16 06:13] jorgeorpinel opened #2382 "remote: remove/hide --project option?"
`--project` is available along with `--system/global/local` for all commands that change DVC config. However it never has an effect in `remote add/modify/remove/rename`. So should we just remove it or at least hide it from the CLI (and remove from docs) ?

[2021-04-16 06:13] jorgeorpinel commented on #2382
Oops, this was meant as a core issue. Transferring...

[2021-04-16 10:15] isidentical commented on #2376
So basically environment variables are automatically supported, with the pattern of `AZURE_STORAGE_{CONFIG_VAR}`. Here is a list;
https://github.com/iterative/dvc/blob/ca7a02d5220ab85bbde12a85604e0f9a7fad61ca/dvc/fs/azure.py#L58-L70

- `AZURE_STORAGE_CONNECTION_STRING` (connection_string)
- `AZURE_STORAGE_ACCOUNT` (account_name)
- `AZURE_STORAGE_KEY` (account_key)
- `AZURE_STORAGE_SAS_TOKEN` (sas_

[2021-04-16 10:16] isidentical commented on #2376
I am not sure what you mean by old/new vars, though the list I just shared should contain all the env variables we officially support (and they don't overlap).

[2021-04-16 19:13] jorgeorpinel opened #2386 "blog: use longDescription for first/featured article"
Maybe for the featured (latest) post we can use the long description (from frontmatter) in /blog ? There's space to spare, it seems (short desc. used below):

![image](https://user-images.githubusercontent.com/1477535/115067099-0d576580-9eb6-11eb-85ff-ca2bee556a43.png)

[2021-04-16 23:32] jorgeorpinel commented on #2376
Ah very useful info, thanks! Will update docs.

Sounds like we should remove it! ⌛

`AZURE_STORAGE_CONTAINER_NAME` is an old env var it seems. Anyway, got it now, thanks @isidentical .

[2021-04-16 23:40] jorgeorpinel commented on #2326
Prob not needed then.

[2021-04-16 23:40] #2326 closed

[2021-04-17 02:52] jorgeorpinel commented on #2376
@isidentical 🐸🎩 could you update the Azure instructions in https://dvc.org/doc/user-guide/contributing/core#testing-remotes ? I'll take care of the other instances of `AZURE_STORAGE_CONTAINER_NAME` in docs. Feel free to commit to #2390

[2021-04-17 02:57] jorgeorpinel commented on #2376
Oh one more Q @isidentical:

You didn't include `AZURE_TENANT_ID`, `AZURE_CLIENT_ID`, or `AZURE_CLIENT_CERTIFICATE_PATH` in your list. In the code I see the first 2 are OK but not sure about the third. Is it actually `AZURE_CLIENT_SECRET` (line 73)? (If you commit to the PR maybe update that too if the `remote modify` we merged ref is wrong.)

[2021-04-17 03:07] jorgeorpinel commented on #2376
Hi @0x2b3bfa0 do you know if there's another way to setup Azure for CML other than with the `AZURE_STORAGE_CONTAINER_NAME` env var? https://dvc.org/doc/cml/cml-with-dvc and https://dvc.org/doc/cml/self-hosted-runners mention that var but it seems to be legacy on DVC at least.

[2021-04-17 03:55] jorgeorpinel commented on #2376
@isidentical please also notice question 2. "What happens first, Azure "default credential" or Microsoft account login?" Thanks agian

[2021-04-17 11:39] 0x2b3bfa0 commented on #2376
Good question, @jorgeorpinel! I assume that your links refer to these two storage-specific snippets:

https://github.com/iterative/dvc.org/blob/0d72e5882e1f8679338a3b897dcaaf1e17620bdb/content/docs/cml/cml-with-dvc.md#L84-L87
https://github.com/iterative/dvc.org/blob/930b2c7b49ad7f131a164482c6d7e9e50a384f5f/content/docs/cml/self-hosted-runners.md#L141-L144

These environment variables are being di

[2021-04-18 04:49] skshetry opened #2394 "site closes when clicking a link from the hamburger menu"
### How to reproduce
1. Open https://dvc.org using "**Open in a new tab**" in the context menu from your phone (or, in a responsive mode from console). Please don't type, just use that earlier link.
2. Open hamburger menu and click on either "Doc" or "Blog".

### Expected
The page opens correctly.

### Actual
The site just closes.

---

This happens because we are calling the `window.close()` in t

[2021-04-18 16:36] shcheklein commented on #2394
I can't reproduce it on Mac (Chrome in a responsive mode)/iPhone, but can confirm warnings in the console. @skshetry what browser do you you use?

[2021-04-18 16:44] shcheklein opened #2395 "URLs that contain anchors with reserved chars break the website"
broken page and:

`Error: SyntaxError: Failed to execute 'querySelector' on 'Document': '#option!134' is not a valid selector.`

on

https://dvc.org/doc/command-reference/gc#option!134

Priority depends on if we have titles (anchors with `!` and other funny symbols).

[2021-04-18 17:01] skshetry commented on #2394
@shcheklein, did you use the "Open in a new tab" option for the above link?

[2021-04-19 03:30] jorgeorpinel commented on #2395
There are such symbols in some titles but they get removed from the anchors (at least `!` and `?`), e.g.
- https://dvc.org/doc/command-reference/init#when-is-this-useful
- https://dvc.org/doc/cml/cml-with-dvc#for-github-actions-users-try-the-setup-dvc-action

[2021-04-19 03:34] jorgeorpinel commented on #2395
But it's probably an invalid URL in general with anything other than `[A-Za-Z/-._~]` right?

[2021-04-19 03:48] jorgeorpinel commented on #2376
Oh I see. OK, I'm removing the `AZURE_STORAGE_CONTAINER_NAME` lines in ad188e31, since the recommended way to setup the remote is to include the container name in the `azure://` URL.

[2021-04-19 06:26] pmrowla opened #2397 "ref: clarify `exp apply` behavior"
Noticed this issue while reviewing https://github.com/iterative/dvc.org/pull/2383

The docs for `dvc exp apply` currently state that:

- [x] 1. `exp apply` will restore the changes to *any* (git or DVC tracked) file from a given experiment. It is not specific to DVC-related files and data. Rather than a simple `dvc checkout`, it's closer to:

[code]

(specifically, it's more like a `git stash appl

[2021-04-19 07:53] isidentical commented on #2376
Microsoft account login is part of the default credentials flow (it includes many different methods which are tried in order).

[2021-04-19 13:46] dberenbaum opened #2399 "Improve explanation of error handling for interrupting checkpoints"
See https://github.com/iterative/dvc-checkpoints-mnist/pull/2 for background.

Here's the scenario:

1. My script includes a checkpoint (using `make_checkpoint()` or similar) but no error handling for keyboard interuptions.
2. I run an experiment and interrupt it with ctrl-c, which returns a non-0 exit code.
3. I resume the experiment.

If there were changes between the last time `make_checkpoint(

[2021-04-19 13:50] pmrowla commented on #2399
Also should be noted that this is really only an issue for workspace runs, since in temp dir/queue runs the unsaved extra modifications at the end are just discarded entirely.

[2021-04-19 17:57] shcheklein commented on #2395
Yep, doesn't matter anyway, website should not be breaking at least and handle things gracefully.

I would check all anchors that we have to see if we have any (allowed by RFC) symbols that break it. For now making it p1

[2021-04-19 21:36] jorgeorpinel commented on #2395
Oh I see. I thought it was an URL problem but in fact it looks like special (unreserved) chars only break the site (at loading) when in anchors, indeed.

Checked all docs headers with regex `^##* .*[;/?:@&=+$,\-_.!~*'()]` (from 2.2 and 2.3 in the RFC) — one ocurence of each char — and they all get removed in anchors (except `-()` which are fine), so 👍 on that front.

[2021-04-19 23:53] shcheklein commented on #2399
@dberenbaum do we know what part of the documentation it affects? (new User Guide section by @flippedcoder , command reference?)

[2021-04-19 23:54] shcheklein commented on #2397
will it drop changes that do not conflict?

[2021-04-19 23:59] shcheklein opened #2400 "need to detect broken download actions"
From time to time we break buttons (discrepancy between the recent DVC version and some packages are not being properly built or delayed due to some CI/CD issues). We need to wrap the Download action into sentry (or some other way, ideally add a CI action that tests this) and detect issues:

E.g. https://s3-us-east-2.amazonaws.com/dvc-public/dvc-pkgs/osxpkg/dvc-2.0.18.pkg is producing this now:

[

[2021-04-20 00:45] pmrowla commented on #2397
@shcheklein no, any changes which don't conflict will be left alone. It basically just does a git merge/checkout with `--theirs`, meaning that if there are conflicts the version from the experiment is automatically preferred.

Originally, `exp apply` would error out on any conflicts and had a `-f/--force` option to do the `--theirs` overwrite automatically. But based on feedback from @dmpetrov, th

[2021-04-20 00:54] shcheklein commented on #2397
I would clarify this. It's important that changes are not wiped out but rather merged with the experiment. I'm a bit worried that pretty much silently user may end up with a mix of changes here.

Does it makes sense to go even further and do `reset --hard`  ?

[2021-04-20 09:05] pared opened #2402 "ref: Update `dvc plots` to include information about offline HTML plots"
After https://github.com/iterative/dvc/pull/5694 we allow users to provide their own HTML templates, for use cases where it does not make sense to use default one (eg isolated environment not having access to internet, and not allowing the download of vega libs).

[2021-04-20 12:13] dberenbaum commented on #2399
It potentially impacts:

* https://dvc.org/doc/command-reference/exp/run#checkpoints
* https://dvc.org/doc/api-reference/make_checkpoint
* maybe the doc @flippedcoder is working on

We will have to consider whether it need to be reflected in each of these sections. I think any examples should include error handling for keyboard interruption between checkpoints if ctrl-c is part of the expected wor

[2021-04-22 04:25] jorgeorpinel opened #2406 "remote add: review Azure section"
From https://github.com/iterative/dvc.org/pull/2390#issuecomment-824519403:

Context: after updating and rewriting the Azure section in https://dvc.org/doc/command-reference/remote/modify#available-parameters-per-storage-type we noticed that this remote is pretty complicated, and it's not clear what the recommended/assumed auth method should be, and which others if any to include in `remote add`.

[2021-04-22 04:25] jorgeorpinel commented on #2406
Please clarify if I didn't fully get the idea, @shcheklein. Thanks

[2021-04-22 05:12] jorgeorpinel commented on #2376
Got it @isidentical. I clarified this a bit more in #2407 (should close this issue).

The only pending Q is https://github.com/iterative/dvc.org/issues/2376#issuecomment-821755139 ☝️

[2021-04-22 05:17] jorgeorpinel commented on #2376
p.s. I see those env vars (and others) are [built into](https://docs.microsoft.com/en-us/python/api/azure-identity/azure.identity.environmentcredential?view=azure-python) the Azure DefaultCredential process (clarified in docs). OK, all good here!

[2021-04-22 05:21] jorgeorpinel commented on #2406
p.s. I tried to throw this into #2407 but other than minimal copy edits I'm not seeing a problem in `remote add` now, given that it has a clear indication that there are more auth methods to consult in `remote modify`. And since we need to move all this content elsewhere anyway per #1859 I'd vote to close this one 🙂 WDYT @shcheklein ?

[2021-04-22 05:27] shcheklein commented on #2406
@jorgeorpinel okay, to clarify. I think my point is that we need something in `dvc remote add` as we have for S3. We don't show any modify commands at all. We just refer readers to `dvc remote modify` like this:

same applies here I think?

The only other remote that goes into too many details (+does `dvc remote modify` a lot) is `Aliyun OSS` which is far from being the most popular.

[2021-04-22 18:53] jorgeorpinel commented on #2406
OK I see. From a recent conversation with @isidentical I thought the expected auth method was specifying an Azure connection string. But OK, that's easier, updated in 9a427465 (please check #2407).

[2021-04-22 19:41] #2376 closed

[2021-04-22 19:41] #2406 closed

[2021-04-22 21:15] #1521 closed

[2021-04-23 06:46] jorgeorpinel opened #2411 "`master` builds are failing"
As noted in https://github.com/iterative/dvc.org/pull/2377#issuecomment-824484545 (and probably earlier), the `build` script stopped working at some point ([first failed build](https://dashboard.heroku.com/apps/dvc-org-mm-checkpoints--lv46zp/activity/builds/bbf0a0dd-36cc-4752-8694-48bc68111c21)) in `master`. This means we can't deploy anything to production. The error is

[code]

CI tests are all

[2021-04-23 06:46] jorgeorpinel commented on #2411
Cc @rogermparent

[2021-04-23 07:11] jorgeorpinel commented on #2411
Actually that's on another branch (not merged yet). The first time it failed on `master` was [this one](https://dashboard.heroku.com/apps/dvc-org/activity/builds/6560e6e1-3a0a-4a89-94b2-21d4a1f193ea), in case it helps (same error though).

Or PR review apps

[2021-04-23 15:33] shcheklein opened #2412 "guide: confusion between params (templating) and param dependencies"
https://stackoverflow.com/questions/67215839/use-parameters-from-additional-configs-in-dvc-2-0/67221065#comment118833797_67221065

We need to be explicit that those could not (?) be used as dependencies.

(that's comes back to the discussion on parametrization and params - two terms overlap and confuse people)

[2021-04-23 15:33] shcheklein commented on #2411
@julieg18 could you please give this one a try? it's a p0 for us.

[2021-04-23 20:32] julieg18 commented on #2411
It looks like the error may have something to do with the `sharp` module. Do you think upgrading packages that have the `sharp` module to a higher dependency could fix the build?

[2021-04-23 20:49] #2374 closed

[2021-04-23 20:51] jorgeorpinel commented on #2411
@julieg18 feel free to try it out and open a PR with a branch directly on this repo (not from a fork) so that an automatic deployment is triggered on our cloud. If the build works there it should work on prod.

[2021-04-23 21:15] shcheklein commented on #2411
@julieg18 feel free to do any experiments, package updates/downgrades, etc- don't worry about breaking something.

[2021-04-23 21:19] julieg18 commented on #2411
Looks like I don't have permission to push to the repo 🤔

[2021-04-23 22:20] shcheklein commented on #2411
@julieg18 you have it now!

[2021-04-24 10:11] iesahin commented on #2318
I have merged the new scenario and closed this issue. You can replay and review the scenario in https://katacoda.com/dvc/courses/get-started/experiments

@dberenbaum @shcheklein @jorgeorpinel

[2021-04-24 22:37] #2318 closed

[2021-04-25 15:48] iesahin commented on #2411
FYI, `sharp` module is why I had to give up installing the site on mac M1. @rogermparent has said that some customization was applied to image generation code and we can't directly upgrade to higher versions. @julieg18

@shcheklein @jorgeorpinel

[2021-04-25 15:54] julieg18 commented on #2411
That makes sense. Since I did get some errors on my pull request🤔

[2021-04-25 17:21] rogermparent commented on #2411
I pinned all our gatsby `sharp`-related plugins to an old version (quite old, now!) because our weird hand-rolled S3 caching mechanism depends on the simple `public`-dependent image caching that the gatsby image plugins used before the Jobs API V2 was introduced. For some reason, after that update the cache would always be invalid no matter what files we preserve.

The hand-rolled S3 cache script

[2021-04-25 22:43] jorgeorpinel commented on #2412
Yep, we discussed this. AFAIR we don't want to separate the concepts? Params are params whether you use them as substitutions in a dvc.yaml template or as stage dependencies. But since both go in dvc.yaml in different ways we can def. be more explicit in the UG, would that be enough to solve this issue, or do we want to revisit the terminology itself?

[2021-04-25 23:11] jorgeorpinel opened #2418 "`exp run`: internal data committing performance implications"
Per https://github.com/iterative/dvc/pull/5859 (released in [2.1.0](https://github.com/iterative/dvc/releases/tag/2.1.0))

UPDATE: Jump to https://github.com/iterative/dvc.org/issues/2418#issuecomment-854183969

Implications to consider documenting:
- [x] Mention the `git stash` "trick" somewhere
- [ ] Large changes to data dependencies in the workspace may slow down experiment queueing
- ~~Even i

[2021-04-25 23:18] jorgeorpinel commented on #2397
Should we transfer to the core repo for now? I'll address part 1. for now (in #2417)

[2021-04-25 23:23] iesahin commented on #2411
From the looks of the script and what you tell here, a major upgrade may take too much time.

BTW, my local Ubuntu 20.04 installation also builds fine. ✅

@rogermparent

[2021-04-25 23:24] pmrowla commented on #2397
Merging/preserving the changes in an unrelated file is a useful feature IMO, especially with regard to the ability to create branches off of existing checkpoints. If I make a code change in one file and then want to test the changes against some other checkpoint branch, I can just `exp apply` the checkpoint and do `exp run`. To me this feels like a similar workflow to

[code]

With `git checkout`,

[2021-04-26 05:09] jorgeorpinel commented on #2397
Wouldn't `exp branch` be a better/easier route for this? (Maybe less efficient)

True, and `git stash apply` works similarly.

Up to you guys (but again, seems like a core issue/discussion). For now I have a Q on 1., @pmrowla :

This seems to contradict with another https://github.com/iterative/dvc.org/pull/2417#discussion_r619906850:

A bit confused 🙃

[2021-04-26 06:40] pmrowla commented on #2397
Yes it is essentially `git merge --theirs`. `git merge --theirs` is destructive (it forcefully overwrites any of your conflicting changes)

[2021-04-26 06:53] jorgeorpinel commented on #2399
Good point but I'd rather skip that note as it complicates docs and handling errors is a good practice anyway 🙂

Updated in b0fe6188 (part of #2417 which I started for other reasons but was already touching that text). It would now read:

[2021-04-26 07:09] jorgeorpinel commented on #2399
It's funny because we had the interrupt exception in the [example](https://dvc.org/doc/api-reference/make_checkpoint#example-every-100th-iteration) code but decided to remove it during review for simplicity 😆  So should I re-add it (and possibly make a short note about it)?

As for #2373, maybe under **Registering checkpoints in your code** as a hidden `<details>` section? Something like "What hap

[2021-04-26 07:12] jorgeorpinel commented on #2399
Well... Maybe the examples in https://dvc.org/doc/dvclive/usage and https://dvc.org/doc/dvclive/dvclive-with-dvc should handle exceptions then? But it's not checkpoint-specific. Cc @pared

[2021-04-26 12:42] julieg18 commented on #2411
@rogermparent, so if I'm understanding correctly, upgrading the `sharp` package stops the `master` builds from failing, but will most likely break the caching? And instead of just upgrading the `sharp` package, we could upgrade Gatsby from 2 to 3?

[2021-04-26 15:04] rogermparent commented on #2411
If you can get away with just upgrading `sharp`, our current packages still accept it, and if fixes things, that's a fine solution. However, if it involves upgrading `gatsby-plugin*sharp` it'll probably break caching.

[2021-04-26 15:10] julieg18 commented on #2411
The `gatsby-*-sharp` package did use the `sharp` package so I did upgrade that one when I was trying to fix the `build`. But since that probably breaks caching, looks like we'll need to try something else.

[2021-04-26 15:16] rogermparent commented on #2411
We don't necessarily have to ditch it just yet, if you've fixed builds we can at least get an emergency patch in that makes things work while we fix caching.

[2021-04-26 15:19] rogermparent commented on #2411
I was correct, builds succeed on my Linux box.

[2021-04-26 15:45] dberenbaum commented on #2399
Yup, my fault there! I vote to add it back, I didn't understand the implications at the time I suggested it.

👍

[2021-04-26 21:09] #2411 closed

[2021-04-27 00:09] jorgeorpinel commented on #2399
No worries, I think we all missed the implications and agreed to remove it. OK, reinstated in c54813b5.

[2021-04-27 01:05] dmpetrov commented on #2397
it is dangerous but ok. inconsistency (mix of changes) might be even a bigger problem:

It makes a lot of sense here.

@pmrowla what do you think about this even more aggressive (but consistent) strategy?

[2021-04-27 01:08] shcheklein commented on #2397
A suggestion/idea - run stash before doing hard reset, to make sure that nothing is completely lost and it can be reversed/merged.

[2021-04-27 01:14] dmpetrov commented on #2397
🤔 good idea.
However, it might confuse a user if he/she is an active stash user. Is there a way to reduce the confusion?

[2021-04-27 01:32] pmrowla commented on #2397
I'm still not convinced that doing the hard reset is what users would want here?

Let's say I've run some checkpoints and now I see that I want to change some params and re-run from a specific intermediate point. If I prefer editing my params files manually (vs using `-S`) I think I should be able to do

[code]

in either order (which is consistent with being able to edit code and then use `git ch

[2021-04-27 01:35] pmrowla commented on #2397
Also, @jorgeorpinel I missed this comment earlier. With regard to  `ability to create branches off of existing checkpoints` I wasn't talking about Git branches, I was talking about being able to make modifications to an intermediate checkpoint, and then start a new "checkpoint branch" off of that point which contains those modifications. Using `exp branch` here would forces users to create full Gi

[2021-04-27 05:48] jorgeorpinel commented on #2371
@pared feel free to contribute something to #2421 (if you have a chance) and I'll polish it up. Thanks

[2021-04-27 07:44] jorgeorpinel commented on #2397
OK! I'm still confused as to when `exp apply` can fail though. We currently say it may fail depending on Git being able to merge, but it should never fail if it overwrites conflicts with `--theirs`?

However, since the behavior may change soon, we can fix the docs once that is decided. Mind transferring this to the core repo, guys? Or please clarify what other doc updates are needed. Thanks!

[2021-04-27 10:32] rmlopes commented on #520
Hi,
I would like to setup an external Azure remote for the run-cache. It is not mentioned  in the docs how to configure it (similarly to what is done with S3 or GCloud). Reading though this issue it looks like it is not supported yet, am I right?

[2021-04-27 11:06] iesahin opened #2422 "ref: Emphasize multiple `-p` options instead of comma separated parameters in `dvc stage add` (and elsewhere)"
`dvc stage add` accepts multiple `-p`/`--params` options, so

[code]

is equivalent to

[code]

IMO, the former is more readable (and writable and splittable) than the latter. However, [the docs](https://dvc.org/doc/command-reference/stage/add#options) show comma-separated values as _the_ way to specify multiple parameters.

[code]

I think we should emphasize multiple `-p` options in all examples

[2021-04-27 11:53] pmrowla commented on #2397
Maybe I'm misremembering something, but I think there's still certain edge cases where using `--theirs` can fail and still require manually fixing conflicts (mostly involving binary files being tracked with git)?

[2021-04-27 12:34] pared commented on #2399
@jorgeorpinel I think there should be some pointer in `dvclive` section to exception handling, though I am not sure it should be explained extensively there - main point there is to pass the knowledge on `dvclive` usage. So I would think about something like
`What happens if I interrupt my code? Check here`

[2021-04-27 15:08] dmpetrov commented on #2397
@pmrowla you are right. it creates another layer of complexity. let's not do that.

[2021-04-27 15:33] shcheklein commented on #520
@rmlopes could you please move it to a separate question please in the DVC or DVC.org repo?

[2021-04-27 20:31] jorgeorpinel commented on #2399
Cool. I'll leave it up to you @pared. I personally don't think a change is needed in that case, but it wouldn't hurt either.

[2021-04-27 21:05] jorgeorpinel commented on #2397
I don't think `git merge --ours/theirs` can fail (unless there are file system issues or something else not worth considering). https://git-scm.com/docs/git-merge#Documentation/git-merge.txt-ours indicates that it's a forceful operation. I'll update the docs accordingly 👍 - a5de50ba

[2021-04-28 02:22] jorgeorpinel commented on #2422
Thanks for the idea @iesahin

This one would probably be easier to address as a PR. Mind sending a draft with your proposed change? At least on one or a few `stage add` examples, and a list of other places you would like to change.

BUT since we have the issue, I should say that IMO multiple `-p`s seems more readable in general. Maybe multiple ones in the `stage add` ref examples, or at least in i

[2021-04-28 02:24] jorgeorpinel commented on #2422
p.s. I see we agree on which one is more readable. So alternatively feel free to make a draft PR changing the description of `stage add -p` (option) so it doesn't seem like multiple ones is the recommended/only way.

[2021-04-28 05:27] skshetry opened #2426 "cmd-ref: document the new behaviour of `--precision`"
We changed the behavior in metrics diff/show for `--precision` to mean significant digits instead of affecting fractional digits (see https://github.com/iterative/dvc/pull/5872#discussion_r619979679). We have it documented as:

Which probably is trying to say that it affects fractional digits? Anyway, clarification on that would be helpful.

Before: `precision(1.4567, 2) -> 1.46` (i.e. 2 fractiona

[2021-04-28 09:25] iesahin commented on #2422
I noticed this while writing the new GS pipeline and didn't want to divert my attention. Will return to this certainly. Thanks @jorgeorpinel .

[2021-04-28 16:21] jorgeorpinel commented on #2399
Not sure this is closed actually, would you mind re-assessing @dberenbaum ?

[2021-04-28 16:29] dberenbaum commented on #2399
I think #2417 is good, at least for now.

[2021-04-28 16:29] #2399 closed

[2021-04-28 20:21] julieg18 opened #2427 "Postmortem: failing `master` builds"
This ticket contains a postmortem about an issue we were having with creating `build`s on the cloud a couple days ago.
## High Level Summary

Our `master` `build`s started failing last week, starting with [this one](https://dashboard.heroku.com/apps/dvc-org/activity/builds/6560e6e1-3a0a-4a89-94b2-21d4a1f193ea). We noticed once we attempted to deploy a branch on a pull request.

@rogermparent was a

[2021-04-28 20:22] julieg18 commented on #2427
This is my first postmortem, any comments/improvements are appreciated! 😄

[2021-04-28 20:35] rogermparent commented on #2427
Looks good! We should probably mention that the change to `engines: {node: "<=15.x"}` means this exact issue isn't going to happen again unless use `>` in a version specifier again.

We may want to check that no other projects use `>=` for their Node version resolution.

While the fix I made patches up the immediate issue, it does bring to light that we pinned `sharp` and everything downstream of

[2021-04-28 20:40] shcheklein commented on #2427
@julieg18 looks great! thanks. I would include you in the story - you spent some time researching and made a good attempt to  upgrade dependencies. This is an important piece of this puzzle.

[2021-04-29 00:41] shcheklein opened #2428 "ref: update `always_changed` status (due to checkpoint outs)"
Summary: jump to https://github.com/iterative/dvc.org/issues/2428#issuecomment-840227075

Had a discussion with @mattseddon today where we realized:

Seems like the description [here](https://dvc.org/doc/command-reference/status#local-workspace-status) is not exactly correct/complete.

1. `... the stage in dvc.yaml has the always_changed: true` part that refers to stages.
    - _Question:_ what if

[2021-04-29 00:46] pmrowla commented on #2428
The second point is correct, `checkpoint` outputs make a stage `always_changed`

[2021-04-29 00:49] shcheklein commented on #2428
then the good question is - is `always_changed` in this case ignored? :)

[2021-04-29 09:59] rmlopes opened #2429 "run-cache storage at Azure"
Hi,

I would like to setup an external Azure remote for the run-cache. It is not mentioned in the docs how to configure it (similarly to what is done with S3 or GCloud). Is this not supported yet?

[2021-04-29 10:00] rmlopes commented on #520
Thanks @shcheklein, Opened a new issue at DVC.org #2429

[2021-04-29 10:59] julieg18 opened #2430 "Footer not staying at bottom of page in 404 page"
There is a gap between the footer and the bottom of the page, starting at `610px` screen width:

![image](https://user-images.githubusercontent.com/43496356/116540588-f77f7280-a8af-11eb-9c3f-9363bc7ee35a.png)

[2021-04-29 13:01] dberenbaum commented on #2428
@shcheklein Can you clarify a bit?

What `explicit flag`? I'm also not clear what your statement in parentheses means.

In general, a stage will be considered always changed even if it doesn't have dependencies. For example:

[code]

Again, could you clarify what you mean here? Checkpoint outputs require stages to be `always_changed` so that every time someone runs that stage it generates a new ch

[2021-04-29 13:42] dberenbaum opened #2431 "case: deploying models for inference"
The scenario is that I train models using DVC pipelines, and now I want to use my trained model to make inferences on new data in near realtime as data streams through my production software application (unlike the scenarios described in https://github.com/iterative/dvc.org/issues/862, where a daily batch of data is input to the model). For example, if I train a model to recommend products on my s

[2021-04-29 13:50] dberenbaum opened #2432 "guide: all the ways to use checkpoints"
As shown in https://github.com/iterative/dvc-checkpoints-mnist under "Switch between scenarios," there are multiple different ways to integrate checkpoints into a project:

* Using dvclive
* Using make_checkpoint
* Using a manually created signal file
* Only including `checkpoints: true` in `dvc.yaml` without any in-code checkpoints (but this seems like an unlikely scenario that might be unnecessa

[2021-04-29 13:52] dberenbaum opened #2433 "DVC README"
Review the README in https://github.com/iterative/dvc since it is the first thing some users see, and it includes sections like "Comparison to related technologies" that may need to be updated and/or integrated into dvc.org.

UPDATE: See some ideas in #2443

[2021-04-29 17:02] shcheklein commented on #2428
Sure, I mean the `always_changed` flag here https://dvc.org/doc/user-guide/project-structure/pipelines-files#stage-entries

Yep, sorry about that. I've expanded the description. Please let me know if it makes more sense now.

same, tried to clarify in the description, PTAL

[2021-04-29 17:41] jorgeorpinel commented on #2431
So is the main difference with #862 in how the model is built and on how to setup a real time prod env?
Wondering if it can be a chapter of #862 instead.

Can the regular dvc.api suffice for now?

[2021-04-29 17:45] jorgeorpinel commented on #998
Hi @shcheklein, how do we feel about this one? I don't think there's been a huge need to doc the Repo "API" so far so should we close this? Thanks

[2021-04-29 17:59] jorgeorpinel commented on #2431
OK, I see that paragraph has the DVC-related questions. But I'm still not sure whether they only apply to the real-time context.

BTW maybe first we should have a model registry use case or update the data registry with a model-specific section? Or is it basically the same thing (we can just mention "and models" more)

[2021-04-29 18:30] dberenbaum commented on #2431
First, I should have mentioned that this issue is premature, so it's more of a placeholder for me to put down some thoughts until there is an established solution.

This issue is not really about how the model is built, which is what makes it different from #862. In #862, the dvc pipeline needs to be run on a regular schedule, most likely on some remote infrastructure (like a kubernetes cluster or

[2021-04-29 19:00] shcheklein commented on #998
Yes, Repo itself is not ready and not officially released.

[2021-04-29 19:00] #998 closed

[2021-04-29 19:04] dberenbaum commented on #2431
@jorgeorpinel You can even close this issue if you prefer, and we can reopen when it's more realistic to tackle it. Again, just wanted to document some thoughts.

[2021-04-30 02:21] shcheklein commented on #2431
@dberenbaum wrapping my mind around the idea that we might argue in the docs that people don't need separate model registries (vs or along with writing a use case for "model registry" that is similar to the current data registry). Love the idea! It's a powerful explanation of the DVC benefits in the "model registry" or CD scenarios.

[2021-04-30 05:22] pmrowla commented on #2428
The way we evaluate whether or not a stage is "always changed" is essentially `if (always_changed or checkpoint)`, so the presence of a checkpoint stage will override setting `always_changed: false`

[2021-04-30 07:20] jorgeorpinel commented on #2432
And soon #2373

I think it's sufficient for now. But ideally we should have an Experiments guide sub section with better separated pages (each shorter but covering more things as a whole), IMO.

[2021-04-30 07:20] jorgeorpinel commented on #2432
p.s. basically #2269 haha

[2021-04-30 07:35] jorgeorpinel commented on #2431
👍

No need, just trying to understand next steps for planning. This actually has more details than #862 which is nice. Probably we can put the questions of both together and from the answers several use case ideas will emerge, then we pick one to tackle first.

So far this sounds like a great first use case on the topic. Except perhaps for #2404 (covering CML directly)

[2021-04-30 07:55] jorgeorpinel commented on #2427
Thanks for the info!

I think it must have started earlier because the first "Automatic deployment of dvc-org failed." from Heroku is from April 21 ([this build](https://dashboard.heroku.com/apps/dvc-org/activity/builds/6560e6e1-3a0a-4a89-94b2-21d4a1f193ea)).

Anyway, TBH I don't think we noticed the builds were failing at that point, since all our CI checks were green.

We do have those emails fr

[2021-04-30 12:43] dberenbaum commented on #2292
#2381 seems sufficient for now. Closing this one.

[2021-04-30 12:43] #2292 closed

[2021-04-30 23:11] shcheklein commented on #2427
A few points:

- We do have a channel for this #websites-ops, it was clear that build is failing. We need to improve it - de-noise, filter, etc (if needed) and follow.
- We do get those emails from Heroku. - Yep

my take - we have quite enough, pepertrail is also set, but it's mostly about collecting logs.

[2021-05-02 15:34] skshetry commented on #2426
Closing for now as we rolled back the behaviour in https://github.com/iterative/dvc/pull/5904.

[2021-05-02 15:34] #2426 closed

[2021-05-03 19:25] julieg18 opened #2440 "Setup Universal Header/Footers"
* [Draft Design Mockup](https://www.figma.com/file/FOc5Lm4yy41tSu3GXpqEVN/Websites?node-id=0%3A1)
* Once design is completed, we need to update our header/footer to match design

[2021-05-04 11:09] pared commented on #2371
Close after #2421 and #2442 are merged.

[2021-05-04 17:21] casperdcl opened #2443 "READMEs vs Docs"
We need to decide on a clear scope of README files (and, *ahem, cough, cough* docs). Right now, https://dvc.org/doc/cml is just a mirror of https://github.com/iterative/cml meaning a lot of duplication - but there may be more things which need addressing too. Related: #2433.

My personal preference is:

- features: https://PRODUCT.com/features (heavy on graphics, low on text. High level intro to s

[2021-05-04 17:25] shcheklein commented on #2443
LGTM! :)

[2021-05-04 18:04] dberenbaum commented on #2443
Great proposal! I have two questions:

What is the goal of the features page? It's been previously discussed that the existing dvc features page may not be that useful. Maybe we can take a look at the popularity of this page and decide whether the current format is useful.

Does this mean something like https://github.com/iterative/dvc#comparison-to-related-technologies, where there is a link to e

[2021-05-04 21:18] casperdcl commented on #2443
Anything which doesn't exclusively target devs (i.e. purely marketing material targeting managers, and possibly also devs)

yes

That sounds like something for the bottom of the "features" page. Wouldn't necessarily mention it in the README.

[2021-05-04 23:39] dberenbaum commented on #2443
We can probably keep further discussion of the features and related technologies in separate tickets since there seems to be agreement that they don't belong in the readme, or at least should be as minimal as possible there.

[2021-05-05 00:18] #2340 closed

[2021-05-05 01:05] jorgeorpinel commented on #2443
Great topic!

Use Cases (features elaborated. High level intro to problems)
Use Cases + Features (list/diagram)
Anything which (that 😋) doesn't exclusively target devs

We have been considering merging that with the Use Cases (currently inside docs but unclear whether they belong there), and instead have visual-oriented "features" right in the home page (which we already try to do in dvc.org, see

[2021-05-05 02:57] jorgeorpinel opened #2445 "ref: which remotes can be configured via environment variables?"
We only mention env vars for S3, Azure, and OSS (in https://dvc.org/doc/command-reference/remote/modify).

- Are those the only ones that support env var-based configuration?
- What is the full list of env vars supported in each one? (we have links for S3 and Azure, and a list of 3 specific ones for OSS)

[2021-05-05 02:58] jorgeorpinel commented on #2445
Hi @efiop, would you know this or where to look/ who to ask? Thanks

[2021-05-05 03:13] #2371 closed

[2021-05-05 12:50] arcticbear commented on #2440
Design update:
+ Added states with opened header's dropdown menus
+ Updated social links order
+ Replaced the company label in the header to the tooltip / hint (works for desktop and tablet, for mobile we can show just a fixed label near the logo)

https://www.figma.com/file/FOc5Lm4yy41tSu3GXpqEVN/Websites?node-id=413%3A1

[2021-05-05 15:55] casperdcl commented on #2443
Sure, I don't have strong opinions on `/features` versus `/`. If `/` has no real content then `/features` may as well be moved to it.

Yes, but only minimally as an augmented table of contents for its main purpose (i.e. *getting started ToC* rather than *feature overview*).

The main point of this issue is about what to put in READMEs. I only mention websites as tangential to prompt ideas. #144 is

[2021-05-05 19:37] julieg18 commented on #2427
@rogermparent, I can create a ticket for upgrading to v3. Iterative.ai is at v3, but CML.org isn't. Do we need to consider upgrading CML.org as well?

Iterative.ai and Cml.org don't have a `engines` in their package.json. Which I believe means they use the latest version by default. Should we consider adding engines to either of them, so they don't risk breaking on an upgraded version of `node`?

[2021-05-05 19:49] rogermparent commented on #2427
For Heroku specifically, the default is a specific stable version , which is currently v14. It could be good to explicitly define the latest node we can use and then pin to that version (i.e. try 16, if it fails, do 15) and then that'd future proof us in the long term while being able to take advantage of the latest node features when we want to.

[2021-05-05 19:51] julieg18 opened #2447 "Upgrade to Gatsby 3"
Currently we are at Gatsby 2, which holds back our image processing.

By upgrading to Gatsby v3, we can:
- [ ] Upgrade `sharp` and corresponding image packages(`gatsby-plugin-sharp`, `gatsby-transformer-sharp`, `gatsby-image`, etc.)
- [ ] Upgrade to Node version 16(Currently at 15)

Issues that will need to be resolved when we upgrade:
- [ ] Upgrading to v3 will likely break our custom caching mec

[2021-05-05 20:00] shcheklein commented on #2447
@julieg18 this is a great summary, thanks! I wonder if we have some ticket related to caching already (cc @rogermparent )?

[2021-05-05 20:00] julieg18 commented on #2427
So if I'm understanding correctly, we should try to set are engines to something like `<=16.x`? `<=15.x` if it fails?

[2021-05-05 20:07] julieg18 commented on #2447
I couldn't find one, but there are quite a few issues, I could have easily missed one 🤔

[2021-05-05 20:10] rogermparent commented on #2427
It would probably be best to narrow it down with `16.x`/`15.x` when we can, `dvc.org` is a unique case because CircleCI uses Node 12 still and will break without `<=` - that may be easily fixable, but I haven't touched CircleCI much.

[2021-05-05 20:12] julieg18 commented on #2427
So it would look like: `engines: { node: "16.x" }`?

[2021-05-05 20:14] rogermparent commented on #2447
#1063 is an old ticket about image caching that can provide some context, particularly the latest comment from me on there can be considered a call for this Issue (though I think it was still Gatsby 2 then)

[2021-05-05 20:29] rogermparent commented on #2427
Yep! That's how it looks in the [Heroku docs](https://devcenter.heroku.com/articles/nodejs-support#specifying-a-node-js-version)!

[2021-05-05 22:05] arcticbear commented on #2440
Design update (mockups available on the same link):
+ Replaced the company label in the header back to the fixed one

[2021-05-06 01:16] jorgeorpinel commented on #2443
We have a how-to section https://dvc.org/doc/user-guide/how-to/stop-tracking-data

There was no original plan, we're improving as we go. The current intention is that Guides are explanations

Why? Interested in your fresh perspective

[2021-05-06 04:32] jorgeorpinel commented on #2428
No, `status` considers it up to date as long as it's output(s) exist, in which case `repro` doesn't run it (just tried it).

what if I set the always_changed: false flag for this stage?

Specifying any `always_changed` has no effect in that case (per @pmrowla's answer + I tried it). No error is thrown (should it?)

➕1 on completing the ref with that info, in fact that's the only missing part, I th

[2021-05-06 12:36] casperdcl commented on #2443
People are much more likely to first ask "How can I solve my problem?" (How-To) rather than "Thanks for solving my problem - how exactly did your solution work, btw?/I'm having an existential crisis. Why does my problem exist?/Where do we come from?/What is the meaning of life, the universe and everything?" (Explanation).

[2021-05-06 13:54] natephysics opened #2449 "install: missing `[webdav]` and `[hdfs]` from `pip` instructions"
In the following documentation, there's a missing option for pip install dvc[webdav].

https://github.com/iterative/dvc.org/blob/master/content/docs/install/linux.md

https://github.com/iterative/dvc.org/blob/master/content/docs/install/windows.md

[2021-05-06 15:41] jorgeorpinel commented on #2443
I'd prefer to know the meaning of life TBH. Otherwise yes, How-tos should get more quick traffic for sure: basically a support FAQ I guess?

BTW should we merge with #2433?

[2021-05-06 15:42] jorgeorpinel commented on #2433
Should we merge or clearly separate with #2443?

[2021-05-06 16:07] jorgeorpinel commented on #1838
This is the highest priority issue (somewhat) related to the website. I put it at the top in [the project](https://github.com/iterative/dvc.org/projects/1) for now. Are there plans to work on it? Should we change the priority otherwise?

Or are there there any other website/engine-related issues you have under your radar, e.g. maybe #1063, #1614 (would be my personal pick as I keep bumping with th

[2021-05-06 16:12] casperdcl commented on #2443
I think #2433 is a DVC-specific part of this (more general cross-project) issue so wouldn't merge it. I'd add an `epic` label here and reference it across other issues/PRs.

[2021-05-06 16:13] jorgeorpinel commented on #520
Hi. What parts of this epic are still high priority given that `--external` is now considered an experimental feature that needs redesigning?

[2021-05-06 16:16] jorgeorpinel commented on #2443
Good idea, either `epic` this, or extract the README-specific stuff to #2433 and make them clearly different? Up to you

[2021-05-06 16:20] jorgeorpinel commented on #520
p.s. I reordered the checkboxes, please org as needed.

[2021-05-06 16:27] jorgeorpinel commented on #53
Guys, can we close this old one in favor of https://github.com/iterative/dvc.org/issues/550#issuecomment-520541603 ? I feel like the community is mostly aware of these differences/relationships now but adding the concepts section will help too.

[2021-05-06 16:34] jorgeorpinel commented on #860
Hi there! @efiop can you confirm the given context is still up to date and/or copy the parts that now affect `repro` and `exp run`? Thanks

[2021-05-06 16:37] jorgeorpinel commented on #68
Hi! I wonder if users need to know this. What's the advantage or need to document it? Seems like an implementation detail. Or perhaps for security reasons (being able to confirm checksums)?

[2021-05-06 16:39] jorgeorpinel commented on #2443
BTW (if this is an epic), is this related too? #234

[2021-05-06 16:41] jorgeorpinel commented on #550
Howdy @casperdcl. Other than the tooltips you've added recently (in #2359) are you still planning to work on this? Please un-assign otherwise 🙂

[2021-05-06 16:46] casperdcl commented on #550
I'm not altogether sure what it really means to be assigned to an `epic` - assigned to push others to some the individual issue(s)? Given that the title is "new DVC Concepts section" there may be others better placed to do that. Unassigning for now.

[2021-05-06 17:30] MetalBlueberry commented on #68
In my personal case, we are working with a custom http remote that validates the checksum of the uploaded content. So being able to confirm the checksum is my personal need.

[2021-05-06 18:33] dberenbaum commented on #2433
I vote to keep separate since #2443 is more general about the structure of a readme and applies across products. This one is specifically a need to review the dvc readme. I view #2443 as more of an epic/discussion ticket and this one as a narrower one under that, but as long as we end up reviewing the dvc readme, I'm open to however you want to structure the tickets.

[2021-05-06 18:36] dberenbaum commented on #2433
I see you and @casperdcl already came to the same conclusion in #2443! Yay, more agreement!

[2021-05-06 21:21] rogermparent commented on #1838
I don't think this has even been considered for a while, so I suppose it's not quite a p0.

Unless we decide to pick this up, it may stand to be demoted to p1- the link checker is considered important, so hopefully it doesn't fall by the wayside.

If someone were to pick the link checker back up and fix its core issues described in the OP, it may warrant a rewrite that leans more into the CLI inte

[2021-05-07 00:02] shcheklein commented on #2449
Yes, we have some extras that are not documented:

https://github.com/iterative/dvc/blob/master/setup.py#L131

[2021-05-07 00:40] shcheklein commented on #53
Yes, we can close (the title of #550 is misleading to my mind - it was never about (only) SEO, it about introducing people into concepts and their relationships - like this ticket)

[2021-05-07 01:57] jorgeorpinel commented on #550
Assigned in general would mean someone is working on it or plans to do so soonish. Agree that it can be misleading to be assigned to an epic but it happens e.g. #1400.

[2021-05-07 06:09] #53 closed

[2021-05-07 09:33] iesahin commented on #1838
I can take a look at this after the dataset/scenario updates, in two weeks.

On Fri, May 7, 2021, 00:21 Roger ***@***.***> wrote:

[2021-05-07 12:54] iesahin commented on #1838
It looks like the Rust library behind

https://github.com/lycheeverse/lychee-action

is modifiable even if the [features](https://github.com/lycheeverse/lychee#features) don't cover our use cases.

[2021-05-07 13:03] iesahin commented on #1838
I can also [use the tool](https://github.com/marketplace/actions/check-links-with-linkcheck) @rogermparent mentioned. It's a Dart library and though may not cover everything we need, I can use it in a custom library.

If you would like a link-checker from scratch, I can write it too.

[2021-05-07 15:35] rogermparent commented on #1838
@iesahin My plan of attack would probably be:
1. Attempt a few already-made link checker actions (`lychee-action` and `filiph/linkcheck`). If one seems to perform well and reasonably cover our use case, just use it.
2. If all viable solutions from step 1 still leave us wanting some extra feature, attempt to wrap and/or add the features we want to an existing library.
3. As a last resort, write our

[2021-05-07 18:33] iesahin commented on #1838
These steps are similar to what I planned. @rogermparent

I'll test these 2 first and see if they are good enough. I think a thin wrapper around them may be needed at most.

[2021-05-08 05:40] jorgeorpinel commented on #2443
Also related: https://github.com/iterative/dvclive/issues/45 cc @pared

[2021-05-09 22:20] jorgeorpinel commented on #1179
Hi. What's the bug in this ticket? Thanks

[2021-05-09 23:20] jorgeorpinel commented on #1732
Hi @rogermparent. Is this still happening?

[2021-05-09 23:23] jorgeorpinel commented on #1761
UPDATE: The YAML part is also mentioned in #1509. The `diff` part should be fixed by #2359 (which will close this issue).

[2021-05-09 23:30] shcheklein commented on #1179
Check that on GA we track pages with and w/o query strings properly

[2021-05-10 00:01] jorgeorpinel commented on #1775
Closing as the original report has been addressed for a while + we haven't gotten complaints since.

[2021-05-10 00:01] #1775 closed

[2021-05-10 00:20] jorgeorpinel commented on #2079
Hi @pared I just tried `dvc import git@github.com:iterative/example-get-started data/data.xml` and it worked on DVC 2.1.0 (also works for `model.pkl`), even when the [source](https://github.com/iterative/example-get-started/blob/master/data/data.xml.dvc) is itself an import. Yet iterative/dvc/issues/3305 is still open, do you know what's happening? 🙂

Closing here for now since all docs examples a

[2021-05-10 02:38] jorgeorpinel commented on #2115
Reviving this 😬

Actually @dberenbaum I don't know if that addresses this problem because without fixing the messaging it's pretty hard to even realize that you have to recover some old .dvc file version. So I think we should either transfer this back to the core repo or close it, and since users haven't run into this issue that I know of (wdyt @efiop ?) I'm closing it for now.

[2021-05-10 02:38] #2115 closed

[2021-05-10 02:39] jorgeorpinel commented on #2215
Hey @skshetry is #1509 basically part of this one? 🙂

[2021-05-10 02:42] jorgeorpinel commented on #2449
Does this also apply to `conda`? Cc @efiop thanks

[2021-05-10 04:13] skshetry commented on #2215
@jorgeorpinel, this is about syntax highlighting in the Usage. If you ordered them in a different way or indented them in a different way, highlighting would just fail.

See https://github.com/iterative/dvc.org/pull/2208#discussion_r578121470 and https://github.com/iterative/dvc.org/pull/2208#discussion_r578121864.

[2021-05-10 10:03] pared commented on #2079
Seems like @efiop went to the next level: now he is fixing issues he did not intend to fix. iterative/dvc#5324 is a "culprit" here. Ill inspect this issue and see whether it also fixes iterative/dvc#3305

[2021-05-10 13:48] efiop commented on #2449
@jorgeorpinel webdav is not included into conda at all, as there is no corresponding dependency package there. We'll likely just wait for webdav4 and then introduce a conda package for it too.

[2021-05-10 13:48] rogermparent commented on #1732
Probably not for a while, I was put on another project before actually tackling this and doing the diagnosis on this ticket would demand quite a bit of focus for a while because it involves a _lot_ of waiting for our cloud rebuilds.

[2021-05-10 17:07] jorgeorpinel commented on #1509
I changed the workaround in #2458 so the block is aligned.

[2021-05-10 17:27] jorgeorpinel commented on #1509
BTW this also happens in the `git` block under that YAML block too:

![image](https://user-images.githubusercontent.com/1477535/117699538-964a7f80-b18a-11eb-9b4d-856af14355c7.png)

The code is correct:

[code]

So this probably applies to many kinds of code blocks that are indented themselves.

[2021-05-10 17:30] jorgeorpinel commented on #1509
Cc @rogermparent @julieg18 here's a docs-engine bug that I think would be the most useful to target next, whenever you guys are planning to look towards dvc.org.

[2021-05-10 18:04] jorgeorpinel commented on #2215
OK. It looks like it's no longer happening. Please approve #2461 which will close this 👍

[2021-05-10 18:21] jorgeorpinel commented on #1732
OK sure no rush, thanks for the info.

[2021-05-10 20:40] rogermparent commented on #1509
I believe this has to do with code blocks nested inside custom components not being handled correctly. All the instances I've seen at the top level are fine.

[2021-05-10 21:25] jorgeorpinel commented on #1509
Yep

[2021-05-10 21:43] efiop commented on #2445
@jorgeorpinel Pretty much needs a deep dive into corresponding libraries to see what they accept beyond what dvc passes directly. No simple answer here :slightly_frowning_face:

[2021-05-11 03:03] #2215 closed

[2021-05-11 03:04] #2089 closed

[2021-05-12 01:24] pmrowla opened #2465 "ref: explain relative path behavior for all config values"
In the docs for `config` we specifically note that for `cache.dir`

It's unclear that:

1. This relpath behavior actually applies to **all** config entries that take paths - including remote options like `credentialpath`. (We don't mention this anywhere on any of the remote docs pages, and all of the examples on the remote pages only use absolute paths)
2. Paths manually written to the actual conf

[2021-05-12 05:14] tapadipti opened #2468 "studio: further enhancements"
This issue has been created for unresolved PR comments on https://github.com/iterative/dvc.org/pull/2455 This issue is intended to be closed before the public release (see also unresolved reviews/comments in that PR).

- [x] use images that are at least 1400px width

- [x] Should "compare" be reflected in the sidebar label?
_Originally posted by @jorgeorpinel in https://github.com/iterative/dvc.or

[2021-05-12 05:21] tapadipti opened #2469 "docs: better image processing (similar to blog)"
**This issue has been created for unresolved PR comments on #2455 This issue is intended to be closed before the public release.**

_Originally posted by @shcheklein in https://github.com/iterative/dvc.org/pull/2455#discussion_r630528533_:

I think this is about retina-like display support. Unlike the blog engine, DVC.org doesn't process images properly. And effective you have to put extra white-b

[2021-05-12 20:09] jorgeorpinel commented on #2469
Extracted the img resizing part to #2468 (I think it's needed anyway)

[2021-05-12 20:31] #1761 closed

[2021-05-13 01:51] jorgeorpinel commented on #2428
Related support case: https://discuss.dvc.org/t/experiments-with-checkpoint/744

So to recap here:

- Update `always_changed` description in `dvc status` to mention checkpoint outputs force stages into this state ("so that every time someone runs that stage it generates a new checkpoint regardless of whether dependencies have changed")
- Probably also mention vice versa in some of the checkpoints

[2021-05-13 02:45] jorgeorpinel commented on #2465
2. Paths manually written to the actual config file should be relative to the config directory (this also means --global and --system

I think that "A correct value is ... a path relative to the config file location" covers that. Maybe we should emphasize about system/global though.

Wait, so is the info in `cache.dir` wrong? I.e. the default value couldn't be just `cache` (that would be converted

[2021-05-13 02:53] jorgeorpinel commented on #2465
Yup

[code]

I tried it and it seems so. It has the exact same result as `dvc config cache.dir`. When did this change? 🤷
I opened https://github.com/iterative/dvc/issues/6003

[2021-05-13 02:55] jorgeorpinel commented on #2465
\* meant `dvc config cache.dir cache`

[2021-05-13 20:59] flippedcoder opened #2474 "start: improvements"
- [x] Remove the Sharing experiments section from Get Started > Experiments

We should remove the [Sharing experiments section](https://dvc.org/doc/start/experiments#sharing-experiments) since it adds more complexity to the Get Started tutorial than there needs to be since users have to set up a Git remote as well as a DVC remote. We don't go over this at any other point in the tutorial.

If a use

[2021-05-13 21:27] dberenbaum commented on #2474
@flippedcoder Do you mind separating these whenever you have a chance? We try to be pretty strict about keeping issues logically separate so that one part of an issue doesn't block the rest of the issue from being resolved.

[2021-05-13 22:47] jorgeorpinel commented on #2474
Checkboxes could also work, or be a good first step.

[2021-05-13 22:48] jorgeorpinel commented on #2474
May also be good to see if we can consolidate with #1943.

[2021-05-14 04:27] skshetry opened #2476 "swipe on mobile: feature or a bug?"
Accidental touches on my phone were changing the pages (in dvc.org/doc). Is it something that we intended to support or was it accidental?

Without any animations/indications, I was not able to figure out what happened for a while. Maybe the sensitivity could be reduced as well.

[2021-05-14 11:52] julieg18 commented on #2476
I think it's a feature looking at this [code](https://github.com/iterative/dvc.org/blob/master/src/components/Documentation/Markdown/index.tsx#L156) in the Documentation components.  Looking at the docs on my phone, it does seem like the sensitivity could be reduced. Some kind of indication on what is happening may lower confusion as well 🤔

[2021-05-14 17:01] jorgeorpinel commented on #2476
Interesting! It's a cool feature since the nav isn't always visible in mobile although then again not something very common so Idk if people will even think to use it once we reduce the sensitivity. But definitely shouldn't go off accidentally when you're trying to scroll (that's the bug part).

[2021-05-15 15:52] iesahin opened #2479 "start: A new GS:Experiments document with `get-started-experiments`"
Katacoda [GS:Experiments scenario](https://katacoda.com/dvc/courses/get-started/experiments) employs [`dvc-get-started`](https://github.com/iterative/dvc-get-started) to introduce experiment features already. The scenario uses [`dvcorg/doc-katacoda:experiments`](https://hub.docker.com/repository/docker/dvcorg/doc-katacoda) container.

Let's upgrade [GS:Experiments documentation](https://dvc.org/do

[2021-05-16 06:15] nik123 opened #2480 "dvc stage add: redundant "Implies --no-exec" for -c flag"
Description of `-c` option in `dvc stage add`:

Since `dvc stage add` doesn't have `--no-exec` option I suppose "Implies --no-exec" should be removed.

[2021-05-16 20:42] #2480 closed

[2021-05-16 22:47] #429 closed

[2021-05-17 00:04] jorgeorpinel commented on #682
Hi @efiop @dberenbaum . What do you guys think about this idea? Could it be a good general use case/ entry point for new users interested in solving this?

If not, it is worth keeping the proposal as a prospective "best practice" instead?

Otherwise I'll close this one. Thanks

[2021-05-17 02:38] jorgeorpinel commented on #563
I think that at this point it's unclear whether a how-to is needed and most of the content will be covered by #520? Can we close this @shcheklein ? Thanks

[2021-05-17 02:47] shcheklein commented on #563
Might be. It's not clear to me how will #520 evolve. This is one is quite precise and I would close when we clearly see that it is addressed (by #520 or whatever else). And this one is important indeed. Might be more important than clarifying `--external`, for example

[2021-05-17 03:41] jorgeorpinel commented on #144
Here's a proposal:

- /docs 🏠 (Home) with linked list to **Get Started** topics
  - cases 💡 Use Cases  _- may extract to /cases (outside of docs) later_
  - guide 📖 User Guide: main container (separates from refs.) _- consider skipping this level_
    - what-is-dvc  _- maybe merge with / home_
    - install/  Per OS, Pre-release, Shell completion, Env Tips (IDEs, Win)
    - dvc-files/  **Metafile

[2021-05-17 05:09] casperdcl commented on #144
Re: doc-vs-docs, a slight update to my "slight preference for fewer chars" https://github.com/iterative/dvc.org/issues/2443#issuecomment-832808614:

Mathematics -> maths (UK)/math (US). Documentation -> doc (universal), surely? Please don't tell me it's doc (UK)/docs (US) :confused:

[2021-05-17 05:11] casperdcl commented on #144
I wouldn't nest everything under a "guide" (or whatever name) level - seems like unnecessary user navigation difficulty.

[2021-05-17 06:20] dmpetrov commented on #144
Is **Data Management** a good name for the topic? DVC versions and transfers data that goes to ML model. Data management seems like a broader term that might include data sources before it goes to DVC - Data Wherehouse/DB or a directory with "immutable" data / S3. The only scenario when DVC does proper data management is [data registry](https://dvc.org/doc/use-cases/data-registries). I don't see a

[2021-05-17 12:44] dberenbaum commented on #682
It seems like more of a best practice to me, but I'm still unclear on what the suggestion is. For a use case, it seems like this would need to show off some feature of DVC, but I don't really see how DVC does anything to solve issues of partitioning or compression. If it's about how we suggest users partition or compress data for DVC, then it makes sense as a best practice. Do we actually have som

[2021-05-17 16:59] iesahin commented on #144
* IMHO it may be `doc` or `docs`, but if it could be identical with the file path (currently, `docs`), I could navigate the [links] with my `gf`.

* For _data pipelines_, another alternative may be _model pipelines_, as it's usually the end product, or _data-model pipelines._ (Data in, model out.)

[2021-05-17 19:59] jorgeorpinel commented on #682
I don't think so. But I know this topic comes up now and then. I think we mainly assume/recommend no compression at least, but some storage platforms can automatically enable it.

As for partitioning I know some large file formats like [Parquet](https://spark.apache.org/docs/latest/sql-data-sources-parquet.html#partition-discovery) (and maybe [HDFS](http://hadoop.apache.org/docs/r1.2.1/hdfs_design

[2021-05-18 00:27] shcheklein opened #2485 "ref: azure: fix cloud config docs"
Specifically `dvc remote modify`:

- [x] Link `all env var` does not cover _all_ vars (remove for now)
- [x] We need to list actually available vars - e.g. I see `AZURE_CONFIG_DIR` - do we mention it?
- [x] AZURE_STORAGE_CONNECTION_STRING, AZURE_STORAGE_CONTAINER_NAME - what else?
- [x] Small style bug with code block
- [x] dvc end: check `unable to connect to account for Must provide either a con

[2021-05-18 00:48] shcheklein opened #2486 "regular: fix expired and broken links"
See https://github.com/iterative/dvc.org/actions/workflows/link-check-all.yml

[code]

[2021-05-18 01:00] jorgeorpinel commented on #2486
Seems like the most important ones (last 2) are about CML cc @casperdcl

Do we want to maintain old blogs like this though? I guess these are not so old so why not fix them indeed...

[2021-05-18 05:49] jorgeorpinel opened #2487 "guide: extract shared cache info from shared dev server case"
Per https://github.com/iterative/dvc.org/pull/2482#pullrequestreview-660486847:

UG -> Data Management -> Shared Cache
[Or] in the How to, we can have - "How to avoid duplication of data in the team", "How to organize team storage for large raw datasets", etc, etc.

Rel https://github.com/iterative/dvc.org/issues/144#issuecomment-841960760

[2021-05-18 05:51] jorgeorpinel commented on #2487
Currently being made into a How to in #2482.

[2021-05-18 07:35] isidentical commented on #2485
pre requisite: iterative/dvc/pull/5833

[2021-05-18 10:49] AllanOricil commented on #1333
I was gonna assign it to myself but I dont have the right to do it haha. Can you do it @shcheklein

[2021-05-18 18:54] jorgeorpinel commented on #144
@casperdcl it's not universal but also I don't thin it's related to US vs UK. TBH I wasn't proposing to change it, it just came out that way. But a quick check gives me the impression that `docs` is more common e.g. terraform.io/docs, docs.aws.amazon.com, developers.google.com/docs, docs.microsoft.com/en-us/azure

I incline the same way but you would need to scroll a lot to find the references wit

[2021-05-18 20:26] jorgeorpinel commented on #2121
Unassigned @isidentical since the only thing left is to differentiate the to-remote exampled in `add` vs `import-url`, which we should be able to do (that said feel free to contribute a draft @isidentical).

@dberenbaum please check/repost in #520 🙂

[2021-05-18 21:39] casperdcl commented on #144
I assume he meant `gfm` (*github flavoured markdown*) rather than the usual abbreviation for *girlfriend*

[2021-05-19 00:42] jorgeorpinel commented on #820
Summary on MLOps-related use case ideas:

- **Training on a remote machine** #194 was the first idea and would narrowly focus on remote SSH executors. We can prob consider it part 3.0 experiments now, I think? (I can't find the related issue or discussion but I know there's one).
- **DVC in Production** #862 sounds broad but it intends to define and doc best practices around "synchronizing" DVC pi

[2021-05-19 01:00] shcheklein commented on #820
Should this be a separate story ticket (new use cases vs revising existing ones)?

[2021-05-19 01:14] shcheklein commented on #144
(I assume that doc/docs, `cases`, etc - are not about changing names and URLs, but rather local names here to discuss the structure and refer to the sections faster)

- I don't see get started here. I see it's hidden under UG, but I would not do this. It's better to have it as a top-level section. `cases` are too abstract, it better to start with usual things about the product - how to start, how

[2021-05-19 01:42] jorgeorpinel opened #2490 "[SPIKE] cases: list of ideas (related to prod envs)"
- **Training on a remote machine** #194 was the first idea and would narrowly focus on remote SSH executors. We can prob consider it part of 3.0 experiments now? (I can't find the related discussion but there's one cc @pmrowla)
- **DVC in Production** #862 sounds broad but it intends to define and doc a best method around "synchronizing" DVC pipelines between experimental local dev and working pro

[2021-05-19 01:42] jorgeorpinel commented on #820
OK: #2490

[2021-05-19 01:46] jorgeorpinel commented on #2490
And a side question: is this direction a higher priority than Experiments? (see #2270)

[2021-05-19 01:55] shcheklein commented on #2490
Some thoughts:

- CI/CD is taken care of by @casperdcl . It takes time to iterate but we will get there. And I think we'll be fine, at lease with this specific title.
- `Deploying models for real-time inference` - yep, feel too narrow, need to find a better angle
- `Model zoo` - is too high level concept I think (model zoo is close to a product). I think we can start with a `model registry`?

Some

[2021-05-19 01:57] shcheklein commented on #2490
title is confusing `cases: MLOps direction` for me ... why not just - cases: list of use case to write ?

[2021-05-19 04:22] jorgeorpinel commented on #68
This seems to keep coming up in support channels. Bumping priority a little.

Also, here's the relevant code: https://github.com/iterative/dvc/blob/aab5dec7f5f6dd16c00942285bfd229c693446b6/dvc/utils/__init__.py#L44

[2021-05-19 05:50] iesahin commented on #144
`gf` is _go to file_ in vim. 😁 It's easier to navigate the links by having the cursor on link and type `gf`. This feature is also available in VS Code markdown plugins I think. We can't navigate the links offline because links are `/doc/` but paths are `docs/`.

I also think it's a not a big deal. I have other means to navigate.

[2021-05-19 07:46] jorgeorpinel commented on #144
@shcheklein a) if we remove the UG level (https://github.com/iterative/dvc.org/issues/144#issuecomment-841990301) then they're the first pages under each topic, b) we could repeat those pages in 2 places, c) we can list/link them all directly in /docs home.

I also don't mind keeping a top-level Gs group for now but its structure looks a lot like the proposed top-level (or UG) structure: Data, Pip

[2021-05-19 10:25] casperdcl commented on #144
wrt https://github.com/iterative/dvc.org/issues/144#issuecomment-841960760:

- `/doc/cases`

I'd say merge with `/features` and `/`. Complex tutorial-like bits to be extracted to other doc pages.

- `/doc/guide` -> `/doc`

level?_

`/guide/` is a meaningless level - apparently only exists to collapse irrelevant info for those looking for `/doc/api-ref/` and `/doc/cli-ref/`. There are other ways to

[2021-05-19 11:26] isidentical opened #2492 "dvc dag: tag is not properly closed"
From the [first paragraph](https://dvc.org/doc/command-reference/dag#directed-acyclic-graph)
[code]

[2021-05-19 16:24] jorgeorpinel commented on #2465
@pmrowla feel free to chime in #6003 to try and move this along. Thanks

[2021-05-19 16:25] jorgeorpinel commented on #2465
\* in https://github.com/iterative/dvc/issues/6003

[2021-05-19 17:35] jorgeorpinel commented on #2490
OK we're going to try to make this into a spike to come up with actionable items within 7 days or less hopefully. Please help if you can guys. I'll tag people via chat... ⌛

[2021-05-19 19:49] #2492 closed

[2021-05-19 19:50] shcheklein commented on #2492
thanks @isidentical ! (there is an Edit on Github button on each page- please feel free to do quick fixes like this :) )

[2021-05-19 20:11] dberenbaum commented on #2490
It might help to start with thesis statements instead of topics. Thesis statements would be like single-sentence use cases arguing for the utility of the products in given scenarios. Use cases are more persuasive writing compared to the explanatory writing of other docs, so a topic may not clarify what we plan to say about it. This will probably take more time and debate, but hopefully we will hav

[2021-05-19 21:02] jorgeorpinel commented on #144
@casperdcl thanks. I think we can worry about moving /cases out of docs and about outliers (contrib, troubleshooting) in a 2nd iteration.

Yes, my main proposal is to remove the /guide level. I don't know if it's completely meaningless (the word "guide" gives you a good idea of what you'll find inside) but it's better to reorg into the topics discussed above. And I think we can find the right name

[2021-05-19 21:18] jorgeorpinel commented on #2490
Because we also have **cases: Experiments** #2270. That seemed like a totally different direction from all the previous ideas (mainly from #820) which I think at least somewhat relate to MLOps. Happy to change the title but this is not the a comprehensive/ definitive list of ideas in all possible DVC/CML/etc directions.

[2021-05-19 21:22] jorgeorpinel commented on #2431
From https://github.com/iterative/dvc.org/issues/2490#issuecomment-843685144:

@dberenbaum do you want to elaborate on this idea or close in favor of #2490? Up to you, thanks.

[2021-05-19 21:30] jorgeorpinel commented on #2270
From https://github.com/iterative/dvc.org/issues/2490#issuecomment-843685144:

I'm still unclear whether an experiment-related use case would be a higher priority than a modeling-related one (#2490)

Cc @shcheklein

[2021-05-19 21:31] jorgeorpinel commented on #2270
But I would think the ML model direction has been waiting for a use case for longer so I'd go for that first.

[2021-05-19 21:34] jorgeorpinel commented on #2490
**Model Registry** - discovery and reusability

I have a feeling that model registry isn't different enough from data registry to write a full use case. But maybe it can be part of a Model Lifecycle use case (DVC for ML model-ers). I like that idea! It could also cover or mention some of the topics above (training remotely, deployment, real-time predictions).

[2021-05-19 22:21] casperdcl commented on #144
I agree, this is what I meant. More accurately I mean "it's not useful to nest things under a level whatever you call it."

[2021-05-20 02:49] shcheklein commented on #2270
The initial title was `Exp Use Case` which is different from the `Experiments direction` to me, unless I'm missing something. It's one vs many.

[2021-05-20 02:57] shcheklein commented on #2490
The way I initially understood the title `cases: new directions` and the meaning of this research is to consolidate all possible ideas (w/o this split - experiments, ml models - which is hard for me to understand tbh - e.g. why experiments are not about models?).

The title for that ticket you mention about experiments was about one specific use case to my mind.

it's a matter of what we are optim