[2020-06-04 18:11] jorgeorpinel opened #1394 "docs: remove condescending/scary language"
Here's a good article about this: https://dev.to/meeshkan/how-to-remove-condescending-language-from-documentation-4a5p#what

TL;DR: Presenting something as "extremely simple" (with the intention of selling a benefit) may result in the reader feeling intimidated, esp. if they don't find the topic simple.

Examples

[code]

Some of these have legitimate uses like "just" as a quantifier e.g. _just on

[2020-06-04 22:35] shcheklein commented on #1073
Reopening since it's not done yet.

[2020-06-05 00:02] #540 closed

[2020-06-05 01:54] kurianbenoy commented on #1394
Can I work on this task?

[2020-06-05 05:24] jorgeorpinel opened #1395 "glossary: create Glossary page (besides Basic Concepts?)"
"Basic Concepts" is an actual proposed section (see #550) and not related (?) specifically to the tooltips/glossary. Furthermore, it's used all over docs, not just in the User Guide.

Should we put it perhaps in content/docs/glossary/ ?

---

UPDATE: Jump to https://github.com/iterative/dvc.org/issues/1395#issuecomment-857923802

[2020-06-05 05:30] shcheklein commented on #1395
I'm not sure I understand the proposal and the context (I have some ideas, but not sure we are on the same page). Could you clarify please?

[2020-06-05 05:30] shcheklein commented on #1395
Also, is it a good first issue?

[2020-06-05 06:13] jorgeorpinel commented on #1395
Motivation: I just find it strange that these md metafiles are found in user-guide/basic-concepts/
Also, they are more like glossary terms than basic concepts (there's overlap of course)

Maybe not conceptually but I'm guessing it's a pretty simple task i.e. just move the files and grep replace the path in JS source code.

[2020-06-05 06:26] shcheklein commented on #1395
The idea behind `user-guide/basic-concepts/` structure is to eventually drive both - basic concepts and glossary. Glossary items feeding from some frontmatter entries, or summarizing basic concepts articles in some other way.

I think that should be more or less enough and we won't need a separate glossary section.

[2020-06-05 06:31] jorgeorpinel commented on #899
Good idea. We can also review recent Monthly Gems blog posts e.g. https://dvc.org/blog/may-20-community-gems. But these small/specific questions are not enough for how-tos. We would need to find patterns among them and extrapolate larger how-to guides that cover most of these.

I don't know if I understood this explanation. Maybe something more graphical proposal or even a draft PR to showcase you

[2020-06-05 06:31] jorgeorpinel commented on #899
I don't know if I understood this explanation. Maybe something more graphical proposal or even a draft PR to showcase your suggestion would be better.

This looks more like a F.A.Q. Again, I think we need more complex scenarios for how-to versions, each one with a page. Many proposals are already listed in the description of this issue.

However @PseudoNerd, this epic is still too big right now, a

[2020-06-05 06:42] jorgeorpinel commented on #1167
OK but I think this is much easier to implement and covers the basic need of #593: "having docs for different DVC versions".

[2020-06-05 06:47] jorgeorpinel commented on #593
For the record (as mentioned in https://github.com/iterative/dvc.org/issues/1167#issuecomment-624338998) the first 1.0-related PR was #1215 so the last commit in master before that + the [0.94 release](https://github.com/iterative/dvc/releases/tag/0.94.0) updates would make up the last known pre-1.0 docs state.

[2020-06-06 07:07] jorgeorpinel commented on #1390
Glad to read that.

Yeah good point. Just the headers and commas or tabs I guess... Ha. Probably not worth it unless the columns could actually be aligned to look like a table or transformed into an md table somehow — and I'm not sure we really need/want that.

Yes exactly. But I guess it's just a nice-to-have feature request at this point. Not a priority

[2020-06-06 18:01] shcheklein commented on #1390
the only thing I would do is may be some highlighting and font size, but we should not be transforming code blocks into anything fancy. Code blocks preserve the formatting, you should be able to copy/paste the value from them as is.

[2020-06-06 18:08] jorgeorpinel commented on #1390
@rogermparent how can we see that, BTW? Here's a `csv` code block, it's not transformed:

[code]

A fancy widget could have a 📋 icon to copy the values.

But yeah again, I don't think something fancy is needed either. Maybe just a custom highlighter to align the columns (if possible), bold the headers, and color the commas, something like:

[code]

[2020-06-06 19:19] jorgeorpinel commented on #593
p.s. including #1384 would also be nice.

[2020-06-06 20:06] MayankGoel28 commented on #1369
Just to be clear, this means all the codeblocks which use `` ```dvc`` will now be `` ```console``?

[2020-06-07 00:47] shcheklein commented on #837
@dashohoxha do you remember what was the idea behind this ticket?

[2020-06-07 01:03] shcheklein commented on #1000
Updated. Made the last item in the list p0, since people stopped paying attention to CI.

[2020-06-07 01:23] shcheklein opened #1400 "rewrite interactive tutorials"
Introduction of interactive tutorials was an important and good step, but content and structure is in a pretty bad shape. We need to:

- Integrate the repo with them into dvc.org repo?
- [ ] Review and delete overlapping, too niche scenarios
- [ ] Review other tutorials content - we do strange things there (like use of `--no-scm` which is clearly not important) in the get started, etc.

I suggest

[2020-06-07 05:20] mformihir commented on #1395
Can I start off my contribution to DVC with this issue, @jorgeorpinel ?

I've looked up for 'basic concepts' on the DVC website and this is the page I got: [basic-concepts](https://dvc.org/doc/tutorials/interactive#basic-concepts)
I suppose this issue has already been worked on? If it is the case, I will try another issue.

[2020-06-07 05:42] mformihir commented on #1394
After running [alex](https://alexjs.com/), I've quite a lot of occurrences of condescending language, there are too many files to change at once.

Some examples of files that contain condescending language are:
[checkout.md](https://dvc.org/doc/command-reference/checkout)
[commit.md](https://dvc.org/doc/command-reference/commit)
[config.md](https://dvc.org/doc/command-reference/config)
[destroy.md

[2020-06-07 06:17] jorgeorpinel commented on #1394
Nice tool @mformihir! Let's give #1396 some time first, since it's already trying to address this issue, and come back to your report after that.

[2020-06-07 06:18] jorgeorpinel commented on #1394
p.s. You may want to find something else to work on in the context of GSoD for now.

[2020-06-07 08:32] dashohoxha commented on #837
I don't. You can close it.

[2020-06-07 10:47] MerlynMShelley commented on #857
![Screenshot_20200607_161407](https://user-images.githubusercontent.com/46276713/83966777-f6310a00-a8d9-11ea-8782-33559f11e040.jpg)
When I share I blog link in slack, it's displaying the page title and the image in a smaller size. If we further want to increase the size of the image, we have to work with the Twitter summary of cards with larger dimensions of the picture. So please help me in knowi

[2020-06-07 11:17] MerlynMShelley commented on #1119
Hi Team,
I have found these issues in improving the SEO of the site,
![IMG_20200607_164351](https://user-images.githubusercontent.com/46276713/83967387-6f326080-a8de-11ea-946b-0d696124bd29.jpg)
![IMG_20200607_164334](https://user-images.githubusercontent.com/46276713/83967392-735e7e00-a8de-11ea-99de-2621cd6e35d8.jpg)
![IMG_20200607_164311](https://user-images.githubusercontent.com/46276713/8396739

[2020-06-07 14:50] MerlynMShelley commented on #857
![Screenshot_20200607_201626](https://user-images.githubusercontent.com/46276713/83972173-48832280-a8fc-11ea-9b5e-3e1e042b8d36.jpg)
@jorgeorpinel @shcheklein
I can't add image at #1379 so I am referencing here.

[2020-06-08 00:27] #837 closed

[2020-06-08 03:02] rogermparent commented on #1390
I meant when you open a .csv file in a repository, not in comments. Markdown and yaml files similarly display frontmatter. I don't think we have a csv in this repo, but [Markdown files definitely do something similar with frontmatter](https://github.com/iterative/dvc.org/blob/master/content/authors/dmitry_petrov.md). I could be misremembering this happening with CSV.

[2020-06-08 03:05] rogermparent commented on #1390
[Here's an example of GitHub's rich CSV preview from another repo](https://github.com/goodby/csv/blob/master/example/user.csv)

[2020-06-08 03:26] shcheklein commented on #1390
so, this is exactly a code block. Code blocks should be preserved for the reasons I mentioned above. I think we can apply only colors, fonts, may be some whitespaces but carefully.

I think we are breaking a convention here if we create something "fancy"

[2020-06-08 11:38] MayankGoel28 commented on #1369
@jorgeorpinel is this a generic substitution of all `` ```dvc`` to `` ```console``? Wanted to confirm as there's some discussion on this. If so, I can apply a regex script to do so.

[2020-06-08 15:06] kurianbenoy commented on #1400
Just had a small quick thought in my mind, As a download button, can we give an option to download the docs as PDF?
cc: @jorgeorpinel @shcheklein

[2020-06-08 16:16] skshetry opened #1405 "deleted pages still show up"
Eg: [`metrics` subcommands that were removed recently still appear](https://dvc.org/doc/command-reference/metrics/add
).

It shows 404 at first, and then fetches from cache somewhere and displays the old data.

[2020-06-08 18:46] jorgeorpinel opened #1406 "nav: can't have 2 items with the same name, apparently"
I added this to top level of sidebar.json:

[code]
without removing the other Get Started inside Tutorials:

![image](https://user-images.githubusercontent.com/1477535/84068010-fa1e6400-a98d-11ea-8c42-9329ef361802.png)

But the link of the added on in the top level goes to /doc/tutorials/get-started 😕

![image](https://user-images.githubusercontent.com/1477535/84068239-49649480-a98e-11ea-85e1-28c9

[2020-06-08 20:10] jorgeorpinel commented on #1405
Weird! Looks like a deployment cache issue because the document is gone gone from the code base.

[2020-06-08 20:39] shcheklein commented on #1400
@kurianbenoy check this one https://github.com/iterative/dvc.org/issues?q=is%3Aissue+is%3Aopen+epub+

[2020-06-08 21:59] jorgeorpinel opened #1409 "move: support dvc.yaml stages (1.0) [qa]"
I understand `dvc move` only works for data added (.dvc files) in 1.0

However `dvc remove` works for both stages in dvc.yaml as well as .dvc files. Should move also support dvc.yaml stages or their outputs?

[2020-06-08 22:00] jorgeorpinel commented on #1409
Oops wrong repo... Transferring ⏳

[2020-06-09 05:27] jorgeorpinel commented on #857
Hey @MerlynMShelley thanks. TBH pasting these long vertical emails is not very easy to read so I hid you comment. Can't you just copy/paste the key text from there or paste a link to the reference? I also don't really understand what it is about or why you cant comment in #1379, which BTW is now closed. Don't you have another PR open for this?

[2020-06-09 05:32] jorgeorpinel commented on #857
Why is this a Twitter-specific issue? Thanks

The custom image idea comes from https://github.com/iterative/dvc.org/issues/857#issuecomment-565226918 but the goal is to keep both the basic description of DVC and also the excerpt from each page in these previews somehow. It's not a perfectly defined requirement, it needs a creative solution, probably. Any suggestions?

It's a good point that the bl

[2020-06-09 05:37] jorgeorpinel commented on #857
Sorry, it's been a few really busy weeks

I see that was your only PR @MerlynMShelley, but it got complicated and was closed. Are you planning to try again with a smaller PR so it's easy to review and follow up on? Or do you prefer to work on something else? I've seen you've commented in https://github.com/iterative/dvc.org/issues/1119#issuecomment-640201071, for example.

Again, this week will pr

[2020-06-09 05:44] jorgeorpinel commented on #1119
@MerlynMShelley I collapsed those long vertical images. Hard to read and unnecessary. We can click the link. Please just copy/paste test or small horizontal screenshots of key elements you'd like to bring to our attention.

Meaning: what specific suggestions about meta tags, etc. (this issue's topic) would you make based on that report? Thanks

[2020-06-09 19:27] jorgeorpinel opened #1414 "cmd: pending plots changes by 1.0 release"
- [x] Apply changes from iterative/dvc/pull/3963 once that is merged. - https://github.com/iterative/dvc.org/issues/1414#issuecomment-730566207
- [x] Add YAML and TSV examples to plot show? Or maybe just translate JSON example to YAML and CSV to TSV.
- [x] Per https://github.com/iterative/dvc.org/pull/1382#pullrequestreview-427733327 double check about "All plots are used" in plot show -h usage (t

[2020-06-11 01:25] jorgeorpinel commented on #1011
This is relatively old. We should probably prioritize for soon after the 1.0 release. (Someone asked on Discord.)

[2020-06-11 01:47] jorgeorpinel commented on #857
Sounds worth a shot 🙂

[2020-06-11 05:32] jorgeorpinel opened #1422 "user guide: document dvc.lock (DVC 1.0)"
Extracted from https://github.com/iterative/dvc.org/pull/1370#pullrequestreview-427482603

Also from https://github.com/iterative/dvc.org/pull/1370#pullrequestreview-427482065:

[2020-06-11 05:46] jorgeorpinel commented on #1422
@skshetry does dvc.lock support `meta` fields or `# comments`?

[2020-06-11 05:51] skshetry commented on #1422
No, `dvc.lock` does not support `meta` or comments. They will get overwritten on `sync` later.

[2020-06-11 16:44] jorgeorpinel commented on #1395
Good find about https://dvc.org/doc/tutorials/interactive#basic-concepts @mformihir, thanks. This issue is still under discussion though. We'd appreciate if you can find another small one for now. And sorry for the delay but we're working very hard on releasing DVC 1.0 docs this week.

[2020-06-11 16:46] jorgeorpinel commented on #1395
I see @shcheklein but from what I remember in our discussions the glossary terms are not the same as the basic concepts. There may be some overlap but not a lot I think.

[2020-06-11 17:53] jorgeorpinel commented on #1369
Hi @MayankGoel28 and sorry for the delay (we're really busy recently releasing DVC 1.0). No, this would require customization of the JS engine code first, and then also changing the md content, yes.

[2020-06-11 18:08] jorgeorpinel opened #1424 "cmd ref: check all command usage and options vs core after main 1.0 release"

[2020-06-11 19:39] shcheklein commented on #1395
@jorgeorpinel we can try and see, my hope that they will overlap significantly.

[2020-06-11 21:55] pared opened #1425 "cmd ref: doc plots diff --targets with revisions usage"
Mixing `--targets` option and providing multiple `revisions` for `dvc plots diff` might end messy.
Eg:
`dvc plots diff --targets t1.json t2.csv HEAD v1 v2` - parser does not know how to handle that.

We should include some note for `dvc plots diff` to hint possible use cases:
`dvc plots diff HEAD v1 v2 --targets t1.json t2.csv`
`dvc plots diff --targets t1.json t2.csv -- HEAD v1 v2`

Related https

[2020-06-12 00:18] jorgeorpinel opened #1426 "cmd ref: change -f for --file in add/imports"
To match iterative/dvc/pull/4004

[2020-06-12 03:46] utkarshsingh99 opened #1427 "sidebar dropdown toggle"
It would be good if the user is able to toggle the dropdowns containing sub-pages.
For example,
![Screenshot from 2020-06-12 09-07-17](https://user-images.githubusercontent.com/32031518/84462264-330b5100-ac8c-11ea-9031-2a019520fd46.png)
Let's say I need to go back to the `Tutorials` section to view another page.
I tried clicking back on the `Command Reference` again to collapse it rather than scro

[2020-06-12 04:21] jorgeorpinel commented on #1366
@utkarshsingh99 I think this chore is a little too boring TBH, I don't want you to suffer with this any more! Can you just please remind us the list of files that have been done so far up to your 2nd PR (#1408)? Thanks again for the help, BTW! I'll take it from there.

[2020-06-12 04:48] jorgeorpinel commented on #1425
Thanks, interesting. I'm not sure I get this though. The title talks about --template + multiple revs, but the example uses multiple --targets and multiple revs.

[2020-06-12 07:40] utkarshsingh99 commented on #1366
Sure.
1. **Command Reference**
  - _PR 1 #1372_
     - add.md
     - get-url.md
     - get.md
     - init.md
     - move.md
     - repro.md
  - _PR 2 #1408_
     - fetch.md
     - import.md
     - import-url.md
     - list.md
     - pull.md
     - push.md
     - remove.md
     - status.md
     - update.md
2. **API Reference**
  - _PR 1 #1372_
     - get_url.md
3. **Install**
  - _PR 1 #1372_

[2020-06-12 10:07] skshetry opened #1429 "document about jsonschema for dvc.yaml"
I'll add a small note later on mentioning that jsonschema is available for `dvc.yaml`, after 1.0 docs is complete. I'll assign this to myself.

Related: https://github.com/iterative/dvc/pull/4028, https://github.com/iterative/dvc/issues/4027

[2020-06-12 18:21] pared commented on #1425
@jorgeorpinel thanks :sweat_smile:

[2020-06-12 18:24] jorgeorpinel commented on #1429
Cool, should we also publish the JSON schema as an independent file in dvc.org and link to it from our note?

[2020-06-12 18:30] jorgeorpinel commented on #1425
Haha np! Got it, so it's a question of ordering the cmd arguments/options correctly, right? OK thanks for reporting this!

[2020-06-12 18:50] jorgeorpinel opened #1431 "basic concepts: pipeline stages"
Other than explaining what a pipeline stage is, this can help us group 2 terms that are used extensively and sometimes confusingly throughout docs: `.dvc` files (formerly DVC-files) and `dvc.yaml` — which already have their own guide so maybe this can just use that page instead of a new basic concepts one. Not sure

See more context: https://github.com/iterative/dvc.org/pull/1408#issuecomment-6431

[2020-06-12 21:53] shcheklein commented on #1427
@utkarshsingh99 good points and a good feature request. It will definitely improve UX and can make it more intuitive.

[2020-06-12 23:22] jorgeorpinel commented on #1406
Any chance you could make a quick diagnostic @rogermparent ? 🙂 Thanks

[2020-06-12 23:24] shcheklein commented on #1406
@jorgeorpinel can we survive with just making it unique for now? does not look like a big deal to me

[2020-06-13 06:28] skshetry commented on #1429
@jorgeorpinel, I'm thinking of adding to the catalog of [schemastore](https://github.com/SchemaStore/schemastore). This way, many ide will download that by automatically based on filepath match (eg: when you open `dvc.yaml`), and user won't need to configure anything at all.

Jetbrains supports this out of the box, VSCode and Atom needs yaml extension for this support (they support json already by

[2020-06-13 06:45] rogermparent commented on #1406
The issue might actually just be this redirect because of the particular page you're making.
https://github.com/iterative/dvc.org/blob/5a58811a1dac48dfbfbb92dde91558056ad274d1/redirects-list.json#L22

[2020-06-13 18:07] jorgeorpinel commented on #1406
Hey thanks Roger, yeah I also noticed that recently (https://github.com/iterative/dvc.org/pull/1412#issuecomment-643519893) so let me double check whether this is even a valid issue...

[2020-06-13 18:16] jorgeorpinel commented on #1406
Yeah sorry, it was just the redirect 😋

[2020-06-13 18:16] #1406 closed

[2020-06-13 19:47] imhardikj commented on #1075
@jorgeorpinel I tried to implement this on `example-get-started` repo.
For instance after running `dvc pull prepare.dvc` the content of cache was:
[code]
Then I ran `rm -Rf .dvc/cache` to delete the cache and used `dvc gc -w`. It did pull some `.dir` cache files from remote as `dvc gc` isn't able to tell which files in directory are missing. This is also mentioned in the discord [discussion](https

[2020-06-13 22:43] casperdcl opened #1435 "ref: GDrive supported by `open()`"
Mention that `gdrive` now supports `open()` from https://github.com/iterative/dvc/pull/3916

[2020-06-14 11:26] jorgeorpinel commented on #1422
@shcheklein should params.yaml have its own section in the dirs and files guide?

[2020-06-14 22:22] shcheklein commented on #1422
I think dvc.lock and `params.yaml` are very different to be included into the same ticket even. `params.yaml` is not even so a DVC file "per se", DVC supports parameter dependencies (and by default it reads them from `params.yaml`), it does not dictate, neither provide some specific format for that file.

`dvc.lock` is an similar to package lock in npm, Gemfile.lock in ryby, etc. It locks the deps

[2020-06-14 23:15] jorgeorpinel commented on #1422
Sounds good. Is this example enough specification of params.yaml or does it need its own subsection in that doc? I can create a separate issue or small PR for that if so.

https://dvc.org/doc/command-reference/params#examples

[2020-06-15 02:18] jorgeorpinel commented on #1395
OK so let's do #550 first, and include or confirm this one then.

[2020-06-15 03:08] shcheklein commented on #1422
@jorgeorpinel I think it's enough for now.

[2020-06-16 09:47] efiop opened #1439 "plots: add smooth template example"
https://github.com/iterative/dvc/pull/4046#issuecomment-644437731

CC @pared @dmpetrov

[2020-06-17 04:55] jorgeorpinel opened #1442 "term: call metrics "metrics" and plots "plots""
There's a couple issues with terminology around the concept of _metrics_.

Conceptually, regular (scalar) metrics and plots (continuous metrics) are both metrics, so we have phrases like "Type of metrics" as well as using the term "metrics" in the plots command references. I think this is confusing.

Instead of having to explain that there are types of metrics and one we call just metrics in most

[2020-06-17 04:56] jorgeorpinel commented on #1442
Cc @dmpetrov and @andronovhopf your thoughts are appreciated! (This is not currently a priority though, of course.)

[2020-06-17 07:01] jorgeorpinel commented on #1439
Probably also mention the smooth template is available in the section where templates are explained as well.

[2020-06-17 07:25] utkarshsingh99 commented on #1405
https://github.com/gatsbyjs/gatsby/issues/2410

https://github.com/gatsbyjs/gatsby/issues/10844

Gatsby has closed and reopened this issue many times. Maybe running `gatsby clean` in the deployment server could solve this problem.
Or, another solution written in these issues is to manually clear the `.cache` folder. (Although I don't see how these solutions are way different)

I surfed through the

[2020-06-17 07:36] utkarshsingh99 commented on #1311
I think it would be ideal to have a new section in the Community Page for both these ideas.
A section like **Be an Ambassador** right before the **Learn** section would be appropriate, since it looks more relevant to being part of the community, I guess.
Also, the opening "Get the DVC Newsletter" wall image might seem like a repetition for subscribe and we can replace it with the Wall of Love, sho

[2020-06-17 14:24] pared commented on #1439
@dmpetrov can we use the plot from original issue? https://github.com/iterative/dvc/issues/3906?

[2020-06-17 19:10] jorgeorpinel opened #1445 "term: stop using Dvcfile"
since there's no longer a default stage name in `dvc run` 1.0

This update was started in https://github.com/iterative/dvc.org/pull/1420/commits/435f4103f031e03d7ca194890c4ec59c59430fd3 — needs to be continued in its own PR.

Docs where the term is mentioned:
- [x] push cmd ref. (#1591)
- [x] repro cmd ref. (#1504)
- ~~install/plugins (#1570)~~
- [x] versioning use case tutorial (#1526)
- Double c

[2020-06-17 21:08] jorgeorpinel opened #1446 "cmd ref: improve params desc with dvc run -p samples"
And mention that param groups can be dependencies too e.g.

[code]

[code]

If anytihng changes inside `prmgrp`, the stage is invalidated (but not in other params outside of that group).

[2020-06-18 14:06] casperdcl opened #1447 "completion: update installation instructions"
- [x] depends on https://github.com/iterative/dvc/pull/3921

[2020-06-18 15:50] #1426 closed

[2020-06-18 17:06] jorgeorpinel commented on #1442
p.s. we also use "parameters files" all over https://dvc.org/doc/command-reference/params and it seems fine.

[2020-06-20 07:34] karajan1001 opened #1459 "cmd ref: document import-url --no-exec option"
Related to PR iterative/dvc#4075 and issue iterative/dvc/issues/3513

[2020-06-20 13:09] dpulls-support opened #1462 "dpulls to manage your dependent PRs"
Hi, Walid the founder of [dpulls](https://github.com/marketplace/dpulls) here.

We noticed that you are working with dependent PRs https://github.com/iterative/dvc.org/pull/1461 and we thought that maybe [dpulls](https://github.com/marketplace/dpulls) could be interesting for you.
[dpulls](https://github.com/marketplace/dpulls) will help working with dependent PRs by offering these features:

- A

[2020-06-20 19:27] jorgeorpinel commented on #1459
Thanks @karajan1001 could you briefly summarize what the option does and/or the motivation?

[2020-06-20 22:21] #1462 closed

[2020-06-20 23:40] #1459 closed

[2020-06-21 03:12] utkarshsingh99 opened #1463 "tutorials -> get started: .gitignore file not found"
In the Getting Started section, `dvc init` creates a `.dvc` folder with `.gitignore` and `config`.
But there is no creation of a .gitignore in the root folder of the project.
In the [Data Versioning page](https://dvc.org/doc/tutorials/get-started/data-versioning#data-versioning), we try to add a `.gitignore` file that has not been created.

![Screenshot from 2020-06-21 08-40-33](https://user-image

[2020-06-21 03:56] shcheklein commented on #1463
@utkarshsingh99 good catch! please, feel free to fix it, but please install the pre-commit hook (or alternatively don't forget to merge restyled PRs into you own)

[2020-06-21 04:08] utkarshsingh99 commented on #1463
Okay. So I guess we need to modify the command from

to

Am I right?

[2020-06-21 04:20] shcheklein commented on #1463
yep!

[2020-06-21 04:31] #1463 closed

[2020-06-21 05:51] jorgeorpinel opened #1469 "docs: differentiate types of file hashes"
Extracted from https://github.com/iterative/dvc.org/pull/1448#discussion_r443124777 and https://github.com/iterative/dvc.org/pull/1494#pullrequestreview-441361208:

("key" referring to the actual name with which the values are saved in dvc.yaml)

Related: #68

---

I believe this affects the following docs:
- [x] dvc.lock file description
- [ ] run -d (external dep)
- [ ] add? (external outs),
- [

[2020-06-21 06:11] shcheklein commented on #1469
I would suggest to generalize it somehow instead of trying to mention all possible fields everywhere. E.g. outs can have hash (e.g. md5 or etag).

[2020-06-21 07:22] jorgeorpinel commented on #1469
Agree but we still need to update all those docs with the more general concept of "file hash" or "hash value" — which fortunately we've already been doing in the past 🙂

[2020-06-22 00:06] #1447 closed

[2020-06-22 14:38] pared commented on #1255
@jorgeorpinel do you keep track of which `.dvc` examples are being done throughout the code? if there is some list, maybe we could help?

[2020-06-22 20:58] jorgeorpinel commented on #1289
A suggested place to start is to add an "execution and reproduction" section to the `dvc run` cmd ref. similar to this: https://github.com/iterative/dvc.org/pull/1464/files

[2020-06-23 04:19] jorgeorpinel commented on #1255
Not keeping track of that at the moment @pared but they're all up for grabs!

[2020-06-23 17:26] nik123 opened #1490 "cmd ref for dvc remove is out of date"
1. `dvc remove` description should be updated according to implementation (once  https://github.com/iterative/dvc/issues/4094 is resolved)
1. `--outs` description should be updated according to implementation.
1. `.gitignore` should probably be mentioned/described in examples.

Context:

1. https://github.com/iterative/dvc/pull/4074#issuecomment-647903614
1. https://github.com/iterative/dvc/issues

[2020-06-23 17:50] jorgeorpinel commented on #1490
Thanks @nik123 let's resolve iterative/dvc/issues/4094 first and then reflect the latest strings and behavior in docs after that issue is closed 🙂

[2020-06-24 01:19] nik123 commented on #1490
@jorgeorpinel I have updated description with few more problems I've detected.

[2020-06-24 02:49] utkarshsingh99 opened #1492 "docs - get started: git contents inaccurate"
In the tutorial page, https://dvc.org/doc/start/data-pipelines#dependency-graphs-dags, the files listed to be committed into git may be inaccurate.
Here is the list of my unstaged files:
![Screenshot from 2020-06-24 08-11-25](https://user-images.githubusercontent.com/32031518/85492156-5c17d400-b5f2-11ea-97ef-a0a684dbb731.png)
vs the list of files that the tutorial wants me to commit:
- .gitignore

[2020-06-24 04:59] jorgeorpinel commented on #1492
Hi @utkarshsingh99 are you talking about this part?

![image](https://user-images.githubusercontent.com/1477535/85502651-61066480-b5ad-11ea-972a-a4d5db9b73ed.png)

Other than maybe changing .gitignore for data/.gitignore, I think "incude" implies this list is non-inclusive. The idea is that by this point the user understands what to do on their own. Not sure it's a good assumption but we don't wan

[2020-06-24 04:59] jorgeorpinel commented on #1492
"This" should be "These" though!

[2020-06-24 05:20] utkarshsingh99 commented on #1492
Alright. Also, interestingly, I do have a `.gitignore` in the root of my project.

[2020-06-24 05:26] jorgeorpinel commented on #1289
More info that would be good to include for this ticket, from https://github.com/iterative/dvc.org/pull/1448#discussion_r443124577:

(Thanks @skshetry)

[2020-06-24 05:29] utkarshsingh99 commented on #1469
I think this issue is linked to #1448 more than it looks like.
I didn't find any page that gave a list of all file hashes together, and I think we might need it every time we try to generalize.
I'm not sure where exactly would we need to update the contents in `import`, `import-url`. Everything looks quite specific to me there.
I believe once #1448  is merged, we can add the link to dvc-file-and-d

[2020-06-24 06:13] jorgeorpinel commented on #1492
That's because of the `train` stage in **⚙️ Expand to add more stages**.

[2020-06-24 06:25] jorgeorpinel commented on #1469
Which kind of file hash is used on each type of external dependency. Same as in add and run. Or maybe in the External Data guide and link from all those refs into there.

Yes, maybe.

[2020-06-24 06:25] jorgeorpinel commented on #1492
Would you like to update this @utkarshsingh99 ?

[2020-06-24 07:17] jorgeorpinel commented on #1075
Where did the 42 one come from @imhardikj ?

[2020-06-24 08:20] imhardikj commented on #1075
First I deleted the cache directory and then I did `dvc gc -w`. So I am sure `gc` fetched 68 as well as 42 from remote.

[2020-06-24 09:01] jorgeorpinel commented on #1075
Oh OK you cloned `example-get-started` to its latest commit, but only pulled prepare.dvc at first right (when you ran `tree .dvc/cache`)? That would explain it. 42 must be from a later stage.

[2020-06-24 21:38] #1075 closed

[2020-06-25 01:46] #1422 closed

[2020-06-26 00:54] jorgeorpinel commented on #1492
Hi. Has this been addressed? Can we close this issue? Thanks!

[2020-06-26 00:57] jorgeorpinel commented on #542
At this point I think we're definitely merging this idea and the basic concepts so lets close this in favor of #550?

[2020-06-26 00:59] jorgeorpinel opened #1500 "dag: rewrite explanation of what pipelines are"
Extracted from https://github.com/iterative/dvc.org/pull/1496#pullrequestreview-437828132:

(referring to the description of what pipelines are [in the `dag` ref.](https://dvc.org/doc/command-reference/dag#directed-acyclic-graph))

Also, note from https://github.com/iterative/dvc.org/issues/608, that we have to:

UPDATE: Let's use "pipeline" as much as possible (per https://github.com/iterative/dv

[2020-06-26 01:15] shcheklein commented on #542
Agreed!

[2020-06-26 01:15] #542 closed

[2020-06-26 01:16] shcheklein commented on #1500
I would use pipeline (and it's fine that command is called dag). It's user friendly.

[2020-06-26 10:57] utkarshsingh99 commented on #1492
Yes, I will address this mistake in the draft PR.
Sorry for the delay. Is it okay if I mention it in that PR? Maybe I should rename the issue as well

[2020-06-27 07:17] #1490 closed

[2020-06-27 08:28] jorgeorpinel commented on #1492
I'm not sure what you mean. Please link #1494 as the fix to this issue.

[2020-06-27 08:28] jorgeorpinel commented on #1492
Actually it's such a small thing... I see you've addressed it there. Let's just close this now. Thanks

[2020-06-27 08:28] #1492 closed

[2020-06-28 06:13] mformihir commented on #1394
Should I go for this now, @jorgeorpinel ?

[2020-06-28 21:24] shachibista opened #1507 "dvc run step in tutorial does not give expected results"
## Bug Report

[code]

Following https://dvc.org/doc/use-cases/versioning-data-and-model-files/tutorial, `dvc run` step returns an error instead of creating the `Dvcfile`/`dvc.yaml` file:

[code]

iterative/dvc#4077 states that `-f` option is deprecated. Running with the `-n` option results in a subsequent error:

[code]

Please update the tutorial to reflect changes in v1.0.

Thanks!

[2020-06-29 04:17] skshetry opened #1508 "get-started: `cache: false` explanation"
https://github.com/iterative/dvc.org/blob/2fb72f734677f6e256f6d42e07c7079ac9769f98/content/docs/start/experiments.md#L51-L52

The `cache: false` is an *intention* to do what's explained, it's not what it **means** though.

[2020-06-29 04:21] shcheklein commented on #1508
@skshetry not sure I follow, could you elaborate please? (or even better suggest the way you think it should be).

[2020-06-29 04:24] skshetry commented on #1508
With `cache: false`, caching of the output is skipped by DVC and is usually done either if the file are small enough or needs to be versioned directly with git.

[2020-06-29 04:24] shcheklein commented on #1507
@shachibista sorry about that. It's a little bit outdated (DVC version <0.94). We changed the `dvc run` interface in the DVC 1.0 and haven't had time to update some tutorials.

[2020-06-29 04:28] skshetry opened #1509 "yaml incorrectly rendered"
Expand the section `Expand to see what happens under the hood.
` on https://dvc.org/doc/start/data-pipelines#pipeline-stages. The `params.yaml` is incorrectly rendered (indentation that is).

https://github.com/iterative/dvc.org/blob/befb19b5debaf47137d3507e1be919640211cc78/content/docs/start/data-pipelines.md#L76-L80

It seems to be correctly written. Maybe something wrong with rendering it?

[2020-06-29 04:31] shcheklein commented on #1508
ah, I see ... to be honest, I think it's fine to keep it simple, in 99.9% cases this is cache false means that those files are indeed tracked directly with Git. I haven't see any other cases yet at least.

We can do something like "In this case cache: false means that those files are small enough to be versioned with Git".

[2020-06-29 04:33] skshetry commented on #1508
Still, `cache: false` does not mean that those files are small enough or is versioned by Git. Probably, it's one of the usecase of it, but it is not what it **means**.

[2020-06-29 04:36] shcheklein commented on #1508
yep, still in this case it's totally fine since we talk about metrics and plots file specifically - Get started is not command reference - no need to be mathematically precise.

[2020-06-29 04:44] skshetry commented on #1508
@shcheklein, it's under "Expand to see what happens under the hood", so, we can explain that detail, or we could rephrase it as,

Also, I see that `Data Pipelines" explains all the flags, but "Experiments" does not explain what `-M` and `--plots-no-cache` is, and why `-M` is  being used instead of `-m` and `--plots-no-cache` instead of `--plots`.

[2020-06-29 04:52] shcheklein commented on #1508
@skshetry I don't have a strong opinion on this - to my mind both ways (the current one and the one you suggested) are fine for this section and the meaning more or less the same. So, feel free to make a PR. The essence is the same - we version files directly with Git since, and we do this usually when they are small enough. I would still try to keep language simple and mention that files are smal

[2020-06-29 04:56] shcheklein commented on #1509
Fixed, had to un-indent the whole block for this to work. Weird. Will keep this as a doc engine bug.

If `yaml` code block is indented to be under a bullet item rendering breaks.

[2020-06-29 07:15] utkarshsingh99 commented on #1508
If you are going ahead with this change, can I take this up?

[2020-06-29 16:21] shcheklein commented on #1508
@utkarshsingh99 absolutely! feel free to create a PR.

[2020-07-01 19:46] jorgeorpinel commented on #1509
prettier always re-indents our YAML samples.

[2020-07-01 19:47] jorgeorpinel commented on #1509
ah but not like this actually. I mean the contents, not the whole block.

[2020-07-01 19:49] jorgeorpinel commented on #1509
That code block was correctly indented though, it's part of a bullet. Now it's uneven (compare to the next block):

![image](https://user-images.githubusercontent.com/1477535/86285297-f86d4800-bba9-11ea-9850-1219bdd71bcf.png)

[2020-07-01 20:41] shcheklein commented on #1509
This is a temporary workaround. This engine bug.

[2020-07-01 22:55] #1240 closed

[2020-07-02 01:01] jorgeorpinel commented on #1394
@mformihir only if you can find condescending language that's not included among these changes, which are already in progress by another person: https://github.com/iterative/dvc.org/pull/1396/files

Other than that any issue you find that doesn't seem to be in progress by anyone else is fair game, no need to wait for my confirmation if you're reasonably certain. Just send a PR 🙂

Also, no need for

[2020-07-02 09:25] shachibista commented on #1507
@shcheklein Would it require a lot of (conceptual) changes to update the tutorial? If it is only a single command, I could send a pull request if you could tell the correct parameters.

[2020-07-02 15:40] ivyleavedtoadflax commented on #1056
Hi I'm also having a problem with this command, that doesn't seem to be related to the space issue:

I've tried copy and pasting directly from the docs:

[code]

and putting it all on one line:

[code]

In both cases I get:

[code]

I'm on Ubuntu 18.04.4 LTS with zsh 5.4.2 (x86_64-ubuntu-linux-gnu). I installed with:

[code]

[2020-07-02 16:38] jorgeorpinel commented on #1394
@mformihir actually! Yes, please take on this issue as it has been dropped by the previous person attempting to address it. You can probably start by copying some of the changes in https://github.com/iterative/dvc.org/pull/1396/files (but please review all the comments in that PR because some changes weren't correct).

[2020-07-02 16:39] jorgeorpinel commented on #1394
P/s And again, no need for a huge contribution. A small PR would be best, even if it only addresses this issue partially. Thanks

[2020-07-02 16:58] shachibista commented on #1429
Please consider https://pydantic-docs.helpmanual.io/

[2020-07-02 16:59] skshetry commented on #1429
@shachibista, yes we are using `pydantic`. In fact, waiting for a release there.

[2020-07-02 17:01] skshetry commented on #1429
@shachibista, this is still a WIP though. And, we have too many schemas already.

[2020-07-02 18:51] shcheklein commented on #1056
@ivyleavedtoadflax how about this:

`wget https://s3-us-east-2.amazonaws.com/dvc-public/remote/dataset-registry/a3/04afb96060aad90176268345e10355`

does it work for you?

[2020-07-02 18:57] shcheklein commented on #1507
@shachibista no huge conceptual changes! Just changing commands, altering text here and there (e.g. no Dvcfile anymore, but `dvc.yaml`).

To start I think we can try to remove `-f something` and put `-n train` - that alone should probably fix the issue.

[2020-07-02 19:17] jorgeorpinel commented on #1507
@shachibista we would greatly appreciate if you're able to update the commands! I would encourage you to give it a shot: it may only be a matter of a few small changes here and there 🙂

[2020-07-02 19:19] ivyleavedtoadflax commented on #1056
Ah :facepalm: sorry @shcheklein I needed to disconnect my VPN. It's all working now :+1:

[2020-07-03 12:41] mformihir commented on #1394
@jorgeorpinel Alright! I'll start out with small ones.

[2020-07-03 18:56] #1508 closed

[2020-07-04 18:27] jorgeorpinel commented on #1469
What about OSS and Google Drive @skshetry ? Please lmk and I'll update in #1527

[2020-07-04 18:55] jorgeorpinel commented on #1469
Also @skshetry this all applies to .dvc files as well, right? Not just dvc.lock

[2020-07-04 19:41] jorgeorpinel commented on #1469
Oh and what about external outputs? Or do `outs` entries always use `md5` no matter what?

[2020-07-05 03:20] weekly-digest[bot] opened #1529 "Weekly Digest (28 June, 2020 - 5 July, 2020)"
Here's the **Weekly Digest** for [*iterative/dvc.org*](https://github.com/iterative/dvc.org):

 - - -
# ISSUES
Last week 23 issues were created.
Of these, 17 issues have been closed and 6 issues are still open.
## OPEN ISSUES
:green_heart: #1527 [guide: update types of checksums in dvc.lock doc](https://github.com/iterative/dvc.org/pull/1527), by [jorgeorpinel](https://github.com/jorgeorpinel)
:gr

[2020-07-05 04:47] SidharthBansal commented on #899
Hi, I am interested in doing this for Google Season of Docs 2020. I have contributed to Public Lab in some freelancing contracts, Google Code In administrative services, Google Summer of Code 2018 Internship and Google Summer of Code 2019 mentorship in Ruby on Rails, HTML, CSS and Javascript. I have also done internship at Google, Hyderabad in android. I have knowledge of C++ & Java too. I have pu

[2020-07-05 22:21] #1529 closed

[2020-07-06 01:11] efiop commented on #1469
@jorgeorpinel They might be `md5`(local, ssh, gs)/`etag`(s3) or `checksum`(hdfs)

[2020-07-06 07:44] skshetry commented on #1469
@jorgeorpinel, this is about external dependencies and outputs. So, it applies to `dvc.lock` and `.dvc` files too.

OSS uses `etag`. Google Drive does not support external deps/outs, so it does not have any.

[2020-07-06 12:00] Robbie-Palmer opened #1533 "Different Versions from Different Install Methods"
I'm installing DVC on Linux (Ubuntu v18.04)
When I install DVC via conda `conda install -c conda-forge dvc` I get version `1.1.7`
When I install from repository I get version `1.0.1` following the [Linux install from repository steps](https://dvc.org/doc/install/linux#install-from-repository)
[code]

[2020-07-06 13:57] efiop commented on #1469
oss also doesn't support external deps/outs.

[2020-07-06 19:06] shcheklein commented on #1507
@jorgeorpinel this one should be fixed now, I suppose?

[2020-07-06 19:24] jorgeorpinel commented on #1507
Yes. Thanks for the reminder. About to push a small PR so I can include it there... ⏳

[2020-07-06 20:10] jorgeorpinel commented on #1507
Oh, actually this was already done in https://github.com/iterative/dvc.org/pull/1526/files but we haven't double checked the instructions. @shachibista if you try again please let us know your results.

@sarthakforwet can you confirm whether you ran the whole tutorial after the update? Or if you are able to do so and share the results next? Thanks

[2020-07-07 05:03] sarthakforwet commented on #1507
Yes @jorgeorpinel  new changes are reflected in #1526  and I also ran the tutorial and its working fine.

@shachibista  Can you tell us if you followed the complete tutorial sequentially and checked out to `master` before the moving on to the section  - `Automating Capturing`? Thanks.

[2020-07-07 05:11] sarthakforwet commented on #1507
[use_cases_versioning_tutorial_output_part_4.txt](https://github.com/iterative/dvc.org/files/4882616/use_cases_versioning_tutorial_output_part_4.txt)

This is the complete output that we get.
Platform Used - Google Colab
Accelerator - None

[2020-07-07 05:11] sarthakforwet commented on #1507
Running of tutorials and code examples on `Google Colab` would be good choice. Is there a mention of this in the current documentation @jorgeorpinel ?

[2020-07-07 05:38] jorgeorpinel commented on #1507
OK, this should be resolved then. Thanks!

Maybe Shachi ran `dvc add model.h5` on their own. But anyway, the tutorial is now up to date for 1.0

[2020-07-07 05:38] #1507 closed

[2020-07-07 08:57] skshetry commented on #1173
Closing it, as this issue has become a bit redundant.

[2020-07-07 08:57] #1173 closed

[2020-07-07 22:46] jorgeorpinel commented on #1469
@efiop, Saugat indicated recently that eTag is also used for GS. Can you guys confirm please? Thanks

[2020-07-07 22:47] jorgeorpinel commented on #1469
Also on OSS please.

vs.

Thanks

[2020-07-07 23:08] jorgeorpinel commented on #1469
Wait no, sorry. Saugat said MD5 for GS, never mind. eTag is for HTTP(s), S3, and Azure.

So only confused about OSS, but I'm just not mentioning it (same as GDrive) for now.

[2020-07-07 23:11] jorgeorpinel commented on #1469
p.s. you can just review #1527 instead.

[2020-07-10 18:27] jorgeorpinel opened #1555 "install: use multi-platform widget instead of a section per OS"
Similar to https://spacy.io/usage#quickstart

[2020-07-10 22:19] #1405 closed

[2020-07-10 23:03] #1425 closed

[2020-07-11 04:47] sarthakforwet commented on #1445
@jorgeorpinel  in `push.md` file under the example `With dependencies`, following two problems come up -

![dvc](https://user-images.githubusercontent.com/46163196/87216344-7ecd1b00-c35c-11ea-8fc0-db880027978f.PNG)
Here the `stages` has link to `run.md` which no clearly describes the pipeline stages. Was it linked to some pipeline stages before the new release?

Secondly, the command `dvc pipeline

[2020-07-11 08:20] sahilbhosale63 commented on #1500
@jorgeorpinel Can I work on this issue?

[2020-07-11 18:36] jorgeorpinel commented on #1445
Yes, the word "stage" is linked to the `dvc run` cmd ref in many places. Currently it's the best place where the concept of stages is clearly described, did you read it?

![image](https://user-images.githubusercontent.com/1477535/87231230-edb96c80-c37a-11ea-9efd-3516c11e35bd.png)

How does it relate to this issue, @sarthakforwet ? See #550. and replacing `pipeline` with `dag` is in #1255. Please c

[2020-07-11 18:37] jorgeorpinel commented on #1445
Or feel free to open a PR with any progress on the pipeline->dag issue and comment there so we continue the conversation and address your doubts. Thanks

[2020-07-11 18:47] jorgeorpinel commented on #1500
@sahilbhosale63 yes but this requires a good understanding of pipelines. Have you completed the Get Started yet? If so feel free to give it a shot and submit a PR.

And TBH right now the most valuable contribution would be to address one of the check boxes under **Next priorities** in #1255. Some of them are a little tedious (e.g. replace text across files) but you could just apply part of the nee

[2020-07-11 18:47] jorgeorpinel commented on #1500
TBH though, right now the most valuable contribution would be to address one of the check boxes under **Next priorities** in #1255. Some of them are a little tedious (e.g. replace text across files) but you could just apply part of the needed changes so your PR is not to huge, it would still be useful. **In fact we prefer small PRs for GSoD-related contributions for now.**

[2020-07-12 03:20] weekly-digest[bot] opened #1563 "Weekly Digest (5 July, 2020 - 12 July, 2020)"
Here's the **Weekly Digest** for [*iterative/dvc.org*](https://github.com/iterative/dvc.org):

 - - -
# ISSUES
Last week 32 issues were created.
Of these, 30 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #1558 [July '20 Heartbeat](https://github.com/iterative/dvc.org/pull/1558), by [andronovhopf](https://github.com/andronovhopf)
:green_heart: #1555 [install: use

[2020-07-12 06:54] nik123 opened #1564 "cmd ref: remove: mention removal of dvc.yaml and dvc.lock files"
Command reference for remove command should mention removal of dvc.yaml and dvc.lock if they are empty (i.e. no stages are left).

See [issue 4090](https://github.com/iterative/dvc/issues/4090) and [PR 4196](https://github.com/iterative/dvc/pull/4196) in the core repo for details

[2020-07-12 19:20] utkarshsingh99 opened #1566 "dvc add: .dvcignore example not working as expected"
![Screenshot from 2020-07-13 00-44-27](https://user-images.githubusercontent.com/32031518/87254720-299b2180-c4a2-11ea-9bb6-d4a67ff4e502.png)

I was following this [example](https://dvc.org/doc/command-reference/add#example-dvcignore) and it does detect changes in the file in dvc.

DVC Version: 1.1.9 (virtualenv)

I'm not sure if this is a bug in the .dvcignore feature of DVC itself, or rather just

[2020-07-12 21:20] #1563 closed

[2020-07-13 04:36] shcheklein commented on #1431
@rogermparent let's start on this next, when you have time

[2020-07-13 16:34] jorgeorpinel commented on #1431
Would be nice to decide on #1395 first too! I guess I should prioritize #550 to facilitate all this...

[2020-07-13 18:09] #1564 closed

[2020-07-13 20:03] jorgeorpinel opened #1574 "cmd: update pending target arg descriptions"
Need to double check the following commands to see whether their `targets` support files/dirs ... repro, run, (un)freeze, remove, unprotect, update, and metrics/plots show

- May imply core repo output string updates as well.

[2020-07-13 20:08] jorgeorpinel commented on #1035
I think this is pretty much addressed, don't you think @casperdcl @shcheklein ? Should close?

[2020-07-13 20:11] jorgeorpinel commented on #1035
It's also kind of a duplicate of #144 — please move any pending items from here to there. Closing!

[2020-07-13 20:11] #1035 closed

[2020-07-13 20:16] jorgeorpinel commented on #380
I wonder if this is still happening in the rewritten Get Started repo. Maybe, but no reports from users in a while, should we close it for now?

[2020-07-13 20:19] jorgeorpinel commented on #100
Do we still want to note this in Get Started? Seems to me we no longer want to do this, in order to keep the start guide as lean and non-distracting as possible. The option is explained in https://dvc.org/doc/command-reference/init and mentioned in a few other refs already (e.g. in add and config) so should we close this?

[2020-07-13 20:41] efiop commented on #100
@jorgeorpinel We do have the cmdreference, but we need some user-guide article about it that will describe what and how it could be used for(e.g. docker, deployment etc). I wouldn't close it for now.

[2020-07-13 20:51] shcheklein commented on #380
@jorgeorpinel yes, it has the same problem still.

[2020-07-13 21:37] jorgeorpinel commented on #100
Maybe a "How To use init --no-scm effectively"? Rel #899

[2020-07-13 22:06] efiop commented on #100
@jorgeorpinel I don't quite understand what is `effectiveness` in `--no-scm` though? how-tos seem like simple recipes to me, so in that particular format they would be a multiple of articles (e.g. using data in docker). That's a great idea, but i feel like it also needs a user-guide article to describe what it is about and how it works and then maybe reference all the how-tos you could use --no-sc

[2020-07-13 22:49] jorgeorpinel commented on #100
The point was it could be a How To guide (the title can be anything), since we have that ticket already.

Fair enough.

[2020-07-13 23:58] rogermparent commented on #1431
It seems like the most streamlined way to do this is add `dvc.yaml` as a glossary `abbr` target, giving the Tooltip a small entry that links to the full page.

For example, the Tooltip content could be:

I don't know how true that is, but I believe it gets the idea across.

If this is the kind of implementation we want, this change should be pretty simple. I can also use ripgrep to go through all

[2020-07-14 00:04] shcheklein commented on #1431
I don't like the idea of using abbr - we'll have a lot of noise in the Markdown files. Let's link `dvc.yaml` (and other) inline code blocks instead automatically.

[2020-07-14 00:05] rogermparent commented on #1431
That's a reasonable concern, I'll check if we have an existing Remark plugin that has that behavior and make a new one if we don't.

[2020-07-14 00:07] shcheklein commented on #1431
@rogermparent yes, we do this already for `dvc add` kind of links, there should be code around for this.

[2020-07-14 00:11] rogermparent commented on #1431
Found it, thanks!

[2020-07-14 01:42] shcheklein commented on #1137
this is fixed now!

[2020-07-14 01:42] #1137 closed

[2020-07-14 20:01] rogermparent commented on #1431
From what I understand, there's three currently proposed entries for the automatic linker
* [x] dvc.yaml could be like a command name, which automatically links to its user guide
* [ ] "orphan stage" we could link manually to dvc add
* [ ] "import stage" to dvc import

There's also

* [ ] "stage" could have a tooltip and glossary entry.

which I can do, but is notably separate from the rest and ma

[2020-07-15 15:32] jorgeorpinel commented on #1431
Don't worry about that one. We got rid of the term.

We won't be using that term either in the future, just import .dvc file possibly. So probably also no special work needed there.

That's the content part of this issue. I guess it should be a separate issue, let's just leave it unchecked for now?

[2020-07-15 15:34] jorgeorpinel commented on #1431
Chnged to p1 since all the `docs-engine` work here has been done by @rogermparent from what I understand. Thanks Roger!!!

[2020-07-15 15:37] jorgeorpinel commented on #1431
Also added to the issue description (content related):

Is dvc.lock also auto-linked now, @rogermparent ? If not where do we add it? Thanks

[2020-07-15 15:39] jorgeorpinel commented on #1137
Cool, we just need to remove all the manual links now. Added to #1431

[2020-07-15 15:58] skshetry opened #1578 "Getting 404"
I'm getting 404 when opening direct links, and then get the content from cache (I noticed because the sidebar gets broken when loaded from cache).

I thought it was because of Adblocker or messed-up local cache, but it happened in incognito too.

Open https://man.dvc.org and see.

#### Screenshot
![Screenshot from 2020-07-15 21-42-35](https://user-images.githubusercontent.com/18718008/87567570-200

[2020-07-15 16:20] jorgeorpinel commented on #1578
Weird. Works for me:

![image](https://user-images.githubusercontent.com/1477535/87569624-04b6d200-c68d-11ea-8be3-fba41ae00017.png)

[2020-07-15 16:22] jorgeorpinel commented on #1578
It should redirect directly to `https://dvc.org/doc/command-reference` without `/` though.

[2020-07-15 16:23] skshetry commented on #1578
@jorgeorpinel, did you open it directly?

[2020-07-15 16:23] jorgeorpinel commented on #1578
What do you mean by directly?

Anyway, seems to be OK. See https://www.webpagetest.org/result/200715_E2_10035ae1c056835ef59f741bfef92943/

[2020-07-15 16:26] jorgeorpinel commented on #1578
P/s This is probably not a problem also, we don't expect people to open just man.dvc.org without a cmd name. With a cmd e.g. man.dvc.org/status there's a single redirect.

[2020-07-15 16:27] jorgeorpinel commented on #1578
Try clearing your browser cache/ force reload @skshetry

Should we investigate this further @rogermparent ? I think I've seen this happen before. V rare though

[2020-07-15 16:29] skshetry commented on #1578
I'm still having this issue, also verified via curl

[code]

[2020-07-15 16:37] rogermparent commented on #1578
I'm also trying to replicate and having no luck. I can load the page fine through both browser and curl. The description of the problem is reminiscent of the ghost page issue where cache would stick around for removed pages, but that' issue's been fixed.

[2020-07-15 17:10] jorgeorpinel opened #1579 "glossary: create "stage" entry"
and replace all the links from "stage" to the `dvc run` cmd ref for `<abbr>` tags, so the term gets a tooltip.

[2020-07-15 17:11] jorgeorpinel commented on #1431
which I can do, but is notably separate

Extracted this to #1579 Roger, so that your PR closes this one 🙂

[2020-07-15 17:29] shcheklein commented on #1578
Works for me as well.

[2020-07-15 17:34] skshetry commented on #1578
This looks like a regional issue: https://www.webpagetest.org/result/200715_XY_dac6db890b7e93e642f98ca6a06316fb/

[2020-07-15 17:53] rogermparent commented on #1578
@skshetry Thanks, that was incredibly helpful! This sounds like some kind of CloudFlare caching issue on our end, which would explain why this looks similar to previous caching issues.

[2020-07-15 18:41] jorgeorpinel opened #1580 "docs: auto-link .dvc/* to files & dirs guide"
Add .dvc/ -> https://dvc.org/doc/user-guide/dvc-internals — or even //.dvc/[^/]// if regexps are allowed (to catch things like .dvc/cache and .dvc/config).

- [ ] Will also require removing a bunch of manual links for the corresponding change

[2020-07-15 19:04] #1431 closed

[2020-07-15 19:06] shcheklein commented on #1578
k, escalating it then. Need to figure out what's going on here.

[2020-07-15 22:14] jorgeorpinel commented on #72
Should this be merged with #230 and featured in the #899 epic? We're trying to avoid so many sections now.

[2020-07-15 22:16] jorgeorpinel commented on #72
Also the Questions part of What is DVC (currently in https://dvc.org/doc/user-guide/what-is-dvc/collaboration-issues#questions) probably overlaps with this.

[2020-07-16 19:22] shcheklein commented on #1579
@jorgeorpinel @utkarshsingh99 could you please give a little bit more motivation for this? sounds a bit excessive to be honest.

[2020-07-16 23:58] shcheklein commented on #1579
I see, I read it intially as we need to replace `dvc run` with abbr

[2020-07-16 23:58] shcheklein commented on #1579
probably because I saw the PR first :)

[2020-07-17 00:06] jorgeorpinel commented on #1579
Yeah I guess I wasn't clear enough. Changed the description a bit now.

[2020-07-17 02:20] efiop commented on #72
@jorgeorpinel Yeah, that indeed seems suitable.

[2020-07-17 02:37] shcheklein commented on #72
@jorgeorpinel how would it looks like? like a subsection in How To?

[2020-07-17 04:41] rogermparent commented on #1578
I went into the CloudFlare UI and clicked the "Purge Cache" button targeting "man.dvc.org"

Re-running the test @skshetry provided from the same EC2 instance from India seems to indicate that this issue is fixed, but further confirmation may be needed because regional caching is tricky.
https://www.webpagetest.org/result/200717_BD_4aaa8142aa0d9a897ae701a02cc705c9/

[2020-07-17 05:38] skshetry commented on #1578
@rogermparent, can confirm it's fixed from my side. :+1:

[2020-07-17 05:48] rogermparent commented on #1578
Awesome! Thanks for the help. While this issue is fixed, it does indicate there's a deeper issue with the automatic CloudFlare clearing script. I'm going to debug that regardless of the status of this ticket, so it's up to the group whether we want to close and make a new issue or repurpose this one for the auto-clear script.

[2020-07-17 06:22] shcheklein commented on #1578
@rogermparent let's repurpose this one! we are fixing the core of the problem after all. ...

[2020-07-17 08:32] sebranchett opened #1586 "pipeline getting started documentation and katakoda don't match"
## Bug Report

### Please provide information about your setup

**Output of `dvc version`:**
On Katakoda: dvc --version gives 1.1.11
On Windows 7 installed via Anaconda in git bash: dvc --version gives 0.93.0

[code]

and

[code]

**Additional Information (if any):**
In your Katakoda environment: https://katacoda.com/dvc/courses/get-started/pipelines
the steps described in the left panel do not ru

[2020-07-17 12:24] yevgenypats opened #1585 "katacode: md5 is not available in the container"
looks like there is a small bug in the interactive tutorial https://katacoda.com/dvc/courses/get-started/versioning

in step 6/6 - a command is specified `md5 data/data.xml` which I believe should be `md5sum data/data.xml` and it should be preinstalled via `apt install coreutils`

[2020-07-17 17:48] jorgeorpinel commented on #1585
P/s in fact it's easy to contribute such a change in https://github.com/iterative/katacoda-scenarios/blob/master/get-started/versioning/step6.md . It can even be done directly from Github. Would you like to try?

[2020-07-17 18:30] shcheklein commented on #1586
I've transferred it to the dvc.org repo. Thanks @sebranchett !  This is a problem with Katacoda. We've updated first few sections, but haven't had time to update the data pipelines one and experiments. It's indeed based on pre-1.0 syntax still.

[2020-07-18 06:17] rogermparent commented on #1578
Update to this at #1587, which makes logs from the CloudFlare cache clearer easier to spot.

To put it simply, I think we just need to update the CloudFlare auth Token on the dvc.org production Heroku app to a newly generated one. The PR's changes helped expose the issue, but the actual fix is using a new CloudFlare token on Heroku.

[2020-07-18 15:25] shcheklein commented on #1578
@rogermparent good research, Roger. Could you generate a new key?

[2020-07-18 15:26] shcheklein commented on #1578
@rogermparent also, when you generate it - check if it is somehow connected with your CF account.

[2020-07-18 15:51] jorgeorpinel commented on #1578
Did you guys notice the CF outage? Maybe related

https://www.cnet.com/news/cloudflare-dns-outage-makes-websites-unreachable/

[2020-07-18 18:04] shcheklein commented on #59
I think we can close this - we have experiments sections in the Get Started, we have index page in mertics and plots. I think we can do use case about tracking/managing experiments, but it's a separate task. I don't think we need a user guide page for this at the moment.

[2020-07-18 18:04] #59 closed

[2020-07-18 18:06] shcheklein commented on #100
Closing this. We def would like to add articles like "Packaging DVC artifacts into Docker", "DVC in production", etc ... but we have info regarding `--no-scm` itself. I don't think we want a whole separate section on it.

[2020-07-18 18:06] #100 closed

[2020-07-18 18:08] shcheklein commented on #229
I think it's not relevant anymore.

[2020-07-18 18:08] #229 closed

[2020-07-18 18:09] shcheklein commented on #333
Tutorial got absorbed with get started. Closing this. For get started we have a separate ticket for this.

[2020-07-18 18:09] #333 closed

[2020-07-18 18:12] shcheklein commented on #500
We don't have the deep tutorial anymore. Only get started. We'll rely on external tutorials for other cases. It's very hard to support and keep updated too many tutorials.

[2020-07-18 18:12] #500 closed

[2020-07-18 18:12] shcheklein commented on #480
Let's go this as we go. No way we can do this at once.

[2020-07-18 18:12] #480 closed

[2020-07-18 18:15] shcheklein commented on #599
Closing this. We have higher priorities now. We can revisit later when we get to the next iteration.

[2020-07-18 18:15] #599 closed

[2020-07-18 18:25] shcheklein commented on #1439
@pared @efiop can you take this please?

[2020-07-18 18:28] shcheklein commented on #614
Let's do this as we go.

[2020-07-18 18:28] #614 closed

[2020-07-18 18:32] shcheklein opened #1592 "banner breaks positions for other elements"
After we introduced the banner we broke a few things:

<img width="492" alt="Screen Shot 2020-07-18 at 11 30 23 AM" src="https://user-images.githubusercontent.com/3659196/87859486-3a0c2b80-c8ea-11ea-8289-96a942a26dcd.png">

<img width="1438" alt="Screen Shot 2020-07-18 at 11 31 47 AM" src="https://user-images.githubusercontent.com/3659196/87859499-4db79200-c8ea-11ea-84e3-4455bfcd4ec1.png">

[2020-07-18 18:36] shcheklein commented on #752
I think it should be fixed now.

[2020-07-18 18:36] #752 closed

[2020-07-18 18:37] shcheklein commented on #672
Not relevant anymore I think.

[2020-07-18 18:37] #672 closed

[2020-07-18 18:43] shcheklein opened #1593 "external link icon breaks the line"
<img width="709" alt="Screen Shot 2020-07-18 at 11 42 26 AM" src="https://user-images.githubusercontent.com/3659196/87859684-d682fd80-c8eb-11ea-8333-24d57d29f355.png">

[2020-07-18 18:45] shcheklein commented on #1585
I think this is fixed already.

[2020-07-18 18:45] #1585 closed

[2020-07-18 18:49] shcheklein opened #1594 "external link icon after image"
https://dvc.org/doc/use-cases/data-registries

<img width="701" alt="Screen Shot 2020-07-18 at 11 48 45 AM" src="https://user-images.githubusercontent.com/3659196/87859802-bf90db00-c8ec-11ea-9206-82dea80583da.png">

[2020-07-18 20:04] sp7412 opened #1595 "katacoda broken"
## Bug Report

### Please provide information about your setup
Visited: https://dvc.org/doc/start and clicked on "Run in Katacoda". All the tutorials are broken.

[2020-07-18 20:06] shcheklein commented on #1595
@sp7412 we are aware that some of them are outdated and working on fixing them (see #1586 ). Could you give us details which one specifically was broken for you?

[2020-07-18 20:42] rogermparent commented on #1578
@jorgeorpinel funnily enough, I noticed the CloudFlare outage because it happened toward the end of my research and stopped my progress. All my testing was done beforehand, so I believe it has nothing to do with that issue.

@shcheklein Sure, I can make a new key! I'll try to apply it on Heroku, assuming I have the permissions to modify the production instance. If I can't, I'll send it to you in s

[2020-07-18 21:26] rogermparent commented on #1578
I just changed the token on Heroku to the one I was using. You can see its entry listed on the CloudFlare dashboard under the "dvc.org" site when clicking "Get your API tokens" named "DVC Cache Clear"

I can't seem to find any piece of info associating that CloudFlare token with my account in particular.

[2020-07-19 03:20] weekly-digest[bot] opened #1596 "Weekly Digest (12 July, 2020 - 19 July, 2020)"
Here's the **Weekly Digest** for [*iterative/dvc.org*](https://github.com/iterative/dvc.org):

 - - -
# ISSUES
Last week 31 issues were created.
Of these, 15 issues have been closed and 16 issues are still open.
## OPEN ISSUES
:green_heart: #1595 [katacoda broken](https://github.com/iterative/dvc.org/issues/1595), by [sp7412](https://github.com/sp7412)
:green_heart: #1594 [external link icon after

[2020-07-19 04:35] #1596 closed

[2020-07-19 10:12] sp7412 commented on #1595
Anytime they reference the run command, the flag -n is missing and the command fails.

[2020-07-19 20:58] shcheklein commented on #1595
@sp7412 yep, instead of Dvcfile and `-f` there should be `-n <stage_name>` now. Pretty straightforward fix related to the DVC 1.0 release.

[2020-07-19 22:32] efiop commented on #1439
Added to the sprint, will try to take a look.

[2020-07-20 00:02] shcheklein commented on #1578
Closing this for now and redeploying with the new token. Would be great for the deployment system to notify or fail if clear cache script failed.

[2020-07-20 00:23] shcheklein commented on #1578
Merging the PR broke deployment. Reopening this issue to not forget review PR again ...

[2020-07-20 02:14] rogermparent commented on #1578
How did the deploy break with the PR? I looked over the build logs and the process succeeded. I didn't see the site itself though, so maybe something broke there.

[2020-07-20 02:17] shcheklein commented on #1578
I was a regular heroku Application error page. It should be possible to reproduce it in the preview env I hope?

[2020-07-20 02:28] rogermparent commented on #1578
I didn't see it on the review app, but I think I found the problem. When removing the cache cleaner invocation from the `start` script, I removed the `node` call that invokes `server.js`. Since the server doesn't have a `#!` like the CloudFlare script, it must be directly invoked with `node`.
That explains why the build worked and the deploy didn't- the build went fine because only the proxy serve

[2020-07-20 02:46] rogermparent commented on #1578
I was right! New PR at #1600, and I actually checked the deploy preview this time.

[2020-07-20 03:10] rogermparent commented on #1578
With #1600 successfully merged, we could either close this now or wait until we actually observe a change that would otherwise break without a cache clear.

[2020-07-20 03:12] shcheklein commented on #1578
Yep, closing! Thanks @rogermparent !

[2020-07-20 03:12] #1578 closed

[2020-07-20 17:25] jorgeorpinel commented on #72
Just a single document under How To.

I updated the description of this issue and in fact I think #230 is already included here, in the "manually editing dvc.yaml + dvc commit or dvc repro" checkbox.

[2020-07-20 17:26] jorgeorpinel commented on #230
Closing in favor of #72

[2020-07-20 17:26] #230 closed

[2020-07-20 20:02] jorgeorpinel commented on #1395
So when I try to create an index in user-guide/basic-concepts/index.md I get this error:

![image](https://user-images.githubusercontent.com/1477535/87980881-e6404480-ca99-11ea-8e52-61954831eb11.png)

I'll use a basic-concepts.md file alonside that dir for now. Cc @rogermparent

[2020-07-20 23:21] rogermparent commented on #1592
I'm almost done with a fix for this, mostly revolving around making the placeholder grow and shrink while considering the extra height the banner adds.

I originally wanted to move the hamburger icon into the header so it could be vertically centered with `position: absolute`, but then found due to `z-index` issues we would have to sacrifice the "moving button lines" effect that requires one eleme

[2020-07-21 02:20] jorgeorpinel commented on #1255
Hi Ruslan, any chance the engineering team will be able to submit a draft for this soon? Thanks

[2020-07-21 04:37] rogermparent commented on #1395
@jorgeorpinel I just looked into the issue and found it's easy enough to fix, I just need to add an explicit exclusion for the filename `index` on glossary entries. Do you have a PR with some attempted content changes? If so I can adapt that, otherwise I can make a PR that sets up a dummy index page and we can add content from there.

[2020-07-21 15:21] jorgeorpinel commented on #1395
Thanks for looking into that Roger. So any other md file added there is expected to have frontmatter (otherwise app will crash)? I'm not sure it's the best approach to have a special directory like this in the middle of the content directory. It feels more like a config or source directory currently. If it's going to be in content/ I think it should not have these side effects i.e. the frontmatter

[2020-07-21 17:52] rogermparent commented on #1395
@jorgeorpinel I could either move the glossary's directory out of the content dir or make it so all md files in there without Glossary frontmatter are passed over as glossary entries.

I leave it up to the group which solution to pick, I don't really have a preference here.

[2020-07-21 18:02] jorgeorpinel commented on #1395
Let's wait until #550 is addressed (I already started with that) to decide here 🙂

[2020-07-21 23:23] rogermparent commented on #1000
The first step to solve this is to set the predictable Heroku deploy URLs on the dvc.org Heroku project. This opens up the question of which prefix to use, but I would think the example behavior of just using the project name, `dvc-landing`, is pretty acceptable to everyone since nothing but machines will interact with these URLs.

From there, we'll probably have to make sure the link checker is a

[2020-07-22 02:09] shcheklein commented on #1000
@rogermparent consider this option (if it's technically possible):

- use Github action for this check
- in Github action hopefully there is a way to run it when "environment" is ready and keep it pending until it is deployed
- hopefully we should be able to get the environment URL from the GH action

Also, for the forked PRs- Heroku doesn't deploy them automatically, means that we can't keep Circ

[2020-07-22 03:00] #1592 closed

[2020-07-22 03:47] shcheklein commented on #1395
I would make it optional since it will be part of the content most likely.

[2020-07-22 17:11] shcheklein commented on #1000
wasting resources? deploy might take >10mins

[2020-07-22 17:15] #1439 closed

[2020-07-22 17:17] efiop commented on #1255
@jorgeorpinel Run cache doesn't have much sense on itsown. We will likely describe it when experiments are ready. You could remove that checkbox from this ticket and reopen https://github.com/iterative/dvc.org/issues/1289 , since it is not going to happen very soon.

[2020-07-22 17:28] jorgeorpinel commented on #1255
Right, we don't need a stand-alone document for it but it should be mentioned at least in a few places like run and repro. It's definitely a major discrepancy between the released DVC version and the published docs though. Let's continue the conversation in #1289 (I added it to the checkbox and removed your mention for now). Thanks

[2020-07-22 17:29] jorgeorpinel commented on #1289
Hello! So this continues to be a major discrepancy between released DVC and published docs. I know it's being worked on but at least basic mentions of this should exist in the docs for now. Is it still the plan for someone from engineering to submit a draft proposal adding such mentions? Thanks! Cc @efiop @shcheklein

[2020-07-22 17:44] efiop commented on #1289
@jorgeorpinel Likely no drafts until experiments are here or https://github.com/iterative/dvc/issues/4223 .

[2020-07-22 18:00] rogermparent commented on #1594
Looks like these external link icons are applied through CSS `::after` through an `a[target='_blank']` selector, so we just have to make another selector to suppress that `::after` on image links.

[2020-07-22 19:41] jorgeorpinel opened #1614 "links: automatic command links are too lax now?"
Should `dvc {cmd} {arg}` always be linked? E.g.:

![image](https://user-images.githubusercontent.com/1477535/88220850-2b46b100-cc29-11ea-9eef-53c882f10025.png)

I have the impression this was not the case before. It used to only do that for commands with subcommands, and perhaps some valid options of `dvc config`.

[2020-07-22 19:41] jorgeorpinel commented on #1614
Cc @rogermparent (let's see what Ivan says though).

[2020-07-22 19:57] rogermparent commented on #1614
I don't know when this was introduced, but I'm pretty sure it's not the `simpleLinker` I added. Its current settings only perform exact string matches. This is looks like behavior from `commandLinker` that theoretically has existed for a while.

I can change the behavior now that I'm familiar with the mechanism, but I'll need some specific rules.

You can see in the source that `commandLinker` sti

[2020-07-22 20:17] #1593 closed

[2020-07-22 20:17] #1594 closed

[2020-07-22 22:10] shcheklein commented on #1614
Yeah, I think that was always the case.

Do we want this? I would keep it. May be it should be smart enough to allow only proper third level sub commands and `dvc dag <tag>` should link to the `dag`, not to `dag#tag`

[2020-07-22 22:12] shcheklein commented on #1595
Duplicate #1586

[2020-07-22 22:12] #1595 closed

[2020-07-22 22:45] rogermparent commented on #1614
This is the current behavior as `hasThirdSegment` is only true when the third segment matches a regex determining that it's a proper command. Here's more context around that same snippet:
[code]

For example, the screenshotted link links to `dag`, not `dag#target`, despite `<target>` being in the link content.

[2020-07-22 23:52] jorgeorpinel commented on #144
So is the intention of this ticket to figure out the most efficient way to organize our current and future docs in a sustainable way? A kind of "ultimate solution" to docs structure? (If so I can update the issue's title and desc.)

I think for that we would need to analyze the website traffic, search results, conversions, etc. to make sure the stuff we put close to the surface is the most needed,

[2020-07-23 00:15] rogermparent commented on #1580
I checked for all links containing code quotes which contain `.dvc`, and I don't see any links in the codebase that would fit this pattern that haven't already been taken care of by the non-regex `.dvc` matcher.

`simpleMatcher` does support regexes though, so I can absolutely add this feature!

[2020-07-23 02:17] jorgeorpinel commented on #1614
I don't know... I think we want to be able to have short in-line examples that don't get linked like here:

![image](https://user-images.githubusercontent.com/1477535/88246295-af1b9000-cc5f-11ea-8bfa-df06424dbfa4.png)

^ I don't think that was linked before, BTW. It makes the paragraph have too many links, and it makes the example very hard to copy for pasting. And there's plenty similar examples

[2020-07-23 02:18] jorgeorpinel commented on #1614
UPDATE: On that note... I found an inconsistent behavior of this in https://dvc.org/doc/command-reference/fetch:

![image](https://user-images.githubusercontent.com/1477535/88246688-d888eb80-cc60-11ea-9761-51d672eeecbe.png)
This one links to https://dvc.org/doc/command-reference/config#cache.

![image](https://user-images.githubusercontent.com/1477535/88246699-e474ad80-cc60-11ea-95d3-2a93568633fa.

[2020-07-23 09:39] shachibista commented on #1507
@sarthakforwet Yes, I followed the tutorial sequentially as written.

@jorgeorpinel Yes, I did (as instructed in the tutorial). But I reviewed it and noticed: `We manually added the model output here, which isn't ideal. The preferred way of capturing command outputs is with dvc run. More on this later.`

Removing the `model.h5.dvc` file and re-running the updated tutorial runs successfully! :confe

[2020-07-23 15:05] jorgeorpinel commented on #1507
@shachibista thanks for the suggestion! Instead of interpreting exactly what you mean, would you like to submit a PR with your suggested change? You can do it easily from Github here: https://github.com/iterative/dvc.org/blob/master/content/docs/use-cases/versioning-data-and-model-files/tutorial.md

[2020-07-23 15:36] jorgeorpinel opened #1618 "blog: enable short anchor links?"
We use really long headers in some pages, especially Monthly Gems questions e.g.:

https://dvc.org/blog/june-20-community-gems#q-i-just-upgraded-to-dvc-10-ive-got-some-pipeline-stages-currently-saved-as-dvc-files-is-there-an-easy-way-to-convert-the-old-dvc-format-to-the-new-dvcyaml-standard

Would it be valuable for these to be capped at a certain length, and perhaps add a random number or somethi

[2020-07-24 07:25] jeremydesroches commented on #404
@jorgeorpinel I’ll work on closing this out.

[2020-07-24 16:56] jorgeorpinel commented on #1580
I'm not sure I understand your comment Roger 🙂 Are you saying there's no instances of `.dvc/` in the docs?

Good to know! Please do so when you think the time is right. It's been marked as a p2 so up to you. Thanks

[2020-07-24 17:07] jorgeorpinel commented on #404
Sounds good, thanks @jeremydesroches !

[2020-07-24 17:30] rogermparent commented on #1580
As far as I can tell from a regex search, there are no linked code quotes containing the text `.dvc` which aren't _just_ `.dvc`. There's one link that contains `.dvc/config` in `get_url`, but it links to that specific file on a GitHub repo.

Here's my deadgrep output:

[code]

[2020-07-25 17:07] jorgeorpinel commented on #1580
Gotcha, OK. Thanks.

From the grep, the instance of `.dvc/config` may be a problem I guess? Or is `simpleMatcher` smart enough to let manual links alone? Applies also to all the blog questions.

We should also just remove some of those links e..g "`.dvc/` directory" and "`.dvc` file(s)" but for the latter ones we already have an issue.

[2020-07-25 19:32] rogermparent commented on #1580
Code quotes that are already within links don't get auto-linked, so we're okay on that one.

the '.dvc/ directory' and '.dvc file' ones are left alone because they are within the file that's being linked, and so would rather use a fragment link over a real link.

The only real change I see to do there is change the "`.dvc` directory" link in `content/docs/user-guide/basic-concepts/dvc-project.md`

[2020-07-26 03:20] weekly-digest[bot] opened #1627 "Weekly Digest (19 July, 2020 - 26 July, 2020)"
Here's the **Weekly Digest** for [*iterative/dvc.org*](https://github.com/iterative/dvc.org):

 - - -
# ISSUES
Last week 30 issues were created.
Of these, 19 issues have been closed and 11 issues are still open.
## OPEN ISSUES
:green_heart: #1626 [Example updates per 1.x](https://github.com/iterative/dvc.org/pull/1626), by [imhardikj](https://github.com/imhardikj)
:green_heart: #1624 [repro 1.x :

[2020-07-26 08:39] karajan1001 opened #1628 "cmd: document check-ignore"
linked to Related to PR iterative/dvc#4282.

[2020-07-26 20:54] #1627 closed

[2020-07-28 00:30] jorgeorpinel opened #1632 "repro: improvements to targets arg and -R option"
And per private discussion with Ruslan rel. to iterative/dvc/issues/4292

- [x] Update `targets` description to `Stage or path to dvc.yaml or .dvc file to reproduce` for now,
  see resolution of iterative/dvc/issues/4292
- [x] This should be clarified in the -R option desc: It expands what the `targets` argument accepts (directory paths).
  Make sure options -c and -P are also clear and complete,

[2020-07-29 03:18] jorgeorpinel opened #1635 "cmd: update version ref."
Per iterative/dvc/pull/4114

[2020-07-29 15:29] jorgeorpinel opened #1638 "cmd: explain init dvc nested dvc projects/repos and relationship to --subdir"
## Report

UPDATE: Jump to https://github.com/iterative/dvc.org/issues/1638#issuecomment-665745290

---

[code]

- (2nd example above:) should it be enforced or warned in dirs that contain a subdir with a dvc repo?
- ~~Also, should it also be enforced even with `dvc init --no-scm`?~~ OK no point in this, but maybe should be mentioned in the docs.

### Please provide information about your setup

*

[2020-07-29 15:49] jorgeorpinel commented on #1638
Actually the descriptions of --subdir is accurate, "--subdir must be provided to initialize DVC in a subdirectory of a Git repository." and "initialize the DVC project in the current working directory, even if it's not the Git repository root."

---
I guess the confusion really is about nested DVC projects. Are there restrictions? Guidelines? How does it relate to `--subdir`? Probably worth a new

[2020-07-29 19:09] shcheklein commented on #1638
@jorgeorpinel that should potentially explain this https://dvc.org/doc/command-reference/init#how-does-it-affect-dvc-commands ?

[2020-07-29 19:24] shcheklein commented on #1445
Reopening since there are still Dvcfile in the docs?

[2020-07-29 20:49] jorgeorpinel commented on #1445
Where? Only one in content\docs\install\plugins.md which Ruslan recommended we keep for backward compatibility.

[2020-07-29 21:02] shcheklein commented on #1445
Yep, probably got removed in another PR or commits!

[2020-07-29 21:02] #1445 closed

[2020-07-29 21:44] jorgeorpinel commented on #1445
Yeah sorry that PR was confusing. There was an overlapping one and I merged them in the right order 🙂

[2020-07-30 00:20] jorgeorpinel commented on #1638
I think not. That's still part of the --subdir use case explanation. Nested DVC repos is a separate matter (with some overlap). That's exactly the confusion I'm trying to clear 🙂

[2020-07-30 00:27] shcheklein commented on #1638
I guess it starts with the `On the other hand, if there are nested DVC projects, e.g.:` part? What else exactly do we need there?

[2020-07-30 03:56] jorgeorpinel commented on #404
@shcheklein the first bullet states "motivation for this command - mostly ease of generating stage files no matter where you run the dvc run". Actually, we no longer see `run` as the main and recommendad way to generate dvc.yaml files, so is that motivation still valid? I think almost. Maybe something more like "ease of generating stages in dvc.yaml files programmatically, or regardless of where `

[2020-07-30 04:07] jeremydesroches commented on #404
@jorgeorpinel Yes, that does make sense to me. The examples work with `dvc run`, but don't seem as useful as direct or programmatic usage in dvc.yaml files. If the recommended use and primary motivation is to use it in dvc.yaml files then the examples could be updated too.

[2020-07-30 04:12] jorgeorpinel commented on #404
Great! Please use the motivation I suggested as the guiding idea for finishing updating the command's description.

I agree, but let's keep the current PR small for now, and just update the existing content or remove examples if they're no longer relevant? Leaving it for another PR to add new ones (so please don't use the special word "Fixes" in the PR description for now). Thanks

[2020-07-30 04:16] jorgeorpinel commented on #404
ALTHOUGH by programmatically we basically mean shell scripts here I think (since `dvc root` is a command)... And I'm not sure people will generate dvc.yaml files with shell scripts very often. I guess you can invoke the command from any programming language to... But for Python specifically there's probably a better way using the `dvc` module.

So maybe let's wait to see what @shcheklein says. Let

[2020-07-30 04:22] jeremydesroches commented on #404
OK, I'll wait for comments before updating motivation and examples. I can see how it might be used in a script to "template" an experiment or stage to be used in different projects, but that type of example might be too detailed for a command reference.

Removed "Fixes" from the PR description.

[2020-07-30 04:23] jorgeorpinel commented on #404
Thank you. I'm thining hard about this rn. Maybe I'll come up with an answer... Give me a few ⏳

[2020-07-30 04:44] jeremydesroches commented on #404
Great! Thanks for your help.

[2020-07-30 04:48] jorgeorpinel commented on #404
On the countrary, sorry we let you start working on this without thinking it through. It's just a pretty old issue... But anyway...

OK, I had a discussion with myself (and found a previous conversations in https://github.com/iterative/dvc.org/pull/408) and yes, it's main use cases seem to be 1) as a way to get the project root from shell scripts that generate dvc.yaml files either with the `dvc r

[2020-07-30 06:52] jeremydesroches commented on #404
No problem at all. I was hoping to work on an issue that required a bit of investigation and discussion. I learned a lot, so mission accomplished!

So based on your discussion (haha) it sounds like the the current PR won't need much more adjustment. I'll find a newer issue to work on next. (Please let me know if any suggestions or preferences.)

I see, so you couldn't have a dvc.yaml file with a $

[2020-07-30 06:59] jorgeorpinel commented on #404
Yep, just to address the couple reviews already open in that PR should wrap it up.

Correct. Once generated, they would be hard coded in dvc.yaml (or in a .dvc file for that matter, since you could do something like `dvc add $(dvc root)/data/words.txt`. See https://dvc.org/doc/command-reference/add if you haven't 🙂

[2020-07-30 18:10] jorgeorpinel commented on #1638
Good point: the "nested" term is used with regard to DVC projects already, yes. But I'm talking also about nested DVC repos.

[2020-07-31 04:48] jorgeorpinel opened #1641 "doc: mention that multiple dvc.yaml files are supported"
Note needed probably in
- https://dvc.org/doc/user-guide/dvc-files-and-directories,
- https://dvc.org/doc/command-reference/run, and
- maybe https://dvc.org/doc/command-reference/repro

Anywhere else?

[2020-07-31 05:25] jorgeorpinel commented on #1614
Hi! Also I noticed in some WIP PR that `dvc {cmd}` will link to the cmd ref even from `#` md headers (H1, etc.) — I have the impression this also wasn't the case before. Regardless, do we want this behavior? Probably no instances of this in the docs though.

[2020-07-31 05:44] jorgeorpinel commented on #404
OK, #1637 almost closed this (thanks @jeremydesroches) but we still need that shell script example. I updated the description of this issue (who knew it would be so hard to close...)

[2020-07-31 15:58] shcheklein commented on #1614
@jorgeorpinel yes, I would keep it. Why not? And it's useful in the blog - especially gems.

[2020-07-31 18:52] jorgeorpinel commented on #1614
Because it seems unexpected to see links in part of a header. Seems to me like too much hyperlinking. The links no doubt will be repeated in the text below 99% of the times. When you click on headers I think you normally expect an anchor that you can copy in the URL bar.

I think having the option to make regular `[md](links)` in the headers is good but not sure about the auto links. For example:

[2020-08-03 17:40] nik123 opened #1652 "status -j: describe default value"
Not sure if it is a bug, but all commands with `-j` flag except `status` describe default value: "The default value is `4 * cpu_count()`. For SSH remotes, the default is just `4`". Probably `-j` description in status command should contain it too.

[2020-08-03 18:51] #1652 closed

[2020-08-04 08:56] MatBailie commented on #1507
@jorgeorpinel - I can re-iterate the preceding point.

The tutorial **_expressly_** tells you to run `dvc add model.h5` in **_two_** different places, prior to the `dvc run` command mentioned in the original post.  This leads to the error reported.
- https://dvc.org/doc/use-cases/versioning-data-and-model-files/tutorial
- `ERROR: output 'model.h5' is already specified in stage: 'model.h5.dvc'.`

I

[2020-08-04 18:50] jorgeorpinel opened #1657 "blog: create tag cloud page or widget"
I don't think there's a way to list all tags for our blog posts. You have to check each one from the bottom of any blog post to see if they have other content. Idk if we need a full page for this, or just a small section in the blog home showing a tag cloud (larger words for tags used the most).

From https://github.com/iterative/dvc.org/pull/1505#discussion_r465259532:

So this feature would help

[2020-08-04 18:51] jorgeorpinel commented on #1657
Cc @shcheklein @rogermparent @elleobrien @dmpetrov

[2020-08-04 18:54] jorgeorpinel commented on #1657
From https://github.com/iterative/dvc.org/pull/1505#discussion_r465259532:

So this feature would help the navigation part.

[2020-08-04 19:38] jorgeorpinel commented on #1507
@MatBailie running `dvc add` again on any file won't throw any error. If the file is different it prints `100% Add ...`, if it hasn't changed it prints `Stage is cached, skipping`. Unless you're using an old version of DVC, in which case maybe the output is different. In any case, for the tutorial, the 2nd add is after `python train.py` so the model file should be different.

Or maybe there's an e

[2020-08-04 19:48] rogermparent commented on #1657
I can absolutely do this once I clear my plate with the new link checker and some other small features/fixes. I spent a lot of time figuring out tags in Gatsby to make a plugin a while ago, so this is an area I'm particularly good in.

In the meantime, we could put together some designs for what the tag cloud looks like- as well as any other changes we'd introduce like tag indexes, though those wi

[2020-08-04 19:52] casperdcl commented on #1657
Would be useful - e.g "Productivity" is only used once. Seems like it could be appropriate to add to some of the others:

- 2017-05-15-how-a-data-scientist-can-improve-his-productivity.md ['Productivity', 'Python', 'Tutorial']
- 2017-07-24-r-code-and-reproducible-model-development-with-dvc.md ['RStats', 'R']
- 2017-07-27-data-version-control-in-analytics-devops-paradigm.md ['DevOps']
- 2017-08-23-

[2020-08-04 20:17] jorgeorpinel commented on #1507
UPDATE: I just followed the full tutorial in https://dvc.org/doc/use-cases/versioning-data-and-model-files/tutorial and I see the error comes out at `dvc run`, because `dvc add` was previously used on the same file.

OK, I got y'all now... Will update it ⌛

[2020-08-05 04:40] jorgeorpinel commented on #1507
Being fixed in #1658. Thanks!

[2020-08-05 13:37] bobertlo opened #1660 "pull: add troubleshooting hints for failed command"
It has been mentioned (https://github.com/iterative/dvc/issues/4316) that the error text when checkout fails after pulling from an out of date remote is not very clear. In attempting to clarify the error (https://github.com/iterative/dvc/pull/4339) it was suggested that a link to a "common issues" page would be helpful.

Looking at the website, I agree that https://dvc.org/doc/user-guide/troublesh

[2020-08-05 19:14] #1638 closed

[2020-08-06 00:26] jorgeorpinel opened #1663 "term: simplify multiple mentions about dvc.yaml + dvc.lock + .dvc files"
UPDATE: One thing left here, see https://github.com/iterative/dvc.org/issues/1663#issuecomment-749333023 below.

To achieve this, we will probably need to introduce a new glossary term such as "Special DVC files".

[2020-08-06 00:32] #886 closed

[2020-08-06 01:20] shcheklein commented on #1663
Not sure about _Special_ though. They are not very special I guess.

[2020-08-06 04:16] jorgeorpinel commented on #1657
Location: there's an extremely convenient whole to the right of the most recent article title:

![image](https://user-images.githubusercontent.com/1477535/89486872-a780de80-d769-11ea-9b9c-b9ce614da95a.png)

Prob no design needed at first, maybe juts try an existing component e.g. https://www.npmjs.com/package/react-tagcloud

[2020-08-06 16:31] jorgeorpinel commented on #1660
Sure, for now in the core repo please use a link in the form https://error.dvc.org/short-problem-desc. This will redirect to https://dvc.org/doc/user-guide/troubleshooting#short-problem-desc

Then please let us know here what the value of `<short-problem-desc>` ends up being, and a description of the problem/solution (or link to where the solution is described) so this issue is actionable.

Thanks

[2020-08-06 17:05] jorgeorpinel commented on #1663
"DVC metafiles"? "DVC-specific files"? Can't use just "DVC files" because it looks almost like ".dvc files".

[2020-08-06 17:59] shcheklein commented on #1663
DVC files with <abbr> if needed sounds good to me. I don't how to generalize it better. `.dvc`, `dvc.lock`, `dvc.yaml` - they all DVC files, right?

[2020-08-06 23:59] jorgeorpinel commented on #1663
People have always called `.dvc` files "DVC files", which makes sense and it's one of the reasons we wanted to stop using the term "stage file" (even before 1.0) because we really had to force it and still was not adopted. Throwing in dvc.yaml (and dvc.lock) sounds like making a similar mistake, where we'll have to force people to get that DVC files are not just .dvc files but also other files.

A

[2020-08-07 03:15] #1628 closed

[2020-08-07 05:02] jorgeorpinel commented on #1172
I checked with something like `dvc run -n stgnm -d /ignored/external/path -o out cmd /external/path out` (also with relative ignored external path, both cases in `.dvcignore`) and indeed `run` doesn't care that they're ignored.

I wonder if this is a core bug rather though. Should I transfer it over to the `dvc` repo @efiop @shcheklein ? Thanks

[2020-08-07 05:37] jorgeorpinel commented on #1172
P/s from iterative/dvc/issues/3656 being marked `nice-to-have` I assume this is not a bug after all.

We should mention it in docs indeed. BTW it's the same for external outputs: `.dvcignore` has no effect on them.

[2020-08-07 09:49] karajan1001 opened #1674 "doc: arguments `--stdin` and `--all` for `dvc check-ignore` cmd"
linked to Related to PR iterative/dvc/pull/4323

[2020-08-07 17:23] jorgeorpinel commented on #1674
Thanks! Quick note: if opening a PR immediately for these, there's prob no need for the issue. But doesn't hurt either. Thanks

[2020-08-07 17:25] jorgeorpinel commented on #1674
p.s. I think the relevant link here is https://github.com/iterative/dvc/issues/4321 right? Which is merged 👍

[2020-08-07 17:26] jorgeorpinel commented on #1674
I mean https://github.com/iterative/dvc/pull/4323 🤦

[2020-08-09 08:18] skshetry opened #1683 "docs: insufficient description of params"
https://github.com/iterative/dvc.org/blob/7546c1f45a435ebd7840426a9349c402e72bace1/content/docs/user-guide/dvc-files-and-directories.md#L153-L155

The link to _parameter dependencies_ takes to the `params` where it's not clear where I find what it means (unless I read 341 words, who has time for it).

Also, the meaning of  _key paths_ is not clear, and makes it even more confusing since it talks a

[2020-08-09 14:02] shcheklein commented on #1683
Agreed, sentence is very confusing - it should be plain and explicit. I guess it comes from the fact that this doc initially was initially written as a reference for `.dvc` files, that were not human editable in its default mode. With 1.0 we have moved to some DVC language in "dvc.yaml", but haven't optimized docs for this.

I would suggest to do initial simple change though - one or two sentences

[2020-08-09 20:35] jorgeorpinel commented on #1683
I agree that the text can be improved, but for context, we are talking about a bullet under "Each stage can contain the possible following fields:" in https://dvc.org/doc/user-guide/dvc-files-and-directories#dvcyaml-file. The goal here is to describe the fields inside dvc.yaml stages and what format they may have.

Idk. https://dvc.org/doc/command-reference/params starts it's **Description** with

[2020-08-09 20:48] jorgeorpinel commented on #1683
p.s. this is why we need a **DVC Concepts** guide (being worked on) and extract all these explanations from the cmd ref though (e.g. params, metrics, remote, etc.)

[2020-08-09 21:28] shcheklein commented on #1683
Glossary can definitely help here I think. Short explicit description in the tooltip should be enough. + a link to the long params command reference. Text should be fixed first though. One sentence change in this case can solve 80% of the problem.

[2020-08-10 00:45] jorgeorpinel commented on #1683
OK. See https://github.com/iterative/dvc.org/pull/1680/commits/6649f0a858be8f7f88123f373556bb50657c15da

[2020-08-10 03:01] jorgeorpinel commented on #550
From https://github.com/iterative/dvc.org/pull/1581#discussion_r467630993:

So consider breaking up Basic Concepts or DVC Concepts into a full User Guide sub-section.

[2020-08-10 06:39] skshetry commented on #1683
@jorgeorpinel, the dvc.yaml docs should be a guide rather than the reference. As it is, it's hard to translate that reference into a hand-written dvc.yaml file.

Just for params, it does not answer many of the questions which are essential to write a dvc.yaml stage (even in the new edition), such as:

1. What is a parameter dependency?
2. How do I track specific params?
1. How to track nested valu

[2020-08-10 15:29] jorgeorpinel commented on #1683
Maybe we need a separate guide, but this one doc is more of a reference indeed. Even if it's in the User Guide section. For now it's being solved in the commit I mentioned, please check out that PR.

Can you think of more questions you think are not answered by the doc? Please list them all and we'll open a separate issue to discuss. In fact maybe if you can move all of them to another issue that'

[2020-08-10 22:11] #425 closed

[2020-08-11 23:12] #1660 closed

[2020-08-12 20:02] shcheklein opened #1690 "ref: add a description on how GDrive remote data is shared"
Try different workflows, shared folders, shared drive (advanced)

https://discordapp.com/channels/485586884165107732/485596304961962003/742998672400449556

+

https://discordapp.com/channels/485586884165107732/485596304961962003/743193799445971036

[2020-08-12 20:26] qypea opened #1691 "Ubuntu install unknown gpg key"
When installing using the [repository instructions](https://github.com/iterative/dvc.org/blob/master/content/docs/install/linux.md#on-debianubuntu) on ubuntu 18.04 amd64 I am getting the following error:
[code]

Where would I find the public GPG key to import into apt so it can verify this repository?

[2020-08-13 04:11] skshetry commented on #1683
I don't think the #1680 solves anything. There's glossary for sure, but that does not help anyone to write a dvc.yaml. Not to add, it still does not mention anything about custom params file (which people are finding confusing).

Yeah, it's a reference. But we could do something like that in a guide format, i.e having separate sections of params/deps/outs/plots and providing a few examples of each

[2020-08-13 04:19] shcheklein commented on #1683
@skshetry I agree with Jorge on this. The title says "insufficient description of params". We have more than enough to my mind.

both problems are related but way more global than this ticket (again, see the title). Let's create a separate issue for writing the `dvc yaml` guide. Eventually it might turn out that section will replace this single document, for example. But description of the ticket

[2020-08-13 04:25] skshetry commented on #1683
"insufficient description" is a vague term, so it depends on how you see it. It still leaves some question unanswered:

These are "how-to" but could have been mentioned on the reference, but, anyway if we go the dvcyaml-guide route, I'm fine with closing this for the exchange of the other issue.

[2020-08-13 04:25] #1683 closed

[2020-08-13 16:43] jorgeorpinel commented on #550
I'm going to summarize the goals and plans around this issue:

- [ ] There should be a page or section (maybe called **Basic Concepts** in UG, see example in [this closed PR](https://github.com/iterative/dvc.org/pull/1655/files?file-filters%5B%5D=#diff-cfffe134a2be45efa832d561bda45797)) — properly written on a user-level language (closer to UC) — explaining some concepts and DVC philosophy

- Poss

[2020-08-15 03:48] jorgeorpinel opened #1699 "ref: better prioritize and highlight common remote options"
Extracted from https://peckofpickledpojos.wordpress.com/2020/08/09/learning-dvc-by-trial-and-error
(also related to https://discuss.dvc.org/t/dvc-push-to-public-s3-bucket/457):

DVC-based solution:

[code]

Probably many other remote config options that are only listed in collapsed sections of https://dvc.org/doc/command-reference/remote/modify (already buried inside the `> remote` cmd ref. nav el

[2020-08-15 03:52] jorgeorpinel opened #1700 "docs: simplify `run` examples, leaving bare min. usage"
Extracted from https://peckofpickledpojos.wordpress.com/2020/08/09/learning-dvc-by-trial-and-error:

For example the first `run` example in https://dvc.org/doc/start/data-pipelines could just use `python src/prepare.py` as command and avoid repeating the dependency to avoid confusion. Probably other simplifications can be done to show the gist of `run` there and in other very-first examples of `ru

[2020-08-15 17:49] nik123 opened #1701 "cmd ref: status: ignoring cache that is not in local cache nor in remote"
UPDATE: Jump to https://github.com/iterative/dvc.org/issues/1701#issuecomment-678632753

---
Command reference for `status` should probably describe situation when target is missing both in local cache and remote.

Target missing both in cache and remote may happen if Alice executes `dvc add data.csv`, `git add data.csv`, `git commit` and `git push` but doesn't execute `dvc push` and Bob executes

[2020-08-15 17:52] nik123 commented on #1701
It should be probably described in "Examples" section but I was unable to come up with nice and simple one therefore it's only issue and not PR.

[2020-08-15 19:20] jorgeorpinel commented on #1699
Another example: mention `GOOGLE_APPLICATION_CREDENTIALS` in https://dvc.org/doc/user-guide/setup-google-drive-remote

[2020-08-15 22:31] jorgeorpinel commented on #1690
Related: #1699

[2020-08-16 02:10] jorgeorpinel commented on #1663
OK, so I vote for "DVC metafiles" (would mostly be used in plural). WDYT @shcheklein? Should we call in a vote from everyone via Slack or mentioning them here perhaps?

[2020-08-16 02:28] jorgeorpinel commented on #1663
Actually... a term to group the files may not solve our problems. We also have to repeat the phrase "stages and .dvc files" a lot, and that could not be replaced by a term that refers to files.

We may need a broader concept, kind of like how we used to consider .dvc files "(orphan) stages" before, except I would use that term anymore since it would be overloaded... So maybe "DVC nodes", "DVC bloc

[2020-08-16 02:49] shcheklein commented on #1663
sounds too complicated,

you mean targets? it's mix of everything - path, .dvc. stage names, etc. I guess there is no way to avoid this and it's fine. Also, I would check how other tools solve this.

DVC metafiles is fine.

I hope we don't need everyone to vote on this.

[2020-08-16 02:58] jorgeorpinel commented on #1663
OK. I'm just concerned that the terminology in the core repo will be very different. Terms like DVC-file and stage file are probably still around and even output to users as help messages/ warnings, etc.

[2020-08-17 06:26] noahbrenner commented on #1315
I generally prefer to create an [.editorconfig](https://editorconfig.org/) file. Since Prettier [also uses this file](https://prettier.io/docs/en/api.html#prettierresolveconfigfilepath--options), that allows `.editorconfig` to be a central location to configure both your editor/IDE and Prettier.

[2020-08-18 12:06] skshetry opened #1704 "Document that yaml files are expected to be in YAML v1.2"
After this ~~pending~~ PR https://github.com/iterative/dvc/pull/4415, all YAML files will be expected to be in YAML1.2.

Unless they were hand-written, it should not break anyone's workflow.
![](https://imgs.xkcd.com/comics/workflow.png)

The workaround will be to add YAML version directive to the top of the file (though on `dvc metrics/params` with `--revs`, they might see wrong values or values

[2020-08-18 18:11] jorgeorpinel commented on #1704
Interesting. Is there a changelog or better doc that explains the main differences between <1.2 and >=1.2 ?

Can you explain this a little further? Where are these directives explained, what YAML files? Example? Thanks

[2020-08-19 04:29] #1429 closed

[2020-08-19 05:09] #1674 closed

[2020-08-19 05:14] skshetry commented on #1704
You can check the list of differences here: https://yaml.readthedocs.io/en/latest/pyyaml.html#defaulting-to-yaml-1-2-support

1. `Y/N/on/off/yes/no` are boolean in 1.1, but strings in 1.2.
2. Octal numbers and sexagesimal numbers are not supported in 1.2.
3. `\/` escape sequences  (should not be a big issue here).
4. correct parsing of exponentials: this is what made us move to 1.2. In YAML 1.1, `

[2020-08-19 05:55] jorgeorpinel commented on #1701
Good idea for a note or example. We could also clarify the bullet list in the Description: some bullets are confusing e.g. "new" inside "changed deps or changed outs", and the explanation of "not in cache" seems contradictory.

[2020-08-19 06:04] jorgeorpinel commented on #1315
Thanks @noahbrenner but I think still Prettier and IDEs will ignore tabls in code blocks, regardless of how the tab->spaces policy is configured.

[2020-08-19 06:11] noahbrenner commented on #1315
@jorgeorpinel That makes sense. It wouldn't fix existing codeblocks, but I'd expect that an `.editorconfig` file would at least help avoid creating more instances of this issue in the future (assuming that all contributors have Editor Config plugins for their IDEs, which might not be a good assumption). That doesn't eliminate the need for other automated checks and fixes, it's just another potenti

[2020-08-20 07:30] jorgeorpinel commented on #1704
Sounds like we should focus on adding notes about this in docs, where needed. We can also specify `YAML 1.2` somewhere but that seems less relevant since it's been the stable version for over 10 years. (Why did we even use 1.1? 😬)

OK. But again, can you explain this? What is a version directive? Where is it documented? How is it a workaround and workaround for what? Etc.

Thanks

[2020-08-20 07:36] skshetry commented on #1704
@jorgeorpinel, the most popular library in python is `pyyaml` which still does not support 1.2, and since 1.1 is almost 20 years old, it can be parsed twice as faster. We are sacrificing that speed.

You just have to start your YAML document with:
[code]
https://yaml.org/spec/1.2/spec.html#id2781553

[2020-08-20 16:40] jorgeorpinel commented on #1704
OK. About "YAML" directives, there are still open questions @skshetry . Again, can you explain this a little further please??? We can't document something that isn't fully understood.

How is it a workaround and workaround for what? Who would add them and to which files? Examples?

Thanks!

[2020-08-20 22:39] jorgeorpinel commented on #862
Here's another good inspiration for this use case: https://peckofpickledpojos.wordpress.com/2020/08/09/learning-dvc-by-trial-and-error/#comment-5

Bumping priority a little.

[2020-08-21 04:41] jorgeorpinel opened #1706 "webdav: review sample URLs"
WebDAV seems to be setup as any HTTP server so no need for `public.php` samples in our docs (as they exist now from #1617).

UPDATE: From https://github.com/iterative/dvc.org/pull/1695#discussion_r474478655:

[2020-08-21 04:46] umnikovas opened #1707 "blog: competitor blog analysis and a list of features that we can implement."
I made a competitor blog analysis and made a list of nice to have features on our blog platform:
You can look at it from [here](https://whimsical.com/GzT5jpfTyi2NfJL2DBK63G@AhRp651J2qYFaDMyJ7ZPexSR9)

I want to open a discussion about where should I contribute my design skills first.
Rate issues according to there effort and probable benefits.

After ill finish deploying design here:
#1364
I'm pla

[2020-08-21 16:52] shcheklein opened #1709 "build is broken on production, dev"
[code]

Looks like some recent changes to `get-url` broke it? @jorgeorpinel do you remember if we've tested the deploy before merging the most recent changes to this page?

[2020-08-21 17:46] #1709 closed, assigned to jorgeorpinel, rogermparent

[2020-08-22 20:03] jorgeorpinel opened #1713 "engine: broken image caption"
See https://dvc.org/doc/use-cases/data-registries:

![image](https://user-images.githubusercontent.com/1477535/90964690-7eaa5a00-e488-11ea-83e1-accf2dc26426.png)

The source code (in https://raw.githubusercontent.com/iterative/dvc.org/master/content/docs/use-cases/data-registries.md) is:

[code]

The only strange part is the text inside brackets, but I tried removing these in my local dev env and

[2020-08-23 00:51] #1713 closed, assigned to nobody

[2020-08-23 18:52] jorgeorpinel commented on #1701
OK so in summary, we agree to add a _missing_ bullet to https://dvc.org/doc/command-reference/status#comparison-against-remote-storage 🙂

[2020-08-25 17:13] skshetry commented on #1641
Can we prioritize this? :slightly_smiling_face:

[2020-08-25 17:14] skshetry commented on #1641
If it's not possible for now, I can work on this next week.

[2020-08-25 17:16] shcheklein commented on #1641
@skshetry that would be great! feel free to take it :)

[2020-08-25 19:46] shcheklein commented on #1231
Also we don't hide the banner when we open it. Prioritizing this.

[2020-08-26 20:40] jorgeorpinel opened #1722 "cases: extract how-to/tutorial parts into separate pages"
In the case of any how-tos, into the new How-to section (see #899);
In the case of tutorials, into subpages like https://dvc.org/doc/use-cases/versioning-data-and-model-files/tutorial (for now).

See https://documentation.divio.com/introduction/ for useful guidelines.

[2020-08-26 23:55] #1706 closed

[2020-08-27 02:42] shcheklein commented on #1707
Some great points here! I would prioritize it like this:

1. Improving subscription block (better message, move it to the top, etc)
2. Comments at the end of the article, we even have a ticket for that already!
3. Some low-hanging fruits like UI, accessibility, fonts, etc
4. Tags navigation, share button
5. Author page, related posts at the end.

[2020-08-27 04:31] jorgeorpinel opened #1727 "warnings and errors in prod deployment"
E.g.

[code]

[2020-08-27 04:32] jorgeorpinel commented on #1727
Cc @rogermparent 🙂

[2020-08-27 05:55] rogermparent commented on #1727
I can clear a lot of the easy ones right off, like the inferred resolvers and expired events. I'll have a fix for those up within the hour.

`warning code block language not specified in markdown. applying generic code block` is part of `gatsby-remark-prismjs`, and I was able to squash locally by making a language extension for `text`, which is the keyword for code blocks with no specified languag

[2020-08-27 08:30] pared opened #1730 "Edit HTTP remote related posts regarding strong and weak etag"
After https://github.com/iterative/dvc/pull/4372 we started supporting weak etags.
Need to update the documents related.

- [x] https://dvc.org/doc/user-guide/dvc-files-and-directories
- [x] https://dvc.org/doc/user-guide/external-dependencies
- [x] https://dvc.org/doc/command-reference/import-url

[2020-08-27 17:00] jorgeorpinel commented on #1727
Hey thanks @rogermparent ! No need to fix everything but it's good to keep an eye on these logs now and then, since like you mention, builds fail occasionally (on PR review apps mostly).

About the image cropping, please open a separate issue if you guys think it's worth it cc @shcheklein

[2020-08-27 23:59] rogermparent opened #1732 "Community page occasionally breaks build in production environment"
Occasionally, our cache re-use breaks on the Community page schema. While the deploy script wipes non-image cache and rebuilds for a success, this obviously isn't optimal.

From what I've observed, the issue that causes it isn't as simple as every cache re-use, as #1729 succeeded on both its first build that takes cache from master and its second rebuild that uses its own cache.

However, if the i

[2020-08-28 01:40] rogermparent opened #1733 "Blog index queries take long enough to trigger Gatsby warnings"
Split off from #1727

My hypothesis copied from there:

While worth looking at, I believe this takes less priority than the other split issue #1732, as that one actually causes the build to multiply in length when it happens.

I believe, the first step to fixing this would be trying to use one source set in blog index thumbnails instead of two. I haven't tested this yet, though.

[2020-08-28 04:53] #1727 closed

[2020-08-28 16:45] jorgeorpinel commented on #72
UPDATES:

We are currently following this approach in #1705 but I'm not sure it will stick. Maybe Best Practices should be in the form of _Explanation_ (a regular user guide, or directly under Home, even) and not as a _How-to_ (problem-solution format). We'll see...

- [ ] And another best practice to write about is "how to" track and version compressed archives, composite binaries, even video per

[2020-08-28 16:46] jorgeorpinel commented on #72
Cc @imhardikj

[2020-08-28 16:46] jorgeorpinel commented on #682
Should this be a Best Practice instead of a Use Case? See https://github.com/iterative/dvc.org/issues/72#issuecomment-682868683.

[2020-08-28 20:37] jorgeorpinel commented on #1614
Hi. Found another issue with enabling automatic links in headers (see https://github.com/iterative/dvc.org/pull/1735#pullrequestreview-478009965): the text disappears in headers of expandable `<details>` sections.

Bumping the priority a little. Let's fix this bug at least? Just in case, even if we opt for not using back ticks in headers.

[2020-08-28 21:17] rogermparent commented on #1614
I can certainly make `simpleLinker` not apply within headers. Even if the linked interaction did work, having auto-links in the description box (or even regular headers) looks a bit out-of-place in my opinion.

[2020-08-28 21:20] rogermparent commented on #1614
Actually, it seems that change didn't fix the issue. It may be a deeper interaction between the code quotes and the `details` tag.

[2020-08-29 03:14] jorgeorpinel commented on #1614
Agree.

What change? 🙂

[2020-08-29 03:41] rogermparent commented on #1614
Ah, I posted that before the PR. Simply removing the auto-linker from headers didn't fix the `details` issue, and `details` had to be changed to actually fix it.

[2020-08-29 04:21] jorgeorpinel commented on #1614
OK so the `<details>` part is addressed by #1736, right? Kk, thanks.

[2020-08-29 05:19] shcheklein commented on #1614
I think all headers are not auto-linked now. Let's try to keep this way since we did this in PR and see how it goes. Looks like nobody likes auto-linked headers.

[2020-08-29 23:03] jorgeorpinel commented on #72
Another possible best practice (or anti-practice):

- [ ] Avoid dynamic names (and other non-deterministic behavior — mentioned in dvc run ref). See this [support case](https://discord.com/channels/485586884165107732/563406153334128681/749140790328164466) for context.

[2020-08-30 17:45] #1701 closed

[2020-08-31 18:54] jeremydesroches opened #1743 "docs: List instances of stage file concepts, dvc run/checkout/repro for example review and update to 1.0"
From #1255 :

List of places here, including initial example:

**Get Started**
- [x] [https://dvc.org/doc/start/data-pipelines](https://dvc.org/doc/start/data-pipelines)
- [x] [https://dvc.org/doc/start/experiments](https://dvc.org/doc/start/experiments)
- [x] Several cmd examples/links need updating (see **Command Reference** section below)

**User Guide**
- [x] [https://dvc.org/doc/user-guide/dv

[2020-08-31 18:59] jeremydesroches commented on #1743
@jorgeorpinel I'll list the issues as shown. Should the second part remain here or be it's own issue?

[2020-08-31 21:26] jorgeorpinel commented on #1743
Nice, thanks @jeremydesroches. Let's keep the 2nd part here for now. I edited the description above a bit.

[2020-08-31 22:29] #1291 closed

[2020-09-01 13:58] yarikoptic opened #1749 "docs: list of demo cases/real-life success stories"
Looking at https://dvc.org/doc/use-cases/versioning-data-and-model-files/tutorial I wanted to look at some real use cases which would demonstrate the power and features of DVC.  I wondered if there is some examples (on github?) you could point to?

Thank you in advance!

[2020-09-01 16:31] jorgeorpinel commented on #1749
Hi Yaroslav,

We only maintain basic guides in our docs because DVC is still evolving fast. Other than that versioning tutorial you found, this is the main one: https://dvc.org/doc/start (it comes with a matching GitHub repo)

There are several other DVC tutorials published in well-respected blogs both by us and by 3rd-party contributors, which can be found via web searches. Many of them have matc

[2020-09-01 16:32] jorgeorpinel commented on #1749
P.s. feel free to reach us directly at dvc.org/chat with other questions 🙂

[2020-09-01 17:02] shcheklein commented on #1749
@yarikoptic yeah, we never actually spent time to find and track existing public repos (I guess it's even our goal, majority of cases are still private repos), neither doing actual "user stories" besides what @jorgeorpinel already mentioned and some talks that are publicly available.

Are you curious in general or in some specific aspect? I might remember and point you to some

[2020-09-01 17:50] yarikoptic commented on #1749
Thank you @jorgeorpinel for the references, I will check them out!

@shcheklein yeap -- having "user stories" and some real world examples referenced within docs or even some dedicated registry of those -- would have been great resource to all dvc users and newcomers.
In my case I just wanted to find some real world examples on how people use dvc, so to appreciate features dvc provides and which a

[2020-09-01 17:57] shcheklein commented on #1749
@yarikoptic yep, I feel you! I have the same problems with the other tools (I haven't checked the DataLad website for a while though). Don't know even what to recommend here ... if you can use my time we jump on a call and sync, discuss things.

[2020-09-01 18:09] jorgeorpinel commented on #1749
This is a great idea for the website though. Something between "who is using it/ success stories" and "real-life tutorials".

[2020-09-01 18:30] yarikoptic commented on #1749
https://dagshub.com uses/integrates-with DVC, so I guess some nice examples could come from it or could be shared/visualized on it.  a "sync" -- would be nice.  Need to un-bury myself from ongoing undertakings a bit first.
Re datalad website -- better go straight to  http://handbook.datalad.org/  ;)

[2020-09-01 20:40] shcheklein commented on #1749
@jorgeorpinel Ideally we can keep some links in the use cases to these "success stories" I think.

[2020-09-01 21:08] jorgeorpinel commented on #1749
Yeah but I was thinking something outside of /doc more like "who is using it (and how in our case)" or "case studies" e.g.:

![image](https://user-images.githubusercontent.com/1477535/91906205-69de7b00-ec6d-11ea-930e-ccc67f9dbe47.png)

[2020-09-01 21:09] jorgeorpinel commented on #1749
p.s. I also think use cases could belong outside of /doc so in that case yes, we could combine them to keep things simple.

[2020-09-03 01:00] jorgeorpinel commented on #1614
Hi! Me again. It seems now `dvc` by itself doesn't link to `/doc/command-reference` anymore. As usual Idk when this change happened but it would be great to reinstate that behavior 🙂

I chose to comment here instead of opening another issue but it could be separate of course.

[2020-09-03 01:05] jorgeorpinel commented on #1614
Actually, you know what? Never mind. It's better this way! Sometimes we use `dvc` in other context, like to refer to the Python package name.

[2020-09-03 13:13] antonmosin opened #1753 "dvc move should work with files in tracked folder"
If I **dvc add** a folder with a file in it and then rename the file,  **dvc move**  throws an error:

`ERROR: failed to move 'old_name.csv'-> 'new_name.csv' - Unable to find DVC-file with output 'old_name.csv`

The only option I see is to rename the file manually and **dvc add** it, which would create another copy in cache. This could be problematic for large files.

Would be nice if **dvc move**

[2020-09-03 14:17] rgasper opened #1754 "dvc install fails when run inside a git submodule"
When run inside a git submodule repo, `dvc install` attempts to install hooks into the wrong location and fails.

**My environment**
[code]
[code]
**Error**
[code]

The error is occurring because in a git submodule, there is no `.git/` directory. Instead, `.git` is a file containing the following link to the `.git/` directory of its parent repo:
[code]

The installation of hooks I believe should t

[2020-09-03 14:43] bobertlo opened #1755 "metrics/plots: clarify when/why to cache metrics/plots files or not (Git vs DVC tracking)"
UPDATE: Jump to https://github.com/iterative/dvc.org/issues/1755#issuecomment-690321804

---
In this section:

https://dvc.org/doc/start/experiments#collecting-metrics

It says to add the metrics output files to the git repository:

`git add scores.json prc.json`

I initially assumed you were not supposed to track these files in git, and later saw this confirmed here: (https://discuss.dvc.org/t/dv

[2020-09-03 15:29] bobertlo commented on #1755
So, I found the `cache: False` option in the metrics documentation. It looks like this is covered in the `dvc run` invocation in the getting started guide, but I still feel like it is less than clear in the documentation. This seems like a really important piece of information to at least mention in the tutorial.

[2020-09-03 17:29] shcheklein commented on #1754
@rgasper thanks for the report! transferring this to the DVC core repo.

[2020-09-04 15:41] jorgeorpinel commented on #1753
DVC is tracking the whole directory in this case. If you make any changes inside, please use `dvc add folder/` again to track the updates 🙂

See for example https://dvc.org/doc/start/data-versioning#making-changes

DVC won't let you do this since it's already tracking the containing directory and outputs (add targets) can't overlap with each other.

Thanks

[2020-09-04 15:41] #1753 closed

[2020-09-04 15:42] jorgeorpinel commented on #1753
Cc @imhardikj please consider this confusion as you review the `move` cmd ref.

[2020-09-04 16:11] antonmosin commented on #1753
Hi @jorgeorpinel Thank you for the reply.

Will DVC create another copy of the file in this case? In this case it's not an issue, but I'm curious in case I had to rename a multi-GB file.

[2020-09-04 16:15] jorgeorpinel commented on #1753
Good question @antonmosin! No extra copy will be added to cache if the only change is renaming the file, nothing will change in there, basically, as it's addressed by the hash value (MD5) of the file contents. Let me test this workflow to confirm what exactly happens, brb... ⌛

[2020-09-04 16:43] antonmosin commented on #1753
Thanks! In the meantime, I manually examined folders in .dvc/cache for any new file with recent change, and couldn't find any.

A new .tmp was created in the root of .dvc/cache with some md5 hash value and relative path to the new file name
`[{"md5": "some has", "relpath": "new_filename"}]`

[2020-09-04 17:04] jorgeorpinel commented on #1753
I'm back. So what happens when you rename a file in a tracked directory is that a new .dir metafile is created in the cache to map this new name with the existing cached contents. No data duplication happens. You can learn more about .dir cache files in https://dvc.org/doc/user-guide/dvc-files-and-directories#structure-of-the-cache-directory.

I don't see this. What version of DVC are you using? P

[2020-09-04 18:06] antonmosin commented on #1753
@jorgeorpinel Thanks a lot! I'm using the 1.6.6. version on Linux. That .tmp file was created (or updated?) in the .dvc/cache. It's hidden, just in case.

[2020-09-05 08:13] bobertlo opened #1761 "docs: wrong use of `diff` highlighting + indentation problem"
UPDATE: Jump to https://github.com/iterative/dvc.org/issues/1761#issuecomment-692432887

---
I have opened an issue #1760 to fix the only important example, but I wonder if the rest of the 'diff' formatted code blocks might benefit from this? This PR is the only one that *really* sticks out but it is also slightly noticeably elsewhere. If there was positive feedback on this I would be happy to fin

[2020-09-05 21:15] jorgeorpinel commented on #1761
I think we should indeed review all `diff` code blocks for consistency (some have more or less spaces after `+` for example) but Idk if we want to fix the indentation manually. Maybe better to report in https://github.com/PrismJS/prism/issues first?

[2020-09-06 23:49] antonkulaga opened #1762 "ref: clarify about obfuscated remote file structure (same as cache)"
From my experience of moving the team to DVC there were two major understanding problems with understanding of key DVC concepts:
* when you do a gdrive and other dvc remotes (with exception of dvc import) they have folders/files in a dvc-specific format, you cannot just put regular input files to gdrive and say they are remote (unless you are using dvc import)
* ```dvc run``` is more about creatin

[2020-09-07 01:31] efiop commented on #1762
Transferred to the docs repo.

[2020-09-08 01:08] jorgeorpinel commented on #764
Hi. Per [this support case](https://discord.com/channels/485586884165107732/485596304961962003/752478399326453840) we should probably document all the cache link types that are supported per remote location, and explain how caching works for external outputs.

[2020-09-08 18:30] jorgeorpinel commented on #1755
You can chose whether metrics/plots files are tracked by Git or DVC (`cache` field in the . But since they're usually small text files, tracking them with git is usually best. `dvc metrics/plots` commands work on any metrics/plots files found in the workspace, regardless of what tool tracks them.

But yes, this is a common confusion. The docs could try to help better explain this, but it may be a

[2020-09-08 22:10] bobertlo commented on #1755
@jorgeorpinel Just to describe the process of my initial misunderstanding:

DVC tracking is the 'default' way to store the metrics (in the sense of not adding extra config options/flags) but https://dvc.org/doc/start/experiments adds an argument to track the files with git. I did the tutorial, then added metrics to my `dvc.yaml` manually, and did not realize this distinction, since I was pretty mu

[2020-09-09 00:11] bobertlo commented on #1755
I don't think its super important to change the method used in the tutorial but I think it would be really helpful if the different was mentioned once somewhere outside of the drop down.

[2020-09-09 04:04] efiop commented on #702
For the record: need to write down how to upgrade with dependencies: https://github.com/iterative/dvc/issues/4522#issuecomment-688095901

[2020-09-09 18:38] jorgeorpinel commented on #1762
Hei @antonkulaga thanks for the feedback

This is something we can definitely address in docs, I think. Probably around sync commands (push/pull/etc) and remote refs. and maybe mention that remotes use the same https://dvc.org/doc/user-guide/dvc-files-and-directories#structure-of-the-cache-directory (and link there from the aforementioned pages).

We'll keep this issue open to be addressed when po

[2020-09-09 19:09] jorgeorpinel commented on #1755
Hmmm yeah I guess `cache: true` is the default, good point! Also on the inconsistency with dvc exps. With `run` though, you have to chose to specify either `-m` or `-M`, but still, maybe it feels like the lower case is the more common option that "should" be used typically.

We should probably open an issue on the core repo to report this, would you be able to do so @bobertlo? A feature request to

[2020-09-09 20:05] yarikoptic commented on #1749
And here comes "DataLad as DVC for ML analyses": you are welcome to read [the rendered document](https://datalad-handbook--569.org.readthedocs.build/en/569/beyond_basics/101-168-dvc.html) and/or provide comments/suggestions/(some)rebuttal to https://github.com/datalad-handbook/book/pull/569 . I hope it might be useful not only for datalad folks but also for DVC users and possibly developers ;)

[2020-09-09 20:13] bobertlo commented on #1755
Ah, I didn't realize there was the `-m/-M` distinction, I don't use `dvc run` to create my pipelines and I was basically going from memory on this. I did not think to review that documentation.

Sure, I could look at options for this and bringing it up there. I'm looking into this a little more though and changing this value would definitely be a breaking change. Maybe this could be done on the ne

[2020-09-10 14:20] bobertlo commented on #1755
I thought a little more this morning and I guess the core problem was that I broke something and I understood that there was a mismatch, but wasn't sure what I did wrong to get there. I went back to the `Get Started` guide and also the `metrics` command reference and had a hard time trying to find the needed information (while I see now `cache: False` *is* in the `Get Started` guide, but somewhat

[2020-09-10 21:12] hershkoy opened #1775 "How to create "custom Google Cloud project" (something changed?)"
I am trying to follow the instructions to generate a ["custom Google Cloud project"](https://dvc.org/doc/user-guide/setup-google-drive-remote#:~:text=Find%20and%20select%20the%20%22Google,Save%20(scroll%20to%20bottom).) ,  but it seems that something has changed in the google platform.

The instructions says that  should choose "Other", but this option doesn't exist. See image below.

![image](htt

[2020-09-11 15:19] jorgeorpinel commented on #1775
Thanks for the report @hershkoy !

@shcheklein should we try to simplify and generalize the guide to avoid mentioning the specific UI options to click on? I'm pretty sure it will continue to change rapidly on Google's side...

[2020-09-11 16:01] shcheklein commented on #1775
@jorgeorpinel I'm not sure how would that solve the `What do I need to choose here?` problem ...

To give a bit more context on why we decided to do this the way it's done (vs a bit more technical and "dry" docs in other cases) (doesn't mean we can't reconsider this):

- first, we are long due on doing proper instructions for other remotes. GDrive was the first one.
- GDrive is supposed to be the

[2020-09-12 13:50] bobertlo opened #1778 "debian: GPG key required to add dvc repository"
Someone reported on discord that installing on debian did not work:

[code]

I verified the instructions on the website but was suspicious since there was no key added. I tried on my machine (Debian WSL) and got this error when running `sudo apt update`:

[code]

[2020-09-12 17:34] jorgeorpinel commented on #1755
Not necessarily, depends on how it's implemented. In any case it's still a reasonable feature request, once you open it we can discuss release logistics in the core repo with the eng team. Don't worry about that 🙂

[2020-09-12 17:47] jorgeorpinel commented on #1755
Doesn't necessarily break things, depends on how it's implemented e.g. rename the -m/M options (and leave the old ones hidden for backward compatibility). In any case it's still a reasonable and well-motivated feature request, once you open it and the team decides on it, we can then discuss release logistics — that's kind of secondary, don't worry about it 🙂

OK so we should look into updating tho

[2020-09-12 17:50] jorgeorpinel commented on #1778
Sounds like a core issue? Transferring for now.

[2020-09-13 18:38] jorgeorpinel commented on #1743
Hey @jeremydesroches I see all the check boxes are marked now, but only a few are addressed in PR #1766. Can you explain what happened? Thanks

[2020-09-13 19:11] jeremydesroches commented on #1743
Yes, I reviewed all the items in the list and marked them as follows:

- checked off items as when the examples and dvc run/etc applied 1.0 usage
- added link to PR "#1766" where I made edits following review
- checked off "ok" items but added notes where examples need other updates (out of date with current getting started, etc.)
- left unchecked where examples did not apply 1.0 usage and need up

[2020-09-13 20:08] jorgeorpinel commented on #1743
Got it. Glad to see most of it is done then. Are you planning to finish this one off then? Or would you rather turn to SEO work at this point?

[2020-09-13 20:46] jeremydesroches commented on #1743
Happy to finish off the updates for the unchecked items. I think the checked items that need getting started references updated should be taken up in a new issue (or an appropriate existing one).

[2020-09-13 22:15] jorgeorpinel commented on #1743
OK. Also the 2nd part may be pending (dvc run/repro and YAML examples).

[2020-09-15 02:20] jorgeorpinel commented on #1761
Hi @rogermparent ! Any quick thoughts on this?

[2020-09-15 03:00] jorgeorpinel commented on #1761
UPDATE: So, as pointed out by @efiop in https://github.com/iterative/dvc.org/pull/1760/files#r487469021, our current `diff` code blocks aren't actually diffs or patches. They intend to use whatever format `git diff` outputs. So we should probably not use the `diff` language in markdown.

So we can use `dvc` or no language. AND we should then probably align the lines manually, with a single space f

[2020-09-15 03:03] rogermparent commented on #1761
I checked this out a little on my own when it popped up, and if I were to guess it seems to be an interaction between the indented Markdown list and however the code block is passed to Prism.

Here's all the existing `diff` blocks in the repo:

[code]

The table that was pointed out in `data-pipelines` is the only one that has the issue, and the others I've looked at appear to be aligned correctly

[2020-09-15 03:13] jorgeorpinel commented on #1761
Thanks for the list, we should look at all of those. And as an update to my previous message:

Actually we (and `git diff`) use patch format, but [Prism](https://prismjs.com/#supported-languages) doesn't seem to support that. Diff format is something else (what Git merge conflicts use).

[2020-09-15 03:24] jorgeorpinel commented on #1761
Another UPDATE:

Unfortunately, using a single space like `git diff` would output doesn't seem to be displayed correctly by our engine for code blocks that are indented themselves. See https://github.com/iterative/dvc.org/pull/1760#pullrequestreview-488295119

[2020-09-15 03:26] jorgeorpinel commented on #1761
(like Roger mentioned)

[2020-09-15 17:07] bobertlo commented on #1761
What if we changed the way we think about these listing? The core problem seems to be broken formatting in dirtree diff output, which is sort of an artificial concept.

Maybe we could look at this less as a 'look under the hood' and more of a 'verify your progress' and provide (sometimes abridged) outputs of reproducible commands:

1. If a user is to change the params file, provide a command `git

[2020-09-16 06:27] jorgeorpinel commented on #1761
Hmmm sounds like much more effort than addressing this very specific formatting issue. And

The output of `git status` will probably have the same problem. Unless I didn't get you right, of course.

Thanks for the ideas though.

[2020-09-17 20:31] jeremydesroches opened #1785 "docs: add metadata markup capability to docs template so docs can have unique SEO descriptions and metadata"
**Requirements**
- [ ] default meta description for /doc items is blank (no description)
- [ ] when front matter tags are added to /doc items then meta tags are added, following /blog pattern
- [ ] front matter tags are optional, e.g., only description, only title, title + description, none. Unused tags don't need to be added to front matter.

**What?**
All docs pages currently use the same meta d

[2020-09-17 20:34] jeremydesroches commented on #1785
Hey @jorgeorpinel, I think this would be a good complement to the GSoD work. With this I could update some/all of the docs descriptions as I make other updates.

I can probably figure out how to do this, but it would be great if someone who was more familiar with the site generator (or did the blog meta work) could help out. Let me know what you and the team think!

[2020-09-19 17:12] jorgeorpinel commented on #1635
Another good one for when you're free @imhardikj

[2020-09-21 06:02] jorgeorpinel opened #1792 "sync: mention that fetch and pull re-import data"
`dvc fetch` and `dvc pull` (re)download import data from their original source as indicated in the corresponding .dvc files created with `dvc import` or `dvc import-url`.

This should be clearly mentioned, perhaps even emphasized in the docs (in all the cmd refs involved, at least).

[2020-09-22 03:12] #1000 closed

[2020-09-23 00:45] jorgeorpinel commented on #1118
From #1785:

[2020-09-23 00:52] jorgeorpinel commented on #857
Closing in favor of #1785

[2020-09-23 00:52] #857 closed

[2020-09-23 00:55] jorgeorpinel commented on #1785
Agree. @shcheklein @rogermparent should we prioritize this for coming weeks? Thoughts on how to implement?

BTW this is sort of a duplicate of #982, can we merge them please? This one has more info so let's keep this one, just bring in any info that's not included (if any) from that older one into the description above.

Some follow-ups:

Can you try to summarize the requirements as bullets or che

[2020-09-23 01:04] rogermparent commented on #1785
Adding this would be quite easy, I think. We just need to decide which fields we want to add, what SEO tags they translate to, then map these two pieces of info to the docs page queries and `react-helmet` components in the template respectively.

[2020-09-23 01:29] jorgeorpinel commented on #1000
Quick comment: we're still getting 404 errors when new docs are added in a PR e.g. https://app.circleci.com/pipelines/github/iterative/dvc.org/5841/workflows/3fb81bb8-eb90-42f7-8bf7-6e845b278ecb/jobs/5897 (for #1705). Do we have a separate issue or hope to be able to fix that at some point? 🙂

Thanks

[2020-09-23 01:36] rogermparent commented on #1000
@jorgeorpinel Try merging master into your branch, the GitHub Actions-based checker that fixes the issue runs off the workflow files in the PR, so PRs made before the new checker was added will need to be merged before the issue is solved in a particular PR.

[2020-09-23 02:39] shcheklein commented on #1785
Can we auto generate all needed meta fields (description, images, etc, etc). It would be great to avoid us having to update and maintain new fields for every single page in docs.

[2020-09-23 03:21] jorgeorpinel commented on #1000
Ah makes sense, OK cool np then!

[2020-09-23 16:53] pared opened #1800 "plots: update docs"
after iterative/dvc#4602 we accept any target for `dvc plots`. Reflect that in docs.

- [x] UPDATE: pending one thing (from https://github.com/iterative/dvc.org/pull/1809#issuecomment-708029242):

It's better to specify at the top level that plots files by definition could be anywhere.

[2020-09-23 17:43] jorgeorpinel commented on #1580
Maybe we're talking about different things.

We have many instances of `.dvc/`, `.dvc/config`, `.dvc/cache` for example, and those could be linked automatically to the corresponding section(s) of the Metafiles guide.

Once that is a feature, we can remove all the manual links around those texts. Same with any manual "`.dvc` file/dir" left — somewhat unrelated but should've been done for that other

[2020-09-23 20:34] jorgeorpinel commented on #1800
Feel free to include in #1797

[2020-09-23 20:56] jorgeorpinel opened #1802 "docs: automatic tooltips"
Could we just apply the underline and tooltip to every single instance of each term in the glossary automatically? So we don't need to manage `<abbr>` tags (under /doc/ only)

Pro: Easier to maintain docs
Pro: More consistent

Con: May be too much (too many underlines and tooltips everywhere)
^ Fix: only apply to the first instance in each H2/H3 section, or only after n characters have passed sinc

[2020-09-23 20:57] jorgeorpinel commented on #1802
WDYT @rogermparent?

[2020-09-23 21:12] jeremydesroches commented on #1785
#982 is very similar and I added the detail about defaults vs. custom tags. Ideally docs could continue to use the default tags until we update and add the front matter with custom tags. That's how it works for blog posts (I tested it out). If you leave a custom tag blank, it's replaced with a default "blog" tag.

The minimum to fix the "duplicate meta descriptions" issue is only the description.

[2020-09-23 21:12] rogermparent commented on #1802
I agree that this would be too much without the fix, but with a fix sounds like a good idea.

This would be best done via a remark transformer, as the whole AST is given to a plugin so dividing into "sections" between headings and operating on them individually should be possible in the current engine.

While possible, this one opens up the possibility of re-links in odd places and involves much m

[2020-09-23 21:16] jeremydesroches commented on #982
Merged with #1785.

[2020-09-23 21:16] #982 closed

[2020-09-23 22:50] jorgeorpinel commented on #1802
One per H2 would cover 90% of the cases.

[2020-09-24 06:08] jorgeorpinel commented on #1255
@imhardikj can you work on that list please? You can extract this one to it's own `epic` issue with check boxes for pending commands. add, run, metrics? (see #1175), and plots? (see #1800) were taken care of per this issue. We also recently updated move, and I did some others in recent weeks but can't remember which ones. Also look in the existing issues please, as some of them have a ticket e.g.

[2020-09-24 06:13] jorgeorpinel commented on #198
I think we can close this issue @shcheklein ? We don't intend to have exact reproducible examples in all docs, just in some cmd ref examples, how-tos, and tutorials.

[2020-09-24 15:20] shcheklein commented on #198
@jorgeorpinel sure! feel free to close this!

[2020-09-24 21:17] jorgeorpinel commented on #1785
@jeremydesroches by "duplicate meta descriptions" you mean that every doc page has the same meta description right? Just checking

So again, can you clearly summarize the desired requirements? TBH I didn't fully understand the answer. Thanks

[2020-09-24 23:04] #198 closed

[2020-09-25 02:57] elleobrien opened #1807 "feature videos on DVC sites"
From a chat with @shcheklein:

We can add links to our YouTube channel in a few places on the DVC site, and also maybe on cml.dev and iterative.ai.

- [ ] Add link to YouTube channel close to the video on our landing page
- [ ] Add a footer: "Subscribe to our channel to learn about MLOps!"
- [ ] Maybe something on our Community page? Could replace one of the sections that is underused (maybe Event

[2020-09-25 09:15] jeremydesroches commented on #1785
OK @jorgeorpinel. Added to original description. Let me know if anything can be added or clarified.

[2020-09-25 12:03] sarthakforwet commented on #1775
@jorgeorpinel @shcheklein, rather than specifying the specific steps for creating credentials can we provide a link to Google cloud's tutorial of creating credentials for OAuth client ID?

This would be the same as the links provided in steps 2 and 3 of this tutorial.

Google cloud's tutorial can be found [here](https://cloud.google.com/endpoints/docs/frameworks/java/creating-client-ids#web-client

[2020-09-25 20:52] shcheklein commented on #1775
@sarthakforwet hey! What steps exactly to do you suggest to change/simplify and how. Sorry, it's not exactly clear. Could you please expand on this a bit?

the link you shared is about Android and Web, though. They are not relevant and misleading in this case.

[2020-09-26 05:12] #1792 closed

[2020-09-28 05:51] #625 closed

[2020-09-28 23:50] jorgeorpinel commented on #1775
I understand the intentions but at the same time I'm not convinced that having how-to docs on what to do on other tools and platforms is sustainable. It's tricky of course because we support all these integrations so we need to explain how to use them.

I wonder if there's a good middle ground where we can avoid all these specific steps and screen shots by using more general concepts from those pl

[2020-09-29 03:01] shcheklein commented on #1775
Yep, that would be a key here. Until we have a good/simple link(s) we could rely on, I suggest we keep the current guide up to date and consider this ticket as a bug issue.

[2020-09-29 03:07] sarthakforwet commented on #1775
Yeah you are right @shcheklein. The tutorial I mentioned is not completely related to the case.

I'm up for that! Do you have any specifics in mind that should be worked upon?

[2020-09-29 05:31] jorgeorpinel commented on #1775
The specifics are in the description above and first few comments, thanks.

[2020-09-29 06:04] sarthakforwet commented on #1775
Step 5 has been changed and it replaced the "Other" with "Desktop app" and that step seemed to be fine for now.

I think the next change could be to reduce the usage of specifying the direct buttons in the tutorial and make it more generalizable? I think we could also replace the screen shots with GIFs to give more clearer explanation and remove the use of directions like "scroll to bottom", "left

[2020-09-29 06:28] jorgeorpinel commented on #1775
Oh. I guess this was fixed in a PR without linking to the issue.

Should we close this @hershkoy @shcheklein ?

@sahilbhosale63 you're welcome to submit a suggestion PR along the lines you're thinking. Or check out other Hacktoberfest issues if you prefer: https://github.com/iterative/dvc.org/labels/hacktoberfest

[2020-09-29 13:10] imhardikj opened #1824 "cmd refs: Updates per 1.x"
All cmd refs that need to be updated per 1.x
Context: https://github.com/iterative/dvc.org/issues/1255#issuecomment-698134751

Mainly descriptions, or everything
- [x] `repro` - #1632
- ~~`dag` (rewrite description #1500)~~
- [x] `commit` (example for adding missing deps/outs #460/#612) #1840
- [x] `list` ~~+ #1521?~~
- [x]  `target` arg descriptions - #1574

Mainly examples
- [x] `run` examples i

[2020-09-30 07:45] brainless opened #1827 "community: Contribute should have a clear link to docs/"Contributing to DVC""
Hello everyone,

As an interested contributor, when I click on top navigation `Community > Contribute` I should see a clear CTA or link to [Contributing to DVC](https://dvc.org/doc/user-guide/contributing/core). This being the starting page for developers who are interested should be visible in the main sites Contribute page in my opinion. If the team agrees, then I will create a PR.

Thank you

[2020-09-30 15:53] jorgeorpinel commented on #1827
Good idea @brainless ! Maybe where it says "We welcome contributions to our code and docs." it could be changed a little to link to both https://dvc.org/doc/user-guide/contributing/core and to https://dvc.org/doc/user-guide/contributing/docs.

[2020-10-01 01:06] shcheklein opened #1831 "Fix broken links"
https://github.com/iterative/dvc.org/runs/1190845913

[2020-10-01 05:42] jorgeorpinel commented on #1831
Addressed the internal one in #1831

[2020-10-01 13:20] MetalBlueberry commented on #1469
hi all! I'm working on a tool to upload data to a dvc remote without actually using dvc and I noticed that the md5 of a file is not calculated correctly if the file is in windows format. Looks like the CRLF are replace by LF before calculation. https://github.com/iterative/dvc/pull/775 This is a minor issue because will treat as equal files with different ending.

The point is, I first though that

[2020-10-01 17:22] jorgeorpinel commented on #1469
Could it be Git doing that though (depending on the repo's config)? Cc @efiop on this Q anyway.

Not much @MetalBlueberry, which is why this issue and #68 exist.

The one place where we've already put some of this info is in our DVC Metafiles guide: https://dvc.org/doc/user-guide/dvc-files-and-directories (please find the `md5`, `etag`, `checksum`, and `hash` terms).

Feel free to ask any question

[2020-10-01 19:44] shcheklein commented on #1469
@MetalBlueberry if we talk about regular `dvc add` of some local artifact (not `dvc add --external`) you got it right - it applies dos2unix, and that's pretty much it. Curious about your use case though? Why don't you want using DVC for this- you can reuse some API at least, e.g. to calculate hash.

[2020-10-02 06:06] sarthakforwet commented on #1831
@shcheklein @jorgeorpinel can you please tell how can I reproduce this issue?
Looking at the link check job, it shows that the links are broken in `linux.md`, `windows.md`, `macos.md` and `running-dvc-on-windows.md` But those files seemed to work fine with all links in them. Thanks!

[2020-10-02 06:58] MetalBlueberry commented on #1469
I've created an issue for the CRLF problem https://github.com/iterative/dvc/issues/4658.

[2020-10-02 19:40] shcheklein commented on #1831
@sarthakforwet I think we can close this, it looks like we just got one actual broken link fixed, and others are just flaky. We have a ticket I think to improve the link checker itself to retry a few times and a few days before reporting broken links //cc @rogermparent

[2020-10-02 19:41] #1831 closed

[2020-10-02 20:17] rogermparent commented on #1831
@shcheklein I haven't opened a ticket yet, but there is a feature in the works for basically keeping track of the amount of times a link has failed, and only failing the whole test if a link is dead for two tests in a row. I haven't considered time-based forgiveness, but that's also possible once persistence is working.

[2020-10-04 11:15] sarthakforwet commented on #1730
Hey @pared! I am willing to work on this issue. If you're not currently working on this, please guide me what exactly I need to update. Thanks!

[2020-10-04 23:31] shcheklein opened #1838 "further improvements to the link checker"
Link checker seems to be broken in certain scenarios, has false positives, noisy reporting:

- [ ] Introduce state- report a failed link only if fails certain number of times
- [ ] Introduce retries on certain error codes (5xx) - try 2-3 times
- [ ] I'm an email every time it fails even on someone's else branch
- [ ] Report via email is not informative, comes from my name for some reason `Ivan Shc

[2020-10-05 14:34] pared commented on #1730
HI @sarthakforwet!
So, in the articles I linked, there are mentions about strong Etag and links to explanation what strong vs weak etag is. We simply need to get rid of `strong Etag` and replace them with `Etag` and we no longer need to link to the explanaition.

[2020-10-05 17:13] shcheklein commented on #1838
Another failure today: https://github.com/iterative/dvc.org/actions/runs/289778559

And I got an email from my name.

[2020-10-06 20:40] jorgeorpinel commented on #1730
So it's not important to say we support both strong and weak eTag? I'm not familiar with the difference but does saying "we support eTag" imply "both weak and strong"? Thanks

[2020-10-07 03:25] jorgeorpinel commented on #1730
OK sure maybe use the term "HTTP ETag" and link to https://en.wikipedia.org/wiki/HTTP_ETag#Strong_and_weak_validation

[2020-10-07 10:42] pared commented on #1730
@sarthakforwet, so as @jorgeorpinel mentioned, ideally we should replace "strong Etag" mentions with `HTTP ETag` and link to wiki article on etags.

[2020-10-08 20:20] #1785 closed

[2020-10-09 16:34] jorgeorpinel commented on #1824
@imhardikj please lmk when you've reviewed this list to make each check box more specific as we discussed, and I'll review and prioritize the list myself then. Thanks

[2020-10-10 00:13] dmpetrov commented on #1442
This is the right direction. We need to come up with clear separation. Metrics & plots files are the best that I can think of right now.

[2020-10-10 12:19] scranefield opened #1851 "The "plots" commands lack a working directory option"
The run command has a working directory option (-w <path> or --wdir <path>). It would be useful if the plots commands had this as well.

[2020-10-10 12:19] scranefield opened #1853 "The "plots" commands lack a working directory option"
The run command has a working directory option (-w <path> or --wdir <path>). It would be useful if the plots commands had this as well.

[2020-10-10 20:33] sarthakforwet commented on #1762
@jorgeorpinel In `push.md`, we have the sentence "dvc push uploads data from the cache to remote storage."
Doesn't this sentence provide the argument that remote storage would have data in a dvc-specific format?

Also, can you please mention some references for me to learn about this issue in a better way? Thanks!

[2020-10-11 20:54] jorgeorpinel commented on #1442
I think the terms are fine, even when plots are metrics technically. We just probably don't need to stress that and keep saying "types of metrics: scalar metrics which we just call metrics and continuous ones that we call plots". We can just remove these confusing explanations I think, and make the difference implicit by only using the term "(DVC) metrics" for scalars and "(DVC) plots" for continu

[2020-10-11 21:13] jorgeorpinel commented on #1762
Hey @sarthakforwet all the info about the cache dir structure is in the link I shared above (https://dvc.org/doc/user-guide/dvc-files-and-directories#structure-of-the-cache-directory).

It's a hint, yes. But it doesn't necessarily imply the cache structure is kept on the remote. It could be much more explicit — not sure which docs to change though, it needs some looking around and reading the exis

[2020-10-11 21:31] jorgeorpinel commented on #1853
We should def. improve that mention somehow. Transferred back to docs repo 😆

[2020-10-12 01:17] #1635 closed

[2020-10-13 06:06] #1853 closed

[2020-10-13 10:19] skshetry opened #1859 "guide: extract `remote add/modify` (advanced) config details to UG"
UPDATE: Jump to https://github.com/iterative/dvc.org/issues/1859#issuecomment-708084238

UPDATE 2: Some related tickets that could potentially be included in this refactor:
- [ ] https://github.com/iterative/dvc.org/issues/1699
- [ ] https://github.com/iterative/dvc.org/issues/1762

---

It'd be great if we could share the link to that container directly (that on opening would expand the container

[2020-10-13 19:40] jorgeorpinel commented on #1859
Would be nice to have. Probably not very hard to implement either but I'm not convinced there's a huge need. We indeed have already a problem of linking to anchors too much already — it's best to avoid that as headers tend to change which causes semi-broken links which are very hard to detect.

[2020-10-13 20:50] shcheklein commented on #1859
My take on this- if it happens with a certain section then it probably means that the section should not be collapsible- rather regular section, like the one @skshetry mentioned. In a lot of cases we use collapsible sections as a substitute for the whole page (e.g. remotes).

[2020-10-13 23:11] jorgeorpinel commented on #1859
Good point. So should we change this to reviewing the existing `<details>` sections? E.g. are you saying we should use regular H3 sections in remote add and modify @shcheklein ?

[2020-10-13 23:23] shcheklein commented on #1859
let's do this as we go, care by case

yes, if there is a feeling that we want to share a link, or that information is important enough, not auxiliary

[2020-10-14 00:16] jorgeorpinel commented on #1859
Got it. So, close this issue (as not actionable)

In the case of remote add/modify examples the usage of the details sections is not to include auxiliary info but simply to make the docs more compact. They would be really really long otherwise. The other approach would be to break up the doc into several pages but it's not clear to me how (without new engine features).

[2020-10-14 00:21] shcheklein commented on #1859
why? we can make specifically this section H3?

just break like we do for Google Drive (to some extent)? Just create separate pages and link them from those small collapsibles ?

[2020-10-14 00:36] jorgeorpinel commented on #1859
I think that was just a generic example. Or are we trying to actually link to **Avoiding unexpected behavior** in command-reference/run#description. from somewhere @skshetry ?

Unlisted pages? (not in nav) Yeah that could work, it's just not something we do much currently.

[2020-10-14 00:38] shcheklein commented on #1859
no, I mean regular page. We should not be doing unlisted pages (why?). Similar to GDrive.

[2020-10-14 00:39] jorgeorpinel commented on #1859
OK so a single guide specifically for remote add/modify configuration... OK, that should work, repurposing issue!

[2020-10-14 00:42] shcheklein commented on #1859
I think, let's wait on @skshetry .. it might be he wanted to share this specific link

[2020-10-14 16:06] pared opened #1865 "external outs: document pushing from remote cache will have no effect"
In https://github.com/iterative/dvc/issues/4686 user got confused, when push for repository with external cache had no effect and did not copy the data to the remote.

We already [mention](https://dvc.org/doc/user-guide/managing-external-data#how-external-outputs-work) that we need an external cache for external outputs. We should probably include the information that this cache is taking care of

[2020-10-14 22:14] #1730 closed

[2020-10-16 23:54] jorgeorpinel commented on #1800
Updated the description a little ^

[2020-10-17 04:44] jorgeorpinel commented on #1865
We need an external cache for external dependencies? This cache is taking care of versioning those dependencies? We mean outputs, right? 🙂

Indeed thit is not expressed in docs. I'm not sure I knew this before actually... So you can't push external outputs? Will `--store` work to change this behavior? (See iterative/dvc/pull/4581)

Thanks @pared

[2020-10-19 08:45] pared commented on #1865
@jorgeorpinel Yeah, I meant outputs, sorry for the confusion.
As to iterative/dvc/pull/4581 : I don't think it is something related to current issue: OP's problem was inability of pushing external outputs from external cache to remote - while iterative/dvc/pull/4581 is about `checkout` and `import`.

[2020-10-19 16:15] #1704 closed

[2020-10-20 17:33] jorgeorpinel commented on #1865
@pared Just to confirm, so there's no way to push external outputs, right?

I think iterative/dvc/pull/4581 is definitely related: it introduces a `store: true` option to `outs` in dvc.yaml that means that they can be pushed to remote storage. The value would be true by default for all outputs except if they are imports according to that iddue. But you are bringing up another case where it seems t

[2020-10-22 11:36] pared commented on #1865
@jorgeorpinel

Yes, that is true.

So as to iterative/dvc#4581: This is about data that is stored in local cache. Essentialy this change lets you decide whether you want to synchronize your `import` -ed data with your remote. The problem from iterative/dvc#4686 is about external output, that has been saved in external cache. This is a special situation (pushing data from external cache to remote),

[2020-10-23 21:17] #1800 closed

[2020-10-26 13:30] imhardikj commented on #1574
@jorgeorpinel I checked the above commands with file/dirs:
- `repro`: currently being worked on in #1861
- For  `unfreeze`, `freeze`, `remove`, when I tried them with files/dirs as `targets` this was the output:
`` ERROR: failed to freeze/remove `foobar`- "Stage `foobar` not found inside `dvc.yaml` file" ``
- `update`: directories were working when  used with `dvc update -R` else same error as abo

[2020-10-26 13:32] imhardikj commented on #612
@jorgeorpinel This issue is currently mentioned for update in #1824 but it almost similar to #1840, except in this case it's dependency and not output. Should this be a separate How-to doc?

[2020-10-26 18:07] jorgeorpinel commented on #1865
Great, thanks. I just wanted to know the answer, so we don't give users false expectations when we introduce `store: false`. (To a user pushing is pushing, whether it's from a local or external cache.)

[2020-10-28 18:26] jorgeorpinel commented on #1574
What about plots show? I'll look into that.

No, that cmd ref seems to have complete info about -R and dir targets already.

Looks like no major changes are needed...

[2020-10-28 18:35] #1574 closed

[2020-10-29 21:36] jorgeorpinel commented on #612
Good catch @imhardikj! It's basically the same how-to so let's merge this to #460 please, and close here. Please then unlink #1840 from #460 since it won't fix it completely, and make another PR once #1840 is merged to finish the dependency part. Thanks

[2020-10-30 07:49] lsc20051426 opened #1895 "Add cache status command documentation for dvc cache status"
This issue is for DVC issue: https://github.com/iterative/dvc/issues/4020
and DVC PR:
https://github.com/iterative/dvc/pull/4811

The command is `dvc cache status`

Sample output:
[code]

[2020-10-30 14:57] #612 closed

[2020-10-31 17:15] tomasfarias opened #1899 "remote: Document support for WebHDFS"
Support for WebHDFS has been discussed in https://github.com/iterative/dvc/issues/4687 and is being implemented in https://github.com/iterative/dvc/pull/4747.

Documentation should be updated to reference WebHDFS as an alternative to HDFS: anywhere HDFS is used, WebHDFS can be used instead. It should be mentioned that the advantage of using WebHDFS over pure HDFS is it eliminates the requirement o

[2020-11-02 18:04] jorgeorpinel commented on #1895
OK @lsc20051426 thanks. It would be great it you can remind us when iterative/dvc#4811 is merged so we look into this.

[2020-11-03 01:30] #1632 closed

[2020-11-03 07:50] jorgeorpinel commented on #1899
OK @tomasfarias thanks! If you can remind us when iterative/dvc#4747 is merged, that would be great.

[2020-11-03 12:30] lsc20051426 commented on #1895
Cool, will let you know when the PR is merged.

[2020-11-04 10:56] efiop commented on #1895
Closing since the original PR is closed.

[2020-11-04 10:56] #1895 closed

[2020-11-05 07:06] pared opened #1909 "metrics: document behavior of accepting any parsable file"
After iterative/dvc#4446 `dvc metrics` commands accept any viable target, metric file does not have to be specified in `dvc.yaml`.
`plots` has this functionality already documented it #1800.
Related to #1809, iterative/dvc#4761

[2020-11-05 17:31] shcheklein opened #1910 "formatting for italic text is broken"
https://dvc.org/doc/command-reference/remote/modify#available-parameters-for-all-remotes

`Or a local remote (a directory in the file system):`

got formatted into:

<img width="673" alt="Screen Shot 2020-11-05 at 9 30 26 AM" src="https://user-images.githubusercontent.com/3659196/98275635-b2eecc00-1f49-11eb-8864-25bff6899fad.png">

[2020-11-05 17:43] jorgeorpinel commented on #1910
It thinks it's an image caption I guess. Those should only activate after an MD image like `![]() _{Caption}_`

[2020-11-05 19:23] rogermparent commented on #1910
We've got a fix in #1911, [confirmed on the deploy](https://dvc-landing-fix-italic--gn9wkr.herokuapp.com/doc/command-reference/remote/modify#available-parameters-for-all-remotes)!

[2020-11-05 19:24] #1910 closed

[2020-11-06 19:36] jorgeorpinel commented on #460
Per https://github.com/iterative/dvc.org/issues/612#issuecomment-716547968 this wasn't fully addressed by #1840. @imhardikj can you confirm what part this is still pending? Thanks

[2020-11-06 19:44] imhardikj commented on #460
"How to add missing dependency to existing pipeline." part is remaining.
Same method as in https://dvc.org/doc/user-guide/how-to/add-output-to-stage will be used for this.
Should this be a separate doc or part of "add output to stage" doc itself?

[2020-11-06 21:59] jorgeorpinel commented on #1895
Thanks!

[2020-11-09 04:26] jorgeorpinel commented on #460
@imhardikj the same doc should be enough. I see you opened #1913, let's follow up there. Thanks

[2020-11-11 00:49] elleobrien opened #1924 "development server is slow to build"
Working from a local clone to write new blogs, building a dev server (`yarn develop`) is getting pretty slow (>1 minute). Is there a way to make a smaller clone; i.e., maybe only blogposts after a certain date (`%today-30`) or not checkout the docs?

[2020-11-11 09:22] eedokl opened #1934 "Managing External Data / Microsoft Azure Blob Storage"
UPDATE: Jump to https://github.com/iterative/dvc.org/issues/1934#issuecomment-725444300

Hi, I am currently evaluating DVC for usage in my project.
We are working with Microsoft Azure Storage Blob and I was successfully able to setup DVC to work with Azure when using it to push my data into it and pulling it from there.
Also a import-url like dvc import-url azure://playground/test21323_43.parquet

[2020-11-11 16:35] rogermparent commented on #1924
I'm on it! There's a few features I'm aware of that we can try to curb this issue.

1. [Conditional Rebuilds] - This has been in for a while, and is a basic way to only rebuild pages that have been edited. While it doesn't work on the Heroku builds, it has worked for me locally and may speed up writing.
2. [Query-on-demand alpha] - This is a new alpha feature that I was notified of in an email- it

[2020-11-11 18:10] ju0gri opened #1928 "docs: add `dvc add --glob` to command reference"
Add the new argument supported by  `dvc add` `--glob` to the documentation with usage examples.

Related to: iterative/dvc#4816

Per https://github.com/iterative/dvc/pull/4864

[2020-11-11 20:15] rogermparent commented on #1924
The prior two features have showstopping issues that prevent them from local use, however:

We can adapt the `LIMIT_BLOG_PAGES` flag I have in already and bind it to an npm script to make invoking it easier. This way, we can have a separate limited mode for blog authoring that's quicker to build while maintaining the functionality of a full-site `develop`.

[2020-11-11 20:29] elleobrien commented on #1924
@rogermparent i love that idea!

[2020-11-11 22:49] rogermparent commented on #1924
I've made a new `yarn author` command that does just that at #1932, and it cuts development server spin-up time to 25s on a hot cache by building only the latest blog post and skipping Docs entirely.

I didn't time it on a cold cache yet, but the difference should be *much* bigger in that case as the images of skipped pages are also skipped.

[2020-11-11 23:53] #1924 closed

[2020-11-12 07:15] jorgeorpinel commented on #1743
@jeremydesroches do you think we can finish addressing this issue? The few checkboxes left seem pretty straight-forward.

[2020-11-12 09:24] jorgeorpinel commented on #1928
Please see some initial questions in https://github.com/iterative/dvc/pull/4864#pullrequestreview-528893719. Feel free to answer there or here. Thanks @ju0gri !

[2020-11-12 09:53] pared commented on #1934
@jorgeorpinel you are right, closing.

[2020-11-12 09:53] #1934 closed

[2020-11-12 22:31] jorgeorpinel commented on #1934
Well I had moved it to dvc.org and linked it to #1927 but either way, same result. Thanks @pared

[2020-11-13 00:51] jeremydesroches commented on #550
From discussion in #1915:

For SEO purposes, one concept per URL is ideal. The use cases show this in practice: the versioning use case and tutorial have the strongest search results and ranking after the home page.

As someone new to DVC, a _Basic Concepts_ section for the UG makes a lot of sense, though. The UG is mostly problem:solution "how to" material, so standalone concept articles seem out

[2020-11-13 01:58] jeremydesroches commented on #1743
Yep @jorgeorpinel I'm on it. I'll work through the last unchecked items and verify/update the get started examples.

[2020-11-13 02:08] jorgeorpinel commented on #550
What about `#` anchors though? Like `guide/concepts#cache`. We just don't want a bunch of very short pages like https://dvc.org/doc/user-guide for example, I think.

BTW I'm not convinced these pages are the best landing pages. They are meant to explain what these concepts mean IN DVC, so while they can definitely point to a bunch of other relevant docs for those who do land there, I don't think t

[2020-11-13 17:38] jeremydesroches commented on #550
The anchors will show up as sub-links on a listing, so they are effective, but the overall page needs to rank for that to happen.  Agree that short pages aren't a good idea, and that these types of UG pages aren't necessarily good for landing pages.

Is there an existing doc in UG that is a good example of what "fits"? I understand my initial assessment doesn't match because certain items don't be

[2020-11-13 19:01] #1928 closed

[2020-11-14 01:15] JIoJIaJIu opened #1943 "start: provide code samples, make it more actionable"
It would be great that every chapter of [Get Start](https://dvc.org/doc/start) provides instruction how to prepare a needful repo structure to proceed further
At this moment it's hard to init needful structure if you start not from the first chapter

In one chapter such approach is applied - https://dvc.org/doc/start/data-management/data-pipelines

- [x] but it's not enough and the user needs to d

[2020-11-16 08:13] jorgeorpinel commented on #1943
Yeah, we used to have this in the previous version of the GS. Not sure why we no longer have those since it can be hidden in an expandable section indeed. Let's do this unless you remember a reason for this @shcheklein ?

Also true, we should definitely address this part. Could be addressed by the same solution like Guro mentioned.

[2020-11-16 17:01] shcheklein commented on #1943
We had it back and forth a few times already. Doing it completely reproducible and chapters independent makes it a hands-on tutorial like (which get started is not). It means longer read time, more distractions for users who want to get the idea quick, etc.

The idea with the recent changes was to use Katacoda extensively to provide such playground (it still out of date btw, which is on of the big

[2020-11-16 17:02] shcheklein commented on #1943
Katacoda - we had another complain recently, btw on Discord.

[2020-11-16 17:03] shcheklein commented on #1943
Also, don't forget that we have the whole project prepared - iterative/example-get-started that can be taken, any tag can be `git checkout`-ed and it's an ideal starting point.

[2020-11-16 23:05] jorgeorpinel commented on #550
I think this is our main guide: https://dvc.org/doc/user-guide/dvc-files-and-directories. Another proper guide would be https://dvc.org/doc/user-guide/large-dataset-optimization. **What is DVC** and **DVCignore** are also OK. These explain how things work.

Thinking about it, most of the other ones do at least contain how-to material. But as long as that's not their main purpose, they can fit in t

[2020-11-18 22:11] jorgeorpinel commented on #1414
@imhardikj some answers to https://github.com/iterative/dvc.org/pull/1946#issuecomment-727563679:

No, they're not. Several cmd ref Synopsis/usage sections and maybe some option descriptions still need the updates, I think (please double check).

Just add an expandable section under the sample data of https://dvc.org/doc/command-reference/plots/show#example-hierarchical-data to show how it looks i

[2020-11-19 02:55] jorgeorpinel commented on #1414
@imhardikj remaining answers to https://github.com/iterative/dvc.org/pull/1946#issuecomment-727563679:

OK that's great investigation from your part, with the plots example and everything. So we need to update the plots ref(s) to explain what the behavior and restrictions (if any) are. 1. Update the description of `<DVC_METRIC_Y>` to specify only the first row matters; 2. Update the text in the pl

[2020-11-19 18:30] imhardikj commented on #1414
@jorgeorpinel  I used `dvc.yaml` from [example-get-staretd](https://github.com/iterative/example-get-started/blob/master/dvc.yaml). I modified `plots` in `evaluate` stage like this:
[code]
 Edited similarly in `evaluate.py` to generate these files.. I changed `x` and `y` fields so plots are different
Command:
[code]
Result:

![plot](https://user-images.githubusercontent.com/33034902/99708092-5a7c0

[2020-11-19 18:46] imhardikj commented on #1414
I checked all changes in iterative/dvc/pull/3963 and those are already there in `metrics` and `plot` docs. I think all are covered by #1382 and #1444. One thing migth `plots diff` description as per https://github.com/iterative/dvc/pull/3963#pullrequestreview-426996969
According to review I think "Show multiple versions of plot metrics by overlaying them in a single plot." should be changed to "Sh

[2020-11-20 00:41] jeremydesroches commented on #1743
Hey @jorgeorpinel and @shcheklein, I'm trying to verify the unchecked items here. They all use the getting started example, and there's a new error when I run `dvc fetch` or `dvc checkout` after cloning the example repo.

`ERROR: failed to pull data from the cloud - Lockfile 'dvc.lock' is corrupted.`

I've tried starting over and checked my environment. Did something change with the latest updates

[2020-11-20 08:15] jorgeorpinel commented on #816
This may be better as a best practice though, don't you think @shcheklein? See #72

[2020-11-20 08:16] jorgeorpinel commented on #72
@efiop do you think **how to: add a page for Managing Experiments** #816 would be better as a best practice too? Instead of a how-to as it's requested now. Thanks

[2020-11-20 08:30] jorgeorpinel commented on #1414
Thanks for the evidence! 🙏

[2020-11-20 08:38] jorgeorpinel commented on #1414
I guess you're right. I was thrown off by the PR you mentioned first (#1382) which does not address that. But #1444 does. I'll mark the check box here for now! Thanks

Yeah let's just double check that all other `metrics` and `plots` usage blocks correspond to the `-h` help output of the commands on the latest DVC version (1.9.1) please @imhardikj.

[2020-11-20 20:13] shcheklein commented on #72
It's definitely not `How to`. It is of the same level as `Managing data`, etc. Ot my mind section like Managing Experiments should be within Get started, Use Cases, and User Guide at the top level.

[2020-11-20 20:16] shcheklein commented on #816
I think the original intention was more or less correct in this ticket - User Guide page like this makes sense to me.

[2020-11-21 00:24] jorgeorpinel commented on #816
OK but in https://github.com/iterative/dvc.org/issues/72#issuecomment-731385038 you said

but I guess it depends on what/how much content we will have for this topic. Could be in UG at first.

[2020-11-21 01:13] jorgeorpinel commented on #1943
Yes, we can just fix the specific issues Guro reported for now.

re Katacoda - Should I take over #1586 from you @shcheklein? I've moved #1400 and #670 to p0 too.

[2020-11-21 01:28] shcheklein commented on #1943
@jorgeorpinel yep, thanks! It's not p0 though. Let's first wrap up other stuff on our plate.

[2020-11-21 13:53] BurnzZ opened #1963 "ref: example for `list .` (local repo as target)"
The current examples in https://dvc.org/doc/command-reference/list only show how to view the contents of a tracked Git repository.

I think it's also worth denoting examples of how to view remote storages, like:

[code]

[2020-11-21 19:53] #1899 closed

[2020-11-21 20:09] efiop commented on #1963
@BurnzZ Just a note that this is not really viewing remote storage. The fact that `.dir` cache file might be on remote storage is an implementation detail. `data.dvc` is local, so we are viewing local project, which that `data` dir is a mere part of.

[2020-11-22 19:21] jorgeorpinel commented on #1743
Shot. It looks like the example get started repo isn't compatible with the latest DVC version. I opened iterative/example-repos-dev/issues/17

[2020-11-22 19:26] jorgeorpinel commented on #1743
However that repo is no longer used directly in https://dvc.org/doc/start so you could just follow the steps manually @jeremydesroches, no?

BTW

That command is only used in https://dvc.org/doc/start/data-versioning and seems correct (wouldn't hurt to double check though).

[2020-11-22 19:49] jorgeorpinel opened #1964 "download button in home page stuck at DVC 1.9.1"
The latest is 1.10.1 as of now, see https://github.com/iterative/dvc/releases/

[2020-11-22 19:50] jorgeorpinel commented on #1964
Is this internal to the docs engine, or a problem with the release process from the core repo? Cc @efiop 🙂

[2020-11-22 19:51] jorgeorpinel commented on #1743
@jeremydesroches please install the latest version (1.10.1) BTW. You may need to download from https://github.com/iterative/dvc/releases/ as it seems the download button in the home page has them outdated (#1964)

[2020-11-22 22:07] efiop commented on #1964
Yes, was waiting for chocolatey package to get approved. Now it is, so updating the links right now.

[2020-11-22 22:07] #1964 closed

[2020-11-23 03:13] jeremydesroches commented on #1743
Got it. Thanks for figuring this out for me. Brew is working now too.

[2020-11-27 05:00] jorgeorpinel commented on #1924
What about the opposite? A `yarn docs` command that only builds /docs and skips the whole blog? Would that be easy to include @rogermparent? Thanks

[2020-11-27 05:00] jorgeorpinel commented on #1924
(Assuming it's significantly faster than `yarn develop`)

[2020-11-27 05:04] jorgeorpinel commented on #1924
Taking this to an extreme (prob not worth it) `yarn develop` could take arguments to specify which modules to work with (`all` by default):
- `home` (could be always included)
- `land(ing)` (Features and Support, could be part of `home`)
- `docs`
- `blog` or `author`
- `com(munity)`

[2020-11-27 13:31] skshetry opened #1975 "repro: document `--glob` flag"
`repro` got a yet another flag `--glob` to allow globbing of the stages. https://github.com/iterative/dvc/pull/4976
Need to document it. :)

[2020-11-27 20:18] jorgeorpinel commented on #192
I think this is done! See https://dvc.org/doc/user-guide/merge-conflicts

Closing for now.

[2020-11-27 20:18] #192 closed

[2020-11-27 22:42] #460 closed

[2020-11-28 18:02] rogermparent commented on #1924
Good idea! This would certainly be helpful for writing docs, as blog pages are easily the bulk of build time.

This could be a good idea for the future, but `author`, `docs`, and `develop` should handle most of the cases this page limiting would be useful in. Since docs build very fast, a `docs` command could serve as a quick-build for all pages outside of the blog- maybe something like a `pages`

[2020-11-29 01:49] ANaumann85 opened #1979 "webdav: parameterize the url"
# The cause
The recent urls for webdav access from [nextcloud](https://docs.nextcloud.com/server/19/user_manual/files/access_webdav.html) and [owncloud](https://doc.owncloud.org/server/9.0/user_manual/files/access_webdav.html) contain the username like this:
[code]

If one wants to share a repository with such a remote, the user has to change the url, together with the user name and password. Wher

[2020-11-29 20:41] jorgeorpinel commented on #1963
Yep. Since remote storage doesn't play in `dvc list`, I'm changing the title of this issue for now.

@BurnzZ can you confirm that what you suggest is an example of `dvc list .` (listing something in the local project)?

I guess that would be useful to show as a short example, althought it's kind of an edge case. Thanks

[2020-11-29 21:02] jorgeorpinel commented on #1963
For now I've mentioned `.` as a local path `url` example in the description of list, get, and import (see #1982).

[2020-11-30 13:19] Melevir opened #1984 "ref: document `run --no-shell`"
Per https://github.com/iterative/dvc/pull/4995

[2020-12-01 00:21] theelderbeever opened #1987 "dvc install --use-pre-commit doesn't install pre-push and post-checkout"
## Bug Report

`dvc install` can't be used if a repository is already using `pre-commit`. While you can use `dvc install --use-pre-commit`, the `pre-push` and `post-checkout` hooks are not added to the git hooks. This behavior is not documented and feels misleading. It may be personal opinion but, I would expect there to be a way to add those hooks when using `pre-commit` and right now that doesn'

[2020-12-01 01:40] shcheklein commented on #1987
@pmrowla

does/can `dvc install --use-pre-commit` fail or notify if some hooks are not installed?

[2020-12-01 01:52] pmrowla commented on #1987
It does not, since with pre-commit it is up to the user to pick and choose which hook stages they wish to install themselves. Basically we assume that anyone that is already running pre-commit has configured their pre-commit environment in the specific way that they want.

[2020-12-01 01:56] shcheklein commented on #1987
@pmrowla got it! but can we show that hook has been installed or not in the CLI output?

[2020-12-01 02:03] pmrowla commented on #1987
pre-commit doesn't have a CLI command to see which hook stages are installed, so I think the only way we could do that is to examine in the actual files in `.git/hooks/<stage>` and do some string comparison against an expected comment/line to check that it's actually pre-commit's script.

But it seems like that would going a bit beyond the scope of what DVC should reasonably be expected to do in t

[2020-12-01 02:12] shcheklein commented on #1987
Sorry, may be I don't understand how actually `dvc install --use-pre-commit` is implemented, that's why the idea is actually stupid. My point was that this command does something - installs our hooks via some mechanism. I got it that it's hard and fragile to analyze the state. But can we see if installation went successful or not during the process itself (e.g. if we run some command via shell ana

[2020-12-01 02:24] pmrowla commented on #1987
Ah I see. So for pre-commit, you configure a list of plugins (like DVC, linters, etc) and associated hooks for each plugin in `.pre-commit-config.yaml`. `dvc install --use-pre-commit` adds the DVC plugin section to that configuration file. The DVC section will include hooks for the `pre-commit`, `pre-push`, and `post-commit` stages.

Whether or not anything in that configuration file actually gets

[2020-12-01 02:32] shcheklein commented on #1987
Okay, got it now. I see how can it be confusing - `dvc install` installs hooks, while `dvc install --use-pre-commit` does not, but only updates config. Definitely worth clarifying. Thanks @pmrowla !

[2020-12-01 04:01] theelderbeever commented on #1987
It sounds like this is being addressed via an update to the docs which seems more or less sufficient. However, when using `pre-commit` and attempting a `dvc install` it complains with an error about `pre-commit` already in use and then fails. Maybe consider specifically adding to the docks what the commands are that can be manually added to the `pre-push` and `post-checkout` hook files when a repo

[2020-12-01 04:08] pmrowla commented on #1987
If pre commit is already in use, `dvc install` is not the command you want to be running. In that situation you should use the pre-commit tool to trigger the pre-push/post-checkout hooks, and not the DVC shell scripts.

[code]

[2020-12-01 04:16] theelderbeever commented on #1987
@pmrowla ah understood. I am still newer to extensive use of `pre-commit` so you have taught me something new. Thanks.

[2020-12-01 04:18] pmrowla commented on #1987
Right, we will address this issue by making the docs are clearer on how to use the DVC hooks with the pre-commit tool.

[2020-12-01 07:12] jorgeorpinel commented on #1924
Yeah... This would definitely speed up things for first-time docs contributors, who have to wait for the whole blog to build before having a local dev env...

[2020-12-01 07:29] jorgeorpinel commented on #1984
I think the core PR is actually https://github.com/iterative/dvc/pull/4995 🙂

[2020-12-01 15:36] jorgeorpinel commented on #1924
BTW @rogermparent should we update https://dvc.org/doc/user-guide/contributing/docs#all-commands?

[2020-12-01 23:33] ju0gri opened #1990 "cmd ref: add glob option to `dvc import`"
Add the new argument supported by dvc import --glob to the documentation

Related to: iterative/dvc/pull/5010

[2020-12-02 13:59] BurnzZ commented on #1963
Hi @jorgeorpinel ,

Yes it is, for viewing the local project.

[2020-12-02 17:48] efiop opened #1996 "docs: update `metrics show`"
Just creating a reminder for now

https://github.com/iterative/dvc/pull/4706

[2020-12-02 21:08] johnnychen94 opened #1997 "page for performance tips"
Similar to Julia's https://docs.julialang.org/en/v1/manual/performance-tips/, I believe it will help others more if there's s page for dvc's best practice tips.

#1994 (when I was born lol) is one thing I noticed during using s3 remotes. I also noticed that ssh remotes are slower than s3(minio) by 3x in my 1000M LAN network, which also might worth a mention.

Similar to the troubleshooting page ht

[2020-12-03 00:49] jorgeorpinel commented on #1722
I guess we're on track to address this now and it's not very well defined so I'll just close it now.

[2020-12-03 00:49] #1722 closed

[2020-12-03 18:15] theelderbeever opened #1998 "Method to add all changed files"
Add a method that adds all of the changed files that are tracked by `dvc`.  Occasionally, when a lot of files have been changed in a project using dvc it can be a pain to try and add all of the changed files. `dvc add --glob **/*.extension` works in some regards but it can be difficult to come up with a "non" greedy wildcard expression.

Consider adding something like...
[code]

[2020-12-03 19:25] shcheklein commented on #1997
Good suggestions @johnnychen94 ! We do have a page with tips for Windows https://dvc.org/doc/user-guide/running-dvc-on-windows but never had time to do a general sections ... to some extent because there are too many edge cases and it's hard to distill some general patterns.

Could you chime in here - https://github.com/iterative/dvc/issues/4732 ? I think this is all part of the bigger problem - t

[2020-12-03 20:18] jorgeorpinel commented on #1997
If we keep this we could add a check box to #72 and close here.

[2020-12-03 21:22] ju0gri opened #1999 "cmd ref: add glob option to `dvc pull`"
Add the new argument supported by dvc pull --glob to the documentation

[2020-12-03 21:36] shcheklein commented on #1997
@jorgeorpinel I'm fine with either - your call!

[2020-12-04 04:29] jorgeorpinel commented on #654
## Summary of discussion above

[2020-12-04 17:19] ju0gri opened #2003 "cmd ref: add glob option for dvc push"
Document glob argument for push command.

[2020-12-05 19:52] shcheklein opened #2006 "freeze DVC 1.0 docs version"
As we are getting ready for 2.0 release, as @skshetry reminded us, it's better to freeze docs:

- [x] create a branch and a tag for the current state (before we merge any DVC 2.0 changes)
- [ ] create a subdomain for 1.0 docs - v1.dvc.org ?
- [ ] add selector, mention in the docs that this is the latest version and previous exists (similar to Elastic docs?)

- Consider also #1167 (or close it)

[2020-12-06 04:24] jorgeorpinel commented on #2006
We can manage a `v1` branch to keep merging some changes there because I'm pretty sure we will continue to make updates that also apply to 1.x for some time. Not sure we need a tag.

👍

[2020-12-06 19:36] jorgeorpinel commented on #1997
Nah never mind. Thinking about it, the request here is about performance tips, not really best practices.

[2020-12-06 19:39] jorgeorpinel commented on #1997
Something like tis would definitely go in the User Guide. But it would be great to compile a good amount of these tips before considering adding them.

Another place people can learn about these is in GitHub itself, as there's probably lots of closed issues in the core repo that relate to performance. Yet another option is to write blog posts about these things like https://dvc.org/blog/dvc-vs-rcl

[2020-12-06 19:46] johnnychen94 commented on #1997
Hmmm, I thought it could be easier for users to find out what they should be aware of; a page with DVC tips(performance or best practice) can really serve as an index page.

This issue seems to be duplicated to #72 so feel free to close this.

[2020-12-07 14:23] karajan1001 opened #2007 "New option `jobs` for `dvc import`"
linked to Related to PR iterative/dvc/pull/4838

[2020-12-07 14:44] dorp92 opened #2010 "dvc ignore "!" syntax different behavior from git"
From:
https://dvc.org/doc/command-reference/check-ignore
`echo "file*\n\!file2" >> .dvcignore
touch file1 file2 other
dvc check-ignore file*`

Why file2 is ignored?
Correct me if I'm worng but in git file2 shouldn't be ignored.

I am encountering this issue as a result of trying to ignore all files except certain extensions.
This works with git but not in dvc
`*
!*.pth
!*.npy
!*/
.idea/`

There is

[2020-12-08 03:53] jorgeorpinel commented on #1446
It looks like this is all in https://dvc.org/doc/command-reference/params already 👍

[2020-12-08 03:53] #1446 closed

[2020-12-08 03:58] jorgeorpinel commented on #1700
Actually https://github.com/iterative/example-get-started/blob/master/src/prepare.py#L20 does take a parameter. Should we close this @shcheklein? Or change the example project so we don't have to repeat dependencies in `run`?

[2020-12-08 06:25] hyperparameters opened #2013 "Python API"
Hello, developers,
kudos to you for awesome work :champagne:
But was hoping if we can have all the cli command in python API too.
I like to experiment in jupyter notebooks and that python API will be more flexible to use in such cases.
Is there any roadmap for this, I would like to contribute if any need :smile:

[2020-12-08 18:44] dorp92 opened #2014 "dvc push [Errno 1] Operation not permitted"
[code]
With -v
[code]

[2020-12-08 22:30] jorgeorpinel commented on #1743
@jeremydesroches you can strikethrough or remove the bullets involving "get started" because that will have to be rewritten soon anyway. Is there anything else left here? Thanks

[2020-12-08 23:21] jeremydesroches commented on #1743
OK @jorgeorpinel, struck out the "get started" bullets. Nope, nothing left here.

[2020-12-09 16:56] BikashShaw opened #2015 "How to push in-memory object directly to remote store?"
Please consider this as a naive question rather than any bug or improvement report.

Is there any equivalent "write" function like dvc,api.read()? We want to push the in-memory object directly to the remote store via python API without saving it to local storage and run the bash command.

Thanks!

[2020-12-10 06:03] jorgeorpinel opened #2018 "How to end `yarn dev` correctly? (on Win/Git Bash)"
After I run it and Ctrl+C out of it, the Node.js process is still running (I have to open Task Manager to see it and kill it). So if the dev server crashes (happens sometimes when I switch Git branches) and I forget, they start adding up in the background.

Per stackoverflow.com/questions/44788982 this may be a problem with Git Bash specifically, but just wanted to double check whether we're missi

[2020-12-10 06:04] jorgeorpinel commented on #2018
@rogermparent feel free to close this when you consider.

[2020-12-10 18:54] #1987 closed

[2020-12-10 20:20] rogermparent commented on #2018
I'll see if I can find a solution online, but I don't actually have a windows dev machine to test on so it'll be difficult for me in particular to investigate.
This issue could possibly stem from a few places; off the top of my head, it could be:

- An issue with Windows running our customizations to dev middleware (I get similar issues when using `gatsby develop` on linux sometimes, but not often

[2020-12-11 19:52] jorgeorpinel commented on #2018
Thanks. Did you check https://stackoverflow.com/questions/44788982/node-js-ctrl-c-doesnt-stop-server-after-starting-server-with-npm-start? There are possible answers there.

[2020-12-11 19:55] jorgeorpinel commented on #1997
OK feel free to suggest specific performance tips in #72. Thanks again

[2020-12-11 19:55] #1997 closed

[2020-12-12 06:03] jorgeorpinel commented on #1743
Well, thanks for taking care of it!

[2020-12-12 06:03] #1743 closed

[2020-12-13 05:04] #186 closed

[2020-12-13 23:28] jorgeorpinel opened #2023 "cmd: clarify that every dvc.yaml is checked upon `dvc.yaml`"
UPDATE: Skip to https://github.com/iterative/dvc/issues/5089#issuecomment-744675730

# ~~Bug~~ Report

## Description

`repro` fails for any file if there's an error in ./dvc.yaml

### Reproduce

[code]

Even if tmp/dvc.yaml is valid, `repro` fails because ./dvc.yaml is invalid. AND the message is misleading because "dvc.yaml" here refers to ./dvc.yaml, whereas I'm specifying tmp/dvc.yaml as targe

[2020-12-14 20:03] jorgeorpinel commented on #2023
- [ ] https://dvc.org/doc/command-reference/repro should explain this behavior
- [ ] https://dvc.org/doc/user-guide/dvc-files-and-directories could mention that all dvc.yaml files in the project are important and should be valid at all times for DVC to function properly.

[2020-12-14 22:22] jorgeorpinel opened #2024 "cmd: make Synopsis/args/options more interactive"
Needs:

- Special place/way to specify command arguments in pages of https://dvc.org/doc/command-reference
- link to them from the synopsis? (as well as to `--` options)
- Have anchors for each argument and option

[2020-12-15 01:47] jorgeorpinel commented on #2023
@efiop @skshetry @pared I've transferred this to docs but one last concern: I tried a .dvc file as target and it still checked all of the dvc.yaml files in my project for validity first. How is that helpful? There's no way they can affect the .dvc file I specified as target, as it's not a stage but rather just some data tracked by DVC. Thanks

[2020-12-15 10:44] efiop commented on #2023
@jorgeorpinel There might be another dvc file that is pointing to the same output path, we check for that and that's why we need to collect everything anyway.

[2020-12-15 18:05] jorgeorpinel commented on #2023
Overlapping output paths... OK got it.

[2020-12-16 16:32] jorgeorpinel opened #2026 "2.0 docs"
Finalize pending 1.x-related updates (extracted from #1255) - #2074

- [x] Review all .dvc file examples throughout docs (in YAML code blocks) — note we require YAML 1.2 (se iterative/dvc/pull/4415 and #1764) - mostly done #1608.
- [x] ^ Also push/pull examples
- [x] Review DVC cache info everywhere, especially in the internal files/dirs guide.
- [x] `plots` refs per #1414
- [x] other refs? per #1

[2020-12-16 16:37] jorgeorpinel commented on #2006
Update on this: So far everything on master is also part of `v1` so I've been merging it back. At some point soon they will start to diverge. 2 comments: 1) how about adopting https://mergify.io/features/backports to send back certain changes to v1 after that? 2) Should this issue be prioritized/assigned? Thanks

[2020-12-17 21:53] jorgeorpinel opened #2027 "guide: doc persist field in dvc.yaml, maybe improve explanation in run --outs-persist"
Per iterative/dvc/issues/1214 (iterative/dvc/pull/1759)

[2020-12-18 03:31] #2027 closed

[2020-12-18 03:54] jorgeorpinel commented on #1963
Reopening per https://github.com/iterative/dvc.org/pull/1982#issuecomment-747851192. Ideas for the example:

[2020-12-18 12:38] johnnychen94 opened #2032 "config: incorrect system config path"
# Bug Report

## Description

According to the documentation, the system config path for Linux is `/etc/dvc/config`, but it seems like the actual config path is `/etc/xdg/dvc/config`.

[code]

I'm using Ubuntu 18.04, if that helps.

[2020-12-18 18:06] efiop commented on #2032
Let me compile the correct list of values for these here at least...

[2020-12-18 20:54] shcheklein commented on #2032
@efiop yep, that would help if you could write a summary of the change that is needed. Even here in the ticket should be enough.

[2020-12-18 22:30] jorgeorpinel commented on #2032
/etc/xdg looks liek an Arch Linux thing. It probably changes by distro? I guess we could just make a note about that for Linux

[2020-12-19 00:15] elleobrien opened #2035 "<details> element throws error"
I'm using a basic `<details>` element in a new docs page, which works fine in GitHub markdown and seems to be pretty standard usage.

[code]

But getting this error message in my local build:

[code]

Any ideas?

[2020-12-19 00:21] elleobrien opened #2036 "logo in a sidebar"
I'm trying to add a new section in the docs sidebar, and with it a new icon.

The "Home" page has a house icon, which is in `src/components/Documentation/Layout/SidebarMenu`. I've tried adding my own `.svg` to this path so I can give the new CML section of the docs its own distinct icon (the shape of the CML logo). However, my CML icon doesn't render- it shows up as blank space when i try.

Are th

[2020-12-19 01:20] shcheklein commented on #2035
@elleobrien please check this page sources - it has an example how to put details section together. The markup is slightly different.

[2020-12-19 01:20] #2035 closed

[2020-12-19 01:22] shcheklein commented on #2036
@rogermparent could you please help us a bit- should not be a big deal, I hope?

[2020-12-19 02:37] rogermparent commented on #2036
Not a problem! Sidebar icons need to be imported and added to a JS map in the `SidebarMenu` component in `src/components/Documentation/Layout/SidebarMenu/index.tsx` in order to enable their use in the sidebar.

I just added the one we have here and got it working, I'll push it up here once I convert the SVG into the `currentColor`-filled type like the House is.

[2020-12-19 03:21] rogermparent commented on #2036
Just added it to the linked PR, [here's the deploy preview page](https://dvc-landing-cml-docs-svosyzek8.herokuapp.com/doc/cml)!

[2020-12-19 03:58] jorgeorpinel commented on #2035
It expects a header element (e.g. `## Title`) as the first child (no need for `<summary>`)

[2020-12-19 05:08] shcheklein commented on #2036
thanks @rogermparent !