[2020-03-04 19:02] casperdcl opened #1035 "docs: consolidate examples and higher level structure"
Perhaps considering minimisation of the amount of pages which information is spread over.

For example, https://blog.codecentric.de/en/2020/01/remote-training-gitlab-ci-dvc/ links to https://blog.codecentric.de/en/2019/03/walkthrough-dvc/ for a DVC walkthrough rather than anything on dvc.org. It highlights how putting everything on one page means you can inject a lot more content and get a full ov

[2020-03-04 19:23] shcheklein commented on #1035
It makes sense, right? :) They are optimizing theirs content. Not saying that we should not be optimizing docs structure (we are long overdue on this), but this particular argument probably is not that relevant.

I agree on merging Get Started and Tutorials. Get Started should become one of the Tutorials - Quick Start, Overview? Probably I would keep it split into sections though - it'll be more m

[2020-03-04 19:24] jorgeorpinel commented on #1015
I think we missed closing this one 🙂

[2020-03-04 19:24] #1015 closed

[2020-03-04 19:40] jorgeorpinel commented on #1035
➕1

This is the main thing that Casper and Alex are suggesting we stop doing though. Have each full tutorial in a single page. Scroll/find > navigate/search

Yes, will be done in #425

Our goal for use cases is that they serve as landing pages to our docs @casparjespersen so we want them in their own top level, but indeed they could be renamed to something more "marketable". Maybe **Features** (bu

[2020-03-04 19:44] jorgeorpinel commented on #1035
...but then would the first section in the docs nav be Tutorials, and its index the Get Started guide?

[2020-03-04 19:59] shcheklein commented on #1035
Even though, it is still more of a tactical and quick to change/experiment with thing than Casper's suggestions to consolidate top level structures. That's why I'm not that worried about this one.

[2020-03-04 20:02] shcheklein commented on #1035
there should its own index page with a good design that navigates User to the most common sections.

[2020-03-04 23:12] casperdcl commented on #1035
@jorgeorpinel you really need to stop bugging `@casparjespersen`. Also I think you meant to say @shcheklein rather than me anyway :D

[2020-03-05 12:02] efiop commented on #108
Also `dvc add remote://`

[2020-03-05 17:23] jorgeorpinel commented on #1035
Oops

[2020-03-06 07:52] depate commented on #333
This issue affects me aswell.

Paste from my Discord message:

What's wrong?
While running featurization.py I get some kind buffer overflow.  16GB of RAM get consumed in seconds and the execution halts after a couple of seconds of system freeze.

I get a The input data frame data/Posts-train.tsv size is (66999, 3) output, so far the code is valid. But the next step most likely goes sideways, becau

[2020-03-08 22:56] #463 closed

[2020-03-09 10:07] efiop commented on #986
Also `dvc cache dir` has some magic sprinkled on it, it resolves your relpaths so they work with the location that the config is in. I'm sure you guys remember that issue from last year, where we've introduced that logic for local remotes because `dvc cache dir ../path` in repo root should be resolved to `../../path`, because the config is in `.dvc/config`.

[2020-03-09 16:06] efiop commented on #1016
@jorgeorpinel It won't be fixed in core repo, it is part of setting up a dev env for tests.

[2020-03-09 17:57] jorgeorpinel opened #1038 "version: is failing again when run outside a DVC repo"
DVC 0.87.0

[code]

+ Maybe let's check also other independent commands like `dvc list` and `dvc get`.

[2020-03-09 20:17] jorgeorpinel opened #1039 "cmd ref: review description of init and related commands (per --subdir)"
- [ ] Update sync commands per "data sync commands without specific target: Stages for subdirs will not be gathered"
- [ ] May be we should consider moving some part to the User Guide.

Discussion part:

I also think (already discussed with Ivan) that the result here is a little too long. We went from 2 paragraphs to 21 plus block codes. It's not necessarily a problem because all of this info is v

[2020-03-10 00:10] jorgeorpinel commented on #1016
OK. I don't understand what the solution is though. Could you provide the missing info for the docs (at some point)? Thanks

[2020-03-12 05:55] jorgeorpinel opened #1041 "cmd ref: clarify which options can be used more than one or accept multiple args"
- can be used more than one e.g. `run -d dep1 -d dep 2 ...`: How best to indicate this? Maybe just say it in the option descriptions (at least it's a start).
- accept multiple args e.g. `gc -p path1 path2`: This one is already signaled in the cmd ref Synopsis (but not sure whether it's enough, should it also be mentioned in the option desc?)

[2020-03-12 05:58] #1026 closed

[2020-03-13 20:02] iAdramelk opened #1044 "Update or remove sidebar.json"
Before we migrate to gatsby we were required to store pages metadata separately from the md pages themselves in `sidebar.json` file.

After migration we are not really require it. We can move all relevant page data to the file's frontmatter section and build paths based on the folder structure.

It will allow us to simplify build and remove hacks like that: https://github.com/iterative/dvc.org/blo

[2020-03-13 20:40] iAdramelk opened #1045 "remove `react-markdown` from the Tooltip component"
Right now Tooltip uses `react-markdown` to render descriptions from `content/docs/glossary.js` to HTML. It was ok then we have to use `react-markdown` to render docs pages, but now we should simplify it.

We can either convert md to html on the server side with `gatsby`, or just replace it with plain html, because right now we only have couple of links and code samples there.

- [ ] Address #1137

[2020-03-13 20:59] iAdramelk opened #1046 "replace global docserach with npm module"
Right now we importing docsearch in `html.js`:

https://github.com/iterative/dvc.org/blob/0d886a14c60b697fe7648ebad5f3bc8b3a10b0b5/src/html.js#L16-L23

And it's not a very good place for it. We should either import is node package in Documenation component (but find out why it breaks ssr if we do it this way), or move to `gatsby-browser.js`

[2020-03-15 02:43] shcheklein commented on #992
Closing this as we moved to Heroku.

[2020-03-15 02:43] #992 closed

[2020-03-15 02:48] shcheklein opened #1048 "we need to purge CF cache on deployment"
Changes introduced to the caching layer for DVC blog affected DVC.org - we need to purge cache in the same as we do in blog.

[2020-03-15 18:40] jorgeorpinel commented on #634
Will be addressed in #599

[2020-03-15 18:40] #634 closed

[2020-03-15 19:59] jorgeorpinel commented on #1035
@casperdcl note that we will be merging get-started into tutorials as part of #1051

[2020-03-16 02:53] jorgeorpinel opened #1052 "nav: allow folding sidebar lists"
Some nav elements e.g. https://dvc.org/doc/command-reference have so many subelements that you have to scroll the left sidebar to see what other super sections are available, which new users may not even thing about doing. At the same time, the little arrow icon changes from pointing right to pointing down when you open any nav section that is expandable, which feels like if you click on it again

[2020-03-16 02:54] jorgeorpinel commented on #1052
p.s. maybe also sections that do NOT have ay elements underneath should have a different bullet type, like just a round one, so you can tell from that which ones have children hierarchies to explore.

[2020-03-16 05:23] jorgeorpinel opened #1053 "nav: allow different bullet icons in sidebar"
Currently the only one is a little triangle.
- We may want no icon sometimes, e.g. the new Home entry being introduced in https://github.com/iterative/dvc.org/pull/1051#issuecomment-599330238
- Sidebar entries without children should probably have a regular circle bullet point (per https://github.com/iterative/dvc.org/issues/1052#issuecomment-599318329)

[2020-03-16 15:42] fabiosantoscode commented on #1048
The script was added correctly, all that was missing was the environment variables with required cloudflare information for the script to consume.

Due to preview environments, it doesn't fail when these are missing.

I've added them now.

[2020-03-16 15:53] shcheklein commented on #1048
@fabiosantoscode

what about production? not sure I got the point ...

[2020-03-16 15:57] fabiosantoscode commented on #1048
They both share `npm start`.

I can fix this by only running the script if `process.env.CONTEXT === 'production'` and crashing otherwise.

[2020-03-16 15:59] shcheklein commented on #1048
@fabiosantoscode still not sure I understand. It failed to clean the cache on prod, so not sure what  preview envs have to do with this?

[2020-03-16 16:09] fabiosantoscode commented on #1048
If there were no preview environments, I would've made it crash loudly when CF tokens are missing.

[2020-03-16 16:19] paulkaefer opened #1056 "user-guide: initial get-started/data.xml pull doesn't work"
When I run the first `dvc get` listed [here](https://dvc.org/doc/get-started/add-files), I get the following error:
[code]

[2020-03-16 16:28] paulkaefer commented on #1056
PR#1057 isn't the solution. Documentation needs to be updated to reflect steps at [iterative/dataset-registry](https://github.com/iterative/dataset-registry).

[2020-03-16 16:40] shcheklein commented on #1048
kk, got it ... I saw your PR and it makes sense - fail in prod if tokens are not set

[2020-03-16 16:46] #1048 closed

[2020-03-16 16:49] shcheklein commented on #1056
@paulkaefer I can't reproduce this. Could you run it with `-v` and share the log, please?

[2020-03-16 16:53] paulkaefer commented on #1056
@shcheklein:
[code]

To be clear, I'm going through the tutorial. I was able to (1) clone the dataset-registry repo, and (2) run `cp ../dataset-registry/get-started/data.xml data/` to get the `data.xml` file into my getting started local repo.

[2020-03-16 17:04] shcheklein commented on #1056
Ok, I see where that problem comes from

mind the space before the path.

Looks like it's copy-paste + terminal problem.

This is exactly how regular CLI tools behave:

[code]

What I would suggest is to change the command somehow to avoid this copy-paste problems?

@paulkaefer what OS, what browser and terminal do you use?

[2020-03-16 17:07] paulkaefer commented on #1056
@shcheklein Ubuntu, default Terminal (bash). Brave Browser.

Command was copied from the top example @ https://dvc.org/doc/get-started/add-files.

[2020-03-16 17:09] paulkaefer commented on #1056
@shcheklein good call, though. I removed the space before the `\` and `dvc get -v https://github.com/iterative/dataset-registry \get-started/data.xml -o data/data.xml` works.

[2020-03-16 17:10] shcheklein commented on #1056
@paulkaefer so, when I copy it and paste I'm getting something like this in my browser:

[code]

is it the same for you?

[2020-03-16 17:25] paulkaefer commented on #1056
@shcheklein yes!

[2020-03-16 17:27] shcheklein commented on #1056
@paulkaefer and when you run w/o modifications, does it work? (it works for me, in my terminal as-is if I just copy-paste it)

[2020-03-16 17:29] paulkaefer commented on #1056
@shcheklein yes. Did you change something? Maybe I mis-copied before? I believe the first time, I typed it out in the interest of developing muscle memory for `dvc`.

[2020-03-16 17:34] shcheklein commented on #1056
@paulkaefer No, I didn't change anything. Looks like some mis-copy or some honest typo :) Closing this for now. Thanks for reporting this though, if we get more complaints we'll think about simplifying some command to fit into a single line.

[2020-03-16 17:34] #1056 closed

[2020-03-16 17:38] paulkaefer commented on #1056
Thanks, @shcheklein. I've shared the tutorial internally, with my recommendation:

I'll be sure and open issues or PRs if I find anything else.

[2020-03-16 21:13] iAdramelk opened #1060 "nav: fix problem with non-existing pages in sidebar"
In the old `sidebar.json` config it was possible to create page with `source: false` and then user requested such a page, it's first child was rendered instead.

For example then you enter in browser `/doc/changelog/` it will show content of `/doc/changelog/0.18`. As a result we have two pages with the exactly same content on different url. It is bad for SEO and it is bad for search with docsearch

[2020-03-17 05:22] shcheklein commented on #599
I think this link is not a good example. First of all, notice how Learn is not even part of Docs. Mostly because it's too generic. Second, it looks like the whole Learn section for Next is actually one single interactive tutorial.

[2020-03-17 12:32] skshetry opened #1062 "cmd-ref: address reviews from #1007"
- [x] https://github.com/iterative/dvc.org/pull/1007#pullrequestreview-360472892
- [ ] https://github.com/iterative/dvc.org/pull/1007#pullrequestreview-367607133

[2020-03-17 15:38] iAdramelk opened #1063 "image processing with Gatsby"
When we used Next.js we just placed all assets to the `/static/img/` folder and inserted in html by url.

This approach works, but have some drawbacks:

1. We can't automatically optimize images on build.
2. We don't have cache busting.
3. We can't crate different sizes of images for different resolutions on the fly.

Now, after migration we have better ways to do it:

1. Use webpack loaders for i

[2020-03-17 17:26] jorgeorpinel commented on #1060
OK so these are fixed by "temporary" redirects right? 307 status code for example. (Keeping in mind our docs structure keeps changing so for example the top item in /changelog may go from /0.1 to /0.2, etc.)

Yes this would be terrible, but why do we only want 301s there? I'm not sure about that part. Each redirect type serves different purposes, see discussion in https://github.com/iterative/dvc.

[2020-03-17 17:51] jorgeorpinel opened #1064 "ci: restyled seems broken"
~~per https://github.com/iterative/dvc.org/pull/1058#pullrequestreview-376234425~~

Let's double check it's still working and that it can fix as much as possible from our format checks...

[2020-03-17 22:09] shcheklein opened #1066 "link checker: fix issues"
- [ ] does not work on mac (sed is using some `-r` which is GNU-specific)
- [ ] does not print file names issue is found - https://circleci.com/gh/iterative/dvc.org/2592
- [ ] requires to be run from the root, it easy to make it run from any directory

[2020-03-17 23:02] casperdcl commented on #1066
1. Don't have a Mac so not sure how I can test
2. Right now it's a little hard to link the issue to the file name; possible with a little bit of scripting but is it that important? As of now the broken link(s) on the PR diff are printed and it's easy for the PR creator to find the links.
3. Easy to fix run from any dir

[2020-03-17 23:08] shcheklein commented on #1066
1. I think we need to rely on POSIX sed - https://riptutorial.com/sed/topic/9436/bsd-macos-sed-vs--gnu-sed-vs--the-posix-sed-specification
2. The problem that I was not able to find the link to fix from the CI output
3. 👍

[2020-03-17 23:54] casperdcl commented on #1066
1. ergh. What about `sed -E` instead of `sed -r`? `echo '[md](/rel)' | sed -E 's/.*]\((\/[^)[:space:]]+).*/\1/'` should print `/rel`...
2. which links couldn't you find? https://patch-diff.githubusercontent.com/raw/iterative/dvc.org/pull/1025 diff has both `https://dvc.org/img/`
 and `https://github.com/iterative/dvc.org/blob/master/сontent$`

[2020-03-18 00:08] shcheklein commented on #1066
1. Yep! `-E` prints `/rel` for me
2. Ok. I see it now - `https://dvc.org/img/<filename>.gif` - was not obvious that that is the one.

[2020-03-18 00:10] shcheklein commented on #1066
Actually, still not sure:

[code]

we already have this - and it didn't help. Am I still missing the link?

[2020-03-18 00:20] casperdcl commented on #1066
Yes I saw that and was re-running a full test locally... actually

[code]

isn't needed at all. Maybe there were some intermediate commits where it was needed? Right now I'm getting no errors locally even when removing that exclusion...

[2020-03-18 00:35] shcheklein commented on #1066
so, what was the issue with the `https://dvc.org/img/` then? was it about that link or something else?

[2020-03-18 00:49] casperdcl commented on #1066
Probably a particular commit? Note sure and probably not worth debugging - better to wait for it to happen again.

[2020-03-18 02:07] casperdcl commented on #977
Can this be closed?

[2020-03-18 02:11] shcheklein commented on #977
yep!

[2020-03-18 02:11] #977 closed

[2020-03-18 05:26] #1066 closed

[2020-03-18 06:50] jorgeorpinel commented on #1039
We should also review the text of what the --subdir and --no-scm options do (motivation) as well as examples because they may be incorrect as explained in https://github.com/iterative/dvc/issues/2901#issuecomment-600452576.

[2020-03-18 21:03] jorgeorpinel commented on #599
OK. Addressed in https://github.com/iterative/dvc.org/pull/1051#issuecomment-600828452.

[2020-03-19 02:21] shcheklein opened #1070 "links check: getting 429 too many requests on CI"
https://circleci.com/gh/iterative/dvc.org/2626?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification

@casperdcl should we ignore this and consider as 200?

[2020-03-19 03:39] casperdcl commented on #1070
Hmm looks like it. There's no easy way to avoid this.

Right now we process each file individually (makes it easy to associate errors with the correct file).

If instead we first grep links in all files, then process together we can avoid checking the same link multiple times - but it would be harder to associate errors with the originating file. Possible but a little bit of scripting involved.

A

[2020-03-19 03:46] shcheklein commented on #1070
yes, agreed - let's just ignore them

[2020-03-19 03:47] #1070 closed

[2020-03-19 03:48] #1013 closed

[2020-03-19 07:20] jorgeorpinel opened #1073 "create a dedicated Home page for docs at dvc.org/doc (design part left)"
In a reorganization of docs (#1051) we're creating a Home page that /doc redirects to.

We'd like it to BE in /doc. But keeping the **Home** entry in the nav sidebar. Is this easy with the current Gatsby engine?

---------

- [x] It should have dedicated icon. Related https://github.com/iterative/dvc.org/issues/1053.
- [x] Putting it in `dvc.org/doc` most likely means it's a separate page, rather

[2020-03-19 07:20] jorgeorpinel commented on #1073
But keeping the **Home** entry in the nav sidebar...

[2020-03-19 10:25] iAdramelk commented on #1073
@pavelgrinchenko can you check this issue please?

[2020-03-19 11:07] pavelgrinchenko commented on #1073
@jorgeorpinel In the current codebase you can't do it without changes in the `src/utils/sidebar.js`. If you want you can show your branch with changes and I'll do it for you.

[2020-03-19 11:25] pavelgrinchenko commented on #1073
I prepared patch. You can get it [here](https://github.com/iterative/dvc.org/commit/69ec1e82), and then just set something like this in sidebar's config
[code]

[2020-03-19 15:08] jorgeorpinel commented on #1073
Thanks @pavelgrinchenko that works! Cherry-picked your patch into my working branch now :)
See https://github.com/iterative/dvc.org/compare/9ddaf88..ef4ece6

[2020-03-19 21:38] efiop opened #1075 "cmd-ref: add a note that gc might try to pull missing .dir cache files"
https://discordapp.com/channels/485586884165107732/563406153334128681/690239392094486641

[2020-03-20 05:27] jorgeorpinel opened #1078 "yarn doesn't work on Linux"
[code]

[2020-03-20 05:28] jorgeorpinel commented on #1078
Cc @iAdramelk

[2020-03-20 05:30] jorgeorpinel commented on #1078
I see this is because my Node version is kind of old. It's what you get from `apt-get` in Ubuntu... ⏳

[2020-03-20 05:45] jorgeorpinel commented on #1078
OK I installed Node 12 as instructed in https://github.com/nodesource/distributions/blob/master/README.md#debinstall and it works now. I'll add a note in https://dvc.org/doc/user-guide/contributing/docs

[2020-03-20 05:52] #1078 closed

[2020-03-20 05:54] skshetry opened #1079 "Document howto about using custom certs on s3 compatible storages"
We can partly solve the issue https://github.com/iterative/dvc/issues/3450 by having it documented
(i.e. about `AWS_CA_BUNDLE`).

[2020-03-20 05:54] skshetry commented on #1079
One idea that I have in mind is to have `certs=<path/to/cert>` in our remote configs so that could be used by default instead of these env variables: *REQUESTS_CA_BUNDLE*, *AWS_CA_BUNDLE* (we could support  `s3` and `http` for now).

[2020-03-20 21:23] jorgeorpinel opened #1081 "address Yarn warning"
I had to overwrite yarn.lock for #1051. I'm on Linux (WSL actually). Here's the full output of `yarn` for me:

[code]

We should also check whether running on Mac vs Windows vs Linux produces different results... Because we're going to have continuous merge conflicts if this is the case.

[2020-03-20 21:23] jorgeorpinel commented on #1081
Cc @iAdramelk

[2020-03-20 21:24] #747 closed

[2020-03-21 02:55] jorgeorpinel opened #1084 "dev mode improvements"
- [x] Easy: Can we name the yarn script just `dev` like before? faster to type

- [x] Reasonable: Can it have watch/autoreload? ~~Or perhaps allow reloading the current page by clicking on the current nav item (used to work).~~

- [x] Changing sudebar.json requires stopping `yarn develop` and running it again (this was automatic before with Next.js)

- [ ] Maybe hard: Can dev mode somehow purge th

[2020-03-21 03:11] jorgeorpinel commented on #1084
p.s. can we name the yarn script dev like before? faster to type 😬

[2020-03-21 04:20] jorgeorpinel commented on #1084
Also, changing sidebar.json doesn't reflect at reload until you stop and rerun `yarn develop` (not cache related).

[2020-03-21 05:15] jorgeorpinel commented on #1084
Updated the description above to summarize several possible improvements to the local dev mode on Gatsby.

[2020-03-21 11:43] iAdramelk commented on #1084
CC @pavelgrinchenko

Some quick answers:

It watch/autoreload for the most part, but right now `sidebar.json` is an exception to some degree. Changing titles and katacode links should still autoreload, but changing slug part will not automatically create page on the new url because this change didn't start page rebuild process (it will probably update menu, but actual page will not be created).

W

[2020-03-23 15:50] javierjsa opened #1087 "Default push behaviour not analogous to git."
Hi,

Say several versions of a .dvc file that track a dataset have been commited to git on the same branch, without pushing to dvc remote. By default, dvc push will upload only the cache content related to the .dvc file currently in the workspace. In order to push all the changes, --all-tags flag is required.

The [documentation](https://dvc.org/doc/command-reference/push) states that push is anal

[2020-03-23 15:51] pared commented on #1087
Context:
https://discordapp.com/channels/485586884165107732/485596304961962003/691628215600676945

[2020-03-23 15:53] pared commented on #1087
Seems like information about not sending commits is included in the mentioned document, but maybe we should somehow mention that when saying that `push` is analogous to `git push`, or make it more visible.

[2020-03-23 16:29] javierjsa commented on #1087
I'd suggest stating or adding that dvc push does not behave like git push unless it is explicitly instructed to do so. Maybe there's a difference between the commands being analogous and their behaviour being the same, anyways English is not my first language. As you point out, the information is indeed included in the documentation, but the current wording may possibly mislead newcomers overviewi

[2020-03-23 16:31] helger opened #1088 "Failure when using S3 remote cache"
Trying to run the command

`dvc run -d s3://mybucket/data.txt -o s3://mybucket/data_copy.txt aws s3 cp s3://mybucket/data.txt s3://mybucket/data_copy.txt`

Using AWS S3 remote cache.

It fails with the error message `ERROR: unexpected error - Parameter validation failed: Invalid length for parameter Key, value: 0, valid range: 1-inf`

Attached is the log with `-v` turned on.

[log.txt](https://git

[2020-03-24 02:15] #1087 closed

[2020-03-24 02:24] shcheklein commented on #1087
@javierjsa so, this was in the doc before:

I changed the first paragraph a little bit to make it less confusing, thanks for the report @javierjsa .

I also, see this as related to this https://github.com/iterative/dvc/issues/1691

[2020-03-25 05:24] shcheklein opened #1092 "annoying delays on route change/navigate"
It's more or less random, usually just after you open the site.

You click to any internal link and nothing happens (for >500ms), after that page opens immediately - it's quite annoying since there is no response from the UI and it's not clear if I missed the link for example.

[2020-03-26 07:22] pavelgrinchenko commented on #1092
As I mentioned before we have strange TTFB for responses
![image](https://user-images.githubusercontent.com/53296341/77620414-5bb46200-6f4b-11ea-9f87-6baf9890e479.png)
I don't know what server.js do and why it's so long, but what I really know that nobody serves static files through Node.js. Usually all use Nginx as reverse proxy before Node.js app for serving static files.
/cc @fabiosantoscode wd

[2020-03-26 07:55] pavelgrinchenko commented on #1092
Here is simple example https://github.com/ahawkin/heroku-nginx-proxy-node

[2020-03-26 15:36] fabiosantoscode commented on #1092
Express is not going to be an issue. Cloudflare should be responding to those requests directly. Only first request goes to express (which is really fast and definitely not taking almost 1 second to respond).

Something else is going on, but I don't believe we need to look into it.

[2020-03-27 15:38] maxhora opened #1095 "user-guide: update gdrive setup guide"
- New optional param to turn on Trash_Only option for gdrive remote;
- DVC starts to provide default client id and secret to access GDrive API;
- Service account support.

[2020-03-27 22:50] kenahoo commented on #897
Came here to add a "me too" - in the short term, maybe add a link to https://github.com/iterative/dvc/releases on the docs page?  Whenever I'm updating I never seem to be able to find the release notes.

[2020-03-28 01:52] jorgeorpinel commented on #1084
OK, I'm OK with adapting to these situations if needed. Let's just try (not huge effort) to make some of the improvements in a small PR that closes this issue?

[2020-03-29 21:07] jorgeorpinel commented on #1095
Please link to corresponding core repo PR.

[2020-03-29 21:09] shcheklein commented on #1095
@jorgeorpinel I doubt the will be very informative, ask me any questions or let's do a call so that I can share the context

[2020-03-29 21:09] jorgeorpinel commented on #1095
Is it iterative/dvc/pull/3269?

[2020-03-29 21:10] jorgeorpinel commented on #1095
I'm just trying to find a place to comment on the name of the remote modify parameters being used e.g. `projectname` should probably be `project_name`.

[2020-03-29 21:10] shcheklein commented on #1095
Yes, and one or two to `gdrive.py` after that.

[2020-03-29 21:11] jorgeorpinel commented on #1095
I'm just trying to find a place to comment on the name of the remote modify parameters being used e.g. `projectname` should probably be `project_name`.

[2020-03-29 21:11] shcheklein commented on #1095
@jorgeorpinel projectname was way before GDrive - it's common for Google tools I believe

[2020-03-29 21:12] jorgeorpinel commented on #1095
K. also `credentailpath`. We have underscores in most other param names from what I can see. Not a huge deal I guess.

[2020-03-29 21:12] jorgeorpinel commented on #1095
Oh yeah sorry I was looking at the Google Cloud Storage section! Never mind...

[2020-03-29 21:16] maxhora commented on #1095
It is related to last 3 commits https://github.com/iterative/dvc/commits?author=maxhora

[2020-03-29 21:32] jorgeorpinel commented on #1095
Thanks Max

[2020-03-30 07:13] jorgeorpinel opened #1099 "user-guide: why would we ever want gdrive://appDataFolder as a remote?"
See https://dvc.org/doc/user-guide/setup-google-drive-remote#url-format-for-google-drive-remotes

Maybe we should just remove that from docs. And if possible prevent it in the core repo (if it's a specially coded feature)

[2020-03-30 07:37] jorgeorpinel opened #1100 "yarn: lots of errors when running dev app; can't test locally"
This is on `master` branch just now. I'm on windows though. I run `yarn` and then:

UPDATE: Jump to https://github.com/iterative/dvc.org/issues/1100#issuecomment-608704285

[code]

What am I doing wrong?

[2020-03-30 07:38] jorgeorpinel commented on #1100
On the browser I get this error screen (200 code though):

![image](https://user-images.githubusercontent.com/1477535/77887047-2055b400-7227-11ea-8cf5-08cae41b7acc.png)

[2020-03-30 07:43] jorgeorpinel commented on #1100
I have the same problem with `yarn build` but seems to work on Heroku e.g. https://dashboard.heroku.com/apps/dvc-landing-1095-gxpubiooiy6vx/activity/builds/a42b7eae-5f2c-49e6-aed1-56999c5685ac 🤷‍♂ I'll be doing sanity checks on PR review apps for now.

[2020-03-30 07:44] jorgeorpinel commented on #1100
p.p.s. clearly I'm missing something related to GraphQL or its config. But I can't see any info on that in README or docs contrib guide. Jelp

[2020-03-30 08:45] iAdramelk commented on #1100
@jorgeorpinel from the error text I can understand that it cant find these fields: https://github.com/iterative/dvc.org/blob/master/gatsby-node.js#L76-L78

We add them before at https://github.com/iterative/dvc.org/blob/master/gatsby-node.js#L53-L57

`onCreateNode` runs before `createPage` so you should have them already. Question is why they don't exists. Just to be sure that this is not a cache

[2020-03-30 14:11] pavelgrinchenko commented on #1100
I agree with @iAdramelk. Seems it's cache related problem. But instead of removing `.cache` folder I can suggest run `gatsby clean` which also removes `public` folder to be sure that all necessary files will be deleted.

@jorgeorpinel Let me know if it's not solve problem

[2020-03-30 15:08] pavelgrinchenko commented on #1081
In most cases we can't do anything with these warnings except as waiting when direct packages which we use update their deps. Because as you can see almost all warnings about deps of deps of deps, etc. =) For example `docsearch.js > hogan.js > mkdirp@0.3.0`
But some of warnings I fixed in [this commit](https://github.com/iterative/dvc.org/pull/1091/commits/299e2d394e83a3b3239407975e3e7aa3f1834856)

[2020-03-30 15:23] pavelgrinchenko commented on #1084
1. It can be done easily
2. Gatsby don't have any hooks for creating pages in the development mode. So we can't make Gatsby known that it should rebuild site pages.
3. I agree with Alexey that it's ok to leave it as is. Because after merging [this PR](https://github.com/iterative/dvc.org/pull/1091) into the master branch you will need rebuild all images cache every run and it's long task. Concerni

[2020-03-30 17:05] shcheklein commented on #1099
Don't see a strong reason to remove it tbh (it comes for free). Though I don't see a strong use case for this also. Probably, users won't be able to specify a path within this folder - it's a limitation, they would be able to use only root of it.

[2020-03-30 22:54] jorgeorpinel commented on #1100
Good to know about `gatsby clean`! Unfortunately neither `rm -rf .cache/` nor `yarn gatsby clean` solve this for me 🙁

So this is not a problem on your systems? What Os do you guys use?

[2020-03-30 22:57] jorgeorpinel commented on #1081
Got it, thanks.

What about different yarn.lock results from different OSs though? That can be a constant problem (merge conflicts)... Can we compare results? I can generate the one from Windows WSL/ Ubuntu and Windows with Git Bash for the comparison. I will probably also install Ubuntu in a VM soon so I can generate that one too. Actually I still have my old MacBook around so I guess I can gener

[2020-03-30 22:59] jorgeorpinel commented on #897
Yup @iAdramelk @pavelgrinchenko can this perhaps be easily included in the blog merge #1091?

[2020-03-30 23:01] jorgeorpinel commented on #897
It's just making a link of the nav entry, removing the changelog from sidebar.json, and its content (md docs).

Then again if should probably be a separate PR...

[2020-03-30 23:04] jorgeorpinel commented on #1084
I wasn't talking about browser caching, that can be disabled from Dev Tools in Chrome for example. I was talking about the redirects-list.json file.

[2020-03-30 23:28] jorgeorpinel opened #1101 "install: make conda, choco, or pip the default method for Win. Installer has this problem:"
Similar to iterative/dvc#2677, Windows prevented me from running the latest installer (dvc-0.91.1.exe) with a screen but I didn't take a screenshot and now it's not happening again with any version after I told it to run it anyway. It looked like this but green:

![image](https://user-images.githubusercontent.com/1477535/77971321-98fe5400-72ab-11ea-84f7-a4377035464e.png)

and the [Run anyway] butt

[2020-03-30 23:52] shcheklein commented on #897
Definitely a separate PR, @jorgeorpinel

[2020-03-31 00:33] shcheklein commented on #1101
I think we already have one in docs to rearrange the order of options we recomend

[2020-03-31 00:34] shcheklein commented on #1101
@jorgeorpinel https://github.com/iterative/dvc/issues/936

[2020-03-31 00:36] jorgeorpinel commented on #1101
True, closing in favor of #904

[2020-03-31 00:37] #1101 closed

[2020-03-31 01:29] jorgeorpinel opened #1102 "remote: document new add behavior (sets fist added remote as default)"
Seems we missed to document this behavior change in `dvc remote add` but I do remember having that conversation some time ago.

[2020-03-31 01:34] shcheklein commented on #1102
Are you sure it was implemented in DVC?

[2020-03-31 04:28] iAdramelk commented on #1100
@jorgeorpinel Removed `.cache`, `public` and `node_modules` and made clean install and build to be sure. Works for me without a problem. (Mac OS X 10.15.3)

[2020-03-31 05:33] jorgeorpinel commented on #1102
No, this was a confusion on my part.

[2020-03-31 05:33] #1102 closed

[2020-03-31 05:33] jorgeorpinel commented on #1102
Sry!

[2020-03-31 06:17] jorgeorpinel commented on #1099
Ah I see. So this folder is created as a kind of isolated container for each connected app it seems? I was afraid it would contain other apps or even internal GDrive config files so it would be unwise to use it as a remote. It's a boomer you can't easily create subfolders in there though.

But anywa, it's meanf for app-data meaning probably metadata, config files, etc. Not really big files but the

[2020-03-31 06:17] #1099 closed

[2020-03-31 06:18] jorgeorpinel commented on #1099
*bummer

[2020-03-31 08:49] jorgeorpinel commented on #1099
Just one last Q though. This only works when you have a custom GC project/app right? Not for the default shared DVC GC project... Cc @maxhora

[2020-03-31 09:44] maxhora commented on #1099
@jorgeorpinel it should work also for default shared DVC GC project.

[2020-03-31 14:55] shcheklein commented on #1099
thanks, @maxhora !

@jorgeorpinel yes, I think this folder is unique per combination (app, user) - so every user can create this `appDataFolder` for the DVC GDrive app.

[2020-03-31 15:11] jorgeorpinel commented on #1099
OK great thanks, that makes sense... But one last Q actually, what about this note:

? Could this cause issues? Thanks

[2020-03-31 15:18] shcheklein commented on #1099
No, I don't think so tbh. It's up to users to manage this folder. We just can put data into it if they want.

[2020-04-02 02:18] jorgeorpinel commented on #1087
the term analogy doesn't imply exact behavior. I left some notes in your commit (457cb0ade1eba837f917cda2d5e242d654728461) @shcheklein

But I guess this may be a common confusion with any terminology we use unless we explicitly clarify the command doesn't behave exactly like the Git command with the same name. Should we review other cmd refs?

[2020-04-02 04:09] shcheklein commented on #1087
@jorgeorpinel thanks! let's not prioritize this, and do this as we go.

[2020-04-02 07:26] jorgeorpinel commented on #1087
Sure. The only one where this may be kind of an issue right now is remotes in general. Git remotes are full (bare) repos while DVC remotes are cache backups basically... Will add an issue for now.

[2020-04-02 07:27] jorgeorpinel commented on #53
We should probably also clarify that DVC remotes are not very much like Git remotes. They are cache backups and not distributed copies of the entire DVC repo. Per https://github.com/iterative/dvc.org/issues/1087#issuecomment-607670846

[2020-04-03 21:51] jorgeorpinel commented on #1100
Fetched and pulled latest code from master now that blog is merged, removed all those folders, ran `yarn`, and tried again. Similar results 🙁

[code]
and though the server runs, I get a similar error report on the browser:

![image](https://user-images.githubusercontent.com/1477535/78407821-e6880300-75c2-11ea-89f5-ae75ecea5c7b.png)

[2020-04-03 22:08] #1081 closed

[2020-04-03 22:08] jorgeorpinel commented on #1081
Let's wait to see if we have merge conflicts or not I guess.

[2020-04-03 23:14] shcheklein commented on #1100
@jorgeorpinel could you share your exact environment please? is it WSL? could you also try to do a fresh `git clone`? check that no extra global JS libraries are installed?

[2020-04-04 07:50] jorgeorpinel opened #1108 "pretty-quick --bail is gone for .md files"
After the merge with Gatsby and blog, some changes in package.json may need reviewing:

Script `format-staged` is still there but uses a removed dependency, `pretty-quick`. The full script is `pretty-quick --staged --no-restage --bail` and used to be run by the pre-commit hook (via `husky`) — applying to all staged changes but most useful for MD files.
   Now the formatting is still being done wit

[2020-04-04 08:39] jorgeorpinel commented on #1100
Not WSL. Just Git Bash (with Cmder).

Did try a fresh clone in another location: same problem unfortunately.

[2020-04-05 02:01] jorgeorpinel commented on #1100
p.s. it works on WSL actually, but it's painfully slow to build the .cache/

30+ seconds in:
[code]

1 min+ in:

[code]

Well past 10 min later:

[code]

Finally it finished and ran the local server after almost 20 min. It's fast to run after the initial cache build.

[2020-04-06 08:09] pavelgrinchenko commented on #1100
First run with cache warming is slow, yes. On my mac it usually takes 5 min. Maybe WSL adds some extra slowness as it's not native. What config do you have?

[2020-04-06 08:20] jorgeorpinel commented on #1100
Hi, not sure what you mean by which config 🙂
It takes 10 min + on every Heroku build as well Generating image thumbnails

But anyway, this issue is more about not being able to run it on native Windows. Again, I'm using Git Bash (Cmder) and haven't tried other terminals, but I'm guessing Command Prompt, Power Shell, cygwin, etc. may have the same problem. Why would Windows have those problems with

[2020-04-06 09:06] pavelgrinchenko commented on #1100
I'm about a configuration of your PC =) I tried set up on my win pc and I even can't install packages. Yarn always hangs on last step `> building fresh packages`. Do you have such problem?

[2020-04-06 09:23] jorgeorpinel commented on #1100
Nope, I don't have that problem. I use the console emulator we recommend in our docs: Cmder (default shell, Git Bash). Installed latest Node LTS with an official release installer, everything else from cmd line, same as Linux. What's your setup?

[2020-04-06 10:03] pavelgrinchenko commented on #1100
@jorgeorpinel I found reason! Fix here [fix-fields-on-windows](https://github.com/iterative/dvc.org/commit/36ead01363386b7e9c9f204bc4a4c9483a3c61e3). Can you try it copy manually and confirm that all works fine now while it's not merged?

[2020-04-06 10:25] jorgeorpinel commented on #1100
I was about to say that you can actually make it work with WSL apparently, by navigating to the regular windows file system (/mnt/c/...) and running both `yarn` and `yarn develop` from there. But yes, your fix is better and works. Makes sense too: the ol' Windows backslash \ does it again!

The image thumb gen was much faster on native Windows as well: aroudn 6 min.

Thanks @pavelgrinchenko!

[2020-04-06 10:26] jorgeorpinel commented on #1100
p.s. feel free to request my review on the PR that fixes this. I can merge it.

[2020-04-06 11:06] jorgeorpinel commented on #1100
Fixed in #1109

[2020-04-06 11:06] #1100 closed

[2020-04-06 11:08] jorgeorpinel commented on #1100
I'm just seeing this now when I run `yarn develop`:

[code]

Is that expected?

[2020-04-06 11:40] pavelgrinchenko commented on #1100
I didn't see this warning before and I can't find `pathContext` usage in our code, only in the generated files in the `.cache` folder. So while all works as expected I think we can ignore this warning

[2020-04-06 13:36] jorgeorpinel commented on #1100
Yeah never mind about that, I think it was my bad. node_modules.wsl was a backup I made of the node mods dir created from WSL 😋

[2020-04-06 21:53] #1062 closed

[2020-04-06 22:01] fabiosantoscode opened #1111 "blog: invalid nesting of `<section>` within `<p>` tag"
`<external-link>` tags result in a `section` being placed within a `p`. Other elements that can't be included in a `p`, but are placed in the external-link, are `h4` and `div`.

Because of the `h4` and the `section` (`aside` and others are also not permitted in `p`) we don't really have an option in turning the contents into something that's feasible to place inside of a `p`, so this needs AST man

[2020-04-06 22:08] shcheklein commented on #1112
@fabiosantoscode @pavelgrinchenko am I right that we use `eslint` now? Is this one fixed?

[2020-04-06 22:12] andronovhopf opened #1114 "blog & docs: mathematical notation"
Would be great to have support for rendering latex like GitHub's markdown

GitHub markdown discussion about supporting the feature:
https://github.com/github/markup/issues/897#issuecomment-231591884

[2020-04-06 22:14] shcheklein opened #1115 "do not store images in git"
Related iterative/blog#27 .

As an experiment we can do see what would it take to integrate DVC to store images, use GraphQL to fetch them.

After that we can amend Git repo to remove all image objects.

[2020-04-06 22:21] shcheklein opened #1118 "SEO: review best practices, run analyzers, fix issues"

[2020-04-06 22:39] #1095 closed

[2020-04-06 23:24] shcheklein opened #1121 "migration: after check-list/issues"
- [X] Safari - inline code blocks font is not applied
- [X] Safari - Right panel does not work
- [X] Anchors still hidden when you click links in certain way
- [ ] Image handling (there were some issues with the latest lib)
- [x] Not found errors on sentry
- [x] Links are not direct to `docs` - should be `dvc.org/doc` not `dvc.org/doc/home`
- [x] Go through `migration` label on iterative/dvc.org
-

[2020-04-08 05:38] jorgeorpinel opened #1123 "scripts: link check compatibility and docs"
Compatibility: it doesn't run out-of-the-box because `pcregrep` is not usually on the OS.
- Not sure about MacOS (but I remember `sed` was a problem there)
- On Ubuntu I had to `sudo apt install pcregrep`
- For Windows, I got it from https://sourceforge.net/projects/gnuwin32/files/pcre/, installed and put in PATH.
  `sed` will likely be a problem in some Windows terminals too, but it can also be o

[2020-04-08 05:38] jorgeorpinel commented on #1123
Cc @casperdcl

[2020-04-08 05:41] jorgeorpinel commented on #1000
@casperdcl also it's outputting

`find: ‘/.../dvc.org/pages/’: No such file or directory`

every time now. I think it has to be updated given the new project structure.

See also #1123

[2020-04-08 05:44] jorgeorpinel opened #1125 "docs: contrib guide outdated, compare vs README"
The README has more info now which is good but should probably be reviewed so it matches the docs contrib guide (https://dvc.org/doc/user-guide/contributing/docs) and vice versa. The latter is currently outdated, still mentioning the `format-staged` script, for example.

What should the README be for? If it's mainly to document some optional scripts, lets make sure all scripts are explained (purpo

[2020-04-08 05:45] jorgeorpinel commented on #1108
@shcheklein I see you added some labels. Was that for 1. or for 2. in the description? I've extracted 2. o #1125 so you may want to edit the labels in both. Thanks

[2020-04-08 05:48] shcheklein commented on #1123
It sounds too complicated if we run it locally on pre-commit. We should not require installing stuff with apt (or even worse on Windows) for the link checker.

[2020-04-08 05:49] jorgeorpinel commented on #1123
Sure, I guess I'm just suggesting we add this info to the README, at least 🙂

[2020-04-08 05:50] jorgeorpinel commented on #1123
...so maybe this is a duplicate or can be merged into #1125

[2020-04-08 05:50] shcheklein commented on #1123
no, I think it's a bug to require this in the first place. We should not require more than `yarn` on most reasonable platforms.

[2020-04-08 05:51] shcheklein commented on #1123
no, this is a different one and is not related with the recent migration to Gatsby.

[2020-04-08 05:53] jorgeorpinel commented on #1123
Got it. Also note it seems to have another bug as noted in https://github.com/iterative/dvc.org/issues/1000#issuecomment-610762657:

[2020-04-08 05:54] shcheklein commented on #1123
can we do a quick fix for this?

[2020-04-08 06:11] jorgeorpinel commented on #1123
You're right, that's pretty simple ha. OK fixed in 9665edc3 (#1124)

[2020-04-08 07:15] jorgeorpinel commented on #1084
Hey guys I ran into another problem but I don't want to open yet another issue so here it is:

I'm on master branch, install node deps and run the dev server. In another tab, I try to `git checkout refactor/get-started-2` and get:

[code]
The folder already exists BTW so I don't understand what Git is talking about... `git status` shows a bunch of `Changes not staged for commit` (interrupted check

[2020-04-08 07:41] pavelgrinchenko commented on #1084
Seems file watchers on Windows somehow lock files

[2020-04-08 16:12] woodshop opened #1127 "term: ambiguous use of "external" and "workspace""
The term "workspace" is defined in the glossary as "Directory containing all your project files..." However advanced dvc usage allows for remote storage of external data and external dependencies. It is not clear from the docs whether the "workspace" includes external data & dependencies. Furthermore, the docs for various commands assume different definitions of workspace. For instance, `dvc push`

[2020-04-08 16:59] woodshop commented on #1127
In general, I find that several definitions could be tightened in the docs along with workspace.

E.g. "external dependencies" and "external data" seem to refer, respectively, to stage inputs and outputs that don't reside in the "workspace" but that are nevertheless tracked by dvc. I think it would be really helpful to clarify this in the docs. At the same time, it would be useful to refer to non-

[2020-04-08 17:59] shcheklein commented on #1127
More context - https://discordapp.com/channels/485586884165107732/563406153334128681/697459286455877732

[2020-04-09 16:30] pavelgrinchenko commented on #1092
@shcheklein Is it still relevant after migrating deployment method from the blog? Seems it's now much better

[2020-04-09 16:32] shcheklein commented on #541
Fixed by the recent migration to Gatsby and prisma.js.

[2020-04-09 16:32] #541 closed

[2020-04-09 16:34] shcheklein commented on #714
let's revisit this, might be not relevant with the latest migration

[2020-04-09 16:34] #714 closed

[2020-04-09 16:37] shcheklein commented on #893
Closing - probably not relevant anymore. Anyways, it should be ongoing effort of fixing these errors?

[2020-04-09 16:37] #893 closed

[2020-04-09 16:38] shcheklein commented on #888
Not relevant anymore after the migration.

[2020-04-09 16:38] #888 closed

[2020-04-09 16:39] shcheklein commented on #948
Fixed already.

[2020-04-09 16:39] #948 closed

[2020-04-09 16:39] pavelgrinchenko commented on #1044
But we can't remove sidebar.json completely. It regulates structure for documents.
Of course we can adjust order by some prefixes in documents, like `01-document-name`, but if we want add new page between others it will lead us to the hell.
@iAdramelk wdyt?

[2020-04-09 16:41] shcheklein commented on #651
With redirects file I think this is solved. If we want local support for this - let's create a separate ticket for testing redirects.

[2020-04-09 16:41] #651 closed

[2020-04-09 16:49] shcheklein commented on #1092
I still hit it from time to time, but it's definitely better! Let's close it for now. Would be great to know if there are tools to detect this happening across clients - like some analytics to detect delays, long loading times, etc

[2020-04-09 16:49] #1092 closed

[2020-04-09 16:56] shcheklein commented on #584
Probably not relevant anymore @pavelgrinchenko ?

[2020-04-09 16:58] shcheklein commented on #1028
Closing in favor of https://github.com/iterative/dvc.org/issues/910 ... everything else is solved more or less I believe

[2020-04-09 16:58] #1028 closed

[2020-04-09 16:59] pavelgrinchenko commented on #1108
@jorgeorpinel I created PR with reverting back old behaviour. You could merge it after reviewing

[2020-04-09 17:00] shcheklein commented on #963
@jorgeorpinel I think we want this to work for blog - check Heartbeats - we organize question with titles. Do you think this a big problem for docs? I think it's fine even if we have links in title? Please, feel free to reopen if it's critical.

[2020-04-09 17:00] #963 closed

[2020-04-09 17:01] pavelgrinchenko commented on #584
Yep. Seems it was refactored when Alexey migrated website to Gatsby

[2020-04-09 17:01] #584 closed

[2020-04-09 17:14] pavelgrinchenko commented on #1046
@iAdramelk I hadn't time to replace it via npm module, but it was refactored to asynchronous loading https://github.com/iterative/dvc.org/blob/c5b5d43f36b721c4036cdfa6852ff90ac2a8a575/src/components/Documentation/Layout/SearchForm/index.tsx#L17-L26

[2020-04-09 17:24] iAdramelk commented on #1044
@pavelgrinchenko yes, the idea was to sort them by prefix, but with some place to inserting pages: 10, 20, 30, etc. Instead of 1, 2, 3. See our internal handbook. The largest sections (like command reference) are sorted by command name anyway. The question is how often will other sections change.

[2020-04-09 21:38] jorgeorpinel commented on #963
I´m only seeing actual md links in community gem posts

![image](https://user-images.githubusercontent.com/1477535/78943015-842a7900-7a80-11ea-85d9-8f6958a616d5.png)

Here I was referring to disabling auto linking `` `dvc command` `` strings.

[2020-04-09 21:41] shcheklein commented on #963
Yup, you are right. Still, I think it's fine to auto-link if you use `inline code` even in titles. Why do you consider this as a problem?

[2020-04-09 21:42] shcheklein commented on #792
Fixed by the recent migration.

[2020-04-09 21:42] #792 closed

[2020-04-09 21:45] shcheklein commented on #788
@jorgeorpinel is this one solved with the recent migration (+the lates #776 PR)?

[2020-04-09 21:50] shcheklein commented on #808
Repurposed this to focus on docs menu issues only. Burger top menu has been redesigned.

[2020-04-09 21:51] jorgeorpinel commented on #1044
Hi! I kind of like the numeric prefixing standard for everything in the contents dir, even subdirs. But the 2 digit solution to avoiding Git conflicts doesn't convince me much. Is it really that bad that we have to change the prefix of existing file to insert stuff in between? From my PoV (writing a bunch of docs) it doesn't sound like an issue. Git typically knows when files have been moved durin

[2020-04-09 21:52] jorgeorpinel commented on #1044
And we don't change the structure thaaat often.

[2020-04-09 21:56] jorgeorpinel commented on #963
Nah, it was a very minor change request. We can just avoid useing backquotes in docs titles

[2020-04-09 22:15] shcheklein commented on #1044
My 2cs - I'm fine with sidebar to be honest. There are two things I don't like so far:

1. redirects (we had to put some of those into `redirects.json` to support index-less pages in sidebar) - not a good idea, we agreed with @pavelgrinchenko that he will make this fallback logic part of the redirects middleware for now.

2. hot reload does not work properly when we do some changes to the sidebar.

[2020-04-09 22:22] shcheklein commented on #777
I think it is significantly improved after @pavelgrinchenko 's changes. Closing this for now. Let's open ticket with specific suggestions if we still have duplicates.

[2020-04-09 22:22] #777 closed

[2020-04-09 22:29] shcheklein commented on #1125
I would say README can be an extended version of the contrib guide. We def don't to repeat info everywhere.

[2020-04-09 22:30] #1108 closed

[2020-04-09 22:34] jorgeorpinel commented on #788
lint-staged won't be supporting the same behavior as pretty-quick so we can just keep both tools. Closeable!

[2020-04-09 22:34] #788 closed

[2020-04-09 22:35] shcheklein commented on #731
Not sure I see any valuable use case for this for now. Closing this. Will revisit if have a real use case for this.

[2020-04-09 22:35] #731 closed

[2020-04-09 22:39] shcheklein commented on #1045
We should probably do `We can either convert md to html on the server side with gatsby` . But it feels it won't save us much. Would be great first to do a comparison on how much JS and load time we can shave off with this effort.

[2020-04-09 22:44] shcheklein commented on #894
Closing in favor of #1044 ... All mentioned items in the second section of this ticket are closed by the way, most of them are fixed. So this ticket is about complexity of the approach, I think #1044 is more or less the same. @jorgeorpinel feel free to reiterate your comments there.

[2020-04-09 22:44] #894 closed

[2020-04-09 22:46] shcheklein commented on #531
Fixed by the migration to Gatsby.

[2020-04-09 22:46] #531 closed

[2020-04-09 23:05] jorgeorpinel commented on #1044
Yeah, if we can make hot reload recon sidebar.json changes then let's keep it. And in that case/ on that note, can we look into separating sidebar.js into 2 (one for load time, one for run time) and rewrite it with loops instead of recursive functions (for clarity and performance)? See #894 for more details.

[2020-04-09 23:26] shcheklein commented on #1044
this one is arguable. I personally would prefer recursion if it improves readability and needs less code.

I don't think we use any logic from it in run-time now cc @iAdramelk @pavelgrinchenko ?

[2020-04-09 23:49] jorgeorpinel commented on #1044
The current structure of sidebar.js has too many functions that are only used in one other fn first of all, from what I remember. So we could improve readability by refactoring those. And also reqriting the recursive ones I think could make the code more obvious and readable, but I'd have to try to make sure.

[2020-04-10 00:54] shcheklein commented on #1112
So, it's not fixed for long string constants, repurposed it to revisit and fix linters.

[2020-04-10 06:18] jorgeorpinel commented on #1125
So an extension to the docs contrib guid, you mean? With extra info. (more optional/internal details) but not repeating the whole guide again.

[2020-04-10 07:58] iAdramelk commented on #1044
We can at least move titles, help links and other meta to the fronmatter. They there in sidebar only because otherwise with nextjs we would have to load all md files to build menu.

[2020-04-10 21:57] shcheklein commented on #1121
Closing this, migrated a few issues left to other tickets

[2020-04-10 21:57] #1121 closed

[2020-04-10 22:02] shcheklein commented on #1063
this can be done independently and should resolve the problem with `gatsby-remark-relative-images` which is now pinned at 0.2.3 and which we can not update.

[2020-04-10 22:09] shcheklein commented on #1044
@iAdramelk

you mean interactive tutorials?

I think we need to extract it automatically for docs

[2020-04-10 22:17] shcheklein commented on #1060
It's done now.

[2020-04-10 22:17] #1060 closed

[2020-04-10 22:27] shcheklein commented on #1073
Updated the title and description. I think Home page is a separate sub-project and a special page. For the SEO purpose we should do it quick

[2020-04-11 05:12] jorgeorpinel commented on #1060
Amazing 🎉

[2020-04-11 05:27] jorgeorpinel commented on #1073
So first step would be moving the current /doc/home to /doc I think, but not understanding what you mean to do with the Home entry in the sidebar.

[2020-04-11 13:52] iAdramelk commented on #1044
@shcheklein

Yep

Then we can do it automatically - yes. Then we have title which is different from the filename - we should write title in the file's frontmatter, and not to the separate config file.

[2020-04-11 21:32] jorgeorpinel commented on #1044
Hi. You mean add frontmatter to all .md docs? Can that be avoided or just use the H1 as title regardless of the file name?

[2020-04-11 21:58] jorgeorpinel opened #1137 "glossary: auto link `dvc <cmd>` strings like in docs"
from md strings in glossary.js

For example in this tooltip, `dvc run` should link to the cmd ref:

![image](https://user-images.githubusercontent.com/1477535/79055881-216ae600-7c16-11ea-90f0-9310082101be.png)

[2020-04-11 22:01] jorgeorpinel commented on #1137
for example in this tooltip, `dvc run` should link to the cmd ref:

![image](https://user-images.githubusercontent.com/1477535/79055881-216ae600-7c16-11ea-90f0-9310082101be.png)

[2020-04-12 01:01] jorgeorpinel commented on #1064
Now Restyled seems completely removed from the repo. Maybe a recent merge guys? @iAdramelk @pavelgrinchenko @fabiosantoscode

Thanks

[2020-04-12 02:26] shcheklein commented on #1064
@jorgeorpinel it's not, we just need to update and make sure it works - https://github.com/iterative/dvc.org/blob/master/.restyled.yaml

[2020-04-12 02:35] shcheklein commented on #1073
Nothing that special. Just make it a bit separate from the main list of regular docs. But I'm not sure, would need to play with it a bit to say how it should look like :)

[2020-04-12 03:31] shcheklein commented on #1125
@jorgeorpinel I'll just do something about it this weekend and prepare a PR - easiest way in this case to explain probably :)

[2020-04-12 03:47] shcheklein commented on #1137
Related #https://github.com/iterative/dvc.org/issues/1045 - it should go first. We don't want to bring any complicated processing to the client side.

[2020-04-12 20:52] jorgeorpinel commented on #1137
I can also use proper md links in all glossary md text and close this with that. WDYT?

[2020-04-12 21:27] jorgeorpinel opened #1139 "lint: crashing on big merges"
This has happened a few times now. Latest: merged `master` (b77898f) to `refactor/get-started-2` at e634ed0e (huge merge which required solving a small conflict). Tried to commit:

[code]

I had to `git commit --no-verify` for now...

[2020-04-12 21:28] jorgeorpinel commented on #1139
[code]
Sounds like these chinks are done in parallel causing .git/lock collisions.

[2020-04-12 21:34] shcheklein commented on #1137
don't like the idea, tbh - we'll have to support this (in case we change something). Let's wait on #1045 first.

[2020-04-13 04:01] shcheklein opened #1140 "navigation: browser history navigation is broken"
Go https://dvc.org/doc/command-reference/checkout

Click one the links from the right side content bar.

Click back in your browser.

The same should work and return to the exact link in the document you got the section.

[2020-04-13 09:04] iAdramelk commented on #1044
@jorgeorpinel I mean that right now sidebar.json works like that:

By default we get the .md filename and transform it to the three things: filename, slug and menu item title. It works, except from the situation then we want to use different text in menu item title,. use `'` in the name, etc. In this case we need to write title separately. Same with the slug.

What I want to say is that slug and m

[2020-04-13 17:54] jorgeorpinel commented on #1044
An optional frontmatter wouldn't hurt for sure, as long as it falls back to the current behavior I think

[2020-04-13 18:37] shcheklein opened #1143 "sidebar: item bullets don't change their state when open"
It used to be before migration that triangle was transitioning from the down facing to the right facing.

[2020-04-14 02:55] jorgeorpinel opened #1144 "windows: Git Bash doesn't support \ new lines..."
We recommend Cmder in https://dvc.org/doc/user-guide/running-dvc-on-windows, but for example if you copy and paste the command below, it won't work (with the default, single-line paste):
[code]
Result:
![image](https://user-images.githubusercontent.com/1477535/79181156-5a9b8580-7dd1-11ea-9326-3aaf2e237b7f.png)
Sounds like WSL just got another victory?

[2020-04-14 02:57] shcheklein commented on #1144
Yeah, we have a ticket #134 - probably that is the most appropriate way to solve this.

I'm fine to mention WSL along with Cmder with all the caveats.

[2020-04-14 02:58] shcheklein commented on #1144
I wonder if there is some compat mode that can be enabled to deal with this in Cmder.

[2020-04-14 04:21] jorgeorpinel commented on #1144
Yes, actually it has multi-line paste, by default Shift+Insert. It pastes line by line and does Enter between each one.

[2020-04-14 05:57] #1125 closed

[2020-04-14 21:18] sudodoki opened #1146 "broken external links at community tutorials page"
At https://dvc.org/doc/tutorials/community you see all the links are pointing to dvc site and 404 although `content/docs/tutorials/community.md` is featuring proper external links.

Tried investigating root cause, might be something in redirects-list.json &         src/utils/shared/redirects.js

Also, not 100% relevant (and sure :)), but in gatsby-config both `external-link-plugin` & `gatsby-remar

[2020-04-14 21:27] jorgeorpinel commented on #1146
Great find! It applies to the first 3 links and to the last one. We'll investigate this ASAP...

[2020-04-14 21:31] jorgeorpinel commented on #1146
@iAdramelk @pavelgrinchenko this doesn't seem to be a problem with the markdown or with the redirect list. The links in code are correct so the link checker doesn't catch these 404s. Maybe it's a Gatsby problem indeed?

[2020-04-14 21:34] jorgeorpinel commented on #1146
p.s. seems to be replacing host names that have subdomains (e.g. `blog.codecentric.de` or `www.linkedin.com`) for the server host name.

[2020-04-14 21:35] jorgeorpinel commented on #1146
p.p.s. it's affecting all external links everywhere in the website e.g. http://localhost:8000/doc/understanding-dvc/resources#articles

[2020-04-14 22:31] jorgeorpinel commented on #1144
Butttt it has this limitation:

![image](https://user-images.githubusercontent.com/1477535/79280342-c0414d80-7e75-11ea-8596-d1ae9c35c6cf.png)

[2020-04-15 01:51] shcheklein opened #1148 "link check: CI verision does not work properly"
Example

https://dvc.org/uploads/images/2020-02-10/image.png

was detected here:

https://app.circleci.com/pipelines/github/iterative/dvc.org/2946/workflows/f15ce218-150d-4504-a5a3-647e8e721f43/jobs/2994

[2020-04-15 03:23] nisarhassan12 opened #1149 "[accessibility] keyboard navigation is broken and some interactive elements are missing focus styles."
According to WCAG and WAI websites and web apps must be fully operable via the keyboard.

There is a short video that tells why it is important:

[Web Accessibility Perspectives: Keyboard Compatibility](https://www.youtube.com/watch?v=93UgG72os8M)

Here are a few things that should be done:

- [x] Focus styles must be added to all interactive elements(most of the elements already have them but som

[2020-04-15 03:28] nisarhassan12 commented on #1149
Sometimes what happens is designer don't like the outlines or dotted borders around elements but their value for accessibility can't be ignored.

![image](https://user-images.githubusercontent.com/46004116/79295617-882c2000-7ef2-11ea-992c-37ece4623b5c.png)

There is a way via which we can only make the outlines or specific focus styles appear when the user is navigating the content using a keyboar

[2020-04-15 03:30] nisarhassan12 commented on #1149
I volunteer to make small Prs related to accessibility :slightly_smiling_face:  I'll start off by making a PR for focus styles for Keyboard users only.

[2020-04-15 07:27] sudodoki commented on #1146
@jorgeorpinel not sure it's broken the same way in develop & build mode, but

This is happening for
1) external links
2) that end with trailing `/`
Because of redirect rule being applied and returning only relative part of URL

Details:
`<Link>` component is calling `getRedirect` [here](https://github.com/iterative/dvc.org/blob/master/src/components/Link/index.tsx#L93) and
this ["^/(.+)/$"](https:

[2020-04-15 08:47] iAdramelk commented on #1146
@pavelgrinchenko Can you please check it?

I think @sudodoki is right, we should probably reapply host for the links if it's not equal to the current site or return original link without removing / for such links, but maybe I'm missing some edge case there.

[2020-04-15 09:09] pavelgrinchenko commented on #1146
@jorgeorpinel I made PR with fix, could you [review it](https://github.com/iterative/dvc.org/pull/1151)

[2020-04-15 14:34] shcheklein commented on #1146
@pavelgrinchenko thanks! 🙏  Merged.

@sudodoki

names are confusing indeed, buy yes, we need both - one to support custom HTML in blog (it is a a custom plugin we wrote), second one - is regular gatsby that deals with ext links.

Good catch, btw. Thanks for the report.

[2020-04-15 14:52] shcheklein commented on #1146
@pavelgrinchenko it looks like it is still broken :(

[2020-04-15 16:07] sudodoki commented on #1146
@shcheklein at which page are you seeing same behavior? https://dvc.org/doc/tutorials/community links from original issue seem fixed.

[2020-04-15 16:44] shcheklein commented on #1146
@sudodoki links are fixed, but when I click them they still redirect me to dvc.org Not Found. Is it only me? 🤔

[2020-04-15 16:59] pavelgrinchenko commented on #1146
@shcheklein I forgot to add domain check to click handler... [Here is another fix ](https://github.com/iterative/dvc.org/pull/1154)

[2020-04-15 17:06] pavelgrinchenko commented on #1146
@shcheklein Hm, seems this logic outdated there at all as we are already replacing original href with redirected when it's necessary. So I removed it from the click handler

[2020-04-15 18:47] jorgeorpinel commented on #1146
Awesome, geat fix. Thanks guys! And thanks again @sudodoki

[2020-04-15 19:24] jorgeorpinel commented on #1146
Oops only the URLs are fixed. It works OK when you Cmd/Ctrl+click but regular click changes the page to dvc.org 404 still...

[2020-04-15 19:25] jorgeorpinel commented on #1146
Cc @pavelgrinchenko

p.s. I tried with no cache

[2020-04-15 21:44] shcheklein commented on #1146
It works for me now. Not sure what was the issue after the deployment, but it works. @jorgeorpinel could you please confirm and reopen if it is still broken?

[2020-04-15 21:44] #1146 closed

[2020-04-15 21:53] jorgeorpinel commented on #1146
It works OK for me now as well.

[2020-04-16 01:58] jorgeorpinel commented on #1127
Hi, sorry for the delay. Some feedback:

External dependencies, outputs, and cache are the exception to the rule. Here are some of the explanation from docs:
![image](https://user-images.githubusercontent.com/1477535/79404772-3d44f380-7f58-11ea-8840-4db1a3ad5922.png)
![image](https://user-images.githubusercontent.com/1477535/79404801-53eb4a80-7f58-11ea-9134-981bdd310f67.png)
![image](https://user-

[2020-04-16 02:58] shcheklein commented on #1148
@casperdcl

I think a few things are wrong with these scripts:

1.

[code]

should it be

[code]

2.  Here:

[code]

This a nice stuff, but I think it creates a temp `fd` that you can read only once - means that only the first link from the diff is detected.

Not sure if there are any other problems ...

[2020-04-16 03:00] shcheklein commented on #1148
Also,

[code]

sed on Mac does not like `+?` - what was your intention here?

[2020-04-16 03:32] jorgeorpinel commented on #1064
Yeah turns out someone added `stylelint` but it's not supported. I just removed it in 20c17baf5ce5c5e83096878a86c9da5260264299.

Should we add any others? Availeble ones: https://github.com/restyled-io/restyled.io/wiki/Available-Restylers

[2020-04-16 03:38] shcheklein commented on #1064
sounds good, I would not worry about even JS files to be honest ... mostly we should provide simple workflow for md files.

can we test it?

[2020-04-16 04:32] jorgeorpinel commented on #1144
OK I guess that keeps Cmder on top... Closing for now.

[2020-04-16 04:32] #1144 closed

[2020-04-16 13:44] kevgathuku commented on #1143
Hello @shcheklein 👋
I just came across this project and I would love to help out with this issue, which I think I can fix.

I'll take a look at it, if nobody's working on it at the moment.

[2020-04-16 17:00] #1143 closed

[2020-04-16 17:27] shcheklein commented on #1064
Fixed, see #1159

[2020-04-16 17:27] #1064 closed

[2020-04-16 21:16] casperdcl commented on #1123
and

`link-check` was never intended to be run locally. We had discussions about this originally and there were several reasons:

- `pcregrep` really is required. Most regex implementations (including python's own as well as any I could find via `yarn`) lack the features required to make nested bracket detection (as with markdown links) work flawlessly
- it can take a few minutes to check *all* li

[2020-04-16 21:55] casperdcl commented on #1148
Absolutely not. No idea what this is. Definitely not a valid command. Accidental garbage committed in 847d4ad84b7870c104573bec ? @pavelgrinchenko did you mean to do this? The original line was simply: `changed="$($differ --name-only)"`

Were you trying to exclude the `redirects-list.json` file? (In that case you should use the same method used to exclude the `exclude-links.txt` file.)

Yes, I was

[2020-04-16 22:02] shcheklein commented on #1148
gotcha

yes, it looks like so

for redirects probably it's better to make an exception and exclude it in the script?

got it, as well ... if it is too much effort - let's keep it as is

[2020-04-16 22:05] casperdcl commented on #1148
Similar to https://github.com/iterative/dvc.org/issues/1123#issuecomment-614900920, this was never intended to be run locally, and certainly not on a mac.

Could probably replace `+?` with `*?`. The intention is to convert these two cases:

- `href="/relative-url"` => `https://dvc.org/relative-url`
- `href='/relative-url'` => `https://dvc.org/relative-url`

Using `*?` would mean

- `href=""` => `h

[2020-04-16 22:13] casperdcl commented on #1148
Yes I think we're both talking about the same thing. To be clear:

- `exclude-links.txt` defines links to skip checking
- the whole `exclude-links.txt` file itself is never checked
- I'm suggesting also having the whole `redirects-list.json` file itself never checked

[2020-04-16 22:14] shcheklein commented on #1148
yep, that would be great

[2020-04-16 22:24] shcheklein commented on #1148
yep, same. But it looks it is the only thing (if pcre is installed and it's quite easy) that prevents this script from running on Mac (granted you didn't have intention to support it locally, but even for devs to debug the script itself you have to run it at least somehow ).

Also, forgive me my  lack of regex knowledge, but why can't we just use `+` there (without making it lazy)?

[2020-04-16 22:25] shcheklein commented on #1148
Btw, I think it would be great for exclude-list to support path to a file to exclude. Again, if it's not that much effort. It's not nice to hard code some file within the script itself.

[2020-04-16 22:29] shcheklein commented on #1123
@jorgeorpinel let's remove it from docs for now. Since there is not intention to support it locally for now, let's not bother documenting a lot of stuff.

@casperdcl may be we can write a comment in the script itself about its dependencies and this script is purely for CI to run?

[2020-04-16 22:52] jorgeorpinel commented on #1123
Removed in 4bf9eea7 (for #1160)

[2020-04-17 06:23] dmpetrov opened #1161 "blog: post authors twitter account"
I've noticed that after moving out of Medium, fewer people start following me on Medium and Twitter.
Medium followers - very expected. Twitter - not.

We should drive more followers to the author's profiles and @dvcorg profile. Also, we can deploy the email subscription somewhere (it might be not enough to have it on the very bottom of the page).

It can be done by incorporation of author twitter

[2020-04-17 06:30] jorgeorpinel opened #1162 "Should download button in docs open down when there's space?"
I get that it opens up when the nav is really long like in the cmd ref, but when you first open docs there's usually space, so it could open down.

![image](https://user-images.githubusercontent.com/1477535/79538909-dc4a1800-804a-11ea-82b2-59204a21ccd6.png)

[2020-04-17 11:29] nisarhassan12 opened #1164 "[accessibility] Subscribe section form the input is missing a label."
Info about why it is important can be found here: https://dequeuniversity.com/rules/axe/3.4/label

[2020-04-17 17:29] jorgeorpinel commented on #1164
I don't understand the title, sorry.

Could you also give some examples or specifically where in dvc.org this is an issue in the description? Thanks

[2020-04-17 17:31] jorgeorpinel commented on #1164
OK got it from the PR #1165 so never mind.

Feel free to skip opening issues if able to submit a PR directly 🙂

[2020-04-17 20:11] #1164 closed

[2020-04-17 20:38] andronovhopf commented on #1161
We could have the author names link to their twitter, maybe? Or have a separate link next to the avatar. Both are good.

And yes to adding another field to subscribe to email updates. The only one I can find right now is at the bottom of the community page. Possible we could make a header/hero image for the community page about it?

[2020-04-17 20:50] shcheklein commented on #1161
all good points, we def need subscribe way more visible - some nice pop-up at the very bottom? let's create a separate ticket for this, @andronovhopf ?

[2020-04-18 09:33] pavelgrinchenko commented on #1148
Yes. Why it works: https://stackoverflow.com/questions/5685007/making-git-log-ignore-changes-for-certain-paths/21079437#21079437
But you definitely can handle it in another way if you think it would be better

[2020-04-18 18:45] gonewest818 opened #1167 "publish documentation in ebook format(s)"
As discussed on discord, would the team please consider generating ebook versions of the documentation as an additional artifact of the site build?

I've tested manual conversion with `pandoc` which looks promising, but obviously the output needs tweaking and the process is not nice. e.g. I had to manually parse sidebar.json to get the correct ordering of the articles.

Whereas this might get clos

[2020-04-18 20:41] casperdcl commented on #1148
yes, it's missing a crucial `--` and also probably we should have a file-exclusion list as well as a link-exclusion list. Will fix.

[2020-04-18 20:59] casperdcl commented on #1123
Also note from https://github.com/iterative/dvc.org/pull/958#issuecomment-583359254

[2020-04-18 21:10] casperdcl commented on #1148
from the original #958, it's called recursive/balancing groups regex. Techically [only `.NET` has full balancing groups support](https://en.wikipedia.org/wiki/Comparison_of_regular-expression_engines#Part_2) though [some things including pcre support recursion](https://en.wikipedia.org/wiki/Comparison_of_regular-expression_engines#Part_1). There's been recent work on https://pypi.org/project/regex

[2020-04-18 21:19] shcheklein commented on #1148
@casperdcl

`echo 'href="/"'| sed -nE 's/.*href=["'"'"'](\/[^"'"'"']+)["'"'"'].*/\1/p'`

outputs nothing (not tested)

`echo 'href="/relative-url"'| sed -nE 's/.*href=["'"'"'](\/[^"'"'"']+)["'"'"'].*/\1/p'`

outputs:

`/relative-url`

If that was the intention, what is the case we need the `+?` for? That's what I'm still missing probably.

[2020-04-18 21:25] casperdcl commented on #1148
oh I thought you were talking about `+?` => `*?`.

If you mean dropping the `?`, that's fine. I think you would still need to replace `*` => `+` for macs, though.

[2020-04-18 21:26] shcheklein commented on #1148
`+?` -> `+` works for me on Mac

[2020-04-18 21:28] casperdcl commented on #1148
curious, ok. I've seen reports in the past where mac users needed `*` => `+`. Anyway will fix.

[2020-04-19 11:03] weekly-digest[bot] opened #1168 "Weekly Digest (12 April, 2020 - 19 April, 2020)"
Here's the **Weekly Digest** for [*iterative/dvc.org*](https://github.com/iterative/dvc.org):

 - - -
# ISSUES
Last week 30 issues were created.
Of these, 16 issues have been closed and 14 issues are still open.
## OPEN ISSUES
:green_heart: #1167 [publish documentation in ebook format(s)](https://github.com/iterative/dvc.org/issues/1167), by [gonewest818](https://github.com/gonewest818)
:green_hea

[2020-04-19 21:14] jorgeorpinel commented on #1084
There are times when I make a change to the code or contents, I simply don't get the changes reflected. Even stopping yarn develop and running it isn't enough. I have to stop it, rm -rf .cache/, and run it again.
E.g. this happens when changing redirects, even if the browser cache is disabled.

I found another case where this happens: when you rename a md file in contents and update the sidebar.js

[2020-04-19 22:37] shcheklein commented on #1084
making this p0. dev experience is terrible with Gatsby so far. @iAdramelk @pavelgrinchenko @fabiosantoscode any ideas at least theoretically how to improve this?

[2020-04-19 22:37] #1168 closed

[2020-04-20 08:16] iAdramelk commented on #1084
@shcheklein to make sure? Are we talking about adding/removing pages and removing it?

If yes, then the problem as I wrote above it that now we get doc page urls from the `sidebar.json` at the build time, but then we change `sidebar.json` pages are not rebuild because they don't know they they depend on the `sidebar.json`.

Basically the part that causes the problem is this: https://github.com/ite

[2020-04-20 10:18] benjamintanweihao opened #1172 "guide: mention .dvcignore doesn't apply to external deps"
As above.

UPDATE: Skip to https://github.com/iterative/dvc.org/issues/1172#issuecomment-670323285

[2020-04-21 01:35] shcheklein commented on #1084
@iAdramelk yes, any structural changes, like @jorgeorpinel mentioned above. I think, I even can expect that it's hard to make it hot-reloadable, but this

is definitely too much.

sounds worth trying. I hope that it will update all of them but will detect that most of them haven't changed.

[2020-04-21 05:22] jorgeorpinel commented on #1172
Hmm. I'm not sure I get this Benjamin. Can you provide an example? I don't think .dvcignore applies to any dependencies since they are already tracked with DVC.

[2020-04-21 06:47] skshetry opened #1173 "document multistage dvcfile"
iterative/dvc#3584 implemented multistage dvcfile. Need to document about it (let's see how it solidifies).

[2020-04-21 06:56] jorgeorpinel commented on #1084
UPDATE: The renaming md file issue is solved in #1145 BTW. And the thumbnail generation is much faster in that branch.

[2020-04-21 07:08] rogermparent commented on #1084
I can take this one on. I think the main problem is that we're `require`ing JSON files instead of going through a plugin like `gatsby-source-json`. I know it's kinda clunky to pull JSON through Markdown instead of require, but Gatsby's hot reloading is a function of its Node system so we've got to go through the Gatsby channel.

My PR #1145 changes doc page behavior to get its slugs from filenames

[2020-04-21 07:11] jorgeorpinel commented on #1173
Wow this is huge. Do you gus know when the release is? If it's as big as I think, we should probably hold on releasing the version until we have at least corrected the existing docs that show DVC-file examples including get started and dvc run cmd ref.

Cc @shcheklein @efiop

[2020-04-21 07:11] jorgeorpinel commented on #1173
p.s. unless the change is backwards compatible but I understand that's not the case.

[2020-04-21 07:19] skshetry commented on #1173
@jorgeorpinel, it is backwards compatible at this point, but it's not yet clear if it will remain for 1.0 release.

[2020-04-22 09:37] dsuess commented on #1173
If you're not already working on this, I'd like to take a crack. Can you give me some pointers where I can find what the new file layout should look like? I've noticed that the options like `cached` or `persist` have moved...

[2020-04-22 09:46] skshetry commented on #1173
Hi @dsuess. Thank you for taking interest in this, but we are still iterating on this and is not complete yet. You can find more discussions on iterative/dvc#3584.

[2020-04-22 16:34] jorgeorpinel opened #1175 "cmd: update metrics/plots docs per recent changes"
- [x] Changes found in iterative/dvc/pull/3658, iterative/dvc/pull/3577, et al.
- ~~Use term "scores" everywhere for old metrics, and "metrics" for `dvc plot` ones (per https://github.com/iterative/dvc.org/pull/1186#discussion_r415371959) — or whatever the final terminology ...~~ Extracted to #1442
- [ ] Complete the [Plot template](https://dvc.org/doc/command-reference/plots#plot-templates) descr

[2020-04-22 20:06] shcheklein opened #1177 "rss: no title, no image in the feed for new posts"
<img width="1000" alt="Screen Shot 2020-04-22 at 1 05 11 PM" src="https://user-images.githubusercontent.com/3659196/80028515-162b7c00-849a-11ea-8f24-679c865d8835.png">

[2020-04-22 21:49] shcheklein opened #1178 "blog social share buttons do not work properly"
Go to the latest blog post and try to share on FB or Twitter.

(I wonder if we can automate certain tests?)

[2020-04-22 22:02] shcheklein opened #1179 "analytics: should we strip queries?"
dvc.org/blog/a-public-reddit-dataset

should be probably the same as

dvc.org/blog/a-public-reddit-dataset?fbcid=aassdfsdfsdf

(Need to check if it's a good practice or not)

[2020-04-22 22:02] rogermparent commented on #1178
I see the links have a part pointing to undefined, an oversight on my end porting over Models. I think it's just a quick fix involving wiring up data with the new schema- I'll get on it!

[2020-04-22 22:26] #1178 closed

[2020-04-23 00:26] rogermparent commented on #1177
The title issue was introduced by models, which I got squared away, but I actually can't quite pin down where images broke- or if they're actually broken.
What RSS reader do we use to test on?

[2020-04-23 00:28] shcheklein commented on #1177
It's feedly. May be the problem is the way we embed them. It might be not related even to your changes. If you don't see a clear connection and simple fix - let's postpone fixing this.

[2020-04-25 23:03] casperdcl opened #1184 "link-check: trim exclusions"
The exclusions list (`scripts/exclude-links.txt`) may have links that no longer exists in the codebase. Should check for this (CI and maybe pre-commit).

[2020-04-25 23:05] casperdcl commented on #1184
seem to be no longer needed:

[code]

[2020-04-26 05:34] jorgeorpinel commented on #1184
We need a script to check the link checker script's exclusion list 😆

[2020-04-26 05:35] jorgeorpinel commented on #1184
It's localhost:8000 now.

[2020-04-26 11:03] weekly-digest[bot] opened #1185 "Weekly Digest (19 April, 2020 - 26 April, 2020)"
Here's the **Weekly Digest** for [*iterative/dvc.org*](https://github.com/iterative/dvc.org):

 - - -
# ISSUES
Last week 16 issues were created.
Of these, 6 issues have been closed and 10 issues are still open.
## OPEN ISSUES
:green_heart: #1184 [link-check: trim exclusions](https://github.com/iterative/dvc.org/issues/1184), by [casperdcl](https://github.com/casperdcl)
:green_heart: #1183 [SEO Imp

[2020-04-26 14:55] #1185 closed

[2020-04-26 15:21] #1148 closed

[2020-04-26 15:22] shcheklein commented on #1184
Alos, let's exclude all JS test file automatically. That will simplify the list.

[2020-04-26 16:05] casperdcl commented on #1184
That's a lot more to exclude then. #1189 should catch everything on CI :)

[2020-04-26 16:11] #1184 closed

[2020-04-27 00:09] shcheklein opened #1191 "link-check: full cycle issues"
Here https://app.circleci.com/pipelines/github/iterative/dvc.org/3117/workflows/a076061d-75c2-49c0-842c-b1e324524312/jobs/3165

[code]

and:

[code]

[2020-04-27 00:35] casperdcl commented on #1191
Ah the good ol' `set -eo pipefail` plus `yarn` itself checking exit codes. Will fix tmrw (well, later today) as I should probably sleep.

[2020-04-27 17:05] #1191 closed

[2020-04-27 19:44] jorgeorpinel commented on #904
Why is conda on top? choco is probably the easiest from cmd line for most cases, no?

[2020-04-27 20:04] shcheklein commented on #904
@jorgeorpinel it's a good question. I don't know how popular choco is to be honest ... it's as popular as brew for example?

[2020-04-27 20:15] fabiosantoscode opened #1196 "Indication on how to uninstall DVC on windows is inaccurate."
I've used the windows .exe installer to install DVC, but now I can't find it in the "add or remove programs" screen in the Control Panel.

However, [this page](https://dvc.org/doc/install/windows#windows-installer) reads:

I think this line should either contain a more accurate description of how to uninstall, or not be present.

[2020-04-27 20:36] casperdcl commented on #904
I think maybe `conda` was on top for consistency across all platforms but I agree we should probably change to `conda` as second for all.

[2020-04-28 02:44] jorgeorpinel commented on #904
My impression is that it's the equivalent to brew, yes. But much fewer people work on command line in Windows just because. Probably more people use Anaconda Prompt just because it's such a popular DS Python disto. But then again Git Bash is probably also quite popular (comes included in a bunch of other tools like Cmder or Git for Windows), and choco would be a better fit in those cases... so yea

[2020-04-28 23:45] nisarhassan12 commented on #1149
It would be nice if someone else can work on it.

[2020-04-29 01:40] shcheklein opened #1197 "docs engine: can open an non-existent page"
https://dvc.org/doc/user-guide/api-reference/open

it should be 404. I don't know where does it come from (Hexometer found some broken links on this page).

[2020-04-29 01:41] shcheklein commented on #1197
I wonder if can be related to the deployment we have (we don't prune pages, for example)?

[2020-04-29 01:49] shcheklein opened #1198 "doc engine: fix scroll bar for the content sidebar"
We want for buttons to always stay on the screen and the sidebard to have its own scrollbar.

<img width="1440" alt="Screen Shot 2020-04-28 at 6 46 10 PM" src="https://user-images.githubusercontent.com/3659196/80554046-c3adfc00-8980-11ea-83aa-d55bd0b6a3ce.png">

[2020-04-29 03:05] jorgeorpinel commented on #1198
I thouoght it was only me because I use 125% zoom! But yep, I can confirm this on Windows/ Chrome as well:

![image](https://user-images.githubusercontent.com/1477535/80557384-590ab980-899c-11ea-9886-801f6700275b.png)

[2020-04-29 03:13] shcheklein commented on #1198
@jorgeorpinel it looks like a different problem(?) though. Create a separate ticket for this please.

[2020-04-29 18:51] woodshop opened #1199 "core.loglevel doesn't exist but remains in docs"
When setting the config option for `loglevel` (either programmatically or by editing the config file) my command returns the following error:
[code]

As far as I can tell, core.loglevel was removed in https://github.com/iterative/dvc/pull/3321. However the current docs for `dvc config` continue to list this as a valid configuration option.

[2020-04-29 18:57] shcheklein commented on #1199
@woodshop good catch! Would you mind doing a PR? you can just click the Edit on Github button, remove it and submit an update online.

[2020-04-29 19:07] woodshop commented on #1199
Sure thing. Might not get to it for 24 hours though.

[2020-04-29 21:30] #1199 closed

[2020-04-29 23:06] jorgeorpinel commented on #1167
So. This need has recently surfaced again as a relatively easy way to start keeping an archive of versions of the docs that match different core DVC releases. So either a PDF eBook or a simple standalone static HTML website of dvc.com/doc would be ideal, if that's something we can build relatively easily with Gatsby.

Thoughts @shcheklein @fabiosantoscode @iAdramelk ? Cc @dmpetrov and @rogermparen

[2020-04-29 23:22] rogermparent commented on #1167
With the Models PR separating Doc nodes from others, something like this should be pretty painless to implement as long as there's a way to generate the required formats in Node.
A simple HTML output is obviously the easiest route because it can just be done as another page, but for non-HTML formats we can take the same approach `gatsby-plugin-sitemap` does and output a file from within the `onPos

[2020-04-29 23:33] fabiosantoscode commented on #1167
Since the website is already a set of static files, keeping an archive of HTML shouldn't be too hard to accomplish.

Remember that most of what's good for epub, is also good for PDF and print. A lot of it also applies to AMP. So we can deal with all of those at once if need be.

[2020-04-29 23:37] fabiosantoscode commented on #1167
Of course there's the joining all the pages together, which depends on how epub works (I don't know anything about it!), but if we use a print-to-PDF tool we can control page breaks with CSS, and the rest (removing sidebars, top bar) with print CSS.

[2020-04-30 04:27] jorgeorpinel commented on #1167
Thanks for the answers guys! Sounds promising! But I'm wondering how to keep this as simple as possible. We have all the content in Markdown so in theory this should not be a tough problem, let's not even force it to be done via Gatsby if it's too invovled.

Lets focus on this format for now. What I'm imagining is:

- A special build process that produces an archive e.g. a ZIP or TAR file.
- The a

[2020-04-30 05:26] gonewest818 commented on #1167
For whatever it's worth, I really did mean epub or similar in my request. So I'm all for you getting your static html archive issue solved because it seems like a pressing need, but also if you could keep epub format in your sights I would appreciate it.

[2020-04-30 15:41] jorgeorpinel commented on #1167
Gotcha. Yes, in a second iteration on this, formats like epub and pdf could be addresses. We'll keep this issue open. Thanks

[2020-04-30 17:26] fabiosantoscode commented on #1167
@jorgeorpinel I'm 99% sure we can achieve what you want pretty easily with Gatsby.

We're probably going to need to post-process the resulting HTML to:

 - remove script tags
 - make URLs relative to the current file (you can't link to `/foo/bar` in `file://`)
 - make links to other pages point to actual HTML files (currently they point to pretty paths without the `/index.html` suffix).

To proces

[2020-04-30 17:28] fabiosantoscode commented on #1167
My approach is to cut down from the current site, but @jorgeorpinel's idea of building up from the markdown is equally valid. I just wonder which approach represents less work and less maintenance cost.

[2020-04-30 22:56] jorgeorpinel opened #1201 "support: email link is broken"
in https://dvc.org/support

![image](https://user-images.githubusercontent.com/1477535/80766800-ddc81580-8b0b-11ea-8e7f-47676e1b5cbe.png)

It renders as `href="https://dvc.org/mailto:support@dvc.org"` (that's a 404 of course) but the code is correct so this is engine-related.

Let's check any that no other special links have a similar problem too?

[2020-04-30 23:02] jorgeorpinel commented on #1201
p.s. this isn't caught by the link checker cc @casperdcl since that's a static analyzer. Any ideas on how to check links on rendered pages easily? 🙂

[2020-04-30 23:06] casperdcl commented on #1201
:D after discussion with @shcheklein we use `find` (instead of `git ls-files`) in the daily cron job specifically to check rendered pages as well, I believe.

Are the rendered pages perhaps in a different folder not covered yet?

https://github.com/iterative/dvc.org/blob/bbf95ef332d8e422e444ce3c611d1ef750ea7b73/scripts/link-check-git-all.sh#L9-L13

[2020-05-01 01:37] jorgeorpinel commented on #1201
This rendered pages would only exist in the build where deployed so not sure from that code that they can be caught currently. Plus I'm not sure how static they are, maybe there's lots of React magic so you wouldn't find the final href value in the code itself. Not sure, maybe @fabiosantoscode knows 🙂

[2020-05-01 03:00] jorgeorpinel opened #1204 "blog: can't develop/build locally on Win"
I'm on Windows (Git Bash on Cmder). I cleaned up mode modules, buid, cache, etc. to build from scratch. I ran `yarn` from scratch, which went well. I ran `yarn develop` and it built in a few minutes, no errors. But I get this when I go to http://localhost:8000/blog:

![image](https://user-images.githubusercontent.com/1477535/80777793-f9dbaf00-8b2b-11ea-9677-0955f37b1536.png)

(The rest of the site

[2020-05-01 03:15] rogermparent commented on #1204
Oh no! This must be my fault. I'm pretty sure with the Model resolvers we're doing path resolution of the sharp images in a way that works on Linux but not Windows. I'll get on this ASAP!

[2020-05-01 03:56] rogermparent commented on #1204
I have a possible fix in [this branch](https://github.com/iterative/dvc.org/tree/fix-windows-paths), but I need you to test it because I don't have any Windows machines to do so.

[2020-05-01 07:28] iAdramelk commented on #1167
@jorgeorpinel @fabiosantoscode @rogermparent Sorry for late answer. Technically generating either epub, pdf or single html file should be relatively easy. But we also have another problem to solve here: How to maintain and index docs from different versions of dvc.

If I understand the basic problem correctly we don't just want to create static version, we also want to store generated versions for

[2020-05-01 18:55] rogermparent commented on #1167
`gatsby-plugin-ebook` is a little outdated and doesn't have great customization options, but the logic is quite simple and it makes epubs so I'm going to make a quick fork that can be shaped to our current schema.
I don't have anything to show yet, I just wanted to confirm epub generation is at least possible. I also need to make it so docs are accessible and guaranteed sidebar order.

The version

[2020-05-01 19:23] rogermparent commented on #1197
This is happening because we switched from making doc pages based on the sidebar to making doc pages for all MD files in `content/docs`.

You can see the source file still exists [here](https://github.com/iterative/dvc.org/blob/master/content/docs/user-guide/api-reference/open.md), but before models it was just sitting in the repo as a dead file. Removing this source file will get you the behavior

[2020-05-01 19:37] shcheklein commented on #1197
Closed by https://github.com/iterative/dvc.org/pull/1206

[2020-05-01 19:37] #1197 closed

[2020-05-01 20:06] #1084 closed

[2020-05-01 20:06] shcheklein commented on #1084
@jorgeorpinel PTAL again and feel free to reopen if still see some problems here.

[2020-05-01 21:43] rogermparent commented on #1201
Looks like this is part of the Link component not recognizing mailto links and trying to use Gatsby `Link` on them instead of a regular `a`. I can tidy this one up quickly, I think.

[2020-05-01 22:13] #1201 closed

[2020-05-02 21:43] jorgeorpinel commented on #1204
It works for me Roger! Thanks a lot. I'm just going to merge your branch to the blog stuff I'm working on , if you don't mind. So the fix to this issue will be included in my coming PR, but your commit will be there.

[2020-05-02 22:03] rogermparent commented on #1204
Sounds fine to me!

[2020-05-02 22:09] jorgeorpinel commented on #1201
Thanks @rogermparent

[2020-05-02 22:21] jorgeorpinel commented on #1167
@iAdramelk

Any hints on things to try for this effect would be greatly appreciated.

Git tags that match those in https://github.com/iterative/dvc/tags? The archives could be setup as artifacts in the Github release history same as old versions of DVC itself. It's a secondary problem, but important yes.

[2020-05-02 22:47] #1204 closed

[2020-05-03 00:21] jorgeorpinel commented on #1139
I haven't had this happen in a while so maybe it's been fixed. I'll remove the priority for now...

[2020-05-03 00:38] jorgeorpinel commented on #731
BTW this is now possible on Gatsby I think. Are there any pages we want to hide from the docs @shcheklein? Maybe the Google API Privacy Policy (per https://github.com/iterative/dvc.org/issues/144#issuecomment-584441916)

[2020-05-03 00:56] rogermparent commented on #731
You're correct, this has been possible since the Models PR. All MD source files will become pages, and if they aren't added to the sidebar they won't show up automatically, fulfilling this behavior.
Should the docs implementation change (and it probably will eventually), I'll keep this feature in mind when changing anything as to not break it so you should be safe to use it.

[2020-05-03 01:02] weekly-digest[bot] opened #1211 "Weekly Digest (26 April, 2020 - 3 May, 2020)"
Here's the Weekly Digest for [iterative/dvc.org](https://github.com/iterative/dvc.org):
# ISSUES
This week, 28 issues were created. Of these, 23 issues have been closed and 5 issues are still open.
## OPEN ISSUES
:green_heart: #1210 [GSOD 2020 blog post, et al.](https://github.com/iterative/dvc.org/pull/1210), by [jorgeorpinel](https://github.com/jorgeorpinel)
:green_heart: #1198 [doc engine: fix

[2020-05-03 02:14] #1211 closed

[2020-05-03 05:53] iAdramelk commented on #1167
@jorgeorpinel we have similar task for our internal handbook. We solved it using [pandoc](https://pandoc.org). In simplest case you can generate epub or pdf from a folder of markdown files with one cli command, see examples at: https://pandoc.org/demos.html or ebook tutorial here https://pandoc.org/epub.html

We can add syntax highlighting, title page, our own css, etc.

But AFAIR it will not work

[2020-05-03 09:36] dmpetrov opened #1212 "April release broken link"
`monthly roundup of cool happenings` point to heroku app https://dvc-landing-april-heart-6d0onb.herokuapp.com/tags/heartbeat

[2020-05-03 10:33] dmpetrov opened #1214 "сommunity banner is outdated"
https://dvc.org/community

Is it the time to remove the banner about Pawel's talk?

Off-topic: The banner is huge (1/2 MB). It takes time to upload. It might be better to use smaller banners next time.

[2020-05-03 17:15] nik123 opened #1217 "cmd ref: -R flag for status command"
Command reference for `add` command should contain `-R`/`--recursive` flag.

See https://github.com/iterative/dvc/issues/3720

[2020-05-03 19:12] #1217 closed

[2020-05-03 19:36] shcheklein commented on #1214
cc @andronovhopf

[2020-05-03 19:37] shcheklein commented on #1212
I'll take care of this

[2020-05-03 19:37] shcheklein opened #1222 "blog: tags URL should be under blog prefix"
https://dvc.org/tags/heartbeat -> https://dvc.org/blog/tags/heartbeat

- [ ] Don't forget to update existing links
- [ ] Check RSS (do we have it/need for tags?)

[2020-05-03 19:45] shcheklein commented on #1212
Fixed!

[2020-05-03 19:45] #1212 closed

[2020-05-03 19:55] shcheklein opened #1224 "blog: support lists properly in the descriptionLong frontmatter"
Right now we have to do something like:

https://github.com/iterative/dvc.org/pull/1213/files

to avoid bullet lists, since the look ugly.

[2020-05-03 21:13] jorgeorpinel commented on #1224
So support Markdown in that field?

[2020-05-03 22:01] shcheklein commented on #1224
we already support it. Just adjust CSS probably.

[2020-05-03 22:39] jorgeorpinel commented on #1224
Seems to work for me:
![image](https://user-images.githubusercontent.com/1477535/80927683-026afa00-8d65-11ea-9a2b-049d5fff2a19.png)
👇
![image](https://user-images.githubusercontent.com/1477535/80927675-f5e6a180-8d64-11ea-9f73-04335e48e540.png)

[2020-05-03 22:53] shcheklein commented on #1224
I was not saying they were not working :) They just look ugly and not right.

[2020-05-03 23:21] jorgeorpinel commented on #1224
OK so maybe just put the rendered `descriptionLong` in some CSS class so it the regular blog content formatting (perhaps just with slightly smaller font)? Or specifically we only want bullet lists? Thanks

[2020-05-03 23:24] shcheklein commented on #1224
@jorgeorpinel not sure I understood you questions to be honest :). This ticket means adjusting CSS that we apply to this section. First step (and probably enough for this ticket) - lists (e.g. to align bullets with paragraphs, check the spacing, etc).

[2020-05-04 06:27] jorgeorpinel opened #1227 "blog links: mark external links with icon automatically"
Same as in the docs, e.g.:

![image](https://user-images.githubusercontent.com/1477535/80940733-46caba00-8da6-11ea-83ab-e0f79d430fde.png)

[2020-05-04 06:32] jorgeorpinel opened #1228 "nav: add internal navigation sidebar to blog posts?"
Blog posts tend to be organized in H2/3 headers. It would be nice to have a bar on either side (preferably right side like in docs) for internal navigation. It could be available only when there's enough space in the margin.

This is how it looks in docs:
![image](https://user-images.githubusercontent.com/1477535/80941092-19cad700-8da7-11ea-8061-d30eef55770b.png)

[2020-05-04 07:16] shcheklein commented on #1227
blog is not the same as docs though, have you seen something similar in other blogs?

[2020-05-04 17:49] jorgeorpinel opened #1231 "blog: anchors to linked headers scroll too low"
For example try https://dvc.org/blog/dvc-3-years-and-1-0-release#plots or click any of the other anchors in those headers, which are all linked to GH issues.

The screen scrolls to a few lines under the header, so some text is lost.

[2020-05-04 18:21] shcheklein opened #1232 "blog: "number of comments" cache is too aggressive"
Caching is too aggressive. It should be around 1 minute at most (?). Right now it takes too long to wait to see the new value.

(it might be even that we don't reset it until the redeploy)

[2020-05-04 18:30] shcheklein commented on #1232
Making it p1 to at least check that we don't cache it infinitely. That would be a major p-0.

[2020-05-04 19:40] rogermparent commented on #1232
Looks like it's 900s (15m) right now. Let me get the github link to the exact point in `comments.js`

[2020-05-04 20:22] shcheklein commented on #1232
Let's test it on one of the older posts? to make sure that redeploy is not required at least

[2020-05-04 21:59] jorgeorpinel opened #1235 "blog: implement search?"
For example if you're looking for a certain topic or key word among blog posts. It's easy to do locally since they're just MD files, or even on the GH repo, but no way to do it from inside the blog itself.

Of course you can do it from Google with the `site:dvc.org/blog` prefix ([example](https://www.google.com/search?q=site%3Advc.org%2Fblog+dashamir)) but I don't know if a lot of people are used

[2020-05-04 23:12] shcheklein commented on #1228
Not sure about this one. It's not docs. This content will force writers to care too much about these subsection titles. A lot of existing posts will look really terrible.

[2020-05-05 05:44] shcheklein opened #1238 "blog: make meta image URLs stable"
Right now when we change some libraries, setting, redeploy, etc, image URLs change and break our forum topics, for example:

https://discuss.dvc.org/t/dvc-heartbeat-feburary-20/318

We need to make some "proxy" URLs that will be stable and depend only on a post slug.

[2020-05-05 05:55] shcheklein commented on #1123
Closing this. I think it's resolved more or less. Decided to keep it CI focused mostly.

[2020-05-05 05:55] #1123 closed

[2020-05-05 06:07] jorgeorpinel opened #1239 "links in image captions can't contain underscore"
E.g. Try linking to https://static.fossee.in/scipy2019/SciPyTalks/SciPyIndia2019_S011_Storing_a_few_versions_of_a_5GB_file_in_a_data_science_project_20191130.mp4 from an image caption. You get:

![image](https://user-images.githubusercontent.com/1477535/81038745-befbb300-8e6c-11ea-88c9-6e2b7475f1db.png)

because the caption is surrounded by underscores `_`, probaly.

[2020-05-05 06:23] jorgeorpinel opened #1240 "[accessibility] nav: skip hidden sidebar items for keyboard navigation"
Once you get to the left sidebar in https://dvc.org/doc/home, it seems to traverse all the collapsed (hidden) items..

[2020-05-05 06:26] shcheklein commented on #1239
does %-encoding solve the problem in this case? it can be a good solution then.

[2020-05-05 06:31] jorgeorpinel commented on #1239
Nope 🙁

![image](https://user-images.githubusercontent.com/1477535/81040036-14858f00-8e70-11ea-90fa-81ef515c8956.png)

[2020-05-05 06:31] jorgeorpinel commented on #1239
Wait...

[2020-05-05 06:33] jorgeorpinel commented on #1239
Nope, `_` doesn't get encoded.

[2020-05-05 06:34] jorgeorpinel commented on #1239
Wait...

[2020-05-05 06:36] jorgeorpinel commented on #1239
Yes, that works! But you have to manually replace with `%5F` since URL encoders online at least won't encode `_`. In this case I just used `https://static.fossee.in/scipy2019/SciPyTalks/SciPyIndia2019%5FS011%5FStoring%5Fa%5Ffew%5Fversions%5Fof%5Fa%5F5GB%5Ffile%5Fin%5Fa%5Fdata%5Fscience%5Fproject%5F20191130.mp4`.

[2020-05-05 06:37] shcheklein commented on #1239
it's probably still a bug I would say, it's just we have a reasonable workaround here

[2020-05-05 18:21] jorgeorpinel opened #1243 "[minor] dev: Twitter embeds don't hot-reload"
When running on development, working on a blog post that has a Twitter embed, changing anything turns all the embeds into text.E.g.  from

![image](https://user-images.githubusercontent.com/1477535/81100976-00bf4480-8ed3-11ea-8d71-bc8979cd06ae.png)

to

![image](https://user-images.githubusercontent.com/1477535/81101022-15034180-8ed3-11ea-8c37-4781fc0e530e.png)

This causes all the contents to shi

[2020-05-05 18:41] jorgeorpinel commented on #1228
Hmmm true. I guess it's not a common blog feature. We can always put links from the intro to other sections when we want people to be able to jump right to the main content.

[2020-05-05 18:41] #1228 closed

[2020-05-05 20:48] jorgeorpinel opened #1246 "links: option to prevent external icon (for images e.g. buttons)"
To prevent this:

![image](https://user-images.githubusercontent.com/1477535/81114482-bc8a6f00-8ee7-11ea-8047-247953ad7fd1.png)

[2020-05-05 22:25] jorgeorpinel commented on #1167
Pandoc looks great if we go for a custom shell script that just generates HTML files from the Markdown ones, thanks for the tip! No React plugins or navigation.

2-3 hours? Takes a few minutes 🙂

Yeah guys actually I ran build and looked at the HTML files in public/doc/ and they're basically almost ready for this! Images and links are all broken but they look perfect:

![image](https://user-images

[2020-05-05 23:23] jorgeorpinel opened #1249 "lint: replace pretty-quick --bail with lint-staged --no-stash"
Per https://github.com/okonet/lint-staged/pull/745#issuecomment-619563150 there's a new flag in lint-staged to replace the bailing behaviot of pretty-quick, so we can now probably keep only the former,

Basically, revert this: https://github.com/iterative/dvc.org/pull/1130/files
and add the --no-stash option
\+ test to double check 🙂

See https://github.com/okonet/lint-staged#command-line-flags

[2020-05-06 00:32] rogermparent commented on #1246
You can work around this issue by making a link in explicit HTML instead of Markdown. I have a PR showing how it can fix this issue at #1251

[2020-05-06 00:47] shcheklein commented on #1246
@rogermparent does it makes sense to keep the ticket open even if we apply workaround? Can we detect this type of links automatically?

[2020-05-06 00:53] shcheklein commented on #1232
Fixed by #1250

[2020-05-06 00:54] #1232 closed

[2020-05-06 02:41] jorgeorpinel commented on #1249
I tried to implement this change in #1252

But as explained in https://github.com/okonet/lint-staged/pull/745#issuecomment-624412951 it's not doing what I expected.

So, leaving as-is.

[2020-05-06 02:41] #1249 closed

[2020-05-06 04:21] jorgeorpinel commented on #1246
If that's not easy, I think we can close this. We're using the workaround for now.

[2020-05-06 04:48] jorgeorpinel opened #1253 "Gitpod should clone a fork"
I tried using Gitpod from https://dvc.org/doc/user-guide/contributing/docs#development-environment to submit a change. It was all working nicely, (I even installed a VS Code plugin to the IDE.) But after committing with Git, I'm unable to push because I didn't grant Gitpod permission to push directly to dvc.org

![image](https://user-images.githubusercontent.com/1477535/81135210-c5e1fe80-8f1c-11ea

[2020-05-06 10:59] nisarhassan12 commented on #1253
Thanks, @jorgeorpinel This is happening maybe because you have not granted Gitpod the permissions to do so. You can manage the access control here: https://gitpod.io/access-control/

![image](https://user-images.githubusercontent.com/46004116/81167793-45b8a900-8faf-11ea-9daf-c1095dda9f45.png)

When a repo is opened where you don't have push access and you have made a change and are about to commit

[2020-05-06 18:49] jorgeorpinel commented on #1253
Unfortunately Gitpod wants access to manage repo settings and development keys so I don't feel comfortable giving it those permissions from my account, since I have admin access to the repo. Maybe for a developer in an org this would be OK but they will probably have a local dev env anyway.

![image](https://user-images.githubusercontent.com/1477535/81215225-9d024d80-8f9e-11ea-8267-fb2d6c548baa.pn

[2020-05-06 21:41] jorgeorpinel commented on #1253
I'm removing the note for now, please revert https://github.com/iterative/dvc.org/pull/1195/commits/87906e25832197da18f700be49e1a6d0885b7e7d and complete the guide when possible. Thanks

[2020-05-06 22:45] #1177 closed

[2020-05-06 23:13] rogermparent commented on #1246
It shouldn't be too hard to simply give this a real implementation, but the question is how we do so. If we change it such that external links containing only an image are exempt, do we need to implement the behavior to re-enable the link?

I don't think this issue is anything to worry about currently with the workaround, but is worth bringing up as a concern if at any point we overhaul the blog r

[2020-05-06 23:32] jorgeorpinel commented on #1246
Thanks for looking into it Roger. Sounds complicated, I think let's close this for now but feel free to reopen if you feel differently, guys.

[2020-05-06 23:32] #1246 closed

[2020-05-06 23:34] jorgeorpinel opened #1255 "docs: Major DVC 1.x discrepancies"
#### Mission critical
- [x] Get Started! See https://github.com/iterative/dvc.org/issues/599#issuecomment-559233708 - Ivan is on it iterative/example-repos-dev/pull/14,
- [x] Installation
- [x] `dvc add` — mainly .dvc file examples #1411 + merge #1414
- [x] DVC-file guide(s) and maybe cache guide - included in #1370
- [x] `dvc run` PR #1420 + merge #1387
- [x] DVC-file guide(s) and maybe cache gui

[2020-05-07 02:10] jorgeorpinel opened #1256 "docs: the definitive content sctructure!"
Possibly merge the issues below into this epic first, and any other questions regarding docs content structure:

- [ ] #425 Absorb Understanding DVC into existing sections
- [ ] #1035 merge doc parts into super sections?

[2020-05-07 02:11] jorgeorpinel commented on #655
We probably won't need this if we have a good docs content structure. See #1256

[2020-05-07 02:11] #655 closed

[2020-05-07 02:21] jorgeorpinel commented on #566
losing in favor of epic #520

[2020-05-07 02:21] #566 closed

[2020-05-07 02:27] jorgeorpinel commented on #159
Closing in favor of #816

[2020-05-07 02:27] #159 closed

[2020-05-07 02:31] jorgeorpinel commented on #133
It seems this is indeed obsolete now, since we have `dvc get` even for non DVC and non Git projects.

[2020-05-07 02:31] #133 closed

[2020-05-07 02:31] jorgeorpinel commented on #133
If I'm wrong please add it as a checkbox in this epic: #820

[2020-05-07 05:47] shcheklein commented on #175
I think it's solved since we moved SQLLite files under `.dvc/tmp` now.

[2020-05-07 05:47] #175 closed

[2020-05-07 05:48] shcheklein commented on #121
Closing this. Pachyderm is a very different tool, and even though people asking us about the difference, probably not the right place to keep the full list of tools in this space.

[2020-05-07 05:48] #121 closed

[2020-05-07 05:55] shcheklein commented on #461
@jorgeorpinel can we close this one?

[2020-05-07 06:03] shcheklein commented on #1139
closing this for now ... moreover, not clear what can be done anyways. Large merges happen very rare and we can handle them manually if needed.

[2020-05-07 06:03] #1139 closed

[2020-05-07 06:10] shcheklein commented on #608
Can be closed by now?

[2020-05-07 16:49] jorgeorpinel commented on #461
It hasn't been finished actually 😅 the use of tooltips is not super consistent yet. But if we plan to just keep doing this going forward and not retroactively, then yes.

[2020-05-07 16:51] shcheklein commented on #461
Yeah, I doubt that we'll have time to go through all the pages at some point. Let's close it.

[2020-05-07 16:51] #461 closed

[2020-05-07 16:51] jorgeorpinel commented on #1139
👍

[2020-05-07 17:19] rogermparent commented on #1073
Sorry for throwing out a basic fix to the title without looking deep at the content.

My PR moves the current `docs/home` page to `docs`, but there are a few choices we have to make for a page redesign.

First off: Do we make the homepage with Markdown, or `src/pages`?

Neither are difficult for me to implement, it's more a decision on whether we want to write the content in React or Markdown. We

[2020-05-07 17:23] nik123 opened #1259 "cmd ref: -R flag for update command"
Command reference for `update` command should contain `-R`/`--recursive` flag.

See issue https://github.com/iterative/dvc/issues/3511 and PR https://github.com/iterative/dvc/pull/3760 in the core repo.

[2020-05-07 19:41] jorgeorpinel commented on #1167
p.s. [0.94.0](https://github.com/iterative/dvc/releases/tag/0.94.0) is out with all the optimizations and bug fixes so we would probably want to apply those to the pre 1.0 docs as well...

[2020-05-07 20:02] jorgeorpinel commented on #1259
Thanks. It will be updated if/when the flag is implemented and released. Currently it doesn't exist in the command. Best

[2020-05-07 20:10] jorgeorpinel commented on #1073
What do you recommend? I think Ivan's impression is we'll need a special page. I think it would be ideal if it can be kept as md but that may be tricky diven the special design we want for it, which is currently hardcoded horribly (mea culpa) with HTML in the md.

So can it be a React page that "loads" an md file for most of it's content, so the content can be easily updated by anyone?

Also this

[2020-05-07 20:11] shcheklein commented on #1259
@jorgeorpinel not sure why did we close this? https://github.com/iterative/dvc/pull/3760 there is core repo PR @nik123 has prepared. So, we indeed need a ticket.

[2020-05-07 20:14] jorgeorpinel commented on #608
Hmm not really, but this is kind of an epic now that I think about it.

[2020-05-07 20:15] shcheklein commented on #1073
@rogermparent I like this simple style for the home page - https://cube.dev/docs , and I can connect us with the guy who has done the design for it.

Re the implementation - up to you. It feels that md can become too limited at some point?

[2020-05-07 20:16] shcheklein commented on #608
@jorgeorpinel are checkboxes up to date?

[2020-05-07 20:17] jorgeorpinel commented on #1259
I didn't realize there was a PR for this and thouoght nik was a user reporting a bug 😅

Updating the docs is a checkbox in the core repo PR too but yeah sure, doesn't hurt to have this too.

[2020-05-07 20:20] jorgeorpinel commented on #608
I think so. Will double check

[2020-05-07 20:35] shcheklein commented on #1259
@jorgeorpinel that checkbox says " ... or issue, at least ..." :)

[2020-05-07 21:02] rogermparent commented on #1167
I assigned myself to this issue because I'm working with the sidebar, but if someone wants to try getting a working pandoc script going I'd be happy to let them take it.

I already have a branch that integrates `sidebar.json` into the GraphQL API and allows more control over the sidebar in general, but my main stopper now is how to take that data and turn it into an ebook. `epub-gen` from the Gats

[2020-05-07 21:25] rogermparent commented on #1222
I ripgrepped for `tag/` and changed everything that matches to `blog/tag/`, which should take care of existing content.
We currently don't use tag data for any feeds, and I'd say adding tags to feeds would warrant another issue entirely.

[2020-05-07 21:28] nisarhassan12 commented on #1253
Thanks! I'll make a PR soon.

[2020-05-07 21:45] rogermparent commented on #1073
My personal recommendation would be introducing simple frontmatter-defined templates, keeping md for the content and using a unique home template to get any out-of-markdown design.

As for the question of Markdown becoming limited, we could easily migrate from remark to MDX- it's backward-compatible with Remark and lets us make define our own arbitrary React components that can be used in our Mark

[2020-05-07 22:29] shcheklein commented on #1073
there were some problems with MDX (built time support, custom plugins, etc). Also, I would say one page does not justify opening the box (there will be no return).

similar to what we do for the community page?

sounds like a good starting point, we can then ask designer to help us.

[2020-05-07 22:35] #1222 closed

[2020-05-07 23:22] #1140 closed

[2020-05-08 01:01] nik123 commented on #1259
@jorgeorpinel sorry, it may not have been clear that there is PR for this. I've updated description with link to original PR.

[2020-05-08 01:21] jorgeorpinel commented on #1167
How about just a simple html web site like we mentioned? Would that be a better first step? It would cover our first use case here which is having an archive of older doc versions.

[2020-05-08 01:22] jorgeorpinel commented on #1253
No rush

[2020-05-08 01:22] jorgeorpinel commented on #1253
Thank you!

[2020-05-08 01:23] nisarhassan12 commented on #1253
Hey @jorgeorpinel I have already made this PR https://github.com/iterative/dvc.org/pull/1262

[2020-05-08 01:29] jorgeorpinel commented on #1259
Thanks!

[2020-05-08 01:49] jorgeorpinel commented on #1256
Closing in favor of #144

[2020-05-08 01:52] #1256 closed

[2020-05-08 03:26] rogermparent opened #1264 "Problems with trailing slashes on the new docs path"
For some reason, at some point after #1257, trailing slashes appear in the `hrefs` of links pointing to the new homepage at "/doc", but inconsistently as the effect is removed upon navigation.

This issue is to investigate and fix that.

[2020-05-08 04:00] rogermparent commented on #1264
From my investigation so far, it seems to be related to the sidebar which hasn't actually been completely decoupled from link logic. The normalized sidebar has the doc page as `/doc/` despite everything else, even the internal Gatsby node, having no trailing slash.
This issue alone shouldn't be too hard to patch up quickly, but it indicates we're in need of a bigger fix to actually separate this s

[2020-05-08 17:18] rogermparent commented on #1167
@jorgeorpinel kind of, but it runs into the same problems. Epub is very close to HTML, after all.

Because of specifically how our content is structured hierarchically but written as individual pages, making any single page that contains all the docs becomes an issue that requires some sort of transformation of the content to make nesting visible.

The simplest viable transform that I can think of

[2020-05-08 18:18] jorgeorpinel commented on #1167
OK but is epub easier than HTML? We already have HTML to work with, so the priority here would be HTML. Most people, I assume, will be more comfortable with this format too: you can simply extract the archive and browse the local docs with your browser.

I wasn't suggesting boiling everything down to a single page. Just replace the links so you can navigate the static site locally over file:// as

[2020-05-08 19:46] gonewest818 commented on #1167
I was really thinking as simple as a script that does this:
[code]

More sophistication isn't strictly needed as a first MVP, and if you decide to do something nicer later you can always go back and regenerate the legacy docs.

What does need to be fixed are paths to image resources, and  whatever you're using to handle the "Expand to learn about ..." sections in your tutorials also doesn't conver

[2020-05-08 20:14] jorgeorpinel commented on #1167
Agreed, and thanks for bringing out about those expandable sections! They should probably just get fixed open (expanded) somehow before transforming to the final html/epub

[2020-05-08 21:24] #1264 closed

[2020-05-08 21:41] rogermparent opened #1272 "support external links on the sidebar (quick fix)"
This issue is specifically to allow for external links on the current sidebar setup.
There are plans to renovate the sidebar code entirely, but it's worth fixing this issue in the current set-up because making a real sidebar overhaul may take a little while.

[2020-05-08 21:49] shcheklein commented on #1272
Related #897 #515

[2020-05-09 01:23] #1259 closed

[2020-05-09 01:25] jorgeorpinel commented on #1272
This looks like a duplicate of #897 essentially, bc/ hat's our only use case rn I think.

[2020-05-09 01:26] jorgeorpinel commented on #1272
OK never mind I see a PR was also created so that's fine. @rogermparent keep in mind that if you're sending the PR right away you could sometimes skip creating the issue too 🙂

[2020-05-09 02:41] shcheklein commented on #1272
@jorgeorpinel for the record, I asked Roger to create the ticket for visibility and since all other tickets are more content focused rather than engine. So, I thought that it would be beneficial to have an engine one :)

[2020-05-09 02:52] #1272 closed

[2020-05-09 02:53] shcheklein commented on #897
Fixed by https://github.com/iterative/dvc.org/pull/1273

[2020-05-09 02:53] #897 closed

[2020-05-10 11:03] weekly-digest[bot] opened #1276 "Weekly Digest (3 May, 2020 - 10 May, 2020)"
Here's the **Weekly Digest** for [*iterative/dvc.org*](https://github.com/iterative/dvc.org):

 - - -
# ISSUES
Last week 64 issues were created.
Of these, 48 issues have been closed and 16 issues are still open.
## OPEN ISSUES
:green_heart: #1269 [ambassador blog draft](https://github.com/iterative/dvc.org/pull/1269), by [andronovhopf](https://github.com/andronovhopf)
:green_heart: #1268 [Add temp

[2020-05-10 18:15] #1276 closed

[2020-05-10 21:27] shcheklein opened #1277 "community page: events expiration date, do not show irrelevant events"
Introduce expiration date for the main banner and per event for the events section.

If event/banner no relevant anymore - don't show it.

If no events to show - do not show the whole events section, show some (nicely done) stub - "No upcoming events"

If no banner - do not show banner.

[2020-05-10 21:28] shcheklein commented on #1214
Closing in favor of #1277 . We'll set banner expiration date or remove it completely.

[2020-05-10 21:28] #1214 closed

[2020-05-10 21:43] andronovhopf commented on #1214
SureI FYI I just got a banner made for our mailing list, so planning to
make a PR for that tomorrow or Tuesday

On Sun, May 10, 2020 at 2:28 PM Ivan Shcheklein <notifications@github.com>
wrote:

[2020-05-11 17:29] efiop opened #1278 "user-guide: describe our python version support policy"
We will be dropping 3.5 in 1.0 release https://github.com/iterative/dvc/issues/3765#issuecomment-626844095 soon, and we'll need to explicitly clarify in our docs what's our python version support policy.

WHAT IS OUR POLICY? TBD

[2020-05-11 20:40] andronovhopf commented on #1277
I've just made a PR to add a new banner about the mailing page. Maybe when an event expires, default to this banner instead of totally removing banner?

[2020-05-11 21:58] rogermparent commented on #1277
Sure! I was actually thinking about adding the functionality for having multiple Hero definitions queued up in an array and having the application use the first that isn't expired. This way, we can plan ahead and have these kinds of timed changes apply without worrying about a git merge.

We can also log items that are expired so that we're reminded to remove stale ones and old data doesn't build

[2020-05-11 22:11] shcheklein commented on #1277
@rogermparent @andronovhopf this sounds perfect!

[2020-05-12 01:54] shcheklein commented on #1227
I don't think we need this in blog. Closing this for now.

[2020-05-12 01:54] #1227 closed

[2020-05-12 13:02] chaytanyasinha commented on #1161
I think we can provide the name of the author's name with the link of their twitter handles for mentioned issue.So that users can reach to them by just clicking their name.
Please give suggestions if this is good or any other plan.
And may I work on this issue?

[2020-05-12 14:50] shcheklein commented on #1161
@chaytanyasinha hi! before we jump into implementing this we need to come with some design idea. Where do you see these links fit? can you make a screenshot with an idea? Also, we should keep in mind this related issue #1120

[2020-05-12 14:54] chaytanyasinha commented on #1161
@shcheklein
Actually I was thinking of the author's name with link that just by clicking the name they can move to their handles as I can see it will be quite difficult to fit another column their

[2020-05-12 16:40] shcheklein commented on #1161
@chaytanyasinha so, it'll contradict with #1120 I believe, right?

[2020-05-12 17:01] chaytanyasinha commented on #1161
@shcheklein Yeah right. So any other ideas?

[2020-05-12 20:12] jorgeorpinel commented on #1278
Good idea. In https://dvc.org/doc/user-guide/contributing/core? Or maybe somewhere in https://dvc.org/doc/install

Note that it's possible to publish docs that are not found in the navigation sidebar, but they can be linked to from any page. We're considering doing that to some existing docs such as https://dvc.org/doc/user-guide/privacy

[2020-05-12 20:55] chaytanyasinha commented on #1175
May I work on this issue @jorgeorpinel

[2020-05-13 17:00] jorgeorpinel commented on #1175
Thanks for your interest in helping us address this @chaytanyasinha! Usually I'd say of course but in this case I failed to note that there's someone already working on it and a long, complex discussion about it (https://github.com/iterative/dvc/issues/3409#issuecomment-627895106) so it's not really a great introductory issue.

But please, take a look at this list (or browse some other labels) and

[2020-05-13 17:04] chaytanyasinha commented on #1175
Sure @jorgeorpinel

[2020-05-13 17:18] chaytanyasinha commented on #1278
@jorgeorpinel I feel like we should add it to https://dvc.org/doc/user-guide/privacy

[2020-05-13 22:09] efiop opened #1289 "guide: document run-cache"
So far affected commands are run/repro which create and/or use run cache. And `push/pull/fetch/potentially status`) that transfer ~~(options for that are hidden for now)~~ run cache to/from remote. Run cache is located in `.dvc/cache/runs`.

[2020-05-13 22:10] efiop commented on #1289
Will also need to update run-cache flags in run/repro to explain them through the run-cache concept.

[2020-05-13 22:47] PseudoNerd commented on #899
Can we expand the troubleshooting section by researching and discovering known errors and beginner mistakes while using DVC to make a list, and then analyze the formed list to make a dedicated how-to page with information pulled from the docs for better access?

I'd like to participate in the first project for this year's edition of GSoD and DVC is something that I have used and had some experienc

[2020-05-13 23:12] #808 closed

[2020-05-13 23:17] shcheklein opened #1290 "community page: remove border around section names"
It should not affect accessibility (when you click Tab). It should only disable them after I click.

Alternatively make them enabled only on Mobile (tablet?) and make them look nice.

<img width="1231" alt="Screen Shot 2020-05-13 at 4 15 23 PM" src="https://user-images.githubusercontent.com/3659196/81875398-0a7d2380-9535-11ea-8e30-7a748e5bb07d.png">

[2020-05-14 01:02] jorgeorpinel commented on #899
Hey @PseudoNerd!

This epic issue is more about a proposed How to section (to contain several pages, each one a how-to) and less about the troubleshooting guide which is a single page where we plan to add more known problems. Both things need some work indeed and/or maybe they could be merged. Perhaps a good topic for a GSoD proposal.

For now I would encourage you to investigate smaller docs issu

[2020-05-14 01:34] rogermparent opened #1291 "CI does not fail on unused imports"
As discovered and discussed [here](https://github.com/iterative/dvc.org/pull/1281#pullrequestreview-411397364), CI doesn't block commits on eslint warnings like unused imports. I ended up discovering some of my own when running `yarn lint-ts` after all TS issues are solved.

Getting the CI to fail on unused imports would be very nice, but considering that we can work around this by manually runnin

[2020-05-14 06:54] r0cketr1kky commented on #1278
Hi @jorgeorpinel , can I take this up?

[2020-05-14 09:38] efiop commented on #1278
@shcheklein @jorgeorpinel I don't think that this is a "good first issue". We ourselves don't have a very clear plan for this.

[2020-05-14 15:57] jorgeorpinel commented on #1278
@chaytanyasinha @r0cketr1kky thanks for your interest. It seems like we don't really know our policy yet so this can't be worked on yet. Please try to find another one, feel free to contact me on Discord for direct guidance 🙂

[2020-05-14 15:58] jorgeorpinel commented on #1278
@efiop mabe you want to assign this to someone who will be defining the policy for now, at least until it's decided?

[2020-05-14 16:35] efiop commented on #1278
@jorgeorpinel Yeah, I'll assign to myself for now.

[2020-05-15 04:23] Zenix27 commented on #540
I can work on this.

[2020-05-15 04:38] Zenix27 commented on #233
I can work on this

[2020-05-15 06:00] Zenix27 commented on #1172
where should this be mentioned, in the `External [Dependencies.md`

[2020-05-15 17:52] #1277 closed

[2020-05-15 18:40] jorgeorpinel commented on #886
@efiop do you remember if `dvc list` also supports granularity? Yes right? I think also we should include that info, as well as with `import` and `get` 🙂

[2020-05-15 18:57] jorgeorpinel commented on #540
Sure @Zenix27 this is a simple one to test our process, thanks! Please make sure you've read https://dvc.org/doc/user-guide/contributing/docs first.

[2020-05-15 18:58] jorgeorpinel commented on #233
@Zenix27 lets focus on one issue at a time please. Do you prefer this or #540? Thanks

[2020-05-15 19:00] jorgeorpinel commented on #1172
We would first need to confirm what this issue means. I personally didn't fully understand it as can be seen from my question above. If you'd like to play with .dvcignore and external dependencies, maybe you can clarify what the problem seems to be. Thanks

[2020-05-15 19:01] jorgeorpinel commented on #1172
p.s. more info on these topics: https://dvc.org/doc/user-guide/external-dependencies and https://dvc.org/doc/user-guide/dvcignore

[2020-05-15 19:47] Zenix27 commented on #233
Let's work on this for now and I've gone through https://dvc.org/doc/user-guide/contributing/docs

[2020-05-15 20:13] jorgeorpinel commented on #233
Sounds good, so please open a PR that mentions this issue when ready and lmk if you need any help in the meantime. You can find me on Discord directly. Thanks

[2020-05-16 06:16] MisterAwesome23 commented on #899
Hey,
My name is Manthan Admane and I am in my senior year of Computer Engineering undergrad.
I would like to work on "How To section" project idea under GSoD2020 and contribute to the community.

As suggested:

I'll start with getting familiar with fixing and exploring smaller issues on DVC issues.
Looking forward to it.

[2020-05-16 12:30] MayankGoel28 commented on #1235
Will an embedded search inside the blogs that essentially use site:dvc.org/blog as a suffix to Google query work? It does look low-effort. I would be interested in trying to build an internal search engine of sorts.

[2020-05-16 14:49] imhardikj commented on #477
@jorgeorpinel I can take this up.

[2020-05-16 15:41] shcheklein commented on #1235
@MayankGoel28 hi! I think we can use algolia to provide a better experience there. Similar to the dvc.org/doc .It is probably a bit more involved and will require a bit of UI design.

[2020-05-16 17:40] sarthakforwet commented on #1289
Hey there I wanna work on this issue . Could you assign me this ?

[2020-05-16 18:58] efiop commented on #1289
Hi @sarthakforwet ! I don't think it is suitable for contribution, as it is a WIP feature. Please check out `need-help` and `good-first-issue` labels, they should have something more suitable :slightly_smiling_face:

[2020-05-17 01:40] karajan1001 opened #1301 "cmd ref: document new subcommand `remote rename`"
Related to issue [iterative/dvc#3599](https://github.com/iterative/dvc/issues/3599).

[2020-05-17 02:12] jorgeorpinel commented on #1289
Hi @sarthakforwet indeed please further explore the issues for something that seems a little smaller and more defined. I believe I sent some specific links in my GSoD email reply to you to some recommended issue labels. Feel free to reach out to me directly via email or on Discord for help on issue selection it you're still unsure. Thanks!

[2020-05-17 02:25] jorgeorpinel commented on #1235
@MayankGoel28 if you're interested on the actual Javascript engine project for GSoD then yes, this may be a good issue to explore! Basically try to replicate the search we have in the /doc section like Ivan mentioned. You'll need to be familiar with React and Typescript, and maybe Gatsby too so it's probably not very introductory though, but feel free to give it a shot.

Doc search form:

![image]

[2020-05-17 02:40] jorgeorpinel commented on #899
Hi @MisterAwesome23 OK. Please email your GSoD intro again to info@dvc.org so we have it on record. I'll send you an email with guidance over there. Best

[2020-05-17 07:39] MayankGoel28 commented on #1235
That is not the specific project I'm interested in, (as I don't have any major experience with Web Development) but I could try learning. I will try seeing if I'm comfortable with building this.

[2020-05-17 17:00] PseudoNerd commented on #1301
Is this a relatively cleaner implementation of the `dvc remote modify oldRemote name newRemote` with the same command options as the `dvc modify` command?

[2020-05-17 18:43] sarthakforwet commented on #1172
Hey I wanna take this . Could you assign me this?

[2020-05-17 19:20] sarthakforwet commented on #1033
Hey @jorgeorpinel  . As far as I got this all you mean to say is that we have to refer the https://dvc.org/doc/user-guide/dvcignore from other sections of DVC docs?

[2020-05-18 00:10] jorgeorpinel commented on #1235
I would recommend another issue from https://github.com/iterative/dvc.org/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22 to get started contributing to DVC.org in that case.

[2020-05-18 01:05] shcheklein opened #1302 "we are getting 301 on direct URLs"
Again (we are solving this over and over again with Gatsby), we are getting 301s if you enter:

dvc.org/doc
dvc.org

in the browser.

It potentially affects SEO, it affects performance.

We need to put some CI check in place to prevent this from happening again.

[2020-05-18 01:21] jorgeorpinel commented on #1301
Hi @PseudoNerd no. Check out the core repo this matches: iterative/dvc/issues/3599. `dvc remote modify` is a new subcommand currently being worked on (PR iterative/dvc/pull/3794).

This issue will probably be best addressed by @karajan1001 who is implementing this in the core repo and since it's not finished, yet let's keep looking please. Did you explore the `good-first-issue` label? https://gith

[2020-05-18 01:25] jorgeorpinel commented on #1301
p.s.

Note that we never had that `name` param available for `dvc remote modify`.

[2020-05-18 01:58] jorgeorpinel commented on #1172
Hi @sarthakforwet! No, I think this is about what kind of files you can list inside .dvcignore. Like I mentioned in https://github.com/iterative/dvc.org/issues/1172#issuecomment-629425955, to figure this out you'll first need to play with external dependencies and .dvcignore, and see how these 2 features intersect, then compare to out docs and see if anything is missing from there. Keep in mind al

[2020-05-18 02:03] jorgeorpinel commented on #1033
Yes @sarthakforwet! You would first need to play with and fully understand the .dvcignore feature, then explore all the existing docs and try to find all the places where it would be appropriate to link to the .dvcignore guide.

But I see you're also interested in https://github.com/iterative/dvc.org/issues/1172#issuecomment-629842491, let's focus on a single one for now 🙂 please pick one and feel

[2020-05-18 04:14] MayankGoel28 opened #1303 "Running command in Get-started (connect with code) tutorial returns error message"
From https://github.com/iterative/dvc.org/blob/master/content/docs/tutorials/get-started/connect-code-and-data.md,
running
[code]
returns error:
`
ERROR: `-n|--name` is required
`
I was able to fix the error and get the required structure on running tree by running,
[code]

Should I create a PR for this or is this not really an issue?

[2020-05-18 04:35] rogermparent commented on #1302
I want to tackle this, but I'm not sure how exactly to replicate this problem. I can't get anything but 200s on either URL.
Is your browser automatically prepending `www.`? There's an explicit redirect entry for that.

[2020-05-18 04:57] rogermparent commented on #1073
I have a branch tackling this issue at #1268, but I'm starting to think that, given the time-frame for DVC 1.0, we should take a two-phase approach to this issue.

For **phase one**, we get the design and content we want and post it up in whatever is the most doable: I think the best fit is using my template branch to change the docs home's component to a custom component that has full freedom to

[2020-05-18 05:05] shcheklein commented on #1302
My bad, @rogermparent . Browser redirects to https from http by default. `curl -v https://dvc.org` works absolutely fine.

[2020-05-18 05:05] #1302 closed

[2020-05-18 06:04] jorgeorpinel commented on #1303
What version of DVC are you using? I think -n is an option of run only in the 1.0 pre-release. Our docs still refer mostly to 0.94

[2020-05-18 06:28] karajan1001 commented on #1301
@PseudoNerd
Sorry for the late reply, and thanks to @jorgeorpinel, I'm a little busy last week.
There is no command `dvc remote modify name` before, renaming the old remote repo is a new feature. Here we follow the similar command `git remote rename`.

[2020-05-18 06:35] MayankGoel28 commented on #1303
I am using the pre-release. I was directed to do so by someone in the discord.

[2020-05-18 06:41] jorgeorpinel commented on #1303
Yes that's OK. We will be releasing it soon. It will just make it a little tricky for you to follow the current Get Started, which I'm still working on in order to update it to 1.0. Meanwhile I guess please reach us directly on Discord (#need-help or DM me) if you have problems with 1.0. I'll close this issue but thanks for the report, it will be useful for the updates I'm working on.

[2020-05-18 06:41] #1303 closed

[2020-05-18 06:46] jorgeorpinel commented on #1301
@karajan1001 will you be wiling/able to implement this docs update along with your core repo work? Just to know whether to plan to do it ourselves if not. Thanks either way 🙂

[2020-05-18 09:06] karajan1001 commented on #1301
@jorgeorpinel

Oh, I planned to solve it this week, but I am more pleased to have some other contributor's help.

[2020-05-18 14:05] iKBAHT opened #1306 "Wrong item highlighted in the right menu"
Str:
1) go to https://dvc.org/doc/command-reference/diff
2) click to "Example" item in the right menu

Actual:
"Example: Checking workspace changes" item will be highlighted

Expected:
"Example" item will be highlighted

Some ideas:
https://github.com/iterative/dvc.org/blob/master/src/components/Documentation/RightPanel/index.tsx#L44
A peculiarity of the navigation algorithm

[2020-05-18 16:38] geblanco opened #1308 "Proxy Command not working"
Hello!

I have a decentralized setup with a distributed master dvc cache in a private server, it is behind a jump server (proxy).

My guess is that dvc can be configured in a similar way to rsync. As far as I know (please, correct me if I'm wrong), there are several ways to set this up:
* `~/.ssh/config` with the necessary host (ProxyJump variable in modern OS, but not supported by pramiko or Prox

[2020-05-18 17:55] elleobrien opened #1311 "ambassador team page"
Would it be easy to add a page for ambassador profiles? This might be an additional perk of joining.

For example, Fedora has profiles for ambassadors (and other community members):

https://fedoraproject.org/wiki/User:Mribeirodantas

Not that we need badges or this level of detail; just a "masthead" of sorts?

[2020-05-18 18:18] jorgeorpinel commented on #1301
If you're able to do it it's probably the most efficient way since you know exactly how it works. We only need a draft PR on this and we'll fix it up in terms or language etc. so don't worry about it being perfect.

[2020-05-18 18:23] jorgeorpinel commented on #1306
I think this is basically a duplicate of #753. @iKBAHT please add details in that one and close this one? thanks

[2020-05-18 18:24] jorgeorpinel commented on #753
Also related/ part of the solution: #723

[2020-05-18 18:34] #1306 closed

[2020-05-18 18:34] iKBAHT commented on #753
Some ideas:
https://github.com/iterative/dvc.org/blob/master/src/components/Documentation/RightPanel/index.tsx#L44
A peculiarity of the navigation algorithm

[2020-05-18 19:21] #477 closed

[2020-05-18 23:01] shcheklein commented on #1311
@andronovhopf it's a great idea! we would need to start with some UX - where do we want put that page? how do we get people there?

We had another idea with @SvetaGr - create a "wall of love" - people sharing tweets about us, companies that use the product, etc ... may be ambassadors could be part of that page?

again, not sure about the name for page and where do we put it yet. So, let's start wi

[2020-05-18 23:05] jorgeorpinel commented on #1308
Interesting question. Let me move this to the core DVC repo (this repo is for our docs 🙂). Thanks

[2020-05-18 23:18] karajan1001 commented on #1301
@jorgeorpinel
I am just considering writing some introduction to my [PR](https://github.com/iterative/dvc/pull/3794).

[2020-05-18 23:57] jorgeorpinel commented on #1073
I've checked that PR's preview and checked most of the check boxes in the description, except that of design, which is what you're suggesting to complete as phase one. That would close out this issue, I think.

I'm not sure how that relates to the docs home page.

[2020-05-19 00:44] rogermparent commented on #1073
Sure! I meant it as a simple example but if we like it I can take it forward. There's some qualms about the example's custom components implementation, so I intend to re-create whatever design we get in a simple React template component that has full freedom to implement any design.

My bad, I meant to say "docs pages"- special ones like this docs home. Basically, we have to decide how to want to

[2020-05-19 01:16] jorgeorpinel commented on #1073
Gotcha Roger.

Seems like a nice-to-have right now. I don't know of any other special case other than the "cards" in he home page for now. But maybe you guys have discussed others? Cc @shcheklein

I know you guys have discussed this so I won't disagree but have we considered just making these "cards" a special react component that activates autodetecting some basic HTML similar to how tooltips act

[2020-05-19 01:52] shcheklein commented on #1073
@rogermparent I'm totally fine with that. Up to you. As I mentioned in your PR our goal is a simple page like this for now: https://cube.dev/docs (again, I'm fine if you go with a template for that).

@jorgeorpinel do we have an idea for 4 tiles already? So that I can ask designer to get us some icons. (and probably the home page icon as well)

[2020-05-19 03:09] rogermparent commented on #1073
I second this heartily, 4 tiles is much easier than 3 to make look nice.

[2020-05-19 03:45] VANRao-Stack commented on #614
Where in the docs are these sample outputs? I found the one for reproduce here, https://dvc.org/doc/tutorials/get-started/reproduce#reproduce, however the issue seems to have already been resolved.

[2020-05-19 06:27] jorgeorpinel commented on #614
Hi @VANRao-Stack thanks for finding this issue in the context of GSoD. "sample command outputs" refers to all the sample commands in many of our docs, for example the block reading `$ dvc checkout` here:

![image](https://user-images.githubusercontent.com/1477535/82291950-83361280-996f-11ea-8e8d-c6ad63d37a24.png)

To find where the strings mentioned in the description are found, you could simply c

[2020-05-19 07:25] PseudoNerd commented on #986
Do we have to modify the docs in [this](https://dvc.org/doc/use-cases/shared-development-server#configure-the-external-shared-cache) section of the shared development server according to the [cache dir](https://dvc.org/doc/command-reference/cache/dir#example-using-absolute-path) documentation?

[2020-05-19 07:34] jorgeorpinel commented on #986
Hi @PseudoNerd thanks for finding this issue in the context of GSoD. Yes, that is correct. Also please note

(from https://github.com/iterative/dvc.org/issues/986#issuecomment-586541617)

and

from https://github.com/iterative/dvc.org/issues/986#issuecomment-594342255

It would be great to also try to include these ☝️ in the PR. Please lmk if you have any further questions.

[2020-05-19 08:09] PseudoNerd commented on #986
It's only logical to have references to the `dvc cache dir` link, I'll go through relevant docs and find suitable places for the same and make a PR regarding this issue.

[2020-05-19 09:09] jorgeorpinel commented on #1073
Sure. An easy way is to split the last tile in 2: "**Study** the detailed [inner-workings] of DVC." + "**Understand** each one of its [commands] and [Python functions]."

Or a 4th one could be regarding tutorials, but we're not sure which ones will be staying after the 1.0 release so I can't come up with great text for that right now. Something like "Learn how to used DVC step-by-step with our did

[2020-05-19 09:20] utkarshsingh99 opened #1314 "coding style guidelines missing from Docs and Website Page"
The link in the text in `coding style guidelines` on the page [Docs and Website page](https://dvc.org/doc/user-guide/contributing/docs) which ideally should list principles and guidelines seems to be a dead in-page link.

The referred link is https://dvc.org/doc/user-guide/contributing/docs#code-style-guidelines on clicking on the text, but it seems that there is no such section marked on that mar

[2020-05-19 10:48] mvshmakov opened #1315 "define the spaces/tabs policies and create checks."
There is a mixture of tabs/spaces in the repo. It would be better if there is only one unified standard for all of the codebase/documentation. In addition, it is a good practice to introduce some CI/pre-commit checks considering this convention.

The issue was revealed in this PR: https://github.com/iterative/dvc.org/pull/1305

[2020-05-19 15:11] VANRao-Stack commented on #144
I have created a pull request for absorbing the understanding DVC section. Please take a look at it and let me know if there are any changes that I may need to bring about.

[2020-05-19 17:24] jorgeorpinel commented on #144
@VANRao-Stack thanks, I will check it out. You are also involved with https://github.com/iterative/dvc.org/issues/614#issuecomment-630561304 though, please pick one to focus on for now and let us konw. Thanks

[2020-05-19 17:49] jorgeorpinel commented on #144
@VANRao-Stack I know this issue is marked as `good-first-issue` and thanks for taking the initiative but I think this is kind of an epic with many subtasks:

- The general reorg of User Guide as described in the description
- The other related tasks listed in https://github.com/iterative/dvc.org/issues/144#issuecomment-584441916

Your PR is a good start but please focus on a single subtask to make

[2020-05-19 18:22] jorgeorpinel commented on #1314
Good catch @utkarshsingh99, it should link to `#doc-style-guidelines-javascript-and-markdown`. Would you like to submit a quick PR for this?

That mention is OK there, as running Prettier is (automatically) part of the dev env. It's mentioned again in the doc style guidelines section. But if you have a strong opinion on how to avoid duplication here feel free to include this change in your PR.

Hm

[2020-05-19 18:44] srishti-nema commented on #229
Hey @jorgeorpinel , I want to work on this issue. Can I take this up?

[2020-05-19 19:22] jorgeorpinel commented on #229
Yeah @srishti-nema sure! Now that I read this issue I'm not sure how introductory it is 😅 but it should be a good challenge. Are you already familiar with DVC metrics? See https://dvc.org/doc/command-reference/metrics

[2020-05-19 19:54] #910 closed

[2020-05-19 20:48] utkarshsingh99 commented on #1314
Yeah, I would be happy to make a PR for this.
Will do this by tomorrow (IST)

[2020-05-19 21:14] rogermparent commented on #1073
We now have the special bullets in my branch at #1322 (along with circle bullets for leaves), so all that's left now is to make and then implement the design of the page itself.

[2020-05-19 22:55] shcheklein commented on #1315
@mvshmakov what bothers me here is that we already have `useTabs` set to false:

[code]

in the https://github.com/iterative/dvc.org/blob/master/.prettierrc

and we do run it on a pre-commit hook that is installed when you run `yarn`.

I think the only place we allow spaces are code blocks. And probably prettier ignores them (and rightfully so). It feels there is some overlap between your editor s

[2020-05-20 00:52] rogermparent opened #1323 "build-time docs sidebar highlight regression"
It wasn't in `gatsby develop` so I didn't catch it, but #1312 introduced a regression where loading a docs page on the built website currently doesn't highlight the active page until you click around at least once.

This is an issue where the site's "is sidebar link active" logic behaves differently at build than it does at runtime.

I should have this fixed soon, and once the sidebar is overhaule

[2020-05-20 01:25] #1323 closed

[2020-05-20 05:23] srishti-nema commented on #229
I saw [this](https://github.com/iterative/dvc.org/pull/228#issuecomment-478912209) and thought we need to make changes in the docs of repro command. Also, the show() documentation has not been updated yet according to [#228](https://github.com/iterative/dvc.org/pull/228), do I need to make changes there?

[2020-05-20 07:36] jorgeorpinel commented on #1314
OK thanks and I'm glad you seem to be taking a deep dive into some of our docs. I'm a little worried that we only have another 10 days left in the month though so hopefully you can explore a more substantial issue from https://github.com/iterative/dvc.org/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22 for example and try to address it so we still have time to interact and then work o

[2020-05-20 07:55] jorgeorpinel commented on #1314
Hey @utkarshsingh99 actually I'm fixing this in f0c0ac45. Please focus on the `good-first-issue` list. Thanks

[2020-05-20 08:18] jorgeorpinel commented on #229
Hmmm good find, yes maybe the `-m` option of `dvc repro` in https://dvc.org/doc/command-reference/repro#options could use updating as well. But again, this issue's main goal is stated in the title, and involves the `dvc metrics add/modify/show` subcommands.

But I'm starting to think this whole issue may be outdated though, as it's over a year old. For starters, we only support JSON metrics right

[2020-05-20 09:05] srishti-nema commented on #380
Facing this. Moving to Google Colab to learn for now.

[2020-05-20 10:41] srishti-nema commented on #540
Hi @jorgeorpinel , is this issue available?

[2020-05-20 11:46] pared commented on #540
Hi @srishti-nema! Seems like as of today, @Zenix27 is working on it now. @Zenix27 can you confirm?

[2020-05-20 12:23] ryokugyu commented on #380
@srishti-nema You can also try this code.
https://github.com/ryokugyu/dvc_tutorial

[2020-05-20 13:16] utkarshsingh99 commented on #1120
Does this mean a new template would have to be added in the src/templates folder additionally?
Since there is no page that has a profile like page.
Also, how should be the design?
I think even a graphql query will be required to fill in the specific posts based on the authors.

[2020-05-20 13:59] srishti-nema commented on #425
This structure looks good :+1:  I was wondering whether we can move The Privacy Policy structure as discussed in #987 and [#144(comment)](https://github.com/iterative/dvc.org/issues/144#issuecomment-584441916) under one of these sections?

[2020-05-20 13:59] Zenix27 commented on #540
@pared Not now, @srishti-nema  you can move forward on this for now, I am working on understanding the repro.

[2020-05-20 14:06] pared commented on #540
@jorgeorpinel can we assign @srishti-nema to that one?

[2020-05-20 14:25] mvshmakov commented on #1315
@shcheklein I guess I have found the issue. I use Visual Studio Code with custom config, which you can see here: https://pastebin.com/qEjpgKsV. It has a section `"prettier.useTabs": true` which I totally have forgotten of. I suppose you are right about setting overlapping and it was totally my bad.

[2020-05-20 14:29] utkarshsingh99 commented on #1016
Unfortunately, I didn't get any error even after not installing `python-dev-tools`.
[code]
But it is true that some non-fatal errors turned out while installing.
[code]
I know these errors might be subjective to the user's current version of packages.
Looking by the [info on python-dev-tools](https://python-dev-tools.readthedocs.io/en/latest/readme.html#features), it seems like installing it might

[2020-05-20 15:10] utkarshsingh99 commented on #898
It seems this issue has been solved by a PR that may not have mentioned this issue.
[The `import.md` page in command-reference](https://github.com/iterative/dvc.org/blob/master/content/docs/command-reference/import.md#import) mentions this:

[2020-05-20 15:49] utkarshsingh99 commented on #1314
Sure.
Glad to know this was resolved. :)
Should I close this issue then?

[2020-05-20 16:35] efiop commented on #886
@jorgeorpinel It will support it fully after https://github.com/iterative/dvc/pull/3825 . Sorry for this hanging for so long, been meaning to get to this for a long time. Definitely need to sort this out for 1.0.

[2020-05-20 17:59] imhardikj commented on #528
@shcheklein  @jorgeorpinel  I can work on this issue. As the title suggests there should be a pull example which uses example-get-started repo.
Something like this: https://dvc.org/doc/tutorials/get-started/retrieve-data

[2020-05-20 19:37] jorgeorpinel commented on #1315
I think both VSC and Prettier let tabs in code blocks alone. There's 53 instances of this in content/docs right now.

[2020-05-20 19:39] jorgeorpinel commented on #1315
If there's a way to enforce tab->space with Prettier then I would support the no-tab policy. Otherwise I vote actually to use tabs in sample output. Maybe I'm not getting why that is a problem?

[2020-05-20 19:41] jorgeorpinel commented on #380
@srishti-nema can you please post the details of the error you're getting so we can try to reproduce?

[2020-05-20 19:47] jorgeorpinel commented on #540
Sure, go for it @srishti-nema, thanks.

[2020-05-20 19:48] shcheklein commented on #380
@jorgeorpinel I believe it is the same error. We never fixed it since it would require rebuilding the project, using a different one completely. We just expect users to have at least 8GB machine at this point.

[2020-05-20 19:54] shcheklein commented on #1315
@jorgeorpinel I think it's already enforced in our settings? (`useTabs: false`) prettier probably just ignores code blocks

[2020-05-20 20:45] jorgeorpinel commented on #425
Actually that proposal while great when it was done may be outdated right now. The goal now is to reduce the amount of pages and absorb the unique information from Understanding DVC pages into existing User Guide pages as much as possible.

- [ ] Good finds! (possibly removing GAPP from footer and from nav sidebar, which is now possible BTW). However, this is all unrelated to this issue.

Also, @s

[2020-05-20 20:48] jorgeorpinel commented on #1315
OK, so my point is if Prettier and IDEs ignore tabs in code blocks (which makes sense) trying to enforce this will be difficult and for starters I don't see why it's desirable. If anything having tabs in sample output is in a way more realistic, as that's what `dvc`/other commands print to stdout.

[2020-05-20 20:58] jorgeorpinel commented on #1016
Yeah, I don't know if this is still an issue. No one else has reported it so maybe let's close for now? Unless you know what's missing from the contrib guide, @efiop. Thanks

[2020-05-20 21:02] jorgeorpinel commented on #1120
@utkarshsingh99 as for the technical implementation, that would be the role of whoever takes this issue. Ivan or maybe @rogermparent can probalby give you some quick tips if needed. The design is probably not a big deal initially, once the page exists in a PR, we can worry about that part.

[2020-05-20 21:02] jorgeorpinel commented on #898
@utkarshsingh99 thanks! Indeed this is now included in https://dvc.org/doc/command-reference/import but perhaps

- [ ] the only thing missing is to add an example specific to importing Git-tracked file.

You can try this if you wish.

[2020-05-20 21:04] jorgeorpinel commented on #1314
No, it will be closed automatically when my PR is merged. Thanks

[2020-05-20 21:40] rogermparent commented on #1120
Yes, I believe so

I'm not very good at design, so I can't help you here.

Yes, we have separate author nodes so we just need to use a GraphQL query in the `createPages` logic to make Author pages, then make links wherever Authors are already present.

The current `gatsby-node` logic for Authors is at `src/gatsby/models/authors` where you'd make an `onCreatePages` file. The GraphIQL tool in `gatsb

[2020-05-20 22:17] rogermparent commented on #1073
If the design doesn't stray too far from what I have in my branch, it would be fastest to just adapt what I have to the design for phase 1 and improve the implementation after.

If we would be happy with just some slight changes to it I can easily implement them, especially where no other page uses the card components currently.

Replacing the whole page with a component is still doable if we get

[2020-05-20 22:57] utkarshsingh99 commented on #898
Sure, I will look into it.

[2020-05-20 23:25] #1053 closed

[2020-05-20 23:37] shcheklein commented on #1253
Closing this, see motivation here https://github.com/iterative/dvc.org/pull/1262#issuecomment-631160576

[2020-05-20 23:37] #1253 closed

[2020-05-21 01:24] jorgeorpinel commented on #528
- [ ] This is a good point `dvc fetch could be hidden in the "Click and expand to setup the project" section of https://dvc.org/doc/command-reference/checkout#examples

@imhardikj maybe you can start by doing that and open a PR? It will help you understand wha this issue is about. After that, you can also close this issue in the same PR:

It's good that you checked out that page Hardik, but please

[2020-05-21 16:21] jorgeorpinel commented on #1175
From https://github.com/iterative/dvc/pull/3830#pullrequestreview-415640978 we probably also need to improve the Plot template explanation. Notice that I'm currently doing some updates in #1283, hopefully soon to be merged. Updated issue desc.

[2020-05-21 18:58] #1198 closed

[2020-05-21 19:41] jorgeorpinel opened #1330 "ci: Restyled doesn't work correctly with forks (outside contributors)"
Noticed in https://github.com/iterative/dvc.org/pull/1316#issuecomment-631283253

Explained in https://github.com/iterative/dvc.org/pull/1321#issuecomment-632304028

[2020-05-21 20:05] shcheklein commented on #1330
I'm not sure this a bug - this is by design. Most likely it was done so that maintainers in the main repo see the restyled PR.

[2020-05-21 20:08] shcheklein commented on #1330
The idea is that it creates a duplicate PR that will be "following" the main one. And in this case when main one is ready maintainers are supposed to merge the "follower".

[2020-05-21 22:39] jorgeorpinel commented on #1073
Lets just apply the 4 tiles/cards suggested in https://github.com/iterative/dvc.org/issues/1073#issuecomment-630692444 for now, maybe? And style it on the go via PR review. That would probably close the remainder of this epic 🙂

[2020-05-21 23:10] jorgeorpinel commented on #1330
OK. If it keeps up to date with the original PR then that would be logical, especially if it closes itself out if the formatting is fixed by the collaborator. I guess it can't open a PR to the fork since it doesn't have the user GH account permissions. I'll keep an eye on how this works in the future.

[2020-05-21 23:10] #1330 closed

[2020-05-22 00:10] rogermparent commented on #1073
Ah, whoops! [This](https://github.com/iterative/dvc.org/pull/1268) is the PR I was talking about earlier as an example- it has a 4 tiles design and is what I think to be pretty close to what we want. Deploy's up and everything!

[2020-05-22 00:59] rogermparent commented on #1045
I can do this one in a way similar to the way I did Event expiration: loading the data from `glossary.js` into a GraphQL and processing it at build time will allow us to freely parse the MD into HTML during build time with any method- probably Remark, since we use it in other features similar to this like `descriptionLong`.

[2020-05-22 02:30] shcheklein opened #1333 "right panel scroll bar improvements"
Follow up after https://github.com/iterative/dvc.org/issues/1198

- [ ] When scroll is enabled and some items are not visible as we scroll the main page we want for the right bar to follow (highlighted item should be always visible).
- [ ] Safari - it's very easy (by scrolling the main page) to get it into the state when it completely ignores scroll inputs. Even if you hover mouse over it.
- [ ] F

[2020-05-22 05:56] shcheklein commented on #1073
Design is the last pending part of it. And we can modify content a little bit when new get started is ready /cc @jorgeorpinel

[2020-05-22 13:06] utkarshsingh99 commented on #898
If a Git-tracked file is added through `dvc update` then it will automatically be put in `.gitignore` and the user might not want to do it.
So the best way for the user would have to be `dvc add`, right?

[2020-05-22 13:28] sarthakforwet commented on #528
Hey @jorgeorpinel  @shcheklein  I have made an example for pull examples using example-get-started repo . Could you please assign this issue to me?

[2020-05-22 18:12] imhardikj commented on #528
@jorgeorpinel  After cloning example-get-started repo when I attempt to run `dvc fetch -aT` it gives an unexpected error. It worked before when I was on version 0.92.0. I tried running this on windows too but it gives same error. I coludn't find anything related to this error and raised thi [issue](https://github.com/iterative/dvc/issues/3857) as I thought it was a bug. I found a similar [issue](h

[2020-05-22 19:01] shcheklein commented on #898
`dvc update` does not add file. Not sure I understand you question. Did you mean `dvc import`?

If file (Git or DVC - tracked) is imported it is indeed by default is _cached_ (added into DVC). It's a good question if people want that or not.  Let's first try to edit the `.dvc` file it produces and add `cache: false` to the specific `out` section, remove it from `.gitignore`, and see what happens +

[2020-05-22 19:28] shcheklein commented on #528
@imhardikj this is known p0 problem in the recent DVC version. We are fixing it already, sorry about this inconvenience.

Could you please rely on 0.92 for now?

[2020-05-22 19:43] utkarshsingh99 commented on #898
Yeah, I meant `dvc import` there.
So here's what I did.
Changed a .dvc file's cache: **true** to **false**. Removed that file from `.gitignore`. Executed `dvc update`.
As expected, everything did work. Although, I am not sure what different command would be needed on the user's side apart from this example in the docs which imports a DVC repo:
https://dvc.org/doc/command-reference/import#examples

[2020-05-22 20:03] jorgeorpinel commented on #898
How was that .dvc file produced? I'm assuming with `dvc import` but it would be better to see a full sequence of commands for readability. However...

This is a great question but I'm not sure how it relates to the pending task here, "add an example specific to importing Git-tracked file". I mean... I see how it relates, but can that be done without figuring out this new question first? If so, ple

[2020-05-22 20:11] utkarshsingh99 commented on #898
Yeah, I think it can be done.

With this in context, I am not sure what different command would be needed on the user's side apart from this example in the docs which imports a DVC repo:
https://dvc.org/doc/command-reference/import#examples

If I could just get an idea about this, I'd be quick to submit a PR for this finally.

[2020-05-22 20:16] jorgeorpinel commented on #898
Indeed. It's basically the same thing. But having a separate example with the title specifically mentioning "Git-tracked file", and clarifying some of the caveats in the example explanation could be helpful for some users and it adds explicitness to the doc. It also allows us to continue assessing your PRs. But if it seems to small feel free to pick another issue.

[2020-05-22 21:47] utkarshsingh99 commented on #1033
If no one is on this issue, I would like to take it up. @jorgeorpinel

[2020-05-23 02:42] jorgeorpinel commented on #528
Hey @sarthakforwet thanks! This issue is already being worked on though. I'll get back to you on a different one.

[2020-05-23 02:44] jorgeorpinel commented on #1033
@sarthakforwet are you still interested in this issue or #1172? Thanks

[2020-05-23 04:27] jorgeorpinel commented on #1033
Per https://github.com/iterative/dvc.org/pull/1328#issuecomment-632356316 this issue is too vague.

[2020-05-23 04:40] utkarshsingh99 commented on #1120
Sure. If it's okay, I can start working on this.

[2020-05-23 04:44] jorgeorpinel commented on #1033
OK updated the description to improve this issue. It's still vague but better. Following some of the checkboxes should get someone started with the bigger task.

[2020-05-23 04:51] sarthakforwet commented on #1033
@jorgeorpinel,  Yes, I am interested in both but unable to get #1172 correctly about what we have to do . Do we need to play with all external dependencies i.e SSH , Amazon S3 , Google Cloud Storage etc.. and check for them with respect to .dvcignore ?

[2020-05-23 05:08] rogermparent commented on #1120
I don't see any problems with that! I'll focus on other issues and won't hop in unless you need me to.

[2020-05-23 06:19] jorgeorpinel commented on #1333
➕ 1. I've been noticing this recently quite a bit. Thanks

[2020-05-23 06:57] jorgeorpinel commented on #528
@imhardikj fetch -aT is not currently used in the expandable section. The suggestion is to add it there so it can be removed from the block further down. There's an explanation about it under that block too, which would probably need to go away (moved into the expandable section too).

However the fetch + checkout parenthesis would have to go away too (not moved, just gone). Instead maybe we can j

[2020-05-23 11:47] utkarshsingh99 commented on #1120
My idea is to re-use the **Feed** component used in the template `blog-home.tsx`, and pass the Author Name as _header_, and Description as _leadParagraph_ props.
Please tell me if my approach is correct:
1. I create a `blog-authors.tsx`, and in `src/gatsby/models/authors/createPages.js` make a graphql query listing all authors with their posts.
2. I call the `blog-authors.tsx` file in createPages

[2020-05-23 15:25] VANRao-Stack commented on #425
I have created a similar indexed version of absorbing DVC. I have incorporated certain facts that make it seem more in place, developing from how ML evolved to asking the right questions now. @jorgeorpinel, @shcheklein, if it's okay, could I create a PR?

[2020-05-23 18:42] rogermparent commented on #1120
@utkarshsingh99 I think you're mostly right, with a slight exception:

`blog-authors.tsx` (I'd call it the singular `blog-author.tsx`, `blog-authors.tsx` makes it seem an index of authors) will have to diverge a bit from `blog-home.tsx` because I'd assume we want to show something like a name, social links, and a larger version of their avatar over the author's posts.

That said, something nearly

[2020-05-23 18:53] rogermparent commented on #1161
@shcheklein I think @chaytanyasinha's idea would work well as a quick fix while we all work out the design of individual Author pages at #1120. I could implement this very quickly, and it wouldn't be an issue to replace that link when we finally decide what we want on #1120's pages.

Maybe we should have a generic author link field so people can choose which social media page they prefer? I'd also

[2020-05-23 23:05] #1045 closed

[2020-05-23 23:17] shcheklein commented on #425
@VANRao-Stack sounds cool! could you outline the changes first?

[2020-05-23 23:31] rogermparent commented on #1161
#1341 implements the behavior of Author markdown files accepting an optional `link` frontmatter field. If specified, their name on blog posts will be a `Link` component pointing to the value.

The value of `link` could be anything, but from what I can tell will usually be a Twitter link- in which case, make sure to use the full URL including `https://`. This is the most basic implementation, but i

[2020-05-24 04:08] #1161 closed

[2020-05-24 04:50] VANRao-Stack commented on #425
Yeah, definitely! I began with creating a two subsections within understanding the problem, where I began with issues in current ML practices, and then asking the right questions in order to resolve the same. I provided a couple of historical pointers to show how it was a similar thinking that lead to the growth of ml/dl in the first place.

NOTE: I did not change the questions posed, as I thought

[2020-05-24 08:02] jorgeorpinel commented on #425
@VANRao-Stack while some of the things you mention seem to make sense, I don't think your message outlines the suggested changes.

Can you try to describe the changes you are proposing in a very clear way? A list, a table, etc. something visual and easy to grasp as opposed to a recollection of your thought process combined with specific actions. Please help us understand your plan here 🙂

Thanks!

[2020-05-24 09:10] VANRao-Stack commented on #425
Yeah sure!

- Started with collaboration issues, review it and place it in the beginning after giving it a little more description with respect to the context.

- Move on to asking the right question, similarly review it and add or delete content with respect to the context.

-  Next section, show how the current technologies aren't enough

- After a brief description of what an experiment managem

[2020-05-24 17:38] kurianbenoy opened #1347 "Missing Katacoda tutorial link for Get-started"
Why is the interactive tutorial button of  Katacodo not being mentioned for get-started example when
there is a get started tutorial in Katacoda?

https://www.katacoda.com/dvc/courses/get-started

Is there something missing in the Katacode tutorial in the current form, which needs an update?

[2020-05-24 18:16] #1301 closed

[2020-05-24 18:16] #1314 closed

[2020-05-24 18:44] jorgeorpinel commented on #1033
No, you could just play with the most basic one i.e. an external directory path in the same file system.

But you're already doing PR #1346 so let's focus on that for now 🙂

[2020-05-24 19:11] jorgeorpinel commented on #1347
Good observation. However we are completely rewriting the Get Started now. See https://github.com/iterative/dvc.org/pull/1074 so yes, that Katacoda is totally outdated. Probably all of them in fact :/ we haven't touched them in almost a year.

[2020-05-24 19:11] #1347 closed

[2020-05-24 19:13] rogermparent opened #1349 "multiple author links"
#1341 allows us to pick one link for each author to link their name to in blog posts.

At some point, I expect us to want to expand on this and allow for multiple links in the very common case of multiple social media websites.

I intend for this issue to expand the `link` field to a `links` array, allowing for us to specify external links in any way we like while also having the order they're in

[2020-05-24 23:37] santos22 commented on #1116
👋

Clicking on the **Discuss this post** button at the bottom of a blog post takes you to the discussion on Discourse.

Example: https://dvc.org/blog/dvc-3-years-and-1-0-release

Is this issue about embedding the comments found on Discourse on each blog post?

References:
- https://meta.discourse.org/t/embedding-discourse-comments-via-javascript/31963
- https://blog.codinghorror.com/welcome-to-the

[2020-05-25 02:42] jorgeorpinel commented on #1116
Hi @santos22 thanks for your interest on this in the context of GSoD 20202. I'm not sure, maybe @shcheklein can clarify, but I think so. There seems to be some other design requirements from the description but seeing the embed working when you click [Discuss this post] would probably be a good first step for a PR to address this.

[2020-05-25 03:35] kurianbenoy commented on #1347
Ok, awesome!

[2020-05-25 03:39] jorgeorpinel commented on #425
Thanks @VANRao-Stack. I still don't see a specific plan of what parts of **Understanding DVC** will go where in other existing doc sections. We'd like to see such a "map" as an initial plan. You also seem to have the intention to improve some of the content in question but that's not part of this issue, just deciding which parts to preserve, moving them, and changing their wording as needed to fit

[2020-05-25 04:05] shcheklein commented on #1116
@santos22 I would say it is out of the GSoD program a bit, it's not about docs engine or docs content after all. I still think it can be accepted as a contribution that demonstrates an interest in the project.

this is a good first step 👍

[2020-05-25 05:46] VANRao-Stack commented on #425
Oh, I had actually used the plan of where everything would be moved according to a previous comment by @dashohoxha  that has been marked as resolved right now. I will create a PR so you can better see what I intended.

[2020-05-25 05:56] jorgeorpinel commented on #425
I see. Yeah, sorry that plan is really old. I mentioned we needed a new one in https://github.com/iterative/dvc.org/issues/425#issuecomment-631716646. Please focus on a single page of Understanding DVC for now and lmk when your plan for that content is ready to check. Thanks

[2020-05-25 06:23] jorgeorpinel commented on #1075
@efiop any other cases in which GC may hit the remote? Thanks

[2020-05-25 08:37] VANRao-Stack commented on #425
Alright, since I am only supposed to work with one page, I propose we move related technologies to the end of the use cases section. After a couple of articles on workflows and other such scenarios, comparing it to related technologies would directly show how DVC brings something new to the table.

@jorgeorpinel , @shcheklein What do you think?

[2020-05-25 10:49] djwessel opened #1355 "remove WebDAV as a remote option"
#1187 Added a reference to WebDAV support to the docs, however WebDAV is not yet supported iterative/dvc#1153

Context: 714405205080539168

[2020-05-25 13:05] efiop commented on #1075
@jorgeorpinel I think that's all.

[2020-05-25 18:25] jorgeorpinel commented on #1355
OK done in 3cfbf9ba. We can just revert that commit to restore the WebDAV info later.

[2020-05-25 20:23] rogermparent commented on #510
With #1334, this seems to be fixed for me:
![dvc-abbr-desktop](https://user-images.githubusercontent.com/9111807/82840987-89158180-9ea2-11ea-8820-37e1fddc2bb8.png)
![dvc-abbr-mobile](https://user-images.githubusercontent.com/9111807/82840992-8a46ae80-9ea2-11ea-83bd-c53f6ccded0c.png)

This "When fixed" list may also need to update to our current docs content.

Like this one, for example: we don't s

[2020-05-25 21:01] shcheklein commented on #425
@VANRao-Stack I think it might be confusing to be honest. My take on this that it should become a part of the User Guide in some way. But the first question to answer - what value do expect/why do we have this section in the first place?

[2020-05-25 21:11] #1355 closed

[2020-05-25 21:11] jorgeorpinel commented on #1355
So iterative/dvc/pull/3647 is merged but this isn't released @efiop (assuming you know from Discord conversation)?

[2020-05-25 21:14] efiop commented on #1355
@jorgeorpinel That PR is not merged. Contributor closed it and promised to send a new one later. We can safely remove webdav from docs for now :slightly_frowning_face:

[2020-05-25 22:18] rogermparent commented on #510
I'm working on fixing everything in the "When fixed" list, now that I realize it's current *enough* for me to figure it out and we aren't missing whole terms.

[2020-05-26 00:59] efiop commented on #1016
Closing for now. Thanks!

[2020-05-26 00:59] #1016 closed

[2020-05-26 06:02] VANRao-Stack commented on #425
Well the answer to the question you posed about why we have this section in the first place is, I think, with a first glance DVC kind of seems just like another tool like Git, but however it isn't, and this section shows how DVC differs from the existing technologies . The whole point of having a use case section was to make people familiar with the different cases in which DVC could be deployed,

[2020-05-26 06:50] jorgeorpinel commented on #425
@VANRao-Stack Use Cases already talk about the benefits of DVC so I'm not sure about your reason either. Besides, this issue specifies the goal is to absorb Understanding DVC into Get Started or (most likely) User Guide.

This is a tricky question actually. The reason for **Understanding DVC** as a whole was probably originally something that is no longer a priority because it's covered by other s

[2020-05-26 07:00] jorgeorpinel commented on #425
OR if you want a small subtask that helps advance this issue, how about this:

- [ ] Go over each page and delete content that is 100% redundant with the other existing sections.

For example the first bullet in https://dvc.org/doc/understanding-dvc/how-it-works is pretty much covered in a few places: https://dvc.org/doc/tutorials/get-started/initialize and https://dvc.org/doc/command-reference/in

[2020-05-26 07:03] VANRao-Stack commented on #425
Sounds good! I'll start working on it!

[2020-05-26 08:49] VANRao-Stack commented on #425
So I was working on the Core Features page, as you had suggested. Clearly most of the points mentioned is redundant:

- DVC works on top of Git repositories and has a similar command line interface and Git workflow.

- DVC is Programming language agnostic: Python, R, Julia, shell scripts, etc. as well as ML library agnostic: Keras, Tensorflow, PyTorch, Scipy, etc.

- DVC supports cloud storage (Am

[2020-05-26 09:57] imhardikj commented on #528
@shcheklein @jorgeorpinel This issue got closed because #1340 was merged. But `dvc pull` hasn't been updated yet. I have updated the title and description of #1340.
I will open a new PR to work on `dvc pull` meanwhile can you open this issue again.

[2020-05-26 16:59] shcheklein commented on #528
@imhardikj sure thing! thanks.

[2020-05-26 20:14] #986 closed

[2020-05-26 21:40] rogermparent commented on #1019
I can fix this by grabbing data from GitHub at build time. The slight inaccuracy on old builds is practically a non-issue for something like stars, and it requires no runtime requests or logic.

I actually have a branch moving most everything to this setup, but I think I can backport the bit that fixes this issue specifically.

[2020-05-26 22:52] #510 closed

[2020-05-27 02:27] shcheklein commented on #1019
@rogermparent I would say, let's do this the same way as we do for other APIs. It's quite important for this counter to be up to date as much as possible.

Also, if GH down we'll have to rely on some default value or freeze the deployment.

[2020-05-27 02:31] jorgeorpinel commented on #425
Maybe you're onto something here, yes. But let's check on a case-by-case basis. Can you list where each of these points are mentioned in other docs? Also you only listed 3 out of the 6 bullets in that doc, let's check each one. You're probably right about some of them at least.

Core features are probably important to near the top of introductory docs, so hopefully these other mentions are not bur

[2020-05-27 03:57] shcheklein commented on #1333
An idea how to avoid forcing a scroll bar and still make it visible that there are some hidden elements there:

<img width="283" alt="Screen Shot 2020-05-26 at 8 55 38 PM" src="https://user-images.githubusercontent.com/3659196/82976274-7af35e00-9f93-11ea-856f-bd98cdc565b3.png">

a slight delimter + shadow

[2020-05-27 03:58] shcheklein commented on #1333
And no shadow and the top delimiter when list fits 100% onto the screen:

<img width="258" alt="Screen Shot 2020-05-26 at 8 58 03 PM" src="https://user-images.githubusercontent.com/3659196/82976337-aaa26600-9f93-11ea-9da7-3b1806899ffd.png">

[2020-05-27 04:11] kurianbenoy commented on #1255
@jorgeorpinel can I work on helping with small part with this issue or can you point to some other issues for the moment?

[2020-05-27 04:45] jorgeorpinel commented on #1255
Hi Kurian! I understand you're interested in contributing in the context of GSoD right?

Yes, you can probably help here. Are you familiar with `dvc plot` on v0.94 yet? That's the only item from the description I'm not already working on. It's a little complicated though but why don't you give it a shot? Learn the current version well first and then see what changed in that particular group of com

[2020-05-27 05:35] VANRao-Stack commented on #425
I'll mention which bullet and the links where its has been previously mentioned:

- The second bullet about reproducibility is covered very clearly in the deep dive tutorial : https://dvc.org/doc/tutorials/deep/reproducibility#reproducibility

- Similarly, the large data file versioning is covered in https://dvc.org/doc/user-guide/large-dataset-optimization#large-dataset-optimization

- Its was me

[2020-05-27 05:46] rogermparent commented on #1019
I think I'm pretty much done, but we'll see if I missed anything.

My solution was to implement a Gatsby build-time solution primarily, but then update it via a proxy server API like the other ones. This way we get the advantages of a solid baked-in value as well as the ability to keep the count updated to-the-minute regardless of when the last rebuild was.

[2020-05-27 06:41] utkarshsingh99 commented on #1120
@rogermparent Just wanted to confirm if the graphql query I will be putting in should be fine.
This solution was based on the principle that I wanted to re-use maximum components. Unfortunately, one 1 component is re-used.
I am querying on the AllAuthors schema which will result in:
[code]
The latter one seems to be more reasonable, but it will involve making another new component, and then re-usi

[2020-05-27 07:23] rogermparent commented on #1120
@utkarshsingh99 Sounds reasonable to me! Even if I find an issue with it during review, getting the new page working with whatever schema works is the priority here- especially where it's likely to change soon afterward as we add new features to the Author pages.

[2020-05-27 11:46] skshetry commented on #906
With 1.0, users will expect some kind of backward compatibility, especially when we break repo
compatibility (https://github.com/iterative/dvc/issues/3885).
I think, we should at least document this, so that we could redirect users to, politely.

And, regarding the documentation of compatibility policy, we can follow SemVer or a bit modified with:
1. Major version on repo incompatibility
2. Minor

[2020-05-27 14:42] kurianbenoy commented on #1255
I will explore first by using dvc plot command first, and understand how to use it. After that, I can start working in the docs. I had seen this tweet from [Pared showing this demo of using dvc plot command](https://twitter.com/Paffciu1/status/1260119918525194241)

[2020-05-27 14:48] casperdcl commented on #906
also related: https://github.com/iterative/dvc/issues/3872

[2020-05-27 19:01] jorgeorpinel commented on #1255
Good find! Yes good plan but please if you find this too complicated to do within this week actually maybe it's best to work on something else instead because this particular epic issue right now has some immediate deadlines.

Notice I just added 2 checkboxes to the description, so consider actually working on the currently-2nd-to-last:

[2020-05-27 19:08] jorgeorpinel opened #1366 "term: stop using "DVC-file" and "stage file""
After 1.0, the term DVC-file only refers to raw/initial data versioned with `dvc add/import/import-url`. however users seem to mostly refer to such files as "dvc file" or `.dvc` file or just `[data].dvc`. Since we have all these alternatives, let's remove the formal term DVC-file? Also since there's not `dvc.yaml` (pipelines file) which adds to the confusion.

We could also address the "import sta

[2020-05-27 19:09] jorgeorpinel commented on #1255
p.s. another good one we need soon but not so super urgent is linked from that 2nd-to-last chekcbox, @kurianbenoy: #1366

[2020-05-27 22:23] shcheklein commented on #1366
Agreed. I haven't seen the `[data].dvc` form though - looks too complicated. We can just use `.dvc` files - very explicit and clear.

[2020-05-27 22:40] kurianbenoy commented on #1255
@jorgeorpinel for the plots command, what all should I check for? Will changing the usage and optional arguments of each command ie plot - show and diff necessary? I will review the changes in plots command in the new release and [see the changes](https://github.com/iterative/dvc/releases).

I can try to complete this task by Friday. If I can't complete it, then I will work on the new issues you h

[2020-05-28 00:15] jorgeorpinel opened #1369 "doc: replace `dvc` code block lang. for `cli`"
We use ` ```dvc ` for all kinds of console session examples throughout blocks, not just DVC commands (sometimes there's no DVC command in the block). Maybe we should change to ` ```cli `? or ` ```console ` (standard)

This applies to Markdown file processing.

UPDATE: See https://github.com/iterative/dvc.org/issues/1369#issuecomment-1144532818 below.

[2020-05-28 00:18] shcheklein commented on #1369
My 2cs. It's too specific too `dvc` I would say - it's literally bash + dvc syntax. `cli` or `console` are too generic? and can overlap with existing highlighters?

[2020-05-28 00:35] jorgeorpinel commented on #906
compatibility (iterative/dvc#3885).
I think, we should at least document this, so that we could redirect users to, politely.

I'm sorry @skshetry I'm not sure what you're referring to. Document what?

Agree abour [SemVer](https://semver.org/)! It's an industry standard anyway 🙂

[2020-05-28 02:35] #898 closed

[2020-05-28 02:38] jorgeorpinel commented on #1120
Yes @utkarshsingh99 great planning, thanks. And also don't be afraid to pop up a PR to test this even if the code isn't the most efficient initially. We'll help you polish it. Teamwork 👍

[2020-05-28 02:39] jorgeorpinel commented on #1120
Oh haha I see you already did! Nvmd 😋

[2020-05-28 04:31] skshetry commented on #906
umm, compatibility policies?

[2020-05-28 07:03] jorgeorpinel commented on #1255
Based on your question I don't think it's a good idea that you work on plots directly. Please do the alternative I suggested instead:

(and create list for the last checkbox)

[2020-05-28 18:14] jorgeorpinel commented on #1369
Yes maybe you're right.

There are other built-in highlighters? I thought we only had dvc, usage, py, json, and yaml

[2020-05-28 18:50] shcheklein commented on #1369
yep, there are some taken already https://prismjs.com/#supported-languages

[2020-05-28 22:07] #1019 closed

[2020-05-29 07:44] jorgeorpinel commented on #1369
Nice. So neither `cli` nor `console` are taken (the latter I know Github has but it's custom to them). Only `bash` and `shell` are taken.

[2020-05-29 07:48] jorgeorpinel commented on #1369
Yes but what if in the future we want to support special highlighting in the YAML file since there are some DVC schema specific fields in .dvc files and dvc.yaml? We would just extend the `yaml` highlight right? Same for `bash` in that case, we should just use the existing one and extend it. Except we have users in all sorts of shells, not just Bash, thus I vote for `console` (copying GH) or just

[2020-05-29 08:03] jorgeorpinel commented on #1255
@kurianbenoy here's another idea of something very specific you could help with if you wish to provide great value during this process: https://github.com/iterative/dvc.org/pull/1360#pullrequestreview-420734838 🙂 It would require that you are familiar with `dvc metrics` in DVC 1.0 though. Again, whatever is easier/quicker fro you from all the options above. Thanks

[2020-05-29 09:36] dmpetrov opened #1376 "plots: smoothing"
Our default plot is not very informative when the number of data points is huge (1k):
![visualization_](https://user-images.githubusercontent.com/10081867/83244728-8fcb1f80-a154-11ea-812b-3f8c01c15dca.png)

We need to introduce some smoothing into the default plot or create a new smoothing template. The result should look like:
![visualization (2)](https://user-images.githubusercontent.com/1008186

[2020-05-29 09:38] dmpetrov commented on #1376
Wrong project :)
Moving to core DVC.

[2020-05-29 09:38] #1376 closed

[2020-05-29 14:28] kopytjuk commented on #1368
Hey, thank you for your idea - that "merging" behaviour was not known to me - seems like a good solution.

[2020-05-29 17:51] jorgeorpinel commented on #425
Sorry for the delay @VANRao-Stack I'm pretty busy this week and weekend. Feel free to submit PRs meanwhile.

Those are now introductory docs, except for Get Started. Again: "Core features are important to have near the top of introductory docs, so hopefully these other mentions are not buried in very specific areas." (from https://github.com/iterative/dvc.org/issues/425#issuecomment-634390312)

Bu

[2020-05-29 19:00] shcheklein commented on #1369
Good point, @jorgeorpinel ! I think `console` is good then. I wonder how will GH highlight it.

[2020-05-29 19:31] MerlynMShelley commented on #1369
Yep, in workflows it's quite easy to understand the standard ```console``` to describe a console session.

[2020-05-29 23:46] jorgeorpinel commented on #906
So are you just saying you agree with this issue? Sorry, please be clear.

Also you were answering a comment by @shcheklein (which I quoted in https://github.com/iterative/dvc.org/issues/906#issuecomment-634606594) so I just mentioned him for awareness.

Thanks

[2020-05-30 06:20] MerlynMShelley commented on #857
Hi,
The ```meta``` tag is the most important factor for search engines to find out the core meaning if the website. For that we have to enable the [open graph protocol](https://ogp.me/) with our customised JavaScript engine I hope. I would like to work on this issue.
Thank you.

[2020-05-30 09:56] MerlynMShelley commented on #857
I hope ```<meta property="og:site_name"> ``` is missing in the site. Adding this meta tag would resolve the issue. I will raise a pull request on this.
Thank you.

[2020-05-30 09:59] MerlynMShelley commented on #857
It is, ```<meta property="og:site_name"> ``` is missing in the site. So we would get the individualised content on the preview.

[2020-05-30 14:28] MerlynMShelley commented on #857
Hi Team,
I have submitted a pull request to this issue. Kindly check. Thank you.

[2020-05-30 19:03] MerlynMShelley commented on #857
I have made the pull request that could fix this issue. Please check here,
SEO: individualized content previews for DVC pages #1379
Thank you.

[2020-05-31 01:38] MerlynMShelley commented on #857
Yes, I understand this.

[2020-05-31 04:01] #1349 closed

[2020-05-31 22:23] #528 closed

[2020-05-31 23:15] jorgeorpinel commented on #857
As noted in https://github.com/iterative/dvc.org/pull/1379#issuecomment-636387293 and https://github.com/iterative/dvc.org/pull/1379#issuecomment-636542906 that seems to relate more to #1119. Let's move the conversation there?

Yeah, don't worry, we get the notifications and emails from GH. No need for 2 comments about this 😋 but thanks a lot for the contribution

[2020-06-01 19:20] PseudoNerd commented on #899
While going through the docs and going through the issues that could make up the contents of this section, I realized that the stack overflow page for dvc can add to this list of potential how-tos. I made [this](https://stackoverflow.com/questions/tagged/dvc) search to find a handful of questions that could be helpful in making a how-to guide. More than 20 different questions were found out of whi

[2020-06-02 01:20] efiop commented on #593
Wish we had this feature, the discrepancies we have while getting ready for 1.0 are a real pain :slightly_frowning_face: This would also be very useful during minor releases, as it allows us to have doc pre-releases for dvc pre-releases.

[2020-06-02 01:24] efiop commented on #593
Seems like the docs structure is pretty well-defined by now, so we could probably move them all into a separate git project and just generate different tabs for different tags in it when we deploy the website, so it is not dependant on the changes in our engine. But might be missing something of course.

[2020-06-02 23:50] jorgeorpinel opened #1390 "docs: support CSV/TSV language highlighting/autoformatting in Markdown"
UPDATE: Jump to https://github.com/iterative/dvc.org/issues/1390#issuecomment-638990359

---

I get `warn Query takes too long:` (among other warnings) several times when running `yarn develop`. Sometimes more, sometimes less. They seem to always be related to blog posts.

Here's an example:

[code]

[2020-06-02 23:55] jorgeorpinel commented on #1390
I guess the first 2 warnings are not about the blog. Since `csv` is not in https://prismjs.com/#supported-languages should we just remove that language from our block quotes and use plain ones?

[2020-06-03 00:25] rogermparent commented on #1390
This is a new feature introduced in a Gatsby patch update we upgraded to a bit ago- I get them too, and I'm pretty sure everyone will with our current setup.

The site's building as it did before, but unlike before it's warning us about the specific queries that take an above-average time to build. You can see it's usually indexes because those pages have the most image transforms: not only do we

[2020-06-03 02:16] jorgeorpinel commented on #1390
OK so maybe we can just discuss about the CSV/TSV highlighting in this issue. Is it easy to add even when not supported by prism? It would be pretty useful for `dvc plots` examples.

[2020-06-03 21:07] jorgeorpinel commented on #593
Unfortunately the Git histories of both repos don't have exact matches, just approximate points at which they sort of matched. BUT these points are unknown — we would need to tag dvc.org when releasing dvc.

It's a nice idea 🙂  We have some specific ideas on how to export doc archives for any point in history in #1167, which BTW is kind of a duplicate of this now that I think about it...

[2020-06-03 21:17] jorgeorpinel commented on #1167
Would be nice to prioritize this if possible cc @efiop (per https://github.com/iterative/dvc.org/issues/593#issuecomment-637211745) and @shcheklein

BTW is this kind of a duplicate of #593?

[2020-06-03 21:30] efiop commented on #1167
@jorgeorpinel Doesn't seem like a duplicate to me.

[2020-06-03 22:25] rogermparent commented on #1167
@jorgeorpinel I think these should be separate issues. This one's initial concept is a legitimate concern that got informally usurped in the comments by what #593 addresses.

The two may have some overlap depending on how either is implemented, but at their core the issues are totally different. I think the best course going forward is to discuss and prioritize docs versioning at #593 and leave th

[2020-06-03 22:44] rogermparent commented on #593
There's a few ways this could be implemented- well, actually it's a bit of a mix-and-match of solutions to multiple problems.

There's a basic choice on how to actually implement the versioned docs, the two ways we've discussed are **storing different versions in the repo directories** or **accessing different versions from git tags**.

I'm heavily for the former, as the latter will force us to ma

[2020-06-03 22:50] shcheklein commented on #593
@rogermparent

does not feel right to me (that what version control systems for, right?).

On the hand I see that otherwise we'll need to keep updating multiple branches.

So, not sure about this yet.

How do other projects solve this? e.g. Gatsby? any other good examples and mature projects who decided to use Gatsby for docs?

[2020-06-04 02:54] rogermparent commented on #593
Fair point, I just researched this a bit more and other Gatsby projects
[This article by Apollo](https://www.gatsbyjs.org/blog/2019-07-03-using-themes-for-distributed-docs/) describes their docs theme which use `gatsby-plugin-git` to handle versioning, so I'll research that and see how applicable it is to our site.

[2020-06-04 02:59] rogermparent commented on #593
Gatsby's own docs are effectively not versioned, but there's a legacy set of V1 docs on another subdomain at [https://v1.gatsbyjs.org/docs/](https://v1.gatsbyjs.org/docs/) which leads me to believe Gatsby's using a separate instance entirely for v1 docs.

[2020-06-04 03:27] rogermparent commented on #593
I just checked out Apollo's docs, and while they do use Git they actually use branches instead of tags.

I believe this makes sense than tags, because in a repo the co-locates content and code the code needs to be kept updated even if the content is pinned to an old version. Using branches also opens the possibility of fixing inaccuracies in old versions that possibly have been caught in later one

[2020-06-04 03:48] shcheklein commented on #593
Yep, using tags + branches (you make a branch from a tag when you need to do some changes) makes total sense to me.

[2020-06-04 17:16] rogermparent commented on #1390
@jorgeorpinel Seems like both Prism and the Gatsby plugin we use it with support adding custom language definitions. I can't imagine CSV/TSV would be too difficult to add to that, but the question is then *what do we even highlight*? Especially in TSV.

Alternatively, we could add a custom language for `dvc plots` examples specifically such that we highlight DVC-relevant data.

Another more advanc